<template>
  <div v-click-outside="clickOutsideHandler" :class="{ modal: isMobile || showModalCategories }" class="filters" @click.self="closeModal">
    <div class="sidebar">
      <header v-if="isMobile || showModalCategories " class="header">
        <div class="filter__t">Категории</div>
        <b-close @click="closeModal" />
      </header>

      <div v-if="mainData && mainData.subcategories && mainData.subcategories.length" class="item with-divider">
        <div class="item__i">
          <nuxt-link v-for="sc of mainData.subcategories" :key="sc.id" :to="sc.href" class="item__c">
            <span class="item__l">{{ sc.caption }}</span>
            <span class="item__arrow"><ArrowNext /></span>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ArrowNext from '@/components/icons/ArrowNext'

export default {
  name: 'ProdCategories',
  components: {
    ArrowNext
  },
  props: {
    showModalCategories: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    ...mapState(['mainData', 'isMobile'])
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Escape' && this.openModal) {
        this.closeModal()
      }
    })
  },
  beforeDestroy () {
    this.closeModal()
  },
  methods: {
    openModal () {
      this.$emit('showModalCategories', true)
    },
    closeModal () {
      document.body.style.overflow = ''
      this.$emit('showModalCategories', false)
    },
    clickOutsideHandler () {
      this.floatBtnTop = -9999
    }
  }
}
</script>

<style scoped lang="scss">
.item {

  > * {
    position: relative;
  }
}

.item__c {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid lightgray;
  &:not(:first-child) {
    margin-top: 14px;
  }
}

.item__l {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  color: $myshop-black;
  transition: color 0.3s;

  &:first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: $myshop-violet;
  }
}

.item__i {
  max-height: 426px;
  overflow-y: auto;
  overflow-x: clip;
}

.item__arrow {
  margin-left: auto;
  svg {
    fill: #7F8B91;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  margin-bottom: 26px;
}

.filter__t {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.sidebar {
  position: static;
  background-color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  width: 395px;
  max-height: 90%;
  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 12px;
  ::v-deep .item {
    margin-right: 10px;
    margin-left: 10px;

    @include mq($md) {
      margin-right: 0;
      margin-left: 0;
    }
    &.with-divider {
      border-bottom: 1px solid $myshop-gray015;
      padding-bottom: 24px;
    }
    &:not(:first-of-type) {
      margin-top: 24px;
    }

    &.with-divider:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}
.modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $z-index-modal;
  position: fixed;
  background-color: $myshop-overlay;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.filters.modal {
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .sidebar {
    padding: 0;
    display: block;
    position: relative;
    max-width: 100%;
    width: 100vw;
  }
  .header {
    position: fixed;
    width: 100vw;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: white;
    z-index: 10;
    max-width: 100%;
  }
  .sidebar .item:first-of-type {
    margin-top: 56px;
  }
}
</style>
