<template>
  <div class="cat-btn" @click="$emit('showModalCategories', true)">
    <CutBurger />
    <span class="cat-btn__t">Категории</span>
    <ArrowNext class="cat-btn__arrow" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CutBurger from '@/components/icons/CutBurger'
import ArrowNext from '@/components/icons/ArrowNext'

export default {
  name: 'CategoriesMiniBtn',
  components: {
    CutBurger,
    ArrowNext
  },
  computed: {
    ...mapState(['mainData'])
  }
}
</script>

<style scoped lang="scss">

.cat-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background: #E5E7E9;
  padding: 12px 14px 12px 12px;
  margin-bottom: 8px;
  &__t {
    margin-left: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  &__arrow {
    margin-left: auto;
  }
}

</style>
