<template>
  <div class="list-pane">
    <div>
      <ProductListFilter
        v-show="showModalFilters || !isMobile"
        ref="userfilter"
        :show-modal-filters="showModalFilters"
        @applyUserFilter="applyUserFilter"
        @resetUserFilter="resetUserFilter"
        @showModalFilters="showModalFilters = $event"
        @openOthersPopup="$emit('openOthersPopup', $event)"
      />
    </div>
    <template v-if="isMobile && mainData && mainData.subcategories && mainData.subcategories.length > 0">
      <CategoriesModal v-show="showModalCategories" :show-modal-categories="showModalCategories" @showModalCategories="showModalCategories = $event" />
      <CategoriesMiniBtn @showModalCategories="showModalCategories = $event" />
    </template>
    <div class="article">
      <div v-if="isBigCatalog" class="subtitle">Популярные товары</div>

      <ProductListEmptyState
        v-if="productsTotal === 0"
        :search="isSearchPage"
        @resetUserFilter="resetUserFilter"
      />

      <ProductGridSortList
        v-if="execSort"
        ref="sort"
        :products-sort="productsSort"
        :options="sortOptions"
        @sort="sortClicked"
      />

      <ProductGrid v-if="products && products.length" :products="products" :caption="caption" @wladd="$emit('wladd', $event)" />

      <Paginator v-if="productsTotal !== null" :options.sync="options" :rows="$store.state.application.initialData.rows_page" />

      <template v-if="mainData && mainData.blocks && mainData.blocks.length">
        <template v-for="(b, index) of mainData.blocks">
          <HorizontalCarouselSlider
            v-show="b.items && b.items.length"
            :key="b.id"
            :top-title="pageMeta.caption"
            :index="0"
            :block="b"
            :in-list-page="true"
          />

          <div v-if="index === 0" :key="index" class="banner__block">
            <BannerSlider :items="mainData.banners" :height="isMobile ? 150 : 300" />
          </div>
        </template>
      </template>

      <div v-else-if="showBanners && mainData && Object.keys(mainData.banners).length" class="banner__block">
        <BannerSlider :items="mainData.banners" :height="isMobile ? 150 : 300" />
      </div>

      <div v-if="pageMeta.seo_description && $route.params.subtype === 'catalogue'" class="m-32" v-html="decodeHtmlEntities(pageMeta.seo_description)" />

      <ProductListSave v-if="showDownloadPrice && downloadPrice && (productsTotal > 0 || (mainData && mainData.blocks && mainData.blocks.length))" :href="downloadPrice" />

      <div v-if="(productsTotal !== null || (mainData && mainData.blocks && mainData.blocks.length)) && !showModalFilters">
        <ProductListFloatBtns
          :name="productsSortName"
          :reflect="sortArrowReflect"
          :show-sort="!!execSort"
          @toggleShowFilters="toggleShowFilters"
          @openSortPanel="openSortPanel"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import ProductGrid from '@/components/common/ProductGrid'
import Paginator from '@/components/ui/Paginator'
import ProductListFilter from '@/components/layout/ProductList/ProductListFilter'
import BannerSlider from '@/components/common/BannerSlider'
import HorizontalCarouselSlider from '@/components/common/HorizontalCarouselSlider'
import { decodeHtmlEntities, buildQueryObjFromFilterData } from '@/helpers/util'
import ProductGridSortList from '@/components/common/ProductGridSortList'
import ProductListEmptyState from '@/components/layout/ProductList/ProductListFrame/ProductListEmptyState'
import ProductListSave from '@/components/layout/ProductList/ProductListFrame/ProductListSave'
import ProductListFloatBtns from '@/components/layout/ProductList/ProductListFrame/ProductListFloatBtns'
import CategoriesModal from '@/components/layout/ProductList/ProductListFrame/CategoriesModal'
import CategoriesMiniBtn from '@/components/layout/ProductList/ProductListFrame/CategoriesMiniBtn'

const sortOptions = [
  { value: 'a', text: 'рейтингу' },
  { value: 'b', text: 'дате выхода' },
  { value: 'd', text: 'названию (A-я)', reflectArrow: false, typeName: 'названию' }, // А-я стрелка вверх 'd',  я-А стрелка вниз 'e'
  { value: 'e', text: 'названию (я-A)', reflectArrow: true, typeName: 'названию' },
  { value: 'h', text: 'автору (A-я)', reflectArrow: false, typeName: 'автору' },
  { value: 'i', text: 'автору (я-A)', reflectArrow: true, typeName: 'автору' },
  { value: 'f', text: 'цене (дешёвые сверху)', reflectArrow: false, typeName: 'цене' }, // (дешёвые сверху стрелка туда где дешевые 'f', дешевые внизу 'g')
  { value: 'g', text: 'цене (дорогие сверху)', reflectArrow: true, typeName: 'цене' },
  { value: 'j', text: 'величине скидки', typeName: 'скидке' },
  { value: 'z', text: 'соответствию запросу' }
]

export default {
  name: 'ProductListFrame',
  components: {
    ProductGrid,
    ProductListFilter,
    Paginator,
    BannerSlider,
    HorizontalCarouselSlider,
    ProductGridSortList,
    ProductListEmptyState,
    ProductListSave,
    ProductListFloatBtns,
    CategoriesModal,
    CategoriesMiniBtn
  },
  props: {
    caption: {
      type: String,
      default: ''
    },
    products: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      showModalFilters: false, // показывать панель с фильтрами
      showModalCategories: false,
      showDropDown: '',
      options: { totalPage: 1, currentPage: +this.$route.params.page === '0' ? 1 : +this.$route.params.page || 1 },
      showAllFilters: false, // показывать все фильтры или только те, у которых f.is_show
      showBanners: false
    }
  },
  computed: {
    ...mapState(['pageMeta', 'mainData', 'userFilter', 'productsTotal', 'productsSort', 'isMobile']),
    isSearchPage () {
      return this.$route.name === 'prod-list-search'
    },
    isBigCatalog () {
      return this.pageMeta.is_light
    },
    downloadPrice () {
      if (this.$route.name === 'prod-list-bytype' && /^catalogue|producer|series|set|promo$/.test(this.$route.params.subtype)) {
        return `https://price.my-shop.ru/cgi-bin/price.pl?type=${this.$route.params.subtype}&id=${this.$route.params.id}`
      }

      return null
    },
    productsSortName () {
      const [f] = sortOptions.filter(f => f.value === this.productsSort)
      const name = f ? (f.typeName || f.text) : null
      return 'По ' + name
    },
    isPersonPage () {
      return (this.$route.name === 'prod-list-article' || this.$route.name === 'prod-list-bytype') && this.$route.params.subtype === 'person'
    },
    sortOptions () {
      const result = sortOptions.filter(item => this.pageMeta.sorts ? this.pageMeta.sorts.includes(item.value) : null) // используем только сортировку с бека
      return result.filter(o => o && (o.value !== 'z' || this.isSearchPage || this.isPersonPage))
    },
    sortArrowReflect () {
      const [f] = sortOptions.filter(f => f.value === this.productsSort)
      return f && f.reflectArrow !== undefined ? f.reflectArrow : false
    },
    modification_type () {
      return this.pageMeta.modification_type && this.pageMeta.modification_type === 'BS'
    },
    execSort () {
      return !this.pageMeta.without_products && !this.pageMeta.is_light && this.products.length && !this.modification_type
    },
    showDownloadPrice () {
      return !(this.$store.state.is_app_mobile && this.$device.isIos)
    }
  },
  watch: {
    isMobile (newValue) {
      newValue ? this.setFloatBtn(150) : this.setFloatBtn(24)
      if (!newValue && this.showModalCategories) this.showModalCategories = false
    },
    showModalFilters (newValue) {
      document.body.style.overflow = newValue ? 'hidden' : ''
    },
    showModalCategories (newValue) {
      document.body.style.overflow = newValue ? 'hidden' : ''
    },
    products: {
      handler () {
        this.showBanners = false
        this.options.totalPage = this.productsTotal
        setTimeout(() => {
          this.showBanners = true
        }, 100)
      },
      deep: true,
      immediate: true
    },
    options (newValue, oldValue) {
      if (newValue.currentPage !== oldValue.currentPage) {
        let { name } = this.$route
        const page = newValue.currentPage
        const params = { ...this.$route.params, fromPaginator: true, page }
        this.onPaginatorClicked()
        if (this.$route.name === 'prod-list-article') {
          name = 'prod-list-bytype'
          params.sort = this.$route.params.subtype === 'person' ? 'z' : 'a'
        }
        this.$router.push({ query: this.$route.query, params, name })
      }
    }
  },
  mounted () {
    this.isMobile && this.setFloatBtn(100)
  },
  methods: {
    ...mapMutations(['setUserFilter', 'setFloatBtn']),
    ...mapActions(['cartSaveClicked', 'cartDeleteClicked']),
    sortClicked (sortVal) {
      const name = this.$route.name === 'prod-list-article' ? 'prod-list-bytype' : this.$route.name
      this.$router.push({ name, params: { ...this.$route.params, page: 1, sort: sortVal }, query: this.$route.query })
    },
    onPaginatorClicked (page) {
      this.showCategories = page === 0
      this.showOtherPages = page === 0
    },
    toggleShowFilters () {
      this.showModalFilters = !this.showModalFilters
      this.showAllFilters = true

      if (!this.showModalFilters) {
        this.applyUserFilter()
      }
    },
    applyUserFilter (value = {}) {
      this.showModalFilters = false

      const query = this.isSearchPage ? { ...this.$route.query, ...value } : {} // если мы в поиске, то сохраняем текущий query к применяемым фильтрам

      this.$router.push({
        name: this.$route.name,
        params: { ...this.$route.params, page: 1 },
        query: buildQueryObjFromFilterData({ ...query, ...this.userFilter })
      })
    },
    resetUserFilter () {
      this.setUserFilter({})
      this.applyUserFilter({ p37: '', p38: 1 }) // "наличие" и "в акциях" сбрасываю на умолчание, нужно чтобы перезатереть имеющиеся значения при сохранении query в поиске
    },
    openSortPanel () {
      if (this.execSort) {
        this.$refs.sort.openModal()
      }
    },
    decodeHtmlEntities
  }
}
</script>

<style lang="scss" scoped>
.top-nav-pane {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .btn {
    margin: 5px;
    min-height: 40px;
    max-height: 40px;
    flex-grow: 1;
  }

  .btn-presence {
    @include mq($md) {
      display: none;
    }
  }

  &__popup {
    @include mq($md) {
      display: none !important;
    }
  }
}

.btn-select {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  min-width: 0;
}

.select-drop__inner {
  display: flex;
}

.select-drop__item {
  cursor: pointer;
}

.select-drop__active {
  color: $myshop-violet;
}

.select-drop__img-checkmark {
  margin-left: 8px;
}

.list-pane {
  display: grid;
  grid-column-gap: 32px;
  margin-top: 24px;

  @include mq($md) {
    grid-template-columns: 195px 1fr;
  }
}

.banner__block {
  &:not(:last-child) {
    margin-top: 56px;
  }
}

.article {
  min-width: 0;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;

  @include mq($md) {
    margin-bottom: 32px;
  }
}
</style>
