<template functional>
  <div class="mt-32">
    <b-button
      type="is-basic is-light"
      :href="props.href"
      tag="a"
      target="_blank"
      rel="nofollow"
      icon="is-download"
    >
      Скачать прайс-лист данного раздела
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'ProductListSave',
  props: {
    href: {
      type: String,
      default: ''
    }
  }
}
</script>
