<template functional>
  <div class="float-btns">
    <div class="float-btns__i" @click="listeners['toggleShowFilters']">
      <svg class="icon" width="17" height="18">
        <use xlink:href="#is-sortings" />
      </svg>
      <div class="float-btns__w">
        Фильтры
      </div>
    </div>

    <div v-if="props.showSort" class="float-btns__i" @click="listeners['openSortPanel']">
      <svg class="icon" width="18" height="10" :class="{ reflect: props.reflect }">
        <use xlink:href="#is-filters" />
      </svg>
      <div class="float-btns__w">
        {{ props.name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductListFloatBtns',
  props: {
    name: {
      type: String,
      default: ''
    },
    reflect: {
      type: Boolean,
      default: false
    },
    showSort: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.float-btns {
  z-index: $z-index-float-btns;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($myshop-violet, 0.95);
  color: #fff;
  border-radius: 16px;
  box-shadow: 0px 18px 12px rgba(42, 61, 72, 0.04), 0px 24px 18px rgba(42, 61, 72, 0.08);
  height: 46px;
  right: 10px;
  bottom:($mobile-tabs-height + 28px);
  left: 10px;
  position: fixed;

  @include mq($md) {
    display: none;
  }

  .icon {
    margin-right: 10px;
    min-width: 18px;
  }
}

.float-btns__w {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  white-space: nowrap;
}

.float-btns__i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  cursor: pointer;

  &:nth-child(2) {
    padding-right: 16px;
    padding-left: 16px;

    &:after {
      content: ' ';
      background-color: #E5E7E9;
      width: 1px;
      height: 20px;
      left: 0;
      position: absolute;
    }
  }
}

.reflect{
  transform: scale(1, -1);
}
</style>
