<template functional>
  <div class="empty-state">
    <div class="icon">
      <svg width="18" height="18">
        <use xlink:href="#is-search" />
      </svg>
    </div>

    <template v-if="props.search">
      Извините, но&nbsp;по&nbsp;вашему запросу сейчас нет товаров.<br>Проверьте правильность ввода и&nbsp;попробуйте изменить запрос.
    </template>

    <div v-else>
      <div>Нет товаров с заданными характеристиками</div>
      <a href="#" @click.prevent="listeners['resetUserFilter']">Сбросить фильтры</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductListEmptyState',
  props: {
    search: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.empty-state {
  display: flex;
  align-items: center;

  >.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    background-color: $myshop-purple;
    color: $myshop-violet;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
</style>
