<template>
  <nuxt-link :class="['tabs-button orange', {'other-tab-open': otherActive}]" :to="'/my/cart'" exact active-class="active" @click.native.prevent="basketClicked">
    <div v-show="quantity > 0 " class="badge">{{ countLabel }}</div>
    <basket-icon />
    <slot />
  </nuxt-link>
</template>

<script>
import { mapGetters } from 'vuex'
import BasketIcon from '@/components/icons/IconBasket'
import { logger } from '@/helpers/util'

export default {
  components: {
    BasketIcon
  },
  props: {
    otherActive: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({ quantity: 'cartTotal' }),
    countLabel () {
      return this.overCount ? '99+' : this.quantity
    },
    overCount () {
      return this.quantity > 99
    }
  },
  methods: {
    basketClicked (e) {
      this.$emit('closeOthers')
      logger('goto', e, { goto: 'to_cart' })
      this.$gtmTrack.namedEvent('head_cart')
      this.$router.push({ path: '/my/cart' }, () => {}, () => {})
    }
  }
}
</script>

<style scoped lang="scss">
.badge {
  background: #ff8300;
  color: #fff;
  left: 45%;
  right: auto;
}
.isDesktop {
  display: inline-block;
}
@media screen and (max-width: 1023px) {
  .isDesktop {
    display: none;
  }
  .badge {
    top: -3px;
  }
}
</style>
