<template>
  <a :class="['tabs-button', {active: active}]" href="#" @click.prevent="clickIcon">
    <icon-cabinet />
    <span class="no-tablet">{{ isLogin ? 'Мой кабинет': 'Вход' }}</span>
  </a>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import IconCabinet from '@/components/icons/IconCabinet'
import eventBus from '@/helpers/eventBus'
import { logger } from '@/helpers/util'

export default {
  components: {
    IconCabinet
  },
  props: {
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters(['isLogin'])
  },
  mounted () {
    eventBus.$on('MODAL_CLOSED', () => {
      this.toggleModal({ name: null })
    })
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    clickIcon () {
      logger('click', 'lk', { event: 'enter' })
      if (this.isLogin) {
        this.toggleModal({ name: 'cabinet' })
      } else {
        this.toggleModal({ name: 'phone' })
        // this.$router.push({ name: 'login', params: { redirect: this.$route.fullPath } })
      }

      this.$gtmTrack.namedEvent('head_lk')
    }
  }
}
</script>

<style scoped lang="scss">
.badge {
  background: #FF8300;
  color: #fff;
  display: flex;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px !important;
  min-width: 17px;
  height: 16px;
  top: -2px;
  right: 0;
  border-radius: 25px;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.isDesktop {
  display: inline-block;
}
@media screen and (max-width: 1023px) {
  .isDesktop {
    display: none;
  }
}
</style>
