<template>
  <div :class="['tabs-button', {active: active}]" @click="$emit('openModal','catalog')">
    <IconCatalog />
    <slot />
  </div>
</template>
<script>
import IconCatalog from '@/components/icons/IconCatalog'

export default {
  components: {
    IconCatalog
  },
  props: {
    active: {
      type: Boolean,
      default: false
    }
  }
}
</script>
