<template>
  <nuxt-link :class="['tabs-button favorite', {'other-tab-open': otherActive}]" :to="{ name: 'cart', query: { to: 'save' } }" exact active-class="active" @click.native.prevent="favoriteClicked">
    <div v-show="quantity > 0 " class="badge">{{ countLabel }}</div>
    <icon-like />
    <slot />
  </nuxt-link>
</template>

<script>
import { mapState } from 'vuex'
import IconLike from '@/components/icons/IconLike'

export default {
  components: {
    IconLike
  },
  props: {
    otherActive: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState(['cart']),
    quantity () {
      return Object.keys(this.cart.saveObj).length || 0
    },
    countLabel () {
      return this.overCount ? '99+' : this.quantity
    },
    overCount () {
      return this.quantity > 99
    }
  },
  methods: {
    favoriteClicked () {
      this.$emit('closeOthers')
      this.$router.push({ name: 'cart', query: { to: 'save' } }, () => {}, () => {})
    }
  }

}
</script>

<style scoped lang="scss">
.badge {
  background: $myshop-violet;
  color: #fff;
  left: calc(50% + 3px);
  right: auto;
}
.isDesktop {
  display: inline-block;
}
@media screen and (max-width: 1023px) {
  .isDesktop {
    display: none;
  }
  .badge {
    top: -3px;
  }
}
</style>
