<template>
  <div :class="['tabs-button', {active: active}]" @click="$emit('openModal','search')">
    <IconSearch />
    <slot />
  </div>
</template>
<script>
import IconSearch from '@/components/icons/IconSearch'

export default {
  components: {
    IconSearch
  },
  props: {
    active: {
      type: Boolean,
      default: false
    }
  }
}
</script>
