<template>
  <div class="extra-options" @keydown.enter="extraSearch">
    <input-text v-model="value.sku" label="Артикул" name="sku" maxlength="100" />
    <input-text v-model="value.ids" label="Код товара в My-shop.ru или несколько через запятую" name="ids" maxlength="1000" />
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'

export default {
  components: {
    InputText
  },
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          sku: '',
          ids: ''
        }
      }
    }
  },
  methods: {
    extraSearch () {
      this.$emit('extra-search')
    }
  }
}
</script>

<style scoped lang="scss">
.extra-options {
  display: inline-block;
  width: 100%;
  color: $myshop-gray;

  & ::v-deep .field {
    margin: 15px 0 0;

    input {
      padding: 10px 40px 10px 15px;
    }

    input + label {
      transform: translate(0, 22px) scale(1.2);
    }

    input:not(:placeholder-shown) + label,
    input:focus + label {
      transform: translate(0, 0) scale(1);
      cursor: pointer;
    }
  }

  &__button {
    width: 140px;
    background: $myshop-violet;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #FFFFFF;
  }

  &__close {
    width: 16px;
    height: 16px;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $myshop-gray;

    & svg {
      width: 100%;
      height: 100%;
      display: block;
    }

    &:hover {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
}

</style>
