<template>
  <autocomplete
    id="autocomplete"
    ref="ac"
    class="search-panel-autocomplete"
    :class="{ 'autocomplete--is-hide': isSearchResults }"
    api="/cgi-bin/ajax/search.pl"
    :query="{ keypresses: 1, flags: 0 }"
    :placeholder="placeholder"
    autoselect
    :autofocus="autofocus"
    :autoclear="autoclear"
    :search-value="searchTextUrl"
    :is-multiline-input="isMultilineInput"
    :css-styles="cssStyles"
    @search-input="doSearch"
    @search-text="searchTextHandle($event)"
    @input-focus="$emit('input-focus')"
    @submit-search="$emit('submit-search')"
    @search-close="$emit('search-close', $event)"
    @hook:mounted="runObserve"
  >
    <div :class="{'options--desctop':isDesktop}">
      <template v-if="!isSearchResults || isDesktop">
        <div class="options">
          <div>
            <switch-button
              v-if="value"
              v-model="checkbox"
              :label="label"
              style="margin-right: 10px"
            />
            <switch-button v-if="isLogin" v-model="in_orders" label="В заказах" />
          </div>

          <div class="extra__options" :class="{ 'extra__options--active': extra }">
            <div class="extra__options-descript" @click="extra = !extra">
              Дополнительные параметры
            </div>
            <div v-if="extra" class="extra__options__close" @click="extra = false">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13.8047 3.13807C14.0651 2.87772 14.0651 2.45561 13.8047 2.19526C13.5444 1.93491 13.1223 1.93491 12.8619 2.19526L8 7.05719L3.13807 2.19526C2.87772 1.93491 2.45561 1.93491 2.19526 2.19526C1.93491 2.45561 1.93491 2.87772 2.19526 3.13807L7.05719 8L2.19526 12.8619C1.93491 13.1223 1.93491 13.5444 2.19526 13.8047C2.45561 14.0651 2.87772 14.0651 3.13807 13.8047L8 8.94281L12.8619 13.8047C13.1223 14.0651 13.5444 14.0651 13.8047 13.8047C14.0651 13.5444 14.0651 13.1223 13.8047 12.8619L8.94281 8L13.8047 3.13807Z"
                  fill="#55646D"
                />
              </svg>
            </div>
          </div>
        </div>

        <extra-options
          v-if="extra"
          v-model="extraOptions"
          :style="extraOptionsStyles"
          @extra-search="doSearch"
        />
      </template>
    </div>
  </autocomplete>
</template>

<script>
import { mapState } from 'vuex'
import ExtraOptions from './ExtraOptions'
import Autocomplete from '@/components/ui/Autocomplete'
import SwitchButton from '@/components/ui/SwitchButton'
import { logger, decodeURIComponentSafe } from '@/helpers/util'

export default {
  components: {
    Autocomplete,
    SwitchButton,
    ExtraOptions
  },
  props: {
    placeholder: {
      type: String,
      default: 'Что будем искать?'
    },
    autofocus: {
      type: Boolean,
      default: false
    },
    autoclear: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      checkbox: false,
      in_orders: false,
      extra: false,
      label: '',
      value: '',
      searchTextUrl: '',
      extraOptions: {
        sku: '',
        ids: '',
        text: '',
        select: null
      },
      searchResult: [],
      autocompleteObserver: null, // обсервер который следит за изменениями стилей
      offsetXAutocompleteList: {}
    }
  },
  computed: {
    ...mapState(['isMobile', 'windowWidth']),
    isLogin () {
      return this.$store.getters.isLogin
    },
    isSearchResults () {
      return this.searchResult.length > 0
    },
    isMultilineInput () {
      return this.isMobile
    },
    isDesktop () {
      return !this.$store?.state?.isMobile
    },
    clientWidth () {
      return this.$store?.state?.windowWidth || 1400
    },
    extraOptionsStyles () {
      return this.offsetXAutocompleteList && this.$store?.state?.windowWidth >= 768
        ? { left: `${this.offsetXAutocompleteList.left}px`, position: 'relative' }
        : null
    },
    cssStyles () {
      const { offsetXAutocompleteList } = this
      return {
        offsetXAutocompleteList
      }
    },
    tabletWidth () {
      return 768
    }
  },
  watch: {
    /** @description подписываемся на изменение ширины и изменяем переменную стилей */
    windowWidth (newVal) {
      if (newVal) {
        this.setCSSVariable()
      }
    },
    $route () {
      if (this.$route.name !== 'prod-list-search') {
        this.extraOptions = { sku: '', ids: '', text: '', select: null }
        this.extra = false
      }
      if (this.$route.query.f14_6) { this.searchTextUrl = decodeURIComponentSafe(this.$route.query.f14_6) }
      this.checkRoute()
    },
    clientWidth (newVal) {
      if (newVal && newVal > this.tabletWidth) {
        this.offsetXAutocompleteList = this.getOffsetXAutocompleteList()
      }
    }
  },
  mounted () {
    this.checkRoute()
    this.setCSSVariable()
    if(this.windowWidth > this.tabletWidth){
      this.$nextTick(() => {
        this.offsetXAutocompleteList = this.getOffsetXAutocompleteList()
      })
    }
  },
  methods: {
    doSearch (data) {
      let query = {}
      let sort = 'z'
      const result =
        data && data.select !== null
          ? data.select.value.trim()
          : this.extraOptions.text.trim()
      if (result || this.extraOptions.ids || this.extraOptions.sku) {
        query = {
          f14_6: this.limitSearch(result),
          f14_39: this.checkbox ? this.value : 0
        }
        if (this.isLogin && this.in_orders) {
          query = { ...query, in_orders: true }
        }
        if (this.extra && (this.extraOptions.sku || this.extraOptions.ids)) {
          sort = 'a'
          query = {
            ...query,
            sku: this.extraOptions.sku,
            ids: this.extraOptions.ids
          }
        } else {
          query = {
            ...query,
            f14_16: 4,
            next: 1
          }
        }

        logger('submit', 'search_form', { query_text: result, query_flags: 0 })
        this.$router.push(
          { name: 'prod-list-search', params: { sort, page: 1 }, query },
          () => {
            this.$emit('submit-search')
          },
          () => {
            this.$emit('submit-search')
          }
        )
      }
    },
    limitSearch (str) {
      if (str.length <= 255) return str
      return str.slice(0, 255)
    },
    checkRoute () {
      // FIXME:
      // eslint-disable-next-line
      this.in_orders =
        // eslint-disable-next-line
        this.isLogin && this.$route.query.hasOwnProperty('in_orders')
          ? this.$route.query.in_orders
          : false
      this.label = 'В этой категории'
      const categoryID =
        this.$route.query.f14_39 !== '0' ? this.$route.query.f14_39 : false
      if (categoryID) {
        this.checkbox = true
        this.value = categoryID
        if (categoryID.startsWith('promo')) {
          this.label = 'В этой акции'
        } else if (categoryID.startsWith('set')) {
          this.label = 'В этом комплекте'
        } else if (categoryID.startsWith('series')) {
          this.label = 'В этой серии'
        }
      } else {
        const { subtype, id } = this.$route.params
        this.checkbox = false
        this.value = ''
        if (subtype && id) {
          switch (subtype) {
            case 'article':
              this.value = subtype + id
              break
            case 'promo':
              this.value = subtype + id
              this.label = 'В этой акции'
              break
            case 'set':
              this.value = subtype + id
              this.label = 'В этом комплекте'
              break
            case 'series':
              this.value = 's' + id
              this.label = 'В этой серии'
              break
            case 'catalogue':
              this.value = 'c' + id
              break
            case 'producer':
              this.value = 'p' + id
              break
          }
        }
      }
    },
    searchTextHandle (event) {
      this.extraOptions.text = event
      if (event.length > 0) {
        this.searchResult = this.$refs.ac.searchOptions
      } else {
        this.searchResult = []
      }
    },
    /**
     * @description запускает обсервер стиля для получения высоты для textarea в компоненте <autocomplete></autocomplete>
     */
    runObserve () {
      if (!this.autocompleteObserver && this.isMultilineInput) {
        this.autocompleteObserver = new MutationObserver((mutations) => {
          for (const mutation of mutations) {
            if (mutation.type === 'attributes') {
              const target = document.querySelector('[data-target-js]')
              const height = Number(mutation.target.style.height.replace('px', ''))
              const maxHeight = Number(getComputedStyle(mutation.target).maxHeight.replace('px', ''))

              if (height < maxHeight) {
                target.style.top = `${height / 2}px`
              } else {
                target.style.top = `${maxHeight / 2}px`
              }
            }
          }
        })

        // $nextTick не сработал ждем через setTimeout пока элемент пояявится в DOM и потом сработает обсервер
        const observe = () => setTimeout(() => {
          if (this.$refs.ac) {
            const target = this.$refs.ac.$el.querySelector('.autocomplete__input textarea')
            this.autocompleteObserver.observe(target, { attributes: true, attributeFilter: ['style'] })
          } else {
            observe()
          }
        }, 200)

        observe()
      }
    },
    setCSSVariable () {
      if (document) {
        const autocomplete = document.getElementById('autocomplete').getBoundingClientRect()
        if (autocomplete) {
          document.documentElement.style
            .setProperty('--searchdrop-width-container', `${autocomplete.width}px`)
          document.documentElement.style
            .setProperty('--searchdrop-left-container', `${autocomplete.left}px`)
        }
      }
    },
    getOffsetXAutocompleteList () {
      if (this.$refs.ac) {
        const autoComplete = this.$refs.ac.$el.getBoundingClientRect()
        const { left } = autoComplete
        return {
          left
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
$TABLET: 1025px;
.options {
  display: grid;

  grid-template-columns: auto;
  grid-template-areas:
    "left"
    "right";
  width: 100%;
  @include mq($tablet-width) {
    max-width: calc(var(--searchdrop-width-container));
    position: relative;
    left: var(--searchdrop-left-container);
    grid-template-areas: "left right";
    grid-template-columns: 2fr auto;
  }

  &--desctop {
    @include mq($tablet-width) {
      max-width: 533px;
      max-width: calc(
        var(--searchdrop-width-container) + var(--grid-area-search-category)
      );
      margin: 0 auto;

      & .extra__options-descript {
        &:hover {
          color: #8650c4;
        }
        &:after {
          margin: 0 0 0 10px;
          display: inline-block;
          content: "";
          width: 8px;
          height: 8px;
          transition: transform 0.1s;
          background: no-repeat center/contain
          url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDlMNSA1TDEgMSIgc3Ryb2tlPSIjMkEzRDQ4IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
        }
      }
      .extra__options__close {
        display: none;
      }

      .extra__options--active {
        .extra__options-descript:after {
          margin: 0 0 0 10px;
          display: inline-block;
          content: "";
          width: 8px;
          height: 8px;
          transform: rotate(-90deg);
          background: no-repeat center/contain
          url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDlMNSA1TDEgMSIgc3Ryb2tlPSIjMkEzRDQ4IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
        }
      }

      .extra-options {
        max-width: 404px;
        max-width: var(--searchdrop-width-container);
        display: block;
      }
    }
  }
}

.extra__options {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: 15px 0 0;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: $myshop-gray;
  cursor: pointer;
  grid-area: right;

  &__close {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 10px;
    color: $myshop-gray;

    & svg {
      width: 100%;
      height: 100%;
      display: block;
    }

    &:hover {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
}

/** переопределим стили для компонента поиска для омпонента автокомплита */
.search-panel-autocomplete {
  ::v-deep {
    .autocomplete-list__category-list,
    .autocomplete__list {
      @include mq($tablet-width) {
        max-width: initial !important ;
        position: relative;
        left: var(--searchdrop-left-container);
      }
    }

    .autocomplete-list__wrap {
      @include mq($tablet-width) {
        position: absolute;
        z-index: 100;
        top: 68px;
        left: 0;
        background: #fff;
        width: 100vw;
        padding: 0 0 80px;
      }
    }
  }
}
</style>
