<template>
  <PopupModal
    ref="conditionsPopup"
    class="conditions-delivery"
    :is-click-area="false"
    :is-esc-handler="false"
    @popup-closed="onCloseModal"
  >
    <h3 class="conditions-delivery__title-secondary">Что делать, если мы&nbsp;не&nbsp;сможем доставить какие-то товары<span v-if="isCoordination"> вовремя</span>?</h3>

    <ul :class="$style.list">
      <li
        v-for="(item, index) in filtredFdDates"
        :key="index"
        :class="$style.item"
      >
        <InputRadio
          :checked="checked === item.date"
          :label="`Доставить&nbsp;то, что будет, не&nbsp;позднее&nbsp;<span class='color-green font-600 whitespace-nowrap'>${item.date_a}</span>`"
          data-o="popap"
          :data-a="JSON.stringify({ page: 1, text: `Доставить то, что будет, не позднее ${ item.date_a }` })"
          @change="checked = item.date"
          @click="$gtmTrack.namedEvent('my_orders_new_popap_date')"
        />
      </li>

      <li v-if="!isCoordination" :class="$style.item">
        <InputRadio
          v-model="checked"
          style="cursor: pointer"
          :checked="checked === ACCEPT_WILLBE_VALUE"
          label="Доставить то, что будет"
          data-o="popap"
          :data-a="JSON.stringify({ page: 1, text: 'Доставить то, что будет' })"
          @change="checked = ACCEPT_WILLBE_VALUE"
          @click="$gtmTrack.namedEvent('my_orders_new_popap_later')"
        />
      </li>

      <li :class="$style.item">
        <InputRadio
          v-model="checked"
          style="cursor: pointer"
          :checked="checked === ACCEPT_LATER_VALUE"
          label="Сообщить мне, чего не&nbsp;хватает,&nbsp;&mdash; я&nbsp;подумаю"
          data-o="popap"
          :data-a="JSON.stringify({ page: 1, text: 'Сообщить мне, чего не хватает, — я подумаю' })"
          @change="checked = ACCEPT_LATER_VALUE"
          @click="$gtmTrack.namedEvent('my_orders_new_popap_later')"
        />
      </li>
    </ul>

    <p class="conditions-delivery__descript">В любом случае, мы сообщим обо всех проблемах и сохраним все скидки</p>
    <b-button
      class="conditions-delivery__btn"
      data-o="popap_confirm"
      expanded
      :data-a="JSON.stringify({ page: 1 })"
      @click="accept"
    >
      Подтвердить
    </b-button>
  </PopupModal>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import PopupModal from '@/components/modal/PopupModal.vue'
import InputRadio from '@/components/ui/InputRadio.vue'
import { logger } from '@/helpers/util'

const ACCEPT_WILLBE_VALUE = '3333-01-01'
const ACCEPT_LATER_VALUE = '9999-01-01'

export default {
  name: 'ConditionsDelivery',
  components: {
    PopupModal,
    InputRadio
  },
  props: {
    fdDateSelected: {
      type: Object,
      default: () => ({
        date: ''
      })
    },
    fdDates: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      checked: ACCEPT_WILLBE_VALUE,
      ACCEPT_WILLBE_VALUE,
      ACCEPT_LATER_VALUE
    }
  },
  computed: {
    ...mapState('modals', { modalName: 'name' }),
    ...mapState('order', ['defaults', 'orderId']),
    fdDateMax () {
      let fd_date_max = this.defaults[0].fd_date_max || ''

      if (fd_date_max === '0000-00-00') {
        fd_date_max = this.ACCEPT_WILLBE_VALUE
      }

      return fd_date_max
    },
    isCoordination () { // если доступно согласование доставки
      return this.fdDates.length
    },
    filtredFdDates () {
      if (!this.isCoordination) return []

      const selectedDate = this.fdDateSelected.date
      const fdDatesFiltred = []
      // соберем массив с новыми индексами
      this.fdDates.forEach((element) => {
        if (element.t1 && element.t2) {
          fdDatesFiltred.push(element)
        }
      })
      const selectedIndex = fdDatesFiltred.findIndex(
        (v) => v.date === selectedDate
      )
      if (selectedIndex !== -1) {
        if (selectedIndex === 0) {
          // Если клиент выбрал нулевой элемент списка добавляем даты из двух следующих элементов
          return fdDatesFiltred.filter(
            (v, index) => index >= selectedIndex && index <= selectedIndex + 2
          )
        } else if (selectedIndex === 1) {
          // Если клиент выбрал первый элемент списка - добавляем одну дату
          return fdDatesFiltred.filter(
            (v, index) => index >= selectedIndex && index <= selectedIndex + 1
          )
        } else {
          // в остальных условиях только оставим выбранную дату
          return fdDatesFiltred.filter((v, index) => index === selectedIndex)
        }
      } else {
        return []
      }
    }
  },
  watch: {
    fdDateSelected ({ date }) {
      if (date) {
        this.setCheckedByDefault(date, this.fdDates)
      } else {
        this.checked = ACCEPT_WILLBE_VALUE
      }
    },
    modalName (newV) {
      if (newV === 'conditions-delivery') {
        this.$refs.conditionsPopup.title = 'Условия доставки'
        this.$refs.conditionsPopup.isVisible = true
        logger('show', 'popap', { page: 1, text: 'условия доставки' })
        this.$gtmTrack.namedEvent('my_orders_new_confirm_delivery_show_popap')
      }
    }
  },
  mounted () {
    if (this.fdDateMax) {
      this.checked = this.fdDateMax
    } else {
      this.setCheckedByDefault(this.fdDateSelected.date, this.fdDates)
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    accept () {
      this.$emit('update-order-conditions-delivery', this.checked)
      this.$gtmTrack.namedEvent('my_orders_new_popap_confirm')
      this.$refs.conditionsPopup.close()
    },
    onCloseModal () {
      logger('click', 'popap_close', { page: 1 })
      this.$gtmTrack.namedEvent('my_orders_new_popap_close')
      this.toggleModal({ name: null })
    },
    setCheckedByDefault (selectedDate, fdDates) {
      const fdDatesFiltred = []
      // соберем массив с новыми индексами
      fdDates.forEach((element) => {
        if (element.t1 && element.t2) {
          fdDatesFiltred.push(element)
        }
      })
      const selectedIndex = fdDatesFiltred.findIndex(
        (v) => v.date === selectedDate
      )
      if (selectedIndex !== -1) {
        if (this.orderId && this.fdDateSelected.date === this.defaults[0].fd_date) {
          this.checked = this.fdDateMax
        } else {
          selectedIndex === 0 || selectedIndex === 1
            // Если клиент выбрал нулевой элемент или первый из списка дату поставим - след дату
            ? this.checked = fdDatesFiltred[selectedIndex + 1].date
            // клиент выбрал последний элемент - оставим только эту дату
            : this.checked = fdDatesFiltred[selectedIndex].date
        }
      }
    }
  }
}
</script>

<style lang="scss" module>
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  margin-top: 16px;
  display: flex;
  align-items: center;
}
</style>

<style lang="scss" scoped>
.conditions-delivery {
  --is-medium-margin-bottom: 0;

  ::v-deep .popup-modal__window {
    padding: 24px;
    width: calc(100% - 20px);
    max-width: 635px;

    @include mq($sm) {
      min-height: min-content;
    }
  }

  ::v-deep .popup-modal__window__header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #2a3d48;
    margin-bottom: 24px;
  }
  ::v-deep .popup-modal__close {
    display: none;
  }

  ::v-deep .radio {
    margin: 0;
    span {
      color: #2a3d48;
    }
  }

  &__title-secondary {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  &__descript {
    margin: 16px 0 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #55646d;
  }
}
</style>
