<template>
  <div id="order_confirmation" class="confirm-pane-wrap">
    <div class="policy-pane">
      <div class="policy-pane__row">
        <div>Товары, {{ order.products }} шт.</div>

        <div class="rubl"><strong>{{ (order.sum_products || 0) | localeString }}</strong></div>
      </div>
      <template v-if="!hideDiscount">
        <div class="policy-pane__row">
          <div>Скидка</div>

          <div class="rubl" style="color: #F64853"><strong><template v-if="order.sum_discount > 0">-</template>{{ (order.sum_discount || 0) | localeString }}</strong></div>
        </div>
        <div class="policy-pane__row">
          <div>Доставка</div>

          <div v-if="deliveryCost > 0" class="rubl"><strong>{{ (deliveryCost || 0) | localeString }}</strong></div>
          <div v-else-if="deliveryCost === null" class="color-disable"><strong>Не определена</strong></div>
          <div v-else class="free"><strong>Бесплатно</strong></div>
        </div>
      </template>

      <div class="policy-pane__divider" />

      <div class="policy-pane__row policy-pane__itogo">
        <div>Итого</div>
        <div class="rubl">{{ (filledOrderTotal || order.sum_products_d) | localeString }}</div>
      </div>

      <div class="rounded-pane__row">
        <div class="is-expanded" style="vertical-align: inherit;">
          <b-button
            :disabled="!allOrderFieldsFilled"
            size="is-large"
            type="is-primary"
            @click="doConfirm"
          >
            {{ orderId ? 'Сохранить изменения' : 'Подтвердить заказ' }}
          </b-button>
        </div>

        <div v-show="!orderId" class="policy-pane__text">
          Нажимая кнопку &laquo;Подтвердить заказ&raquo;, Вы подтверждаете, что ознакомлены и выражаете своё согласие с <a
            class="link"
            href="https://my-shop.ru/help/privacy.doc"
            target="_blank"
          >Политикой конфиденциальности</a> и <a
            class="link"
            :href="`https://my-shop.ru/help/offer${client.status !== 0 ? '_legal' : ''}.doc`"
            target="_blank"
          >Публичной офертой</a>.
        </div>

        <div v-if="dlvError">
          <span class="color-red">{{ dlvError[1] }}</span>
          <span class="color-gray">(код ошибки: {{ dlvError[0] }})</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { paymentCodes } from '@/globals'

export default {
  name: 'ConfirmPane',
  props: {
    selectedDelivery: {
      type: Object,
      default: () => {}
    },
    filledOrder: {
      type: Object,
      required: true
    },
    filledOrderTotal: {
      type: Number,
      required: true
    },
    allOrderFieldsFilled: {
      type: Boolean,
      required: true
    },
    selectedKs: {
      type: Boolean,
      required: false,
      default: false
    },
    selectedPvz: {
      type: Boolean,
      required: false,
      default: false
    },
    dlvError: {
      type: [Array, Object],
      default: () => {}
    },
    isConfirmedPhone: {
      type: Boolean,
      default: false
    },
    fdDateSelected: {
      type: Object,
      required: false,
      default: () => {}
    },
    order: {
      type: Object,
      default: () => {}
    },
    orderId: {
      type: [Number, String],
      default: ''
    }
  },
  data () {
    return {
      paymentCodes,
      hasOrder: false
    }
  },
  computed: {
    ...mapState(['client']),
    ...mapState('order', ['hideDiscount']),
    deliveryCost () {
      if (this.selectedDelivery !== null) {
        return this.selectedDelivery.sum_delivery
      }

      return this.selectedDelivery
    }
  },
  watch: {
    isConfirmedPhone (value) {
      // отправляем заказ после подтверждения номера
      this.hasOrder && value && this.doConfirm()
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    popupBackClicked ($event) {
      if ($event.target.classList.contains('pcontainer')) {
        this.$emit('popupbackclicked')
      }
    },
    doConfirm ($event) {
      if (!this.isConfirmedPhone) {
        this.$emit('on-confirm-phone')

        // отправлям заказ только по клику Подтвердить заказ
        if ($event && $event.type === 'click') {
          this.hasOrder = true
        }

        return
      }

      // модальное окно выбора условий доставки
      if (Number(this.order.products) > 1) {
        this.toggleModal({ name: 'conditions-delivery' })
      } else {
        this.$emit('new-order-confirm')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.confirm-pane-wrap {
  background-color: #FFFFFF;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: $border-radius;
  padding: 16px;
  flex-grow: 1;
  flex-direction: column;

  @include mq($tablet-width) {
    flex-direction: row;
  }
}

.policy-pane {
  width: 100%;
}

.policy-pane__divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #E8EAEB;
  margin-top: 16px;
  padding-top: 16px;
}

.policy-pane__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: baseline;
}

.policy-pane__itogo {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
.policy-pane__text {
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
  color: rgba($myshop-black, 0.8);
}

.free {
  font-size: 16px;
  line-height: 24px;
  color: $myshop-green;
}

.form-fld1 {
  position: relative;
  background-color: #fff;
  border: 1px solid $gray-border-color;
  border-radius: 8px;
  display: inline-flex;
  justify-content: stretch;
  width: 100%;
  min-width: 0;
  padding: 10px;

  .error-text {
    position: absolute;
    top: 44px;
    left: 1px;
    color: #DE2A35;
    font-size: 13px;
    line-height: 18px;
  }

  input {
    border: none; /* 1px solid gray */
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    width: 100%;
    min-width: 0;
    outline: none;
  }

  input:placeholder {
    color: $myshop-gray;
  }

  input:focus::placeholder {
    color: #FFFFFF;
  }
}
.p {
  a {
    font-weight: 600;
    color: $myshop-violet;
    text-decoration: none;
  }
}
</style>
