<template>
  <div class="copy-defaults w-50">
    <svg class="icon">
      <use xlink:href="#is-copy-defaults" />
    </svg>

    <span class="link">Параметры доставки из другого заказа</span>
  </div>
</template>

<script>
export default {
  name: 'CopyDefaults'
}
</script>

<style lang="scss" scoped>
.copy-defaults {
  cursor: pointer;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: var(--var-input-margin);
  justify-content: flex-start;
  align-items: center;
  border-radius: $border-radius;
  background-color: lighten($myshop-violet, 41%);
  line-height: 1;
  height: 40px;
  transition: background-color .3s;

  @include mq($lg) {
    margin-left: 0;
    margin-top: 18px;
  }

  .link {
    font-weight: normal;
    transition: color .3s;
  }

  .icon {
    color: $myshop-violet;
    margin-right: 10px;
    width: 15px;
    height: 18px;
    transition: color .3s;
  }

  &:hover {
    background-color: $myshop-violet;

    .link {
      color: #fff;
    }

    .icon {
      color: #fff;
    }
  }
}
</style>
