<template>
  <div>
    <div>{{ errorText }}</div>
    <div v-if="errorCode" class="code">Код ошибки: {{ errorCode }}</div>
  </div>
</template>

<script>
export default {
  name: 'DeliveryError',
  props: {
    error: {
      type: Array,
      required: true
    }
  },
  computed: {
    errorText () {
      return typeof this.error === 'object' ? this.error[1] : this.error
    },
    errorCode () {
      return typeof this.error === 'object' ? this.error[0] : null
    }
  }
}
</script>

<style lang="scss" scoped>
.code {
  margin-top: 8px;
  color: $myshop-red;
}
</style>
