<template>
  <div class="pcontainer">
    <div class="popup-defaults">
      <header class="header">
        <div class="title">Ошибка</div>

        <b-close class="close" @click.native="closePopover" />
      </header>

      <DeliveryError
        v-if="error.length"
        class="body"
        :error="error"
      />

      <b-button
        expanded
        @click="closePopover"
      >
        Понятно
      </b-button>
    </div>
  </div>
</template>

<script>
import DeliveryError from './DeliveryError'

export default {
  name: 'ErrorPopover',
  components: {
    DeliveryError
  },
  props: {
    error: {
      type: Array,
      required: true
    }
  },
  methods: {
    closePopover () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="scss">
.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.body {
  margin-top: 12px;
  margin-bottom: 16px;
}
</style>
