<template>
  <div>
    <div class="overlay pcontainer" @click="onClose" />

    <div class="prod-list">
      <header class="header">
        <div class="title">Состав заказа</div>

        <b-close class="close" @click="onClose" />
      </header>

      <div class="inn">
        <ListProducts
          :order="order"
          :products="products"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import ListProducts from './ListProducts'

export default {
  name: 'ListProductsPane',
  components: {
    ListProducts
  },
  props: {
    products: {
      type: Array,
      default: () => []
    },
    order: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    onClose () {
      this.toggleModal({ name: null })
    }
  }
}
</script>

<style scoped lang="scss">
.overlay {
  z-index: 1;
  cursor: pointer;

  @include mq($md) {
    background-color: transparent;
  }
}

.prod-list {
  width: 100%;
  z-index: $z-index-modal;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 12px 12px 12px 16px;
  box-shadow: 0px 18px 12px rgba(42, 61, 72, 0.04), 0px 24px 18px rgba(42, 61, 72, 0.08);

  @include mq($md) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    position: absolute;
    top: 32px;
    right: (-(math.div(355px, 2)) + 10);
    bottom: auto;
    left: auto;
    width: 355px;
  }

  &:before {
    @include mq($md) {
      content: ' ';
      position: absolute;
      background: #fff;
      left: 50%;
      top: -6px;
      margin-left: -6px;
      width: 12px;
      height: 12px;
      z-index: -1;
      transform: rotate(45deg);
    }
  }

  .inn {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 6px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .close {
    margin-right: 12px;

    @include mq($md) {
      display: none;
    }
  }
}
</style>
