<template>
  <div class="modal">
    <div class="in">
      <div class="content">
        <header class="header">
          <div class="title">{{ title || 'Параметры доставки из предыдущих заказов' }}</div>

          <b-close class="close" @click="toggleModal({ name: null })" />
        </header>

        <div
          v-for="(item, index) in defaults"
          :key="`item-${index}`"
          class="row"
        >
          <div
            v-if="item.info"
            class="col1"
            @click="$emit('apply-delivery', item)"
          >
            <div class="details">
              <span v-if="item.info.delivery_type === 8 && item.info.pvz" class="details__row">{{ item.info.pvz }}</span>
              <span v-else>{{ item.info.address_1 }} {{ item.info.address_2 }}</span>

              <span> &mdash; {{ item.info.title_2 }}</span>
            </div>

            <div>{{ item.name }}, {{ item.info.phones }}</div>
          </div>

          <div
            v-if="item.info"
            class="col2"
            @click="showEdit = showEdit === index ? null : index"
          />

          <div v-if="showEdit === index" class="edit">
            <div v-if="item.info.main" class="edit-item">Основной</div>
            <div
              v-else
              class="edit-item active"
              @click.prevent.stop="chooseBaseDefaults(item.info.order_id)"
            >
              Сделать основным
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'ListDlvDefaultsPopup',
  props: {
    active: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      showEdit: null,
      editingTitle: null
    }
  },
  computed: {
    ...mapState('order', ['defaults'])
  },
  methods: {
    ...mapMutations('order', ['setDefaultsDelivery']),
    ...mapActions('modals', { toggleModal: 'toggle' }),
    startEditing () {
      this.showEdit = !this.showEdit
    },
    /**
     * @param {number} orderId - id заказа выбранного адреса
     */
    async chooseBaseDefaults (orderId) {
      const data = {}
      
      data[orderId] = { main: 1 }

      const { status, data: { status: result } } = await this.$api.myUtil.setNewOrderDefaults(data)
      status === 200 && result === 'success' && this.setDefaultsDelivery({ orderId })
    }
  }
}
</script>

<style scoped lang="scss">
.modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5000;
  position: fixed;
  background-color: $myshop-overlay;
  overflow: hidden;

  > .in {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.content {
  margin-top: 10vh;
  max-width: 355px;
  padding: 16px 12px;
  box-shadow: 0px 24px 18px rgba($myshop-black, 0.04), 0px 35px 24px rgba($myshop-black, 0.08);
  width: 100%;
  background-color: #FFF;
  border-radius: $border-radius;

  @include mq($sm) {
    max-width: 395px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.row {
  display: flex;
  position: relative;
  padding-bottom: 16px;
  margin-top: 16px;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-border-color;
  }

  .col1 {
    cursor: pointer;
    transition: color .3s;
    overflow-x: hidden;

    &:hover {
      color: $myshop-violet;
    }
  }

  .col2 {
    width: 20px;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: $myshop-violet;
    }

    &:after {
      content: '...';
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.details {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.edit {
  z-index: $z-index-modal + 1;
  position: absolute;
  right: 0;
  top: 20px;

  display: flex;
  flex-direction: column;

  padding-top: 4px;
  padding-bottom: 4px;

  background-color: #fff;
  box-shadow: 0px 18px 12px rgba($myshop-black, 0.04), 0px 24px 18px rgba($myshop-black, 0.08);
  border-radius: $border-radius;
}

.edit-item {
  padding: 12px 16px;

  &.active {
    cursor: pointer;
    transition: background-color .3s, color .3s;

    &:hover {
      background-color: $myshop-purple;
      color: $myshop-violet;
    }
  }
}
</style>
