<template>
  <div>
    <div
      v-for="product in products"
      :key="product.id"
      class="row"
    >
      <div class="col">
        <img
          :src="product.img_href"
          :alt="product.title"
          class="img"
        >
      </div>

      <div class="col col2">
        <strong>{{ product.title }}</strong>

        <div class="cost">
          <span>{{ product.q }}&nbsp;шт.</span>
        </div>
      </div>

      <div class="col col3">
        <strong class="rubl">{{ (product.sum || 0) | localeString }}</strong>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ListProducts',
  props: {
    products: {
      type: Array,
      default: () => []
    },
    order: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss">
.row {
  padding-top: 10px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid #E5E7E9;
  }

  display: flex;
  flex-direction: row;
}

.col2 {
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
  word-break: break-word;
}

.col3 {
  font-size: 18px;
  line-height: 24px;
}

.cost {
  font-size: 13px;
  line-height: 18px;
  margin-top: 4px;
}

.img-link {
  display: block;
  padding-top: 4px;
}

.img {
  width: 48px;
  max-width: 48px;
  max-height: 48px;
  height: auto;
  object-fit: scale-down;
  object-position: center top;
}
</style>
