<template>
  <mini-pop-over :visible="modalName === 'availableOrder'" :rounded-style="true">
    <template slot="header">
      <span>Добавление товаров в заказ</span>
    </template>

    <template slot="buttons">
      <div class="field-body justify-end">
        <div class="field">
          <b-button @click="closePopover">Создать новый заказ</b-button>
        </div>
        <div class="field">
          <b-button type="is-white" @click="addProducts">Добавить товары в заказ</b-button >
        </div>
      </div>
    </template>

    <template slot="body">
      Вместо оформления нового заказа можно добавить эти товары в заказ  <a :href="`/my/orders/order_${availableOrder[1]}`" target="_blank">№{{ availableOrder[1] }}</a> от <span>{{ availableOrder[2] }}</span>. Срок комплектования данного заказа при этом может увеличиться.
    </template>
  </mini-pop-over>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import MiniPopOver from '@/components/modal/MiniPopOver'

export default {
  name: 'OrderExistsPopover',
  components: {
    MiniPopOver
  },
  computed: {
    ...mapState('modals', { modalName: 'name' }),
    ...mapState('order', ['availableOrder'])
  },
  mounted() {
    this.toggleModal({ name: 'availableOrder' })
    this.ga_namedEvent('New_vs_Old')
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    async addProducts () {
      const orderId = this.availableOrder[1]
      const data = { action_id: 3 }

      const { data: { result } } = await this.$api.myOrder.setChangeOrder(orderId, data)
      if (result) {
        this.ga_namedEvent('New_vs_Old_OLD')
        this.$router.push({ path: `/my/orders/order_${orderId}/` })
      }
    },
    closePopover () {
      this.ga_namedEvent('New_vs_Old_NEW')
      this.toggleModal({ name: null })
    },
    ga_namedEvent (name) {
      this.$gtmTrack.namedEvent(name)
    }
  }
}
</script>

<style scoped lang="scss">
.pcontainer {
  background-color: rgba(22,22,22,0.5) !important;
}

::v-deep .header {
  justify-content: flex-start !important;
  padding-left: 0 !important;
  height: 24px !important;
  margin-bottom: 8px;
  margin-top: 15px;
  @media (min-width: $lg) {
    height: 16px !important;
  }
  &__text {
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #0F0717;
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      display: inline-block;
    }
  }
}

::v-deep .body__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #0F0717;
  margin: 0 !important;
  a {
    color: $myshop-violet;
    text-decoration: none;
  }
  span {
    color: green;
  }

  @include mq($mobile-width) {
    font-size: 13px !important;
    line-height: 19px !important;
  }
}

::v-deep .btns {
  margin: 12px 0 15px 0px !important;

  @include mq($mobile-width) {
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
}

::v-deep .drop__inner {
  border-radius: 8px !important;
  padding-left: 10px;
  padding-right: 10px;
  @media (min-width: $lg) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include mq(tablet-width) {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
}

::v-deep .drop {
  border-radius: 8px;
  box-shadow: 0px 8px 5px rgba(23, 43, 77, 0.04), 0px 15px 12px rgba(23, 43, 77, 0.08);
  max-width: 500px !important;
  @include mq(tablet-width) {
    top: unset !important;
    bottom: 0 !important;
    transform: translate(-50%) !important;
    width: 100% !important;
    max-width: 100% !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
}
</style>
