<template>
  <div v-if="active" class="pcontainer">
    <div class="popup-box-psm">
      <div class="pvz-popup-title">
        <span v-if="havePoint">
          Если точка доставки определена правильно, нажмите <a href="#" class="delivery-here" @click.prevent="deliveryHereClicked">Доставить сюда</a>. При необходимости укажите другую точку на карте.
        </span>
        <span v-else>
          Пожалуйста, укажите на карте точку, куда необходимо доставить заказ.
        </span>
        <div class="close-btn-wrapper" role="button" @click="close">
          <img src="/_all/my/close1.svg" width="15px" height="15px">
        </div>
      </div>
      <div id="pointSelectorMapContainer" />
    </div>
  </div>
</template>

<script>
import { loadMaps } from '@/globals'

function YMap (centerCoords = [55.7540471, 37.620405], zoom = 10) {
  this.lastZoom = zoom
  if (!window.ymaps) {
    document.getElementById('pointSelectorMapContainer').innerHTML = '<div style="color:red; text-align: center; font-size: 114%">Отображение карты невозможно, поскольку в настройках вашего браузера включена защита от отслеживания!</div>'
    this.pan = () => {}
    this.closeBalloon = () => {}
    this.hidePlacemark = () => {}
    this.addAreas = () => {}
    this.clearAreas = () => {}
    return
  }
  const myMap = new window.ymaps.Map('pointSelectorMapContainer', {
    center: centerCoords,
    zoom: this.lastZoom,
    controls: ['zoomControl', 'typeSelector', 'fullscreenControl', 'rulerControl', 'trafficControl', 'searchControl']
  }, {
    searchControlNoPlacemark: true
  })

  this.onHaveCoords = null
  this.onDeliveryHereClick = null

  document.querySelector('#pointSelectorMapContainer').addEventListener('click', (e) => {
    if (e.target.matches('.ym-choose-btn') && this.onDeliveryHereClick) {
      this.onDeliveryHereClick()
    }
  }, false)

  this.showPlacemark = (coords) => {
    this.placemark = new window.ymaps.Placemark(coords, {
      balloonContent: '<button type="button" class="ym-choose-btn">Доставить сюда</button>'
    }, {
      preset: 'islands#dotIcon'
    })
    myMap.geoObjects.add(this.placemark)
  }

  this.hidePlacemark = () => {
    if (this.placemark) {
      myMap.geoObjects.remove(this.placemark)
      this.placemark = null
    }
  }

  const openBalloon = (coords) => {
    myMap.balloon.open(coords, {
      contentHeader: '<button type="button" class="ym-choose-btn">Доставить сюда</button>'
    })
  }

  myMap.events.add('click', (e) => {
    if (!myMap.balloon.isOpen()) {
      const coords = e.get('coords')
      if (this.onHaveCoords) this.onHaveCoords(coords)
      this.hidePlacemark()
      this.showPlacemark(coords)
      openBalloon(coords)
    } else {
      this.hidePlacemark()
      myMap.balloon.close()
    }
  })

  const viewPolys = []
  this.addAreas = (areas) => {
    for (let i = 0; i < areas.length; i++) {
      const opts = {
        strokeColor: '#1111FF',
        strokeWidth: 2,
        interactivityModel: 'default#transparent',
        fill: false
      }
      const polycoords = [areas[i]]
      if (i > 0) polycoords.push(areas[i - 1])
      const poly = new window.ymaps.Polygon(polycoords, {}, opts)
      viewPolys.push(poly)
      myMap.geoObjects.add(poly)
    }
  }
  this.clearAreas = () => {
    for (const p of viewPolys) myMap.geoObjects.remove(p)
  }

  this.pan = (coords, zoom) => { myMap.setCenter(coords, zoom) }
  this.setZoom = (zoom) => { myMap.setZoom(zoom) }
  this.openBalloon = (coords) => { openBalloon(coords) }
  this.closeBalloon = () => { myMap.balloon.close() }
  this.destroy = () => { myMap.destroy() }
}

export default {
  name: 'PointSelectorMapPopup',
  props: {
    coords: {
      type: Array,
      default: () => []
    },
    zoom: {
      type: Number,
      default: 10
    },
    active: {
      type: Boolean,
      default: false
    },
    havePoint: {
      type: Boolean,
      default: false
    },
    area: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      map: null,
      selectedCoords: null
    }
  },
  watch: {
    active (v) {
      if (v) this.shownPopup()
      else this.closedPopup()
    }
  },
  mounted () {
    if (!window.ymaps) {
      loadMaps()
    }
  },
  methods: {
    close () {
      this.$emit('popupclosed')
    },
    shownPopup () {
      document.body.classList.toggle('noscroll', true)
      this.$nextTick(() => {
        this.reinitMap()
      })
    },
    closedPopup () {
      this.map.hidePlacemark()
      document.body.classList.toggle('noscroll', false)
    },
    reinitMap () {
      if (this.map) {
        this.map.destroy()
      }
      this.map = new YMap(this.coords, this.zoom)
      this.map.onHaveCoords = (coords) => { this.selectedCoords = coords }
      this.map.onDeliveryHereClick = this.deliveryHereClicked
      this.map.pan(this.coords, this.zoom)
      this.map.closeBalloon()
      if (this.havePoint) {
        this.map.showPlacemark(this.coords)
        this.selectedCoords = this.coords
      } else {
        this.map.hidePlacemark()
      }
      this.map.clearAreas()
      const area = this.area

      if (area.length) {
        area.forEach(item => {
          const points = item.split(' ').map(s => s.split(','))
          this.map.addAreas([points])
        })
      }
    },
    deliveryHereClicked () {
      this.$emit('delivery-here', this.selectedCoords)
    }
  }
}
</script>

<style lang="scss" scoped>
#pointSelectorMapContainer {
  width: 100%;
  height: 99%;
  margin: 0;
}

#pointSelectorMapHint {
  display: flex;
  height: 99%;
  flex-direction: column;

  & div {
    font-weight: bold;
  }
}

a.delivery-here {
  text-decoration-style: dotted;
}

.popup-box-psm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  z-index: 99999;
}

.pvz-popup-title {
  font-size: 16px;
  align-items: center;
}

.close-btn-wrapper {
  padding: 20px 13px 20px 20px;
  display: flex;
  align-items: center;
}
</style>

<style>
.ym-choose-btn {
  background-color: #ff7300;
  border: 2px solid #ff7300;
  color: white;
  padding: 5px 12px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.ym-choose-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #ff7300;
}
</style>
