<template>
  <div>
    <div class="rounded-pane ticket-pane">
      <header class="header">
        <h2 class="h2">
          <img src="/_all/my/check_circle.svg" width="24" height="24" style="margin-right: 10px">
          <span>Ваш заказ №{{ orderInfo.order_id }} принят</span>
        </h2>

        <div class="more" @click.prevent="showOrderDetails = !showOrderDetails">
          <span v-if="showOrderDetails">Скрыть</span>
          <span v-else>Подробности</span>
        </div>
      </header>

      <div v-if="showOrderDetails" class="info">
        <div class="info-i">
          <div>Номер вашего заказа</div>
          <div class="info-b color-violet">{{ orderInfo.order_id }}</div>
        </div>

        <div v-if="client.status !== 0" class="info-i">
          <div>Ориентировочный срок комплектования заказа</div>
          <div class="info-b">{{ orderInfo.time_text_b }}</div>
        </div>

        <div class="info-i">
          <div>Доставка</div>
          <div>
            <span v-show="selectedKs" class="info-b">{{ selectedDelivery['99_6'] }}</span>
            <span v-show="selectedPvz" class="info-b">в пункт выдачи &mdash; {{ selectedDelivery['99_6'] }}</span>
          </div>
        </div>

        <div class="info-i">
          <div>Оплата</div>
          <div class="info-b" v-html="paymentCodes[selectedPayment].toLowerCase()" />
        </div>

        <div class="info-i">
          <div>Стоимость товаров</div>
          <div class="rubl info-b">{{ (orderInfo.sum_products || 0) | localeString }}</div>
        </div>

        <div v-if="!hide_discount && orderInfo.sum_discount > 0" class="info-i">
          <div>Скидка</div>
          <div class="info-discount rubl info-b">-{{ (orderInfo.sum_discount || 0) | localeString }}</div>
        </div>

        <div class="info-i">
          <div>Стоимость доставки</div>
          <div class="rubl info-b">{{ (selectedDelivery.sum_delivery || 0) | localeString }}</div>
        </div>

        <div class="info-itogo">
          <span>Итого</span>
          <span class="info-itogo-r rubl">{{ (orderInfo.sum_total || 0) | localeString }}</span>
        </div>
      </div>
    </div>

    <div v-if="orderInfo && +selectedPayment === 2" class="accepted-pane">
      <div class="informer">
        <img width="24" height="24" src="@/assets/images/icon-payment-2.png">
        <span class="span">У&nbsp;вас 2&nbsp;часа на&nbsp;оплату заказа</span>
        <img width="96" height="24" src="@/assets/images/icon-payment-1.png">
      </div>
    </div>

    <div v-if="orderInfo" class="rounded-pane accepted-pane">
      <OnlinePayment
        v-if="+selectedPayment === 2"
        :payment-ids="orderInfo.payment_ids"
        :order-id="orderInfo.order_id"
        :show-btn-back="true"
      />

      <p v-show="orderInfo.tracker" id="order_ok" class="p" v-html="orderInfo.tracker" />
      <p v-if="orderInfo.info_1" class="p" v-html="orderInfo.info_1" />
      <p v-if="orderInfo.info_2" class="p" v-html="orderInfo.info_2" />
    </div>

    <b-button
      v-if="orderInfo && +selectedPayment !== 2"
      class="button"
      type="is-basic is-light"
      tag="a"
      href="/"
      size="is-large"
      expanded
    >
      Продолжить покупки
    </b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { paymentCodes } from '@/globals'
import OnlinePayment from '@/components/layout/PersonalSection/Order/OnlinePayment'

export default {
  name: 'TheOrderInfo',
  components: {
    OnlinePayment
  },
  props: {
    sumProducts: {
      type: Number,
      required: true
    },
    sumDiscount: {
      type: Number,
      required: true
    },
    orderInfo: {
      type: Object,
      default: () => {}
    },
    selectedDelivery: {
      type: Object,
      default: () => {}
    },
    selectedPayment: {
      type: String,
      required: true
    },
    selectedKs: {
      type: Boolean,
      default: false
    },
    selectedPvz: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      paymentCodes,
      showOrderDetails: false
    }
  },
  computed: {
    ...mapState(['client']),
    hide_discount () {
      return this.$store.state.application.initialData.hide_discount || ''
    }
  }
}
</script>

<style lang="scss" scoped>
.ticket-pane {
  font-size: 14px;
  line-height: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;

  @include mq($md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.h2 {
  display: flex;
  align-items: center;

  @include mq($md) {
    margin-bottom: 0;
  }
}

.info {
  margin-top: 16px;

  @include mq($lg) {
    padding: 0;
  }

  .rubl {
    font-weight: 600;
  }
}

.info-i {
  &:not(:first-child) {
    margin-top: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.info-b {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.info-discount {
  color: $myshop-red;
}

.info-itogo {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  height: 32px;
  margin-top: 16px;
}

.info-itogo-r {
  margin-left: 16px;
}

.more {
  font-weight: 500;
  color: $myshop-violet;
  cursor: pointer;
  margin-top: 4px;

  @include mq($md) {
    margin-top: 0;
  }
}

.button {
  margin-top: var(--var-margin);
}

.informer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: $border-radius;
  background: linear-gradient(90.38deg, #4B73FF 0%, #3668FF 72.88%);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  > .span {
    margin-right: 12px;
    margin-left: 12px;
    flex-grow: 1;
  }
}
</style>
1
