<template functional>
  <label :ref="data.ref" class="filter-lbl filter-lbl-multi">
    <div v-if="props.groupName" class="font-600">{{ props.groupName }}</div>

    <component
      :is="props.components.CheckBox"
      v-else
      :title="props.title"
      :is-checked="props.isChecked"
      @change="listeners['changed']"
    >
      <span v-if="props.color && props.title === 'разноцветный'" class="color multi" />
      <span v-else-if="props.color" class="color" :style="`background-color: ${props.color || '#fff'};`" />
      <span v-html="props.title" />
    </component>
  </label>
</template>

<script>
import CheckBox from '@/components/ui/CheckBox'

export default {
  name: 'FilterCheckbox',
  components: {
    CheckBox
  },
  props: {
    components: {
      type: Object,
      default () {
        return {
          CheckBox
        }
      }
    },
    title: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    groupName: {
      type: String,
      default: ''
    },
    isChecked: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid $myshop-gray015;
  margin-right: 6px;

  &.multi {
    border: 0 none;
    background:
      linear-gradient(#5E5B52, #5E5B52),
      linear-gradient(#FC7A57, #FC7A57),
      linear-gradient(#EEFC57, #EEFC57),
      linear-gradient(#FCD757, #FCD757);
    background-size: 50% 50%;
    background-position: 0% 0%, 100% 0%, 0 100%, 100% 100%;
    background-repeat: no-repeat;
  }
}

.filter-lbl-multi {
  display: flex;
  width: 100%;
}
</style>
