<template>
  <div>
    <div ref="slider" class="vue-slider-custom-wrapper">
      <VueSlider
        :id="`priceslider_${item.name}`"
        :ref="`priceslider_${item.name}`"
        :value="userFilterValue(item)"
        :contained="true"
        :duration="0"
        :adsorb="true"
        :min="parseInt(item.min)"
        :max="parseInt(Math.ceil(item.max))"
        :min-range="1"
        :enable-cross="false"
        tooltip="none"
        :dot-size="15"
        :height="5"
        :rail-style="{ 'background-color': '#DFE2E4' }"
        :process-style="{ 'background-color': '#783CBD' }"
        @change="onChangeHandler(item, `priceslider_${item.name}`)"
      />
    </div>

    <div ref="input" class="inp-price">
      <div class="field-body">
        <div class="field">
          <span class="before">от</span>

          <input
            ref="inputMin"
            type="number"
            class="input"
            :min="parseInt(item.min)"
            :max="parseInt(Math.ceil(item.max))"
            :value="userFilterValue(item)[0]"
            @change="rangeChanged(item, 'min', $event.target.value)"
            @input="onInput"
          >
        </div>

        <div class="field">
          <span class="before">до</span>

          <input
            ref="inputMax"
            type="number"
            class="input"
            :min="parseInt(item.min)"
            :max="parseInt(Math.ceil(item.max))"
            :value="userFilterValue(item)[1]"
            @change="rangeChanged(item, 'max', $event.target.value)"
            @input="onInput"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import { throttle } from '@/helpers/util'

export default {
  name: 'FilterRange',
  components: {
    VueSlider
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    ...mapState(['userFilter'])
  },
  methods: {
    ...mapMutations(['updateUserFilter']),
    userFilterValue (f) {
      const v1 = this.userFilter[f.name] ? (this.userFilter[f.name][`${f.name}_min`] || f.min) : f.min
      const v2 = this.userFilter[f.name] ? (this.userFilter[f.name][`${f.name}_max`] || f.max) : f.max

      return [parseInt(v1), parseInt(Math.ceil(v2))]
    },
    rangeChanging (id) {
      const vals = this.$refs[id].getValue()

      this.$emit('changed', +this.$refs.slider.offsetTop)

      if (vals.length === 2) {
        this.$refs.inputMin.value = vals[0]
        this.$refs.inputMax.value = vals[1]
      }
    },
    rangeChanged (f, type, val) {
      if (/priceslider/.test(type)) {
        const val = this.$refs[type].getValue()
        this.updateUserFilter({ [f.name]: { ...this.userFilter[f.name], [`${f.name}_min`]: val[0], [`${f.name}_max`]: val[1] } })
      } else {
        this.updateUserFilter({ [f.name]: { ...this.userFilter[f.name], [`${f.name}_${type}`]: val } })
      }
    },
    onChangeHandler: throttle(function (f, type, val) {
      this.rangeChanging(type)
      this.rangeChanged(f, type, val)
    }, 150),
    onInput () {
      this.$emit('changed', +this.$refs.input.offsetTop)
    }
  }
}
</script>

<style scoped lang="scss">
.input {
  background: #fff;
  border: 1px solid $myshop-gray015;
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: 5px 12px 5px 30px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  transition: border-color .3s;

  &:hover {
    border-color: $myshop-violet;
  }
}

.inp-price {
  margin-top: 12px;
}

/* hide arrows in numeric fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* vue slider */

.vue-slider-custom-wrapper {
  cursor: pointer;
  padding-right: 1px;
  padding-left: 1px;
}

::v-deep .vue-slider-dot {
  border-radius: 50% !important;
  background-color: $myshop-violet !important;
}

.field-body {
  display: flex;
  gap: 10px;
}

.field {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;

  > .before {
    color: $myshop-disable;
    left: 12px;
    position: absolute;
  }
}
</style>
