<template>
  <div v-click-outside="clickOutsideHandler" class="filters" :class="{ modal: isMobile || showModalFilters }" @click.self="closeModal">
    <div class="sidebar">
      <header v-if="isMobile || showModalFilters " class="header">
        <div class="filter__t">Фильтры</div>
        <b-close @click="closeModal" />
      </header>

      <div v-if="mainData && mainData.subcategories && mainData.subcategories.length" class="item with-divider">
        <div class="title">Категории</div>

        <div class="item__i">
          <div
            v-for="(sc, index) of mainData.subcategories"
            v-show="index < CROP_VALUE || isShow.includes('categories')"
            :key="sc.id"
            class="item__c"
          >
            <nuxt-link v-if="sc.href" class="item__l" :to="sc.href">{{ sc.caption }}</nuxt-link>
          </div>
        </div>

        <div v-if="mainData.subcategories.length > CROP_VALUE" class="more" @click="toggleFilterView('categories')">{{ isShow.includes('categories') ? 'Свернуть' : 'Посмотреть всё' }}</div>
      </div>

      <div v-if="pageMeta.categories && pageMeta.categories.length" class="item" data-sh="search">
        <div class="title">В разделах</div>

        <div class="item__i">
          <div
            v-for="(c, index) of pageMeta.categories"
            v-show="index < CROP_VALUE || isShow.includes('in_categories')"
            :key="c.category_id"
            class="item__c"
            :data-a="JSON.stringify({ category: c.category_id, pos: index, page: productListPage })"
          >
            <nuxt-link class="item__l" :to="{ name: 'prod-list-search', params: { sort: 'a', page: 1 }, query: { f14_39: c.category_id, f14_16: 4, f14_6: $route.query.f14_6, next: 1 } }">{{ c.title }} <span class="item__s">{{ c.count || 0 }}</span></nuxt-link>
          </div>
        </div>

        <div v-if="pageMeta.categories.length > CROP_VALUE" class="more" @click="toggleFilterView('in_categories')">{{ isShow.includes('in_categories') ? 'Свернуть' : 'Посмотреть всё' }}</div>
      </div>

      <div v-if="productsOther.length" class="item" data-sh="search">
        <div class="title">По другим страницам</div>

        <div class="item__i">
          <div
            v-for="(c, index) of productsOther"
            v-show="index < CROP_VALUE || isShow.includes('products_other')"
            :key="c.title"
            class="item__c"
            :data-a="JSON.stringify({ category: c.category_id, pos: index, page: productListPage, type: c.items[0] ? (c.items[0].href.match(/\/shop\/(.*?)\//i) ? c.items[0].href.match(/\/shop\/(.*?)\//i)[1] : '') : '' })"
          >
            <a href="#" class="item__l" @click.prevent="$emit('openOthersPopup', c)">{{ c.title }} <span class="item__s">{{ c.count || 0 }}</span></a>
          </div>
        </div>

        <div v-if="productsOther.length > CROP_VALUE" class="more" @click="toggleFilterView('products_other')">{{ isShow.includes('products_other') ? 'Свернуть' : 'Посмотреть всё' }}</div>
      </div>

      <div
        v-for="f of filtersToShow"
        v-show="f.is_show || showModalFilters || isMobile"
        :key="f.name"
        class="item"
        :class="{toggle: f.type === 'checkbox'}"
        @click="toggleOneRowFilter(f.name, f.type)"
      >
        <div class="title" v-html="f.title" />

        <div v-if="f.name === 'p276' && showFullp276" class="search">
          <input
            v-model.trim="search"
            class="input"
            name="search-input"
            placeholder="Найти"
            maxlength="100"
            autocomplete="off"
          >

          <div class="more" @click="checkAll">Выбрать все</div>
        </div>

        <div v-if="f.type === 'checkbox'" :ref="`itemI-${f.name}`">
          <ToggleCheckbox
            v-for="v of f.values"
            :ref="`${f.name}-0`"
            :key="v.name"
            :title="f.title"
            :is-checked="userFilter[f.name] && userFilter[f.name][f.name] ? true : false"
            @changed="changed(f.name, f.name, $event.target.checked, 0, f.type)"
          />
        </div>

        <div v-else :ref="`itemI-${f.name}`" class="item__i" :class="{ shadow: ['checkbox', 'checkboxes', 'radio'].includes(f.type) }">
          <template v-if="f.type === 'checkboxes'">
            <div
              v-for="(v, index) of f.values"
              v-show="index < f.values_length"
              :key="v.id"
              class="item__ii"
            >
              <FilterCheckbox
                :ref="`${f.name}-${index}`"
                :title="v.title"
                :color="f.title === 'цвет' ? v.lsf_color : ''"
                :is-checked="userFilter[f.name] && userFilter[f.name][v.id] ? true : false"
                :group-name="v.groupName"
                @changed="changed(f.name, v.id, $event.target.checked, index)"
              />
            </div>
          </template>

          <template v-else-if="f.type === 'radio'">
            <div v-for="(v, index) of f.values" :key="v.name" class="radio">
              <InputRadio
                :ref="`${f.name}-${index}`"
                size="is-small"
                :label="v.name"
                :checked="userFilter[f.name] && userFilter[f.name][f.name] === v.value"
                @change="changed(f.name, f.name, v.value, index)"
              />
            </div>
          </template>

          <FilterRange v-else-if="f.type === 'range'" :item="f" @changed="setTopOffset(f.name, index)" />

          <template v-else>unknown type: <b>{{ f.type }}</b></template>
        </div>

        <div v-if="f.values.length > CROP_VALUE && f.values_length !== 6" class="more" @click="toggleFilterView(f.name)">{{ isShow.includes(f.name) ? 'Свернуть' : 'Посмотреть всё' }}</div>
      </div>

      <div v-if="filters && filters.length" class="filter__b form-control">
        <div class="field">
          <b-button expanded @click="applyUserFilter">Применить фильтры</b-button>
        </div>

        <div class="field">
          <b-button
            expanded
            type="is-basic is-light"
            :disabled="!nSelectedFilters"
            @click="resetUserFilter"
          >
            Сбросить фильтры
          </b-button>
        </div>

        <div v-if="hasMoreFilters && !isMobile && !showModalFilters" class="field">
          <b-button expanded type="is-outline" @click="openModal">Все фильтры</b-button>
        </div>
      </div>
    </div>

    <div v-if="!isMobile" class="float-btn" :style="{ top: `${floatBtnTop}px` }">
      <b-button expanded type="is-outline" @click="applyUserFilter">Показать</b-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import FilterRange from '@/components/layout/ProductList/ProductListFilter/FilterRange'
import FilterCheckbox from '@/components/layout/ProductList/ProductListFilter/FilterCheckbox'
import InputRadio from '@/components/ui/InputRadio'
import ToggleCheckbox from '@/components/layout/ProductList/ProductListFilter/ToggleCheckbox'
import { addFirstLetter } from '@/helpers/util'

export default {
  name: 'ProdFilter',
  components: {
    FilterRange,
    FilterCheckbox,
    InputRadio,
    ToggleCheckbox
  },
  props: {
    showModalFilters: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      CROP_VALUE: 5, // показать по-умолчанию столько чекбоксов у фильтра checkboxes
      isShow: [], // массив раскрытых/свёрнутых фильтров
      p276: [],
      p276Group: [],
      search: '',
      showFullp276: false,
      floatBtnTop: -9999,
      timerId: null
    }
  },
  computed: {
    ...mapState(['userFilter', 'mainData', 'pageMeta', 'productsOther', 'productListPage', 'isMobile', 'filters']),
    fFilters () {
      return Object.freeze((this.filters || []))
    },
    filtersToShow () {
      return this.fFilters.map(item => {
        let values_length = this.CROP_VALUE

        if (this.isShow.includes(item.name)) { // полный список
          if (item.name === 'p276') { // производитель
            if (!this.p276.length) this.p276 = item.values // кеширую список
            this.p276Group = this.p276Group.length ? this.p276Group : Object.freeze(addFirstLetter(item.values)) // разбавляю список первыми буквами групп

            item.values = this.search ? this.p276Group.filter(item => 'title' in item && item.title.toLowerCase().includes(this.search)) : this.p276Group // поиск по производителю
            this.showFullp276 = true
          }

          values_length = item.values.length
        } else { // короткий список
          if (item.name === 'p276') { // производитель
            if (this.p276.length) item.values = this.p276 // использую предварительно закешированный список производителей

            this.showFullp276 = false
          }

          if (item.values.length === 6) { // если 6 пунктов в фильтре, то не показываем кнопку Показать всё
            values_length = 6
          }
        }

        return {
          ...item,
          values_length // управляем переключением короткий/полный список
        }
      })
    },
    hasMoreFilters () {
      return this.fFilters.filter(f => !f.is_show).length > 0
    },
    nSelectedFilters () {
      const filters = this.userFilter

      for (const k in filters) {
        for (const l in filters[k]) {
          if (filters[k].p38 !== '1' && (filters[k][l] || (typeof filters[k][l] === 'string' && filters[k][l] !== ''))) { // исключаю "Наличие -> в продаже", т.к. он всегда по умолчанию выбран
            return true // если хоть один фильтр выбран, то сразу выходим с true
          }
        }
      }

      return false
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Escape' && this.openModal) {
        this.closeModal()
      }
    })
  },
  beforeDestroy () {
    this.closeModal()
  },
  methods: {
    ...mapMutations(['updateUserFilter']),
    resetUserFilter () {
      this.hideFloatBtn()
      this.$emit('resetUserFilter')
    },
    applyUserFilter () {
      this.hideFloatBtn()
      this.$emit('applyUserFilter')
    },
    toggleFilterView (name) {
      if (this.isShow.includes(name)) {
        this.isShow = this.isShow.filter(item => item !== name)
      } else {
        this.isShow.push(name)
      }
    },
    checkAll () {
      const p276 = {}

      this.p276.forEach(({ id }) => {
        p276[id] = true
      })

      this.updateUserFilter({ p276 })
      this.$emit('filterchanged')
    },
    changed (name, id, checked, index, type = '') {
      if (type === 'checkbox') {
        return
      }

      this.setTopOffset(name, index)

      this.updateUserFilter({
        [name]: {
          ...(name !== id && this.userFilter[name]),
          [id]: checked
        }
      })

      this.$emit('filterchanged')
    },
    toggleOneRowFilter (name, type) {
      if (type !== 'checkbox') {
        return
      }
      this.setTopOffset(name, 0)

      this.updateUserFilter({
        [name]: {
          [name]: (this.userFilter[name] ? !this.userFilter[name][name] : true)
        }
      })
      this.$emit('filterchanged')
    },
    setTopOffset (name, index) {
      const parent = this.$refs[`itemI-${name}`][0] // учитываем прокрутку внутри блока

      if (!index) {
        this.setFloatBtnTop(parent.offsetTop - 8)
      } else {
        const element = this.$refs[`${name}-${index}`]
        this.setFloatBtnTop(parent.offsetTop + element.offsetTop + +window.getComputedStyle(element.parentElement).marginTop.slice(0, -2) - 18 - parent.scrollTop)
      }
    },
    setFloatBtnTop (value) {
      this.floatBtnTop = value
      if (value > 0) {
        clearTimeout(this.timerId)
        this.timerId = setTimeout(() => {
          this.hideFloatBtn()
        }, 4000)
      }
    },
    hideFloatBtn () {
      clearTimeout(this.timerId)
      this.setFloatBtnTop(-9999)
      this.timerId = null
    },
    openModal () {
      this.$emit('showModalFilters', true)
    },
    closeModal () {
      document.body.style.overflow = ''
      this.$emit('showModalFilters', false)
    },
    clickOutsideHandler () {
      this.setFloatBtnTop(-9999)
    }
  }
}
</script>

<style scoped lang="scss">
.item {
  > * {
    position: relative;
  }

  .more {
    margin-top: 10px;
    font-weight: 600;
    color: $myshop-violet;
    display: inline-block;
    cursor: pointer;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .radio {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &.toggle {
    display: flex;
    justify-content: space-between;
    border: none;
    margin-bottom: 0;
    pointer-events: auto;
    cursor: pointer;
    .title {
      margin-bottom: 0;
      padding-right: 10px;
    }
    & > div {
      align-self: center;
    }
  }
}

.item__c {
  &:not(:first-child) {
    margin-top: 8px;
  }
}

.item__l {
  display: inline-block;
  color: $myshop-black;
  transition: color 0.3s;

  &:first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: $myshop-violet;
  }
}

.item__i {
  max-height: 426px;
  overflow-y: auto;
  overflow-x: clip;

  &.shadow {
    // нужно чтобы не обрезалась тень при ховере
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 4px;
    margin-left: -4px;
  }
}

.item__ii {
  &:not(:first-child) {
    margin-top: 12px;
  }
}

.item__s {
  background-color: #e8eaeb;
  border-radius: $border-radius;
  padding: 1px 6px;
  margin-left: 8px;
}

.filter__b {
  z-index: $z-index-modal;
  background-color: #fff;
  box-shadow: 0px -5px 3px rgba($myshop-black, 0.04),
    0px -8px 5px rgba($myshop-black, 0.08);
  padding: 12px 10px 2px;
  bottom: -13px;
  border-radius: $border-radius;
  margin-top: 24px;
  @include mq($md) {
    box-shadow: unset;
    position: unset;
    padding: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  margin-bottom: 26px;
  box-shadow: 0px 0px 2px rgba(42, 61, 72, 0.04),
    0px 3px 2px rgba(42, 61, 72, 0.08);
}

.filter__t {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.sidebar {
  position: static;
  background-color: #fff;
  left: 0;
  right: 0;
  width: 395px;
  max-height: 90%;
  border-radius: $border-radius;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 12px;
  ::v-deep .item {
    margin-right: 10px;
    margin-left: 10px;

    @include mq($md) {
      margin-right: 0;
      margin-left: 0;
    }
    &.with-divider {
      padding-bottom: 24px;
    }
    &:not(:first-of-type) {
      margin-top: 24px;
    }

    &.with-divider:not(:last-of-type) {
      margin-bottom: 0;
      border-bottom: 1px solid $myshop-gray015;
    }
    &:last-of-type {
      padding-bottom: 24px;
    }
  }
}
.modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $z-index-modal;
  position: fixed;
  background-color: $myshop-overlay;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  .filter__b {
    margin-top: 0;
    padding: 10px;
    margin-top: 24px;
  }
  ::v-deep .item {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.search {
  margin-bottom: 10px;
}

.input {
  border: 1px solid #dfe2e4;
  border-radius: $border-radius;
  padding: 9px 12px;
  outline: none;
  width: 100%;

  &:focus {
    border-color: $myshop-violet;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.float-btn {
  position: absolute;
  color: #fff;
  background-color: $myshop-violet;
  padding: 12px 16px;
  border-radius: $border-radius;
  width: 173px;
  // height: 92px;
  z-index: $z-index-content;
  right: -195px;
  box-shadow: 0px 1px 1px rgba(26, 32, 36, 0.32),
    0px 40px 64px rgba(91, 104, 113, 0.24);

  &:before {
    content: " ";
    position: absolute;
    top: 12px;
    left: -5px;
    width: 12px;
    height: 12px;
    background-color: $myshop-violet;
    transform: rotate(45deg);
    border-radius: 3px;
  }
}

/* hide arrows in numeric fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.filters.modal {
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .sidebar {
    padding: 0;
    display: block;
    position: relative;
    max-width: 100%;
    width: calc(100vw - 20px);
    max-width: 395px;
  }
  .header {
    position: fixed;
    width: calc(100vw - 20px);
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: white;
    z-index: 10;
    max-width: 395px;
  }
  .sidebar .item:first-of-type {
    margin-top: 56px;
  }
  .filter__b {
    position: fixed;
    margin-bottom: 0;
    position: sticky;
    bottom: 0;
    width: 100%;

    @include mq(415px) {
      max-width: 395px;
    }
  }
  .float-btn {
    display: none
  }
}
.filters:not(.modal) {
  position: relative;
  @include mq($md) {
    .sidebar {
      width: unset;
      max-height: unset;
      overflow-y: unset;
      overflow: visible;
    }
    .filter__t {
      display: none;
    }
    ::v-deep .item {
      margin-right: 0;
      margin-left: 0;
    }
    .filter__b {
      box-shadow: unset;
      position: unset;
      padding: 0;
      width: 100%;
    }
  }
}
</style>
