<template>
  <div class="filter-toggle">
    <svg
      width="28"
      height="16"
      viewBox="0 0 28 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      :class="{checked:isChecked}"
      @click="clicked"
    >
      <rect x="0.5" y="0.5" width="27" height="15" rx="7.5" fill="#E8EAEB" stroke="#D4D8DA" />
      <circle :cx="isChecked ? 20 : 8" :cy="8" r="7.5" fill="white" stroke="#C0C5C9" />
    </svg>
  </div>
</template>

<script>

export default {
  name: 'ToggleCheckbox',
  props: {
    isChecked: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    clicked () {
      this.$emit('changed', { target: { checked: !this.isChecked } })
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-toggle {
  display: flex;
  cursor: pointer;
  ::v-deep {
    circle,
    rect {
      transition: 0.3s cx;
    }
    .checked {
      rect {
        fill: #8650c4;
        stroke: #783cbd;
      }
      circle {
        stroke: #783cbd;
      }
    }
  }
}
</style>
