<template>
  <div class="header" :class="{ 'header__up': !isMobile && scrolled }" :style="{ height: isMobile ? headerHeight : (148 + Number(redLineHeight) + 'px') }">
    <div :style="{ height: isMobile ? '50px' : '97px' }" class="header__logo__wrap">
      <div v-if="isMobile">
        <div v-if="showMobileLinkBack" class="mobile-link-back" @click="$router.go(-1)">
          <IconArrowPrev />
          Назад
        </div>
        <span @click="onClickLogo"><nuxt-link :to="{ path: '/' }"><LogoType class="header__logo" /></nuxt-link></span>
      </div>
      <div :class="headroomClass">
        <div v-if="!isMobile" class="header__line">
          <div class="wrap">
            <div class="header__line__top">
              <div class="icon__block delivery" @click="openModal('delivery')">
                <icon-geo size="20" />
                <span>{{ deliveryPoint }}</span>
              </div>

              <div class="icon__block phone">
                <a :href="viewPhone ? 'tel:84956385338' : 'tel:88001005338'" @click="onClickPhone">
                  <icon-phone /> {{ viewPhone ? '8 (495) 638-53-38' : '8 (800) 100-53-38' }}
                </a>
              </div>

              <ul class="header__line__menu">
                <li @click="onClickMenu"><nuxt-link :to="{ name: 'helper-dlv' }">Доставка</nuxt-link></li>
                <li @click="onClickMenu"><nuxt-link to="/help/26.html">Оплата</nuxt-link></li>
                <li @click="onClickMenu"><nuxt-link to="/help/24.html">Скидки</nuxt-link></li>
                <li @click="onClickMenu"><nuxt-link to="/help/1.html">Помощь</nuxt-link></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="wrap" :style="{ 'height': isMobile ? '62px' : '46px' }" :class="{ pinned: !isMobile && scrolled }">
          <div class="header__body">
            <div v-if="!isMobile" class="header__block">
              <span @click="onClickLogo"><nuxt-link :to="{ path: '/' }"><LogoType class="header__logo" /></nuxt-link></span>
            </div>

            <template v-if="!isMobile">
              <div class="header__menu" :style="{ zIndex: modalName === 'catalog' ? 1001 : '' }" @click="openModal('catalog')">
                <svg v-if="modalName !== 'catalog'" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1" y="5" width="6" height="2" rx="1" fill="white" />
                  <rect x="1" y="10" width="8" height="2" rx="1" fill="white" />
                  <rect x="1" y="15" width="18" height="2" rx="1" fill="white" />
                  <path d="M19.2039 11.2769L17.475 9.55966C17.8938 8.88094 18.1185 8.10054 18.1246 7.30322C18.1226 6.45298 17.8685 5.62238 17.3945 4.91625C16.9204 4.21013 16.2476 3.66012 15.4609 3.33566C14.6743 3.0112 13.809 2.92683 12.9744 3.09318C12.1398 3.25954 11.3732 3.66918 10.7714 4.27039C10.1696 4.8716 9.75954 5.63744 9.59302 6.47125C9.4265 7.30506 9.51096 8.16947 9.83574 8.95536C10.1605 9.74126 10.7111 10.4134 11.4179 10.887C12.1247 11.3606 12.9561 11.6144 13.8072 11.6164C14.6035 11.6174 15.3848 11.3998 16.0658 10.9874L17.7848 12.7147C17.8777 12.8083 17.9882 12.8825 18.11 12.9332C18.2318 12.9839 18.3624 13.01 18.4944 13.01C18.6263 13.01 18.7569 12.9839 18.8787 12.9332C19.0005 12.8825 19.111 12.8083 19.2039 12.7147C19.3006 12.6215 19.3776 12.5099 19.4301 12.3864C19.4827 12.2629 19.5098 12.13 19.5098 11.9958C19.5098 11.8616 19.4827 11.7288 19.4301 11.6053C19.3776 11.4817 19.3006 11.3701 19.2039 11.2769ZM15.4462 8.99056C15.1184 9.314 14.7016 9.53255 14.249 9.61834C13.7963 9.70412 13.3284 9.65324 12.9048 9.47219C12.4812 9.29115 12.1212 8.98814 11.8708 8.60182C11.6203 8.21551 11.4907 7.76342 11.4986 7.30322C11.4984 7.00052 11.5583 6.70079 11.675 6.42142C11.7917 6.14205 11.9627 5.88861 12.1782 5.67579C12.6125 5.24473 13.1999 5.00281 13.8122 5.00281C14.4244 5.00281 15.0118 5.24473 15.4462 5.67579C15.661 5.89001 15.8315 6.14446 15.9478 6.42458C16.0641 6.70469 16.1239 7.00496 16.1239 7.30821C16.1239 7.61147 16.0641 7.91174 15.9478 8.19185C15.8315 8.47196 15.661 8.72641 15.4462 8.94064V8.99056Z" fill="white" />
                </svg>
                <svg v-else width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.175 9.99997L14.7583 6.42497C14.9153 6.26805 15.0034 6.05522 15.0034 5.8333C15.0034 5.61138 14.9153 5.39856 14.7583 5.24164C14.6014 5.08472 14.3886 4.99656 14.1667 4.99656C13.9448 4.99656 13.7319 5.08472 13.575 5.24164L10 8.82497L6.42501 5.24164C6.26809 5.08472 6.05526 4.99656 5.83334 4.99656C5.61143 4.99656 5.3986 5.08472 5.24168 5.24164C5.08476 5.39856 4.9966 5.61138 4.9966 5.8333C4.9966 6.05522 5.08476 6.26805 5.24168 6.42497L8.82501 9.99997L5.24168 13.575C5.16357 13.6524 5.10157 13.7446 5.05927 13.8462C5.01696 13.9477 4.99518 14.0566 4.99518 14.1666C4.99518 14.2766 5.01696 14.3856 5.05927 14.4871C5.10157 14.5887 5.16357 14.6808 5.24168 14.7583C5.31915 14.8364 5.41131 14.8984 5.51286 14.9407C5.61441 14.983 5.72333 15.0048 5.83334 15.0048C5.94335 15.0048 6.05227 14.983 6.15382 14.9407C6.25537 14.8984 6.34754 14.8364 6.42501 14.7583L10 11.175L13.575 14.7583C13.6525 14.8364 13.7446 14.8984 13.8462 14.9407C13.9477 14.983 14.0567 15.0048 14.1667 15.0048C14.2767 15.0048 14.3856 14.983 14.4872 14.9407C14.5887 14.8984 14.6809 14.8364 14.7583 14.7583C14.8365 14.6808 14.8984 14.5887 14.9408 14.4871C14.9831 14.3856 15.0048 14.2766 15.0048 14.1666C15.0048 14.0566 14.9831 13.9477 14.9408 13.8462C14.8984 13.7446 14.8365 13.6524 14.7583 13.575L11.175 9.99997Z" fill="white" />
                </svg>
                <span>Каталог товаров</span>
              </div>
            </template>

            <div v-if="!isMobile" class="header__search">
              <modal-search-desktop :products-count="productsCount" :head-css="{ height: isMobile ? headerHeight : (148 + Number(redLineHeight)) }" />
            </div>

            <div class="header__icons">
              <div v-if="false" class="icon__block" :class="{ 'padding-icon': isMobile }" @click="openModal('delivery')"><IconGeo /></div>
              <!-- каталог   поиск   корзина   избранное   мой кабинет -->
              <template v-for="button in headButtons">
                <component
                  :is="button.component"
                  v-show="isMobile || !button.isMobile"
                  :key="button.name"
                  :active="modalName == button.name"
                  :other-active="modalStatus"
                  :style="{order: button.order}"
                  @openModal="openModal(button.name)"
                  @closeOthers="closeModals"
                >
                  <span class="no-tablet">{{ button.label }}</span>
                </component>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrap">
      <div v-if="!isMobile" class="header__catalog">
        <div class="header__catalog__list">
          <span @click="onClickPromo">
            <nuxt-link to="/shop/promo/" class="promo-link">
              <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="20" rx="8" fill="currentColor" />
                <path d="M6.88071 4.78675C7.13216 4.53157 7.4396 4.33847 7.77865 4.22275C8.1177 4.10704 8.47904 4.07189 8.83404 4.12008C9.19616 4.13006 9.55084 4.22519 9.86935 4.39777C10.1879 4.57034 10.4613 4.81551 10.6674 5.11342C11.0905 5.78839 11.2606 6.59153 11.1474 7.38008C11.1213 8.16839 10.8166 8.92193 10.2874 9.50675C10.0316 9.75396 9.72243 9.93905 9.38373 10.0477C9.04503 10.1564 8.68588 10.1857 8.33404 10.1334C7.97924 10.1237 7.63152 10.0319 7.31809 9.86536C7.00466 9.69881 6.73403 9.46199 6.52737 9.17342C6.08819 8.51437 5.90122 7.71912 6.00071 6.93342C6.02753 6.13557 6.33979 5.37385 6.88071 4.78675ZM8.72071 5.45342C8.05404 5.39342 7.66071 5.93342 7.56071 7.06675C7.46071 8.20008 7.75404 8.76675 8.42737 8.82675C9.10071 8.88675 9.48071 8.36008 9.57404 7.24675C9.66737 6.13342 9.38737 5.51342 8.72071 5.45342ZM10.3607 15.3268C10.1007 15.9001 9.74737 16.0868 9.29404 15.8868C8.84071 15.6868 8.84737 15.3334 9.11404 14.7401L13.6874 4.66008C13.9407 4.06675 14.2874 3.87342 14.7207 4.08008C15.154 4.28675 15.1674 4.63342 14.9074 5.22675L10.3607 15.3268ZM13.7474 10.6601C13.999 10.4071 14.3055 10.2155 14.643 10.0999C14.9806 9.98426 15.3402 9.94784 15.694 9.99342C16.0507 10.0057 16.3997 10.0999 16.7142 10.2687C17.0286 10.4375 17.3 10.6763 17.5074 10.9668C17.9255 11.6437 18.093 12.4458 17.9807 13.2334C17.9503 14.0109 17.6456 14.7525 17.1207 15.3268C16.8666 15.5746 16.5588 15.7606 16.2212 15.8705C15.8837 15.9803 15.5254 16.011 15.174 15.9601C14.8159 15.9547 14.4637 15.8671 14.1447 15.7042C13.8257 15.5412 13.5483 15.3072 13.334 15.0201C12.9144 14.3536 12.7444 13.56 12.854 12.7801C12.8959 11.991 13.2118 11.2412 13.7474 10.6601ZM15.5807 11.3267C14.914 11.2667 14.5207 11.8067 14.4274 12.9401C14.334 14.0734 14.614 14.6401 15.2874 14.7001C15.9607 14.7601 16.3407 14.2268 16.4407 13.1134C16.5407 12.0001 16.254 11.3601 15.5807 11.3267Z" fill="white" />
              </svg>
              <span>Акции</span>
            </nuxt-link>
          </span>
          <span @click="onClickGuide"><nuxt-link to="/shop/guide/1/page/1.html" class="guide-link">Myshop.Гид</nuxt-link></span>
          <nuxt-link v-for="(item, index) in headMenu" :key="index" :to="item.link"><span @click="onClickLanding">{{ item.text }}</span></nuxt-link>
        </div>
      </div>
    </div>
    <red-line class="red-line" @toggleHeight="redLineHeight = $event" />
    <modal-cabinet />
    <modal-search v-if="isMobile" :products-count="productsCount" :data-o="$route.name === 'prod-view' && isMobile ? 'search_form' : ''" />
    <modal-menu-mobile v-if="isMobile && modalName === 'catalog'" :value="catalogMenu" :page-path="pagePath" :open-modal="openModal" />
    <modal-menu-desktop v-if="!isMobile" :value="catalogMenu" :scrolled="scrolled" />
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import CatalogButton from './buttons/CatalogButton'
import SearchButton from './buttons/SearchButton'
import BasketButton from './buttons/BasketButton'
import CabinetButton from './buttons/CabinetButton'
import FavoriteButton from './buttons/FavoriteButton'
import LogoType from '@/components/icons/LogoType'
import IconGeo from '@/components/icons/IconGeo'
import IconPhone from '@/components/icons/IconPhone'
import IconArrowPrev from '@/components/icons/ArrowPrev'
import RedLine from '@/components/common/RedLine'
import ModalSearch from '@/components/modal/ModalSearch'
import ModalSearchDesktop from '@/components/modal/ModalSearchHead'
import ModalCabinet from '@/components/modal/ModalCabinet'
import ModalMenuDesktop from '@/components/modal/ModalMenuDesktop'
import ModalMenuMobile from '@/components/modal/ModalMenuMobile'

export default {
  name: 'AppHeader',
  components: {
    BasketButton,
    CabinetButton,
    FavoriteButton,
    CatalogButton,
    SearchButton,
    ModalSearch,
    ModalCabinet,
    ModalMenuDesktop,
    ModalMenuMobile,
    ModalSearchDesktop,
    RedLine,
    LogoType,
    IconGeo,
    IconPhone,
    IconArrowPrev
  },
  props: {
    pagePath: {
      type: Array,
      required: false,
      default: () => []
    },
    productsCount: {
      type: Number,
      default: 0
    },
    catalogMenu: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      scrolled: false,
      limitPosition: 50,
      lastPosition: 0,
      redLineHeight: 0,
      headButtons: [
        { name: 'catalog', order: 0, isMobile: true, isModal: true, component: CatalogButton, label: 'Каталог' },
        { name: 'search', order: 1, isMobile: true, isModal: true, component: SearchButton, label: 'Поиск' },
        { name: 'cabinet', order: 4, isModal: true, component: CabinetButton, label: 'Войти' },
        { name: 'favorite', order: 3, component: FavoriteButton, label: 'Избранное' },
        { name: 'basket', order: 2, component: BasketButton, label: 'Корзина' }
      ]
    }
  },
  computed: {
    ...mapState(['isMobile', 'windowWidth']),
    ...mapState('modals', { modalName: 'name', modalStatus: 'status' }),
    deliveryPoint () {
      return this.$store.getters["application/addressPoint"]?.longname || ''
    },
    headMenu () {
      return this.catalogMenu?.menu || []
    },
    headerHeight () {
      return 50 + 'px'
    },
    viewPhone () {
      return Number(this.$store.getters["application/addressPoint"].region_id) === 292 || Number(this.$store.getters["application/addressPoint"].region_id) === 244
    },

    headroomClass () {
      return {
        shadowed: this.modalStatus,
        headroom__desk: !this.isMobile,
        headroom: this.isMobile,
        headroom__pinned: !this.isMobile && this.scrolled
      }
    },
    showMobileLinkBack () {
      return this.$route.name !== 'mobile-home' && this.$device.isIos && this.$store.state.is_app_mobile
    }
  },
  mounted () {
    this.$addEventListeners('scroll', this.handleScroll)
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    ...mapMutations('modals', ['setName']),

    onClickLanding () {
      this.$gtmTrack.namedEvent('head_landing')
    },
    onClickPromo () {
      this.$gtmTrack.namedEvent('head_promo')
    },
    onClickGuide () {
      this.$gtmTrack.namedEvent('head_guide')
    },
    onClickLogo () {
      this.$gtmTrack.namedEvent('head_logo')
    },
    onClickMenu () {
      this.$gtmTrack.namedEvent('head_menu')
    },
    onClickPhone () {
      this.$gtmTrack.namedEvent('head_phone')
    },
    handleScroll () {
      if (this.lastPosition < window.scrollY && this.limitPosition < window.scrollY) {
        this.scrolled = true
      }

      if (this.lastPosition >= window.scrollY) {
        this.scrolled = false
      }

      this.lastPosition = this.isMobile ? window.scrollY : 50
    },
    closeModals () {
      this.toggleModal({ name: null })
    },
    openModal (item) {
      if (item !== null && item !== this.modalName && this.modalStatus) {
        this.setName(item)
      } else if (item === this.modalName) {
        this.toggleModal({ name: null })
      } else {
        this.toggleModal({ name: item })
      }

      if (item === 'delivery') {
        this.$gtmTrack.namedEvent('head_cities')
      }

      if (item === 'catalog') {
        this.$gtmTrack.namedEvent('head_catalogue')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.mobile-link-back {
  position: absolute;
  left: 17px;
  top: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-violet;
  svg {
    fill: $myshop-violet;
    margin-right: 8px;
  }
}

.pinned {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px !important;
}

.padding {
  padding: 1rem;
}

.padding-icon {
  padding: 12px 4px;

  @media screen and (min-width: $md) {
    padding: 12px 8px;
  }
}

.padding-tb {
  padding: 0.8rem 0;
}

.isDesktop {
  display: inline-block;
}
.headroom {
  width: 100%;
  height: 50px;
  padding: 0;
  top: 0;
  margin: 0;
  position: fixed;
  z-index: $z-index-header;
  background: #fff;
  box-shadow: 0px 5px 5px rgba(42, 61, 72, 0.05);
  will-change: transform;
  transition: all 0.3s;
}
.headroom__desk {
  padding: 0;
  margin: 0;
  position: relative;
  background: #fff;
  z-index: $z-index-header;
  will-change: transform;
}

.icon__block {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  height: 36px;
  color: $myshop-black;

  &:hover {
    color: $myshop-violet;
  }

  & span {
    margin-left: 8px;

    & a {
      text-decoration: none;
      color: $myshop-black;
    }
  }
}

.delivery {
  color: $myshop-black;

  & span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }

  &:hover {
    color: $myshop-violet;
  }
}

.phone {
  justify-content: center;
  cursor: default;

  a {
    display: flex;
    align-items: center;
    color: $myshop-black;

    svg {
      margin-right: 8px;
    }
  }

  a:hover {
    color: $myshop-violet;
  }
}

.header {
  height: auto;
  display: block;
  background: #fff;
  box-shadow: 0 0 2px rgba(42, 61, 72, 0.04), 0 3px 2px rgba(42, 61, 72, 0.08);
  position: relative;
  z-index: $z-index-header;

  &__up {
    z-index: 52;
  }

  &__logo {
    width: 164px;
    height: 28px;
  }

  &__line {
    height: 36px;
    width: 100%;
    background: #fafafa;

    &__top {
      width: calc(100%);
      height: 36px;
      position: relative;
      display: grid;
      grid-template-columns: 40% 20% 40%;
    }
  }

  &__block {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    margin: 15px 0 0;
  }

  &__catalog {
    width: 100%;
    height: 48px;
    overflow: hidden;
    margin: 3px 0 0;
    display: flex;
    align-items: flex-start;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 48px;
    color: $myshop-black;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & > a {
        margin: 0 0 0 15px;
        padding: 0;
        color: $myshop-black;
        text-decoration: none;
        white-space: nowrap;

        &:first-child {
          margin: 0;
        }

        &:hover {
          color: $myshop-violet;
        }
      }
    }

    &__spec {
      width: 136px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-right: 15px;

      span {
        margin-bottom: 2px;
      }
    }
  }

  &__line__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #55646d;

    & li {
      &:not(:last-child) {
        & > a {
          margin-right: 12px;
        }
      }

      & > a {
        margin-left: 12px;
        color: #55646d;
        text-decoration: none;

        &:hover {
          color: $myshop-violet;
        }
      }
    }
  }

  &__search {
    display: inline-flex;
    margin: 0 0 0 10px;
    height: 60px;
    position: relative;
    flex-grow: 2;
  }

  &__icons {
    white-space: nowrap;
    position: relative;
  }

  &__gid {
    display: flex;
    justify-content: flex-start;
  }

  &__menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    background: $myshop-violet;
    border: 2px solid $myshop-violet;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    height: 40px;
    margin-left: 32px;
    padding: 10px 16px;
    transition: all 0.3s;

    & span {
      padding: 0 0 0 10px;
      @media (max-width: 1023px) {
        display: none;
      }
    }

    &:hover {
      background: #8650c4;
      border: 2px solid #ebe2f5;
    }
  }
}
@media (max-width: 767px) {
  .header {
    box-shadow: none;
    &__logo__wrap {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
    }
  }
  .header__line,
  .header__menu,
  .header__search,
  .header__catalog,
  .isDesktop {
    display: none;
  }
  .header__logo {
    width: 118px;
    height: 20px;
  }
  .red-line {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .header__logo {
    margin: 12px 5px;
    margin-bottom: 8px;
  }

  .headroom {
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    height: $mobile-tabs-height;
    z-index: 1070;
    &.shadowed {
      box-shadow: 0px -3px 2px rgba(42, 61, 72, 0.04),
      0px -5px 3px rgba(42, 61, 72, 0.08);
    }
    .header__body {
      height: $mobile-tabs-height;
    }
    .header__icons {
      margin-right: 0;
      display: flex;
      width: 100%;
      > .tabs-button {
        flex-basis: 20%;
        max-width: 20%;
      }
    }

    .tabs-button {
      padding: 0 8px;
      ::v-deep .badge {
        font-size: 10px;
      }
    }
    ::v-deep .orange,
    ::v-deep .favorite {
      svg {
        path {
          fill: #2a3d48;
        }
      }
    }
  }

  .header__body {
    margin: 0;
    height: 50px;
  }

  .icon__block {
    margin: 0;
    height: 50px;
  }

  .icon__block {
    margin: 0;
  }
}

.link__old-site {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-violet;
  padding: 4px 5px;
  background: rgba(120, 60, 189, 0.25);
  border-radius: 5px;
  margin: 0 0 0 25px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background: rgba(120, 60, 189, 0.35);
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.promo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5333f;
  transition: all 0.3s;

  svg {
    margin-right: 8px;
  }

  &:hover {
    color: #f64853;
  }
}
.guide-link {
  color: #61a60e;
  transition: all 0.3s;
  margin-left: 8px;

  &:hover {
    color: #71af27;
  }
}
.headroom__pinned {
  top: -50px;
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 0 0 2px rgba(42, 61, 72, 0.04), 0 3px 2px rgba(42, 61, 72, 0.08);
  transform: translateY(0%);

  ::v-deep {
    .autocomplete-list__wrap {
      top: 60px;
    }
  }
}
</style>
