<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2568 5.0991c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H6.41985c-1.53 0-2.493-1.646-1.743-2.98l5.57995-9.92Zm2.743 9.901c0 .2652-.1053.5196-.2928.7071-.1876.1875-.4419.2929-.7072.2929-.2652 0-.5195-.1054-.7071-.2929-.1875-.1875-.2929-.4419-.2929-.7071 0-.2652.1054-.5196.2929-.7071.1876-.1875.4419-.2929.7071-.2929.2653 0 .5196.1054.7072.2929.1875.1875.2928.4419.2928.7071Zm-1-8c-.2652 0-.5195.10536-.7071.29289-.1875.18754-.2929.44189-.2929.70711v3c0 .2652.1054.5196.2929.7071.1876.1875.4419.2929.7071.2929.2653 0 .5196-.1054.7072-.2929.1875-.1875.2928-.4419.2928-.7071v-3c0-.26522-.1053-.51957-.2928-.70711-.1876-.18753-.4419-.29289-.7072-.29289Z" fill="#DE2A35" />
  </svg>
</template>

<script>
export default {
  name: 'IconAlert'
}
</script>
