<template>
  <svg width="5" height="9" viewBox="0 0 5 9" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.81694 0.308058C4.57286 0.0639806 4.17714 0.0639806 3.93306 0.308058L0.183059 4.05806C-0.0610185 4.30214 -0.0610185 4.69786 0.183059 4.94194L3.93306 8.69194C4.17714 8.93602 4.57286 8.93602 4.81694 8.69194C5.06102 8.44786 5.06102 8.05214 4.81694 7.80806L1.50888 4.5L4.81694 1.19194C5.06102 0.947864 5.06102 0.552136 4.81694 0.308058Z" />
  </svg>
</template>
