<template>
  <svg stroke-width="0.501" stroke-linejoin="bevel" fill-rule="evenodd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" overflow="visible" width="13.5pt" height="26.25pt" viewBox="0 0 13.5 26.25">
    <defs>
      <marker id="DefaultArrow2" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_STRAIGHT (-2) -->
        <g transform="scale(0.0092592592)">
          <!-- 1/108 -->
          <path d="M -9 54 L -9 -54 L 117 0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow3" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_ANGLED -->
        <g transform="scale(0.0092592592)">
          <path d="M -27 54 L -9 0 L -27 -54 L 135 0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow4" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_ROUNDED -->
        <g transform="scale(0.0092592592)">
          <path d="M -9,0 L -9,-45 C -9,-51.708 2.808,-56.580 9,-54 L 117,-9 C 120.916,-7.369 126.000,-4.242 126,0 C 126,4.242 120.916,7.369 117,9 L 9,54 C 2.808,56.580 -9,51.708 -9,45 z" />
        </g>
      </marker>
      <marker id="DefaultArrow5" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_SPOT -->
        <g transform="scale(0.0092592592)">
          <path d="M -54, 0 C -54,29.807 -29.807,54 0,54 C 29.807,54 54,29.807 54,0 C 54,-29.807 29.807,-54 0,-54 C -29.807,-54 -54,-29.807 -54,0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow6" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_DIAMOND -->
        <g transform="scale(0.0092592592)">
          <path d="M -63,0 L 0,63 L 63,0 L 0,-63 z" />
        </g>
      </marker>
      <marker id="DefaultArrow7" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_FEATHER -->
        <g transform="scale(0.0092592592)">
          <path d="M 18,-54 L 108,-54 L 63,0 L 108,54 L 18, 54 L -36,0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow8" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_FEATHER2 -->
        <g transform="scale(0.0092592592)">
          <path d="M -36,0 L 18,-54 L 54,-54 L 18,-18 L 27,-18 L 63,-54 L 99,-54 L 63,-18 L 72,-18 L 108,-54 L 144,-54 L 90,0 L 144,54 L 108,54 L 72,18 L 63,18 L 99,54 L 63,54 L 27,18 L 18,18 L 54,54 L 18,54 z" />
        </g>
      </marker>
      <marker id="DefaultArrow9" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_HOLLOWDIAMOND -->
        <g transform="scale(0.0092592592)">
          <path d="M 0,45 L -45,0 L 0, -45 L 45, 0 z M 0, 63 L-63, 0 L 0, -63 L 63, 0 z" />
        </g>
      </marker>
      <filter id="StainedFilter">
        <feBlend mode="multiply" in2="BackgroundImage" in="SourceGraphic" result="blend" />
        <feComposite in="blend" in2="SourceAlpha" operator="in" result="comp" />
      </filter>
      <filter id="BleachFilter">
        <feBlend mode="screen" in2="BackgroundImage" in="SourceGraphic" result="blend" />
        <feComposite in="blend" in2="SourceAlpha" operator="in" result="comp" />
      </filter>
      <filter id="InvertTransparencyBitmapFilter">
        <feComponentTransfer>
          <feFuncR type="gamma" amplitude="1.055" exponent=".416666666" offset="-0.055" />
          <feFuncG type="gamma" amplitude="1.055" exponent=".416666666" offset="-0.055" />
          <feFuncB type="gamma" amplitude="1.055" exponent=".416666666" offset="-0.055" />
        </feComponentTransfer>
        <feComponentTransfer>
          <feFuncR type="linear" slope="-1" intercept="1" />
          <feFuncG type="linear" slope="-1" intercept="1" />
          <feFuncB type="linear" slope="-1" intercept="1" />
          <feFuncA type="linear" slope="1" intercept="0" />
        </feComponentTransfer>
        <feComponentTransfer>
          <feFuncR type="gamma" amplitude="1" exponent="2.4" offset="0" />
          <feFuncG type="gamma" amplitude="1" exponent="2.4" offset="0" />
          <feFuncB type="gamma" amplitude="1" exponent="2.4" offset="0" />
        </feComponentTransfer>
      </filter>
    </defs>
    <g id="Document" fill="none" stroke="black" font-family="Times New Roman" font-size="16" transform="scale(1 -1)">
      <g id="Spread" transform="translate(0 -26.25)">
        <g id="Layer 1">
          <g id="Group" stroke-width="1.5" stroke-linejoin="round" stroke-linecap="round" fill="#ffffff" stroke-miterlimit="79.8403193612775">
            <path d="M 0.75,19.446 L 6.752,25.484" fill="none" />
            <path d="M 12.754,19.446 L 6.752,25.484" fill="none" />
            <path d="M 6.752,25.484 L 6.752,0.732" fill="none" />
          </g>
        </g>
        <g id="Layer_1" />
      </g>
    </g>
  </svg>
</template>
