<template>
  <svg width="5" height="9" viewBox="0 0 5 9" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.183058 8.69194C0.427136 8.93602 0.822864 8.93602 1.06694 8.69194L4.81694 4.94194C5.06102 4.69786 5.06102 4.30213 4.81694 4.05806L1.06694 0.308057C0.822864 0.0639782 0.427136 0.0639782 0.183058 0.308057C-0.0610194 0.552135 -0.0610194 0.947863 0.183058 1.19194L3.49112 4.5L0.183058 7.80806C-0.0610194 8.05214 -0.0610194 8.44786 0.183058 8.69194Z" />
  </svg>
</template>
