<template>
  <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17 11.0002H9.41002L12.71 7.71019c.1883-.18831.2941-.4437.2941-.71 0-.26631-.1058-.5217-.2941-.71-.1883-.18831-.4437-.2941-.71-.2941s-.5217.10579-.71.2941L6.29002 11.2902c-.09104.0951-.16241.2072-.21.33-.10002.2434-.10002.5165 0 .76.04759.1227.11896.2349.21.33l4.99998 5c.093.0937.2036.1681.3254.2189.1219.0507.2526.0769.3846.0769s.2627-.0262.3846-.0769c.1219-.0508.2325-.1252.3254-.2189.0937-.093.1681-.2036.2189-.3254.0508-.1219.0769-.2526.0769-.3846s-.0261-.2627-.0769-.3846c-.0508-.1219-.1252-.2325-.2189-.3254l-3.29998-3.29H17c.2652 0 .5196-.1054.7071-.2929.1876-.1875.2929-.4419.2929-.7071 0-.2652-.1053-.5196-.2929-.7071-.1875-.1876-.4419-.2929-.7071-.2929Z" fill="#2A3D48" />
  </svg>
</template>

<script>
export default {
  name: 'IconArrowAngleLeft'
}
</script>
