<template>
  <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.1666 7.64174c-.1562-.15521-.3674-.24233-.5875-.24233-.2202 0-.4314.08712-.5875.24233L9.99992 10.5917l-2.95-2.94996c-.15614-.15521-.36735-.24233-.5875-.24233-.22016 0-.43137.08712-.5875.24233-.07811.07747-.14011.16964-.18241.27119-.04231.10155-.06409.21047-.06409.32048s.02178.21893.06409.32048c.0423.10155.1043.19372.18241.27118l3.53333 3.53333c.07747.0781.16964.1401.27119.1824.10154.0423.21047.0641.32048.0641.10998 0 .21888-.0218.32048-.0641.1015-.0423.1937-.1043.2712-.1824l3.575-3.53333c.0781-.07746.1401-.16963.1824-.27118.0423-.10155.0641-.21047.0641-.32048s-.0218-.21893-.0641-.32048c-.0423-.10155-.1043-.19372-.1824-.27119Z" fill="currentColor" />
  </svg>
</template>

<script>
export default {
  name: 'IconArrowAngleDown'
}
</script>
