<template>
  <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.94667 4.74667C7.91494 4.66483 7.86736 4.59007 7.80666 4.52667L4.47333 1.19333C4.41117 1.13117 4.33738 1.08187 4.25617 1.04823C4.17495 1.01459 4.08791 0.997272 4 0.997272C3.82246 0.997272 3.6522 1.0678 3.52667 1.19333C3.46451 1.25549 3.4152 1.32929 3.38156 1.4105C3.34792 1.49172 3.33061 1.57876 3.33061 1.66667C3.33061 1.8442 3.40113 2.01446 3.52667 2.14L5.72667 4.33333H0.666667C0.489856 4.33333 0.320286 4.40357 0.195262 4.5286C0.070238 4.65362 0 4.82319 0 5C0 5.17681 0.070238 5.34638 0.195262 5.4714C0.320286 5.59643 0.489856 5.66667 0.666667 5.66667H5.72667L3.52667 7.86C3.46418 7.92198 3.41458 7.99571 3.38074 8.07695C3.34689 8.15819 3.32947 8.24532 3.32947 8.33333C3.32947 8.42134 3.34689 8.50848 3.38074 8.58972C3.41458 8.67096 3.46418 8.74469 3.52667 8.80667C3.58864 8.86915 3.66238 8.91875 3.74361 8.95259C3.82485 8.98644 3.91199 9.00387 4 9.00387C4.08801 9.00387 4.17514 8.98644 4.25638 8.95259C4.33762 8.91875 4.41136 8.86915 4.47333 8.80667L7.80666 5.47333C7.86736 5.40993 7.91494 5.33517 7.94667 5.25333C8.01334 5.09103 8.01334 4.90897 7.94667 4.74667Z" fill="#2A3D48" />
  </svg>
</template>
