<template>
  <svg stroke-width="0.501" stroke-linejoin="bevel" fill-rule="evenodd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" overflow="visible" width="16pt" height="19pt" viewBox="0 0 18 21">
    <g id="Document" fill="none" font-family="Times New Roman" font-size="16" transform="scale(1 -1)">
      <g id="Spread" transform="translate(0 -21)">
        <g id="Layer 1">
          <g id="Group" stroke-linejoin="miter" stroke-linecap="round" stroke-width="1.5" stroke-miterlimit="79.8403193612775">
            <path d="M 8.998,20.984 C 11.653,20.984 13.809,18.99 13.809,16.534 C 13.809,14.078 11.653,12.084 8.998,12.084 C 6.343,12.084 4.187,14.078 4.187,16.534 C 4.187,18.99 6.343,20.984 8.998,20.984 Z" marker-start="none" marker-end="none" fill="#999aff" />
            <path d="M 5.659,10.561 C 6.523,9.787 7.701,9.31 9,9.31 C 10.299,9.31 11.476,9.787 12.341,10.558 C 15.535,8.858 17.827,4.788 18,-0.015 L 0,-0.015 C 0.172,4.788 2.465,8.858 5.659,10.561 Z" marker-start="none" marker-end="none" fill="#999aff" />
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
