<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M22.3499 20.0001L29.5166 12.8501C29.8304 12.5363 30.0067 12.1106 30.0067 11.6668C30.0067 11.2229 29.8304 10.7973 29.5166 10.4834C29.2027 10.1696 28.7771 9.99329 28.3332 9.99329C27.8894 9.99329 27.4637 10.1696 27.1499 10.4834L19.9999 17.6501L12.8499 10.4834C12.5361 10.1696 12.1104 9.99329 11.6666 9.99329C11.2227 9.99329 10.7971 10.1696 10.4832 10.4834C10.1694 10.7973 9.99308 11.2229 9.99308 11.6668C9.99308 12.1106 10.1694 12.5363 10.4832 12.8501L17.6499 20.0001L10.4832 27.1501C10.327 27.305 10.203 27.4894 10.1184 27.6925C10.0338 27.8956 9.99023 28.1134 9.99023 28.3334C9.99023 28.5535 10.0338 28.7713 10.1184 28.9744C10.203 29.1775 10.327 29.3618 10.4832 29.5168C10.6382 29.673 10.8225 29.797 11.0256 29.8816C11.2287 29.9662 11.4465 30.0098 11.6666 30.0098C11.8866 30.0098 12.1044 29.9662 12.3075 29.8816C12.5106 29.797 12.695 29.673 12.8499 29.5168L19.9999 22.3501L27.1499 29.5168C27.3048 29.673 27.4892 29.797 27.6923 29.8816C27.8954 29.9662 28.1132 30.0098 28.3332 30.0098C28.5533 30.0098 28.7711 29.9662 28.9742 29.8816C29.1773 29.797 29.3616 29.673 29.5166 29.5168C29.6728 29.3618 29.7968 29.1775 29.8814 28.9744C29.966 28.7713 30.0096 28.5535 30.0096 28.3334C30.0096 28.1134 29.966 27.8956 29.8814 27.6925C29.7968 27.4894 29.6728 27.305 29.5166 27.1501L22.3499 20.0001Z"
      :fill="fill ? fill : null"
    />
  </svg>
</template>
<script>
export default {
  props: {
    fill: {
      type: String,
      required: false,
      default: '#2A3D48'
    }
  }
}
</script>
