<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16.9999 9H6.99987C6.73465 9 6.4803 9.10536 6.29276 9.29289C6.10522 9.48043 5.99987 9.73478 5.99987 10C5.99987 10.2652 6.10522 10.5196 6.29276 10.7071C6.4803 10.8946 6.73465 11 6.99987 11H16.9999C17.2651 11 17.5194 10.8946 17.707 10.7071C17.8945 10.5196 17.9999 10.2652 17.9999 10C17.9999 9.73478 17.8945 9.48043 17.707 9.29289C17.5194 9.10536 17.2651 9 16.9999 9ZM12.9999 13H6.99987C6.73465 13 6.4803 13.1054 6.29276 13.2929C6.10522 13.4804 5.99987 13.7348 5.99987 14C5.99987 14.2652 6.10522 14.5196 6.29276 14.7071C6.4803 14.8946 6.73465 15 6.99987 15H12.9999C13.2651 15 13.5194 14.8946 13.707 14.7071C13.8945 14.5196 13.9999 14.2652 13.9999 14C13.9999 13.7348 13.8945 13.4804 13.707 13.2929C13.5194 13.1054 13.2651 13 12.9999 13ZM11.9999 2C10.6866 2 9.38629 2.25866 8.17303 2.7612C6.95978 3.26375 5.85738 4.00035 4.9288 4.92893C3.05343 6.8043 1.99987 9.34784 1.99987 12C1.99112 14.3091 2.79066 16.5485 4.25987 18.33L2.25987 20.33C2.12111 20.4706 2.02711 20.6492 1.98974 20.8432C1.95236 21.0372 1.97329 21.2379 2.04987 21.42C2.13292 21.5999 2.26757 21.7511 2.43671 21.8544C2.60586 21.9577 2.80187 22.0083 2.99987 22H11.9999C14.652 22 17.1956 20.9464 19.0709 19.0711C20.9463 17.1957 21.9999 14.6522 21.9999 12C21.9999 9.34784 20.9463 6.8043 19.0709 4.92893C17.1956 3.05357 14.652 2 11.9999 2ZM11.9999 20H5.40987L6.33987 19.07C6.52612 18.8826 6.63066 18.6292 6.63066 18.365C6.63066 18.1008 6.52612 17.8474 6.33987 17.66C5.03045 16.352 4.21504 14.6305 4.03256 12.7888C3.85007 10.947 4.31181 9.09901 5.33909 7.55952C6.36638 6.02004 7.89566 4.88436 9.66638 4.34597C11.4371 3.80759 13.3397 3.8998 15.0501 4.60691C16.7604 5.31402 18.1727 6.59227 19.0463 8.22389C19.9199 9.85551 20.2007 11.7395 19.841 13.555C19.4813 15.3705 18.5032 17.005 17.0734 18.1802C15.6436 19.3554 13.8506 19.9985 11.9999 20Z"
      fill="#009ADE"
    />
  </svg>
</template>
