<template>
  <svg id="circle-plus" width="25" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.5 2c-1.9778 0-3.91121.58649-5.5557 1.6853-1.64449 1.09882-2.92621 2.6606-3.68309 4.48787-.75688 1.82723-.95491 3.83793-.56906 5.77773s1.33826 3.7216 2.73679 5.1202c1.39852 1.3985 3.18035 2.3509 5.12016 2.7368 1.9398.3858 3.9505.1878 5.7777-.5691 1.8273-.7569 3.3891-2.0386 4.4879-3.6831C21.9135 15.9112 22.5 13.9778 22.5 12c0-1.3132-.2587-2.61358-.7612-3.82683-.5025-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773C15.1136 2.25866 13.8132 2 12.5 2Zm0 18c-1.5822 0-3.12896-.4692-4.44456-1.3482-1.31559-.8791-2.34097-2.1285-2.94647-3.5903-.6055-1.4618-.76393-3.0704-.45525-4.6222.30868-1.55187 1.07061-2.97733 2.18943-4.09615C7.96197 5.22433 9.38743 4.4624 10.9393 4.15372c1.5518-.30868 3.1604-.15026 4.6222.45524 1.4618.60551 2.7112 1.63088 3.5903 2.94648C20.0308 8.87103 20.5 10.4177 20.5 12c0 2.1217-.8428 4.1566-2.3431 5.6569C16.6566 19.1571 14.6217 20 12.5 20Zm4-9h-3V8c0-.26522-.1054-.51957-.2929-.70711C13.0196 7.10536 12.7652 7 12.5 7c-.2652 0-.5196.10536-.7071.29289-.1875.18754-.2929.44189-.2929.70711v3h-3c-.26521 0-.51957.1054-.7071.2929-.18754.1875-.2929.4419-.2929.7071 0 .2652.10536.5196.2929.7071.18753.1875.44189.2929.7071.2929h3v3c0 .2652.1054.5196.2929.7071S12.2348 17 12.5 17c.2652 0 .5196-.1054.7071-.2929S13.5 16.2652 13.5 16v-3h3c.2652 0 .5196-.1054.7071-.2929S17.5 12.2652 17.5 12c0-.2652-.1054-.5196-.2929-.7071S16.7652 11 16.5 11Z" fill="currentColor" />
  </svg>
</template>

<script>
export default {
  name: 'IconCirclePlus'
}
</script>
