<template>
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.175 9.99991L16.425 4.75824C16.5819 4.60132 16.6701 4.3885 16.6701 4.16658C16.6701 3.94466 16.5819 3.73183 16.425 3.57491C16.2681 3.41799 16.0552 3.32983 15.8333 3.32983C15.6114 3.32983 15.3986 3.41799 15.2417 3.57491L9.99999 8.82491L4.75832 3.57491C4.6014 3.41799 4.38857 3.32983 4.16666 3.32983C3.94474 3.32983 3.73191 3.41799 3.57499 3.57491C3.41807 3.73183 3.32991 3.94466 3.32991 4.16658C3.32991 4.3885 3.41807 4.60132 3.57499 4.75824L8.82499 9.99991L3.57499 15.2416C3.49688 15.319 3.43489 15.4112 3.39258 15.5128C3.35027 15.6143 3.32849 15.7232 3.32849 15.8332C3.32849 15.9433 3.35027 16.0522 3.39258 16.1537C3.43489 16.2553 3.49688 16.3474 3.57499 16.4249C3.65246 16.503 3.74463 16.565 3.84618 16.6073C3.94773 16.6496 4.05665 16.6714 4.16666 16.6714C4.27667 16.6714 4.38559 16.6496 4.48714 16.6073C4.58869 16.565 4.68085 16.503 4.75832 16.4249L9.99999 11.1749L15.2417 16.4249C15.3191 16.503 15.4113 16.565 15.5128 16.6073C15.6144 16.6496 15.7233 16.6714 15.8333 16.6714C15.9433 16.6714 16.0523 16.6496 16.1538 16.6073C16.2554 16.565 16.3475 16.503 16.425 16.4249C16.5031 16.3474 16.5651 16.2553 16.6074 16.1537C16.6497 16.0522 16.6715 15.9433 16.6715 15.8332C16.6715 15.7232 16.6497 15.6143 16.6074 15.5128C16.5651 15.4112 16.5031 15.319 16.425 15.2416L11.175 9.99991Z" fill="#7F8B91" />
  </svg>
</template>
