<template>
  <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="24" rx="12" fill="var(--circle-color)" />
    <path d="m12.94 11.9998 2.8667-2.86c.1255-.12554.196-.2958.196-.47334 0-.17753-.0705-.34779-.196-.47333-.1255-.12553-.2958-.19606-.4733-.19606-.1776 0-.3478.07053-.4734.19606L12 11.0598 9.14002 8.19313c-.12554-.12553-.2958-.19606-.47333-.19606-.17754 0-.3478.07053-.47334.19606-.12553.12554-.19606.2958-.19606.47333 0 .17754.07053.3478.19606.47334l2.86665 2.86-2.86665 2.86c-.06248.062-.11208.1357-.14592.2169-.03385.0813-.05128.1684-.05128.2564 0 .088.01743.1752.05128.2564.03384.0813.08344.155.14592.217.06198.0625.13571.112.21695.1459.08124.0338.16838.0513.25639.0513.088 0 .17514-.0175.25638-.0513.08124-.0339.15498-.0834.21695-.1459L12 12.9398l2.86 2.8667c.062.0625.1357.112.217.1459.0812.0338.1683.0513.2564.0513.088 0 .1751-.0175.2563-.0513.0813-.0339.155-.0834.217-.1459.0625-.062.1121-.1357.1459-.217.0339-.0812.0513-.1684.0513-.2564 0-.088-.0174-.1751-.0513-.2564-.0338-.0812-.0834-.1549-.1459-.2169l-2.8667-2.86Z" fill="var(--cross-color)" />
  </svg>
</template>

<script>
export default {
  name: 'IconDelete'
}
</script>
