<template>
  <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.9998 8.94c-.0104-.09187-.0305-.18237-.06-.27v-.09c-.048-.10282-.1122-.19733-.19-.28l-6-6c-.0826-.07778-.1771-.14192-.28-.19h-.09l-.32-.11H6.99985c-.79565 0-1.55871.31607-2.12132.87868C4.31592 3.44129 3.99985 4.20435 3.99985 5v14c0 .7956.31607 1.5587.87868 2.1213.56261.5626 1.32567.8787 2.12132.8787h9.99995c.7957 0 1.5588-.3161 2.1214-.8787s.8786-1.3257.8786-2.1213V8.94Zm-6-3.53 2.59 2.59h-2.59V5.41Zm4 13.59c0 .2652-.1053.5196-.2928.7071-.1876.1875-.4419.2929-.7072.2929H6.99985c-.26522 0-.51957-.1054-.70711-.2929-.18754-.1875-.29289-.4419-.29289-.7071V5c0-.26522.10535-.51957.29289-.70711C6.48028 4.10536 6.73463 4 6.99985 4h4.99995v5c0 .26522.1054.51957.2929.70711.1876.18753.4419.29289.7071.29289h5v9Z" fill="#2A3D48" />
  </svg>
</template>

<script>
export default {
  name: 'IconDocument'
}
</script>
