<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 20c2.1217 0 4.1566-.8429 5.6569-2.3431C19.1571 16.1566 20 14.1217 20 12c0-2.12173-.8429-4.15656-2.3431-5.65685C16.1566 4.84285 14.1217 4 12 4c-2.12173 0-4.15656.84285-5.65685 2.34315C4.84285 7.84344 4 9.87827 4 12c0 2.1217.84285 4.1566 2.34315 5.6569C7.84344 19.1571 9.87827 20 12 20ZM10.707 9.293c-.1886-.18216-.4412-.28295-.7034-.28067-.2622.00227-.51301.10744-.69842.29285-.18541.18541-.29058.43622-.29285.69842-.00228.2622.09851.5148.28067.7034L10.586 12l-1.293 1.293c-.09551.0922-.17169.2026-.2241.3246-.05241.122-.08.2532-.08115.386-.00115.1328.02415.2645.07443.3874.05028.1229.12453.2345.21842.3284.0939.0939.20555.1681.32845.2184.12289.0503.25457.0756.38735.0745.1328-.0012.264-.0288.386-.0812.122-.0524.2324-.1286.3246-.2241L12 13.414l1.293 1.293c.1886.1822.4412.283.7034.2807.2622-.0023.513-.1075.6984-.2929s.2906-.4362.2929-.6984c.0023-.2622-.0985-.5148-.2807-.7034L13.414 12l1.293-1.293c.1822-.1886.283-.4412.2807-.7034-.0023-.2622-.1075-.51301-.2929-.69842-.1854-.18541-.4362-.29058-.6984-.29285-.2622-.00228-.5148.09851-.7034.28067L12 10.586l-1.293-1.293Z" fill="#DE2A35" />
  </svg>
</template>

<script>
export default {
  name: 'IconError'
}
</script>
