<template>
  <svg
    width="16"
    height="20"
    viewBox="0 0 16 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2 0H10L16 6V18C16 19.1 15.1 20 14 20H1.99C0.89 20 0 19.1 0 18L0.01 2C0.01 0.9 0.9 0 2 0ZM3.99998 16H12V14H3.99998V16ZM12 12H3.99998V10H12V12ZM9 1.5V7H14.5L9 1.5Z"
    />
  </svg>
</template>
