<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.2415 11.9083L4.99983 12.1583V5.83333C4.99983 5.61232 4.91203 5.40036 4.75575 5.24408C4.59947 5.0878 4.38751 5 4.1665 5C3.94548 5 3.73352 5.0878 3.57724 5.24408C3.42096 5.40036 3.33316 5.61232 3.33316 5.83333V12.1583L3.0915 11.9083C2.93458 11.7514 2.72175 11.6633 2.49983 11.6633C2.27791 11.6633 2.06508 11.7514 1.90816 11.9083C1.75124 12.0653 1.66309 12.2781 1.66309 12.5C1.66309 12.7219 1.75124 12.9347 1.90816 13.0917L3.57483 14.7583C3.65408 14.8342 3.74754 14.8937 3.84983 14.9333C3.94958 14.9774 4.05744 15.0002 4.1665 15.0002C4.27555 15.0002 4.38341 14.9774 4.48316 14.9333C4.58546 14.8937 4.67891 14.8342 4.75816 14.7583L6.42483 13.0917C6.50253 13.014 6.56416 12.9217 6.60621 12.8202C6.64826 12.7187 6.66991 12.6099 6.66991 12.5C6.66991 12.3901 6.64826 12.2813 6.60621 12.1798C6.56416 12.0783 6.50253 11.986 6.42483 11.9083C6.34713 11.8306 6.25489 11.769 6.15337 11.727C6.05185 11.6849 5.94305 11.6633 5.83316 11.6633C5.72328 11.6633 5.61447 11.6849 5.51296 11.727C5.41144 11.769 5.31919 11.8306 5.2415 11.9083ZM9.1665 6.66667H17.4998C17.7208 6.66667 17.9328 6.57887 18.0891 6.42259C18.2454 6.26631 18.3332 6.05435 18.3332 5.83333C18.3332 5.61232 18.2454 5.40036 18.0891 5.24408C17.9328 5.0878 17.7208 5 17.4998 5H9.1665C8.94548 5 8.73352 5.0878 8.57724 5.24408C8.42096 5.40036 8.33316 5.61232 8.33316 5.83333C8.33316 6.05435 8.42096 6.26631 8.57724 6.42259C8.73352 6.57887 8.94548 6.66667 9.1665 6.66667ZM17.4998 9.16667H9.1665C8.94548 9.16667 8.73352 9.25446 8.57724 9.41074C8.42096 9.56703 8.33316 9.77899 8.33316 10C8.33316 10.221 8.42096 10.433 8.57724 10.5893C8.73352 10.7455 8.94548 10.8333 9.1665 10.8333H17.4998C17.7208 10.8333 17.9328 10.7455 18.0891 10.5893C18.2454 10.433 18.3332 10.221 18.3332 10C18.3332 9.77899 18.2454 9.56703 18.0891 9.41074C17.9328 9.25446 17.7208 9.16667 17.4998 9.16667ZM17.4998 13.3333H9.1665C8.94548 13.3333 8.73352 13.4211 8.57724 13.5774C8.42096 13.7337 8.33316 13.9457 8.33316 14.1667C8.33316 14.3877 8.42096 14.5996 8.57724 14.7559C8.73352 14.9122 8.94548 15 9.1665 15H17.4998C17.7208 15 17.9328 14.9122 18.0891 14.7559C18.2454 14.5996 18.3332 14.3877 18.3332 14.1667C18.3332 13.9457 18.2454 13.7337 18.0891 13.5774C17.9328 13.4211 17.7208 13.3333 17.4998 13.3333Z" :fill="color" />
  </svg>
</template>

<script>
export default {
  name: 'IconMiniSort',
  props: {
    color: {
      type: String,
      default: '#7F8B91'
    },
    size: {
      type: [Number, String],
      default: 20
    }
  }
}
</script>
