<template>
  <svg :width="size" :height="size" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 7H7C6.73478 7 6.48043 7.10536 6.29289 7.29289C6.10536 7.48043 6 7.73478 6 8V9C6 9.55228 6.44772 10 7 10C7.55228 10 8 9.55228 8 9H10V10C10 10.2652 10.1054 10.5196 10.2929 10.7071C10.4804 10.8946 10.7348 11 11 11C11.2652 11 11.5196 10.8946 11.7071 10.7071C11.8946 10.5196 12 10.2652 12 10V9H16V10C16 10.2652 16.1054 10.5196 16.2929 10.7071C16.4804 10.8946 16.7348 11 17 11C17.2652 11 17.5196 10.8946 17.7071 10.7071C17.8946 10.5196 18 10.2652 18 10V9H20V19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H9C8.73478 20 8.48043 19.8946 8.29289 19.7071C8.10536 19.5196 8 19.2652 8 19C8 18.4477 7.55228 18 7 18C6.44772 18 6 18.4477 6 19C6 19.7956 6.31607 20.5587 6.87868 21.1213C7.44129 21.6839 8.20435 22 9 22H19C19.7956 22 20.5587 21.6839 21.1213 21.1213C21.6839 20.5587 22 19.7956 22 19V8C22 7.73478 21.8946 7.48043 21.7071 7.29289C21.5196 7.10536 21.2652 7 21 7H18V6C18 4.93913 17.5786 3.92172 16.8284 3.17157C16.0783 2.42143 15.0609 2 14 2C12.9391 2 11.9217 2.42143 11.1716 3.17157C10.4214 3.92172 10 4.93913 10 6V7ZM15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V7H12V6C12 5.46957 12.2107 4.96086 12.5858 4.58579C12.9609 4.21071 13.4696 4 14 4C14.5304 4 15.0391 4.21071 15.4142 4.58579Z" :fill="color" />
    <path d="M2 13.9999C2 13.4477 2.44771 12.9999 3 12.9999C3.55228 12.9999 5.59 12.9999 5.59 12.9999L4.79 12.2099C4.69676 12.1167 4.6228 12.006 4.57234 11.8842C4.52188 11.7624 4.4959 11.6318 4.4959 11.4999C4.4959 11.3681 4.52188 11.2375 4.57234 11.1157C4.6228 10.9939 4.69676 10.8832 4.79 10.7899C4.88324 10.6967 4.99393 10.6227 5.11575 10.5723C5.23757 10.5218 5.36814 10.4958 5.5 10.4958C5.63186 10.4958 5.76242 10.5218 5.88424 10.5723C6.00607 10.6227 6.11676 10.6967 6.21 10.7899L8.71 13.2899C8.80104 13.385 8.8724 13.4972 8.92 13.6199C9.02001 13.8634 9.02001 14.1365 8.92 14.3799C8.8724 14.5027 8.80104 14.6148 8.71 14.7099L6.21 17.2099C6.11703 17.3037 6.00643 17.3781 5.88457 17.4288C5.76271 17.4796 5.63201 17.5057 5.5 17.5057C5.36798 17.5057 5.23728 17.4796 5.11542 17.4288C4.99356 17.3781 4.88296 17.3037 4.79 17.2099C4.69627 17.117 4.62187 17.0064 4.5711 16.8845C4.52034 16.7627 4.4942 16.632 4.4942 16.4999C4.4942 16.3679 4.52034 16.2372 4.5711 16.1154C4.62187 15.9935 4.69627 15.8829 4.79 15.7899L5.59 14.9999H3C2.44771 14.9999 2 14.5522 2 13.9999Z" :fill="color" />
  </svg>
</template>

<script>
export default {
  name: 'IconMiniRestore',
  props: {
    color: {
      type: String,
      default: '#7F8B91'
    },
    size: {
      type: [Number, String],
      default: 20
    }
  }
}
</script>
