<template>
  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.66 5C19.5999 3.93721 18.1948 3.28854 16.6983 3.17117C15.2018 3.0538 13.7127 3.47546 12.5 4.36C11.2276 3.41364 9.64396 2.98451 8.06789 3.15903C6.49182 3.33356 5.04041 4.09878 4.00594 5.30058C2.97148 6.50239 2.43079 8.05152 2.49277 9.63601C2.55475 11.2205 3.21479 12.7227 4.33997 13.84L10.55 20.06C11.07 20.5718 11.7704 20.8586 12.5 20.8586C13.2296 20.8586 13.93 20.5718 14.45 20.06L20.66 13.84C21.8275 12.6653 22.4829 11.0763 22.4829 9.42C22.4829 7.76372 21.8275 6.17473 20.66 5ZM19.25 12.46L13.04 18.67C12.9693 18.7414 12.8852 18.798 12.7925 18.8366C12.6998 18.8753 12.6004 18.8952 12.5 18.8952C12.3995 18.8952 12.3001 18.8753 12.2074 18.8366C12.1147 18.798 12.0306 18.7414 11.96 18.67L5.74997 12.43C4.96573 11.6283 4.52658 10.5515 4.52658 9.43C4.52658 8.30853 4.96573 7.23165 5.74997 6.43C6.54913 5.64099 7.62694 5.19857 8.74997 5.19857C9.873 5.19857 10.9508 5.64099 11.75 6.43C11.8429 6.52373 11.9535 6.59812 12.0754 6.64889C12.1973 6.69966 12.328 6.7258 12.46 6.7258C12.592 6.7258 12.7227 6.69966 12.8445 6.64889C12.9664 6.59812 13.077 6.52373 13.17 6.43C13.9691 5.64099 15.0469 5.19857 16.17 5.19857C17.293 5.19857 18.3708 5.64099 19.17 6.43C19.965 7.22115 20.4186 8.29219 20.4335 9.41368C20.4485 10.5352 20.0236 11.6179 19.25 12.43V12.46Z" fill="#2A3D48" />
  </svg>
</template>

<script>
export default {
  props: {
    size: {
      type: [Number, String],
      default: 24
    }
  }
}
</script>
