<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5159 18.9662C12.4278 18.9767 12.3387 18.9767 12.2506 18.9662L10.2414 18.481C10.062 18.4198 9.86738 18.4198 9.68798 18.481L7.41347 18.9738C7.07789 19.0471 6.72716 18.9648 6.45923 18.7498C6.1913 18.5349 6.03486 18.2104 6.03361 17.8669V13.6894C6.03284 13.3024 6.23024 12.9419 6.55675 12.7341C6.87776 12.5241 7.28381 12.4926 7.63334 12.6507C10.0147 13.7295 12.827 12.9134 14.261 10.7274C15.6949 8.54146 15.3234 5.63681 13.3853 3.88218C11.4473 2.12755 8.52011 2.04565 6.48699 3.68917C4.45386 5.33268 3.92047 8.21202 5.22995 10.4748C5.41828 10.8348 5.28934 11.2793 4.93757 11.4826C4.58581 11.6859 4.13629 11.5758 3.91832 11.2329C3.13325 9.87693 2.83877 8.29207 3.08434 6.74457C3.53867 3.90834 5.72053 1.66032 8.54193 1.12149C11.3633 0.582664 14.2201 1.86841 15.6876 4.3376C17.1552 6.80679 16.9193 9.93064 15.0976 12.1514C13.2759 14.3722 10.2584 15.2144 7.54994 14.258V17.3892L9.25582 17.0177C9.70178 16.8729 10.1821 16.8729 10.6281 17.0177L12.0989 17.3665V16.1079C12.0989 15.6892 12.4384 15.3498 12.8571 15.3498C13.2758 15.3498 13.6153 15.6892 13.6153 16.1079V17.829C13.6153 18.4571 13.1061 18.9662 12.478 18.9662H12.5159Z" fill="#783CBD" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.63508 9.82281L12.6677 6.79014C12.9254 6.48933 12.908 6.04093 12.628 5.76088C12.3479 5.48084 11.8995 5.46352 11.5987 5.72113L9.10436 8.2155L8.12632 7.23746C7.82551 6.97985 7.37711 6.99717 7.09706 7.27722C6.81702 7.55726 6.7997 8.00567 7.05731 8.30648L8.57364 9.82281C8.86936 10.1168 9.34695 10.1168 9.64266 9.82281H9.63508Z" fill="#FF8300" />
  </svg>
</template>

<script>
export default {
  props: {
    size: {
      type: [Number, String],
      default: 20
    }
  }
}
</script>
