<template>
  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.5 6H2.5C1.94772 6 1.5 6.44772 1.5 7C1.5 7.55228 1.94772 8 2.5 8H9.5C10.0523 8 10.5 7.55228 10.5 7C10.5 6.44772 10.0523 6 9.5 6Z" fill="#2A3D48" />
    <path d="M11.5 12H2.5C1.94772 12 1.5 12.4477 1.5 13C1.5 13.5523 1.94772 14 2.5 14H11.5C12.0523 14 12.5 13.5523 12.5 13C12.5 12.4477 12.0523 12 11.5 12Z" fill="#2A3D48" />
    <path d="M22.5 18H2.5C1.94772 18 1.5 18.4477 1.5 19C1.5 19.5523 1.94772 20 2.5 20H22.5C23.0523 20 23.5 19.5523 23.5 19C23.5 18.4477 23.0523 18 22.5 18Z" fill="#2A3D48" />
    <path d="M22.7042 13.2669L20.9752 11.5496C21.3941 10.8709 21.6187 10.0905 21.6248 9.29321C21.6228 8.44297 21.3688 7.61237 20.8947 6.90624C20.4207 6.20012 19.7478 5.65012 18.9612 5.32565C18.1745 5.00119 17.3093 4.91682 16.4746 5.08318C15.64 5.24953 14.8734 5.65917 14.2716 6.26038C13.6698 6.86159 13.2598 7.62743 13.0933 8.46124C12.9267 9.29505 13.0112 10.1595 13.336 10.9454C13.6608 11.7313 14.2113 12.4034 14.9181 12.877C15.6249 13.3506 16.4563 13.6044 17.3074 13.6064C18.1038 13.6074 18.8851 13.3898 19.5661 12.9774L21.285 14.7047C21.3779 14.7982 21.4885 14.8725 21.6102 14.9232C21.732 14.9739 21.8627 15 21.9946 15C22.1265 15 22.2572 14.9739 22.3789 14.9232C22.5007 14.8725 22.6113 14.7982 22.7042 14.7047C22.8009 14.6115 22.8778 14.4999 22.9304 14.3764C22.9829 14.2528 23.01 14.12 23.01 13.9858C23.01 13.8516 22.9829 13.7188 22.9304 13.5953C22.8778 13.4717 22.8009 13.3601 22.7042 13.2669ZM18.9464 10.9805C18.6187 11.304 18.2019 11.5225 17.7492 11.6083C17.2966 11.6941 16.8286 11.6432 16.405 11.4622C15.9815 11.2811 15.6215 10.9781 15.371 10.5918C15.1206 10.2055 14.991 9.75341 14.9988 9.29321C14.9986 8.99051 15.0586 8.69078 15.1752 8.41141C15.2919 8.13204 15.4629 7.8786 15.6784 7.66578C16.1128 7.23472 16.7002 6.9928 17.3124 6.9928C17.9247 6.9928 18.5121 7.23472 18.9464 7.66578C19.1613 7.88 19.3317 8.13445 19.448 8.41457C19.5643 8.69468 19.6242 8.99495 19.6242 9.2982C19.6242 9.60146 19.5643 9.90173 19.448 10.1818C19.3317 10.462 19.1613 10.7164 18.9464 10.9306V10.9805Z" fill="#2A3D48" />
  </svg>
</template>
