<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.99957 18.3633C5.81691 14.1502 3.72559 10.6659 3.72559 7.91045C3.72559 4.44543 6.53454 1.63647 9.99957 1.63647C13.4646 1.63647 16.2736 4.44543 16.2736 7.91045C16.2736 10.6659 14.1822 14.1502 9.99957 18.3633ZM5.22559 7.91045C5.22559 9.95274 6.79039 12.7537 9.99957 16.2005C13.2087 12.7537 14.7736 9.95274 14.7736 7.91045C14.7736 5.27386 12.6362 3.13647 9.99957 3.13647C7.36297 3.13647 5.22559 5.27386 5.22559 7.91045ZM6.99956 7.91045C6.99956 6.2536 8.34274 4.91045 9.99957 4.91045C11.6564 4.91045 12.9996 6.2536 12.9996 7.91045C12.9996 9.56733 11.6564 10.9105 9.99957 10.9105C8.34274 10.9105 6.99956 9.56733 6.99956 7.91045ZM9.99957 6.41045C9.17115 6.41045 8.49957 7.08203 8.49957 7.91045C8.49957 8.73891 9.17115 9.41049 9.99957 9.41049C10.828 9.41049 11.4996 8.73891 11.4996 7.91045C11.4996 7.08203 10.828 6.41045 9.99957 6.41045Z" fill="currentColor" />
  </svg>
</template>

<script>
export default {
  props: {
    size: {
      type: [Number, String],
      default: 25
    }
  }
}
</script>
