<template>
  <svg :width="size" :height="size" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.1981 3.17134C17.6946 3.28871 19.0997 3.93737 20.1598 5.00017C21.3274 6.1749 21.9827 7.76389 21.9827 9.42017C21.9827 11.0764 21.3274 12.6654 20.1598 13.8402L13.9498 20.0602C13.4298 20.5719 12.7294 20.8588 11.9998 20.8588C11.2702 20.8588 10.5698 20.5719 10.0498 20.0602L7.47112 17.4774C6.92661 16.932 7.31289 16.0005 8.08356 16.0005C8.54405 16.0005 8.98556 16.184 9.31039 16.5104L11.4598 18.6702C11.5304 18.7415 11.6146 18.7982 11.7072 18.8368C11.7999 18.8755 11.8994 18.8954 11.9998 18.8954C12.1002 18.8954 12.1996 18.8755 12.2923 18.8368C12.385 18.7982 12.4691 18.7415 12.5398 18.6702L18.7498 12.4602V12.4302C19.5234 11.6181 19.9483 10.5353 19.9333 9.41385C19.9184 8.29236 19.4648 7.22132 18.6698 6.43017C17.8706 5.64115 16.7928 5.19873 15.6698 5.19873C14.5468 5.19873 13.4689 5.64115 12.6698 6.43017C12.5768 6.52389 12.4662 6.59829 12.3444 6.64906C12.2225 6.69983 12.0918 6.72596 11.9598 6.72596C11.8278 6.72596 11.6971 6.69983 11.5752 6.64906C11.4533 6.59829 11.3427 6.52389 11.2498 6.43017C10.4506 5.64115 9.37281 5.19873 8.24978 5.19873C7.12675 5.19873 6.04894 5.64115 5.24978 6.43017C5.19997 6.48108 5.15155 6.53311 5.10455 6.58619C4.88619 6.83277 4.58394 7.00049 4.25456 7.00049H3.95555C3.24352 7.00049 2.77032 6.27536 3.18952 5.69982C3.28914 5.56304 3.3946 5.42989 3.50575 5.30075C4.54022 4.09894 5.99163 3.33373 7.5677 3.1592C9.14377 2.98468 10.7274 3.4138 11.9998 4.36017C13.2125 3.47563 14.7017 3.05397 16.1981 3.17134Z" :fill="color" />
    <path d="M1.0001 11.5041C1.0001 10.9518 1.44782 10.5041 2.0001 10.5041H4.5901L3.7901 9.71409C3.69687 9.62085 3.6229 9.51016 3.57244 9.38834C3.52198 9.26652 3.49601 9.13595 3.49601 9.00409C3.49601 8.87223 3.52198 8.74166 3.57244 8.61984C3.6229 8.49802 3.69687 8.38733 3.7901 8.29409C3.88334 8.20085 3.99403 8.12689 4.11585 8.07643C4.23768 8.02597 4.36824 8 4.5001 8C4.63196 8 4.76253 8.02597 4.88435 8.07643C5.00617 8.12689 5.11687 8.20085 5.2101 8.29409L7.7101 10.7941C7.80114 10.8892 7.87251 11.0013 7.9201 11.1241C8.02012 11.3676 8.02012 11.6406 7.9201 11.8841C7.87251 12.0068 7.80114 12.119 7.7101 12.2141L5.2101 14.7141C5.11714 14.8078 5.00654 14.8822 4.88468 14.933C4.76282 14.9838 4.63212 15.0099 4.5001 15.0099C4.36809 15.0099 4.23739 14.9838 4.11553 14.933C3.99367 14.8822 3.88307 14.8078 3.7901 14.7141C3.69638 14.6211 3.62198 14.5105 3.57121 14.3887C3.52044 14.2668 3.4943 14.1361 3.4943 14.0041C3.4943 13.8721 3.52044 13.7414 3.57121 13.6195C3.62198 13.4977 3.69638 13.3871 3.7901 13.2941L4.5901 12.5041H2.0001C1.44782 12.5041 1.0001 12.0564 1.0001 11.5041Z" :fill="color" />
  </svg>
</template>

<script>
export default {
  name: 'IconMiniSave',
  props: {
    color: {
      type: String,
      default: '#7F8B91'
    },
    size: {
      type: [Number, String],
      default: 20
    }
  }
}
</script>
