<template>
  <svg :width="size" :height="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.33333 15.0001C8.55435 15.0001 8.76631 14.9123 8.92259 14.756C9.07887 14.5997 9.16667 14.3878 9.16667 14.1667V9.16675C9.16667 8.94573 9.07887 8.73377 8.92259 8.57749C8.76631 8.42121 8.55435 8.33342 8.33333 8.33342C8.11232 8.33342 7.90036 8.42121 7.74408 8.57749C7.5878 8.73377 7.5 8.94573 7.5 9.16675V14.1667C7.5 14.3878 7.5878 14.5997 7.74408 14.756C7.90036 14.9123 8.11232 15.0001 8.33333 15.0001ZM16.6667 5.00008H13.3333V4.16675C13.3333 3.50371 13.0699 2.86782 12.6011 2.39898C12.1323 1.93014 11.4964 1.66675 10.8333 1.66675H9.16667C8.50363 1.66675 7.86774 1.93014 7.3989 2.39898C6.93006 2.86782 6.66667 3.50371 6.66667 4.16675V5.00008H3.33333C3.11232 5.00008 2.90036 5.08788 2.74408 5.24416C2.5878 5.40044 2.5 5.6124 2.5 5.83342C2.5 6.05443 2.5878 6.26639 2.74408 6.42267C2.90036 6.57895 3.11232 6.66675 3.33333 6.66675H4.16667V15.8334C4.16667 16.4965 4.43006 17.1323 4.8989 17.6012C5.36774 18.07 6.00363 18.3334 6.66667 18.3334H13.3333C13.9964 18.3334 14.6323 18.07 15.1011 17.6012C15.5699 17.1323 15.8333 16.4965 15.8333 15.8334V6.66675H16.6667C16.8877 6.66675 17.0996 6.57895 17.2559 6.42267C17.4122 6.26639 17.5 6.05443 17.5 5.83342C17.5 5.6124 17.4122 5.40044 17.2559 5.24416C17.0996 5.08788 16.8877 5.00008 16.6667 5.00008ZM8.33333 4.16675C8.33333 3.94573 8.42113 3.73377 8.57741 3.57749C8.73369 3.42121 8.94565 3.33341 9.16667 3.33341H10.8333C11.0543 3.33341 11.2663 3.42121 11.4226 3.57749C11.5789 3.73377 11.6667 3.94573 11.6667 4.16675V5.00008H8.33333V4.16675ZM14.1667 15.8334C14.1667 16.0544 14.0789 16.2664 13.9226 16.4227C13.7663 16.579 13.5543 16.6667 13.3333 16.6667H6.66667C6.44565 16.6667 6.23369 16.579 6.07741 16.4227C5.92113 16.2664 5.83333 16.0544 5.83333 15.8334V6.66675H14.1667V15.8334ZM11.6667 15.0001C11.8877 15.0001 12.0996 14.9123 12.2559 14.756C12.4122 14.5997 12.5 14.3878 12.5 14.1667V9.16675C12.5 8.94573 12.4122 8.73377 12.2559 8.57749C12.0996 8.42121 11.8877 8.33342 11.6667 8.33342C11.4457 8.33342 11.2337 8.42121 11.0774 8.57749C10.9211 8.73377 10.8333 8.94573 10.8333 9.16675V14.1667C10.8333 14.3878 10.9211 14.5997 11.0774 14.756C11.2337 14.9123 11.4457 15.0001 11.6667 15.0001Z" :fill="color" />
  </svg>
</template>

<script>
export default {
  name: 'IconMiniDelete',
  props: {
    color: {
      type: String,
      default: '#7F8B91'
    },
    size: {
      type: [Number, String],
      default: 20
    }
  }
}
</script>
