<template>
  <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.27035 7.5C4.7629 7.5 4.33589 7.88009 4.27708 8.38412L3.28382 8.26824L4.27708 8.38412L2.87708 20.3841C2.80776 20.9783 3.27216 21.5 3.87035 21.5H19.1297C19.7278 21.5 20.1922 20.9784 20.1229 20.3841C20.1229 20.3841 20.1229 20.3841 20.1229 20.384L18.7229 8.38411C18.6641 7.88008 18.2371 7.5 17.7297 7.5H5.27035ZM2.29056 8.15236C2.46697 6.64025 3.74798 5.5 5.27035 5.5H17.7297C19.2521 5.5 20.5331 6.64026 20.7095 8.15237L22.1095 20.1523L22.1095 20.1524C22.3174 21.9348 20.9244 23.5 19.1297 23.5H3.87035C2.07572 23.5 0.6826 21.9349 0.890556 20.1523L1.88382 20.2682L0.890557 20.1523L2.29056 8.15236L2.29056 8.15236Z" fill="#2A3D48" />
    <path d="M15 6.5C14.4477 6.5 14 6.05228 14 5.5V5C14 3.61929 12.8807 2.5 11.5 2.5C10.1193 2.5 9 3.61929 9 5V5.5C9 6.05228 8.55228 6.5 8 6.5C7.44772 6.5 7 6.05228 7 5.5V5C7 2.51472 9.0147 0.5 11.5 0.5C13.9853 0.5 16 2.51472 16 5V5.5C16 6.05228 15.5523 6.5 15 6.5Z" fill="#2A3D48" />
    <path d="M9 9V9.5C9 10.8807 10.1193 12 11.5 12C12.8807 12 14 10.8807 14 9.5V9H16V9.5C16 11.9853 13.9853 14 11.5 14C9.0147 14 7 11.9853 7 9.5V9H9Z" fill="#2A3D48" />
  </svg>
</template>

<script>
export default {
  props: {
    size: {
      type: [Number, String],
      default: 24
    }
  }
}
</script>
