<template>
  <svg
    v-once
    width="0"
    height="0"
    class="hidden"
  >
    <symbol
      id="is-search"
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M17.0918 15.9083L14.0002 12.8416C15.2002 11.3453 15.7814 9.44606 15.6242 7.5344C15.4669 5.62273 14.5832 3.84397 13.1548 2.56385C11.7263 1.28374 9.86167 0.599573 7.94427 0.65204C6.02686 0.704507 4.20243 1.48962 2.84612 2.84593C1.4898 4.20225 0.70469 6.02668 0.652223 7.94408C0.599756 9.86149 1.28392 11.7261 2.56403 13.1546C3.84415 14.583 5.62292 15.4667 7.53458 15.624C9.44625 15.7812 11.3455 15.2001 12.8418 14L15.9085 17.0666C15.986 17.1448 16.0781 17.2068 16.1797 17.2491C16.2812 17.2914 16.3902 17.3131 16.5002 17.3131C16.6102 17.3131 16.7191 17.2914 16.8206 17.2491C16.9222 17.2068 17.0144 17.1448 17.0918 17.0666C17.242 16.9113 17.326 16.7036 17.326 16.4875C17.326 16.2714 17.242 16.0637 17.0918 15.9083ZM8.16683 14C7.01311 14 5.88529 13.6579 4.926 13.0169C3.96672 12.3759 3.21904 11.4649 2.77753 10.399C2.33602 9.33307 2.2205 8.16018 2.44558 7.02862C2.67066 5.89707 3.22624 4.85767 4.04204 4.04186C4.85785 3.22605 5.89725 2.67048 7.0288 2.4454C8.16036 2.22032 9.33325 2.33584 10.3992 2.77735C11.4651 3.21886 12.3761 3.96654 13.0171 4.92582C13.658 5.88511 14.0002 7.01292 14.0002 8.16665C14.0002 9.71375 13.3856 11.1975 12.2916 12.2914C11.1977 13.3854 9.71393 14 8.16683 14Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-ellipsis"
      width="18"
      height="18"
      viewBox="0 0 18 4"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M9 0C8.60444 0 8.21776 0.117298 7.88886 0.337061C7.55996 0.556824 7.30362 0.869181 7.15224 1.23463C7.00087 1.60009 6.96126 2.00222 7.03843 2.39018C7.1156 2.77814 7.30608 3.13451 7.58579 3.41421C7.86549 3.69392 8.22186 3.8844 8.60982 3.96157C8.99778 4.03874 9.39992 3.99913 9.76537 3.84776C10.1308 3.69638 10.4432 3.44004 10.6629 3.11114C10.8827 2.78224 11 2.39556 11 2C11 1.46957 10.7893 0.96086 10.4142 0.585787C10.0391 0.210714 9.53043 0 9 0ZM2 0C1.60444 0 1.21776 0.117298 0.88886 0.337061C0.559962 0.556824 0.303617 0.869181 0.152242 1.23463C0.000866562 1.60009 -0.0387401 2.00222 0.0384303 2.39018C0.115601 2.77814 0.306082 3.13451 0.585787 3.41421C0.865492 3.69392 1.22186 3.8844 1.60982 3.96157C1.99778 4.03874 2.39992 3.99913 2.76537 3.84776C3.13082 3.69638 3.44318 3.44004 3.66294 3.11114C3.8827 2.78224 4 2.39556 4 2C4 1.46957 3.78929 0.96086 3.41421 0.585787C3.03914 0.210714 2.53043 0 2 0ZM16 0C15.6044 0 15.2178 0.117298 14.8889 0.337061C14.56 0.556824 14.3036 0.869181 14.1522 1.23463C14.0009 1.60009 13.9613 2.00222 14.0384 2.39018C14.1156 2.77814 14.3061 3.13451 14.5858 3.41421C14.8655 3.69392 15.2219 3.8844 15.6098 3.96157C15.9978 4.03874 16.3999 3.99913 16.7654 3.84776C17.1308 3.69638 17.4432 3.44004 17.6629 3.11114C17.8827 2.78224 18 2.39556 18 2C18 1.46957 17.7893 0.96086 17.4142 0.585787C17.0391 0.210714 16.5304 0 16 0Z" fill="currentColor" />
    </symbol>

    <symbol
      id="is-checked"
      width="12"
      height="12"
      viewBox="0 0 12 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <mask
        id="mask0"
        mask-type="alpha"
        maskUnits="userSpaceOnUse"
        x="1"
        y="2"
        width="10"
        height="8"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.3536 2.64645C10.5488 2.84171 10.5488 3.15829 10.3536 3.35355L4.85355 8.85355C4.65829 9.04882 4.34171 9.04882 4.14645 8.85355L1.64645 6.35355C1.45118 6.15829 1.45118 5.84171 1.64645 5.64645C1.84171 5.45118 2.15829 5.45118 2.35355 5.64645L4.5 7.79289L9.64645 2.64645C9.84171 2.45118 10.1583 2.45118 10.3536 2.64645Z"
          fill="currentColor"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </mask>
      <g mask="url(#mask0)">
        <rect width="12" height="12" fill="currentColor" />
      </g>
    </symbol>
    <symbol
      id="is-sortings"
      width="17"
      height="18"
      viewBox="0 0 17 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M11.6833 15.6667H16C16.221 15.6667 16.4329 15.5789 16.5892 15.4226C16.7455 15.2663 16.8333 15.0544 16.8333 14.8333C16.8333 14.6123 16.7455 14.4004 16.5892 14.2441C16.4329 14.0878 16.221 14 16 14H11.6833C11.5081 13.5174 11.1886 13.1004 10.7682 12.8057C10.3477 12.511 9.84673 12.3529 9.33329 12.3529C8.81986 12.3529 8.31888 12.511 7.89843 12.8057C7.47798 13.1004 7.15846 13.5174 6.98329 14L0.999959 14C0.778946 14 0.566983 14.0878 0.410703 14.2441C0.254423 14.4004 0.166626 14.6123 0.166626 14.8333C0.166626 15.0544 0.254423 15.2663 0.410703 15.4226C0.566983 15.5789 0.778946 15.6667 0.999959 15.6667H6.98329C7.15846 16.1493 7.47798 16.5663 7.89843 16.861C8.31888 17.1557 8.81986 17.3137 9.33329 17.3137C9.84673 17.3137 10.3477 17.1557 10.7682 16.861C11.1886 16.5663 11.5081 16.1493 11.6833 15.6667ZM8.49996 14.8333C8.49996 14.6685 8.54883 14.5074 8.6404 14.3704C8.73197 14.2333 8.86212 14.1265 9.01439 14.0634C9.16666 14.0004 9.33422 13.9839 9.49587 14.016C9.65752 14.0482 9.806 14.1275 9.92255 14.2441C10.0391 14.3606 10.1185 14.5091 10.1506 14.6708C10.1828 14.8324 10.1663 15 10.1032 15.1522C10.0401 15.3045 9.93331 15.4347 9.79627 15.5262C9.65923 15.6178 9.49811 15.6667 9.33329 15.6667C9.11228 15.6667 8.90032 15.5789 8.74404 15.4226C8.58776 15.2663 8.49996 15.0544 8.49996 14.8333ZM6.68329 9.83334H16C16.221 9.83334 16.4329 9.74554 16.5892 9.58926C16.7455 9.43298 16.8333 9.22102 16.8333 9.00001C16.8333 8.77899 16.7455 8.56703 16.5892 8.41075C16.4329 8.25447 16.221 8.16667 16 8.16667H6.68329C6.50812 7.68405 6.1886 7.26706 5.76816 6.97238C5.34771 6.67769 4.84673 6.51961 4.33329 6.51961C3.81986 6.51961 3.31888 6.67769 2.89843 6.97238C2.47798 7.26706 2.15846 7.68405 1.98329 8.16667L0.99996 8.16667C0.778946 8.16667 0.566984 8.25447 0.410703 8.41075C0.254423 8.56703 0.166626 8.77899 0.166626 9.00001C0.166626 9.22102 0.254423 9.43298 0.410703 9.58926C0.566984 9.74554 0.778946 9.83334 0.99996 9.83334H1.98329C2.15846 10.316 2.47798 10.733 2.89843 11.0276C3.31888 11.3223 3.81986 11.4804 4.33329 11.4804C4.84673 11.4804 5.34771 11.3223 5.76816 11.0276C6.1886 10.733 6.50812 10.316 6.68329 9.83334ZM3.49996 9.00001C3.49996 8.83519 3.54883 8.67407 3.6404 8.53703C3.73197 8.39999 3.86212 8.29318 4.01439 8.23011C4.16666 8.16704 4.33422 8.15053 4.49587 8.18269C4.65752 8.21484 4.80601 8.29421 4.92255 8.41075C5.03909 8.5273 5.11846 8.67578 5.15061 8.83743C5.18277 8.99908 5.16627 9.16664 5.10319 9.31891C5.04012 9.47118 4.93331 9.60133 4.79627 9.6929C4.65923 9.78447 4.49811 9.83334 4.33329 9.83334C4.11228 9.83334 3.90032 9.74554 3.74404 9.58926C3.58776 9.43298 3.49996 9.22102 3.49996 9.00001ZM13.35 4.00001H16C16.221 4.00001 16.4329 3.91221 16.5892 3.75593C16.7455 3.59965 16.8333 3.38769 16.8333 3.16667C16.8333 2.94566 16.7455 2.7337 16.5892 2.57742C16.4329 2.42114 16.221 2.33334 16 2.33334L13.35 2.33334C13.1748 1.85071 12.8553 1.43372 12.4348 1.13904C12.0144 0.84436 11.5134 0.686277 11 0.686277C10.4865 0.686277 9.98555 0.84436 9.5651 1.13904C9.14465 1.43372 8.82513 1.85071 8.64996 2.33334L0.99996 2.33334C0.778946 2.33334 0.566984 2.42114 0.410704 2.57742C0.254423 2.7337 0.166626 2.94566 0.166626 3.16667C0.166626 3.38769 0.254423 3.59965 0.410704 3.75593C0.566984 3.91221 0.778946 4.00001 0.99996 4.00001L8.64996 4.00001C8.82513 4.48263 9.14465 4.89962 9.5651 5.19431C9.98555 5.48899 10.4865 5.64707 11 5.64707C11.5134 5.64707 12.0144 5.48899 12.4348 5.19431C12.8553 4.89962 13.1748 4.48264 13.35 4.00001ZM10.1666 3.16667C10.1666 3.00186 10.2155 2.84074 10.3071 2.7037C10.3986 2.56666 10.5288 2.45985 10.6811 2.39677C10.8333 2.3337 11.0009 2.3172 11.1625 2.34935C11.3242 2.38151 11.4727 2.46088 11.5892 2.57742C11.7058 2.69396 11.7851 2.84245 11.8173 3.0041C11.8494 3.16575 11.8329 3.33331 11.7699 3.48558C11.7068 3.63785 11.6 3.768 11.4629 3.85957C11.3259 3.95113 11.1648 4.00001 11 4.00001C10.7789 4.00001 10.567 3.91221 10.4107 3.75593C10.2544 3.59965 10.1666 3.38769 10.1666 3.16667Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-filters"
      width="18"
      height="10"
      viewBox="0 0 18 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M4.24162 6.90833L3.99995 7.15833V0.833333C3.99995 0.61232 3.91215 0.400358 3.75587 0.244078C3.59959 0.0877975 3.38763 0 3.16662 0C2.9456 0 2.73364 0.0877975 2.57736 0.244078C2.42108 0.400358 2.33328 0.61232 2.33328 0.833333V7.15833L2.09162 6.90833C1.9347 6.75141 1.72187 6.66326 1.49995 6.66326C1.27803 6.66326 1.0652 6.75141 0.908284 6.90833C0.751365 7.06525 0.663208 7.27808 0.663208 7.5C0.663208 7.72192 0.751365 7.93475 0.908284 8.09167L2.57495 9.75833C2.6542 9.8342 2.74766 9.89367 2.84995 9.93333C2.9497 9.97742 3.05756 10.0002 3.16662 10.0002C3.27568 10.0002 3.38353 9.97742 3.48328 9.93333C3.58558 9.89367 3.67903 9.8342 3.75828 9.75833L5.42495 8.09167C5.50265 8.01397 5.56428 7.92173 5.60633 7.82021C5.64839 7.71869 5.67003 7.60988 5.67003 7.5C5.67003 7.39012 5.64839 7.28131 5.60633 7.17979C5.56428 7.07827 5.50265 6.98603 5.42495 6.90833C5.34725 6.83064 5.25501 6.769 5.15349 6.72695C5.05197 6.6849 4.94317 6.66326 4.83328 6.66326C4.7234 6.66326 4.6146 6.6849 4.51308 6.72695C4.41156 6.769 4.31932 6.83064 4.24162 6.90833ZM8.16662 1.66667H16.5C16.721 1.66667 16.9329 1.57887 17.0892 1.42259C17.2455 1.26631 17.3333 1.05435 17.3333 0.833333C17.3333 0.61232 17.2455 0.400358 17.0892 0.244078C16.9329 0.0877975 16.721 0 16.5 0H8.16662C7.9456 0 7.73364 0.0877975 7.57736 0.244078C7.42108 0.400358 7.33328 0.61232 7.33328 0.833333C7.33328 1.05435 7.42108 1.26631 7.57736 1.42259C7.73364 1.57887 7.9456 1.66667 8.16662 1.66667ZM16.5 4.16667H8.16662C7.9456 4.16667 7.73364 4.25446 7.57736 4.41074C7.42108 4.56703 7.33328 4.77899 7.33328 5C7.33328 5.22101 7.42108 5.43298 7.57736 5.58926C7.73364 5.74554 7.9456 5.83333 8.16662 5.83333H16.5C16.721 5.83333 16.9329 5.74554 17.0892 5.58926C17.2455 5.43298 17.3333 5.22101 17.3333 5C17.3333 4.77899 17.2455 4.56703 17.0892 4.41074C16.9329 4.25446 16.721 4.16667 16.5 4.16667ZM16.5 8.33333H8.16662C7.9456 8.33333 7.73364 8.42113 7.57736 8.57741C7.42108 8.73369 7.33328 8.94565 7.33328 9.16667C7.33328 9.38768 7.42108 9.59964 7.57736 9.75592C7.73364 9.9122 7.9456 10 8.16662 10H16.5C16.721 10 16.9329 9.9122 17.0892 9.75592C17.2455 9.59964 17.3333 9.38768 17.3333 9.16667C17.3333 8.94565 17.2455 8.73369 17.0892 8.57741C16.9329 8.42113 16.721 8.33333 16.5 8.33333Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-delivery"
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0.900001 8.925L2.7 6.525C3.15 5.925 3.825 5.625 4.5 5.625H6V13.125C6 13.575 6.3 13.875 6.75 13.875H1.5C1.05 13.875 0.75 13.575 0.75 13.125V9.375C0.75 9.225 0.825001 9.075 0.900001 8.925Z" fill="#A0CA6E" />
      <path d="M6.74988 13.875H16.4999C16.9499 13.875 17.2499 13.575 17.2499 13.125V4.125C17.2499 2.85 16.2749 1.875 14.9999 1.875H8.24988C6.97488 1.875 5.99988 2.85 5.99988 4.125V13.125C5.99988 13.575 6.29988 13.875 6.74988 13.875Z" fill="#61A60E" />
      <path d="M6 9.375H0.75C0.75 9.225 0.825001 9.075 0.900001 8.925L2.7 6.525C3.15 5.925 3.825 5.625 4.5 5.625H6V9.375ZM13.5 16.125C14.775 16.125 15.75 15.15 15.75 13.875C15.75 12.6 14.775 11.625 13.5 11.625C12.225 11.625 11.25 12.6 11.25 13.875C11.25 15.15 12.225 16.125 13.5 16.125ZM4.5 16.125C5.775 16.125 6.75 15.15 6.75 13.875C6.75 12.6 5.775 11.625 4.5 11.625C3.225 11.625 2.25 12.6 2.25 13.875C2.25 15.15 3.225 16.125 4.5 16.125Z" fill="#D9F0FA" />
    </symbol>
    <symbol
      id="is-heart"
      viewBox="0 0 18 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.3434 2.2377C14.9768 1.84531 14.5417 1.53404 14.0627 1.32168C13.5837 1.10931 13.0704 1 12.5519 1C12.0335 1 11.5201 1.10931 11.0411 1.32168C10.5621 1.53404 10.127 1.84531 9.76046 2.2377L9.36512 2.66075C9.16749 2.87223 8.83213 2.87223 8.63449 2.66075L8.23916 2.2377C7.49882 1.44548 6.4947 1.00041 5.44771 1.00041C4.40071 1.00041 3.39659 1.44548 2.65626 2.2377C1.91592 3.02993 1.5 4.10441 1.5 5.22479C1.5 6.34516 1.91592 7.41965 2.65626 8.21187L3.41691 9.02583L8.26918 14.2182C8.66444 14.6411 9.33517 14.6411 9.73044 14.2182L14.5827 9.02583L15.3434 8.21187C15.71 7.81967 16.0009 7.354 16.1994 6.84146C16.3979 6.32893 16.5 5.77958 16.5 5.22479C16.5 4.67 16.3979 4.12064 16.1994 3.60811C16.0009 3.09558 15.71 2.6299 15.3434 2.2377Z"
        fill="var(--color-1)"
        stroke="currentColor"
        stroke-width="1.7"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </symbol>
    <symbol
      id="is-download"
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M16.4998 10.6665C16.2788 10.6665 16.0669 10.7543 15.9106 10.9106C15.7543 11.0669 15.6665 11.2788 15.6665 11.4998V14.8332C15.6665 15.0542 15.5787 15.2661 15.4224 15.4224C15.2661 15.5787 15.0542 15.6665 14.8332 15.6665H3.1665C2.94549 15.6665 2.73353 15.5787 2.57725 15.4224C2.42097 15.2661 2.33317 15.0542 2.33317 14.8332V11.4998C2.33317 11.2788 2.24537 11.0669 2.08909 10.9106C1.93281 10.7543 1.72085 10.6665 1.49984 10.6665C1.27882 10.6665 1.06686 10.7543 0.910582 10.9106C0.754301 11.0669 0.666504 11.2788 0.666504 11.4998V14.8332C0.666504 15.4962 0.929896 16.1321 1.39874 16.6009C1.86758 17.0698 2.50346 17.3332 3.1665 17.3332H14.8332C15.4962 17.3332 16.1321 17.0698 16.6009 16.6009C17.0698 16.1321 17.3332 15.4962 17.3332 14.8332V11.4998C17.3332 11.2788 17.2454 11.0669 17.0891 10.9106C16.9328 10.7543 16.7209 10.6665 16.4998 10.6665ZM8.40817 12.0915C8.48742 12.1674 8.58088 12.2268 8.68317 12.2665C8.78292 12.3106 8.89078 12.3334 8.99984 12.3334C9.1089 12.3334 9.21675 12.3106 9.3165 12.2665C9.4188 12.2268 9.51225 12.1674 9.5915 12.0915L12.9248 8.75817C13.0818 8.60125 13.1699 8.38842 13.1699 8.1665C13.1699 7.94459 13.0818 7.73176 12.9248 7.57484C12.7679 7.41792 12.5551 7.32976 12.3332 7.32976C12.1113 7.32976 11.8984 7.41792 11.7415 7.57484L9.83317 9.4915V1.49984C9.83317 1.27882 9.74537 1.06686 9.58909 0.910582C9.43281 0.754301 9.22085 0.666504 8.99984 0.666504C8.77882 0.666504 8.56686 0.754301 8.41058 0.910582C8.2543 1.06686 8.1665 1.27882 8.1665 1.49984V9.4915L6.25817 7.57484C6.18047 7.49714 6.08823 7.4355 5.98671 7.39345C5.88519 7.3514 5.77639 7.32976 5.6665 7.32976C5.55662 7.32976 5.44781 7.3514 5.3463 7.39345C5.24478 7.4355 5.15254 7.49714 5.07484 7.57484C4.99714 7.65254 4.9355 7.74478 4.89345 7.8463C4.8514 7.94781 4.82976 8.05662 4.82976 8.1665C4.82976 8.27639 4.8514 8.38519 4.89345 8.48671C4.9355 8.58823 4.99714 8.68047 5.07484 8.75817L8.40817 12.0915Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-orders"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.95001 19.486C1.72761 19.3968 1.53703 19.2429 1.40282 19.0444C1.26862 18.8459 1.19693 18.6117 1.19701 18.372V5.62803C1.19708 5.43202 1.24516 5.23902 1.33705 5.06589C1.42894 4.89276 1.56184 4.74477 1.72414 4.63486C1.88643 4.52496 2.07317 4.45648 2.26804 4.43542C2.46291 4.41435 2.65998 4.44134 2.84201 4.51403L12.406 8.34203C12.6288 8.43098 12.8198 8.58466 12.9544 8.78323C13.0889 8.9818 13.1609 9.21615 13.161 9.45603V22.2C13.1611 22.3963 13.113 22.5896 13.021 22.7629C12.929 22.9363 12.7959 23.0844 12.6333 23.1944C12.4708 23.3043 12.2837 23.3727 12.0886 23.3936C11.8934 23.4144 11.6961 23.3871 11.514 23.314L1.95001 19.486ZM10.76 20.428V10.268L3.59801 7.40003V17.56L10.762 20.428H10.76Z" fill="currentColor" />
      <path d="M20.325 7.4L13.161 10.268V20.428L20.325 17.559V7.4ZM21.97 19.485L12.406 23.314C12.2239 23.3869 12.0267 23.414 11.8317 23.3931C11.6367 23.3721 11.4498 23.3037 11.2874 23.1938C11.125 23.0838 10.992 22.9358 10.9 22.7625C10.8081 22.5893 10.76 22.3961 10.76 22.2V9.456C10.76 9.21624 10.8318 8.98197 10.9662 8.78342C11.1006 8.58486 11.2914 8.43111 11.514 8.342L21.078 4.514C21.2601 4.44111 21.4572 4.41395 21.6523 4.43491C21.8473 4.45588 22.0342 4.52432 22.1966 4.63425C22.359 4.74418 22.492 4.89224 22.584 5.06549C22.6759 5.23873 22.724 5.43187 22.724 5.628V18.372C22.7238 18.6116 22.6519 18.8456 22.5175 19.044C22.3831 19.2424 22.1924 19.396 21.97 19.485Z" fill="currentColor" />
      <path d="M5.626 5.628L11.96 8.164L18.295 5.628L11.959 3.092L5.627 5.628H5.626ZM12.406 0.685997L21.97 4.514C22.975 4.916 22.975 6.34 21.97 6.742L12.406 10.57C12.1197 10.6846 11.8003 10.6846 11.514 10.57L1.95 6.742C0.943996 6.34 0.943996 4.916 1.95 4.514L11.514 0.685997C11.8003 0.571383 12.1197 0.571383 12.406 0.685997Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-waitlist"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M5 4C5 3.44772 5.44772 3 6 3H18C18.5523 3 19 3.44772 19 4V20.382L13.3416 17.5528C12.4971 17.1305 11.5029 17.1305 10.6584 17.5528L5 20.382L5 4Z" stroke="currentColor" stroke-width="2" />
      <path d="M9 7.6H10C10.2652 7.6 10.5196 7.51571 10.7071 7.36569C10.8946 7.21566 11 7.01217 11 6.8C11 6.58783 10.8946 6.38434 10.7071 6.23431C10.5196 6.08429 10.2652 6 10 6H9C8.73478 6 8.48043 6.08429 8.29289 6.23431C8.10536 6.38434 8 6.58783 8 6.8C8 7.01217 8.10536 7.21566 8.29289 7.36569C8.48043 7.51571 8.73478 7.6 9 7.6ZM9 9.2C8.73478 9.2 8.48043 9.28429 8.29289 9.43431C8.10536 9.58434 8 9.78783 8 10C8 10.2122 8.10536 10.4157 8.29289 10.5657C8.48043 10.7157 8.73478 10.8 9 10.8H15C15.2652 10.8 15.5196 10.7157 15.7071 10.5657C15.8946 10.4157 16 10.2122 16 10C16 9.78783 15.8946 9.58434 15.7071 9.43431C15.5196 9.28429 15.2652 9.2 15 9.2H9ZM15 12.4H9C8.73478 12.4 8.48043 12.4843 8.29289 12.6343C8.10536 12.7843 8 12.9878 8 13.2C8 13.4122 8.10536 13.6157 8.29289 13.7657C8.48043 13.9157 8.73478 14 9 14H15C15.2652 14 15.5196 13.9157 15.7071 13.7657C15.8946 13.6157 16 13.4122 16 13.2C16 12.9878 15.8946 12.7843 15.7071 12.6343C15.5196 12.4843 15.2652 12.4 15 12.4Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-discounts"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M7.00002 5.99999C6.80224 5.99999 6.6089 6.05864 6.44445 6.16852C6.28 6.2784 6.15182 6.43458 6.07614 6.6173C6.00045 6.80003 5.98065 7.0011 6.01923 7.19508C6.05782 7.38906 6.15306 7.56724 6.29291 7.70709C6.43276 7.84695 6.61095 7.94219 6.80493 7.98077C6.99891 8.01936 7.19997 7.99955 7.3827 7.92387C7.56543 7.84818 7.7216 7.72001 7.83149 7.55556C7.94137 7.39111 8.00002 7.19777 8.00002 6.99999C8.00002 6.73477 7.89466 6.48042 7.70712 6.29288C7.51959 6.10534 7.26523 5.99999 7.00002 5.99999ZM21.71 11.78L12.23 2.31999C12.1368 2.21945 12.0239 2.13916 11.8983 2.08411C11.7727 2.02906 11.6371 2.00043 11.5 1.99999H5.50002C5.36841 1.99923 5.23795 2.02445 5.11611 2.07421C4.99427 2.12398 4.88346 2.1973 4.79002 2.28999L2.29002 4.77999C2.19734 4.87343 2.12401 4.98424 2.07425 5.10608C2.02448 5.22792 1.99926 5.35838 2.00002 5.48999V11.49C2.0037 11.7548 2.10728 12.0084 2.29002 12.2L11.78 21.7C11.9717 21.8827 12.2253 21.9863 12.49 21.99C12.6216 21.9907 12.7521 21.9655 12.8739 21.9158C12.9958 21.866 13.1066 21.7927 13.2 21.7L21.71 13.19C21.8027 13.0965 21.876 12.9857 21.9258 12.8639C21.9756 12.7421 22.0008 12.6116 22 12.48C21.9938 12.2187 21.8904 11.9691 21.71 11.78ZM12.49 19.59L4.00002 11.09V5.89999L5.90002 3.99999H11.08L19.58 12.49L12.49 19.59Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-account"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M17 4H16V3C16 2.20435 15.6839 1.44129 15.1213 0.87868C14.5587 0.316071 13.7956 0 13 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V15C0 15.7956 0.316071 16.5587 0.87868 17.1213C1.44129 17.6839 2.20435 18 3 18H17C17.7956 18 18.5587 17.6839 19.1213 17.1213C19.6839 16.5587 20 15.7956 20 15V7C20 6.20435 19.6839 5.44129 19.1213 4.87868C18.5587 4.31607 17.7956 4 17 4ZM3 2H13C13.2652 2 13.5196 2.10536 13.7071 2.29289C13.8946 2.48043 14 2.73478 14 3V4H3C2.73478 4 2.48043 3.89464 2.29289 3.70711C2.10536 3.51957 2 3.26522 2 3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2ZM18 12H17C16.7348 12 16.4804 11.8946 16.2929 11.7071C16.1054 11.5196 16 11.2652 16 11C16 10.7348 16.1054 10.4804 16.2929 10.2929C16.4804 10.1054 16.7348 10 17 10H18V12ZM18 8H17C16.2044 8 15.4413 8.31607 14.8787 8.87868C14.3161 9.44129 14 10.2044 14 11C14 11.7956 14.3161 12.5587 14.8787 13.1213C15.4413 13.6839 16.2044 14 17 14H18V15C18 15.2652 17.8946 15.5196 17.7071 15.7071C17.5196 15.8946 17.2652 16 17 16H3C2.73478 16 2.48043 15.8946 2.29289 15.7071C2.10536 15.5196 2 15.2652 2 15V5.83C2.32127 5.94302 2.65943 6.00051 3 6H17C17.2652 6 17.5196 6.10536 17.7071 6.29289C17.8946 6.48043 18 6.73478 18 7V8Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-options"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M19.32 7.55L17.43 6.92L18.32 5.14C18.4102 4.95369 18.4404 4.74397 18.4064 4.53978C18.3723 4.33558 18.2758 4.14699 18.13 4L16 1.87C15.8522 1.72209 15.6618 1.62421 15.4555 1.59013C15.2493 1.55605 15.0375 1.58748 14.85 1.68L13.07 2.57L12.44 0.680003C12.3735 0.482996 12.2472 0.311629 12.0787 0.189751C11.9102 0.0678737 11.7079 0.00154767 11.5 3.33354e-06H8.5C8.29036 -0.000537828 8.08585 0.0648223 7.91537 0.186845C7.7449 0.308868 7.61709 0.481382 7.55 0.680003L6.92 2.57L5.14 1.68C4.95369 1.58978 4.74397 1.55961 4.53978 1.59364C4.33558 1.62767 4.14699 1.72423 4 1.87L1.87 4C1.72209 4.14777 1.62421 4.33818 1.59013 4.54446C1.55605 4.75074 1.58748 4.96251 1.68 5.15L2.57 6.93L0.680003 7.56C0.482996 7.62654 0.311629 7.75283 0.189751 7.92131C0.0678737 8.08979 0.00154767 8.29207 3.33354e-06 8.5V11.5C-0.000537828 11.7096 0.0648223 11.9142 0.186845 12.0846C0.308868 12.2551 0.481382 12.3829 0.680003 12.45L2.57 13.08L1.68 14.86C1.58978 15.0463 1.55961 15.256 1.59364 15.4602C1.62767 15.6644 1.72423 15.853 1.87 16L4 18.13C4.14777 18.2779 4.33818 18.3758 4.54446 18.4099C4.75074 18.444 4.96251 18.4125 5.15 18.32L6.93 17.43L7.56 19.32C7.62709 19.5186 7.7549 19.6911 7.92537 19.8132C8.09585 19.9352 8.30036 20.0005 8.51 20H11.51C11.7196 20.0005 11.9242 19.9352 12.0946 19.8132C12.2651 19.6911 12.3929 19.5186 12.46 19.32L13.09 17.43L14.87 18.32C15.0551 18.4079 15.2628 18.4369 15.4649 18.4029C15.667 18.3689 15.8538 18.2737 16 18.13L18.13 16C18.2779 15.8522 18.3758 15.6618 18.4099 15.4555C18.444 15.2493 18.4125 15.0375 18.32 14.85L17.43 13.07L19.32 12.44C19.517 12.3735 19.6884 12.2472 19.8103 12.0787C19.9321 11.9102 19.9985 11.7079 20 11.5V8.5C20.0005 8.29036 19.9352 8.08585 19.8132 7.91537C19.6911 7.7449 19.5186 7.61709 19.32 7.55ZM18 10.78L16.8 11.18C16.5241 11.2695 16.2709 11.418 16.0581 11.6151C15.8452 11.8122 15.6778 12.0533 15.5675 12.3216C15.4571 12.5899 15.4064 12.879 15.419 13.1688C15.4315 13.4586 15.5069 13.7422 15.64 14L16.21 15.14L15.11 16.24L14 15.64C13.7436 15.5122 13.4627 15.4411 13.1763 15.4313C12.89 15.4215 12.6049 15.4734 12.3403 15.5834C12.0758 15.6934 11.8379 15.8589 11.6429 16.0688C11.4479 16.2787 11.3003 16.5281 11.21 16.8L10.81 18H9.22L8.82 16.8C8.73049 16.5241 8.58203 16.2709 8.3849 16.0581C8.18778 15.8452 7.94671 15.6778 7.67842 15.5675C7.41014 15.4571 7.12105 15.4064 6.83123 15.419C6.5414 15.4315 6.25777 15.5069 6 15.64L4.86 16.21L3.76 15.11L4.36 14C4.4931 13.7422 4.56852 13.4586 4.58105 13.1688C4.59358 12.879 4.5429 12.5899 4.43254 12.3216C4.32218 12.0533 4.15478 11.8122 3.94195 11.6151C3.72912 11.418 3.47595 11.2695 3.2 11.18L2 10.78V9.22L3.2 8.82C3.47595 8.73049 3.72912 8.58203 3.94195 8.3849C4.15478 8.18778 4.32218 7.94671 4.43254 7.67842C4.5429 7.41014 4.59358 7.12105 4.58105 6.83123C4.56852 6.5414 4.4931 6.25777 4.36 6L3.79 4.89L4.89 3.79L6 4.36C6.25777 4.4931 6.5414 4.56852 6.83123 4.58105C7.12105 4.59358 7.41014 4.5429 7.67842 4.43254C7.94671 4.32218 8.18778 4.15478 8.3849 3.94195C8.58203 3.72912 8.73049 3.47595 8.82 3.2L9.22 2H10.78L11.18 3.2C11.2695 3.47595 11.418 3.72912 11.6151 3.94195C11.8122 4.15478 12.0533 4.32218 12.3216 4.43254C12.5899 4.5429 12.879 4.59358 13.1688 4.58105C13.4586 4.56852 13.7422 4.4931 14 4.36L15.14 3.79L16.24 4.89L15.64 6C15.5122 6.25645 15.4411 6.53735 15.4313 6.82369C15.4215 7.11003 15.4734 7.39513 15.5834 7.65969C15.6934 7.92424 15.8589 8.16207 16.0688 8.35708C16.2787 8.5521 16.5281 8.69973 16.8 8.79L18 9.19V10.78ZM10 6C9.20888 6 8.43552 6.2346 7.77772 6.67413C7.11993 7.11365 6.60724 7.73836 6.30448 8.46927C6.00173 9.20017 5.92252 10.0044 6.07686 10.7804C6.2312 11.5563 6.61217 12.269 7.17158 12.8284C7.73099 13.3878 8.44372 13.7688 9.21964 13.9231C9.99557 14.0775 10.7998 13.9983 11.5307 13.6955C12.2616 13.3928 12.8864 12.8801 13.3259 12.2223C13.7654 11.5645 14 10.7911 14 10C14 8.93914 13.5786 7.92172 12.8284 7.17158C12.0783 6.42143 11.0609 6 10 6ZM10 12C9.60444 12 9.21776 11.8827 8.88886 11.6629C8.55996 11.4432 8.30362 11.1308 8.15224 10.7654C8.00087 10.3999 7.96126 9.99778 8.03843 9.60982C8.1156 9.22186 8.30608 8.86549 8.58579 8.58579C8.86549 8.30608 9.22186 8.1156 9.60982 8.03843C9.99778 7.96126 10.3999 8.00087 10.7654 8.15224C11.1308 8.30362 11.4432 8.55996 11.6629 8.88886C11.8827 9.21776 12 9.60444 12 10C12 10.5304 11.7893 11.0391 11.4142 11.4142C11.0391 11.7893 10.5304 12 10 12Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-subscriptions"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M19.5 10C19.2348 10 18.9804 10.1054 18.7929 10.2929C18.6054 10.4804 18.5 10.7348 18.5 11V15C18.5 15.2652 18.3946 15.5196 18.2071 15.7071C18.0196 15.8947 17.7652 16 17.5 16H3.5C3.23478 16 2.98043 15.8947 2.79289 15.7071C2.60536 15.5196 2.5 15.2652 2.5 15V5.41001L8.38 11.3C8.94125 11.8567 9.69951 12.1693 10.49 12.17C10.8903 12.171 11.2867 12.0919 11.656 11.9373C12.0252 11.7828 12.3598 11.5559 12.64 11.27L13.53 10.39C13.6669 10.1969 13.7309 9.96146 13.7106 9.72559C13.6902 9.48973 13.5869 9.26873 13.4188 9.10193C13.2508 8.93513 13.0291 8.83334 12.7931 8.81468C12.5571 8.79602 12.3221 8.86169 12.13 9.00002L11.2 9.91002C11.0131 10.0932 10.7618 10.1959 10.5 10.1959C10.2382 10.1959 9.98693 10.0932 9.8 9.91002L3.91 4.00001H8.5C8.76522 4.00001 9.01957 3.89466 9.20711 3.70712C9.39464 3.51958 9.5 3.26523 9.5 3.00001C9.5 2.7348 9.39464 2.48044 9.20711 2.29291C9.01957 2.10537 8.76522 2.00001 8.5 2.00001H3.5C2.70435 2.00001 1.94129 2.31609 1.37868 2.87869C0.816071 3.4413 0.5 4.20437 0.5 5.00001V15C0.5 15.7957 0.816071 16.5587 1.37868 17.1213C1.94129 17.6839 2.70435 18 3.5 18H17.5C18.2956 18 19.0587 17.6839 19.6213 17.1213C20.1839 16.5587 20.5 15.7957 20.5 15V11C20.5 10.7348 20.3946 10.4804 20.2071 10.2929C20.0196 10.1054 19.7652 10 19.5 10ZM20.55 1.00001C20.0433 0.511529 19.3949 0.196141 18.6978 0.0991238C18.0007 0.00210638 17.2908 0.128449 16.67 0.460015C15.9859 0.0837712 15.1892 -0.0336277 14.4256 0.12929C13.6621 0.292208 12.9827 0.724553 12.5117 1.34725C12.0408 1.96995 11.8097 2.74138 11.8608 3.52045C11.9119 4.29953 12.2417 5.03417 12.79 5.59001L16 8.71002C16.1916 8.89275 16.4452 8.99633 16.71 9.00002C16.8416 9.00078 16.9721 8.97555 17.0939 8.92579C17.2157 8.87602 17.3266 8.8027 17.42 8.71002L20.59 5.54001C21.1748 4.92654 21.4977 4.10943 21.4902 3.26191C21.4828 2.41438 21.1455 1.60309 20.55 1.00001ZM19.14 4.12001L16.67 6.59001L14.21 4.12001C14.0944 4.00248 14.0032 3.86334 13.9414 3.71053C13.8796 3.55772 13.8485 3.39423 13.8499 3.22941C13.8527 2.89653 13.9876 2.57841 14.225 2.34501C14.4624 2.11162 14.7827 1.98209 15.1156 1.9849C15.4485 1.98771 15.7666 2.12265 16 2.36001C16.093 2.45374 16.2036 2.52814 16.3254 2.57891C16.4473 2.62967 16.578 2.65581 16.71 2.65581C16.842 2.65581 16.9727 2.62967 17.0946 2.57891C17.2164 2.52814 17.327 2.45374 17.42 2.36001C17.6577 2.13496 17.9726 2.00953 18.3 2.00953C18.6274 2.00953 18.9423 2.13496 19.18 2.36001C19.4044 2.60055 19.5258 2.91929 19.5184 3.24816C19.5109 3.57702 19.3751 3.88993 19.14 4.12001Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-documents"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M18 6.94C17.9896 6.84813 17.9695 6.75763 17.94 6.67V6.58C17.8919 6.47718 17.8278 6.38267 17.75 6.3L11.75 0.3C11.6673 0.222216 11.5728 0.158081 11.47 0.11C11.4402 0.10576 11.4099 0.10576 11.38 0.11C11.2784 0.0517412 11.1662 0.0143442 11.05 0H7C6.20435 0 5.44129 0.316071 4.87868 0.87868C4.31607 1.44129 4 2.20435 4 3V4H3C2.20435 4 1.44129 4.31607 0.87868 4.87868C0.316071 5.44129 0 6.20435 0 7V17C0 17.7956 0.316071 18.5587 0.87868 19.1213C1.44129 19.6839 2.20435 20 3 20H11C11.7956 20 12.5587 19.6839 13.1213 19.1213C13.6839 18.5587 14 17.7956 14 17V16H15C15.7956 16 16.5587 15.6839 17.1213 15.1213C17.6839 14.5587 18 13.7956 18 13V7C18 7 18 7 18 6.94ZM12 3.41L14.59 6H13C12.7348 6 12.4804 5.89464 12.2929 5.70711C12.1054 5.51957 12 5.26522 12 5V3.41ZM12 17C12 17.2652 11.8946 17.5196 11.7071 17.7071C11.5196 17.8946 11.2652 18 11 18H3C2.73478 18 2.48043 17.8946 2.29289 17.7071C2.10536 17.5196 2 17.2652 2 17V7C2 6.73478 2.10536 6.48043 2.29289 6.29289C2.48043 6.10536 2.73478 6 3 6H4V13C4 13.7956 4.31607 14.5587 4.87868 15.1213C5.44129 15.6839 6.20435 16 7 16H12V17ZM16 13C16 13.2652 15.8946 13.5196 15.7071 13.7071C15.5196 13.8946 15.2652 14 15 14H7C6.73478 14 6.48043 13.8946 6.29289 13.7071C6.10536 13.5196 6 13.2652 6 13V3C6 2.73478 6.10536 2.48043 6.29289 2.29289C6.48043 2.10536 6.73478 2 7 2H10V5C10 5.79565 10.3161 6.55871 10.8787 7.12132C11.4413 7.68393 12.2044 8 13 8H16V13Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-partnership"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M11.3 9.22C11.8336 8.75813 12.2616 8.18688 12.5549 7.54502C12.8482 6.90316 13 6.20571 13 5.5C13 4.17392 12.4732 2.90215 11.5355 1.96447C10.5979 1.02678 9.32608 0.5 8 0.5C6.67392 0.5 5.40215 1.02678 4.46447 1.96447C3.52678 2.90215 3 4.17392 3 5.5C2.99999 6.20571 3.1518 6.90316 3.44513 7.54502C3.73845 8.18688 4.16642 8.75813 4.7 9.22C3.30014 9.85388 2.11247 10.8775 1.27898 12.1685C0.445495 13.4596 0.00147185 14.9633 0 16.5C0 16.7652 0.105357 17.0196 0.292893 17.2071C0.48043 17.3946 0.734784 17.5 1 17.5C1.26522 17.5 1.51957 17.3946 1.70711 17.2071C1.89464 17.0196 2 16.7652 2 16.5C2 14.9087 2.63214 13.3826 3.75736 12.2574C4.88258 11.1321 6.4087 10.5 8 10.5C9.5913 10.5 11.1174 11.1321 12.2426 12.2574C13.3679 13.3826 14 14.9087 14 16.5C14 16.7652 14.1054 17.0196 14.2929 17.2071C14.4804 17.3946 14.7348 17.5 15 17.5C15.2652 17.5 15.5196 17.3946 15.7071 17.2071C15.8946 17.0196 16 16.7652 16 16.5C15.9985 14.9633 15.5545 13.4596 14.721 12.1685C13.8875 10.8775 12.6999 9.85388 11.3 9.22ZM8 8.5C7.40666 8.5 6.82664 8.32405 6.33329 7.99441C5.83994 7.66476 5.45542 7.19623 5.22836 6.64805C5.0013 6.09987 4.94189 5.49667 5.05764 4.91473C5.1734 4.33279 5.45912 3.79824 5.87868 3.37868C6.29824 2.95912 6.83279 2.6734 7.41473 2.55764C7.99667 2.44189 8.59987 2.5013 9.14805 2.72836C9.69623 2.95542 10.1648 3.33994 10.4944 3.83329C10.8241 4.32664 11 4.90666 11 5.5C11 6.29565 10.6839 7.05871 10.1213 7.62132C9.55871 8.18393 8.79565 8.5 8 8.5ZM17.74 8.82C18.38 8.09933 18.798 7.20905 18.9438 6.25634C19.0896 5.30362 18.9569 4.32907 18.5618 3.45C18.1666 2.57093 17.5258 1.8248 16.7165 1.30142C15.9071 0.77805 14.9638 0.499742 14 0.5C13.7348 0.5 13.4804 0.605357 13.2929 0.792893C13.1054 0.98043 13 1.23478 13 1.5C13 1.76522 13.1054 2.01957 13.2929 2.20711C13.4804 2.39464 13.7348 2.5 14 2.5C14.7956 2.5 15.5587 2.81607 16.1213 3.37868C16.6839 3.94129 17 4.70435 17 5.5C16.9986 6.02524 16.8593 6.5409 16.5961 6.99542C16.3328 7.44994 15.9549 7.82738 15.5 8.09C15.3517 8.17552 15.2279 8.29766 15.1404 8.44474C15.0528 8.59182 15.0045 8.7589 15 8.93C14.9958 9.09976 15.0349 9.2678 15.1137 9.41826C15.1924 9.56872 15.3081 9.69665 15.45 9.79L15.84 10.05L15.97 10.12C17.1754 10.6917 18.1923 11.596 18.901 12.7263C19.6096 13.8566 19.9805 15.1659 19.97 16.5C19.97 16.7652 20.0754 17.0196 20.2629 17.2071C20.4504 17.3946 20.7048 17.5 20.97 17.5C21.2352 17.5 21.4896 17.3946 21.6771 17.2071C21.8646 17.0196 21.97 16.7652 21.97 16.5C21.9782 14.9654 21.5938 13.4543 20.8535 12.1101C20.1131 10.7659 19.0413 9.63331 17.74 8.82Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-exit"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 10C0 10.2652 0.105357 10.5196 0.292893 10.7071C0.48043 10.8946 0.734784 11 1 11H8.59L6.29 13.29C6.19627 13.383 6.12188 13.4936 6.07111 13.6154C6.02034 13.7373 5.9942 13.868 5.9942 14C5.9942 14.132 6.02034 14.2627 6.07111 14.3846C6.12188 14.5064 6.19627 14.617 6.29 14.71C6.38296 14.8037 6.49356 14.8781 6.61542 14.9289C6.73728 14.9797 6.86799 15.0058 7 15.0058C7.13201 15.0058 7.26272 14.9797 7.38458 14.9289C7.50644 14.8781 7.61704 14.8037 7.71 14.71L11.71 10.71C11.801 10.6149 11.8724 10.5028 11.92 10.38C12.02 10.1365 12.02 9.86346 11.92 9.62C11.8724 9.49725 11.801 9.3851 11.71 9.29L7.71 5.29C7.61676 5.19676 7.50607 5.1228 7.38425 5.07234C7.26243 5.02188 7.13186 4.99591 7 4.99591C6.86814 4.99591 6.73757 5.02188 6.61575 5.07234C6.49393 5.1228 6.38324 5.19676 6.29 5.29C6.19676 5.38324 6.1228 5.49393 6.07234 5.61575C6.02188 5.73757 5.99591 5.86814 5.99591 6C5.99591 6.13186 6.02188 6.26243 6.07234 6.38425C6.1228 6.50607 6.19676 6.61676 6.29 6.71L8.59 9H1C0.734784 9 0.48043 9.10536 0.292893 9.29289C0.105357 9.48043 0 9.73478 0 10ZM13 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V6C0 6.26522 0.105357 6.51957 0.292893 6.70711C0.48043 6.89464 0.734784 7 1 7C1.26522 7 1.51957 6.89464 1.70711 6.70711C1.89464 6.51957 2 6.26522 2 6V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H13C13.2652 2 13.5196 2.10536 13.7071 2.29289C13.8946 2.48043 14 2.73478 14 3V17C14 17.2652 13.8946 17.5196 13.7071 17.7071C13.5196 17.8946 13.2652 18 13 18H3C2.73478 18 2.48043 17.8946 2.29289 17.7071C2.10536 17.5196 2 17.2652 2 17V14C2 13.7348 1.89464 13.4804 1.70711 13.2929C1.51957 13.1054 1.26522 13 1 13C0.734784 13 0.48043 13.1054 0.292893 13.2929C0.105357 13.4804 0 13.7348 0 14V17C0 17.7956 0.316071 18.5587 0.87868 19.1213C1.44129 19.6839 2.20435 20 3 20H13C13.7956 20 14.5587 19.6839 15.1213 19.1213C15.6839 18.5587 16 17.7956 16 17V3C16 2.20435 15.6839 1.44129 15.1213 0.87868C14.5587 0.316071 13.7956 0 13 0Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-user"
      width="25"
      height="25"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z"
        fill="currentColor"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.5002 22.9166C6.7472 22.9166 2.0835 18.2529 2.0835 12.4999C2.0835 6.74695 6.7472 2.08325 12.5002 2.08325C18.2531 2.08325 22.9168 6.74695 22.9168 12.4999C22.9168 18.2529 18.2531 22.9166 12.5002 22.9166Z"
        fill="white"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.1665 12.4999C4.1665 17.1023 7.89746 20.8333 12.4998 20.8333C17.1022 20.8333 20.8332 17.1023 20.8332 12.4999C20.8332 11.9246 20.3668 11.4583 19.7915 11.4583C19.2162 11.4583 18.7498 11.9246 18.7498 12.4999C18.7498 15.9517 15.9516 18.7499 12.4998 18.7499C9.04806 18.7499 6.24984 15.9517 6.24984 12.4999C6.24984 11.9246 5.78347 11.4583 5.20817 11.4583C4.63287 11.4583 4.1665 11.9246 4.1665 12.4999Z"
        fill="currentColor"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.5832 10.4166C15.1585 10.4166 15.6248 9.95021 15.6248 9.37492C15.6248 8.79962 15.1585 8.33325 14.5832 8.33325C14.0079 8.33325 13.5415 8.79962 13.5415 9.37492C13.5415 9.95021 14.0079 10.4166 14.5832 10.4166Z"
        fill="#FF8300"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.4167 10.4166C10.992 10.4166 11.4583 9.95021 11.4583 9.37492C11.4583 8.79962 10.992 8.33325 10.4167 8.33325C9.84137 8.33325 9.375 8.79962 9.375 9.37492C9.375 9.95021 9.84137 10.4166 10.4167 10.4166Z"
        fill="currentColor"
      />
    </symbol>
    <symbol
      id="is-warning"
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M9 4.83342C8.77899 4.83342 8.56703 4.92121 8.41075 5.07749C8.25447 5.23377 8.16667 5.44573 8.16667 5.66675V9.00008C8.16667 9.2211 8.25447 9.43306 8.41075 9.58934C8.56703 9.74562 8.77899 9.83342 9 9.83342C9.22101 9.83342 9.43298 9.74562 9.58926 9.58934C9.74554 9.43306 9.83333 9.2211 9.83333 9.00008V5.66675C9.83333 5.44573 9.74554 5.23377 9.58926 5.07749C9.43298 4.92121 9.22101 4.83342 9 4.83342ZM9.76667 12.0167C9.74843 11.9636 9.72321 11.9132 9.69167 11.8667L9.59167 11.7417C9.47448 11.6261 9.32567 11.5478 9.16401 11.5166C9.00235 11.4855 8.83509 11.5029 8.68333 11.5667C8.58235 11.6089 8.48934 11.6681 8.40833 11.7417C8.3311 11.8196 8.27 11.912 8.22853 12.0135C8.18706 12.115 8.16603 12.2237 8.16667 12.3334C8.16798 12.4423 8.19063 12.5499 8.23333 12.6501C8.27076 12.7535 8.33047 12.8474 8.40824 12.9252C8.486 13.0029 8.57992 13.0627 8.68333 13.1001C8.78308 13.1442 8.89094 13.1669 9 13.1669C9.10906 13.1669 9.21692 13.1442 9.31667 13.1001C9.42008 13.0627 9.514 13.0029 9.59176 12.9252C9.66953 12.8474 9.72924 12.7535 9.76667 12.6501C9.80937 12.5499 9.83202 12.4423 9.83333 12.3334C9.83743 12.2779 9.83743 12.2222 9.83333 12.1667C9.81899 12.1136 9.7965 12.063 9.76667 12.0167ZM9 0.666748C7.35182 0.666748 5.74066 1.15549 4.37025 2.07117C2.99984 2.98685 1.93174 4.28834 1.30101 5.81105C0.670275 7.33377 0.505247 9.00933 0.826791 10.6258C1.14833 12.2423 1.94201 13.7272 3.10744 14.8926C4.27288 16.0581 5.75774 16.8517 7.37425 17.1733C8.99076 17.4948 10.6663 17.3298 12.189 16.6991C13.7117 16.0683 15.0132 15.0002 15.9289 13.6298C16.8446 12.2594 17.3333 10.6483 17.3333 9.00008C17.3333 7.90573 17.1178 6.8221 16.699 5.81105C16.2802 4.80001 15.6664 3.88135 14.8926 3.10752C14.1187 2.3337 13.2001 1.71987 12.189 1.30109C11.178 0.882296 10.0943 0.666748 9 0.666748ZM9 15.6667C7.68146 15.6667 6.39253 15.2758 5.2962 14.5432C4.19987 13.8107 3.34539 12.7695 2.8408 11.5513C2.33622 10.3331 2.2042 8.99269 2.46143 7.69948C2.71867 6.40627 3.35361 5.21839 4.28596 4.28604C5.21831 3.35369 6.40619 2.71875 7.6994 2.46151C8.99261 2.20428 10.333 2.3363 11.5512 2.84088C12.7694 3.34547 13.8106 4.19995 14.5431 5.29628C15.2757 6.39261 15.6667 7.68154 15.6667 9.00008C15.6667 10.7682 14.9643 12.4639 13.714 13.7141C12.4638 14.9644 10.7681 15.6667 9 15.6667Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-mir"
      viewBox="0 0 36 10"
      fill="inherit"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3.31479 0.30242C3.6273 0.300538 4.55605 0.216364 4.94945 1.55245C5.21445 2.45245 5.63658 3.92669 6.21584 5.97517H6.45175C7.07295 3.81552 7.49969 2.34127 7.73195 1.55245C8.12945 0.202446 9.1232 0.302446 9.5207 0.302446L12.5875 0.30245V9.90243H9.46174V4.245H9.25213L7.50967 9.90243H5.15792L3.41546 4.24081H3.20585V9.90243H0.0800781V0.30245L3.31479 0.30242ZM17.0761 0.30245V5.96409H17.3254L19.445 1.30856C19.8564 0.382101 20.7333 0.30245 20.7333 0.30245H23.7581V9.90245H20.5671V4.24081H20.3177L18.2397 8.89633C17.8283 9.8186 16.9098 9.90245 16.9098 9.90245H13.885V0.30245H17.0761ZM34.7878 4.86443C34.3427 6.13373 32.9449 7.04276 31.3973 7.04276H28.0508V9.90245H25.0163V4.86443H34.7878Z"
        fill="var(--var-color-1)"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M31.5424 0.303711H24.856C25.0151 2.441 26.8442 4.27065 28.7376 4.27065H34.9975C35.3587 2.49432 34.1151 0.303711 31.5424 0.303711Z"
        fill="var(--var-color-2)"
      />
    </symbol>
    <symbol
      id="is-visa"
      viewBox="0 0 38 12"
      fill="inherit"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="var(--var-color-1)" d="M16.6762 11.8273H13.6992L15.5613 0.210938H18.5381L16.6762 11.8273Z" />
      <path fill="var(--var-color-1)" d="M27.4654 0.494553C26.8782 0.259513 25.9468 0 24.7952 0C21.8553 0 19.7851 1.58171 19.7724 3.84309C19.748 5.51153 21.2546 6.43822 22.3815 6.99453C23.5333 7.56299 23.9248 7.93403 23.9248 8.44074C23.9131 9.21895 22.9941 9.57767 22.137 9.57767C20.9484 9.57767 20.3116 9.39272 19.3438 8.95976L18.9517 8.77416L18.5352 11.3818C19.2334 11.7027 20.5198 11.9875 21.8553 12C24.979 12 27.0127 10.4428 27.0367 8.03291C27.0486 6.71054 26.2531 5.69729 24.5379 4.86932C23.4966 4.33781 22.859 3.97942 22.859 3.43559C22.8712 2.9412 23.3983 2.43482 24.5737 2.43482C25.5415 2.41002 26.2526 2.64473 26.7913 2.87961L27.0605 3.00296L27.4654 0.494553Z" />
      <path fill="var(--var-color-1)" d="M31.4228 7.71201C31.668 7.04467 32.6114 4.46186 32.6114 4.46186C32.599 4.48666 32.856 3.7822 33.0031 3.34973L33.2111 4.35066C33.2111 4.35066 33.7749 7.13122 33.8973 7.71201C33.432 7.71201 32.0108 7.71201 31.4228 7.71201ZM35.0976 0.210938H32.7948C32.0847 0.210938 31.5452 0.420847 31.2389 1.17475L26.8169 11.8271H29.9406C29.9406 11.8271 30.4548 10.3934 30.5654 10.0846C30.9081 10.0846 33.9468 10.0846 34.3876 10.0846C34.4731 10.4924 34.7428 11.8271 34.7428 11.8271H37.4992L35.0976 0.210938Z" />
      <path fill="var(--var-color-1)" d="M11.2108 0.210938L8.29534 8.13216L7.97675 6.52564C7.43774 4.67193 5.74729 2.65791 3.86084 1.65649L6.53131 11.8149H9.67941L14.3588 0.210938H11.2108Z" />
      <path fill="var(--var-color-2)" d="M5.58872 0.210693H0.799001L0.75 0.445404C4.48628 1.40938 6.96074 3.733 7.97739 6.52589L6.93616 1.18715C6.76474 0.44524 6.23794 0.235166 5.58872 0.210693Z" />
    </symbol>
    <symbol
      id="is-maestro"
      viewBox="0 0 16 12"
      fill="inherit"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="var(--var-color-1)" d="M10.0368 8.52005H5.98096V1.02295H10.0368V8.52005Z" />
      <path fill="var(--var-color-2)" d="M6.24111 4.77083C6.24111 3.25 6.93341 1.8953 8.01151 1.02227C7.22313 0.383873 6.22815 0.00283337 5.14681 0.00283337C2.58686 0.00283337 0.511719 2.1375 0.511719 4.77083C0.511719 7.40415 2.58686 9.53882 5.14681 9.53882C6.22815 9.53882 7.22313 9.15778 8.01151 8.51938C6.93341 7.64635 6.24111 6.29165 6.24111 4.77083Z" />
      <path fill="var(--var-color-1)" d="M15.5074 4.77107C15.5074 7.40439 13.4323 9.53906 10.8723 9.53906C9.79098 9.53906 8.796 9.15802 8.00732 8.51962C9.08571 7.6466 9.77801 6.29189 9.77801 4.77107C9.77801 3.25025 9.08571 1.89554 8.00732 1.02252C8.796 0.384117 9.79098 0.00307751 10.8723 0.00307751C13.4323 0.00307751 15.5074 2.13775 15.5074 4.77107Z" />
      <path fill="var(--var-color-3)" d="M11.4033 10.6385C11.4572 10.6385 11.5347 10.6491 11.5939 10.6731L11.5114 10.9326C11.4548 10.9086 11.3983 10.9007 11.344 10.9007C11.169 10.9007 11.0814 11.0171 11.0814 11.2263V11.9362H10.8135V10.6704H11.0788V10.824C11.1483 10.7128 11.2488 10.6385 11.4033 10.6385ZM10.4136 10.922H9.97592V11.494C9.97592 11.621 10.0195 11.7059 10.1536 11.7059C10.2232 11.7059 10.3107 11.6819 10.3903 11.6343L10.4675 11.8699C10.3826 11.9308 10.2488 11.9681 10.133 11.9681C9.81619 11.9681 9.70566 11.7932 9.70566 11.4991V10.922H9.45574V10.6704H9.70566V10.2863H9.97592V10.6704H10.4136V10.922ZM6.98627 11.1921C7.01485 11.0093 7.12272 10.8847 7.31341 10.8847C7.48582 10.8847 7.59664 10.9959 7.62493 11.1921H6.98627ZM7.90315 11.3033C7.90049 10.9086 7.66354 10.6385 7.31842 10.6385C6.95797 10.6385 6.70569 10.9086 6.70569 11.3033C6.70569 11.7056 6.96829 11.9678 7.33669 11.9678C7.52207 11.9678 7.69183 11.9202 7.84125 11.7904L7.70981 11.5864C7.60695 11.6713 7.4755 11.7189 7.35202 11.7189C7.1796 11.7189 7.02252 11.6367 6.98391 11.4091H7.89784C7.90049 11.3745 7.90315 11.3403 7.90315 11.3033ZM9.07968 10.9935C9.00511 10.9456 8.85333 10.8847 8.69624 10.8847C8.54947 10.8847 8.46194 10.9405 8.46194 11.0332C8.46194 11.1178 8.55448 11.1417 8.67031 11.1575L8.79645 11.176C9.06435 11.216 9.22645 11.3324 9.22645 11.5549C9.22645 11.7959 9.02044 11.9681 8.6653 11.9681C8.4643 11.9681 8.27892 11.915 8.13214 11.8038L8.25829 11.5892C8.34847 11.6607 8.48257 11.7216 8.66795 11.7216C8.85068 11.7216 8.94852 11.6662 8.94852 11.5679C8.94852 11.4967 8.87897 11.4567 8.7322 11.4358L8.60606 11.4173C8.33049 11.3773 8.18107 11.2503 8.18107 11.0438C8.18107 10.7922 8.38207 10.6385 8.69359 10.6385C8.88929 10.6385 9.067 10.6837 9.1955 10.771L9.07968 10.9935ZM12.382 10.9001C12.3269 10.9001 12.2759 10.9101 12.2285 10.9298C12.1813 10.9498 12.1404 10.9777 12.1059 11.0135C12.0714 11.0493 12.0443 11.0923 12.0245 11.1423C12.0048 11.1924 11.9951 11.2475 11.9951 11.3075C11.9951 11.3679 12.0048 11.4227 12.0245 11.4728C12.0443 11.5228 12.0714 11.5658 12.1059 11.6016C12.1404 11.6374 12.1813 11.6652 12.2285 11.6853C12.2759 11.7053 12.3269 11.715 12.382 11.715C12.4371 11.715 12.4884 11.7053 12.5356 11.6853C12.583 11.6652 12.6243 11.6374 12.6588 11.6016C12.6938 11.5658 12.721 11.5228 12.741 11.4728C12.7608 11.4227 12.7705 11.3679 12.7705 11.3075C12.7705 11.2475 12.7608 11.1924 12.741 11.1423C12.721 11.0923 12.6938 11.0493 12.6588 11.0135C12.6243 10.9777 12.583 10.9498 12.5356 10.9298C12.4884 10.9101 12.4371 10.9001 12.382 10.9001ZM12.382 10.6385C12.4775 10.6385 12.5659 10.6555 12.6473 10.6898C12.7286 10.7237 12.7991 10.7707 12.8583 10.8304C12.9178 10.8901 12.9641 10.9608 12.9977 11.042C13.0313 11.1235 13.0481 11.2121 13.0481 11.3075C13.0481 11.403 13.0313 11.4915 12.9977 11.5731C12.9641 11.6543 12.9178 11.7253 12.8583 11.785C12.7991 11.8447 12.7286 11.8914 12.6473 11.9256C12.5659 11.9596 12.4775 11.9766 12.382 11.9766C12.2865 11.9766 12.1981 11.9596 12.1168 11.9256C12.0354 11.8914 11.9656 11.8447 11.9066 11.785C11.8477 11.7253 11.8014 11.6543 11.7678 11.5731C11.7342 11.4915 11.7174 11.403 11.7174 11.3075C11.7174 11.2121 11.7342 11.1235 11.7678 11.042C11.8014 10.9608 11.8477 10.8901 11.9066 10.8304C11.9656 10.7707 12.0354 10.7237 12.1168 10.6898C12.1981 10.6555 12.2865 10.6385 12.382 10.6385ZM5.42188 11.3033C5.42188 11.0808 5.56364 10.898 5.7953 10.898C6.01663 10.898 6.16606 11.0729 6.16606 11.3033C6.16606 11.5337 6.01663 11.7083 5.7953 11.7083C5.56364 11.7083 5.42188 11.5258 5.42188 11.3033ZM6.41834 11.3033V10.6704H6.15073V10.824C6.06555 10.7101 5.93706 10.6385 5.76199 10.6385C5.41687 10.6385 5.14661 10.9165 5.14661 11.3033C5.14661 11.6898 5.41687 11.9681 5.76199 11.9681C5.93706 11.9681 6.06555 11.8965 6.15073 11.7826V11.9362H6.41834V11.3033ZM4.90966 11.9362V11.1417C4.90966 10.8425 4.72428 10.6413 4.42572 10.6385C4.26864 10.6358 4.10624 10.6861 3.99307 10.8638C3.90819 10.7234 3.77409 10.6385 3.58606 10.6385C3.45491 10.6385 3.32612 10.6782 3.22562 10.8265V10.6704H2.95801V11.9362H3.22827V11.2345C3.22827 11.0147 3.34675 10.898 3.52947 10.898C3.70719 10.898 3.79738 11.0171 3.79738 11.2318V11.9362H4.06764V11.2345C4.06764 11.0147 4.19142 10.898 4.36884 10.898C4.55186 10.898 4.6394 11.0171 4.6394 11.2318V11.9362H4.90966Z" />
    </symbol>
    <symbol
      id="is-mastercard"
      viewBox="0 0 16 12"
      fill="inherit"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="var(--color-1)" d="M3.22972 11.9736V11.1771C3.22972 10.8718 3.04947 10.6727 2.74045 10.6727C2.58595 10.6727 2.41856 10.7258 2.30268 10.8984C2.21256 10.7523 2.0838 10.6727 1.89067 10.6727C1.76191 10.6727 1.63316 10.7125 1.53015 10.8585V10.6992H1.25977V11.9736H1.53015V11.27C1.53015 11.0444 1.64603 10.9382 1.82629 10.9382C2.00655 10.9382 2.09668 11.0577 2.09668 11.27V11.9736H2.36706V11.27C2.36706 11.0444 2.49582 10.9382 2.6632 10.9382C2.84346 10.9382 2.93359 11.0577 2.93359 11.27V11.9736H3.22972ZM7.23401 10.6992H6.79625V10.3143H6.52586V10.6992H6.28123V10.9515H6.52586V11.5355C6.52586 11.8276 6.64174 12.0001 6.95075 12.0001C7.06663 12.0001 7.19539 11.9603 7.28552 11.9072L7.20826 11.6683C7.13101 11.7214 7.04088 11.7346 6.9765 11.7346C6.84775 11.7346 6.79625 11.655 6.79625 11.5223V10.9515H7.23401V10.6992ZM9.52586 10.6727C9.37135 10.6727 9.26835 10.7523 9.20397 10.8585V10.6992H8.93359V11.9736H9.20397V11.2568C9.20397 11.0444 9.2941 10.9249 9.46148 10.9249C9.51298 10.9249 9.57736 10.9382 9.62887 10.9515L9.70612 10.686C9.65462 10.6727 9.57736 10.6727 9.52586 10.6727ZM6.06234 10.8054C5.93358 10.7125 5.75333 10.6727 5.56019 10.6727C5.25118 10.6727 5.04517 10.832 5.04517 11.0842C5.04517 11.2966 5.19968 11.4161 5.47006 11.4559L5.59882 11.4692C5.74045 11.4957 5.81771 11.5355 5.81771 11.6019C5.81771 11.6948 5.7147 11.7612 5.53444 11.7612C5.35418 11.7612 5.21256 11.6948 5.12243 11.6284L4.99367 11.8408C5.1353 11.947 5.32844 12.0001 5.52157 12.0001C5.88208 12.0001 6.08809 11.8276 6.08809 11.5886C6.08809 11.363 5.92071 11.2435 5.6632 11.2037L5.53444 11.1904C5.41856 11.1771 5.32844 11.1506 5.32844 11.0709C5.32844 10.978 5.41856 10.9249 5.56019 10.9249C5.7147 10.9249 5.86921 10.9913 5.94646 11.0311L6.06234 10.8054ZM13.2469 10.6727C13.0924 10.6727 12.9894 10.7523 12.925 10.8585V10.6992H12.6546V11.9736H12.925V11.2568C12.925 11.0444 13.0151 10.9249 13.1825 10.9249C13.234 10.9249 13.2984 10.9382 13.3499 10.9515L13.4271 10.686C13.3756 10.6727 13.2984 10.6727 13.2469 10.6727ZM9.79625 11.3364C9.79625 11.7214 10.0538 12.0001 10.4529 12.0001C10.6332 12.0001 10.7619 11.9603 10.8907 11.8541L10.7619 11.6284C10.6589 11.7081 10.5559 11.7479 10.44 11.7479C10.2211 11.7479 10.0666 11.5886 10.0666 11.3364C10.0666 11.0975 10.2211 10.9382 10.44 10.9249C10.5559 10.9249 10.6589 10.9647 10.7619 11.0444L10.8907 10.8187C10.7619 10.7125 10.6332 10.6727 10.4529 10.6727C10.0538 10.6727 9.79625 10.9515 9.79625 11.3364ZM12.2941 11.3364V10.6992H12.0237V10.8585C11.9336 10.7391 11.8048 10.6727 11.6374 10.6727C11.2898 10.6727 11.0194 10.9515 11.0194 11.3364C11.0194 11.7214 11.2898 12.0001 11.6374 12.0001C11.8177 12.0001 11.9465 11.9338 12.0237 11.8143V11.9736H12.2941V11.3364ZM11.3027 11.3364C11.3027 11.1107 11.4443 10.9249 11.6761 10.9249C11.895 10.9249 12.0495 11.0975 12.0495 11.3364C12.0495 11.5621 11.895 11.7479 11.6761 11.7479C11.4443 11.7346 11.3027 11.5621 11.3027 11.3364ZM8.07092 10.6727C7.71041 10.6727 7.4529 10.9382 7.4529 11.3364C7.4529 11.7346 7.71041 12.0001 8.0838 12.0001C8.26406 12.0001 8.44431 11.947 8.58595 11.8276L8.45719 11.6284C8.35419 11.7081 8.22543 11.7612 8.09668 11.7612C7.9293 11.7612 7.76191 11.6815 7.72328 11.4559H8.63745C8.63745 11.4161 8.63745 11.3895 8.63745 11.3497C8.65032 10.9382 8.41856 10.6727 8.07092 10.6727ZM8.07092 10.9116C8.23831 10.9116 8.35419 11.0178 8.37994 11.2169H7.73616C7.76191 11.0444 7.87779 10.9116 8.07092 10.9116ZM14.7791 11.3364V10.1948H14.5087V10.8585C14.4186 10.7391 14.2898 10.6727 14.1224 10.6727C13.7748 10.6727 13.5044 10.9515 13.5044 11.3364C13.5044 11.7214 13.7748 12.0001 14.1224 12.0001C14.3027 12.0001 14.4314 11.9338 14.5087 11.8143V11.9736H14.7791V11.3364ZM13.7877 11.3364C13.7877 11.1107 13.9293 10.9249 14.1611 10.9249C14.3799 10.9249 14.5344 11.0975 14.5344 11.3364C14.5344 11.5621 14.3799 11.7479 14.1611 11.7479C13.9293 11.7346 13.7877 11.5621 13.7877 11.3364ZM4.74904 11.3364V10.6992H4.47865V10.8585C4.38852 10.7391 4.25977 10.6727 4.09238 10.6727C3.74474 10.6727 3.47436 10.9515 3.47436 11.3364C3.47436 11.7214 3.74474 12.0001 4.09238 12.0001C4.27264 12.0001 4.4014 11.9338 4.47865 11.8143V11.9736H4.74904V11.3364ZM3.74474 11.3364C3.74474 11.1107 3.88637 10.9249 4.11813 10.9249C4.33702 10.9249 4.49153 11.0975 4.49153 11.3364C4.49153 11.5621 4.33702 11.7479 4.11813 11.7479C3.88637 11.7346 3.74474 11.5621 3.74474 11.3364Z" />
      <path fill="var(--color-2)" d="M10.0279 1.02222H5.97217V8.53549H10.0279V1.02222Z" />
      <path fill="var(--color-3)" d="M6.22961 4.77876C6.22961 3.25221 6.92489 1.89823 7.99356 1.02213C7.20815 0.384957 6.21674 0 5.13519 0C2.57296 0 0.5 2.13717 0.5 4.77876C0.5 7.42035 2.57296 9.55752 5.13519 9.55752C6.21674 9.55752 7.20815 9.17257 7.99356 8.5354C6.92489 7.67257 6.22961 6.30531 6.22961 4.77876Z" />
      <path fill="var(--color-4)" d="M15.5009 4.77876C15.5009 7.42035 13.4279 9.55752 10.8657 9.55752C9.78414 9.55752 8.79273 9.17257 8.00732 8.5354C9.08886 7.6593 9.77127 6.30531 9.77127 4.77876C9.77127 3.25221 9.07599 1.89823 8.00732 1.02213C8.79273 0.384957 9.78414 0 10.8657 0C13.4279 0 15.5009 2.15044 15.5009 4.77876Z" />
    </symbol>
    <symbol
      id="is-apple"
      viewBox="0 0 11 12"
      fill="inherit"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="inherit" d="M3.76327 12.001C1.97731 11.9907 0.5 8.34495 0.5 6.48825C0.5 3.45534 2.7752 2.79136 3.65204 2.79136C4.04719 2.79136 4.46914 2.94654 4.8413 3.08386C5.10155 3.17965 5.37071 3.27853 5.52041 3.27853C5.61001 3.27853 5.82116 3.19441 6.00758 3.12061C6.40515 2.96234 6.89987 2.76562 7.47596 2.76562C7.47699 2.76562 7.47837 2.76562 7.47938 2.76562C7.90955 2.76562 9.21385 2.86003 9.998 4.03762L10.1817 4.31365L9.91733 4.51313C9.53968 4.79808 8.85062 5.31787 8.85062 6.34751C8.85062 7.56698 9.63099 8.03597 10.0059 8.26153C10.1714 8.36109 10.3427 8.46375 10.3427 8.68828C10.3427 8.83488 9.17265 11.9828 7.47355 11.9828C7.05779 11.9828 6.76391 11.8578 6.50469 11.7476C6.2424 11.636 6.01613 11.5399 5.64226 11.5399C5.45274 11.5399 5.21309 11.6295 4.95938 11.7246C4.61267 11.854 4.22023 12.001 3.77495 12.001H3.76327Z" />
      <path fill="inherit" d="M7.6558 0C7.70005 1.59553 6.55899 2.70244 5.41927 2.63302C5.23146 1.35973 6.55885 0 7.6558 0Z" />
    </symbol>
    <symbol
      id="is-google"
      viewBox="0 0 13 12"
      fill="inherit"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="var(--color-1)" d="M3.15945 7.25255L2.74175 8.81189L1.21505 8.84419C0.758797 7.99793 0.5 7.02971 0.5 6.0008C0.5 5.00585 0.741969 4.0676 1.17087 3.24146H1.1712L2.53039 3.49064L3.1258 4.84167C3.00118 5.20498 2.93326 5.59498 2.93326 6.0008C2.9333 6.44124 3.01309 6.86323 3.15945 7.25255Z" />
      <path fill="var(--color-2)" d="M12.3946 4.87964C12.4635 5.24259 12.4994 5.61743 12.4994 6.00051C12.4994 6.43008 12.4543 6.84909 12.3682 7.25327C12.0762 8.62865 11.313 9.82964 10.2557 10.6795L10.2554 10.6792L8.54343 10.5919L8.30113 9.07931C9.00266 8.66789 9.55091 8.02404 9.83971 7.25327H6.63135V4.87964H9.88651H12.3946Z" />
      <path fill="var(--color-3)" d="M10.2562 10.6786L10.2565 10.679C9.22831 11.5054 7.92214 11.9999 6.50028 11.9999C4.21533 11.9999 2.22875 10.7228 1.21533 8.84335L3.15973 7.25171C3.66643 8.60401 4.97093 9.56665 6.50028 9.56665C7.15763 9.56665 7.77347 9.38895 8.30192 9.07873L10.2562 10.6786Z" />
      <path fill="var(--color-4)" d="M10.3298 1.38131L8.38606 2.97262C7.83915 2.63077 7.19265 2.43328 6.50002 2.43328C4.93606 2.43328 3.60716 3.44009 3.12584 4.84087L1.17123 3.24066H1.1709C2.16948 1.31538 4.18112 0 6.50002 0C7.95584 0 9.29068 0.518578 10.3298 1.38131Z" />
    </symbol>
    <symbol
      id="is-yoomoney"
      viewBox="0 0 17 12"
      fill="inherit"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)">
        <path d="M11.1412 0C7.87852 0 5.2832 2.6962 5.2832 6C5.2832 9.34177 7.9156 12 11.1412 12C14.3668 12 16.9992 9.3038 16.9992 6C16.9992 2.6962 14.3668 0 11.1412 0ZM11.1412 8.24051C9.95476 8.24051 8.95372 7.21519 8.95372 6C8.95372 4.78481 9.95476 3.75949 11.1412 3.75949C12.3276 3.75949 13.3286 4.78481 13.3286 6C13.2916 7.21519 12.3276 8.24051 11.1412 8.24051Z" fill="inherit" />
        <path d="M5.24571 1.74683V10.481H3.16947L0.5 1.74683H5.24571Z" fill="inherit" />
      </g>
      <defs>
        <clipPath id="clip0">
          <rect
            width="16.5"
            height="12"
            fill="white"
            transform="translate(0.5)"
          />
        </clipPath>
      </defs>
    </symbol>
    <symbol
      id="is-arrow"
      width="6"
      height="12"
      viewBox="0 0 6 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3 1V11M3 11L1 9M3 11L5 9"
        stroke="#783CBD"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </symbol>
    <symbol
      id="icon-user-smile"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="20"
        fill="url(#paint0_linear)"
      />
      <path
        d="M8.13794 11.3104C8.55173 10.6667 9.95863 9.37933 12.2759 9.37933"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M31.5 13C31.2241 12.1724 29.3517 10.2069 27.0345 10.2069"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
      />
      <circle
        cx="13.5172"
        cy="20.138"
        r="5.51724"
        fill="#F4F5F6"
      />
      <circle
        cx="15.1724"
        cy="20.1379"
        r="3.86207"
        fill="black"
      />
      <circle
        cx="26.2069"
        cy="20.138"
        r="5.51724"
        fill="#F4F5F6"
      />
      <circle
        cx="27.8621"
        cy="20.1379"
        r="3.86207"
        fill="black"
      />
      <path
        d="M15.8621 29.2414L18.2069 27.3104"
        stroke="black"
        stroke-width="1.10345"
        stroke-linecap="round"
      />
      <path
        d="M17.2413 28.2759C17.839 29.0575 18.8965 30.4828 21.5172 29.3793"
        stroke="black"
        stroke-width="1.10345"
        stroke-linecap="round"
      />
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="20"
          y1="0"
          x2="20"
          y2="40"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFAB2E" />
          <stop offset="1" stop-color="#FF7D04" />
        </linearGradient>
      </defs>
    </symbol>
    <symbol
      id="is-mobile"
      viewBox="0 0 10 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M5.47325 9.86001L5.37325 9.78001C5.33609 9.75478 5.29573 9.7346 5.25325 9.72001L5.13325 9.66668C5.02513 9.64407 4.91309 9.64869 4.8072 9.68011C4.70131 9.71153 4.60488 9.76877 4.52659 9.84668C4.4677 9.91148 4.42035 9.98589 4.38659 10.0667C4.33613 10.1881 4.32274 10.3218 4.34809 10.4509C4.37344 10.58 4.4364 10.6986 4.52905 10.792C4.6217 10.8854 4.73989 10.9492 4.86876 10.9756C4.99762 11.0019 5.1314 10.9895 5.25325 10.94C5.33292 10.9014 5.40693 10.852 5.47325 10.7933C5.56576 10.6996 5.62842 10.5805 5.65334 10.4512C5.67825 10.3219 5.66431 10.1881 5.61325 10.0667C5.58001 9.98959 5.53251 9.91947 5.47325 9.86001ZM7.66659 0.333344H2.33325C1.80282 0.333344 1.29411 0.544057 0.919038 0.91913C0.543966 1.2942 0.333252 1.80291 0.333252 2.33334V11.6667C0.333252 12.1971 0.543966 12.7058 0.919038 13.0809C1.29411 13.456 1.80282 13.6667 2.33325 13.6667H7.66659C8.19702 13.6667 8.70573 13.456 9.0808 13.0809C9.45587 12.7058 9.66659 12.1971 9.66659 11.6667V2.33334C9.66659 1.80291 9.45587 1.2942 9.0808 0.91913C8.70573 0.544057 8.19702 0.333344 7.66659 0.333344ZM8.33325 11.6667C8.33325 11.8435 8.26301 12.0131 8.13799 12.1381C8.01297 12.2631 7.8434 12.3333 7.66659 12.3333H2.33325C2.15644 12.3333 1.98687 12.2631 1.86185 12.1381C1.73682 12.0131 1.66659 11.8435 1.66659 11.6667V2.33334C1.66659 2.15653 1.73682 1.98696 1.86185 1.86194C1.98687 1.73691 2.15644 1.66668 2.33325 1.66668H7.66659C7.8434 1.66668 8.01297 1.73691 8.13799 1.86194C8.26301 1.98696 8.33325 2.15653 8.33325 2.33334V11.6667Z" fill="currentColor" />
    </symbol>
    <symbol
      id="is-copy-defaults"
      width="15"
      height="18"
      viewBox="0 0 15 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M14.5487 7.02502C14.4406 5.89322 14.0618 4.80404 13.444 3.84954C12.8263 2.89505 11.9879 2.10327 10.9996 1.54113C10.0114 0.978982 8.9023 0.662988 7.76617 0.619848C6.63003 0.576707 5.50021 0.807688 4.47217 1.29327C3.44412 1.77885 2.54807 2.50477 1.85974 3.40967C1.1714 4.31458 0.711007 5.37188 0.517456 6.49224C0.323906 7.6126 0.402889 8.76308 0.747731 9.84648C1.09257 10.9299 1.69314 11.9143 2.49868 12.7167L6.91535 17.1417C6.99282 17.2198 7.08499 17.2818 7.18653 17.3241C7.28808 17.3664 7.39701 17.3882 7.50702 17.3882C7.61703 17.3882 7.72595 17.3664 7.8275 17.3241C7.92905 17.2818 8.02121 17.2198 8.09868 17.1417L12.4987 12.7167C13.2414 11.9796 13.8106 11.0864 14.1652 10.1019C14.5198 9.11745 14.6508 8.0664 14.5487 7.02502ZM11.332 11.5417L7.49868 15.375L3.66535 11.5417C3.10042 10.9767 2.66768 10.2936 2.39824 9.54149C2.12879 8.78935 2.02933 7.98685 2.10701 7.19169C2.1852 6.38428 2.44182 5.60432 2.85832 4.90823C3.27483 4.21213 3.84081 3.61728 4.51535 3.16669C5.39947 2.57939 6.43727 2.2661 7.49868 2.2661C8.56009 2.2661 9.59789 2.57939 10.482 3.16669C11.1545 3.61554 11.7192 4.20776 12.1356 4.90081C12.5521 5.59385 12.8098 6.37052 12.8903 7.17502C12.9706 7.97288 12.8724 8.77859 12.6028 9.53381C12.3333 10.289 11.8992 10.9749 11.332 11.5417ZM8.99035 4.20836C8.91288 4.13025 8.82071 4.06825 8.71916 4.02595C8.61761 3.98364 8.50869 3.96186 8.39868 3.96186C8.28867 3.96186 8.17975 3.98364 8.0782 4.02595C7.97665 4.06825 7.88448 4.13025 7.80701 4.20836L4.82368 7.19169C4.66973 7.34691 4.58293 7.55641 4.58201 7.77502V9.83336C4.58201 10.0544 4.66981 10.2663 4.82609 10.4226C4.98237 10.5789 5.19433 10.6667 5.41535 10.6667H7.43201C7.54169 10.6673 7.65041 10.6463 7.75194 10.6048C7.85347 10.5634 7.94582 10.5023 8.02368 10.425L11.007 7.44169C11.1622 7.28555 11.2493 7.07435 11.2493 6.85419C11.2493 6.63404 11.1622 6.42283 11.007 6.26669L8.99035 4.20836ZM7.09035 9.00002H6.25701V8.16669L8.40702 6.01669L9.24035 6.85002L7.09035 9.00002Z" fill="currentColor" />
    </symbol>
    <symbol id="close-c" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="28" height="28" rx="14" fill="#E8EAEB" />
      <path d="M14.94 14.0001L19.14 9.80679C19.2656 9.68125 19.3361 9.51099 19.3361 9.33346C19.3361 9.15592 19.2656 8.98566 19.14 8.86012C19.0145 8.73459 18.8442 8.66406 18.6667 8.66406C18.4892 8.66406 18.3189 8.73459 18.1934 8.86012L14 13.0601L9.80671 8.86012C9.68117 8.73459 9.51091 8.66406 9.33337 8.66406C9.15584 8.66406 8.98558 8.73459 8.86004 8.86012C8.7345 8.98566 8.66398 9.15592 8.66398 9.33346C8.66398 9.51099 8.7345 9.68125 8.86004 9.80679L13.06 14.0001L8.86004 18.1935C8.79756 18.2554 8.74796 18.3292 8.71411 18.4104C8.68027 18.4916 8.66284 18.5788 8.66284 18.6668C8.66284 18.7548 8.68027 18.8419 8.71411 18.9232C8.74796 19.0044 8.79756 19.0781 8.86004 19.1401C8.92202 19.2026 8.99575 19.2522 9.07699 19.2861C9.15823 19.3199 9.24537 19.3373 9.33337 19.3373C9.42138 19.3373 9.50852 19.3199 9.58976 19.2861C9.671 19.2522 9.74473 19.2026 9.80671 19.1401L14 14.9401L18.1934 19.1401C18.2554 19.2026 18.3291 19.2522 18.4103 19.2861C18.4916 19.3199 18.5787 19.3373 18.6667 19.3373C18.7547 19.3373 18.8419 19.3199 18.9231 19.2861C19.0043 19.2522 19.0781 19.2026 19.14 19.1401C19.2025 19.0781 19.2521 19.0044 19.286 18.9232C19.3198 18.8419 19.3372 18.7548 19.3372 18.6668C19.3372 18.5788 19.3198 18.4916 19.286 18.4104C19.2521 18.3292 19.2025 18.2554 19.14 18.1935L14.94 14.0001Z" fill="#7F8B91" />
    </symbol>
  </svg>
</template>

<script>
export default {
  name: 'Icons'
}
</script>

<style lang="scss">
.hidden {
  display: block;
  width: 0;
  height: 0;
}
</style>
