<template>
  <svg width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z" fill="#4C75A3" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.564 15.7448C29.6961 15.3155 29.564 15 28.9354 15H26.8568C26.3283 15 26.0846 15.2725 25.9525 15.5731C25.9525 15.5731 24.8954 18.0848 23.398 19.7163C22.9135 20.1886 22.6933 20.3388 22.429 20.3388C22.2969 20.3388 22.1057 20.1885 22.1057 19.7592V15.7448C22.1057 15.2296 21.9523 15 21.5118 15H18.2454C17.9152 15 17.7165 15.2391 17.7165 15.4658C17.7165 15.9542 18.4652 16.0668 18.5424 17.4408V20.4247C18.5424 21.0789 18.4212 21.1976 18.1569 21.1976C17.4523 21.1976 15.7382 18.6746 14.7216 15.7878C14.5223 15.2267 14.3225 15 13.7913 15H11.7127C11.1188 15 11 15.2725 11 15.5731C11 16.1098 11.7047 18.7717 14.2812 22.2924C15.9988 24.6967 18.4189 26 20.621 26C21.9423 26 22.1057 25.7105 22.1057 25.2119V23.3947C22.1057 22.8158 22.2309 22.7002 22.6493 22.7002C22.9576 22.7002 23.4861 22.8505 24.7193 24.0098C26.1287 25.3837 26.361 26 27.1538 26H29.2324C29.8263 26 30.1232 25.7105 29.9519 25.1393C29.7644 24.5699 29.0915 23.7439 28.1987 22.7646C27.7142 22.2065 26.9875 21.6054 26.7673 21.3048C26.459 20.9185 26.5471 20.7467 26.7673 20.4032C26.7673 20.4032 29.2998 16.9255 29.564 15.7448V15.7448Z" fill="white" />
  </svg>
</template>
