<template>
  <svg width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M40 19.2125C40 30 31.1812 38.4271 19.9458 38.4271C8.70833 38.4292 0 30 0 19.2125C0 8.425 8.76458 0 19.9458 0C31.1812 0 40 8.48333 40 19.2125ZM9.8875 19.2125C9.8875 25.3938 13.9333 29.55 20 29.55C25.9562 29.55 30.1146 25.2792 30.1146 19.2125C30.1146 13.2021 25.9 8.87708 20 8.87708C13.9896 8.87708 9.8875 13.0896 9.8875 19.2125Z" fill="url(#paint0_linear)" />
    <defs>
      <linearGradient id="paint0_linear" x1="6.04252" y1="5.29433" x2="33.9033" y2="33.1551" gradientUnits="userSpaceOnUse">
        <stop stop-color="#9164CC" />
        <stop offset="1" stop-color="#773DBD" />
      </linearGradient>
    </defs>
  </svg>
</template>
