<template>
  <!-- eslint-disable vue/max-attributes-per-line -->
  <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0585 1.72496L12.6085 1.27496C12.2258 0.891812 11.7084 0.673494 11.1668 0.666623H2.83351C2.28042 0.664714 1.74945 0.8837 1.35851 1.27496L0.908511 1.72496C0.537566 2.11304 0.331466 2.62978 0.333511 3.16662V13.1666C0.331602 13.7197 0.550588 14.2507 0.941845 14.6416L1.39184 15.0916C1.77992 15.4626 2.29667 15.6687 2.83351 15.6666H3.66684L2.83351 17.0166C2.79921 17.0824 2.80095 17.1612 2.83812 17.2254C2.87529 17.2896 2.94272 17.3303 3.01684 17.3333H4.24184C4.46711 17.3362 4.67552 17.2143 4.78351 17.0166L5.56684 15.6666H8.43351L9.21684 17.0166C9.32484 17.2143 9.53325 17.3362 9.75851 17.3333H10.9585C11.0326 17.3303 11.1001 17.2896 11.1372 17.2254C11.1744 17.1612 11.1761 17.0824 11.1418 17.0166L10.3335 15.6666H11.1668C11.7199 15.6685 12.2509 15.4495 12.6418 15.0583L13.0918 14.6083C13.4628 14.2202 13.6689 13.7035 13.6668 13.1666V3.16662C13.66 2.62509 13.4417 2.10771 13.0585 1.72496ZM5.33351 12.3333C5.33351 11.4128 6.0797 10.6666 7.00017 10.6666C7.92065 10.6666 8.66684 11.4128 8.66684 12.3333C8.66684 13.2538 7.92065 14 7.00017 14C6.0797 14 5.33351 13.2538 5.33351 12.3333ZM2.00001 9H12V4H2.00001V9Z" :fill="fill" />
  </svg>
</template>
<script>
export default {
  props: {
    fill: {
      type: String,
      default: ''
    }
  }
}
</script>
