<template>
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_301_137)">
      <rect width="64" height="64" fill="url(#paint0_linear_301_137)" />
      <path d="M49.1958 17.2763C49.1958 21.8325 47.3859 26.202 44.1642 29.4237C40.9425 32.6453 36.573 34.4553 32.0168 34.4553C27.4607 34.4553 23.0912 32.6453 19.8695 29.4237C16.6478 26.202 14.8379 21.8325 14.8379 17.2763" stroke="url(#paint1_linear_301_137)" stroke-width="2.69474" />
      <g filter="url(#filter0_dd_301_137)">
        <path d="M16.0489 44.9572V51.0606C16.0489 51.6616 15.6058 52.1054 15.019 52.1054C14.4322 52.1054 13.989 51.6609 13.989 51.0606V48.2857L12.959 49.9316C12.6718 50.3879 12.4079 50.5685 12.0245 50.5685C11.641 50.5685 11.3779 50.3886 11.09 49.9316L10.06 48.2857V51.0613C10.06 51.6624 9.61678 52.1062 9.02999 52.1062C8.4432 52.1062 8 51.6616 8 51.0613V44.9572C8 44.3452 8.43155 43.8882 9.02999 43.8882C9.44912 43.8882 9.73631 44.0922 10.0716 44.645L12.0237 47.7928L13.9766 44.645C14.3119 44.093 14.5998 43.8882 15.019 43.8882C15.6174 43.8882 16.0489 44.3452 16.0489 44.9572Z" fill="white" />
        <path d="M23.7636 45.5215L21.6912 48.9574V51.0596C21.6912 51.6607 21.248 52.1045 20.6612 52.1045C20.0744 52.1045 19.6312 51.6599 19.6312 51.0596V48.9574L17.5588 45.5215C17.4152 45.2933 17.3555 45.0886 17.3555 44.8604C17.3555 44.3076 17.7862 43.8872 18.3498 43.8872C18.7813 43.8872 19.0926 44.0795 19.3083 44.4883L20.662 46.9393L22.0156 44.4883C22.2306 44.092 22.5419 43.8872 22.9727 43.8872C23.5354 43.8872 23.9669 44.3076 23.9669 44.8604C23.9669 45.0886 23.9072 45.2933 23.7636 45.5215Z" fill="white" />
        <path d="M25.2615 51.2284C24.9976 50.9762 24.8423 50.6998 24.8423 50.3876C24.854 49.8348 25.2972 49.4743 25.7644 49.4743C25.9204 49.4743 26.0881 49.5225 26.2317 49.6183C26.411 49.7382 26.9139 50.291 27.7406 50.291C28.2916 50.291 28.5548 50.0987 28.5548 49.7141C28.5548 49.3419 28.3033 49.2212 27.7522 48.9814L26.938 48.6209C25.6806 48.0681 24.9378 47.3472 24.9378 46.2299C24.9386 44.8121 26.1362 43.8871 27.7049 43.8871C29.0942 43.8754 29.7648 44.5715 29.9565 44.8004C30.1358 45.0044 30.1956 45.2208 30.1956 45.4131C30.1956 45.9418 29.7283 46.3381 29.2735 46.3381C29.1059 46.3381 28.9266 46.2898 28.7465 46.1583C28.4826 45.9784 28.2552 45.702 27.7281 45.702C27.3206 45.702 27.0218 45.846 27.0218 46.2065C27.0218 46.5071 27.2135 46.6511 27.7041 46.8551L28.6145 47.2397C29.9317 47.7925 30.6388 48.4652 30.6388 49.6308C30.6388 51.1926 29.369 52.1059 27.7406 52.1059C26.8666 52.1051 25.8242 51.7571 25.2615 51.2284Z" fill="white" />
        <path d="M31.8629 51.0362V44.9562C31.8629 44.3442 32.2945 43.8872 32.8937 43.8872C33.4921 43.8872 33.9237 44.3435 33.9237 44.9562V46.9268H36.8103V44.9329C36.8103 44.3201 37.2418 43.8872 37.8402 43.8872C38.4395 43.8872 38.8702 44.3201 38.8702 44.9329V51.0362C38.8702 51.649 38.427 52.1052 37.8402 52.1052C37.2535 52.1052 36.8103 51.649 36.8103 51.0362V48.7892H33.9237V51.0362C33.9237 51.649 33.4805 52.1052 32.8937 52.1052C32.3069 52.1052 31.8629 51.649 31.8629 51.0362Z" fill="white" />
        <g filter="url(#filter1_dd_301_137)">
          <path d="M48.621 47.9966C48.621 50.3036 46.7403 52.1052 44.345 52.1052C41.9498 52.1052 40.0931 50.3028 40.0931 47.9966C40.0931 45.6904 41.9614 43.8872 44.345 43.8872C46.7403 43.8872 48.621 45.7013 48.621 47.9966Z" fill="url(#paint2_linear_301_137)" />
        </g>
        <path d="M49.8441 51.0601V45.0767C49.8441 44.4756 50.2873 44.031 50.8857 44.031H52.9457C54.7542 44.031 56 45.1366 56 46.7584C56 48.3561 54.7301 49.4975 52.9457 49.4975H51.9041V51.0593C51.9041 51.6604 51.4609 52.1042 50.8741 52.1042C50.2873 52.105 49.8441 51.6604 49.8441 51.0601ZM52.9581 47.6958C53.5325 47.6958 53.9043 47.3237 53.9043 46.7584C53.9043 46.2056 53.5333 45.8334 52.9581 45.8334H51.9041V47.6958H52.9581Z" fill="white" />
      </g>
      <g filter="url(#filter2_i_301_137)">
        <circle cx="14.75" cy="17.25" r="4.5" fill="#602C9B" />
      </g>
      <g filter="url(#filter3_i_301_137)">
        <circle cx="49.25" cy="17.25" r="4.5" fill="#602C9B" />
      </g>
      <g filter="url(#filter4_dd_301_137)">
        <path d="M49.2053 17.2763C49.2053 21.8325 47.3953 26.202 44.1737 29.4237C40.952 32.6453 36.5825 34.4553 32.0263 34.4553C27.4702 34.4553 23.1006 32.6453 19.879 29.4237C16.6573 26.202 14.8474 21.8325 14.8474 17.2763" stroke="white" stroke-width="2.69474" stroke-linecap="round" />
      </g>
    </g>
    <defs>
      <filter id="filter0_dd_301_137" x="7.625" y="43.887" width="48.75" height="9.21924" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.625" />
        <feGaussianBlur stdDeviation="0.1875" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.164706 0 0 0 0 0.239216 0 0 0 0 0.282353 0 0 0 0.08 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_301_137" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.375" />
        <feGaussianBlur stdDeviation="0.125" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.164706 0 0 0 0 0.239216 0 0 0 0 0.282353 0 0 0 0.04 0" />
        <feBlend mode="normal" in2="effect1_dropShadow_301_137" result="effect2_dropShadow_301_137" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_301_137" result="shape" />
      </filter>
      <filter id="filter1_dd_301_137" x="39.7181" y="43.8872" width="9.27783" height="9.21802" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.625" />
        <feGaussianBlur stdDeviation="0.1875" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.164706 0 0 0 0 0.239216 0 0 0 0 0.282353 0 0 0 0.08 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_301_137" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.375" />
        <feGaussianBlur stdDeviation="0.125" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.164706 0 0 0 0 0.239216 0 0 0 0 0.282353 0 0 0 0.04 0" />
        <feBlend mode="normal" in2="effect1_dropShadow_301_137" result="effect2_dropShadow_301_137" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_301_137" result="shape" />
      </filter>
      <filter id="filter2_i_301_137" x="10.25" y="12.75" width="9" height="9.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.5" />
        <feGaussianBlur stdDeviation="0.25" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_301_137" />
      </filter>
      <filter id="filter3_i_301_137" x="44.75" y="12.75" width="9" height="9.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.5" />
        <feGaussianBlur stdDeviation="0.25" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_301_137" />
      </filter>
      <filter id="filter4_dd_301_137" x="13.125" y="15.929" width="37.8026" height="20.8738" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.625" />
        <feGaussianBlur stdDeviation="0.1875" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.164706 0 0 0 0 0.239216 0 0 0 0 0.282353 0 0 0 0.08 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_301_137" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
        <feOffset dy="0.375" />
        <feGaussianBlur stdDeviation="0.125" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.164706 0 0 0 0 0.239216 0 0 0 0 0.282353 0 0 0 0.04 0" />
        <feBlend mode="normal" in2="effect1_dropShadow_301_137" result="effect2_dropShadow_301_137" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_301_137" result="shape" />
      </filter>
      <linearGradient id="paint0_linear_301_137" x1="32" y1="0" x2="32" y2="64" gradientUnits="userSpaceOnUse">
        <stop stop-color="#9063CB" />
        <stop offset="1" stop-color="#783CBD" />
      </linearGradient>
      <linearGradient id="paint1_linear_301_137" x1="13.4905" y1="17.2763" x2="50.5431" y2="17.2763" gradientUnits="userSpaceOnUse">
        <stop stop-color="#783CBD" />
        <stop offset="1" stop-color="#FF8300" />
      </linearGradient>
      <linearGradient id="paint2_linear_301_137" x1="44.3571" y1="43.8872" x2="44.3571" y2="52.1052" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FF8300" />
        <stop offset="0.500406" stop-color="#FF6B00" />
        <stop offset="1" stop-color="#FF6B00" />
      </linearGradient>
      <clipPath id="clip0_301_137">
        <rect width="64" height="64" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
