<template functional>
  <div v-once class="icons">
    <svg
      v-for="icon in ['mir', 'visa', 'maestro', 'mastercard', 'apple', 'google', 'yoomoney']"
      :key="icon"
      :class="['icon', `is-${icon}`]"
    >
      <use :xlink:href="`#is-${icon}`" />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'ThePaymentIcons'
}
</script>

<style lang="scss" scoped>
.icons {
  display: flex;
  align-items: center;
}

.icon {
  height: 12px;

  &:not(:last-child) {
    margin-right: 3px;
  }

  &:not(:first-child) {
    margin-left: 3px;
  }

  &.is-mir {
    width: 36px;
    height: 10px;
    --var-color-1: #AAB1B6;
    --var-color-2: #D4D8DA;

    .active & {
      --var-color-1: #0F754E;
      --var-color-2: #089DF7;
    }
  }

  &.is-visa {
    width: 38px;
    --var-color-1: #AAB1B6;
    --var-color-2: #D4D8DA;

    .active & {
      --var-color-1: #2566AF;
      --var-color-2: #E6A540;
    }
  }

  &.is-maestro {
    width: 16px;
    --var-color-1: #AAB1B6;
    --var-color-2: #D4D8DA;
    --var-color-3: #AAB1B6;

    .active & {
      --var-color-1: #0099DF;
      --var-color-2: #EB001B;
      --var-color-3: #231F20;
    }
  }

  &.is-mastercard {
    width: 16px;
    --color-1: #AAB1B6;
    --color-2: #C0C5C9;
    --color-3: #AAB1B6;
    --color-4: #D4D8DA;

    .active & {
      --color-1: #000;
      --color-2: #FF5F00;
      --color-3: #EB001B;
      --color-4: #F79E1B;
    }
  }

  &.is-apple {
    width: 11px;
    fill: #AAB1B6;

    .active & {
      fill: #000;
    }
  }

  &.is-google {
    width: 13px;
    --color-1: #AAB1B6;
    --color-2: #AAB1B6;
    --color-3: #AAB1B6;
    --color-4: #AAB1B6;

    .active & {
      --color-1: #FBBB00;
      --color-2: #518EF8;
      --color-3: #28B446;
      --color-4: #F14336;
    }
  }

  &.is-yoomoney {
    width: 17px;
    fill: #AAB1B6;

    .active & {
      fill: #8B3EFC;
    }
  }
}
</style>
