<template functional>
  <div class="icons">
    <a
      v-for="{ icon, link, title } in props.items"
      :key="icon"
      :href="link"
      class="link"
      :title="title"
    >
      <svg :class="['icon', `is-${icon}`]">
        <use :xlink:href="`#is-${icon}`" />
      </svg>
    </a>
  </div>
</template>

<script>
export default {
  name: 'ThePaymentIcons',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.icons {
  display: flex;
  gap: 14px;
  align-items: center;
}

.link {
  display: flex;
}

.icon {
  height: 16px;
  transition: color .3s, fill .3s;

  &.is-mobile {
    width: 10px;
    height: 14px;
    color: #AAB1B6;

    &:hover,
    .active & {
      color: $myshop-violet;
    }
  }

  &.is-mir {
    width: 46px;
    height: 13px;
    --var-color-1: #AAB1B6;
    --var-color-2: #D4D8DA;

    &:hover,
    .active & {
      --var-color-1: #0F754E;
      --var-color-2: #089DF7;
    }
  }

  &.is-visa {
    width: 48px;
    --var-color-1: #AAB1B6;
    --var-color-2: #D4D8DA;

    &:hover,
    .active & {
      --var-color-1: #2566AF;
      --var-color-2: #E6A540;
    }
  }

  &.is-maestro {
    width: 20px;
    --var-color-1: #AAB1B6;
    --var-color-2: #D4D8DA;
    --var-color-3: #AAB1B6;

    &:hover,
    .active & {
      --var-color-1: #0099DF;
      --var-color-2: #EB001B;
      --var-color-3: #231F20;
    }
  }

  &.is-mastercard {
    width: 20px;
    --color-1: #AAB1B6;
    --color-2: #C0C5C9;
    --color-3: #AAB1B6;
    --color-4: #D4D8DA;

    &:hover,
    .active & {
      --color-1: #000;
      --color-2: #FF5F00;
      --color-3: #EB001B;
      --color-4: #F79E1B;
    }
  }

  &.is-apple {
    width: 11px;
    fill: #AAB1B6;

    &:hover,
    .active & {
      fill: #000;
    }
  }

  &.is-google {
    width: 13px;
    --color-1: #AAB1B6;
    --color-2: #AAB1B6;
    --color-3: #AAB1B6;
    --color-4: #AAB1B6;

    &:hover,
    .active & {
      --color-1: #FBBB00;
      --color-2: #518EF8;
      --color-3: #28B446;
      --color-4: #F14336;
    }
  }

  &.is-yoomoney {
    width: 22px;
    fill: #AAB1B6;

    &:hover,
    .active & {
      fill: #8B3EFC;
    }
  }
}
</style>
