<template>
  <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path :mask="isOverlaped ? 'url(#half)' : null" d="M16.7359 5.89552L11.7769 5.17481L9.56013 0.680671C9.49958 0.557624 9.39997 0.458015 9.27692 0.397468C8.96833 0.245124 8.59333 0.372078 8.43903 0.680671L6.22223 5.17481L1.26325 5.89552C1.12653 5.91505 1.00153 5.9795 0.905829 6.07716C0.790129 6.19608 0.726373 6.35606 0.728571 6.52197C0.730768 6.68787 0.798739 6.84611 0.917548 6.96192L4.50544 10.46L3.65778 15.3994C3.6379 15.5143 3.65062 15.6325 3.69449 15.7405C3.73835 15.8486 3.81161 15.9422 3.90596 16.0107C4.00031 16.0792 4.11198 16.1199 4.22829 16.1282C4.3446 16.1365 4.46091 16.1121 4.56403 16.0576L8.99958 13.7256L13.4351 16.0576C13.5562 16.1221 13.6968 16.1436 13.8316 16.1201C14.1715 16.0615 14.4 15.7393 14.3414 15.3994L13.4937 10.46L17.0816 6.96192C17.1793 6.86622 17.2437 6.74122 17.2633 6.6045C17.316 6.2627 17.0777 5.9463 16.7359 5.89552Z" :fill="ratingColor" />
    <mask id="half">
      <rect :x="`${overlapXPos}%`" y="0" :width="overlapWidthPercent" height="17" :fill="overlapColor" />
    </mask>
  </svg>
</template>

<script>
export default {
  name: 'RatingIcon',
  props: {
    isOverlaped: {
      type: Boolean,
      default: false
    },
    overlapWidthPercent: {
      type: Number,
      default: 100
    },
    overlapColor: {
      type: String,
      default: '#DADADA'
    },
    overlapXPos: {
      type: Number,
      default: 0
    },
    ratingColor: {
      type: String,
      default: '#DADADA'
    }
  }
}
</script>
<style lang="scss" scoped>
svg {
  position: relative;
  overflow: hidden;
}
</style>
