<template>
  <!-- eslint-disable vue/max-attributes-per-line -->
  <svg stroke-width="0.501" stroke-linejoin="bevel" fill-rule="evenodd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" overflow="visible" width="150pt" height="195.75pt" viewBox="0 0 150 195.75">
    <defs>
      <marker id="DefaultArrow2" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_STRAIGHT (-2) -->
        <g transform="scale(0.0092592592)">
          <!-- 1/108 -->
          <path d="M -9 54 L -9 -54 L 117 0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow3" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_ANGLED -->
        <g transform="scale(0.0092592592)">
          <path d="M -27 54 L -9 0 L -27 -54 L 135 0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow4" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_ROUNDED -->
        <g transform="scale(0.0092592592)">
          <path d="M -9,0 L -9,-45 C -9,-51.708 2.808,-56.580 9,-54 L 117,-9 C 120.916,-7.369 126.000,-4.242 126,0 C 126,4.242 120.916,7.369 117,9 L 9,54 C 2.808,56.580 -9,51.708 -9,45 z" />
        </g>
      </marker>
      <marker id="DefaultArrow5" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_SPOT -->
        <g transform="scale(0.0092592592)">
          <path d="M -54, 0 C -54,29.807 -29.807,54 0,54 C 29.807,54 54,29.807 54,0 C 54,-29.807 29.807,-54 0,-54 C -29.807,-54 -54,-29.807 -54,0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow6" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_DIAMOND -->
        <g transform="scale(0.0092592592)">
          <path d="M -63,0 L 0,63 L 63,0 L 0,-63 z" />
        </g>
      </marker>
      <marker id="DefaultArrow7" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_FEATHER -->
        <g transform="scale(0.0092592592)">
          <path d="M 18,-54 L 108,-54 L 63,0 L 108,54 L 18, 54 L -36,0 z" />
        </g>
      </marker>
      <marker id="DefaultArrow8" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_FEATHER2 -->
        <g transform="scale(0.0092592592)">
          <path d="M -36,0 L 18,-54 L 54,-54 L 18,-18 L 27,-18 L 63,-54 L 99,-54 L 63,-18 L 72,-18 L 108,-54 L 144,-54 L 90,0 L 144,54 L 108,54 L 72,18 L 63,18 L 99,54 L 63,54 L 27,18 L 18,18 L 54,54 L 18,54 z" />
        </g>
      </marker>
      <marker id="DefaultArrow9" markerUnits="strokeWidth" viewBox="0 0 1 1" markerWidth="1" markerHeight="1" overflow="visible" orient="auto">
        <!-- REF_ARROW_HOLLOWDIAMOND -->
        <g transform="scale(0.0092592592)">
          <path d="M 0,45 L -45,0 L 0, -45 L 45, 0 z M 0, 63 L-63, 0 L 0, -63 L 63, 0 z" />
        </g>
      </marker>
      <filter id="StainedFilter">
        <feBlend mode="multiply" in2="BackgroundImage" in="SourceGraphic" result="blend" />
        <feComposite in="blend" in2="SourceAlpha" operator="in" result="comp" />
      </filter>
      <filter id="BleachFilter">
        <feBlend mode="screen" in2="BackgroundImage" in="SourceGraphic" result="blend" />
        <feComposite in="blend" in2="SourceAlpha" operator="in" result="comp" />
      </filter>
      <filter id="InvertTransparencyBitmapFilter">
        <feComponentTransfer>
          <feFuncR type="gamma" amplitude="1.055" exponent=".416666666" offset="-0.055" />
          <feFuncG type="gamma" amplitude="1.055" exponent=".416666666" offset="-0.055" />
          <feFuncB type="gamma" amplitude="1.055" exponent=".416666666" offset="-0.055" />
        </feComponentTransfer>
        <feComponentTransfer>
          <feFuncR type="linear" slope="-1" intercept="1" />
          <feFuncG type="linear" slope="-1" intercept="1" />
          <feFuncB type="linear" slope="-1" intercept="1" />
          <feFuncA type="linear" slope="1" intercept="0" />
        </feComponentTransfer>
        <feComponentTransfer>
          <feFuncR type="gamma" amplitude="1" exponent="2.4" offset="0" />
          <feFuncG type="gamma" amplitude="1" exponent="2.4" offset="0" />
          <feFuncB type="gamma" amplitude="1" exponent="2.4" offset="0" />
        </feComponentTransfer>
      </filter>
    </defs>
    <g id="Document" stroke="black" font-family="Times New Roman" font-size="16" transform="scale(1 -1)">
      <g id="Spread" transform="translate(0 -195.75)">
        <g id="Layer 1">
          <path d="M 144.449,165.727 C 141.283,173.897 136.67,178.745 131.783,183.319 C 126.896,187.893 118.218,192.31 111.024,193.835 C 105.825,195.164 98.202,195.75 88.429,195.75 L 12.431,195.75 L 12.431,105.054 L 0,105.054 L 0,84.726 L 12.431,84.726 L 12.431,76.477 L 0,76.477 L 0,56.148 L 12.431,56.148 L 12.431,-0.028 L 34.206,-0.028 L 34.206,56.148 L 112.236,56.148 L 112.236,76.477 L 34.206,76.477 L 34.206,84.726 L 35.575,84.726 L 90.149,84.726 C 111.142,84.726 126.193,90.59 135.575,102.005 C 144.528,112.912 150.001,122.451 150.001,139.182 C 150.001,148.878 147.303,157.791 144.41,165.766 Z M 115.833,114.358 L 115.833,114.358 C 110.36,108.104 103.128,105.054 90.461,105.054 L 35.614,105.054 L 35.614,105.054 L 34.246,105.054 L 34.246,174.914 L 90.031,174.914 C 98.945,174.914 105.121,174.327 108.288,173.193 C 113.527,169.871 117.632,167.29 120.681,161.622 C 123.847,155.719 125.411,148.721 125.411,140.746 C 125.411,129.37 120.993,120.418 115.794,114.358 Z" stroke-linejoin="miter" stroke="none" stroke-width="0.039" fill-rule="nonzero" marker-start="none" marker-end="none" stroke-miterlimit="79.8403193612775" />
        </g>
        <g id="Layer_1" />
      </g>
    </g>
  </svg>
</template>
