<template>
  <svg width="105" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#a)">
      <path d="M49.4375 16.875H51.5l2.875-10.6875V16.875h2.3125V2.75H53.5l-2.875 10.375L47.75 2.75H44.5v14.125h2V6.1875l2.9375 10.6875Zm16.9375-7c0-2.5-1.25-3.4375-3.8125-3.4375-1.625 0-2.875.5-3.625.9375v2c.625-.5 2.0625-1 3.3125-1 1.1875 0 1.6875.4375 1.6875 1.5v.5625h-.375c-3.6875 0-5.375 1.25-5.375 3.3125s1.25 3.25 3.125 3.25c1.4375 0 2.0625-.4375 2.5-.9375h.125c0 .25.125.625.1875.8125H66.5c-.0625-.8125-.125-1.6875-.125-2.5v-4.5Zm-2.4375 4.5625c-.3125.4375-.875.8125-1.75.8125-1 0-1.5-.625-1.5-1.5 0-1.1875.8125-1.625 2.9375-1.625H64v2.3125h-.0625Zm6.625-7.8125h-2.25v13.1875H70.75v-4.125c.625.9375 1.5 1.375 2.5625 1.375 2.375 0 4-1.875 4-5.3125s-1.5625-5.3125-3.875-5.3125c-1.125 0-2.0625.5-2.75 1.5l-.125-1.3125Zm2.0625 8.5625c-1.25 0-1.9375-1.0625-1.9375-3.375 0-2.375.6875-3.4375 2.0625-3.4375 1.3125 0 2 1.0625 2 3.375 0 2.375-.6875 3.4375-2.125 3.4375Zm12.25 1.6875h2.75l-3.875-5.5 3.4375-4.75H84.75l-3.4375 4.75v-4.75H78.875v10.25h2.4375v-5l3.5625 5Zm10.875-.6875v-2c-.75.5-2 .9375-3.1875.9375-1.75 0-2.4375-.8125-2.5625-2.5625h5.8125V11.25c0-3.5625-1.5625-4.875-4-4.875-2.9375 0-4.375 2.25-4.375 5.375 0 3.5625 1.75 5.3125 4.8125 5.3125 1.6875 0 2.8125-.375 3.5-.875ZM91.8125 8.375c1.1875 0 1.5625 1 1.5625 2.25v.1875H90c.0625-1.625.6875-2.4375 1.8125-2.4375Zm12.6875.1875V6.625h-8.125v1.9375h2.875v8.3125h2.437V8.5625h2.813Z" fill="#000" />
      <path d="M30.0625 19.375c5.1875 0 9.375-4.1875 9.375-9.375S35.25.625 30.0625.625s-9.375 4.1875-9.375 9.375c-.0625 5.1875 4.1875 9.375 9.375 9.375Z" fill="#FED42B" />
      <path d="M10 19.375c5.1777 0 9.375-4.1973 9.375-9.375 0-5.17767-4.1973-9.375-9.375-9.375C4.82233.625.625 4.82233.625 10c0 5.1777 4.19733 9.375 9.375 9.375Z" fill="#FC3F1D" />
      <path d="M11.375 5.875h-.9375C8.8125 5.875 8 6.6875 8 7.9375c0 1.375.5625 2.0625 1.75 2.875l.9375.6875L8 15.6875H5.8125L8.375 11.875c-1.5-1.0625-2.3125-2.0625-2.3125-3.8125 0-2.1875 1.5-3.6875 4.375-3.6875h2.875v11.25h-1.875v-9.75h-.0625Z" fill="#fff" />
      <path d="m25.4375 5.75-8.25 10.8125 2.1875 2.5 6.125-8.125-.625 4.4375 3.4375 1.1875L32.5 9.875c-.1875 1.25-.5 4.125 2.25 5 4.3125 1.3125 8.0625-6.4375 9.8125-10.375l-2.5-1.3125c-1.9375 4.0625-4.9375 8.5625-6.125 8.25s-.125-4.125.5625-6.5625v-.0625L32.6875 3.5l-4.5625 7.4375.625-4.0625-3.3125-1.125Z" fill="#000" />
    </g>
    <defs>
      <clipPath id="a">
        <path fill="#fff" transform="translate(.625)" d="M0 0h104.375v20H0z" />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: 'IconYMarketLogo'
}
</script>
