<template>
  <div class="slideshow__slide-wrapper">
    <article class="slideshow__slide" >
      <div  class="slideshow__slide-inner" >
        <slot />
      </div>
    </article>
  </div>
</template>
<script>
export default {
  name: 'SlideShowSlide'
}
</script>
