<template>
  <div class="slider_wrap" :style="styles">
    <transition-group
      tag="div"
      name="fade"
      :style="useCustomLayout ? '' : `display:grid; grid-template-columns: repeat(${itemsToShow}, auto);`"
      class="slider"
      :duration="slidersCollections.length * 50"
    >
      <span v-for="(ite, index) of slidersCollections" ref="slide" :key="ite.key" class="slider__slide-container" :style="{transitionDelay: `${index * 40}ms`, ...styles}">
        <RenderSlide :components="ite" />
      </span>
    </transition-group>
    <div class="slider__navigation">
      <button class="slider__btn slider__btn_prev" :style="styles" @click="slidePrev()" />
      <button class="slider__btn slider__btn_next" :style="styles" @click="slideNext()" />
    </div>
  </div>
</template>
<script>
import RenderSlide from './renderSlide.js'
export default {
  name: 'SlideShow',
  components:{
    RenderSlide
  },
  props: {
    /**
    @description формат объекта
      {
        itemsToShow: 5.2, // кол-во слайдов которые будут показываться
        breakpoints: { // точки для изменения кол-ва слайдов - работают от меньшей в большую сторону
          1920: {
            itemsToShow: 7
          }
        }
      }
     */
    settings: {
      type: Object,
      required: true,
      default: () => {}
    },
    /**
    @description массив слайдов для отображения
    */
    items: {
      type: Array,
      required: true,
      default: () => []
    },
    /**
     * @description шириина окна браузера
     */
    windowWidth: {
      type: Number,
      required: true,
      default: () => 1440
    },
    /**
     * @description отключает правило отрисовки сетки для <transition-group>
     */
    useCustomLayout: {
      type: Boolean,
      default: () => false
    },
    /**
     * @description параметр отвечающий за автоматическое определение высоты от слайдов
     */
    autoHeightSlide: {
      type: Boolean,
      default: () => false
    },
    /**
     * @description параметр назначающий фиксированную высоту это свойство имеет приоритет над  св-м sliderHeightCalc
     */
    heightSlider: {
      type: Number,
      default: () => {}
    }
  },
  data() {
    return {
      sliderCounter: 1,
      sliderHeightCalc: null
    }
  },
  computed:{
    styles(){
      if(this.heightSlider){
        return {
          height: `${this.heightSlider}px`,
        }
      }
      if(this.sliderHeightCalc){
        return {
          height: `${this.sliderHeightCalc}px`,
        }
      }
      return {}
    },
    slidesIterations () {
      const itemsToShow = this.itemsToShow
      return this.items.length / itemsToShow
    },
    itemsToShow () {
      return this.activeBrackpoint
        ? this.settings.breakpoints[this.activeBrackpoint].itemsToShow
        : this.settings.itemsToShow
    },
    activeBrackpoint () {
      let breackpoint = null
      let minBrackpoint = null

      if (
        this.settings.breakpoints &&
        Object.keys(this.settings?.breakpoints).length &&
        this.windowWidth > 0
      ) {
        Object.keys(this.settings.breakpoints).forEach((resolution) => {
          if (Number(resolution) > Number(this.windowWidth)) {
            breackpoint = minBrackpoint
          } else {
            minBrackpoint = resolution
          }
        })
        return breackpoint
      } else {
        return false
      }
    },
    slidersCollections () {
      const { itemsToShow } = this
      const countSlideInLoop = Math.round(itemsToShow)
      const endPos = this.sliderCounter * countSlideInLoop
      const startPos = endPos - countSlideInLoop
      
      const slides = this.$slots.default.filter((v, index) => {
        if (index >= startPos && index < endPos) {
          return v
        }
        return false
      })
      return slides
    },
  },
  mounted () {
    if(this.autoHeightSlide){
      this.sliderHeightCalc = this.$refs.slide[0].getBoundingClientRect().height
    }
  },
  methods: {
    slidePrev () {
      this.$gtmTrack.namedEvent('recommends_backward')
      if (this.sliderCounter > 1) this.sliderCounter -= 1
      this.$emit('slideshow-prev-slide')
    },
    /**
     * @description параметр назначающий фиксированную высоту это свойство имеет приоритет над  св-м sliderHeightCalc
     */
    slideNext () {
      this.$gtmTrack.namedEvent('recommends_forward')
      if (
        this.sliderCounter >= 1 &&
        this.sliderCounter < this.slidesIterations
      ) {
        this.sliderCounter += 1
      }
      this.$emit('slideshow-next-slide')
    },
  }
}
</script>
<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.slider {
  &__navigation {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  &__btn {
    position: absolute;
    width: 44px;
    height: 302px;
    display: flex;
    height: 100%;
    right: 0;
    border-radius: 0;
    bottom: 0;
    top: 0;
    border-radius: 8px;
    border: 1px solid #ebe2f5;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.8387 4.36483C7.16075 4.04278 7.68289 4.04278 8.00494 4.36483L12.9529 9.31274C13.2749 9.63479 13.2749 10.1569 12.9529 10.479L8.00494 15.4269C7.68289 15.7489 7.16075 15.7489 6.8387 15.4269C6.51666 15.1048 6.51666 14.5827 6.8387 14.2607L11.2035 9.89586L6.8387 5.53106C6.51666 5.20901 6.51666 4.68687 6.8387 4.36483Z' fill='purple'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    transform: none;
    pointer-events: auto;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ebe2f5;
    }
    .icon {
      display: none;
    }
  }
  &__btn_prev {
    transform: scale(-1, 1);
    left: 0;
    top: 0;
    right: unset;
  }

  &__regular-card {
    ::v-deep {
      .product-card {
        width: auto;
        height: 302px;
        flex: 1;
      }
    }
  }

  &__slide-inner {
    display: flex;
    justify-content: center;
  }

  &__slide {
    max-width: 300px;
  }
}
</style>
