<template>
  <div class="wrap">
    <div class="filter">
      <div class="filter__select">
        <div class="filter__btn" :class="{ 'open': openList === 1 }" @click="toggleList(1)">Разделы каталога</div>
        <template v-if="openList === 1">
          <div class="filter__list">
            <input-radio label="Все разделы" :checked="isChecked(['all'], 'categories')" @change="checkedList('all','categories')" />
            <input-checkbox v-for="item in categories" :key="item.id" :label="item.title" :checked="isChecked([item.id], 'categories')" @change="checkedList(item.id, 'categories')" />
          </div>
          <div class="filter__overlay" @click="openList = null" />
        </template>
      </div>

      <div class="filter__select">
        <div class="filter__btn" :class="{ 'open': openList === 2 }" @click="toggleList(2)">Типы акций</div>
        <template v-if="openList === 2">
          <div class="filter__list">
            <input-radio label="Все типы акций" :checked="isChecked(['all'], 'types')" @change="checkedList('all','types')" />
            <input-checkbox label="Скидки" :checked="isChecked(['10', '20', '50', '55'], 'types')" @change="checkedSale" />
            <input-checkbox label="Подарки" :checked="isChecked(['30'], 'types')" @change="checkedList('30', 'types')" />
            <input-checkbox label="Рекомендации" :checked="isChecked(['90'], 'types')" @change="checkedList('90', 'types')" />
          </div>
          <div class="filter__overlay" @click="openList = null" />
        </template>
      </div>

      <div class="filter__select">
        <div class="filter__btn" :class="{ 'open': openList === 3 }" @click="toggleList(3)">Сроки акций</div>
        <template v-if="openList === 3">
          <div class="filter__list">
            <input-radio label="Все" :checked="isChecked(['all'], 'interval')" @change="checkedList('all','interval')" />
            <input-radio label="Новые" :checked="isChecked(['new'], 'interval')" @change="checkedList('new', 'interval')" />
            <input-radio label="Скоро закончатся" :checked="isChecked(['ending'], 'interval')" @change="checkedList('ending', 'interval')" />
          </div>
          <div class="filter__overlay" @click="openList = null" />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import InputCheckbox from '@/components/ui/InputCheckbox'
import InputRadio from '@/components/ui/InputRadio'

export default {
  components: {
    InputCheckbox,
    InputRadio
  },
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          categories: ['all'],
          types: ['all'],
          interval: 'all'
        }
      }
    },
    categories: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      openList: null
    }
  },
  methods: {
    toggleList (item) {
      this.openList = this.openList !== item ? item : null
    },
    checkedList (item, type) {
      let filter = null
      if (item === 'all') {
        filter = type === 'interval' ? 'all' : ['all']
      } else {
        filter = this.value[type]
        if (type === 'interval') {
          filter = item
        } else {
          const all = filter.indexOf('all')
          if (all > -1) filter.splice(all, 1)
          const index = filter.indexOf(item)
          if (index > -1) {
            filter.splice(index, 1)
            filter = filter.length > 0 ? filter : ['all']
          } else {
            filter.push(item)
          }
        }
      }
      this.saveFilters(filter, type)
    },
    isChecked (items, type) {
      return items.some(item => this.value[type].includes(item))
    },
    saveFilters (item, type) {
      this.$emit('input', {
        ...this.value,
        [type]: item
      })
    },
    checkedSale () {
      this.checkedList('10', 'types')
      this.checkedList('20', 'types')
      this.checkedList('50', 'types')
      this.checkedList('55', 'types')
    }
  }
}
</script>

<style scoped lang="scss">
.wrap {
  width: $desktop-width;
  padding: 0;
  margin: 0 auto;
  position: relative;

  @media (max-width: $desktop-width) {
    width: 100%;
    padding: 0 10px;
  }
}

.filter {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 10px 15px;

  &__mobile {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2A3D48;
    cursor: pointer;

    & > div {
      padding: 0 10px;
    }
  }

  &__select {
    position: relative;
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }

  &__btn {
    width: 100%;
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #DFE2E4;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 40px 10px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    cursor: pointer;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
      background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M4.41058 6.91058C4.08514 7.23602 4.08514 7.76366 4.41058 8.08909L9.41058 13.0891C9.73602 13.4145 10.2637 13.4145 10.5891 13.0891L15.5891 8.08909C15.9145 7.76366 15.9145 7.23602 15.5891 6.91058C15.2637 6.58515 14.736 6.58515 14.4106 6.91058L9.99984 11.3213L5.58909 6.91058C5.26366 6.58514 4.73602 6.58514 4.41058 6.91058Z\' fill=\'%23959EA4\'/%3E%3C/svg%3E%0A') no-repeat center;
    }

    &.open {
      border: 1px solid #783CBD;
      color: #783CBD;

      &:after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M4.41058 13.0894C4.08514 12.764 4.08514 12.2363 4.41058 11.9109L9.41058 6.91091C9.73602 6.58547 10.2637 6.58547 10.5891 6.91091L15.5891 11.9109C15.9145 12.2363 15.9145 12.764 15.5891 13.0894C15.2637 13.4149 14.736 13.4149 14.4106 13.0894L9.99984 8.67867L5.58909 13.0894C5.26366 13.4149 4.73602 13.4149 4.41058 13.0894Z\' fill=\'%23783CBD\'/%3E%3C/svg%3E%0A') no-repeat center;
      }
    }
  }

  &__list {
    position: absolute;
    top: 60px;
    min-width: 220px;
    max-height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(42, 61, 72, 0.2);
    border-radius: 8px;
    padding: 15px 15px 0;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    z-index: 12;
    overflow-y: auto;
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 11;
  }
}
</style>
