<template>
  <div class="order">
    <nuxt-link
      :to="'/my/orders/order_' + order.id"
      class="order__status"
      :style="{ backgroundColor: bgColor[Number(order.condition)] }"
    >
      {{ order.status.state }}
    </nuxt-link>
    <div class="order__block">
      <div class="order__line order__line1">
        <div class="order__title">Заказ <nuxt-link :to="'/my/orders/order_' + order.id">{{ order.id }}</nuxt-link></div>
        <span class="order__cost">{{ order.cost | localeString }} <span>₽</span></span>
      </div>
      <div class="order__line order__line2">
        <div class="order__info">от {{ order.date }}</div>
        <span class="order__info">{{ order.components.quantity }} {{ order.components.text }}</span>
      </div>
      <nuxt-link :to="'/my/orders/order_' + order.id" class="btn btn-look">Смотреть заказ</nuxt-link>
    </div>
  </div>
</template>

<script>
import { myOrderColors } from '@/globals'

export default {
  props: {
    order: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      bgColor: myOrderColors
    }
  }
}
</script>

<style scoped lang="scss">
// Common CSS
.btn {
  color: $myshop-black;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  align-items: center;
  border: 1px solid #dfe2e4;
  border-radius: 8px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
// Common CSS

.order {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  }

  @media (max-width: 1023px) {
    margin: 0 0 8px;
  }
}
.order__block {
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 16px;
}
.order__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $myshop-black;
  a {
    font-weight: 600;
  }
}
.order__info {
  font-size: 14px;
  line-height: 20px;
  color: #40515B;
  text-align: center;
  margin: 0;
}
.order__status {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  display: block;
  padding: 8px 0 18px;
  margin-bottom: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: $myshop-black;
}
.order__cost {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $myshop-black;
  span {
    color: $myshop-gray;
  }
}

.order__line1 {
  margin-bottom: 4px;
}

.order__line2 {
  margin-bottom: 16px;
}

.order__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.btn-look {
  font-weight: 600;
  font-size: 14px;
  min-height: 40px;
}

.btn-look:hover {
  color: $myshop-violet;
  border: 1px solid $myshop-violet;
}

.btn-select {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-gray;
  cursor: pointer;
  padding: 0;
  border: 1px solid #E5E7E9;
  box-sizing: border-box;
  border-radius: 8px;
}

</style>
