<template>
  <div id="slWrap" class="guide-categories">
    <hooper
      v-if="isMounted"
      ref="slider"
      :settings="options"
      class="guide-categories__slider"
      @slide="BtnsHandler"
    >
      <slide v-for="item of categories" :key="item.id" class="guide-categories__item">
        <nuxt-link :to="{ name: 'guide', params: { id: item.id, page: 1 } }">
          <img :src="`/_all/guide/icon_${Number(id) === item.id ? '1' : '0'}${item.id}.svg`">
        </nuxt-link>
      </slide>
    </hooper>
    <div v-if="Number(categories.length) > itemsToShow" class="guide-categories__nav-wrap">
      <button
        class="guide-categories__nav guide-categories__nav_prev"
        :style="{ display: isHiddenBtnSliderPrev ? 'none' : '' }"
        @click="$refs.slider.slidePrev()"
      />
      <button
        class="guide-categories__nav guide-categories__nav_next"
        :style="{ display: isHiddenBtnSliderNext ? 'none' : '' }"
        @click="$refs.slider.slideNext()"
      />
    </div>
  </div>
</template>

<script>
import { Hooper, Slide } from 'hooper'
import 'hooper/dist/hooper.css'
import NuxtSSRScreenSize from '@/helpers/nuxt-ssr-screen-size'

export default {
  components: {
    Hooper,
    Slide
  },
  mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
  props: {
    categories: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      isHiddenBtnSliderPrev: false,
      isHiddenBtnSliderNext: false,
      itemsToShow: 1,
      itemsToSlide: 1,
      slideDefaultWidth: 142,
      slideIndent: 12,
      isMounted: false
    }
  },
  computed: {
    id () {
      return this.$route.params.id || 1
    },
    options () {
      const {
        itemsToShow,
        itemsToSlide
      } = this
      return {
        itemsToShow,
        itemsToSlide,
        trimWhiteSpace: true,
        transition: 500,
        shortDrag: false
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.recalcSliders()
    })

    this.$addEventListeners('resize', this.recalcSliders)
  },
  methods: {
    /**
     * @description логика отображения след/пред кнопок
     */
    BtnsHandler () {
      if (this.$refs.slider.currentSlide === 0) {
        this.isHiddenBtnSliderPrev = true
      } else {
        this.isHiddenBtnSliderPrev = false
      }
      if (
        this.$refs.slider.slidesCount ===
        this.$refs.slider.currentSlide + this.$refs.slider.trimEnd
      ) {
        // кол-во вырезаного места + кол-во прокрученных слайдов скроем кнопку
        this.isHiddenBtnSliderNext = true
      } else {
        this.isHiddenBtnSliderNext = false
      }
    },
    /**
     * @description настройки для слайдера
       * так же в стилях жестко забиты размеры чтобы не было дробных значений в
       * результате перерасчета и не было съежаний макета
       */
    setSettingsSlider () {
      if (this.$vssWidth < 700) {
        this.slideDefaultWidth = 90
        this.slideIndent = 5
      } else {
        this.slideDefaultWidth = 142
        this.slideIndent = 12
      }
    },

    /**
     * @description высчитывает сколько слайдов надо вставить от ширины контейнера слайдера
     */
    recalcSliders () {
      const slider = document.getElementById('slWrap').getBoundingClientRect()

      const getSlideSettings = (
        slideWidth,
        slideIndent,
        sliderWrapWidth = document.querySelector('.hooper').getBoundingClientRect().width
      ) => {
        const itemsToShow = sliderWrapWidth / (slideWidth + slideIndent)
        const itemsToSlide = Math.floor(itemsToShow)
        return {
          itemsToShow,
          itemsToSlide
        }
      }

      this.setSettingsSlider()

      const { itemsToShow, itemsToSlide } = getSlideSettings(
        this.slideDefaultWidth,
        this.slideIndent,
        slider.width
      )
      this.itemsToShow = itemsToShow
      this.itemsToSlide = itemsToSlide

      try {
        this.isMounted = true
        this.$refs.slider.initDefaults() // проинициализируем с новыми настройками
        this.$nextTick(() => {
          this.$refs.slider.update()
        })
      } catch (error) {
        console.error('this.$refs.slider.initDefaults() await load')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.guide-categories {
  width: 100%;

  &__slider {
    outline: none;
    height: auto;

    * {
      outline: none;
    }
  }

  &__item {
    padding: 0;
    height: 100%;
    min-width: 154px;
    max-width: 154px;
    @media (max-width: 700px) {
      min-width: 95px;
      max-width: 95px;
    }

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border-radius: 9px;
      cursor: pointer;
      padding: 20px;
      height: 130px;
      width: 142px;
      @media (max-width: 700px) {
        width: 90px;
        height: 90px;
        padding: 10px;
      }

      & img {
        width: 84px;
        height: 90px;
        @media (max-width: 700px) {
          width: 64px;
          height: 70px;
        }
      }
    }
  }

  &__nav-wrap {
    width: 100%;
  }

  &__nav {
    content: "";
    position: absolute;
    width: 40px;
    height: 90px;
    bottom: 0;
    border: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
    height: 130px;
    background: transparent;
    outline: none;
    @media (max-width: 700px) {
      height: 90px;
    }

    &_prev {
      left: 0;

      &:after {
        content: "";
        width: 40px;
        height: 90px;
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        cursor: pointer;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white 30%);
      }

      &:before {
        content: "";
        width: 40px;
        height: 90px;
        position: absolute;
        z-index: 6;
        bottom: 0;
        left: 0;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1613 4.36483C12.8392 4.04278 12.3171 4.04278 11.9951 4.36483L7.04715 9.31274C6.7251 9.63479 6.7251 10.1569 7.04715 10.479L11.9951 15.4269C12.3171 15.7489 12.8392 15.7489 13.1613 15.4269C13.4833 15.1048 13.4833 14.5827 13.1613 14.2607L8.7965 9.89586L13.1613 5.53106C13.4833 5.20901 13.4833 4.68687 13.1613 4.36483Z' fill='%232A3D48' fill-opacity='0.5'/%3E%3C/svg%3E%0A")
          no-repeat center;
      }

      @media (min-width: 700px) {
        &:after,
        &:before {
          height: 130px;
        }
      }
    }
    &_next {
      right: 0;

      &:after {
        content: "";
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          white 30%
        );
        position: absolute;
        z-index: 5;
        width: 40px;
        height: 90px;
        bottom: 0;
        right: 0;
      }

      &:before {
        content: "";
        width: 40px;
        height: 90px;
        position: absolute;
        z-index: 6;
        bottom: 0;
        right: 0;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.8387 4.36483C7.16075 4.04278 7.68289 4.04278 8.00494 4.36483L12.9529 9.31274C13.2749 9.63479 13.2749 10.1569 12.9529 10.479L8.00494 15.4269C7.68289 15.7489 7.16075 15.7489 6.8387 15.4269C6.51666 15.1048 6.51666 14.5827 6.8387 14.2607L11.2035 9.89586L6.8387 5.53106C6.51666 5.20901 6.51666 4.68687 6.8387 4.36483Z' fill='%232A3D48' fill-opacity='0.5'/%3E%3C/svg%3E ")
          no-repeat center;
      }

      @media (min-width: 700px) {
        &:after,
        &:before {
          height: 130px;
        }
      }
    }
  }
}
</style>
