<template>
  <div class="pvz-info">
    <div v-if="pvzInfo && pvzInfo.error">
      <div class="b pvz-title err">{{ pvzInfo.error }}</div>
    </div>
    <div v-if="pvzInfo && pvzInfo.info" class="pvzinfodiv" v-html="pvzInfo.info" />
    <div v-if="pvzInfo && pvzInfo.rp_type === 0"><u>Страница пункта выдачи</u>: <nuxt-link :to="`/my/helper_70/point_${pvzInfo.rp_id}`" rel="noopener noreferrer">https://my-shop.ru/my/helper_70/point_{{ pvzInfo.rp_id }}</nuxt-link></div>
    <div v-if="pvzInfo && pvzInfo.rp_type === 1"><u>Страница курьерской службы</u>: <nuxt-link :to="`/my/helper_71/point_${pvzInfo.rp_id}`" rel="noopener noreferrer">https://my-shop.ru/my/helper_71/point_{{ pvzInfo.rp_id }}</nuxt-link></div>
  </div>
</template>

<script>

export default {
  props: {
    pvzInfo: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>
.pvz-title {
  color: #EF0000;
  padding: 5px;
  margin-right: 14px;
  text-align: center;
}

.dlv-cost {
  font-size: 125%;
  font-weight: bold;
}
</style>
