<template>
  <div ref="authtop" @keyup.enter="submitForm">
    <wrap-container :title="status ? 'Письмо отправлено!' : 'Восстановление пароля'">
      <template v-if="status">
        <template slot="description">Мы отправили письмо на ваш электронный адрес. Проверьте вашу почту. Перейдите по ссылке из письма и введите новый пароль.</template>
        <input-button label="Вернуться на страницу входа" @button-click="$emit('toggle-block', 'login')" />
        <input-button label="На главную" text @button-click="$router.push('/')" />
      </template>

      <template v-else>
        <template slot="description">Введите ваш e-mail. Мы пришлём на него письмо со ссылкой, пройдя по которой, вы сможете изменить свой пароль.</template>
        <template v-if="errorText" slot="error">{{ errorText }}</template>
        <input-text v-model="dataForm.email" :rules="[ rules.email ]" label="E-mail, указанный при регистрации" name="email" :validations="validations.email" :message="errorText || 'Пожалуйста, заполните это поле'" maxlength="100" required style="margin: 30px 0" />
        <input-button label="Отправить" :disable="formSend" @button-click="submitForm" />
        <input-button label="Вернуться на страницу входа" text @button-click="$emit('toggle-block', 'login')" />
      </template>
    </wrap-container>
  </div>
</template>

<script>
import WrapContainer from './WrapContainer'
import InputText from '@/components/ui/InputText'
import InputButton from '@/components/ui/InputButton'
import { validForm, validEmail } from '@/helpers/util'

export default {
  components: {
    WrapContainer,
    InputText,
    InputButton
  },
  props: {
    email: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      errorText: '',
      status: false,
      formSend: false,
      dataForm: {
        email: ''
      },
      validations: {
        email: null
      },
      rules: {
        email: validEmail
      }
    }
  },
  mounted () {
    this.dataForm.email = this.email
  },
  methods: {
    submitForm () {
      if (validForm(this.dataForm, this.validations)) {
        this.formSend = true
        this.$api.myUtil.changePassword(this.dataForm)
          .then(({ data }) => {
            if (data.status === 'failed') {
              this.errorText = data.message
              this.validations.email = false
              this.scroll()
            } else {
              this.status = true
            }
            this.formSend = false
          })
      } else {
        this.scroll()
      }
    },
    scroll () {
      this.$refs.authtop.scrollIntoView({
        behavior: 'smooth'
      })
    }
  }
}
</script>
