<template>
  <wrap-container selected="login" @toggle="$emit('toggle-block', $event)">
    <LoginBase redirect reload @forgot-click="$emit('toggle-block', 'password')" />
  </wrap-container>
</template>

<script>
import WrapContainer from './WrapContainer'
import LoginBase from '@/components/common/Authorization/LoginBase'

export default {
  components: {
    WrapContainer,
    LoginBase
  }
}
</script>
