<template>
  <div ref="authtop">
    <wrap-container selected="registration" @toggle="$emit('toggle-block', $event)">
      <AuthRegistration :email="email" :password="password" @registration-complete="registrationComplete" @helper-personal-data="$router.push('/help/35.html')" />
    </wrap-container>
  </div>
</template>

<script>
import WrapContainer from './WrapContainer'
import AuthRegistration from '@/components/common/Authorization/AuthRegistration'

export default {
  components: {
    WrapContainer,
    AuthRegistration
  },
  data () {
    return {
      email: '',
      password: '',
      redirect: ''
    }
  },
  mounted () {
    const { email, pass, redirect } = this.$route.params
    if (email) this.email = email
    if (pass) this.password = pass
    if (redirect) this.redirect = redirect
  },
  methods: {
    registrationComplete () {
      this.$router.push(this.redirect || { name: 'orders' }, () => {}, () => {})
    }
  }
}
</script>

<style scoped lang="scss">
.personal-data {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: $myshop-gray;

  & > a {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $myshop-violet;
    border-bottom: 1px solid #dfe2e4;
  }
}

.change-client {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;

  & > span {
    border-bottom: 2px dotted $myshop-violet;
    margin: 0 10px 3px;
    padding-right: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.002em;
    color: $myshop-violet;
    cursor: pointer;
  }
  & .down {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.41107 6.91009C4.08563 7.23553 4.08563 7.76317 4.41107 8.0886L9.41107 13.0886C9.73651 13.414 10.2641 13.414 10.5896 13.0886L15.5896 8.0886C15.915 7.76317 15.915 7.23553 15.5896 6.91009C15.2641 6.58466 14.7365 6.58466 14.4111 6.91009L10.0003 11.3208L5.58958 6.91009C5.26414 6.58466 4.73651 6.58466 4.41107 6.91009Z' fill='%23783CBD'/%3E%3C/svg%3E%0A");
    background-size: 20px;
  }

  & .up {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.41107 13.0899C4.08563 12.7645 4.08563 12.2368 4.41107 11.9114L9.41107 6.9114C9.73651 6.58596 10.2641 6.58596 10.5896 6.9114L15.5896 11.9114C15.915 12.2368 15.915 12.7645 15.5896 13.0899C15.2641 13.4153 14.7365 13.4153 14.4111 13.0899L10.0003 8.67916L5.58958 13.0899C5.26414 13.4153 4.73651 13.4153 4.41107 13.0899Z' fill='%23783CBD'/%3E%3C/svg%3E%0A");
    background-size: 20px;
  }
}
</style>
