<template>
  <div>
    <div class="logotype" />
    <div class="auth">
      <h1 class="auth__header">{{ title }}</h1>
      <div v-if="$route.query.disco" class="disco">
        <div>Дарим скидку 10% на товары в программе лояльности за регистрацию по email</div>
        <div class="disco__sub">*не распространяется на юр. лиц и ИП</div>
      </div>
      <div v-if="selected === 'login' || selected === 'registration'" class="auth__tabs">
        <div class="auth__tab" :class="{ active: selected === 'login' }" @click="toggleTab('login')">Вход</div>
        <div class="auth__tab" :class="{ active: selected === 'registration' }" @click="toggleTab('registration')">Регистрация</div>
      </div>
      <div class="auth__description"><slot name="description" /></div>
      <div class="auth__error"><slot name="error" /></div>
      <slot name="default" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    selected: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: 'Добро пожаловать!'
    }
  },
  methods: {
    toggleTab (tab) {
      this.$emit('toggle', tab)
    }
  }
}
</script>

<style scoped lang="scss">
.logotype {
  text-align: center;
  margin: 40px auto;

  @media (max-width: $tablet-width) {
    margin: 25px auto;
  }
}

.disco {
  margin-top: 20px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background: linear-gradient(90deg, #3CA6BD 0%, #9651E6 74.11%);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  &__sub {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }
}

.auth {
  width: 755px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(42, 61, 72, 0.08);
  border-radius: 40px;
  margin: 0 auto 100px;
  padding: 75px 150px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin: 0 10px 25px;
    padding: 35px 10px;
  }

  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: $myshop-black;
    margin: 0;
  }

  &__tabs {
    width: 100%;
    height: 50px;
    background: #F6F6F6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-top: 20px;
  }

  &__tab {
    width: 50%;
    height: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $myshop-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 3px 5px rgba(42, 61, 72, 0.05);
      backdrop-filter: blur(250px);
      border-radius: 15px;
      font-weight: 600;
      color: $myshop-black;
      cursor: default;
    }
  }

  &__error,
  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $myshop-gray;
    margin: 20px 0;
  }

  &__error {
    color: #D32F2F;
  }
}
</style>
