<template>
  <div class="top-container-wrap">
    <loader v-if="showLoader" />

    <div v-else class="top-container-2">
      <div class="wrap">
        <h1 class="h1">Мой кабинет</h1>

        <notification-email-user :notification="notification" :email="email" />

        <div class="list-pane">
          <div class="list-pane__left">
            <div class="menu-pane">
              <UserMenu />
            </div>
          </div>

          <div class="list-pane__right">
            <keep-alive>
              <slot />
            </keep-alive>
          </div>

          <keep-alive>
            <slot name="sidebar" />
          </keep-alive>
        </div>
      </div>
    </div>

    <MessageTooltip :tooltip="tooltip" />
  </div>
</template>

<script>
import UserMenu from '@/components/layout/PersonalSection/UserMenu'
import Loader from '@/components/ui/Loader'
import NotificationEmailUser from '@/components/layout/PersonalSection/NotificationEmailUser'
import MessageTooltip from '@/components/modal/MessageTooltip'

export default {
  components: {
    UserMenu,
    Loader,
    NotificationEmailUser,
    MessageTooltip
  },
  props: {
    showLoader: {
      type: Boolean,
      default: false
    },
    notification: {
      type: Boolean,
      default: false
    },
    email: {
      type: String,
      default: ''
    },
    tooltip: {
      type: Object,
      default: () => ({
        message: '',
        error: false
      })
    }
  }
}
</script>

<style scoped lang="scss">
::v-deep .block {
  padding: $gap-block;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;

  @include mq($md) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

::v-deep .block__price {
  font-size: 30px;
  line-height: 38px;
}

::v-deep .block-body {
  margin-top: $gap-block;
  margin-bottom: $gap-block;
  font-size: 14px;
  line-height: 20px;

  @include mq($md) {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  > .section {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.h1 {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 16px 0;

  @include mq($md) {
    display: inherit;
  }
}

::v-deep .h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 8px;

  @include mq($md) {
    font-size: 20px;
    line-height: 28px;
  }
}

.list-pane {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "orders"
    "help";

  @include mq($md) {
    grid-template-columns: min-content 1fr;
    grid-auto-rows: minmax(min-content, max-content) 1fr;
    grid-gap: 16px 16px;
    grid-template-areas:
      "menu orders"
      "help orders";
  }

  @include mq($lg) {
    grid-template-columns: minmax(min-content, 300px) 1fr min-content;
    grid-template-areas: "menu orders help";
  }
}

.list-pane__left {
  display: none;
  grid-area: menu;

  @include mq($md) {
    display: block;
  }
}

.menu-pane {
  background: #fff;
  border-radius: $border-radius;
  padding: $gap-block;

  @include mq($lg) {
    margin-bottom: $gap-block;
  }
}

.list-pane__right {
  grid-area: orders;
}

.top-container-wrap {
  background-color: $myshop-lighgray;
  color: $myshop-black;
}

.top-container-2 {
  padding: 1px 0;
}

::v-deep .form-control {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (min-width: $mobile-horisontal-width) {
    width: 375px;
  }

  .input {
    margin-top: 0;
    margin-bottom: 0;
  }

  > .field {
    margin-bottom: 20px;

    .help {
      font-size: 12px;
      line-height: 16px;
      white-space: nowrap;
    }
  }
}

::v-deep .mt-16 {
  margin-top: 16px;
}

::v-deep .mb-16 {
  margin-bottom: 16px;
}

::v-deep .my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
</style>
