<template functional>
  <nav class="nav">
    <h2 class="h2">Помощь</h2>

    <nuxt-link class="item" to="/help/58.html">Что с моим заказом?</nuxt-link>
    <nuxt-link class="item" to="/help/63.html">Не могу найти заказ</nuxt-link>
    <nuxt-link class="item" to="/help/50.html">Как изменить заказ</nuxt-link>
    <nuxt-link class="item" to="/help/53.html">Как ускорить доставку</nuxt-link>
    <nuxt-link class="item" to="/help/52.html">Как аннулировать заказ</nuxt-link>
  </nav>
</template>

<style scoped lang="scss">
.nav {
  padding: $gap-block;
  background: #fff;
  border-radius: $border-radius;
  margin-bottom: $gap-block;

  @include mq($md) {
    min-width: 232px;
    max-width: 298px;
  }

  @include mq($xl) {
    max-width: 355px;
  }

  .h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 8px;
    color: #2a3d48;
  }
}

.item {
  color: $myshop-grey;
  display: block;
  transition: color 0.3s;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover {
    color: $myshop-violet;
  }
}
</style>
