<template>
  <div>
    <div v-if="unconfirmedEmail" class="confirm__block">
      <div>Вы подписались на рассылку или добавили товары в лист ожидания — теперь нужно подтвердить почту <strong>{{ clientEmail }}</strong> <nuxt-link to="/my/options">Изменить</nuxt-link></div>
      <div class="confirm__btn" @click="confirmEmail">Подтвердить почту</div>
    </div>

    <transition name="slide-fade">
      <div
        v-if="visible"
        class="confirm__pop"
        :class="{ error: typeAlert === 'error' }"
      >
        <div class="confirm__icon">
          <svg
            v-if="typeAlert === 'error'"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M13.0917 6.90835C13.0143 6.83025 12.9221 6.76825 12.8205 6.72594C12.719 6.68364 12.6101 6.66185 12.5001 6.66185C12.3901 6.66185 12.2811 6.68364 12.1796 6.72594C12.078 6.76825 11.9859 6.83025 11.9084 6.90835L10.0001 8.82502L8.09173 6.90835C7.93481 6.75143 7.72198 6.66328 7.50007 6.66328C7.27815 6.66328 7.06532 6.75143 6.9084 6.90835C6.75148 7.06527 6.66332 7.2781 6.66332 7.50002C6.66332 7.72194 6.75148 7.93477 6.9084 8.09169L8.82507 10L6.9084 11.9084C6.83029 11.9858 6.7683 12.078 6.72599 12.1795C6.68368 12.2811 6.6619 12.39 6.6619 12.5C6.6619 12.61 6.68368 12.719 6.72599 12.8205C6.7683 12.922 6.83029 13.0142 6.9084 13.0917C6.98587 13.1698 7.07804 13.2318 7.17958 13.2741C7.28113 13.3164 7.39006 13.3382 7.50007 13.3382C7.61008 13.3382 7.719 13.3164 7.82055 13.2741C7.9221 13.2318 8.01426 13.1698 8.09173 13.0917L10.0001 11.175L11.9084 13.0917C11.9859 13.1698 12.078 13.2318 12.1796 13.2741C12.2811 13.3164 12.3901 13.3382 12.5001 13.3382C12.6101 13.3382 12.719 13.3164 12.8205 13.2741C12.9221 13.2318 13.0143 13.1698 13.0917 13.0917C13.1698 13.0142 13.2318 12.922 13.2741 12.8205C13.3164 12.719 13.3382 12.61 13.3382 12.5C13.3382 12.39 13.3164 12.2811 13.2741 12.1795C13.2318 12.078 13.1698 11.9858 13.0917 11.9084L11.1751 10L13.0917 8.09169C13.1698 8.01422 13.2318 7.92205 13.2741 7.8205C13.3164 7.71895 13.3382 7.61003 13.3382 7.50002C13.3382 7.39001 13.3164 7.28109 13.2741 7.17954C13.2318 7.07799 13.1698 6.98582 13.0917 6.90835ZM15.8917 4.10835C15.123 3.31244 14.2035 2.67758 13.1868 2.24084C12.1701 1.8041 11.0766 1.57422 9.97008 1.5646C8.86358 1.55498 7.76625 1.76583 6.74212 2.18484C5.71798 2.60385 4.78755 3.22262 4.00511 4.00506C3.22267 4.7875 2.60389 5.71793 2.18489 6.74207C1.76588 7.76621 1.55503 8.86354 1.56465 9.97003C1.57426 11.0765 1.80415 12.17 2.24089 13.1867C2.67763 14.2034 3.31248 15.123 4.1084 15.8917C4.87712 16.6876 5.79666 17.3225 6.81336 17.7592C7.83006 18.1959 8.92356 18.4258 10.0301 18.4354C11.1365 18.4451 12.2339 18.2342 13.258 17.8152C14.2822 17.3962 15.2126 16.7774 15.995 15.995C16.7775 15.2125 17.3962 14.2821 17.8152 13.258C18.2343 12.2338 18.4451 11.1365 18.4355 10.03C18.4259 8.92352 18.196 7.83002 17.7592 6.81332C17.3225 5.79662 16.6876 4.87708 15.8917 4.10835ZM14.7167 14.7167C13.6268 15.8079 12.1922 16.4874 10.6574 16.6394C9.12261 16.7915 7.58257 16.4067 6.29967 15.5507C5.01676 14.6946 4.07036 13.4202 3.62171 11.9446C3.17306 10.469 3.2499 8.88347 3.83916 7.45817C4.42842 6.03288 5.49363 4.85598 6.85331 4.12799C8.21299 3.4 9.78302 3.16596 11.2959 3.46575C12.8088 3.76553 14.1709 4.5806 15.1503 5.77207C16.1296 6.96355 16.6655 8.45772 16.6667 10C16.6697 10.8761 16.4989 11.7441 16.1642 12.5537C15.8295 13.3633 15.3375 14.0985 14.7167 14.7167Z" fill="#DE2A35" />
          </svg>
          <svg
            v-else
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12.2666 7.32499L8.69163 10.9083L7.31663 9.53332C7.24192 9.44609 7.14999 9.37524 7.0466 9.32522C6.94322 9.2752 6.83061 9.24709 6.71584 9.24266C6.60107 9.23823 6.48663 9.25756 6.37969 9.29946C6.27276 9.34135 6.17563 9.4049 6.09442 9.48611C6.01321 9.56733 5.94966 9.66445 5.90776 9.77139C5.86587 9.87833 5.84653 9.99277 5.85096 10.1075C5.8554 10.2223 5.88351 10.3349 5.93353 10.4383C5.98354 10.5417 6.05439 10.6336 6.14163 10.7083L8.09996 12.675C8.17783 12.7522 8.27018 12.8133 8.37171 12.8548C8.47324 12.8963 8.58196 12.9173 8.69163 12.9167C8.91025 12.9157 9.11975 12.8289 9.27496 12.675L13.4416 8.50832C13.5197 8.43085 13.5817 8.33869 13.624 8.23714C13.6663 8.13559 13.6881 8.02667 13.6881 7.91666C13.6881 7.80665 13.6663 7.69773 13.624 7.59618C13.5817 7.49463 13.5197 7.40246 13.4416 7.32499C13.2855 7.16978 13.0743 7.08266 12.8541 7.08266C12.634 7.08266 12.4228 7.16978 12.2666 7.32499ZM9.99996 1.66666C8.35179 1.66666 6.74062 2.1554 5.37021 3.07108C3.9998 3.98675 2.9317 5.28824 2.30097 6.81096C1.67024 8.33368 1.50521 10.0092 1.82675 11.6257C2.1483 13.2423 2.94197 14.7271 4.10741 15.8925C5.27284 17.058 6.7577 17.8517 8.37421 18.1732C9.99072 18.4947 11.6663 18.3297 13.189 17.699C14.7117 17.0683 16.0132 16.0002 16.9289 14.6297C17.8446 13.2593 18.3333 11.6482 18.3333 9.99999C18.3333 8.90564 18.1177 7.82201 17.699 6.81096C17.2802 5.79991 16.6663 4.88125 15.8925 4.10743C15.1187 3.33361 14.2 2.71978 13.189 2.30099C12.1779 1.8822 11.0943 1.66666 9.99996 1.66666ZM9.99996 16.6667C8.68142 16.6667 7.39249 16.2757 6.29616 15.5431C5.19983 14.8106 4.34535 13.7694 3.84077 12.5512C3.33618 11.333 3.20416 9.99259 3.46139 8.69939C3.71863 7.40618 4.35357 6.2183 5.28592 5.28594C6.21827 4.35359 7.40615 3.71866 8.69936 3.46142C9.99257 3.20419 11.333 3.33621 12.5512 3.84079C13.7694 4.34538 14.8105 5.19986 15.5431 6.29619C16.2756 7.39252 16.6666 8.68145 16.6666 9.99999C16.6666 11.7681 15.9643 13.4638 14.714 14.714C13.4638 15.9643 11.7681 16.6667 9.99996 16.6667Z" fill="#61A60E" />
          </svg>
        </div>
        <div>{{ message }}</div>
        <div class="confirm__close" @click="closed">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.2559 3.92259C17.5814 3.59715 17.5814 3.06951 17.2559 2.74408C16.9305 2.41864 16.4028 2.41864 16.0774 2.74408L10 8.82149L3.92259 2.74408C3.59715 2.41864 3.06952 2.41864 2.74408 2.74408C2.41864 3.06951 2.41864 3.59715 2.74408 3.92259L8.82149 10L2.74408 16.0774C2.41864 16.4028 2.41864 16.9305 2.74408 17.2559C3.06951 17.5814 3.59715 17.5814 3.92259 17.2559L10 11.1785L16.0774 17.2559C16.4028 17.5814 16.9305 17.5814 17.2559 17.2559C17.5814 16.9305 17.5814 16.4028 17.2559 16.0774L11.1785 10L17.2559 3.92259Z"
              fill="#0F0717"
            />
          </svg>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    notification: {
      type: Boolean,
      default: false
    },
    email: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      visible: false,
      unconfirmed: true,
      typeAlert: '',
      message: ''
    }
  },
  computed: {
    clientEmail () {
      return this.email || this.$store.getters.client.email || ''
    },
    unconfirmedEmail () {
      return this.unconfirmed && this.notification
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Escape' && this.visible) {
        this.closed()
      }
    })
  },
  methods: {
    confirmEmail () {
      this.$api.myUtil.confirmEmail()
        .then(({ data }) => {
          if (data.status === 'success') {
            this.show('Мы отправили письмо с подтверждением на указанный электронный адрес. Откройте письмо и перейдите по ссылке.')
            this.unconfirmed = false
          } else {
            this.show('Ошибка соединения с сервером.', 'error')
          }
        })
    },
    show (message, type = '') {
      this.visible = true
      this.typeAlert = type
      this.message = message
    },
    closed () {
      this.visible = false
      this.typeAlert = ''
      this.message = ''
    }
  }
}
</script>

<style scoped lang="scss">
.confirm {
  &__block {
    background: #D9F0FA;
    border: 1px solid #80CDEF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 16px;
    margin: 0 0 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #0F0717;
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet-width) {
      flex-direction: column;
      margin: 8px 0 16px;
    }

    strong {
      font-weight: 600;
    }

    a {
      color: #6F6A74;

      &:hover,
      &:active {
        color: $myshop-violet;
      }
    }
  }

  &__btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #009ADE;
    cursor: pointer;
    white-space: nowrap;

    @media (max-width: $tablet-width) {
      margin-top: 8px;
    }
  }

  &__pop {
    min-width: 300px;
    max-width: 500px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #FFFFFF;
    box-shadow: 0 8px 5px rgba(42, 61, 72, 0.04), 0 15px 12px rgba(42, 61, 72, 0.08);
    border-radius: 2px;
    z-index: 6001;
    border-left: 4px solid #61A60E;
    padding: 16px 49px 16px 40px;
    margin-left: 10px;

    @media (max-width: $tablet-width) {
      right: 10px;
    }

    &.error {
      border-left: 4px solid #DE2A35;
    }
  }

  &__message {

  }

  &__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 12px;
  }

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      transform: rotate(360deg);
    }
  }
}

.slide-fade-enter-active {
  transition: all .1s linear;
}
.slide-fade-leave-active {
  transition: all .1s linear;
}
.slide-fade-enter {
  transform: translateX(30px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
</style>
