<template>
  <div>
    <TextControl
      :required="required"
      :value="value"
      :mask="{ mask: '+7 (999) 999-99-99[y]', autoUnmask: true, greedy: false, definitions }"
      :state="isConfirm ? 'is-warning' : ''"
      :validations="isValidation"
      :label="label"
      @input="onInput"
      @blur="value && valid && namedEvent('Phone_check')"
    />

    <transition name="slide-fade">
      <div v-if="isConfirm" class="notification__wrap">
        <div class="notification">
          <svg class="icon">
            <use xlink:href="#is-warning" />
          </svg>

          <span>Указанный вами номер не подтверждён</span>
        </div>

        <b-button
          class="button"
          type="is-basic is-light"
          size="is-small"
          @click="$emit('on-confirm-phone')"
        >
          Подтвердить
        </b-button>
      </div>
    </transition>
  </div>
</template>

<script>
import TextControl from '@/components/ui/AcInputText'

export default {
  name: 'Phone',
  components: {
    TextControl
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    confirmed: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: 'Телефон'
    }
  },
  data () {
    return {
      definitions: {
        y: {
          validator: (_chrs, { buffer }) => {
            if (/^(8|7)/.test(buffer[4])) {
              return {
                remove: 4, // номер удаляемой позиции
                pos: 17 // в какую позицию вставляем этот символ
              }
            }

            return false
          }
        }
      }
    }
  },
  computed: {
    valid () {
      const result = !!this.value && /^\d{10}$/.test(this.value)

      this.$emit('validations', result)

      return result
    },
    isValidation () {
      if (this.valid && this.confirmed) {
        return true
      } else if (this.value && !this.valid) {
        return false
      }

      return null
    },
    isConfirm () {
      return this.valid && !this.confirmed
    }
  },
  methods: {
    onInput (value) {
      this.$emit('input', value)
    },
    namedEvent (name) {
      this.$gtmTrack.namedEvent(name)
    }
  }
}
</script>

<style lang="scss" scoped>
.notification__wrap {
  padding: 12px;
  margin-top: 8px;

  background: #F5F0FA;
  border-radius: 8px;
}

.notification {
  display: flex;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
  color: $myshop-violet;
  margin-right: 10px;
}

.button {
  margin-top: 8px;
}
</style>
