<template>
  <transition name="slide-fade">
    <div class="overlay">
      <div class="popup">
        <div class="close" @click.self="closed" />

        <template v-if="showConfirmSmsForm">
          <h2 class="h2">Подтверждение номера</h2>
          <p>
            На&nbsp;номер&nbsp;<strong>+7 {{ formatPhone }}</strong><br>
            было отправлено SMS с&nbsp;кодом подтверждения. Введите код из&nbsp;SMS.
          </p>

          <div class="field-body">
            <div class="field is-grouped">
              <div class="control">
                <TextControl
                  ref="input"
                  v-model="sms"
                  :maxlength="4"
                  :validations="isValidation"
                  :message="isValidation ? '' : 'Неверный код'"
                  label="Код подтверждения"
                  @keydown.native.enter.prevent="confirmPhone"
                />
              </div>

              <div class="control">
                <b-button
                  :disabled="!validSms"
                  size="is-large"
                  @click="confirmPhone"
                >
                  Подтвердить
                </b-button>
              </div>
            </div>
          </div>

          <p v-if="timer < 60">Отправить повторно через {{ timer }} сек.</p>
          <p
            v-else
            class="link"
            @click="$emit('on-confirm-phone')"
          >
            <strong>Отправить повторно</strong>
          </p>
        </template>

        <template v-if="showAuthForm">
          <h2 class="h2">Найден аккаунт</h2>

          <p>Ваш телефон уже использовался в&nbsp;одном из&nbsp;заказов. Если это ваш аккаунт, вы&nbsp;можете в&nbsp;него войти, используя пару email и&nbsp;пароль.</p>

          <div class="field-body">
            <div class="field">
              <div class="control">
                <b-button
                  expanded
                  size="is-large"
                  @click="onEnter"
                >
                  Войти
                </b-button>
              </div>

              <div class="control">
                <b-button
                  expanded
                  type="is-basic is-light"
                  size="is-large"
                  @click="onRegistration"
                >
                  Создать новый аккаунт
                </b-button>
              </div>
            </div>
          </div>
        </template>

        <template v-if="isEnter">
          <h2 class="h2">Вход</h2>

          <p>Чтобы войти, введите email и пароль</p>

          <LoginBase @popup-close="closed" @forgot-click="$router.push('/my/password')" />
        </template>
      </div>
    </div>
  </transition>
</template>

<script>
import TextControl from '@/components/ui/AcInputText'
import LoginBase from '@/components/common/Authorization/LoginBase'

export default {
  name: 'PhoneConfirmPopup',
  components: {
    TextControl,
    LoginBase
  },
  props: {
    phone: {
      type: String,
      required: true
    },
    timer: {
      type: Number,
      required: true
    },
    checkOrders: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      sms: '',
      isValidation: null,
      showConfirmSmsForm: true,
      showAuthForm: false, // false
      isEnter: false
    }
  },
  computed: {
    validSms () {
      return this.sms && this.sms.length === 4
    },
    formatPhone () {
      return this.phone.replace(/(\d{3})(\d{3})(\d{2})(\d{2})/, '($1) $2-$3-$4')
    }
  },
  mounted () {
    document.body.style.overflow = 'hidden'

    // TODO: refactor this
    this.$refs.input.$refs.input.focus()

    this.$addEventListeners('keydown', ($event) => {
      if ($event.key === 'Escape') {
        this.closed()
      }
    })
  },
  destroyed () {
    document.body.style.overflow = ''
  },
  methods: {
    onRegistration () {
      this.confirmPhone(false)
    },
    onEnter () {
      this.isEnter = true
      this.showAuthForm = false
    },
    confirmPhone (checkOrders = this.checkOrders) {
      if (!this.validSms) return

      this.$api.myUtil.confirmPhoneApi(this.phone, this.sms, checkOrders)
        .then(({ data }) => data)
        .then(({ status, found_in_orders }) => {
          if (status === 'success') {
            this.isValidation = true

            if (found_in_orders) {
              this.showConfirmSmsForm = false
              this.showAuthForm = found_in_orders
            } else {
              this.closed()
            }

            this.$emit('is-confirmed', this.phone)
          } else {
            // TODO: refactor this
            this.$refs.input.$refs.input.focus()

            this.isValidation = false
            setTimeout(() => {
              this.isValidation = null
            }, 5000)
          }
        })
        .catch((error) => console.error('confirmPhoneApi', error))
    },
    closed () {
      document.body.style.overflow = ''

      this.$emit('closed')
    }
  }
}
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($myshop-black, 0.75);
  z-index: 1023;
}

.popup {
  max-width: 395px;
  width: 100%;
  padding: 16px 12px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: default;
  position: relative;
  z-index: 1024;
  background-color: #fff;
  box-shadow: 0px 24px 18px rgba(42, 61, 72, 0.04),
    0px 35px 24px rgba(42, 61, 72, 0.08);
  font-size: 14px;
  line-height: 20px;
  border-radius: $border-radius;
}

.close {
  position: absolute;
  right: 20px;
  top: 22px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    left: 9px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: $myshop-black;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.h2 {
  margin: 0;
}

.field-body {
  margin-top: 16px;
  margin-bottom: 16px;

  & > .field {
    flex-shrink: 1;
  }

  & .field {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include mq($sm) {
    width: auto;
  }
}

.field {
  &.is-grouped {
    display: flex;
    justify-content: flex-start;
  }

  &.is-grouped > .control:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }

  .control {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

::v-deep .input {
  padding-top: 0;
  padding-bottom: 0;
  height: 46px;
  line-height: 46px;

  & + label {
    top: -13px;
  }
}

.link {
  margin-top: 16px;
  margin-bottom: 16px;
  color: $myshop-violet;
  cursor: pointer;
}
</style>
