<template>
  <div class="social-item">
    <div class="social-item__logo">
      <svg v-if="item.name === 'Google'" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.43242 12.0875L3.73625 14.6864L1.19176 14.7402C0.431328 13.3298 0 11.7161 0 10.0013C0 8.34301 0.403281 6.77926 1.11812 5.40234H1.11867L3.38398 5.81766L4.37633 8.06938C4.16863 8.67488 4.05543 9.32488 4.05543 10.0013C4.05551 10.7353 4.18848 11.4386 4.43242 12.0875Z" fill="#FBBB00" />
        <path d="M19.8242 8.13281C19.939 8.73773 19.9989 9.36246 19.9989 10.0009C19.9989 10.7169 19.9236 11.4152 19.7802 12.0889C19.2934 14.3812 18.0214 16.3828 16.2594 17.7993L16.2588 17.7987L13.4055 17.6532L13.0017 15.1323C14.1709 14.4466 15.0847 13.3735 15.566 12.0889H10.2188V8.13281H15.644H19.8242Z" fill="#518EF8" />
        <path d="M16.2605 17.7979L16.2611 17.7985C14.5473 19.176 12.3704 20.0001 10.0006 20.0001C6.19238 20.0001 2.88141 17.8716 1.19238 14.7392L4.43305 12.0864C5.27754 14.3403 7.45172 15.9447 10.0006 15.9447C11.0962 15.9447 12.1226 15.6485 13.0034 15.1315L16.2605 17.7979Z" fill="#28B446" />
        <path d="M16.383 2.30219L13.1434 4.95437C12.2319 4.38461 11.1544 4.05547 10 4.05547C7.39344 4.05547 5.17859 5.73348 4.37641 8.06812L1.11871 5.40109H1.11816C2.78246 2.1923 6.1352 0 10 0C12.4264 0 14.6511 0.864297 16.383 2.30219Z" fill="#F14336" />
      </svg>

      <svg v-if="item.name === 'Facebook'" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.5835 19.6544C19.1752 19.6544 19.6471 19.1748 19.6471 18.5903V1.40782C19.6471 0.815837 19.1677 0.34375 18.5835 0.34375H1.40742C0.823152 0.34375 0.34375 0.82333 0.34375 1.40782V18.5903C0.34375 19.1823 0.823152 19.6544 1.40742 19.6544H18.5835Z" fill="#157DC3" />
        <path d="M13.6612 19.6535V12.175H16.1706L16.5451 9.26006H13.6612V7.40169C13.6612 6.55493 13.8934 5.98543 15.1069 5.98543H16.65V3.37021C16.3803 3.33275 15.4665 3.25781 14.4028 3.25781C12.1781 3.25781 10.6575 4.61413 10.6575 7.10944V9.26006H8.14062V12.175H10.6575V19.6535H13.6612Z" fill="white" />
      </svg>

      <svg v-if="item.name === 'ВКонтакте'" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip1)">
          <path d="M16.5958 10.8565C16.2725 10.4482 16.365 10.2665 16.5958 9.9015C16.6 9.89734 19.2692 6.209 19.5442 4.95817L19.5458 4.95734C19.6825 4.5015 19.5458 4.1665 18.885 4.1665H16.6983C16.1417 4.1665 15.885 4.454 15.7475 4.77567C15.7475 4.77567 14.6342 7.44067 13.0592 9.16817C12.5508 9.66734 12.3158 9.82734 12.0383 9.82734C11.9017 9.82734 11.6892 9.66734 11.6892 9.2115V4.95734C11.6892 4.41067 11.5333 4.1665 11.0725 4.1665H7.63417C7.285 4.1665 7.0775 4.4215 7.0775 4.659C7.0775 5.17734 7.865 5.2965 7.94667 6.75484V9.919C7.94667 10.6123 7.82083 10.7398 7.54167 10.7398C6.79833 10.7398 4.99417 8.064 3.925 5.0015C3.70917 4.40734 3.49833 4.16734 2.9375 4.16734H0.75C0.125833 4.16734 0 4.45484 0 4.7765C0 5.34484 0.743333 8.17067 3.45667 11.904C5.265 14.4523 7.81167 15.8332 10.1283 15.8332C11.5208 15.8332 11.6908 15.5265 11.6908 14.999C11.6908 12.564 11.565 12.334 12.2625 12.334C12.5858 12.334 13.1425 12.494 14.4425 13.7232C15.9283 15.1807 16.1725 15.8332 17.0042 15.8332H19.1908C19.8142 15.8332 20.13 15.5265 19.9483 14.9215C19.5325 13.649 16.7225 11.0315 16.5958 10.8565Z" fill="#4D76A1" />
        </g>
        <defs>
          <clipPath id="clip1">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <svg v-if="item.name === 'Одноклассники'" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0004 10.8232C12.9892 10.8232 15.4121 8.40034 15.4121 5.41158C15.4121 2.42281 12.9892 0 10.0004 0C7.01168 0 4.58887 2.42285 4.58887 5.41162C4.59254 8.39882 7.01324 10.8195 10.0004 10.8232ZM10.0004 2.49766C11.6098 2.49766 12.9144 3.80226 12.9144 5.41162C12.9144 7.02097 11.6098 8.32557 10.0004 8.32557C8.39109 8.32557 7.08649 7.02097 7.08649 5.41162C7.08649 3.80226 8.39113 2.49766 10.0004 2.49766Z" fill="#FF9800" />
        <path d="M15.301 13.3872C15.8891 12.9999 16.2435 12.3431 16.2443 11.6389C16.2525 11.0544 15.9227 10.5177 15.3976 10.261C14.8581 9.9915 14.2123 10.0522 13.7325 10.4175C11.5086 12.0388 8.49244 12.0388 6.26863 10.4175C5.78806 10.0541 5.14339 9.99349 4.60351 10.261C4.07864 10.5177 3.74868 11.0538 3.75598 11.638C3.75723 12.3421 4.11147 12.9987 4.69928 13.3864C5.45341 13.8879 6.27468 14.2803 7.13867 14.552C7.28521 14.5975 7.43644 14.6397 7.59243 14.6785L5.07646 17.1387C4.41645 17.7791 4.40049 18.8332 5.04087 19.4933C5.68125 20.1533 6.73538 20.1693 7.39542 19.5289C7.40916 19.5155 7.42266 19.502 7.43593 19.4882L10.0002 16.834L12.5695 19.4932C13.2093 20.1537 14.2635 20.1705 14.924 19.5306C15.5845 18.8908 15.6013 17.8366 14.9615 17.1761C14.9481 17.1623 14.9345 17.1487 14.9206 17.1354L12.4088 14.6777C12.5647 14.6377 12.7165 14.5952 12.8642 14.5503C13.7272 14.2797 14.5477 13.8881 15.301 13.3872Z" fill="#FF9800" />
      </svg>

      <svg v-if="item.name === 'Apple'" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip2)">
          <path d="M7.23566 20.0016C4.25906 19.9845 1.79688 13.9082 1.79688 10.8138C1.79688 5.75891 5.58887 4.65227 7.05027 4.65227C7.70887 4.65227 8.41211 4.9109 9.03238 5.13977C9.46613 5.29941 9.91473 5.46422 10.1642 5.46422C10.3136 5.46422 10.6655 5.32402 10.9762 5.20102C11.6388 4.93723 12.4633 4.60938 13.4235 4.60938C13.4252 4.60938 13.4275 4.60938 13.4292 4.60938C14.1461 4.60938 16.32 4.76672 17.6269 6.72937L17.933 7.18941L17.4924 7.52188C16.863 7.9968 15.7146 8.86312 15.7146 10.5792C15.7146 12.6116 17.0152 13.3933 17.64 13.7692C17.9159 13.9352 18.2014 14.1062 18.2014 14.4805C18.2014 14.7248 16.2513 19.9713 13.4195 19.9713C12.7265 19.9713 12.2367 19.763 11.8047 19.5794C11.3675 19.3934 10.9904 19.2332 10.3673 19.2332C10.0514 19.2332 9.65203 19.3825 9.22918 19.5411C8.65133 19.7567 7.99727 20.0016 7.25512 20.0016H7.23566Z" fill="black" />
          <path d="M13.7232 0C13.797 2.65922 11.8952 4.50406 9.99565 4.38836C9.68264 2.26621 11.895 0 13.7232 0Z" fill="black" />
        </g>
        <defs>
          <clipPath id="clip2">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>

    <div class="social-item__name">{{ item.name }}</div>
    <a class="social-item__btn" :class="{ is_connected: item.is_connected }" :href="item.link" @click.prevent="$emit('click-link', item)">{{ item.is_connected ? 'Отвязать' : 'Привязать' }}</a>
  </div>
</template>

<script>
export default {
  name: 'TheSocialLink',
  props: {
    item: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>

<style scoped lang="scss">
.social-item {
  display: flex;
  border-bottom: 1px solid #E5E7E9;
  padding: 24px 0;
  align-items: center;

  &__logo {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E7E9;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2A3D48;
    margin: 0 0 0 16px;
    flex-grow: 3;
    @media (min-width: $tablet-width) {
      margin: 0 24px;
      font-size: 18px;
    }
  }

  &__btn {
    display: block;
    background: #783CBD;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 29px;
  }

  .is_connected {
    background: #FFFFFF;
    border: 1px solid #E5E7E9;
    box-sizing: border-box;
    color: #2A3D48;
  }
}
</style>
