<template>
  <div class="user-menu">
    <user-account />

    <ul class="ul">
      <li v-for="{ id, title, } in items" :key="id" class="li" :class="{ 'selected': $route.name === id }">
        <nuxt-link :to="{ path: `/my/${id}` }" class="link">
          <svg class="icon">
            <use :xlink:href="`#is-${id}`" />
          </svg>

          <span>{{ title }}</span>
        </nuxt-link>
      </li>

      <li class="li">
        <a href="/my/partnership" class="link">
          <svg class="icon">
            <use xlink:href="#is-partnership" />
          </svg>

          <span>Партнёрская программа</span>
        </a>
      </li>

      <li v-if="agent" class="li">
        <strong>Управление ПВЗ/КС</strong>

        <a class="pvz-link" href="/my/point/products">Товары из частично выданных заказов</a>
      </li>

      <li class="li is-exit">
        <a href="/my/exit" class="link" @click.prevent="exit">
          <svg class="icon">
            <use xlink:href="#is-exit" />
          </svg>

          <span>Выход</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import UserAccount from './UserAccount'
import { logger } from '@/helpers/util'

export default {
  name: 'UserMenu',
  components: {
    UserAccount
  },
  data () {
    return {
      items: [
        {
          id: 'orders',
          title: 'Заказы'
        },
        {
          id: 'waitlist',
          title: 'Лист ожидания'
        },
        {
          id: 'discounts',
          title: 'Cкидки'
        },
        {
          id: 'account',
          title: 'Баланс'
        },
        {
          id: 'options',
          title: 'Настройки'
        },
        {
          id: 'subscriptions',
          title: 'Рассылки'
        },
        {
          id: 'documents',
          title: 'Документы'
        }
      ]
    }
  },
  computed: {
    agent () {
      return this.$store.getters.client.agent && this.$store.getters.client.agent === 1
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    exit () {
      logger('click', 'lk_popap', { event: 'exit' })
      const old_client_id = this.$store.state.client.id
      this.$api.myUtil.logoutUser()
        .then(({ data }) => {
          if (data.message === 'ok') {
            const path = this.$route.path
            // TODO: Добавить признак оператора из vuex
            const isOperator = path.includes('/user=')
            if (isOperator) {
              const url = path.split('/user=')
              document.location = url[0]
            } else {
              this.$store.dispatch('getClientData')
                .then(() => {
                  logger('client_id_changed', '-', { old_client_id, new_client_id: 0 })
                  this.toggleModal({ name: null })
                  if (this.$store.state.is_app_mobile) {
                    this.$router.push({ path: '/my/app' }, () => {}, () => {})
                  } else {
                    window.location.reload()
                  }
                })
            }
          }
        })
    }
  }
}
</script>

<style scoped lang="scss">
.ul {
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: $md) {
    margin-bottom: 80px;
  }
}

.li {
  position: relative;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;

  &.selected {
    background-color: $myshop-purple;
    border-radius:8px;
    .icon,
    .link {
      color: #8650C4;
    }

  }
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color: $myshop-black;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
  // margin: -10px 0;

  &:hover,
  &:active {
    color: $myshop-violet;
    border-radius:5px;
    background:$myshop-purple;

    .icon {
      color: $myshop-violet;
    }
  }
}

.icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: .5rem;
  color: $myshop-black;
}

.pvz-link {
  display: block;
  padding: 0;
  margin: 10px 0 0;
}

</style>
