<template>
  <div class="user-block">
    <div class="user-avatar">
      <svg class="icon">
        <use xlink:href="#icon-user-smile" />
      </svg>
    </div>
    <div class="user-desc">
      <div class="user-desc__name">{{ clientName }} </div>
      <div class="user-desc__status">Покупатель</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserAccount',
  computed: {
    clientName () {
      return this.$store.getters.client.name || ''
    }
  }
}
</script>

<style scoped lang="scss">
.user {
  &-block {
    width: 100%;
    padding: 12px;
    background: rgba(42, 61, 72, 0.05);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &-avatar {
    width: 40px;
    height: 40px;
    background: #FFF;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-right: .8rem;

  }

  &-desc {
    &__name {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__status {
      font-size: .9rem;
      color: #55646D;
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  color: $myshop-violet;
}
</style>
