<template functional>
  <div class="benefits-pane">
    <div class="row">
      <img src="/_all/my/chat.svg" class="img">

      <div class="row__right">
        <div class="text1">Консультация по&nbsp;заказу</div>

        <span class="text2">
          <nobr>8 (800) 100-53-38,</nobr> <nobr>8 (495) 638-53-38</nobr>
        </span>
      </div>
    </div>

    <div class="row">
      <img src="/_all/my/shield_done.svg" class="img">

      <div>
        <div class="text1">Безопасная оплата</div>
        <nobr class="text2">Мы&nbsp;гарантируем безопасность платежа</nobr>
      </div>
    </div>

    <div class="row">
      <img src="/_all/my/swap.svg" class="img">

      <div>
        <div class="text1">Лёгкий возврат</div>
        <nobr class="text2">Заберём товар и&nbsp;вернём деньги</nobr>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BenefitsPane'
}
</script>

<style scoped lang="scss">
.benefits-pane {
  display: flex;
  flex-direction: row;

  .row {
    display: flex;

    &:first-child {
      .text1 {
        display: none;

        @include mq($md) {
          display: block;
        }
      }
    }

    &:not(:first-child) {
      display: none;

      @include mq($lg) {
        display: flex;
      }
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .text1 {
    font-size: 14px;
    line-height: 18px;
    color: $myshop-black;
  }

  .text2 {
    font-size: 12px;
    line-height: 16px;
    color: $myshop-gray;
    text-align: right;

    @include mq($sm) {
      text-align: left;
    }
  }

  .img {
    display: none;
    width: 32px;
    height: 32px;
    margin-right: 10px;

    @include mq($md) {
      display: block;
    }
  }

  .row__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>
