<template>
  <header class="header">
    <div class="order-container content">
      <nuxt-link class="link" :to="{ name: 'index' }" @click="$gtmTrack.namedEvent('head_logo')">
        <logo class="logo" />
      </nuxt-link>

      <BenefitsPane />
    </div>
  </header>
</template>

<script>
import BenefitsPane from './BenefitsPane'
import Logo from '@/components/icons/LogoType'

export default {
  name: 'AppHeaderOrder',
  components: {
    Logo,
    BenefitsPane
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  background-color: $myshop-lighgray;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E7E9;
}

.link {
  display: flex;
}

.logo {
  margin-top: 18px;
  margin-bottom: 18px;

  @include mq($md) {
    width: auto;
    height: 34px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
</style>
