.top-container {
  background: $myshop-graybg;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  color: $myshop-black;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  align-items: center;
  border: 1px solid #dfe2e4;
  border-radius: 8px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-buy {
  color: #ffffff !important;
  background-color: #ff8300;
  border: none;
  flex-grow: 1;
  white-space: nowrap;
  &:hover {
    opacity: 0.9;
  }
}

.btn-save {
  background: #ffffff;
  margin-left: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-saved {
  background: rgba(120, 60, 189, 0.9);
  backdrop-filter: blur(250px);
  border: 1px solid rgba(120, 60, 189, 1);
  margin-left: 5px;
}

.btn-incart {
  color: $myshop-orange !important;
  background: #ffffff;
  border: 1px solid $myshop-orange;
  box-shadow: inset 0 0 5px rgba(255, 131, 0, 0.45);
  backdrop-filter: blur(250px);
  flex-grow: 1;
  &:hover {
    opacity: 0.9;
  }
}

.slider,
.slider-wrap {
  position: relative;
  &:hover {
    ::v-deep {
      .hooper-next,
      .hooper-prev {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s ease, visibility 0.2s ease;
      }
    }
  }
  ::v-deep {
    .hooper-navigation {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      pointer-events: none;
    }
    .hooper-next,
    .hooper-prev {
      width: 44px;
      z-index: 9;
      display: flex;
      opacity: 0;
      height: 100%;
      visibility: hidden;
      right: 0;
      border-radius: 0;
      bottom: 0;
      top: 0;
      box-shadow: 0 5px 3px rgba(42, 61, 72, 0.04), 0 8px 5px rgba(42, 61, 72, 0.08);
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.8387 4.36483C7.16075 4.04278 7.68289 4.04278 8.00494 4.36483L12.9529 9.31274C13.2749 9.63479 13.2749 10.1569 12.9529 10.479L8.00494 15.4269C7.68289 15.7489 7.16075 15.7489 6.8387 15.4269C6.51666 15.1048 6.51666 14.5827 6.8387 14.2607L11.2035 9.89586L6.8387 5.53106C6.51666 5.20901 6.51666 4.68687 6.8387 4.36483Z' fill='black'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-color: white;
      transform: none;
      pointer-events: auto;
      .icon {
        display: none;
      }
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.8387 4.36483C7.16075 4.04278 7.68289 4.04278 8.00494 4.36483L12.9529 9.31274C13.2749 9.63479 13.2749 10.1569 12.9529 10.479L8.00494 15.4269C7.68289 15.7489 7.16075 15.7489 6.8387 15.4269C6.51666 15.1048 6.51666 14.5827 6.8387 14.2607L11.2035 9.89586L6.8387 5.53106C6.51666 5.20901 6.51666 4.68687 6.8387 4.36483Z' fill='purple'/%3E%3C/svg%3E%0A");
      }
    }
    .hooper-prev {
      transform: scale(-1, 1);
      left: 0;
      top: 0;
    }
  }
}
