.tabs-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  color: $myshop-black;
  transition: all 100ms ease-out 100ms;
  padding: 0 8px;
  position: relative;

  svg {
    path {
      fill: #2a3d48;
    }
  }
  &:hover {
    color: #783cbd;
    span {
      color: #783cbd;
    }
    svg {
      path {
        fill: #783cbd;
      }
    }
  }
  @media (min-width: $tablet-width) {
    &.orange {
      &:hover {
        span {
          color: #ff8300;
        }
      }
      svg {
        path {
          fill: #ff8300;
        }
      }
    }
    &.favorite {
      svg {
        path {
          fill: #783cbd;
        }
      }
    }
  }

  & span {
    color: #2a3d48;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2px;
  }
  .badge {
    display: flex;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px !important;
    min-width: 17px;
    height: 16px;
    top: -2px;
    right: 10px;
    border-radius: 25px;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
  @media (max-width: $tablet-width) {
    & span {
      font-size: 10px;
      line-height: 20px;
    }
    &.active:not(.other-tab-open) {
      color: #783cbd;
      span {
        color: #783cbd;
      }
      svg {
        path {
          fill: #783cbd;
        }
      }
    }

    &.favorite.active:not(.other-tab-open),
    &.favorite:hover {
      color: #783cbd;
      span {
        color: #783cbd;
      }
      svg {
        path {
          fill: #783cbd;
        }
      }
    }
    &.orange.active:not(.other-tab-open),
    &.orange:hover {
      span {
        color: #ff8300;
      }
      svg {
        path {
          fill: #ff8300;
        }
      }
    }
    .badge{
      left: calc(50% + 3px);
      right: auto
    }
  }
  span.no-tablet {
    @media screen and (max-width: 1024px) and (min-width: $tablet-width) {
      display: none;
    }
  }
}
