@import 'header';
@import 'v-tooltip';

html {
  box-sizing: border-box;
  position: relative;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  height: 100%;
  font-size: 13.6px;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 13.6px;
}

a {
  color: $myshop-violet;
  text-decoration: none;
}

input:focus {
  border-color: $myshop-darkblue;
  outline: 0;
}

[v-cloak] {display: none}

.rounded-pane {
  background: #fff;
  border-radius: $border-radius;
  margin: 5px 10px;
  padding: 10px;
}

.rubl {
  &:after {
    content:"\00A0\20BD";
  }
}


.top-container-wrap {
  background: $myshop-graybg;
}

.top-container {
  background: $myshop-graybg;
  padding: 1px 0;

  &_main{
    background: initial;
  }
}

.wrap {
  position: relative;
  max-width: 1600px;
  margin: 0 115px;
  padding: 0;

  @media (min-width: 1800px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $desktop-width) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  @media (max-width: 1300px) {
    max-width: $desktop-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.noscroll {
  overflow: hidden;
  position: fixed !important;
}

/* inputs */

.inp {
  background-color: white;
  padding: 5px 0;
  border-radius: 0;
  font-size: 120%;
}

/* buttons */
.btn {
  color: #555555;
  background: #FFFFFF;
  padding: 5px 0.5em;
  font-weight: 600;
  cursor: pointer;
  display: block;
  font-size: 120%;
  text-decoration: none;
  text-align: center;
  border: 1px solid #555555;
  border-radius: 5px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-buy {
  background: $myshop-orange;
  border: 1px solid $myshop-orange;
  color: #FFFFFF;
}

.btn-incart-l {
  background: none;
  border: 1px solid $myshop-orange;
  color: $myshop-orange;
  border-radius: 5px 0 0 5px;
}

.btn-incart-r {
  background: $myshop-orange;
  border: 1px solid $myshop-orange;
  color: #FFFFFF;
  border-radius: 0 5px 5px 0;
}

.btn-save {
  background: #FFFFFF;
  border: 1px solid $myshop-violet;
  color: $myshop-violet;
}

.btn-frm {
  background: $myshop-lightblue;
  border: 1px solid $myshop-lightblue;
  color: #FFFFFF;
}

.btn-cart {
  color: #000000;
  background: #FFFFFF;
  border: 1px solid $myshop-lightblue;
}

.btn-bln1 {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid $myshop-orange;
}

.btn-link {
  border-bottom: 2px dotted blue;
  text-decoration: none;
  color: #000000;
  height: 1.3em;
  line-height: 100%;
  padding: 4px 0;
  display: block;
  font-size: 120%;
  margin: 0 3px;
}

.btn-filter {
  background-color: #F2F0ED;
  color: #000;
  border: none;
  padding: 0.6em 1.3em 0.6em 1.3em;
  outline: none;
  position: relative;
  font-size: 100%;
  .btn-filter-arrow {
    transform: rotate(270deg);
  }
}

.btn-filter-1 {
  background-color: #DDDDFF;
  outline: none;
  .btn-filter-arrow {
    transform: none;
  }
}

.btn-filter-badge {
  @include badge(9px, #FFF, #FF0011, -2px, -2px, unset, unset);
}

/* popups */

.pcontainer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5000;
  position: fixed;
  background-color: $myshop-overlay; /* complimenting your modal colors */
}

.popup-box-quick {
  border-radius: 1px;
  background: #FFFFFF;
  box-shadow: 1px 0px 3px rgba(122, 122, 122, 0.5), 3px 3px 2px rgba(122, 122, 122, 0.5), 0px 3px 2px rgba(122, 122, 122, 0.5), -3px 3px 2px rgba(122, 122, 122, 0.5);
  padding: 18px 15px;
  z-index: 5001;
  position: fixed;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-box-flex {
  display: flex;
  flex-direction: column;
}

.close-popup {
  position: absolute;
  top: 7px;
  right: 12px;
  background: url(/_all/play/bbiggallery_close1.png) repeat scroll -55px -64px rgba(0, 0, 0, 0);
  height: 25px;
  width: 24px;
}

.popup-title {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-size: 1.2rem;
}

.pvz-popup-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 111%;
  padding: 0 0 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  min-height: 54px;
}

.close-btn-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  min-width: 0;
}

.button_closed {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button_closed_top,
.button_closed_bottom {
  width: 20px;
  height: 3px;
  display: block;
  background-color: #000;
}

.button_closed_top {
  transform: translateY(50%) rotate(45deg);
}

.button_closed_bottom {
  transform: translateY(-50%) rotate(-45deg);
}

/* --- */

.help-mark {
  font-weight: bold;
  color: #ff7500;
  margin-left: 4px;
  text-decoration: none;
}

.und-complect {
  color: #D00049;
  background-color: #FFFFEF;
  font-size: 12px;
  display: inline-block;
  padding: 2px;
  margin: 3px 0;
}

.hint {
  text-decoration: none;
  line-height: 0.75rem;
  display: inline-block;
  background-image: url('/_all/play/line_horz.gif');
  background-position: 0 0.75rem;
  background-repeat: repeat-x;
  padding-bottom: 2px;
}

.nowr {
  white-space: nowrap;
}

.img-discont-container {
  position: absolute;
  cursor: pointer;
  right: -2px;
  top: 0px;
  -webkit-tap-highlight-color: transparent;
}

.img-discont {
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 25px;
  font-style: italic;
  font-weight: bold;
  font-size: 17.5px;
  line-height: 25px;
  text-align: center;
  padding-right: 11px;
  background-image: url(/_all/my/discount.svg);
}

.img-discont, .img-discont:visited, .img-discont:active, .img-discont:hover {
  color: #FFFFFF !important;
}

.img-discont-4 {
  background: rgba(153, 153, 255, 0.9);
}

.notfound {
  font-size: 120%;
  margin: 26px auto;
  text-align: center;
}

.collapsing-title-line {
  position: relative;
  background-color: #DDDDFF;
  padding: 0.3em 1.4em;
  font-weight: bold;
  cursor: pointer;
}

.collapsing-title-line::before {
  position: absolute;
  top: 10px;
  left: 5px;
  content: '';
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlNoYXBlIDI8L3RpdGxlPjxwYXRoIGQ9Ik0uOCAwTDYgNC42IDExLjIgMGwuOC43TDYgNiAwIC43LjggMHoiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 6px;
  width: 8px;
}

/* owl carousel css */

/* tiny slider carousel css */

.tns-nav {
  text-align: center;
  button {
    background: $myshop-gray015;
    padding: 1px 12px;
    margin: 0 3px;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  button.tns-nav-active {
    background: $myshop-violet;
  }
}


/**
 * Atomic CSS
 */

.relative {
  position: relative;
}

.color-violet {
  color: $myshop-violet;
}

.color-green {
  color: $myshop-green;
}

.color-red {
  color: $myshop-red;
}

.color-gray {
  color: $myshop-gray;
}

.color-pink {
  background-color: #FDBFC1
}

.color-disable {
  color: $myshop-disable;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-12 {
  margin-top: 12px;
}

.m-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.m-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.flex-grow {
  flex-grow: 1;
}

.justify-end {
  justify-content: flex-end;
}

.whitespace-nowrap {
  white-space: nowrap;
}
