@use 'sass:math';

@mixin mq($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin text-clamp-hacky($lines, $one-line: 14px) {
  overflow : hidden;
  text-overflow: ellipsis;
  /*display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;*/
  line-height: $one-line;
  /*max-height: $lines*$one-line;*/
  height: $lines*$one-line;
  min-height: $lines*$one-line;
  position: relative;
  &:after {
    content: "";
    text-align: right;
    position: absolute;
    top: $lines*$one-line - $one-line;
    right: 0;
    width: 40%;
    height: $one-line;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}

@mixin text-clamp($lines, $one-line: 14px) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  line-height: $one-line;
  height: $lines*$one-line;
  min-height: $lines*$one-line;
  position: relative;
}

// parent element must be position: relative
@mixin badge($sz, $fg, $bg, $top, $right, $bottom, $left) {
  background: $bg;
  color: $fg;
  display: flex;
  position: absolute;
  font-size: $sz*0.6;
  width: $sz;
  min-width: $sz;
  height: $sz;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  border-radius: 50%;
  // padding: 3px 5px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

@mixin carousel-btn($bg, $hbg) {
  display: none;
  width: 48px;
  height: 48px;
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  border: none;
  z-index: 10;
  top: 50%;
  cursor: pointer;
  background: $bg;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  transform: translateY(-50%);
  font-size: 0;

  &:not([disabled]):hover {
    background: $hbg;
  }

  &:active,
  &:focus {
    outline: none;
  }
  &[disabled] {
    visibility: hidden;
  }
}

@mixin carousel-btn-left () {
  $bg: #fff url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M13.1613 4.36483C12.8392 4.04278 12.3171 4.04278 11.9951 4.36483L7.04715 9.31274C6.7251 9.63479 6.7251 10.1569 7.04715 10.479L11.9951 15.4269C12.3171 15.7489 12.8392 15.7489 13.1613 15.4269C13.4833 15.1048 13.4833 14.5827 13.1613 14.2607L8.7965 9.89586L13.1613 5.53106C13.4833 5.20901 13.4833 4.68687 13.1613 4.36483Z\' fill=\'%232A3D48\' fill-opacity=\'0.5\'/%3E%3C/svg%3E%0A') no-repeat center;
  $hbg: $myshop-violet url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M13.1613 4.36483C12.8392 4.04278 12.3171 4.04278 11.9951 4.36483L7.04715 9.31274C6.7251 9.63479 6.7251 10.1569 7.04715 10.479L11.9951 15.4269C12.3171 15.7489 12.8392 15.7489 13.1613 15.4269C13.4833 15.1048 13.4833 14.5827 13.1613 14.2607L8.7965 9.89586L13.1613 5.53106C13.4833 5.20901 13.4833 4.68687 13.1613 4.36483Z\' fill=\'white\'/%3E%3C/svg%3E%0A') no-repeat center;
  @include carousel-btn($bg, $hbg);
  left: 20px;
}

@mixin carousel-btn-right () {
  $bg: #fff url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M6.8387 4.36483C7.16075 4.04278 7.68289 4.04278 8.00494 4.36483L12.9529 9.31274C13.2749 9.63479 13.2749 10.1569 12.9529 10.479L8.00494 15.4269C7.68289 15.7489 7.16075 15.7489 6.8387 15.4269C6.51666 15.1048 6.51666 14.5827 6.8387 14.2607L11.2035 9.89586L6.8387 5.53106C6.51666 5.20901 6.51666 4.68687 6.8387 4.36483Z\' fill=\'%232A3D48\' fill-opacity=\'0.5\'/%3E%3C/svg%3E') no-repeat center;
  $hbg: $myshop-violet url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M6.8387 4.36483C7.16075 4.04278 7.68289 4.04278 8.00494 4.36483L12.9529 9.31274C13.2749 9.63479 13.2749 10.1569 12.9529 10.479L8.00494 15.4269C7.68289 15.7489 7.16075 15.7489 6.8387 15.4269C6.51666 15.1048 6.51666 14.5827 6.8387 14.2607L11.2035 9.89586L6.8387 5.53106C6.51666 5.20901 6.51666 4.68687 6.8387 4.36483Z\' fill=\'white\'/%3E%3C/svg%3E%0A') no-repeat center;
  @include carousel-btn($bg, $hbg);
  right: 20px;
}
