// COLORS
$yellow: #FFB600;
$red: #D32F2F;

$myshop-darkblue: #A7A4FF;
$myshop-lightblue: #7648C0;
$myshop-lighterblue: #EFEFFF;
$myshop-lighterlighterblue: #F7F7FF;
$myshop-orange: #FF8300;
$myshop-lightorange: #FFA74D;
$myshop-lightviolet: #EBE2F5; // rgb(235, 226, 245)
$myshop-violet: #783CBD; // rgb(120, 60, 189)
$myshop-black: #2A3D48; // rgb(42, 61, 72)
$myshop-gray: #55646D;
$myshop-graybg: #F6F6F6;
$myshop-gray005: rgba($myshop-black, 0.05);
$myshop-gray05: rgba($myshop-black, 0.5);
$myshop-gray015: rgba($myshop-black, 0.15);
$myshop-gray08: rgba($myshop-black, 0.8);
$myshop-lighgray: #F4F5F6;
$myshop-red: #DE2A35;
$myshop-green: #61A60E;
$myshop-grey: #40515B;
$myshop-purple: #EBE2F5;
$myshop-disable: #7F8B91;
$myshop-overlay: rgba($myshop-black, 0.6);

$gray-text-color: rgba($myshop-black, 0.75);
$gray-border-color: #E5E7E9;

$warning: $yellow;
$danger: $red;


// GRID

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1140px;

$sm: 600px; // small
$md: $tablet-width; // medium
$lg: 1024px; // large
$xl: 1200px; // large

$mobile-horisontal-width: 600px;
$tablet-horisontal-width: 1024px;

$gap-block: 16px;


// Components

$border-radius: 8px !default;
$mobile-tabs-height: 62px;


// Z-Index

$z-index-overlay: 1;
$z-index-content: 11;
$z-index-header: 50;
$z-index-modal: 1022;
$z-index-series-mobile-modal: 1023;
$z-index-action-sheet: 1023;
$z-index-float-btns: 49;
