
.vue-tooltip-order-theme{
    padding: 4px 8px;
    width: 200px;
    background: #303940;
    border-radius: 8px;
    color:#fff;
    margin: 0 0 6px 0;

    &[x-placement="top"]{
        position: relative;

        .tooltip-arrow{
            //bottom: -11px;
            position: absolute;
            bottom: -5px;
            left:50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 6px 0 6px;
            border-color: #303940 transparent transparent transparent;
        }
    }
  }
