<template>
  <div class="about-tbl">
    <div v-for="a of attrs" :key="fmtKeyValue(a)" class="attr-line">
      <div v-if="a.name === 'наш комментарий'" class="our-comment">
        <ChatIcon class="our-comment__icon" />
        <div class="our-comment__context">
          <div class="our-comment__name">
            {{ a.name }}
          </div>
          <div class="our-comment__text">
            <div v-html="fmtValue(a)" />
          </div>
        </div>
      </div>
      <template v-else>
        <span class="attr-line__name">{{ a.name }}</span>
        <sets-view
          v-if="a.values"
          title=""
          :items="a.values"
          class="attr-line__value"
        />
        <span v-else class="attr-line__value">
          <a
            v-if="a.hint"
            href=""
            class="hint"
            @click.prevent="
              setHelpHint({
                text: a.hint,
                title: a.name,
                href: a.href,
                open: true,
              })
            "
            v-html="fmtValue(a)"
          />
          <nuxt-link v-else-if="a.href" :to="a.href" v-html="fmtValue(a)" />
          <span v-else v-html="fmtValue(a)" />
        </span>
      </template>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import SetsView from './SetsView'
import ChatIcon from '@/components/icons/ChatIcon'

export default {
  components: {
    SetsView,
    ChatIcon
  },
  props: {
    attrs: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    ...mapMutations(['setHelpHint']),
    toList (text) {
      return text
        ? text.split(', ').map((s) => {
          return { title: s }
        })
        : []
    },
    fmtKeyValue (a) {
      return a.name + this.fmtValue(a)
    },
    fmtValue (a) {
      if (a && a.img) {
        return `<img src="${a.img.href}" width="${a.img.width}" height="${a.img.height}">`
      } else if (a) {
        return a.value + (a.suffix ? ' ' + a.suffix : '')
      } else {
        return 'n/a'
      }
    }
  }
}
</script>

<style scoped lang="scss">
.about-tbl {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  & > * {
    margin-bottom: 8px;
    line-height: 20px;
    .attr-line__name {
      padding: 4px 0;
    }
    .attr-line__value {

      span {
        width: 100%;
        display:block;
        padding:4px 0;
        @media screen and (min-width: $md) {
          padding:4px 8px;
        }
      }
      a,
      ::v-deep a {
        padding: 4px 0;
        display: block;

        @media screen and (min-width: $tablet-width) {
          padding: 4px 8px;
          &:hover {
            background: rgba(235, 226, 245, 0.5);
            border-radius: 8px;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.attr-line__name:first-letter {
  text-transform: capitalize;
}

.attr-line {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 24px;
  flex-direction: column;
  .attr-line__name {
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    display: block;
    flex-shrink: 0;
    font-weight: 400;
    margin-right: 16px;
    @media screen and (min-width: $tablet-width) {
      max-width: 30%;
      width: 30%;
    }
  }
  .attr-line__value {
    line-height: 20px;
    width: 100%;
    color: #2a3d48;
    @media screen and (min-width: $tablet-width) {
      max-width: 70%;
      width: 70%;
    }
    ::v-deep {
      a,
      span {
        font-weight: 600 !important;
      }
      .sets {
        flex-basis: 100%;
      }
    }
  }
  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.attr-line:first-child {
  margin-top: 0;
}
.our-comment {
  background: #d9f0fa;
  border: 1px solid #80cdef;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 12px 16px;
  ::v-deep svg {
    flex-shrink: 0;
  }
  &__icon {
    margin-right: 12px;
  }
  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2a3d48;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__text {
    ::v-deep span {
      font-size: 14px !important;
    }
  }
  &__context {
    color: #2a3d48;
  }
}
</style>
