<template>
  <div ref="review" class="add-review">
    <form
      ref="addreview"
      name="form1"
      method="post"
      @submit.prevent
    >
      <div class="add-review__prod">
        <div class="add-review__image">
          <img :src="item.preview.href.slice(',')[0]" :alt="item.title">
        </div>
        <div>
          <div class="add-review__title">
            {{ item.title }}
          </div>
          <nuxt-link class="add-review__brand" :to="item.brand.href">{{ item.brand.value }}</nuxt-link>
        </div>
      </div>
      <div
        v-if="error_message"
        class="add-review__error"
        v-html="error_message"
      />
      <input-text
        v-if="!clientName"
        v-model="formData.name_fm"
        label="Ваше имя"
        name="name_fm"
        :validations="validations.name_fm"
        message="Пожалуйста, заполните это поле"
        maxlength="30"
        required
      />
      <div class="add-review__comment">
        <input-textarea
          v-model="formData.text_fm"
          label="Ваш отзыв"
          name="text_fm"
          :validations="validations.text_fm"
          message="Пожалуйста, заполните это поле"
          required
        />
        <span
          class="add-review__info"
        >Пожалуйста, подробно опишите ваш опыт использования. Обратите
          внимание на качество, удобство и соответствие заявленным
          характеристикам.</span>
      </div>
      <input-captcha
        v-if="!clientName"
        v-model="formData.key"
        :validations="validations.key"
        :show-label="false"
        :required="true"
      />
      <div class="add-review__button">
        <button class="add-review__send" type="submit" @click.once="formSumbit">
          Отправить отзыв
        </button>
        <div class="add-review__cancel" @click="$emit('cancel-review')">
          Отменить
        </div>
      </div>
      <div class="add-review__confirm">
        Нажимая кнопку «Отправить отзыв», Вы подтверждаете, что ознакомлены с
        <a href="/help/privacy.doc">Политикой конфиденциальности</a> и выражаете
        согласие с её условиями.
      </div>
    </form>
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'
import InputTextarea from '@/components/ui/InputTextarea'
import InputCaptcha from '@/components/ui/InputCaptcha'

export default {
  components: {
    InputText,
    InputTextarea,
    InputCaptcha
  },
  props: {
    id: {
      type: [Number, String],
      required: true
    },
    item: {
      type: Object,
      default: () => ({
        preview: {},
        title: '',
        brand: {}
      })
    }
  },
  data () {
    return {
      formData: {
        name_fm: '',
        text_fm: '',
        key: ''
      },
      validations: {
        name_fm: null,
        text_fm: null,
        key: null
      },
      error_message: ''
    }
  },
  computed: {
    clientName () {
      return this.$store.getters.client.name || ''
    }
  },
  watch: {
    formData: {
      handler () {
        this.formValidations()
      },
      deep: true
    }
  },
  methods: {
    formSumbit () {
      if (this.formValidations()) {
        const formData = new FormData(this.$refs.addreview)
        this.$api.addReview(this.$route.params.id, formData)
          .then(({ data }) => {
            this.error_message = ''
            this.$emit('response-review', data)
          })
      } else {
        this.error_message =
          'Заполнены не все обязательные поля. Пожалуйста, заполните все поля, отмеченные звездочкой.'
        this.scrollTop()
      }
    },
    formValidations () {
      let result = true
      Object.keys(this.validations).forEach((item) => {
        if (this.formData[item].trim() === '') {
          if (this.clientName && (item === 'name_fm' || item === 'key')) return
          this.validations[item] = result = false
        } else {
          this.validations[item] = true
        }
      })
      return result
    },
    scrollTop () {
      this.$refs.review.scrollIntoView({
        behavior: 'smooth'
      })
    }
  }
}
</script>

<style scoped lang="scss">
.add-review {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-black;
  max-width: 800px;
  &__prod {
    display: flex;
    margin-top: 25px;
  }

  &__image {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 24px;
    margin-bottom: 24px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $myshop-black;
    margin-bottom: 5px;
  }

  &__brand {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #5d5f61;

    &:hover {
      color: $myshop-violet;
    }
  }

  &__button {
    display: flex;
  }

  &__send {
    background: $myshop-violet;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding: 10px 24px;
    margin-right: 16px;
  }

  &__cancel {
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #783cbd;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding: 10px 24px;
    &:hover {
      color: $myshop-violet;
    }
  }

  &__confirm {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5d5f61;
    margin: 25px 0;
  }

  &__info {
    max-width: 250px;
    top: 5px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    color: #55646d;
    margin-left: 16px;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }
  &__comment {
    display: flex;
  }

  &__error {
    color: #d32f2f;
    margin: 25px 0;
  }
}

.all-reviews {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #783cbd;
  cursor: pointer;
  margin: 8px 0;

  &:hover {
    opacity: 0.9;
  }
}
::v-deep {
  .field {
    max-width: 400px;
    flex: 100%;
    margin: 0 0 24px 0 !important;
    input.field__input {
      padding: 9px 12px !important;
    }
    input.field__input + label {
      transform: translate(0, 23px) scale(1.2);
    }
    input.field__input:not(:placeholder-shown) + label,
    input.field__input:focus + label {
      transform: translate(0, 0) scale(1);
      cursor: pointer;
}
  }
  .captcha {
    border: none !important;
    background: none !important;
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    max-width: 400px;

    &__image {
      max-width: 128px;
      max-height: 40px;
      margin: 0 16px 0 0 !important;
      background: #f4f5f6;

      border: 1px dashed #d4d8da !important;
      border-radius: 4px !important;
    }
  }
}
</style>
