<template>
  <div class="attrs-tbl">
    <div v-for="a of attrs" :key="fmtKeyValue(a)" :class="{ 'attr-line': !hasSplit, 'attr-line-split': hasSplit }">
      <div :class="{ 'attr-line__name': 1 }" v-html="a.name" />

      <SetsView v-if="a.values" title="" class="attr-line__value" :items="a.values" />
      <div v-else class="attr-line__value">
        <a v-if="a.hint" href="" class="hint" @click.prevent="setHelpHintModal({ modal: 'ProductView', text: a.hint, title: a.name, href: a.href, open: true })" v-html="fmtValue(a)" />
        <nuxt-link v-else-if="a.href" :to="a.href" v-html="fmtValue(a)" />
        <div v-else :class="{ 'badge-yellow': a.name === 'код в My-shop.ru' }" v-html="fmtValue(a)" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import SetsView from './SetsView'
import eventBus from '@/helpers/eventBus'

export default {
  components: {
    SetsView
  },
  props: {
    attrs: {
      type: Array,
      default: () => []
    },
    hasSplit: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    eventBus.$on('MODAL_CLOSED', () => this.setHelpHintModal(null))
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    ...mapActions(['setHelpHintModal']),
    toList (text) {
      return text
        ? text.split(', ').map((s) => {
          return { title: s }
        })
        : []
    },
    fmtKeyValue (a) {
      return a.name + this.fmtValue(a)
    },
    fmtValue (a) {
      if (a && a.img) {
        return `<img src="${a.img.href}" width="${a.img.width}" height="${a.img.height}">`
      } else if (a) {
        return a.value + (a.suffix ? ' ' + a.suffix : '')
      } else {
        return 'n/a'
      }
    }
  }
}
</script>

<style scoped lang="scss">
::v-deep a {
  font-weight: 400;
}

.attrs-tbl {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.attr-line__name:first-letter {
  text-transform: capitalize;
}

.attr-line {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  .attr-line__name {
    vertical-align: bottom;
    color: rgba(42, 61, 72, 0.8);
  }
  .attr-line__value {
    color: $myshop-black;
  }
}
.attr-line-split {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px;
  border-radius: 8px;
  &:nth-child(2n + 1) {
    background: #fafafa;
  }
  .attr-line__name {
    padding-right: 7px;
    flex-basis: 50%;
    vertical-align: bottom;
    color: #2a3d48;
  }
  .attr-line__value {
    padding-left: 7px;
    flex-basis: 50%;
    color: $myshop-black;
  }
}

.attr-line:last-child {
  margin-bottom: 15px;
}

.badge-yellow {
  padding: 2px 6px;
  background: #ffea00;
  width: fit-content;
  color: $myshop-black;
  border-radius: 5px;
}
</style>
