<template>
  <div class="buy-pane buy-pane-f" :data-o="`good`">
    <div class="buttons">
      <template v-if="!available && curProduct.product_id">
        <a
          v-if="inWait"
          href="/my/waitlist"
          class="btn btn-unavailable"
          :class="{ 'btn-in-wait': inWait }"
          rel="nofollow"
          @click.prevent="$router.push({ name: 'waitlist' })"
        >
          В листе ожидания
        </a>

        <a
          v-else
          href=""
          class="btn btn-unavailable"
          rel="nofollow"
          @click.prevent="$emit('addWaitList', curProduct.product_id)"
        >
          В лист ожидания
        </a>
      </template>

      <template v-else>
        <qty-buttons
          :quantity="inCartCount || buyQuantity"
          class="qty-buttons-set"
          :disabled="inCartCount > 0"
          @qtychanged="qtyChanged"
        />
        <nuxt-link
          v-if="inCartCount > 0"
          class="btn btn-buy btn-incart"
          href=""
          :to="{ name: 'cart' }"
          @click.native="$event.stopImmediatePropagation()"
        >
          <div>В корзине</div>
        </nuxt-link>
        <button
          v-else
          type="button"
          class="btn btn-buy"
          :disabled="ajaxInProgress"
          @click="clickHandler"
        >
          <div>В корзину</div>
        </button>
      </template>
    </div>
    <ShareSave v-if="!isMobile" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ShareSave from './ShareSave'
import QtyButtons from '@/components/layout/Cart/QtyButtons'

export default {
  components: {
    QtyButtons,
    ShareSave
  },
  data () {
    return {
      buyQuantity: 1
    }
  },
  computed: {
    ...mapState(['curProduct', 'cart', 'isMobile', 'ajaxInProgress', 'waitListProducts']),
    available () {
      return this.curProduct.availability
        ? this.curProduct.availability.status
        : false
    },
    availableCount () {
      return this.curProduct.availability && this.curProduct.availability.count
        ? this.curProduct.availability.count
        : 0
    },
    inCartCount () {
      return Number(this.cart.cartObj[this.curProduct.product_id]) || 0
    },
    inSave () {
      return this.cart.saveObj[this.curProduct.product_id] || false
    },
    inWait () {
      return this.waitListProducts.includes(Number(this.curProduct.product_id))
    }
  },
  methods: {
    ...mapActions([
      'cartBuyClicked',
      'cartQtyChanged',
      'cartSaveClicked',
      'wishlistDeleteClicked'
    ]),
    qtyChanged (q) {
      this.buyQuantity = q
    },
    clickHandler () {
      this.cartBuyClicked({
        curProduct: this.curProduct,
        quantity: this.buyQuantity,
        event
      })
    }
  }
}
</script>

<style scoped lang="scss">
// Common CSS
.btn {
  color: $myshop-black;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  align-items: center;
  border: 1px solid #dfe2e4;
  border-radius: 8px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-buy {
  color: #ffffff !important;
  background-color: #ff8300;
  border: none;
  flex-grow: 1;
  white-space: nowrap;
  &:hover {
    opacity: 0.9;
  }
}

.btn-save {
  background: #ffffff;
  margin-left: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-saved {
  background: rgba(120, 60, 189, 0.9);
  backdrop-filter: blur(250px);
  border: 1px solid rgba(120, 60, 189, 1);
  margin-left: 5px;
}

.btn-incart {
  color: $myshop-orange !important;
  background: #ffffff;
  border: 1px solid $myshop-orange;
  box-shadow: inset 0 0 5px rgba(255, 131, 0, 0.45);
  backdrop-filter: blur(250px);
  flex-grow: 1;
  &:hover {
    opacity: 0.9;
  }
}
// Common CSS

.buy-pane {
  background-color: #ffffff;
  box-shadow: none;
  padding: 0;
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  @media screen and (max-device-width: $tablet-width - 1) {
    width: 100%;
    box-shadow: 0px -5px 5px rgba(42, 61, 72, 0.05);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
  }
  .buttons {
    flex-wrap: nowrap;
    @media screen and (max-device-width: 767px) {
      width: 100%;
      & > * {
        width: calc(50% - 7px);
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  & > * {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    & > * {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 375px) {
    & > * {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.btn {
  @media screen and (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.btn-common {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  border-radius: 8px;
  display: inline-block;
  flex-grow: 1;
  padding: 10px 14px;
  box-sizing: border-box;
  img {
    width: 20px;
    height: 18px;
  }
}

.btn-buy {
  flex-direction: column;
  color: #ffffff;
  background: rgba(255, 131, 0, 0.9);
  margin-left: 0px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 0;
  @media screen and (min-device-width: $tablet-width) {
    max-width: 170px;
    padding: 14px 40px;
    margin-left: 12px;
    margin-right: 12px;
  }
  @media screen and (min-device-width: 1024px) {
    margin-left: 10px;
  }
  @media screen and (min-device-width: $desktop-width) {
    margin-left: 14px;
  }
}

.btn-incart {
  color: $myshop-orange !important;
  background: #ffffff;
  border: 1px solid $myshop-orange;
  box-shadow: none;
  height: 48px;

}

.btn-unavailable {
  @extend .btn-common;
  color: #ffffff !important;
  background: rgba(120, 60, 189, 0.9);
  box-shadow: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  @media screen and (min-device-width: $tablet-width) {
    min-width: 300px;
  }

  @media screen and (max-device-width: $tablet-width) {
    flex: 1 0 calc(100% - 130px);
    padding: 10px 8px;
  }
  .btn-incart-r {
    width: 36px;
  }
}
.btn-in-wait {
  background-color: #ffffff;
  color: $myshop-violet !important;
  border: 1px solid $myshop-violet;
}
@media screen and (max-width: 767px) {
  ::v-deep .qty-buttons-set {
    margin-right: 10px;
    margin: 0;
    margin-right: 14px;
    .qty-btns {
      justify-content: space-between;
      align-items: center;
      padding: 4px;
      width: 100%;
    }
    .inp-qty {
      line-height: 40px;
      margin: 0;
      min-width: calc(100% - 80px);
    }
    button {
      width: 40px;
      height: 40px;
      align-items: center;
      line-height: 36px;
    }
    .btn-buy {
      width: calc(100% - 7px);
    }
  }
}
@media screen and (min-device-width: $tablet-width) and (max-device-width: 1024px) {
  .btn-unavailable {
    margin-right: 100%;
  }
}
</style>
