<template>
  <div
    class="gallery"
    :class="{ popup: showPopup, 'one-image': localyImages.length === 1 }"
  >
    <hooper
      v-if="localyImages.length > 1"
      ref="gallerynav"
      :settings="navigationSettings"
      class="gallery-nav"
      @updated="gallerynavInit = true"
      @slide="galleryNavHandler"
    >
      <slide
        v-for="(image, i) of localyImages"
        :key="image.preview.href + i"
        ref="galleryNavSlide"
        :class="{ active: i === currentSlide, gray: image.type !== 'image' }"
      >
        <div>
          <img
            :src="getSrc(image, i)"
            :class="[
              'gallery-nav__image',
              { 'pdf-icon': image.type === 'pdf' },
            ]"
            :alt="image.preview.alt"
            @click="navigateTo(i)"
          />
        </div>
      </slide>
      <hooper-navigation slot="hooper-addons" />
    </hooper>
    <div class="gallery-container">
      <div>
        <template v-if="promo.length > 0">
          <label-discount
            v-for="(item, idx) in promo"
            :key="item.id"
            :promo="item"
            :idx="idx"
            :margin="8"
            big
          />
        </template>

        <ShareSave v-if="isMobile && !showPopup" class="share-mobile-buttons" />
      </div>
      <hooper
        ref="gallery"
        :settings="gallerySettings"
        group="gallary"
        class="gallery-images"
        :wheel-control="localyImages.length > 1"
        @slide="updateCurrentSlide"
        @updated="galleryInit = true"
      >
        <slide
          v-for="(image, index) of localyImages"
          :key="'big_' + image.original.href"
          ref="gallerySlide"
          :class="{ gray: image.type !== 'image' }"
        >
          <a
            v-if="image.type === 'pdf'"
            :href="image.original.href"
            target="_blank"
          >
            <img src="/_all/my/pdf.svg" :loading="'lazy'" />
          </a>
          <video
            v-else-if="image.type === 'video'"
            :src="image.original.href"
            controls
            class="gallery-images__video paused"
          />
          <div v-else-if="image.type === 'audio'" class="gallery-images__audio">
            <audio class="paused" :src="image.original.href" controls />
          </div>
          <div
            v-else
            class="gallery-images__image"
            :class="{
              noimage:
                !Array.isArray(image.preview.href) &&
                image.preview.href.split('/').includes('noimage.svg'),
            }"
            :data-a="galleryItemsToShow"
          >
            <template v-if="galleryItemsToShow">
              <!-- если нет картинки -->
              <template
                v-if="
                  !Array.isArray(image.preview.href) &&
                  image.preview.href.split('/').includes('noimage.svg')
                "
              >
                <img :src="image.preview.href" :alt="image.preview.alt" />
              </template>
              <div
                v-else-if="showPopup"
                id="zoom-container"
                :data-src="
                  typeof image.original.href === 'object'
                    ? image.original.href[0]
                    : image.original.href
                "
                class="zoom-container"
              >
                <image-zoom
                  v-if="image.params ? image.params.loaded : false"
                  :regular="
                    typeof image.original.href === 'object'
                      ? image.original.href[0]
                      : image.original.href
                  "
                  :zoom="
                    typeof image.original.href === 'object'
                      ? image.original.href[0]
                      : image.original.href
                  "
                  :zoom-amount="image.params ? image.params.zoomAmount : 2"
                  :click-zoom="true"
                  data-zoom="true"
                  click-message="Нажмите, чтобы увеличить"
                  touch-message="Нажмите, чтобы увеличить"
                  close-pos="bottom-center"
                  class="zoom-image"
                  :class="getClassByParams(image.params)"
                />

                <!-- :breakpoints="[{width: 320,regular: image.preview.href[0],},{width: 420,regular: image.preview.href[1],}]" -->
              </div>
              <!-- :breakpoints="[{width: 320,regular: image.preview.href[0],},{width: 420,regular: image.preview.href[1],}]" -->
              <template v-else>
                <img
                  v-if="index < galleryItemsToShow"
                  :src="getSrc(image, index)"
                  :srcset="`${image.preview.href[0]} 320w, ${image.preview.href[1]} 420w, ${image.preview.href[2]} 600w`"
                  :sizes="`(max-width: 320px) 280px,
                (max-width: 420px) 380px,
                (max-width: 600px) 560px,
                (max-width: 1024px) 419px,
                419px`"
                  :alt="image.preview.alt"
                  :breakpoints="[{width: 320,regular: image.preview.href[0],},{width: 420,regular: image.preview.href[1],}]"
                  @click="openPopup"
                />
                <img
                  v-else
                  class="gallery-images__lazy-image_js"
                  :data-src="
                    index === 0
                      ? showPopup
                        ? image.original.href
                        : image.preview.href[2]
                      : image.original.href
                  "
                  :alt="image.original.alt"
                  @click="openPopup"
                />
              </template>
            </template>
          </div>
        </slide>
        <hooper-pagination
          v-if="localyImages.length > 1"
          slot="hooper-addons"
        />
        <hooper-navigation slot="hooper-addons" />
      </hooper>
    </div>
    <div v-if="showPopup" class="cancel-icon" @click="closePopup">
      <CancelIcon />
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapActions, mapState } from 'vuex'
import { Hooper, Slide, Navigation as HooperNavigation, Pagination as HooperPagination } from 'hooper'
import 'hooper/dist/hooper.css'
import imageZoom from 'vue-image-zoomer'
import ShareSave from './ShareSave.vue'
import LabelDiscount from '@/components/common/LabelDiscount'
import CancelIcon from '@/components/icons/CancelIcon'

export default {
  components: {
    LabelDiscount,
    Hooper,
    Slide,
    HooperNavigation,
    HooperPagination,
    CancelIcon,
    imageZoom,
    ShareSave
  },
  props: {
    images: { type: Array, default: () => [] },
    promo: { default: () => [], type: Array, required: false }
  },
  data () {
    return {
      itemsToShow: 5,
      showPopup: false,
      gallerySettings: {
        itemsToShow: 1,
        itemsToSlide: 1,
        vertical: false,
        trimWhiteSpace: true,
        centerMode: true,
        transition: 200,
        wheelControl: false,
        mouseDrag: false,
        infiniteScroll: true
      },
      navigationSettings: {
        itemsToSlide: 1,
        vertical: false,
        trimWhiteSpace: true,
        wheelControl: false,
        itemsToShow: 8,
        mouseDrag: false,
        breakpoints: {
          767: {
            itemsToShow: 4.5,
            vertical: true
          }
        }
      },
      localyImages: [],
      currentSlide: 0,
      gallerynavInit: false,
      galleryInit: false
    }
  },
  computed: {
    ...mapState(['isMobile']),
    galleryItemsToShow () {
      if (this.galleryInit) {
        return this.$refs.gallery.config.itemsToShow
      } else {
        return false
      }
    }
  },
  watch: {
    isGaleryModal (newV) {
      if (!newV) {
        this.closePopup()
      }
    }
  },
  updated () {
    this.setLocalyImages()
  },
  mounted () {
    this.setLocalyImages()
    this.sliderUpdate()

    this.$addEventListeners('keyup', this.closeKeyUp)
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    setLocalyImages () {
      this.localyImages = this.images
    },
    getSrc (image, index) {
      if (image.type === 'image') {
        return index === 0 ? image.preview.href[2] : image.preview.href
      }
      return '/_all/my/' + image.type + '.svg'
    },
    navigateTo (i) {
      this.$refs.gallery.slideTo(i)
    },
    updateCurrentSlide (payload) {
      let infinityExceptionSlideIndex
      if (payload.currentSlide === -1) {
        infinityExceptionSlideIndex = this.localyImages.length - 1
      }
      if (payload.currentSlide === this.localyImages.length) {
        infinityExceptionSlideIndex = 0
      }
      this.currentSlide =
        infinityExceptionSlideIndex !== undefined
          ? infinityExceptionSlideIndex
          : payload.currentSlide
      if (this.$refs.gallerynav) {
        this.$refs.gallerynav.slideTo(this.currentSlide)
      }
      const pausedElements = document.getElementsByClassName('paused')
      if (pausedElements && pausedElements.length) {
        for (let i = 0; i < pausedElements.length; i++) {
          pausedElements[i].pause()
        }
      }
      if (this.showPopup) {
        this.$nextTick(() => {
          this.loadAndCheckZoomAvailable('gallerySlide', payload.currentSlide)
        })
      } else {
        this.$nextTick(() => {
          this.lazyLoadingHandler('gallerySlide', this.currentSlide)
        })
      }
    },
    sliderUpdate () {
      this.$nextTick(() => {
        this.$refs.gallery.update()
        if (this.$refs.gallerynav) {
          this.$refs.gallerynav.update()
        }
      })
    },
    openPopup () {
      document.body.classList.toggle('noscroll', true)
      this.toggleModal({ name: 'ImGallery' })
      this.showPopup = true
      this.sliderUpdate()
      this.$nextTick(() => {
        this.loadAndCheckZoomAvailable('gallerySlide', this.currentSlide)
      })

      /**
       * Force reflow/repaing gallery
       * Without that code, gallery not working on mobile in WebKit browsers
       */
      const el = this.$el
      el.style.display = 'none'
      // eslint-disable-next-line
      el.offsetHeight
      el.style.display = ''
    },
    closePopup () {
      document.body.classList.toggle('noscroll', false)
      this.toggleModal({ name: null })
      this.showPopup = false
      this.sliderUpdate()
      this.$nextTick(() => {
        this.lazyLoadingHandler('gallerySlide', this.currentSlide)
      })
    },
    closeKeyUp (event) {
      if (event.which === 27 && this.showPopup) {
        this.closePopup()
      }
    },
    lazyLoadingHandler (refSlideName, slideIndex) {
      const lazyImg =
        this.$refs[refSlideName][slideIndex].$el.querySelector('img[data-src]')
      if (lazyImg) {
        lazyImg.setAttribute('src', lazyImg.getAttribute('data-src'))
        lazyImg.onload = () => {
          lazyImg.removeAttribute('data-src')
        }
      }
    },
    checkZoomAvailable (refSlideName, slideIndex, img) {
      const selector = this.$refs[refSlideName][slideIndex].$el.querySelector('.zoom-container')
      if (!selector) {
        return
      }
      const setCursorStyle = () => {
        setTimeout(() => {
          if (selector.querySelector('.vh--image')) {
            selector.querySelector('picture').style.cursor = 'zoom-out'
          } else {
            selector.querySelector('picture').style.cursor = 'zoom-in'
          }
        }, 10)
      }
      const { width = 0, height = 0 } = selector.getClientRects()[0]
      setTimeout(() => {
        const listSelector = this.$refs.gallery.$el.getElementsByClassName('hooper-list')[0]

        const newWidth = width === 0 ? listSelector.getClientRects()[0].width - 96 : width
        const availableSize = newWidth * height < img.width * img.height
        if (availableSize) {
          selector.addEventListener('click', () => {
            setCursorStyle()
          })
        }
        const saveParams = (params) => {
          const imageWithParams = this.localyImages[slideIndex]
          imageWithParams.params = imageWithParams.params
            ? Object.assign({}, imageWithParams.params, params)
            : params
          Vue.set(this.localyImages, slideIndex, imageWithParams)
        }
        saveParams({
          disableZoom: !availableSize,
          loaded: true
        })
        selector.removeAttribute('data-src')
        this.$nextTick(() => {
          let zoomAmount = 2
          if (width && height) {
            zoomAmount = Math.round((width >= height ? (img.width / width) : (img.height / height)) * 10) / 10
          }
          saveParams({ zoomAmount })
        })
        if (width === 0) {
          this.checkZoomAvailable(refSlideName, slideIndex, img)
        }
      }, 0)
    },
    async loadAndCheckZoomAvailable (refSlideName, slideIndex) {
      if (this.$refs[refSlideName].length === slideIndex) {
        slideIndex = 0
      }
      if (slideIndex === -1) {
        slideIndex = this.$refs[refSlideName].length - 1
      }
      const selector = this.$refs[refSlideName][slideIndex].$el.querySelector('.zoom-container[data-src]')
      if (!selector) {
        return
      }
      const url = selector.getAttribute('data-src')
      const img = new Image()

      const resolve = await new Promise((resolve, reject) => {
        img.onload = () => resolve(img)
        img.onerror = reject
        img.src = url
      })
      this.checkZoomAvailable(refSlideName, slideIndex, resolve)
    },
    getClassByParams ({ disableZoom = false }) {
      return {
        disableZoom
      }
    },
    galleryNavHandler () {
      this.$refs.galleryNavSlide.forEach((v, index) => {
        // теперь при переключении слайда можно все остальные загрузить
        this.$nextTick(() => {
          this.lazyLoadingHandler('galleryNavSlide', index)
        })
      })
    }
  }
}
</script>

<style scoped lang="scss">
$mobile-slide-heigth: calc(100vw - 40px);

li {
  list-style-type: none;
}
.paused {
  outline: none;
  min-width: 250px;
  width: 100%;
}
.hooper {
  outline: none;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  .gray {
    background: #fafafa;
    border-radius: 8px;
  }
  ::v-deep {
    ul {
      padding-left: 0;
      margin: 0;
    }
    .hooper-sr-only {
      display: none;
    }
  }
}

.gallery {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.gallery-nav {
  width: 80px;
  margin-right: 16px;
  height: 400px;
  flex-shrink: 0;
  ::v-deep {
    .hooper-slide {
      border-radius: 8px;
      height: 80px !important;
      overflow: hidden;
      border: 2px solid transparent;
      &.is-active {
        margin-bottom: 8px;
      }
      &.active {
        border: 2px solid #783cbd;
        box-sizing: border-box;
      }
    }
    .hooper-prev,
    .hooper-next {
      position: absolute;
      width: 100%;
      background: #ffffff;
      border: none;
      box-shadow: 0px 3px 2px rgba(42, 61, 72, 0.04),
        0px 5px 3px rgba(42, 61, 72, 0.08);
      height: 40px;
      outline: none;
      &.is-disabled {
        display: none;
      }
      &:hover {
        box-shadow: 0px 5px 3px rgba(42, 61, 72, 0.04),
          0px 8px 5px rgba(42, 61, 72, 0.08);
        .icon-arrowUp {
          fill: #783cbd;
        }
        .icon-arrowDown {
          fill: #783cbd;
        }
      }
    }
    .hooper-prev {
      top: 0;
    }
  }
  .gallery-nav__image {
    object-fit: scale-down;
    -o-object-position: center;
    object-position: center;
    max-height: 100%;
    max-width: 100%;
    height: 80px;
    width: 80px;
    cursor: pointer;
    &.pdf-icon {
      padding: 10px;
    }
  }
}

.gallery-container {
  position: relative;
  width: calc(100% - 96px);
  flex-shrink: 0;
}
.one-image {
  .gallery-container {
    width: 100%;
  }
}
.gallery-images {
  height: auto;
  width: 100%;
  &__image {
    height: 100%;
  }
  ::v-deep {
    .hooper-list {
      overflow: hidden;
    }
    .hooper-slide {
      overflow: hidden;
    }
    .hooper-track {
      display: flex;
    }
    .hooper-slide {
      flex-shrink: 0;
      height: 400px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .hooper-pagination {
      display: none;
    }
    .hooper-navigation {
      display: none;
    }
  }

  img {
    object-fit: scale-down;
    object-position: center;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }
}
.gallery-images__audio {
  outline: none;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  background: white;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  width: 100vw;
  height: 100%;
  height: stretch;
  .label {
    display: none;
  }
  &.gallery {
    padding: 20px;
  }
  .gallery-nav {
    display: block;
  }
  .gallery-images {
    height: 100%;
    width: calc(100% - 120px);
    margin: 0 auto;
    img {
      cursor: inherit;
    }
    &__image {
      max-width: 100%;
      .zoom-container {
        display: flex;
        height: 100%;
        min-width: 100%;
        flex-shrink: 0;
      }
      ::v-deep .zoom-image {
        height: 100%;
        &.disableZoom {
          pointer-events: none;
          .vh--message {
            display: none;
          }
        }
        // &:not(.disable-zoom).vh--message {
        //   display: block;
        // }
        & > div:first-child {
          height: 100%;
          width: 100%;
          & > picture:first-child {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            cursor: zoom-in;
            img {
              max-width: 100%;
              height: 100%;
              object-fit: scale-down;
            }
          }
          & > picture:nth-child(2) {
            &:hover {
              cursor: zoom-out;
            }
            img {
              min-height: 100%;
              object-fit: contain;
              cursor: zoom-out;
            }
          }
        }
        .vh--close {
          font-size: 32px;
          line-height: 40px;
          padding: 30px;
        }
      }
    }
    ::v-deep {
      .hooper-slide {
        flex-shrink: 0;
        height: 100%;
      }
      .hooper-navigation {
        display: block;
        position: absolute;
        button {
          border: none;
          background: transparent;
          outline: none;
          position: fixed;
          height: 100%;
          width: 60px;
          @media screen and (min-width: 768px) {
            padding-right: 0;
            padding-left: 0;
            svg {
              width: 40px;
              height: 40px;
            }
            &.hooper-next {
              right: 20px;
              top: calc(50% + 30px);
              height: calc(100% - 100px);
              bottom: 20px;
              padding-bottom: calc(1em + 60px);
            }
          }
          &.hooper-prev {
            left: 120px;
            height: calc(100% - 40px);
          }

          &:hover {
            background: rgba(120, 60, 189, 0.1);
            svg {
              fill: #783cbd;
            }
          }
        }
      }
    }
  }
  .cancel-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background: rgba(120, 60, 189, 0.1);
      svg ::v-deep path {
        fill: #783cbd;
      }
    }
  }
}
@media screen and (min-width: 767px) {
  .popup.gallery.one-image {
    ::v-deep {
      .hooper-navigation {
        .hooper-prev {
          left: 20px;
        }
      }
    }
  }
}
.noimage {
  width: 100%;
  img {
    cursor: auto;
    object-fit: contain;
  }
}
//Styles for mobile
@media screen and (max-width: 767px) {
  .gallery-nav {
    display: none;
  }
  .gallery {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .gallery-container {
    width: 100%;
  }
  .gallery-images {
    margin-bottom: 8px;
    position: relative;
    ::v-deep {
      .hooper-slide {
        height: $mobile-slide-heigth;
        max-height: $mobile-slide-heigth;
        img,
        video,
        audio,
        a {
          cursor: zoom-in;
          padding-bottom: 8px;
        }
      }
      .hooper-navigation {
        display: none;
      }
      .hooper-pagination {
        position: relative;
        display: flex;
        justify-content: center;
      }
      .hooper-indicators {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        li {
          margin-right: 8px;

          &:last-child {
            margin-right: 0px;
          }
        }
        .hooper-indicator {
          border: none;
          width: 6px;
          height: 6px;
          padding: 0;
          background: #e7e7e8;
          border-radius: 8px;
          border-radius: 8px;

          &.is-active {
            background: rgba(120, 60, 189, 1);
            width: 24px;
            height: 6px;
          }
        }
      }
    }
  }

  .popup {
    &.gallery {
      padding: 0 10px 10px;
      justify-content: space-between;
    }
    .gallery-nav {
      height: 40px;
      width: 100%;
      flex-shrink: 0;
      ::v-deep {
        .hooper-navigation {
          display: none;
        }
        .hooper-slide {
          width: 40px !important;
          height: 40px !important;
          border-radius: 5px;
          &.is-active {
            margin-right: 8px;
          }
        }
      }
      .gallery-nav__image {
        width: 40px;
        height: 40px;
        &.pdf-icon {
          padding: 2px;
        }
      }
    }

    .gallery-images {
      width: calc(100% - 68px);
      height: calc(100vh - 60px);
      &__images {
        width: calc(100vw - 88px);
        height: calc(100vh - 60px);
      }
      ::v-deep {
        .hooper-slide {
          height: 100%;
          max-height: 100%;
        }
        .hooper-track {
          align-items: center;
        }
        .hooper-navigation {
          button {
            bottom: 50px;
            width: 44px;
            height: calc(100% - 50px);
            padding: 0;
            top: calc(50% - 25px);
            &.hooper-prev {
              left: 0;
            }
            &.hooper-next {
              right: 0;
              margin-top: 24px;
              height: calc(100% - 84px);
              padding-bottom: 50px;
            }
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
    .cancel-icon {
      right: 10px;
      top: 10px;
      width: 24px;
      height: 24px;
      padding: 0;
      svg {
        height: 24px;
        width: 24px;
      }
      &:hover {
        fill: #783cbd;
      }
    }
  }
  .share-mobile-buttons {
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 10;
    ::v-deep {
      .btn {
        background: #ffffff;
        box-shadow: 0px 0px 2px rgba(42, 61, 72, 0.04),
          0px 3px 2px rgba(42, 61, 72, 0.08);
        border-radius: 8px;
        border: none;
        width: 36px;
        height: 36px;
        margin-bottom: 12px;
        margin-left: 0;
      }
    }
  }
  ::v-deep {
    .label {
      .label__discount {
        padding: 4px 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      .label__tooltip.top {
        left: 0;
        &:after {
          left: 24px;
          right: auto;
        }
      }
    }
  }
}
</style>
