<template>
  <div class="reviews">
    <div v-if="items.length === 0" class="be-first">
      Нет оценок
      <!-- пока нет отзывов хардкод -->
      <div class="reviews__star-wrap">
        <RatingIcon />
        <RatingIcon />
        <RatingIcon />
        <RatingIcon />
        <RatingIcon />
      </div>

      <!-- пока нет отзывов хардкод -->
    </div>
    <div class="review-label">
      <span v-if="items.length === 0">Поделитесь своим мнением об этом товаре с другими покупателями — будьте первыми.</span>
      <span v-else>Поделитесь своим мнением с другими покупателями</span>
    </div>
    <b-button
      :expanded="isMobile"
      size="is-large"
      @click="$emit('new-review')"
    >
      Написать отзыв
    </b-button>

    <section v-if="reviews.length > 0" class="reviews-list">
      <div v-for="(review, index) in reviews" :key="index" :class="{ review: 1, 'user-review': !review.status, 'myshop-review': review.status }">
        <div class="review__title" :data-first-simbol="review.name[0]">
          <LogoInReview v-if="review.status" class="shop-logo" />
          <div class="review__user_name">
            {{ review.status ? "My-shop.ru" : review.name }}
            <div class="review__date">
              {{ review.date | formatDate3 }}
            </div>
          </div>
        </div>
        <div class="review__text" v-html="textReview(review.comment, isOpen(openComment, index))" />
        <span v-if="!isOpen(openComment, index) && review.comment.length > 350" class="review__all" @click="toggleReviews(openComment, index)">
          Читать полностью
        </span>
        <template v-if="review.childs.length > 0">
          <a class="review-link" href="#" @click.prevent="toggleReviews(openChild, index)">{{ isOpen(openChild, index) ? "Скрыть комментарии" : "Показать комментарии" }}</a>

          <section v-if="isOpen(openChild, index)">
            <div v-for="(child, i) in review.childs" :key="i">
              <div class="review">
                <div>
                  <div class="review__user_name">
                    {{ child.name }}
                  </div>
                  <div class="review__user_status">
                    {{ !child.status ? "Покупатель" : "Модератор" }}
                  </div>
                </div>
                <div class="review__date">
                  {{ child.date }}
                </div>
              </div>
              <div v-html="child.comment" />
            </div>
          </section>
        </template>
      </div>
    </section>

    <div v-if="linkAll" class="review-add" @click="addPage">
      Больше отзывов
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import LogoInReview from '@/components/icons/LogoInReview.vue'
import RatingIcon from '@/components/icons/RatingIcon'

export default {
  components: {
    LogoInReview,
    RatingIcon
  },
  props: {
    id: {
      type: [Number, String],
      required: true
    },
    count: {
      type: Number,
      default: 0
    },
    items: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      openChild: [],
      openComment: [],
      quantityPerPage: 5,
      currentPage: 1
    }
  },
  computed: {
    ...mapState(['isMobile']),
    currentReviewCount () {
      return this.quantityPerPage * this.currentPage
    },
    linkAll () {
      return this.count > this.currentReviewCount
    },
    reviews () {
      return this.items.slice(0, this.currentReviewCount)
    }
  },
  created () {
    this.viewAll = false
  },
  methods: {
    isOpen (data, id) {
      return data.includes(id)
    },
    toggleReviews (data, id) {
      const index = data.indexOf(id)
      index !== -1 ? data.splice(index, 1) : data.push(id)
    },
    textReview (comment, full = false) {
      return !full && comment.length > 350
        ? comment
          .slice(0, 350)
          .slice(
            0,
            Math.max(comment.lastIndexOf(' '), comment.lastIndexOf(',') - 1)
          ) + '...'
        : comment
    },
    addPage () {
      ++this.currentPage
      if (this.items.length !== this.count) this.$emit('all-review')
    }
  }
}
</script>

<style scoped lang="scss">
.reviews {
  width: 100%;

  &__star-wrap {
    display: inline-flex;
    margin: 0 0 0 9px;
  }
}
.be-first {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: $myshop-black;
  display: flex;
  align-items: center;
  width: 100%;
  @media (max-width: $sm) {
    justify-content: space-between;
  }
}
.reviews-list {
  margin-bottom: 0.8em;
  margin-top: 0;
  .review {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:not(.myshop-review) {
      .review__title {
        &::before {
          content: attr(data-first-simbol);
          background: #f4f5f6;
          border-radius: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $myshop-black;
          width: 40px;
          height: 40px;
          margin-right: 12px;
          padding: 10px;
          text-align: center;
        }
      }
    }
    &__logo {
      margin-top: 8px;
      display: flex;
    }
    &__date {
      font-size: 13px;
      line-height: 20px;
      font-weight: normal;
      color: #55646d;
    }
    &__user_name {
      flex: calc(100% - 52px);
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      align-items: center;
    }
    &__title {
      color: $myshop-black;
      margin-bottom: 12px;
      overflow-wrap: break-word;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .shop-logo {
        width: 40px;
        height: 40px;
        margin-right: 12px;
      }
    }
    &__text {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $myshop-black;
      overflow-wrap: break-word;
    }
  }

  .myshop-review {
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    margin-top: 12px;
    border-left: 2px solid #e5e7e9;
    border-radius: 2px;
  }
}
.review-link {
  display: block;
  font-size: 11px;
  text-decoration: none;
  padding: 0.8em 0;
  color: #0000ee;
}
.review-add {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #e5e7e9;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 12px;
  text-align: center;
  background: #ffffff;
  color: $myshop-black;
  &:hover {
    color: #783cbd;
    background: #ebe2f5;
  }
}
.review__all {
  color: $myshop-violet;
  cursor: pointer;
  font-weight: 600;
}

.review-label {
  margin-bottom: 12px;
}
</style>
