<template>
  <div class="sets">
    <span v-if="title" class="title">{{ title }}:</span>
    <span>
      <div v-for="a of sets" :key="a.href">
        <nuxt-link v-if="a.href" :to="a.href" v-html="a.value || 'n/a'" />
        <span v-else v-html="a.value" />
      </div>
      <div v-if="setsTooMany">
        <span v-if="!showAll" class="see-more" @click="showAll = !showAll">показать все ({{ items.length }})</span>
        <span v-else class="see-more" @click="showAll = !showAll">скрыть</span>
      </div>
    </span>
  </div>
</template>

<script>

const MAX_PREVIEW = 3

export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      showAll: false
    }
  },
  computed: {
    sets () {
      const s = this.items && this.items.length ? this.items : []
      return this.showAll ? s : s.slice(0, MAX_PREVIEW)
    },
    setsTooMany () {
      return (this.items || []).length > MAX_PREVIEW
    }
  }
}
</script>
<style lang="scss" scoped>

.sets {
  display: flex;
}

.title {
  white-space: nowrap;
  margin-right: 3px;
}

.see-more {
  display: inline-block;
background: #FAFAFA;
padding: 2px 12px;
border: 1px solid #E5E7E9;
box-sizing: border-box;
border-radius: 8px;  cursor: pointer;
font-weight: 600;
font-size: 12px;
line-height: 24px;
margin-top: 8px;
  &:first-letter{
    text-transform: uppercase;
  }
  &:hover{
    color: #783CBD;
    background: #EBE2F5;
  }
}

</style>
