<template>
  <div class="save-share-buttons">
    <button
      v-if="inSave"
      type="button"
      class="btn btn-saved"
      :disabled="ajaxInProgress"
      @click.stop="wishlistDeleteClicked({ curProduct: curProduct, event: $event })"
    >
      <img src="/_all/my/wishlist2.svg">
    </button>
    <button
      v-if="!inSave"
      type="button"
      class="btn btn-save"
      :disabled="ajaxInProgress"
      @click.prevent="cartSaveClicked({ curProduct, event: $event })"
    >
      <img width="21" height="18" src="/_all/my/wishlist0.svg">
    </button>
    <share-button v-if="isShareButton" :title="curProduct.title" :text="curProduct.description" :image="curProduct.images ? curProduct.images[0].original.href : ''" placement="top-start">
      <button type="button" class="btn btn-share">
        <img width="18" height="18" src="/_all/my/share.svg">
      </button>
    </share-button>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import ShareButton from '@/components/ui/ShareButton'

export default {
  components: {
    ShareButton
  },
  computed: {
    ...mapState(['curProduct', 'cart', 'ajaxInProgress']),
    inSave () {
      return this.cart.saveObj[this.curProduct.product_id] || false
    },
    isShareButton () {
      return !this.$store.state.is_app_mobile && this.curProduct.title
    }
  },
  methods: {
    ...mapActions([
      'cartSaveClicked',
      'wishlistDeleteClicked'
    ])
  }
}
</script>
<style scoped lang="scss">
// Common CSS
.btn {
  color: $myshop-black;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  align-items: center;
  border: 1px solid #dfe2e4;
  border-radius: 8px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-buy {
  color: #ffffff !important;
  background-color: #ff8300;
  border: none;
  flex-grow: 1;
  white-space: nowrap;
  &:hover {
    opacity: 0.9;
  }
}

.btn-save {
  background: #ffffff;
  margin-left: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-saved {
  background: rgba(120, 60, 189, 0.9);
  backdrop-filter: blur(250px);
  border: 1px solid rgba(120, 60, 189, 1);
  margin-left: 5px;
}

.btn-incart {
  color: $myshop-orange !important;
  background: #ffffff;
  border: 1px solid $myshop-orange;
  box-shadow: inset 0 0 5px rgba(255, 131, 0, 0.45);
  backdrop-filter: blur(250px);
  flex-grow: 1;
  &:hover {
    opacity: 0.9;
  }
}
// Common CSS

.save-share-buttons {
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 930px) {
    margin-bottom: 8px;
  }
  @media screen and (max-width: $tablet-width - 1px) {
    position: absolute;
  }
}
.btn-share {
  display: flex;
  align-items: center;
  border-radius: 8px;
  flex-grow: 0;
  margin-left: 10px;
  padding: 10px 14px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #ebe2f5;
  box-sizing: border-box;
  &:hover {
    background: #ebe2f5;
  }
}
.btn-save {
  @extend .btn-share;
  flex-grow: 0;
  margin: 0 0 0 8px;
  @media (min-width: $tablet-width) {
    margin: 0;
  }
  background: #ffffff;
  border: 1px solid #ebe2f5;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  &:hover {
    background: #ebe2f5;
  }

}
.btn-saved {
  @extend .btn-share;
  flex-grow: 0;
  margin: 0 0 0 8px;
  @media screen and (min-device-width: 1024px) {
    margin-left: 0;
  }
  padding: 10px 14px;
  border: none;
  background: #ffffff;
  border: 1px solid #ebe2f5;
  box-sizing: border-box;
  height: 48px;
  width: 48px;
}
@media screen and (min-device-width: $tablet-width) and (max-device-width: 1024px) {
  .btn-saved {
    margin-left: 0;
  }
}
</style>

<style>
.tooltip.popover.vue-popover-theme.open {
  z-index: 51;
}
.tooltip-inner {
  padding-bottom: 6px;
}
.tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  height: 6px;
  width: 12px;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: white;
  z-index: 1;
}
</style>
