<template>
  <div class="delivery-m">
    <notification-delivery v-model="notification" class="delivery-m__notifcation" :class="{'delivery-m__notifcation_active' : notification}" />

    <modal-popup
      modal-id="delivery"
      modal-title="Выбор населённого пункта"
      :css-style="style"
      header
      class="delivery-m__popup"
    >
      <autocomplete
        v-if="modalName === 'delivery'"
        tag_ref="delivery"
        api="/cgi-bin/ajax/address.pl"
        :query="{ q: 'locality', u: 1, region_id_context: regionId }"
        :default-options="acDefaultOptions"
        :hide-icon="true"
        placeholder="Населённый пункт"
        :is-label="true"
        autofocus
        blurfocus
        checked
        @search-input="clickPoint"
      />
    </modal-popup>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import NotificationDelivery from './NotificationDelivery'
import ModalPopup from '@/components/modal/ModalPopup'
import Autocomplete from '@/components/ui/Autocomplete'
import { acDefaultOptions } from '@/globals'

export default {
  name: 'ModalDelivery',
  components: {
    ModalPopup,
    NotificationDelivery,
    Autocomplete
  },
  props: {
    noStyle: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      cssStyle: {
        top: 0,
        left: 0,
        transform: 'translateX(0) translateY(0)',
        textAlign: 'left',
        width: '395px',
        height: '100vh'
      },
      notification: false,
      acDefaultOptions
    }
  },
  computed: {
    ...mapState('modals', { modalName: 'name' }),
    addressPointName () {
      return this.$store.getters["application/addressPoint"]?.longname || ''
    },
    regionId () {
      return this.$store.getters["application/addressPoint"]?.region_id
    },
    style () {
      return this.noStyle ? {} : this.cssStyle
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    setMyCookie (guid) {
      this.$api.setDeliveryPoints(guid)
        .then(({ data }) => {
          if (data.status === 'success') {
            this.$emit('region-changed')
          }
        })
    },
    clickPoint (item) {
      if (item.select && item.select.value !== this.addressPointName) {
        this.$store.commit('application/setAddressPoint', {
          guid: item.select.ao_guid,
          longname: item.select.value,
          region_id: item.select.region_id
        })
        this.setMyCookie(item.select.ao_guid)
        this.toggleModal({ name: null })
        this.notification = true
      }
    }
  }
}
</script>

<style scoped lang="scss">
.delivery-m ::v-deep .md-content {
  height: 100vh;
  border-radius: 0;
}

.delivery-m {
  &__popup {
    ::v-deep .md-header {
      padding: 32px 20px 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      border: none;
      height:auto;
    }
    @media screen and (max-width: $sm) {
      ::v-deep .icon__block {
        white-space: initial;
        max-width: 80%;
      }
    }
  }
  ::v-deep .autocomplete input{
    width:100%;
    border-radius: 8px ;
    border: 1px solid #E5E7E9;
  }
  ::v-deep .md-close  {
    width: 36.8px;
    height: 36.8px;
    top: 33px;
    right: 12px;
    @media screen and (max-width: $sm) {
      top: 30px;
    }

    svg {
      padding:12px;
    }

  }
  ::v-deep .clear__search{
    right:20px;
    transform: translateY(0); // обнулим значение чтобы крестик компонента не уезжал вниз
    top: calc(50% - 16px/2);
    &:hover {
      transform: translateY(0) rotate(360deg); // сделаем анимацию прокрутки
    }
  }
  ::v-deep .md-body {
      padding: 6px 1rem 1rem;
      height: 100%;
  }

  &__notifcation{
    top:-68px !important; // перебили стиль компонента
    &_active{
      top:0 !important; // перебили стиль компонента
      box-shadow: 0px 5px 3px rgba(42, 61, 72, 0.04), 0px 8px 5px rgba(42, 61, 72, 0.08);
    }
  }
}
</style>
