<template>
  <div class="notification" :class="{ 'notification__visible': isVisible }">
    <div class="notification__icon">
      <icon-geo />
    </div>
    <div class="notification__desc">
      <div class="notification__title">Ваш населённый пункт:</div>
      <div class="notification__adds">{{ addressPointName }}</div>
    </div>
    <div class="notification-close" @click="$emit('input', false)">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2559 1.92259C15.5814 1.59715 15.5814 1.06951 15.2559 0.744078C14.9305 0.418641 14.4028 0.418641 14.0774 0.744078L8 6.82149L1.92259 0.744078C1.59715 0.418641 1.06952 0.418641 0.744079 0.744078C0.418642 1.06951 0.418642 1.59715 0.744079 1.92259L6.82149 8L0.744078 14.0774C0.418641 14.4028 0.418641 14.9305 0.744078 15.2559C1.06951 15.5814 1.59715 15.5814 1.92259 15.2559L8 9.17851L14.0774 15.2559C14.4028 15.5814 14.9305 15.5814 15.2559 15.2559C15.5814 14.9305 15.5814 14.4028 15.2559 14.0774L9.17851 8L15.2559 1.92259Z" fill="#2A3D48" />
      </svg>
    </div>
  </div>
</template>

<script>
import IconGeo from '@/components/icons/IconGeo'

export default {
  components: {
    IconGeo
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isVisible () {
      return this.value
    },
    addressPointName () {
      return this.$store.getters["application/addressPoint"]?.longname || ''
    }
  },
  watch: {
    value (val) {
      if (!val) return
      setTimeout(() => {
        this.$emit('input', false)
      }, 3000)
    }
  }
}
</script>

<style scoped lang="scss">
  .notification {
    width: 100vw;
    height: 68px;
    background: #FFF;
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    z-index: 30000;
    padding: 12px 24px;
    text-align: left;
    transition: all 0.3s;

    @media (max-width: $tablet-width) {
      padding: 12px;
    }

    &-close {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 4px;
      right: 8px;
      cursor: pointer;
      transition: all 0.3s;
      @media (max-width: $tablet-width) {
        right: -5px;
      }
    }

    &-close svg {
      width: 100%;
      height: 100%;
      display: block;
      padding: 23.6px;
    }

    &-close:hover {
      transform: rotate(360deg);
    }

    &__visible {
      top: 0;
    }

    &__icon {
      width: 46px;
      height: 46px;
      background: #FAFAFA;
      overflow: hidden;
      position: relative;
      border-radius: 8px;
      float: left;
      margin-right: 12px;

      & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: inline-block;
        width: 16px;
        height: 16px;
      }
    }

    &__adds {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 40px;
      color: #2A3D48;
    }

    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #55646D;
    }
  }
</style>
