<template>
  <div
    class="footer"
    :style="{ 'margin-bottom': isFloatBtn + 'px' }"
    data-o="footer"
  >
    <div class="wrap">
      <div class="footer__logo">
        <nuxt-link :to="{ path: '/' }"><LogoType /></nuxt-link>
      </div>

      <div class="footer__block">
        <div class="block__item" :class="{ 'open': active === 1 }">
          <div class="block__header" @click="toggleList(1)">О компании</div>

          <ul v-show="!isMobile || active === 1" class="ul">
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/23.html">Информация о продавце</nuxt-link></li>
            <li class="li" @click="onClickInfo"><a class="link" href="/help/privacy.doc" target="_blank">Политика конфиденциальности</a></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/20.html">Как с нами связаться</nuxt-link></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/shop/article/11029.html">Вакансии</nuxt-link></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/1.html">Прочие вопросы</nuxt-link></li>
          </ul>
        </div>

        <div class="block__item" :class="{ 'open': active === 2 }">
          <div class="block__header" @click="toggleList(2)">Покупателям</div>

          <ul v-show="!isMobile || active === 2" class="ul">
            <li class="li" @click="onClickInfo"><a class="link" href="/help/offer.doc" target="_blank">Публичная оферта для физ. лиц</a></li>
            <li class="li" @click="onClickInfo"><a class="link" href="/help/offer_legal.doc" target="_blank">Публичная оферта для юр. лиц</a></li>
            <li class="li" @click="onClickInfo"><a class="link" href="/help/sale_rules.doc" target="_blank">Правила продажи</a></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/3.html">Оформление&nbsp;заказа</nuxt-link></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/54.html">Возврат товаров</nuxt-link></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/24.html">Скидки</nuxt-link></li>
          </ul>
        </div>

        <div class="block__item" :class="{ 'open': active === 3 }">
          <div class="block__header" @click="toggleList(3)">Доставка и оплата</div>

          <ul v-show="!isMobile || active === 3" class="ul">
            <li class="li" @click="onClickInfo"><nuxt-link class="link" :to="{ name: 'helper-dlv' }">Пункты выдачи заказов и курьерские службы</nuxt-link></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/26.html">Способы оплаты</nuxt-link></li>
          </ul>
        </div>

        <div class="block__item" :class="{ 'open': active === 4 }">
          <div class="block__header" @click="toggleList(4)">Сотрудничество</div>

          <ul v-show="!isMobile || active === 4" class="ul">
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/37.html">Предложение сотрудничества</nuxt-link></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/help/74.html">Партнерская программа</nuxt-link></li>
            <li class="li" @click="onClickInfo"><nuxt-link class="link" to="/shop/article/13246.html">Партнёры</nuxt-link></li>
          </ul>
        </div>
      </div>

      <div class="footer__tel">
        <div class="icon__block">
          <icon-phone class="icon" />

          <span>
            <a class="link" href="tel:88001005338" @click="onClickPhone">8 (800) 100-53-38</a> • <a class="link" href="tel:84956385338" @click="onClickPhoneMsc">8 (495) 638-53-38</a>
          </span>
        </div>
      </div>

      <div class="footer__delivery">
        <div class="icon__block" @click="$emit('delivery-open')"><IconGeo class="icon" /> <span>{{ deliveryPoint }}</span></div>
      </div>

      <div class="footer__stopcovid">
        <a class="link icon__block" href="https://ecomvscovid.ru" target="_blank">
          <span>Зона безопасного сервиса</span>

          <img class="icon" width="24" height="24" src="@/assets/images/stopcovid.svg">
        </a>
      </div>

      <div class="footer__social icon__block">
        <a class="link" href="https://vk.com/my_shop_ru" target="_blank"><IconVK /></a>
        <a class="link" href="https://www.facebook.com/my.shop.ru" target="_blank"><IconFacebook /></a>
        <a class="link" href="https://www.instagram.com/my_shop_ru/" target="_blank"><IconInstagram /></a>
      </div>

      <div class="footer__payment">
        <PaymentIcons :items="payments" />
      </div>

      <div class="footer__copyright">Все права защищены &copy;&nbsp;2002-2022 My-shop.ru&nbsp;<sup class="reg">&reg;</sup>, ООО &laquo;ТРЦ&raquo;</div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import LogoType from '@/components/icons/LogoType'
import IconPhone from '@/components/icons/IconPhone'
import IconGeo from '@/components/icons/IconGeo'
import IconFacebook from '@/components/icons/IconFacebook'
import IconVK from '@/components/icons/IconVK'
import IconInstagram from '@/components/icons/IconInstagram'
import PaymentIcons from '@/components/icons/PaymentIcons'

export default {
  name: 'AppFooter',
  components: {
    LogoType,
    IconPhone,
    IconGeo,
    IconFacebook,
    IconVK,
    IconInstagram,
    PaymentIcons
  },
  data () {
    return {
      active: null,
      payments: [
        {
          icon: 'mobile',
          link: '/help/26.html#p7',
          title: 'МТС, Билайн, Мегафон, Tele2'
        },
        {
          icon: 'yoomoney',
          link: '/help/26.html#p2',
          title: 'ЮKassa'
        },
        {
          icon: 'mir',
          link: '/help/26.html#p6',
          title: 'МИР'
        },
        {
          icon: 'visa',
          link: '/help/26.html#p6',
          title: 'VISA'
        },
        {
          icon: 'maestro',
          link: '/help/26.html#p6',
          title: 'MasterCard'
        },
        {
          icon: 'mastercard',
          link: '/help/26.html#p6',
          title: 'MasterCard'
        }
      ]
    }
  },
  computed: {
    ...mapState(['isMobile', 'isFloatBtn']),
    deliveryPoint () {
      return this.$store.getters["application/addressPoint"]?.longname || ''
    }
  },
  methods: {
    onClickPhoneMsc () {
      this.$gtmTrack.namedEvent('footer_phone_msk')
    },
    onClickPhone () {
      this.$gtmTrack.namedEvent('footer_phone')
    },
    onClickInfo () {
      this.$gtmTrack.namedEvent('footer_info')
    },
    toggleList (item) {
      if (this.isMobile) {
        this.active = this.active === item ? null : item
      }
    }
  }
}
</script>

<style scoped lang="scss">
.footer {
  height: auto;
  display: block;
  background: #fff;
  border-top: 1px solid #e5e7e9;
  color: $myshop-black;
  font-size: 14px;
  line-height: 20px;
  padding-top: 24px;

  @include mq($md) {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

.wrap {
  display: grid;
  grid-template-areas:
    "logo logo"
    "block block"
    "tel tel"
    "delivery stopcovid"
    "social social"
    "payment payment"
    "copyright copyright";
  grid-gap: 24px;

  @include mq($sm) {
    grid-template-areas:
      "logo logo"
      "block block"
      "tel tel"
      "delivery stopcovid"
      "social payment"
      "copyright copyright";
  }

  @include mq($md) {
    grid-template-areas:
      "block block block block block"
      "logo tel tel tel stopcovid"
      "copyright social social social payment";
    grid-column-gap: 12px;
    grid-row-gap: 40px;
  }
}

.footer__logo {
  grid-area: logo;
  display: flex;

  .icon {
    @include mq($sm) {
      height: 24px;
    }
  }
}

.footer__block {
  grid-area: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  @include mq($md) {
    column-gap: 20px;
  }

  .ul {
    padding: 0;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;

    @include mq($md) {
      margin: 0;
      display: block;
    }

    & .li {
      margin-bottom: 15px;

      @include mq($md) {
        margin-bottom: 8px;
      }

      & > .link {
        text-decoration: none;
        color: $myshop-black;
        transition: color 0.3s;

        &:hover {
          color: $myshop-violet;
        }
      }
    }
  }

  @include mq($md) {
    flex-direction: row;
  }
}

.footer__tel {
  grid-area: tel;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  @include mq($md) {
    justify-content: center;
  }

  .icon__block {
    transition: color 0.3s;

    &:hover {
      color: $myshop-violet;

      & .link {
        color: $myshop-violet;
      }
    }
  }

  .icon {
    margin-right: 10px;
  }

  .link {
    color: $myshop-black;
    transition: color 0.3s;
  }
}

.footer__delivery {
  grid-area: delivery;
  display: flex;
  cursor: pointer;

  @include mq($md) {
    display: none;
  }

  .icon {
    margin-right: 10px;
  }
}

.footer__stopcovid {
  grid-area: stopcovid;
  display: flex;
  justify-content: flex-end;
  text-align: right;

  .link {
    color: $myshop-gray;
    transition: color 0.3s;

    &:hover {
      color: $myshop-violet;

      .icon {
        color: $myshop-violet;
      }
    }
  }

  .icon {
    color: #aab1b6;
    min-width: 24px;
    margin-left: 8px;
    transition: color 0.3s;
  }
}

.footer__social {
  grid-area: social;
  height: 24px;

  @include mq($md) {
    justify-content: center;
    align-self: center;
  }

  .link {
    height: 24px;
    transition: opacity 0.3s;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

.footer__payment {
  grid-area: payment;
  display: flex;

  @include mq($sm) {
    justify-content: flex-end;
  }
}

.footer__copyright {
  grid-area: copyright;
  font-size: 13px;
  line-height: 18px;
  color: $myshop-gray;
}

.block__item {
  width: 100%;
  border-bottom: 1px solid #e5e7e9;

  @include mq($md) {
    width: 25%;
    border-bottom: 0 none;
  }
}

.icon__block {
  display: inline-flex;
  align-items: center;
}

.block__header {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 15px;

  @include mq($md) {
    margin-bottom: 8px;
  }

  .block__item:first-child & {
    margin-top: 8px;

    @include mq($md) {
      margin-top: 0;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 6px;
    right: 8px;
    width: 8px;
    height: 8px;
    border-top: 2px solid $myshop-black;
    border-right: 2px solid $myshop-black;
    transform: rotate(135deg); // close
  }

  @include mq($md) {
    cursor: default;
    margin-top: 0;

    &:after {
      content: none;
    }
  }
}
.open .block__header {
  &:after {
    top: 10px;
    transform: rotate(-45deg); // open
  }
}
</style>
