<script>
export default {
  name: 'AppFooterOrder'
}
</script>

<template>
  <footer class="footer">
    <div class="order-container content">
      <div class="copy">
        Все права защищены &copy;&nbsp;2002-2022 My-shop.ru <sup>&reg;</sup>, ООО &laquo;ТРЦ&raquo;
      </div>

      <div class="menu">
        <p class="item">
          <a
            class="footer__link"
            href="/help/offer.doc"
            target="_blank"
          >Публичная оферта для физ. лиц</a>
        </p>
        <p class="item">
          <a
            class="footer__link"
            href="/help/offer_legal.doc"
            target="_blank"
          >Публичная оферта для&nbsp;юр. лиц</a>
        </p>
        <p class="item">
          <a
            class="footer__link"
            href="/help/sale_rules.doc"
            target="_blank"
          >Правила продажи</a>
        </p>
        <p class="item">
          <a
            class="footer__link"
            href="/help/23.html"
            target="_blank"
          >Информация о&nbsp;продавце</a>
        </p>
        <p class="item">
          <a
            class="footer__link"
            href="/help/privacy.doc"
            target="_blank"
          >Политика конфиденциальности</a>
        </p>
      </div>

      <div class="stop">
        <p class="item">
          <a
            class="footer__link"
            href="https://ecomvscovid.ru/"
            target="_blank"
          >Зона безопасного сервиса</a>
        </p>

        <img class="icon" src="@/assets/images/stopcovid.svg">
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  flex-shrink: 0;
  background-color: #E5E7E9;
  color: $myshop-gray;
  font-size: 14px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  .icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  .copy {
    grid-area: copy;
    // margin-bottom: 12px;
  }

  .menu {
    grid-area: menu;

    @include mq($lg) {
      display: flex;
      flex-direction: row;
    }
  }

  .stop {
    grid-area: stop;
    display: flex;
    align-items: center;

    @include mq($md) {
      margin-top: 4px;
      justify-content: flex-end;
    }
  }

  .item {
    @include mq($lg) {
      margin-top: 0;
      margin-bottom: 0;

      &:not(:last-of-type) {
        margin-right: 24px;
      }
    }
  }
}

.content {
  display: grid;
  grid-template-areas:
    "copy"
    "menu"
    "stop";
  grid-gap: 12px;
  justify-content: space-between;
  align-items: flex-start;

  @include mq($md) {
    grid-template-areas:
      "copy stop"
      "menu stop";
  }

  @include mq($lg) {
    grid-template-areas:
      "copy stop"
      "menu menu";
  }
}

.footer__link {
  color: $myshop-gray;
  text-decoration: none;
}
</style>
