<template>
  <div class="banner-slider">
    <SlideShow
      v-show="windowWidth > tabletWidth || !$isClient"
      :settings="settings"
      :window-width="windowWidth"
      :items="items.value"
      :height-slider="200"
      @slideshow-next-slide="onClickNavigation('next')"
      @slideshow-prev-slide="onClickNavigation('prev')"
    >
      <SlideShowSlide v-for="item in items.value" :key="item.id" ref="slide" >
        <nuxt-link :to="item.url" rel="nofollow" @click="onClickBanner">
          <div :style="`background-image:url(https:${item.img});`" :loading="'lazy'" class="banner-slider__image"></div>
          <img style="display:none;" :src="`https:${item.img}`"/>
        </nuxt-link>
      </SlideShowSlide>
    </SlideShow>
    <div v-show="windowWidth < tabletWidth && $isClient" class="banner-slider__scroll">
      <div
        v-for="item in items.value" :key="item.id"
        class="banner-slider__item-scroll"
      >
        <nuxt-link :to="item.url" rel="nofollow" @click="onClickBanner">
          <img  :src="`https:${item.img}`" :loading="'lazy'" class="banner-slider__image">
        </nuxt-link>
      </div>
    </div>
  </div>
</template>
<script>
import {mapState} from 'vuex'
import {SlideShow, SlideShowSlide} from "@/components/common/SlideShow"


export default {
  name: 'BannerSlider',
  components: {
    SlideShow, 
    SlideShowSlide
  },
  props: {
    items: {
      type: Object,
      default: () => {
        return { width: 0, value: [], delay: 0 }
      }
    },
    height: {
      type: [String, Number],
      default: 190
    },
    gaEvent: {
      type: String,
      default: ''
    }
  },
  data(){
    return {
      sliderHeightCalc: null
    }
  },
  computed:{
    ...mapState(['windowWidth']),
    settings(){ 
      return {
        itemsToShow: 1,
        itemsToSlide: 1
      }
    },
    tabletWidth () {
      return 768
    }
  },
  methods: {
    onClickNavigation (type) {
      this.$gtmTrack.namedEvent(`${this.gaEvent}_${type}`)
    },
    onClickBanner () {
      this.gaEvent && this.$gtmTrack.namedEvent(this.gaEvent)
    }
  }
}
</script>

<style lang="scss" scoped>
.banner-slider {
  width: 100%;
  margin: 30px 0 50px;
  position: relative;
  ::v-deep {
    .slider {
      padding: 0 60px;
    }
    .slider_wrap {
        overflow: hidden;
    }
    .slideshow__slide-wrapper{
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
    }
    .slider__slide-outer,
    .slideshow__slide,
    .slideshow__slide-inner {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 748px) {
    margin: 16px 0 24px;
  }

  &__item {
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
    outline: none;

    @media (max-width: 600px) {
      height: 150px !important;
    }
  }
  a {
    width: 100%;
    height: 100%;
  }
  &__image {
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &__scroll {
    display: none;
    overflow: scroll;
    width: 100%;
    display: flex;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
    &_mounted{
      display: initial;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
  }

  &__item-scroll {
    margin-right: 8px;
    min-width: 260px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>