<template>
  <div
    class="product-card"
    :class="{
      guide: item.href && isGuide,
      'product-card_is-popular': isPopular,
    }"
    @click="onClickCard"
  >
    <nuxt-link v-if="item.href && isGuide" :to="item.href">
      <div class="guide__image">
        <Img width="230" height="230" :preview="{ href: [item.image.href], alt: item.title }" />
      </div>

      <div class="guide__block">
        <div class="guide__title" v-html="item.title" />
        <div class="guide__description" v-html="item.description" />
      </div>
    </nuxt-link>

    <nuxt-link v-else-if="item.href && isPopular" :to="item.href">
      <div class="product-card__image">
        <div class="product-card__image-img">
          <Img :preview="{ href: [item.image.href], alt: item.image.alt }" />
        </div>

        <div class="product-card__text">
          <div
            v-if="item.description"
            class="title"
            v-html="item.description"
          />
          <div class="description" v-html="item.title" />
        </div>
      </div>
    </nuxt-link>

    <template v-else>
      <div class="product-card__image">
        <template v-if="item.promos && item.promos.length > 0">
          <label-discount
            v-for="(itemPromo, idx) in item.promos"
            :key="itemPromo.id"
            class="label-discount"
            :promo="itemPromo"
            :product-id="item.product_id"
            :idx="idx"
            mini
          />
        </template>

        <nuxt-link :to="item.href ? item.href : { name: 'prod-view', params: { id: item.product_id } }">
          <Img width="150" height="auto" :preview="item.image.preview" />
        </nuxt-link>
      </div>
      <div v-show="item.cost" class="cost">
        <span class="cur">{{ item.cost | localeString }} <span>₽</span></span>
        <span v-show="item.old_cost" class="old"
          >{{ item.old_cost | localeString }} <span>₽</span></span
        >
      </div>
      <div class="product-card__title">
        <span v-if="item.title_prefix" v-html="item.title_prefix" />
        <nuxt-link :to="item.href ? item.href : { name: 'prod-view', params: { id: item.product_id } }" v-html="item.title" />
        <span v-if="item.manufacture_date" v-html="item.manufacture_date" />
      </div>
      <template v-if="item.ga_item">
        <nuxt-link
          v-if="item.subtitle_1"
          :to="item.subtitle_1_href"
          class="brand"
          v-html="item.subtitle_1"
        />
        <nuxt-link
          v-else-if="item.producer.href"
          :to="item.producer.href"
          class="brand"
          v-html="item.producer.title"
        />
        <div v-else class="brand" v-html="item.ga_item.brand" />
      </template>
      <div
        v-if="item.description"
        class="description"
        v-html="item.description"
      />

      <div v-if="item.estimate_date_to_sale" class="product-card__btns">
        <div class="soon">Скоро!</div>
      </div>

      <div v-else class="product-card__btns">
        <button
          v-if="Number(cart.cartObj[item.product_id]) === 1"
          type="button"
          class="btn btn-incart"
          @click.stop="jumpCart"
        >
          В корзине
        </button>
        <button
          v-else
          type="button"
          class="btn btn-buy"
          @click.stop="buyClicked(item, indexElem, $event)"
        >
          <Loader v-if="pendingReq" class="product-card__btns-loader" /><span v-else>В корзину</span>
        </button>

        <button
          v-if="cart.saveObj[item.product_id]"
          type="button"
          class="btn btn-saved"
          @click.stop="
            wishlistDeleteClicked({ curProduct: item, event: $event })
          "
        >
          <img src="/_all/my/wishlist2.svg" width="20" height="20">
        </button>
        <button
          v-else
          type="button"
          class="btn btn-save"
          @click.stop="saveClicked(item, indexElem, $event)"
        >
          <img src="/_all/my/wishlist0.svg" width="20" height="20">
        </button>
      </div>
    </template>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import LabelDiscount from './LabelDiscount'
import Loader from '@/components/ui/Loader'

export default {
  name: 'CarouselProductCard',
  components: {
    LabelDiscount,
    Loader
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    isPopular: {
      type: Boolean,
      default: false
    },
    isGuide: {
      type: Boolean,
      default: false
    },
    block: {
      type: Object,
      default: () => {}
    },
    topTitle: {
      type: String,
      default: ''
    },
    indexElem: {
      type: [Number, String],
      default: ''
    },
    listTitle: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      pendingReq: false
    }
  },
  computed: {
    ...mapState(['windowWidth', 'cart'])
  },
  methods: {
    ...mapActions([
      'cartBuyClicked',
      'cartSaveClicked',
      'cartDeleteClicked',
      'wishlistDeleteClicked',
      'orderClicked'
    ]),
    onClickCard () {
      if (this.isGuide) {
        this.$gtmTrack.namedEvent('guide')
      } else {
        this.$gtmTrack.namedEvent('recommends_good')
      }
    },
    jumpCart () {
      this.$router.push({ path: '/my/cart' })
    },
    async buyClicked (item, index, event) {
      this.pendingReq = true
      await this.cartBuyClicked({
        curProduct: item,
        list: this.listTitle || this.topTitle + '/' + this.block.title,
        index,
        event
      })
      this.pendingReq = false
      this.$emit('buyclicked', item)
      this.$gtmTrack.namedEvent('recommends_cart_btn')
    },
    async saveClicked (item, index, event) {
      await this.cartSaveClicked({ curProduct: item, event, index })
      this.$emit('saveclicked', item)
      this.$gtmTrack.namedEvent('recommends_like_btn')
    }
  }
}
</script>

<style scoped lang="scss">
$desktop-width: 1140px;
$myshop-black: #2a3d48;
$myshop-violet: #783cbd;
$tablet-width: 768px;

.product-card {
  width: 160px;
  height: 302px;
  background: #ffffff;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  outline: none;
  margin: 0;
  &_is-popular {
    height: auto;

    &:hover {
      .product-card__image-img {
        opacity: 0.9;
      }
      .title {
        color: #783cbd;
      }
      .description {
        color: #783cbd;
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 116px;
    height: 242px;
    justify-content: flex-start;
  }

  &__image {
    a {
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      border-radius: 20px;
      @media (max-width: $tablet-width) {
        height: 116px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
  }

  &__title {
    position: relative;
    height: 54px;
    overflow: hidden;
    z-index: 10;
    word-break: break-word;
    @media (max-width: $tablet-width) {
      height: 42px;
      overflow: initial;
    }

    a {
      position: absolute;
      display: block;
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: $myshop-black;
      background: #ffffff;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      height: 54px;
      @include text-clamp(3, 18px);
      @media (max-width: $tablet-width) {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        height: 42px;
        min-height: 42px;
        letter-spacing: 0.005em;
        @include text-clamp(3, 14px);
      }
    }

    &:hover {
      a {
        color: $myshop-violet;
      }

      &:before {
        background-image: none;
      }
    }
  }

  &__btns {
    height: 32px;
    display: flex;
    border: 0;
  }

  &__text {
    padding: 8px 0 0;
  }

  &__image-img {
    transition: opacity 0.2s;
  }
  &__btns-loader {
    // nuxt сначала применяет стили компонента а потом уже стили-обертки поэтому !important
    position: relative !important;
    background: transparent !important;
    ::v-deep {
      &.loader{
        position: relative;
      }
      .loader-dot {
        background: #fff;
        margin: 2px;
        width: 8px;
        height: 8px;
      }
    }
  }
}

.guide {
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: flex-end;
  position: relative;
  border-radius: 0;
  a {
    color: #2a3d48;
  }
}
.guide__block {
  z-index: 1;
  position: relative;
}
.guide__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  max-height:54px;
  // @include text-clamp-hacky(3, 18px);
  &:hover {
    color: $myshop-violet
  }
}
.guide__image {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 0 6px;
  @media screen and (max-width: $tablet-width) {
    height: 160px;
  }
}
.guide__image img {
  width: 100%;
  height: auto;
}
.guide__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 2px;
  // @include text-clamp-hacky(1, 22px);
  &:hover {
    color: $myshop-violet
  }
}

.brand {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.2px;
  margin: 2px 0 6px;
  color: #5d5f61;
  @include text-clamp(1, 16px);
  @media (max-width: $tablet-width) {
    margin: 4px 0 8px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}

a.brand {
  color: #5d5f61;
  &:hover {
    color: $myshop-violet;
  }
}

.btn {
  height: 32px;
  border: 0;
  @media (max-width: $tablet-width) {
    width: 84px;
    height:28px;
  }

  &.btn-buy {
    flex-grow: 1;
    color: #ffffff !important;
    background: #ff8300;
    border: none;
    flex-grow: 1;
    white-space: nowrap;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.9;
    }
    @media (max-width: $tablet-width) {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &-save,
  &-saved {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background: #ffffff;
    margin-left: 5px;
    box-sizing: border-box;
    margin-left: 4px;
    transition: all 0.3s;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s;
    @media (max-width: $tablet-width) {
      width: 28px;
      height: 28px;
    }

    img {
      width: 18px;
      height: 16px;
      @media (max-width: $tablet-width) {
        width: 16px;
        height: 14px;
      }

    }
  }

  &.btn-incart {
    flex-grow: 1;
    border: none;
    flex-grow: 1;
    white-space: nowrap;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    align-items: center;
    border: 1px solid #dfe2e4;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    color: #ff9839 !important;
    background: #fff;
    border: 1px solid #ff9839;
    flex-grow: 1;
    @media (max-width: $tablet-width) {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.soon {
  width: 100%;
  color: #24ae3c;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: center;
}

.title {
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  margin-bottom: 4px;
  color: #2a3d48;
  transition: opacity 0.2s;
}

.description {
  font-size: 14px;
  line-height: 18px;
  color: #2a3d48;
  hyphens: auto;
  word-break: break-word;
  @include text-clamp(2);
  transition: opacity 0.2s;
}

.cost {
  color: $myshop-black;
  white-space: nowrap;
  margin: 6px 0 2px 0;
  @media (max-width: $tablet-width) {
    margin: 8px 0 4px 0;
    max-height: 15px;
  }

  .cur {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-right: 5px;
    color: $myshop-black;
    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
    }

    span {
      color: #5d5f61;
      font-weight: normal;
    }
  }
  .old {
    position: relative;
    display: inline-block;
    color: #5d5f61;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-decoration-line: line-through;
    text-decoration-color: red;
    @media (max-width: $tablet-width) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
</style>
