<template>
  <div v-if="isViewBanner" class="cookie-banner">
    <div>Продолжая просмотр сайта, вы соглашаетесь с использованием файлов cookie и иных методов, средств и инструментов интернет-статистики, применяемых для повышения удобства использования сайта.</div>
    <div class="cookie-banner__buttons">
      <nuxt-link v-if="$route.path !== '/help/35.html'" to="/help/35.html" class="cookie-banner__btn">Подробнее</nuxt-link>
      <div class="cookie-banner__btn cookie-banner__btn__next" @click="setCookie">Продолжить</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CookieBanner',
  data () {
    return {
      isViewBanner: true
    }
  },
  mounted () {
    const [cookie] = document.cookie.split(';').filter(c => c.includes('configured_cookie_consents'))
    if (this.$store.state.is_app_mobile || cookie) this.isViewBanner = false
  },
  methods: {
    setCookie () {
      const expDate = new Date()
      expDate.setTime(expDate.getTime() + 365 * 24 * 60 * 60 * 1000)
      document.cookie = `configured_cookie_consents=true; expires=${expDate.toUTCString()}; path=/; domain=.my-shop.ru;`
      this.isViewBanner = false
    }
  }
}
</script>

<style scoped lang="scss">
.cookie-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: fixed;
  bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  background: #010100;
  z-index: 100;

  @media (max-width: 769px) {
    padding: 10px;
    flex-direction: column;
    bottom: 62px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;

    @media (max-width: 769px) {
      width: 100%;
      margin: 8px 0 0;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: 769px) {
      width: 100%;
    }

    &__next {
      margin-left: 8px;
      color: #010100;
      background: #FFFFFF;
    }
  }
}
</style>
