<template>
  <div class="within-pane" :data-o="lggrKey">
    <div v-if="block" class="within-pane__title">
      <template v-if="block.href">
        <h2>
          <nuxt-link :to="block.href" v-html="block.title" />
        </h2>

        <span @click="onClickMore">
          <nuxt-link class="within-pane__view" :to="block.href" />
        </span>
      </template>
      <h2 v-else-if="block.title" v-html="block.title" />
    </div>

    <div
      :class="{ card: isGuide }"
      class="within-pane__body"
      :data-sh="searchPage ? 'sh' : ''"
    >
      <div
        v-show="settings && $vssWidth > tabletWidth"
        ref="sliderWrap"
        class="slider-block"
        :data-a="JSON.stringify({ blocknum: index + 1 })"
      >
        <div :id="isGuide ? 'guige' : `recommends_${index + 1}`" ref="slider">
          <SlideShow
            :settings="settings"
            :window-width="windowWidth"
            :items="items"
            :use-custom-layout="true"
            :class="{ slider_popular: isPopular, slider_guide: isGuide }"
          >
            <SlideShowSlide
              v-for="(item, indexSlide) of items"
              :key="item.product_id || item.href"
            >
              <article
                :class="{
                  'slider__regular-card': !isPopular && !isGuide,
                  'slider__regular-card_guide': isGuide,
                  'slider__regular-card_popular': isPopular,
                }"
                class="slider__slide"
              >
                <div
                  v-if="isPopular"
                  :data-a="dataA(item, indexSlide)"
                  class="slider__slide-inner"
                >
                  <CarouselProductCard
                    :index-elem="indexSlide"
                    :list-title="listTitle"
                    :top-title="topTitle"
                    :block="block"
                    :item="item"
                    :is-popular="isPopular"
                    :is-guide="isGuide"
                    @buyclicked="$emit('buyclicked', $event)"
                    @saveclicked="$emit('saveclicked', $event)"
                  />
                </div>
                <div
                  v-else
                  :data-a="dataA(item, indexSlide)"
                  class="slider__slide-inner"
                  @click="onItemClick($event, item, item.title, index)"
                >
                  <CarouselProductCard
                    :index-elem="indexSlide"
                    :list-title="listTitle"
                    :top-title="topTitle"
                    :block="block"
                    :item="item"
                    :is-popular="isPopular"
                    :is-guide="isGuide"
                    @buyclicked="$emit('buyclicked', $event)"
                    @saveclicked="$emit('saveclicked', $event)"
                  />
                </div>
              </article>
            </SlideShowSlide>
          </SlideShow>
          <!-- </transition-group> -->
        </div>
      </div>
      <SlideShowScroll
        v-show="$vssWidth < tabletWidth"
        :data-a="dataA"
        :on-item-click="onItemClick"
        :items="items"
        :is-popular="isPopular"
        :is-guide="isGuide"
        :list-title="listTitle"
        :top-title="topTitle"
        :block="block"
        @buyclicked="$emit('buyclicked', $event)"
        @saveclicked="$emit('saveclicked', $event)"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import NuxtSSRScreenSize from '@/helpers/nuxt-ssr-screen-size'
import CarouselProductCard from '@/components/common/CarouselProductCard'
import { plural } from '@/helpers/util'
import SlideShowScroll from '@/components/common/SlideShowScroll'
import {SlideShow, SlideShowSlide} from "@/components/common/SlideShow"

export default {
  name: 'HorizontalCarouselSlider',
  components: {
    CarouselProductCard,
    SlideShowScroll,
    SlideShow, SlideShowSlide
  },
  mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
  props: {
    block: {
      type: Object,
      default: () => {}
    },
    topTitle: {
      type: String,
      default: null
    },
    listTitle: {
      type: String,
      default: null
    },
    lggrKey: {
      type: String,
      default: 'horizontal-carusel'
    },
    productListPage: {
      type: [String, Number],
      default: null
    },
    index: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      isHiddenBtnSliderPrev: false,
      isHiddenBtnSliderNext: false,
      slider: {
        itemsToShow: 7,
        breakpoints: {
          1920: {
            itemsToShow: 7,
            itemsToSlide: 7
          },
          1440: {
            itemsToShow: 7,
            itemsToSlide: 7
          },
          1280: {
            itemsToShow: 6,
            itemsToSlide: 6
          },
          1024: {
            itemsToShow: 5,
            itemsToSlide: 5
          },
          768: {
            itemsToShow: 4,
            itemsToSlide: 4
          }
        }
      },
      isCardSliderSetting: {
        itemsToShow: 7,
        breakpoints: {
          1920: {
            itemsToShow: 7,
            itemsToSlide: 7
          },
          1440: {
            itemsToShow: 7,
            itemsToSlide: 7
          },
          1280: {
            itemsToShow: 6,
            itemsToSlide: 6
          },
          1024: {
            itemsToShow: 5,
            itemsToSlide: 5
          },
          768: {
            itemsToShow: 4,
            itemsToSlide: 4
          }
        }
      },
      popularId: 12,
      isPopularSetting: {
        itemsToShow: 5,
        breakpoints: {
          1920: {
            itemsToShow: 7,
            itemsToSlide: 7
          },
          1440: {
            itemsToShow: 7,
            itemsToSlide: 7
          },
          1280: {
            itemsToShow: 6,
            itemsToSlide: 6
          },
          1024: {
            itemsToShow: 5,
            itemsToSlide: 5
          },
          768: {
            itemsToShow: 4,
            itemsToSlide: 4
          }
        }
      },
      timer: null
    }
  },
  computed: {
    settings () {
      if (this.isGuide) {
        return this.isCardSliderSetting
      } else if (this.isPopular) {
        return this.isPopularSetting
      } else {
        return this.slider
      }
    },
    isGuide () {
      return Number(this.getIdBlock) === 13
    },
    ...mapState(['windowWidth', 'isMobile']),
    items () {
      return this.block.products ? this.block.products : this.block.items
    },
    isPopular () {
      return this.getIdBlock === this.popularId
    },
    getIdBlock () {
      const type = this.block.type
      if (type === '1') {
        return 'n.' + type
      } else if (type === '2') {
        return 'b.' + type
      } else if (type === '0') {
        return this.block.id
      } else {
        return type
      }
    },
    searchPage () {
      return (
        this.$route.name === 'prod-list-search' ||
        this.$route.name === 'prod-list-search-mini'
      )
    },
    tabletWidth () {
      return 768
    }
  },
  methods: {
    onClickMore () {
      this.$gtmTrack.namedEvent('recommends_more')
    },
    slidePrev () {
      this.$gtmTrack.namedEvent('recommends_backward')
      this.$refs.slider.slidePrev()
    },
    slideNext () {
      this.$gtmTrack.namedEvent('recommends_forward')
      this.$refs.slider.slideNext()
    },
    /**
     * @description логика отображения след/пред кнопок
     */
    BtnsHandler () {
      if (this.$refs.slider.currentSlide === 0) {
        this.isHiddenBtnSliderPrev = true
      } else {
        this.isHiddenBtnSliderPrev = false
      }
      if (
        this.$refs.slider.slidesCount ===
        this.$refs.slider.currentSlide + this.$refs.slider.trimEnd
      ) {
        // кол-во вырезаного места + кол-во прокрученных слайдов скроем кнопку
        this.isHiddenBtnSliderNext = true
      } else {
        this.isHiddenBtnSliderNext = false
      }
    },
    ...mapMutations(['setHelpHint']),
    onItemClick (e, item, itemTitle, index) {
      if (item.cost) {
        this.$gtmTrack.ecomClick(
          [item.ga_item],
          this.listTitle || this.block.title + '/' + itemTitle,
          index
        )
      }
    },

    frameColor (type) {
      const c = { 11: '#FF7500', 12: '#A7A4FF', 13: '#D0001D' }
      return c[type] || c[12]
    },
    dataA (product, index) {
      const is_coupon =
        product.promos &&
        product.promos.filter((item) => item.type === 22).length > 0
      const is_sale =
        product.promos &&
        product.promos.filter((item) => item.type !== 22).length > 0
      const is_not_aval =
        product.availability &&
        !product.availability.status &&
        !product.estimate_date_to_sal
      return JSON.stringify({
        good: product.product_id,
        pos: index,
        page: this.productListPage,
        ...(is_coupon && { is_coupon: true }),
        ...(is_sale && { is_sale: true }),
        ...(is_not_aval && { is_not_aval: true })
      })
    }
  },
  plural
}
</script>

<style lang="scss" scoped>
/* css class for the transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slider-block {
  position: relative;
  overflow: hidden;
  padding: 0 60px;

  // перестилизация компонента слайдера
  ::v-deep {
    .slider {
      grid-gap: 32px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(11%, 1fr));// > 1441px
      height: 302px;
      overflow: hidden;
      @media screen and (max-width: 1440px) {//1281 - 1440px
        grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
      }
      @media screen and (max-width: 1280px) {//1025 - 1280px
        grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
      }
      @media screen and (max-width: $lg) {//768px - 1024
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
      }

      &_popular {
        height: auto;
      }

      &_guide {
        // компенсируем padding родителя чтобы абсолютно позиционированные кнопки слайдера приняли размер карточек
        margin-bottom: -12px;

        .slider {
          display: grid;
          grid-gap:16px;
          grid-template-rows: 302px;
          grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));// > 1441px
          @media screen and (max-width: 1430px) {//1281 - 1025
            grid-template-columns: repeat(auto-fill, minmax(14%, 1fr));
          }
          @media screen and (max-width: 1281px) {//1281 - 1025
            grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
          }
          @media screen and (max-width: $lg) {//768px - 1024
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
          }
          .slideshow__slide-wrapper{
            position: relative;
          }
          // абсолютное позиционирование карточки гида, не даст слайдеру прыгать из-за разной высоты карточек
          .slideshow__slide{
            position: absolute;
            width:100%;
            height: 100%;
            top: 0;
            left: 0;
          }
          // .slider__slide-container,
          // .slideshow__slide-wrapper,
          // .slider__slide-outer{
          //   height:100%;
          // }
        }
      }

      &__regular-card {
        ::v-deep {
          .product-card {
            width: auto;
            height: 302px;
            flex: 1;
          }
        }
      }

      &__slide-inner {
        display: flex;
        justify-content: center;
      }

      &__slide {
        max-width: 300px;
        &.slider__regular-card_guide {
          height: 100%;
          max-width: 240px;
        }
      }
    }
  }
}
// Common CSS

$desktop-width: 1140px;
$myshop-black: #2a3d48;
$myshop-violet: #783cbd;
$tablet-width: 768px;

.within-pane {
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  margin: 30px 0;
  &:last-child {
    margin-bottom: 40px;
  }
  @media (max-width: $desktop-width) {
    margin: 15px 0;
  }

  &__title {
    display: flex;
    align-items: center;
    padding: 16px 0;
    color: $myshop-black;
    word-break: break-word;
    border-bottom: 1px solid #E5E7E9;
    h2 {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;

      a {
        color: $myshop-black;

        &:hover {
          color: $myshop-violet;
        }
      }
    }
  }
  &__body {
    padding: 16px 0 0;
    &.card {
      .slider-block {
        padding-bottom: 12px;
        @media (max-width: 768px) {
          padding-left: 12px;
          padding-bottom: 12px;
        }
      }
    }
  }
}

@media (hover: hover) {
  .within-pane__body:hover ::v-deep button[data-controls="prev"],
  .within-pane__body:hover ::v-deep button[data-controls="next"] {
    display: block;
  }
}

@media screen and (max-width: $tablet-width) {
  .slider__btn_prev,
  .slider__btn_next {
    display: none;
  }
}
</style>
1
