<template>
  <div v-if="promo.type !== 20 && promo.type !== 21" class="label" :style="{ zIndex: 5 - idx, top: topSize }">
    <div v-if="promo.type !== 55 && promo.hint" class="label__tooltip" :class="{ mini, 'top': big }">
      <div>{{ promo.hint }}</div>
      <nuxt-link v-if="isLink" :to="promo.href">Подробнее</nuxt-link>
    </div>

    <a
      class="label__discount"
      :class="classDiscount"
      @click.prevent="clickDiscount"
      v-html="textDiscount"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    promo: {
      type: Object,
      default: () => {}
    },
    mini: {
      type: Boolean,
      default: false
    },
    big: {
      type: Boolean,
      default: false
    },
    productId: {
      type: [Number, String],
      default: null
    },
    idx: {
      type: Number,
      default: 0
    },
    margin: {
      type: Number,
      default: 0
    }
  },
  computed: {
    ...mapState(['isMobile']),
    discount () {
      return this.promo.discount ? '-' + this.promo.discount + '%' : '%'
    },
    isLink () {
      return this.promo.href && this.promo.href !== this.$route.path
    },
    classDiscount () {
      return {
        label__decline: this.promo.type === 4,
        label__coupon: this.promo.type === 22,
        label__sale: this.promo.type === 40,
        label__mobile: this.promo.type === 55,
        label__mobile__auto: this.promo.type === 55 && this.mini,
        label__cursor: this.promo.hint,
        big: this.big
      }
    },
    textDiscount () {
      return this.promo.type === 22
        ? 'Купон на скидку'
        : this.promo.type === 55
          ? 'Скидка в приложении'
          : this.promo.type === 40
            ? `<span><strong>${this.discount}</strong> на ${this.promo.balance} шт.</span>`
            : this.discount
    },
    topSize () {
      if (this.isMobile) {
        return (34 * this.idx + (this.idx ? this.margin : 0)) + 'px'
      }
      return (32 * this.idx + (this.idx ? this.margin : 0)) + 'px'
    }
  },
  methods: {
    clickDiscount () {
      if (this.promo.type === 55) {
        this.$router.push({ name: 'prod-list-bytype', params: { id: 55, sort: 'a', page: 1, subtype: 'promo' } })
      } else if (!this.isMobile) {
        if (this.promo.discount) {
          this.$router.push(this.promo.href)
        } else if (this.productId) {
          this.$router.push({ name: 'prod-view', params: { id: this.productId } })
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.label {
  position: relative;
  z-index: 2;

  &__discount {
    width: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.003em;
    text-align: left;
    color: #fff;
    padding: 3px 6px;
    background: #f5333f;
    border: 1px solid #f5333f;
    box-sizing: border-box;
    border-radius: $border-radius;
    position: absolute;
    cursor: default;
    top: 0;
    -webkit-tap-highlight-color: transparent;
    right: auto;
    left: 0;
    border-top-left-radius: 0;
    &:hover,
    &:active {
      color: #fff;
    }
  }

  &__cursor {
    cursor: pointer;
  }

  &__decline {
    background: #a695e7;
    border: 1px solid #a695e7;
  }

  &__coupon {
    background: #3caa3c;
    border: 1px solid #3caa3c;
  }

  &__mobile {
    background: #8A2BE2;
    border: 1px solid #8A2BE2;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.04em;

    &__auto {
      @media (max-width: $tablet-width) {
        width: 100%;
      }
    }
  }

  &__sale {
    color: #3a3a3a;
    background: #ffea00;
    border: 1px solid #ffea00;

    &:hover,
    &:active {
      color: #3a3a3a;
    }
  }

  &__tooltip {
    visibility: hidden;
    width: 100%;
    max-width: 220px;
    border-radius: 8px;
    box-shadow: 0 8px 5px rgba($myshop-black, 0.04),
      0 15px 12px rgba($myshop-black, 0.08);
    background: $myshop-lighgray;
    padding: 10px 14px;
    position: absolute;
    z-index: 100;
    top: 32px;
    right: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-grey;
    transform: translateY(20%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: left;

    & a {
      display: inline-block;
      color: $myshop-violet;
      margin-top: 6px;
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      background: transparent;
      height: 10px;
      width: 100%;
      top: -10px;
      right: 0;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $myshop-lighgray transparent;
      left: 24px;
      right: auto;
    }

    &.top {
      top: 40px;
      left: 0;
    }
  }

  .mini {
    padding: 5px 14px;
  }

  .big {
    font-size: 18px;
    line-height: 20px;
    padding: 4px 8px;
  }

  &:hover &__tooltip {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
</style>
