<template>
  <div v-if="isViewBanner" class="app-banner">
    <div class="app-banner__block">
      <div class="app-banner__top">
        <div class="app-banner__icon-app">
          <MobileAppCartIcon />
        </div>

        <div class="app-banner__close" @click="closed">
          <CloseCircleIcon />
        </div>
      </div>
      <h2>{{ bnrText.title }}</h2>
      <div>{{ bnrText.text }}</div>
      <!-- <div class="app-banner__ps">*Согласно нашей «<span>системе скидок</span>»</div> -->
      <b-button class="app-banner__btn" @click="downloadApp">Скачать приложение</b-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { logger } from '@/helpers/util'
import MobileAppCartIcon from '@/components/icons/MobileAppCart'
import CloseCircleIcon from '@/components/icons/CloseCircle'

export default {
  name: 'MobileAppBanner',
  components: {
    MobileAppCartIcon,
    CloseCircleIcon
  },
  data () {
    return {
      isViewBanner: false,
      mobileOs: ''
    }
  },
  computed: {
    ...mapState(['is_app_mobile', 'windowWidth']),
    bnrText () {
      return { title: 'В приложении дешевле!', text: 'Скидки на тысячи товаров только в нашем приложении' }
    },
    isHiddenBanner(){
      return this.$cookies.get('mobile-app-banner-hidden')
    }
  },
  watch: {
    isViewBanner (val) {
      if (val) {
        document.body.style.overflow = 'hidden'
      } else {
        document.body.style.overflow = 'auto'
      }
    }
  },
  mounted () {
    if (!this.is_app_mobile && this.windowWidth <= 1280 && (this.$device.isAndroid || this.$device.isIos) && !this.isHiddenBanner) {
      logger('show', 'app_banner')
      this.isViewBanner = true
    }
  },
  methods: {
    closed () {
      logger('close', 'app_banner')
      this.setHideAppBanner()
      this.isViewBanner = false
    },
    setHideAppBanner(){
      const expDate = new Date()
      this.$cookies.set('mobile-app-banner-hidden', true, {
        maxAge: expDate.getTime() + 365 * 24 * 60 * 60 * 1000
      })
    },
    downloadApp () {
      logger('click', 'app_banner', { event: 'unload' })
      this.setHideAppBanner()

      let url = ''

      this.$device.isAndroid && (url = 'https://play.google.com/store/apps/details?id=com.appmyshop')
      this.$device.isIos && (url = 'https://apps.apple.com/app/myshop-ru-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD/id1602634632')

      document.location = url
    }
  }
}
</script>

<style scoped lang="scss">
.app-banner {
  background-color: rgba(42, 61, 72, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6002;

  &__icon-app {
    svg {
      width: 64px;
      height: 64px;
    }
  }

  &__block {
    width: 100%;
    padding: 12px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2A3D48;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -24px 18px rgba(42, 61, 72, .04), 0px -35px 24px rgba(42, 61, 72, .08);
    border-radius: 8px 8px 0 0;
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__close {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E8EAEB;
    border-radius: 16px;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__icon-app {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 16px;
    overflow: hidden;
    top: -44px;
    left: 0;
  }

  &__list {
    list-style: none;
    margin: 8px 0;
    padding: 0;

    li:before {
      content: '—';
      margin-right: 5px;
    }
  }

  &__ps {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: rgba(42, 61, 72, .7);
    margin: 8px 0;

    & > span {
      border-bottom: 1px solid rgba(42, 61, 72, 0.7);
    }
  }

  &__btn {
    width: 100%;
    margin: 16px 0 0 !important;
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #2A3D48;
    margin: 4px 0;
  }
}
</style>
