<template>
  <div class="operator">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.55 12.22C15.0836 11.7581 15.5115 11.1869 15.8049 10.545C16.0982 9.90316 16.25 9.20571 16.25 8.5C16.25 7.17392 15.7232 5.90215 14.7855 4.96447C13.8478 4.02678 12.5761 3.5 11.25 3.5C9.92391 3.5 8.65214 4.02678 7.71445 4.96447C6.77677 5.90215 6.24999 7.17392 6.24999 8.5C6.25616 9.20958 6.41576 9.90944 6.71782 10.5515C7.01989 11.1937 7.45728 11.7628 7.99999 12.22C6.60013 12.8539 5.41245 13.8775 4.57897 15.1685C3.74548 16.4596 3.30146 17.9633 3.29999 19.5C3.29999 19.7652 3.40534 20.0196 3.59288 20.2071C3.78042 20.3946 4.03477 20.5 4.29999 20.5C4.5652 20.5 4.81956 20.3946 5.00709 20.2071C5.19463 20.0196 5.29999 19.7652 5.29999 19.5C5.29999 17.9087 5.93213 16.3826 7.05735 15.2574C8.18257 14.1321 9.70869 13.5 11.3 13.5C12.8913 13.5 14.4174 14.1321 15.5426 15.2574C16.6678 16.3826 17.3 17.9087 17.3 19.5C17.3 19.7652 17.4053 20.0196 17.5929 20.2071C17.7804 20.3946 18.0348 20.5 18.3 20.5C18.5652 20.5 18.8196 20.3946 19.0071 20.2071C19.1946 20.0196 19.3 19.7652 19.3 19.5C19.2942 17.9578 18.8427 16.4502 18 15.1586C17.1573 13.867 15.9592 12.8465 14.55 12.22ZM11.25 11.5C10.6566 11.5 10.0766 11.3241 9.58328 10.9944C9.08993 10.6648 8.70541 10.1962 8.47835 9.64805C8.25129 9.09987 8.19188 8.49667 8.30763 7.91473C8.42339 7.33279 8.70911 6.79824 9.12867 6.37868C9.54822 5.95912 10.0828 5.6734 10.6647 5.55764C11.2467 5.44189 11.8499 5.5013 12.398 5.72836C12.9462 5.95542 13.4148 6.33994 13.7444 6.83329C14.074 7.32664 14.25 7.90666 14.25 8.5C14.25 9.29565 13.9339 10.0587 13.3713 10.6213C12.8087 11.1839 12.0456 11.5 11.25 11.5ZM19.75 6.5C19.4848 6.5 19.2304 6.60536 19.0429 6.79289C18.8553 6.98043 18.75 7.23478 18.75 7.5V9.5C18.75 9.76522 18.8553 10.0196 19.0429 10.2071C19.2304 10.3946 19.4848 10.5 19.75 10.5C20.0152 10.5 20.2696 10.3946 20.4571 10.2071C20.6446 10.0196 20.75 9.76522 20.75 9.5V7.5C20.75 7.23478 20.6446 6.98043 20.4571 6.79289C20.2696 6.60536 20.0152 6.5 19.75 6.5ZM19 11.79C18.8173 11.9816 18.7137 12.2352 18.71 12.5C18.7092 12.6316 18.7345 12.7621 18.7842 12.8839C18.834 13.0057 18.9073 13.1166 19 13.21C19.0972 13.2983 19.2088 13.3694 19.33 13.42C19.4497 13.4729 19.5791 13.5002 19.71 13.5002C19.8409 13.5002 19.9703 13.4729 20.09 13.42C20.2141 13.3751 20.3268 13.3034 20.4201 13.2101C20.5134 13.1168 20.5851 13.0041 20.63 12.88C20.686 12.7613 20.7134 12.6312 20.71 12.5C20.7111 12.3014 20.6531 12.1069 20.5433 11.9414C20.4335 11.7759 20.2769 11.6468 20.0935 11.5706C19.91 11.4945 19.7081 11.4747 19.5133 11.5137C19.3186 11.5528 19.1399 11.649 19 11.79Z" fill="#009ADE" />
    </svg>

    <h2>Режим оператора</h2>
    <div>Вы, {{ operatorLogin }}, работаете в личном кабинете клиента <strong>{{ clientName }}</strong>, {{ clientEmail }}, {{ clientStatus }}</div>
  </div>
</template>

<script>
export default {
  computed: {
    operatorLogin () {
      return this.$store.state.application.initialData.user.operator_login
    },
    clientName () {
      return this.$store.getters.client.name || ''
    },
    clientEmail () {
      return this.$store.getters.client.email || ''
    },
    clientStatus () {
      const statusCode = this.$store.getters.client.status
      let status = ''
      switch (statusCode) {
        case 0:
          status = 'физ. лицо'
          break
        case 1:
          status = 'юр. лицо'
          break
        case 2:
          status = 'ИП'
          break
      }
      return status
    }
  }
}
</script>

<style scoped lang="scss">
.operator {
  background: #D9F0FA;
  border: 1px solid #80CDEF;
  box-sizing: border-box;
  padding: 16px 16px 16px 52px;
  position: relative;

  svg {
    position: absolute;
    left: 16px;
    top: 16px;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $myshop-black;
    margin: 0;
  }

  div {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-grey;
    margin: 0;
  }
}
</style>
