<template>
  <transition name="fade">
    <div class="onBoarding" :class="arrowClass" :style="paddingTopBlock">
      <div class="onBoarding__header">
        <h2>{{ onBoardingTitle }}</h2>
        <div class="onBoarding__close" @click="send">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.4099 12L17.7099 7.71C17.8982 7.5217 18.004 7.2663 18.004 7C18.004 6.7337 17.8982 6.47831 17.7099 6.29C17.5216 6.1017 17.2662 5.99591 16.9999 5.99591C16.7336 5.99591 16.4782 6.1017 16.2899 6.29L11.9999 10.59L7.70994 6.29C7.52164 6.1017 7.26624 5.99591 6.99994 5.99591C6.73364 5.99591 6.47824 6.1017 6.28994 6.29C6.10164 6.47831 5.99585 6.7337 5.99585 7C5.99585 7.2663 6.10164 7.5217 6.28994 7.71L10.5899 12L6.28994 16.29C6.19621 16.383 6.12182 16.4936 6.07105 16.6154C6.02028 16.7373 5.99414 16.868 5.99414 17C5.99414 17.132 6.02028 17.2627 6.07105 17.3846C6.12182 17.5064 6.19621 17.617 6.28994 17.71C6.3829 17.8037 6.4935 17.8781 6.61536 17.9289C6.73722 17.9797 6.86793 18.0058 6.99994 18.0058C7.13195 18.0058 7.26266 17.9797 7.38452 17.9289C7.50638 17.8781 7.61698 17.8037 7.70994 17.71L11.9999 13.41L16.2899 17.71C16.3829 17.8037 16.4935 17.8781 16.6154 17.9289C16.7372 17.9797 16.8679 18.0058 16.9999 18.0058C17.132 18.0058 17.2627 17.9797 17.3845 17.9289C17.5064 17.8781 17.617 17.8037 17.7099 17.71C17.8037 17.617 17.8781 17.5064 17.9288 17.3846C17.9796 17.2627 18.0057 17.132 18.0057 17C18.0057 16.868 17.9796 16.7373 17.9288 16.6154C17.8781 16.4936 17.8037 16.383 17.7099 16.29L13.4099 12Z" fill="currentColor" />
          </svg>
        </div>
      </div>

      <div style="width: 90%;">
        <slot />
      </div>
      <div class="onBoarding__done" @click="send">Понятно</div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'OnBoardingModal',
  props: {
    onBoardingTitle: {
      type: String,
      default: ''
    },
    modalId: {
      type: String,
      required: true
    },
    days: {
      type: Number,
      default: 30
    },
    top: {
      type: Number,
      default: 0
    }
  },
  computed: {
    arrowClass () {
      return {
        left: !this.$store.state.isMobile,
        bottom: this.$store.state.isMobile
      }
    },
    paddingTopBlock () {
      return {
        top: !this.$store.state.isMobile && this.top ? this.top + 'px' : 'auto'
      }
    }
  },
  methods: {
    send () {
      this.$store.dispatch('sendNotifications', {
        key: this.modalId,
        value: 4,
        days: this.days
      })
    }
  }
}
</script>

<style scoped lang="scss">
/* css class for the transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.onBoarding {
  width: 320px;
  position: absolute;
  top: auto;
  left: 200px;
  background: #0E73F6;
  box-shadow: 0 1px 1px rgba(26, 32, 36, .32), 0 40px 64px rgba(91, 104, 113, .24);
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #D7EDFF;
  padding: 24px 28px;
  z-index: 40;
  text-align: left;

  @media (max-width: calc(#{$tablet-width} - 0.5px)) {
    width: calc(100% - 20px);
    position: fixed;
    top: auto;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header {
    height: 28px;
    margin-bottom: 8px;
    position: relative;

    & h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
      margin: 0;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #0452C8;

    &:hover {
      color: #FFFFEF;
    }
  }

  &__done {
    width: 82px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #0E73F6;
    padding: 4px 12px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    float: right;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    background: transparent;
    height: 12px;
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid;
  }

  &.top {
    &:before {
      top: -10px;
      bottom: auto;
      left: auto;
      right: 0;
    }

    &:after {
      top: auto;
      bottom: 100%;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      border-color: transparent transparent #0E73F6 transparent;
    }
  }

  &.bottom {
    &:before {
      top: auto;
      bottom: -10px;
      left: auto;
      right: 0;
    }

    &:after {
      top: 100%;
      bottom: auto;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      border-color: #0E73F6 transparent transparent transparent;
    }
  }

  &.left {
    &:before {
      top: 0;
      bottom: 0;
      left: -10;
      right: auto;
    }

    &:after {
      top: 50%;
      bottom: auto;
      left: auto;
      right: 100%;
      transform: translateY(-50%);
      border-color: transparent #0E73F6 transparent transparent;
    }
  }

  &.right {
    &:before {
      top: 0;
      bottom: 0;
      left: auto;
      right: -10;
    }

    &:after {
      top: 50%;
      bottom: auto;
      left: 100%;
      right: auto;
      transform: translateY(-50%);
      border-color: transparent transparent transparent #0E73F6;
    }
  }
}
</style>
