<template functional>
  <div
    :key="data.key"
    class="item"
    :class="{ 'out-of-stock': !props.item.availability.status && !props.item.estimate_date_to_sale }"
    :data-o="props.dataO ? props.dataO : false"
    :data-a="props.dataA"
    :data-sh="props.dataSh"
  >
    <div class="top">
      <div class="item__img">
        <template v-if="props.item.promos && props.item.promos.length > 0">
          <component
            :is="props.components.LabelDiscount"
            v-for="(itemPromo, index) in props.item.promos"
            :key="itemPromo.id"
            :promo="itemPromo"
            :product-id="props.item.product_id"
            :idx="index"
          />
        </template>

        <nuxt-link :to="{ name: 'prod-view', params: { id: props.item.product_id } }">
          <Img :key="data.key" class="img" :preview="props.item.image.preview" />
        </nuxt-link>
      </div>

      <div>
        <div v-if="!props.item.availability.status && !props.item.estimate_date_to_sale" class="item__outofstock">Нет в наличии</div>
        <span v-else-if="props.item.estimate_date_to_sale" class="soon">Скоро в продаже!</span>
        <div v-if="!props.item.availability.status && props.item.cost" class="item__outofstock-smol rubl">Последняя цена: <b>{{ props.item.cost | localeString }}</b></div>

        <div v-else class="item__price">
          <div>
            <span v-if="props.item.cost" class="price rubl">{{ props.item.cost | localeString }}</span>
            <span v-if="props.item.old_cost" class="price-old rubl">{{ props.item.old_cost | localeString }}</span>
          </div>
        </div>

        <div class="item__title__container">
          <nuxt-link class="item__title" :to="{ name: 'prod-view', params: { id: props.item.product_id } }">
            {{ props.item.title_prefix }}<span v-html="props.item.title" />
          </nuxt-link>

          <nuxt-link
            v-if="props.item.subtitle_1_href"
            class="item__producer"
            :to="props.item.subtitle_1_href"
            v-html="props.item.subtitle_1"
          />

          <div
            v-else
            class="item__producer"
            @click.stop
            v-html="props.item.subtitle_1"
          />

          <!-- См. по полю 51 (Ориентировочная дата поступления в продажу) в сочетании с нулём в 33-м поле -->
          <!-- 14_51, оно должно быть заполнено и дата должна быть больше текущей -->
          <span v-if="props.item.estimate_date_to_sale" class="note note__soon">Ожидается {{ props.item.estimate_date_to_sale | formatDate }}</span>
          <!-- TODO -->
          <div v-if="props.item.indivisible_set" class="indivisible-set" v-html="props.item.indivisible_set" />
          <div v-for="l in props.item.limitations" :key="l.limit">ограничения по доставке: <nuxt-link :to="l.href" rel="noopener nofollow">{{ l.limit }}</nuxt-link></div>
        </div>
      </div>
    </div>

    <div class="bottom" :class="{ 'min-height': props.minHeight }">
      <div v-if="(!props.item.availability.status || props.item.estimate_date_to_sale) && props.routeName !== 'waitlist'" class="field-body">
        <div class="field flex-grow">
          <b-button
            expanded
            size="is-small"
            type="is-basic is-std"
            @click.prevent.stop="listeners.similarClicked && listeners.similarClicked($event)"
          >
            Похожие
          </b-button>
        </div>

        <div class="field">
          <b-button
            size="is-small"
            type="is-outline"
            icon="is-ellipsis"
            @click.stop="listeners.ellipsisClicked && listeners.ellipsisClicked($event)"
          />
          <component
            :is="props.components.SimilarExtraButtonsPopup"
            v-if="parent.$store.state.modals.name === `similar-extra-buttons-${props.item.product_id}`"
            :in-wait="props.inWait"
            :in-save="props.inSave"
            @close="parent.$store.dispatch('modals/toggle', { name: null })"
            @goToWait="listeners['goToWait']"
            @waitlistAdd="listeners['waitlistAdd']"
            @onClickSave="listeners['onClickSave']($event)"
          />
        </div>
      </div>

      <div v-else-if="props.item.availability.status" class="field-body">
        <div v-if="props.inCart" class="field flex-grow">
          <b-button
            expanded
            size="is-small"
            type="is-primary is-outline"
            @click.stop="listeners['goToCart']"
          >
            В корзине
          </b-button>
        </div>

        <div v-else class="field flex-grow">
          <b-button
            expanded
            size="is-small"
            type="is-primary"
            @click.stop="listeners['itemBuyClicked']($event)"
          >
            В корзину
          </b-button>
        </div>

        <div class="field">
          <b-button
            :class="{ 'is-saved': props.inSave }"
            size="is-small"
            type="is-outline"
            icon="is-heart"
            @click.stop="listeners['onClickSave']($event)"
          />
        </div>
      </div>

      <template v-if="props.routeName === 'waitlist'">
        <div v-if="!props.item.is_archive" class="field-body">
          <div class="field flex-grow">
            <b-button
              expanded
              size="is-small"
              type="is-basic is-light"
              @click.stop="listeners['wldelete']"
            >
              Удалить
            </b-button>
          </div>

          <div v-if="!props.item.availability.status" class="field">
            <b-button
              :class="{ 'is-saved': props.inSave }"
              size="is-small"
              type="is-outline"
              icon="is-heart"
              @click.stop="listeners['onClickSave']($event)"
            />
          </div>
        </div>
      </template>

      <span v-if="props.item.shipment_date" class="item__date">
        <svg class="icon" width="18" height="18">
          <use xlink:href="#is-delivery" />
        </svg>

        <span class="item__date__value">{{ props.item.shipment_date.date }}</span>
      </span>

      <span v-if="props.routeName === 'waitlist' && props.item.added_to_waitlist" class="note note__def">Заявка от {{ props.item.added_to_waitlist }}</span>
    </div>
  </div>
</template>

<script>
import LabelDiscount from '@/components/common/LabelDiscount'
import SimilarExtraButtonsPopup from '@/components/layout/ProductList/SimilarExtraButtonsPopup'

export default {
  name: 'ProductsGridCard',
  props: {
    components: {
      type: Object,
      default () {
        return {
          LabelDiscount,
          SimilarExtraButtonsPopup
        }
      }
    },
    item: {
      type: Object,
      required: true
    },
    inCart: {
      type: Boolean,
      default: true
    },
    inSave: {
      type: Boolean,
      default: true
    },
    inWait: {
      type: Boolean,
      default: false
    },
    routeName: {
      type: String,
      default: ''
    },
    dataSh: {
      type: String,
      default: ''
    },
    dataA: {
      type: String,
      default: ''
    },
    dataO: {
      type: String,
      default: ''
    },
    minHeight: { // в некоторых списках, где нет даты доставки, например в рекомендациях в карточке товара нужно убирать минимальную высоту у подвала
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped lang="scss">
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 6px;
  border: 1px solid #dfe0e1;
  border-radius: 8px;
  background-color: #fff;

  @include mq($sm) {
    padding: 12px;
  }

  .top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .bottom {
    margin-top: 12px;

    &.min-height {
      min-height: 66px;
    }
  }

  .note {
    display: inline-block;
    margin-top: 12px;
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    border-radius: 8px;
  }

  .note__def {
    background-color: #fafafa;
    color: $myshop-gray;
  }

  .note__soon {
    color: #2b999f;
    background: #faffff;
    line-height: 16px;
    width: 100%;
  }
}

.item__price {
  margin-bottom: 6px;

  .price {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }

  .price-old {
    margin-left: 8px;
    color: $myshop-disable;
    text-decoration: line-through;
    text-decoration-color: $myshop-red;
  }
}

.soon {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.item__img {
  height: 200px;
  max-height: 200px;
  position: relative;
  margin-bottom: 12px;
  text-align: center;

  .img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center center;

    .out-of-stock & {
      filter: grayscale(100%);
    }

    @include mq($md) {
      height: 250px;
    }
  }

  @include mq($md) {
    height: 250px;
    max-height: 250px;
  }
}

.item__title {
  display: inline-block;
  color: $myshop-black;
  line-height: 18px;
  transition: color 0.3s;
  word-break: break-word;
  &:hover {
    color: $myshop-violet;
  }
  span {
    color: $myshop-black;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.item__producer {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: $myshop-gray;
  margin-top: 6px;
  transition: color 0.3s;

  &:hover {
    color: $myshop-violet;
  }
}

.indivisible-set {
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  padding: 10px;
  color: #0c54d6;
  background-color: #f1f6ff;
  border-radius: $border-radius;
}

.item__outofstock {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.item__outofstock-smol {
  margin-top: 4px;
  margin-bottom: 6px;
  color: $myshop-disable;
}

.item__date {
  margin-top: 12px;
  color: $myshop-gray;
  display: flex;
}

.item__date__value {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: $myshop-green;
  margin-left: 8px;
}

.button.is-saved {
  --color-1: #{$myshop-violet};
}

// дубль кода из MyOptions.vue
// TODO: надо безопасно вынести в _main.scss
::v-deep .field-body {
  display: flex;
  flex-direction: row;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  > .field {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 8px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
</style>
