<template>
  <div class="sort">
    <div class="desktop">
      <span class="title">Сортировать по:</span>

      <div>
        <div v-for="option in fetchedOptions" :key="option.value" class="option" :class="{ active: option.value === active }" @click="emitSort(option)">
          <div :class="{ arrow: arrowExist(option) }">
            <span class="label">{{ option.typeName || option.text }}</span>

            <svg v-if="arrowExist(option)" class="icon" :class="{ reflect: option.reflectArrow }" width="6" height="12">
              <use xlink:href="#is-arrow" />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div v-if="isShowModal" class="action-sheet">
      <div class="shadow" @click="closeModal()" />

      <div class="container">
        <div class="header">
          Сортировка по
          <b-close class="close-action-sheet" @click="closeModal()" />
        </div>
        <div v-for="option in options" :key="option.value" class="option">
          <input-radio :label="option.text" :checked="option.value === active" @change="applySort(option)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputRadio from '@/components/ui/InputRadio'

export default {
  name: 'ProductsGridSortList',
  components: {
    InputRadio
  },
  props: {
    productsSort: {
      type: String,
      required: true
    },
    options: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      isShowModal: false
    }
  },
  computed: {
    fetchedOptions () {
      const withoutTypeName = this.options.filter(option => !option.typeName)
      const typeNames = Array.from(new Set(this.options.filter(option => option.typeName).map(option => option.typeName)))
      const activeOption = this.options.find(option => option.value === this.active)
      const optionsForGroupSort = typeNames.map((typeName) => {
        if (activeOption && activeOption.typeName && activeOption.typeName === typeName) {
          return activeOption
        } else {
          const AscOptionInType = this.options.find(option => option.typeName && option.typeName === typeName)
          return AscOptionInType
        }
      })
      return [...withoutTypeName, ...optionsForGroupSort]
    },
    active () {
      return this.productsSort
    }
  },
  methods: {
    openModal () {
      this.isShowModal = true
      document.body.style.overflow = 'hidden'
    },
    closeModal () {
      this.isShowModal = false
      document.body.style.overflow = ''
      this.$emit('close')
    },
    applySort (option) {
      this.emitSort(option)
      this.closeModal()
    },
    emitSort ({ value, reflectArrow, typeName }) {
      if (reflectArrow === undefined && value === this.active) return // исключаем клики по неактивным пунктам

      if (reflectArrow !== undefined && value === this.active) { // если есть вариант с больше/меньше
        ({ value } = this.options.find(item => item.value !== value && item.typeName === typeName))
      }

      this.$emit('sort', value)
    },
    arrowExist (option) {
      return option.reflectArrow !== undefined
    }
  }
}
</script>

<style lang="scss" scoped>
.sort {
  .desktop {
    display: none;

    @include mq($md) {
      display: flex;
      margin-bottom: 10px;

      .option {
        display: inline-block;
        white-space: nowrap;
        margin-bottom: 6px;

        &:not(:last-of-type) {
          margin-right: 12px;
        }

        &.active {
          > .arrow {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              margin-left: 4px;
            }
          }

          .label {
            font-weight: 600;
            color: $myshop-violet;
          }
        }
        .label {
          display: block;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        &:not(.active) {
          cursor: pointer;

          .icon {
            display: none;
          }

          .label:hover {
            color: $myshop-violet;
          }
        }

        .icon {
          transform: scale(-1);

          &.reflect {
            transform: unset;
          }
        }
      }
    }

    @include mq($lg) {
      .option {
        &:not(:last-of-type) {
          margin-right: 24px;
        }
      }
    }
  }

  .action-sheet {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: $z-index-action-sheet;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .shadow {
      height: 100%;
    }

    .header {
      padding: 12px 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
    }

    .container {
      height: fit-content;
      position: relative;
      bottom: 0;
      background: #fff;
      border-radius: 8px 8px 0 0;
      padding: 0 10px;
    }

    .option {
      margin-bottom: 14px;
      border-bottom: 1px solid #e5e7e9;

      ::v-deep .radio {
        .span {
          display: block;
          position: relative;
          width: 100%;

          &::first-letter {
            text-transform: uppercase;
          }

          &:before {
            position: absolute;
            right: 0;
            margin-right: 0;
          }
        }
      }
    }

    .close-action-sheet {
      position: absolute;
      right: 10px;
      top: 13px;
    }
  }

  .title {
    color: $myshop-gray;
    white-space: nowrap;
    margin-right: 12px;

    @include mq($lg) {
      margin-right: 24px;
    }
  }
}
</style>
