<template>
  <div class="items">
    <ProductsListItem
      v-for="(item, index) of products"
      :key="item.product_id"
      :item="item"
      :caption="caption"
      :in-cart="!!cart.cartObj[item.product_id]"
      :in-save="!!cart.saveObj[item.product_id]"
      :in-wait="waitListProducts.indexOf(Number(item.product_id)) > -1"
      :data-a="dataA(item, index)"
      :data-o="dataO"
      :data-sh="!!isSearch ? 'search' : null"
      :route-name="$route.name"
      :min-height="minHeight"
      @click.native="itemClicked(topTitle, index)"
      @itemBuyClicked="itemBuyClicked({ curProduct: item, event: $event, list: topTitle })"
      @onClickSave="onClickSave($event, item)"
      @waitlistAdd="$emit('wladd', item.product_id)"
      @goToCart="$router.push({ name: 'cart' })"
      @goToWait="$router.push({ name: 'waitlist' })"
      @wldelete="$emit('wldelete', { id: item.waitlist_id, product_id: item.product_id, is_not_aval: !item.availability.status && !item.estimate_date_to_sale })"
      @ellipsisClicked="toggleModal({ name: 'similar-extra-buttons-' + item.product_id, hideScrollOnDesktop: false, goBack: false })"
      @similarClicked="toggleModal({ name: 'list-recommends-' + item.product_id })"
    />
    <RecommendsModal v-if="$route.name !== 'waitlist'" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ProductsListItem from './ProductGridCard'
import RecommendsModal from '@/components/layout/ProductList/RecommendsModal'

export default {
  name: 'ProductsGrid',
  components: {
    ProductsListItem,
    RecommendsModal

  },
  props: {
    caption: {
      type: String,
      default: ''
    },
    products: {
      type: Array,
      default: () => []
    },
    dataO: {
      type: String,
      default: 'listgeneral'
    },
    minHeight: {
      type: Boolean,
      default: true
    },
    itemBuyClickedCb: { // колбек функция, чтобы перехватить стандартное поведение и вызвать колбек после добавления в корзину
      required: false,
      type: Function,
      default: () => {}
    },
    useItemBuyClickedCb: { // используется в связке с itemBuyClickedCb чтобы проверить
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState('modals', { modalName: 'name' }),
    ...mapState(['cart', 'pageMeta', 'mainData', 'productsOther', 'productsTotal', 'productListPage', 'waitListProducts']),
    isSearch () {
      return (this.pageMeta.categories && this.pageMeta.categories.length) || this.productsOther.length
    },
    topTitle () {
      let result = this.caption

      if (this.productsTotal !== null && this.mainData && this.mainData.article) {
        result = `Гид. ${result}`
      } else if (this.isSearch) {
        result = 'Поиск'
      }

      return result
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    ...mapActions(['cartBuyClicked', 'cartSaveClicked', 'cartDeleteClicked', 'cartRestoreClicked']),
    itemBuyClicked (data) {
      if (this.useItemBuyClickedCb) {
        this.cartBuyClicked(data)
          .then(() => {
            this.itemBuyClickedCb()
          })
        return
      }
      if (this.$route.name === 'cart') {
        this.cartRestoreClicked(data)
      } else {
        this.cartBuyClicked(data)
      }
    },
    onClickSave ($event, item) {
      const data = {
        curProduct: item,
        event: $event
      }

      if (this.cart.saveObj[item.product_id]) {
        this.cartDeleteClicked(data)
      } else {
        this.cartSaveClicked(data)
      }
    },
    dataA (product, index) {
      const is_coupon = product.promos && product.promos.filter(item => item.type === 22).length > 0
      const is_sale = product.promos && product.promos.filter(item => item.type !== 22).length > 0
      const is_not_aval = product.availability && !product.availability.status && !product.estimate_date_to_sal
      return JSON.stringify({
        good: product.product_id,
        pos: index,
        ...(is_coupon && { is_coupon: true }),
        ...(is_sale && { is_sale: true }),
        ...(is_not_aval && { is_not_aval: true }),
        ...(this.isSearch && { page: this.productListPage })
      })
    },
    itemClicked (title, index) {
      if (title) this.$gtmTrack.ecomClick([this.item.ga_item], title, index)
    }
  }
}
</script>

<style lang="scss" scoped>
.items {
  --var-min-items: 145px;

  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(var(--var-min-items), 1fr));

  @include mq($sm) {
    --var-min-items: 212px;
  }
}
</style>
