<template>
  <div>
    <div v-if="visible" ref="redLine" class="red_line">
      <div v-if="opened" class="red_line__block" :style="mainStyle.redline">
        <div class="red_line__text">
          <div v-click-prevent-default class="text_block" @click="onClickRedLine" v-html="redLineText.text" />
        </div>
        <div class="red_line__block__close" @click="opened = !opened">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2559 1.92259C15.5814 1.59715 15.5814 1.06951 15.2559 0.744078C14.9305 0.418641 14.4028 0.418641 14.0774 0.744078L8 6.82149L1.92259 0.744078C1.59715 0.418641 1.06952 0.418641 0.744079 0.744078C0.418642 1.06951 0.418642 1.59715 0.744079 1.92259L6.82149 8L0.744078 14.0774C0.418641 14.4028 0.418641 14.9305 0.744078 15.2559C1.06951 15.5814 1.59715 15.5814 1.92259 15.2559L8 9.17851L14.0774 15.2559C14.4028 15.5814 14.9305 15.5814 15.2559 15.2559C15.5814 14.9305 15.5814 14.4028 15.2559 14.0774L9.17851 8L15.2559 1.92259Z" fill="#ffffff" />
          </svg>
        </div>
      </div>
      <div v-else class="red_line__close" :style="mainStyle.redline" @click="opened = !opened" />
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      visible: false,
      opened: true,
      expires: null,
      redLineText: {},
      mainStyle: {},
      heightBlock: null
    }
  },
  computed: {
    redLineBackground () {
      let background = ''
      const line = this.mainStyle.redline.toString()
      if (line.includes('background:')) {
        const first = line.indexOf('background:') + 11
        const finish = line.indexOf(';', first) + 1
        background = line.slice(first, finish)
      }
      return background
    },
    textStyle () {
      let style = ''
      const line = this.redLineText.style.text.toString()
      if (line.includes('background:')) {
        const first = line.indexOf('background:') + 11
        const finish = line.indexOf(';', first) + 1
        style += 'background:' + line.slice(first, finish)
      }
      if (line.includes('color:')) {
        const first = line.indexOf('color:') + 6
        const finish = line.indexOf(';', first) + 1
        style += 'color:' + line.slice(first, finish)
      }
      return style
    },
    getCookie () {
      const [matches] = document.cookie
        .split(';')
        .filter(c => c.includes('rl'))

      return matches
    }
  },
  watch: {
    opened () {
      if (this.opened) {
        document.cookie = `rl=1; path=/; expires=${this.expires.toUTCString()}; domain=.my-shop.ru`
      } else {
        document.cookie = `rl=0; path=/; expires=${this.expires.toUTCString()}; domain=.my-shop.ru`
      }
    }
  },
  mounted () {
    this.$addEventListeners('resize', this.resizeHandler)
    const json = { ...this.$store.state.application.initialData?.json_red_line }
    if (this.isEmpty(json)) {
      const rlsp = json.rl.split('-')
      this.expires = (new Date(parseInt(rlsp[0]), parseInt(rlsp[1]) - 1, parseInt(rlsp[2]) + 1, 3, 0, 0))
      if (this.expires > new Date()) {
        this.opened = !!parseInt(this.getCookie)
        this.visible = true
        this.mainStyle = { ...json.main.style }
        this.redLineText = { ...json.col }
        this.applyCSS()
      }
    }
  },
  updated () {
    this.resizeHandler()
  },
  methods: {
    onClickRedLine () {
      this.$gtmTrack.namedEvent('head_discount')
    },
    applyCSS () {
      let cssRule = ''
      cssRule += this.mainStyle.link ? `.red_line__block a { ${this.mainStyle.link} }` : ''
      cssRule += this.mainStyle['link-hover'] ? `.red_line__block a:hover { ${this.mainStyle['link-hover']} }` : ''
      cssRule += `.red_line__close:after { border-top: 40px solid${this.redLineBackground} }`
      cssRule += this.redLineText.style.text ? `.text_block { ${this.textStyle} }` : ''
      cssRule += this.redLineText.style.link ? `.text_block a { ${this.redLineText.style.link} }` : ''
      cssRule += this.redLineText.style['link-hover'] ? `.text_block a:hover { ${this.redLineText.style['link-hover']} }` : ''
      const style = document.createElement('style')
      style.type = 'text/css'
      this.$el.appendChild(style)
      style.innerHTML = cssRule
    },
    isEmpty (obj) {
      return Object.keys(obj).length > 0
    },
    resizeHandler () {
      if (this.$refs.redLine) this.$emit('toggleHeight', this.$refs.redLine.offsetHeight)
    }
  }
}
</script>

<style scoped>
  .red_line {
    width: 100%;
    display: block;
    background: #fff;
    position: relative;
  }
  .red_line__block {
    padding: 2px;
    display: flex;
    background: #ff7500;
    color: #EFEFFF;
    min-height: 46px;
  }
  .red_line__block__close {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  .red_line__block__close svg {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
  }
  .red_line__block__close svg:hover {
    transform: rotate(360deg);
    opacity: 1;
  }
  .red_line__close {
    min-height: 4px;
    background: #ff7500;
    color: #fff;
  }
  .red_line__close:after {
    content: '';
    border-left: 40px solid transparent;
    position: absolute;
    right: 4px;
    bottom: -42px;
    width: 0;
    z-index: 1;
    cursor: pointer;
    transform: scale(1.2);
  }
  .red_line__close:before {
    content: '';
    position: absolute;
    right: 6px;
    top: 8px;
    z-index: 2;
    width: 15px;
    height: 15px;
    transform: scale(1.2);
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.31182 14.2323H6.18822C5.77329 14.1023 5.42909 13.8091 5.23477 13.4201C5.16635 13.3056 5.08542 13.199 4.99346 13.1023C4.86333 13.1053 4.73355 13.1171 4.60502 13.1376C4.19057 13.2896 3.72711 13.2178 3.37803 12.9477C3.02895 12.6775 2.84327 12.2468 2.88644 11.8075C2.87647 11.6716 2.8508 11.5373 2.80993 11.4073C2.69376 11.3518 2.57378 11.3046 2.45092 11.266C2.01139 11.2219 1.62545 10.9548 1.42933 10.559C1.23322 10.1632 1.25451 9.69435 1.48569 9.31793C1.53658 9.18914 1.57213 9.05481 1.59163 8.91772C1.51324 8.82207 1.4287 8.73164 1.33855 8.64698C1.00208 8.37441 0.789863 7.97757 0.75 7.54639C0.794014 7.09478 1.00367 6.67546 1.33855 6.36928C1.45369 6.25584 1.55271 6.12711 1.63283 5.98673C1.63751 5.81374 1.61568 5.64106 1.56809 5.47469C1.37663 5.04889 1.40131 4.55705 1.63444 4.15257C1.86757 3.74808 2.28078 3.48018 2.74519 3.43241C2.90867 3.39023 3.06525 3.32482 3.21015 3.23819C3.29738 3.09359 3.36283 2.93692 3.40437 2.77323C3.44961 2.30757 3.71708 1.89246 4.12243 1.65883C4.52778 1.4252 5.02104 1.40185 5.44665 1.59613C5.61298 1.6439 5.78569 1.66574 5.95869 1.66087C6.09933 1.58113 6.2281 1.48207 6.34125 1.36659C6.61869 0.979557 7.06569 0.75 7.54189 0.75C8.0181 0.75 8.4651 0.979557 8.74254 1.36659C8.85569 1.48207 8.98446 1.58113 9.1251 1.66087C9.29813 1.66651 9.47096 1.64466 9.63714 1.59613C10.0629 1.40466 10.5548 1.42935 10.9593 1.66248C11.3637 1.89561 11.6316 2.30882 11.6794 2.77323C11.6826 3.1327 11.9732 3.42333 12.3327 3.42652C12.7971 3.47429 13.2103 3.7422 13.4435 4.14668C13.6766 4.55117 13.7013 5.04301 13.5098 5.4688C13.4631 5.63334 13.4413 5.80395 13.4451 5.97495C13.5252 6.11534 13.6242 6.24407 13.7393 6.35751C14.0742 6.66369 14.2839 7.08301 14.3279 7.53462C14.288 7.9658 14.0758 8.36264 13.7393 8.63521C13.6424 8.72339 13.5555 8.82209 13.4804 8.92949C13.5084 9.05761 13.5458 9.18351 13.5922 9.30616C13.8234 9.68257 13.8447 10.1514 13.6486 10.5473C13.4525 10.9431 13.0665 11.2102 12.627 11.2543C12.4981 11.2913 12.3737 11.3426 12.2562 11.4073C12.2257 11.5332 12.2041 11.661 12.1915 11.7899C12.2346 12.2292 12.049 12.6598 11.6999 12.93C11.3508 13.2002 10.8873 13.2719 10.4729 13.12C10.338 13.1031 10.2016 13.1031 10.0668 13.12C9.985 13.2165 9.91026 13.3188 9.84313 13.426C9.64881 13.815 9.30461 14.1082 8.88968 14.2382C8.56463 14.3032 8.24843 14.0924 8.18342 13.7674C8.11841 13.4423 8.32921 13.1261 8.65426 13.0611L8.86614 12.7492C9.03198 12.4432 9.28087 12.1902 9.58417 12.0194C9.91602 11.8993 10.2749 11.8748 10.62 11.9488C10.7357 11.9547 10.8516 11.9547 10.9673 11.9488C10.9938 11.8343 11.0135 11.7183 11.0261 11.6015C10.9957 10.8668 11.5187 10.225 12.2444 10.1066C12.3568 10.0701 12.4669 10.0268 12.574 9.97711C12.5469 9.86545 12.5135 9.75541 12.474 9.64752C12.3329 9.32376 12.2859 8.96677 12.3386 8.61755C12.4497 8.2846 12.654 7.99049 12.9271 7.77004C13.0293 7.67701 13.1202 7.57232 13.1979 7.45811C13.1979 7.41691 12.9919 7.21091 12.8801 7.08732C12.616 6.84907 12.414 6.5501 12.2915 6.21626C12.2227 5.86441 12.2389 5.50123 12.3386 5.15687C12.384 4.99608 12.4058 4.82954 12.4033 4.66248C12.2579 4.58412 12.1038 4.52289 11.9443 4.48003C11.22 4.35928 10.6525 3.79175 10.5317 3.06751C10.4911 2.90167 10.4256 2.74293 10.3375 2.59666C10.1746 2.60286 10.0128 2.62654 9.8549 2.66729C9.51058 2.76723 9.14734 2.78338 8.79551 2.71438C8.46167 2.59184 8.1627 2.38984 7.92445 2.12582C7.80287 2.00002 7.66176 1.89469 7.50658 1.81389C7.35677 1.89758 7.21997 2.00266 7.10048 2.12582C6.86223 2.38984 6.56326 2.59184 6.22942 2.71438C5.87761 2.78361 5.51432 2.76746 5.17003 2.66729C5.00945 2.62085 4.84276 2.59902 4.67564 2.60255C4.59761 2.74816 4.5364 2.90217 4.49319 3.06162C4.37244 3.78586 3.80491 4.35339 3.08067 4.47415C2.91478 4.51463 2.75601 4.58012 2.60983 4.66837C2.61527 4.83137 2.63896 4.99325 2.68045 5.15098C2.78017 5.49534 2.79631 5.85852 2.72754 6.21038C2.605 6.54422 2.403 6.84319 2.13898 7.08143C2.01349 7.20329 1.90819 7.34434 1.82705 7.49931L2.0919 7.77004C2.36505 7.99049 2.5693 8.2846 2.68045 8.61755C2.7331 8.96677 2.68618 9.32376 2.54508 9.64752C2.43797 9.72049 2.4013 9.86142 2.45926 9.97735C2.51723 10.0933 2.65197 10.1485 2.77462 10.1066C3.49896 10.2275 4.02071 10.8677 3.99292 11.6015C4.00559 11.7183 4.02524 11.8343 4.05178 11.9488C4.14006 11.9488 4.29897 11.9488 4.39902 11.9488C5.10536 11.7298 5.86388 12.0736 6.16468 12.7492C6.23616 12.8666 6.32109 12.9752 6.41776 13.0729C6.72641 13.146 6.92163 13.4505 6.85917 13.7615C6.80572 14.0251 6.58042 14.2189 6.31182 14.2323Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.72383 9.19432L9.2193 6.69886C9.41927 6.46535 9.40583 6.11726 9.18843 5.89986C8.97104 5.68247 8.62295 5.66903 8.38944 5.869L5.89398 8.36446C5.72602 8.5083 5.65286 8.73414 5.70457 8.94914C5.75629 9.16414 5.92416 9.33201 6.13916 9.38372C6.35415 9.43544 6.58 9.36228 6.72383 9.19432Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.37664 5.76306C6.05159 5.76306 5.78809 6.02657 5.78809 6.35161C5.78809 6.67666 6.05159 6.94017 6.37664 6.94017C6.70169 6.94017 6.96519 6.67666 6.96519 6.35161C6.96519 6.02657 6.70169 5.76306 6.37664 5.76306Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.73089 8.11728C8.40584 8.11728 8.14233 8.38078 8.14233 8.70583C8.14233 9.03088 8.40584 9.29438 8.73089 9.29438C9.05594 9.29438 9.31944 9.03088 9.31944 8.70583C9.31944 8.38078 9.05594 8.11728 8.73089 8.11728Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  .red_line__text {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .text_block {
    width: 100%;
    padding: 8px 5px 8px 12px;
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    .red_line__text {
      text-align: left;
    }
  }
  @media screen and (max-width: 800px) {
    .red_line__block__close {
      margin-right: 10px;
    }
  }
</style>
