<template>
  <div class="slide-show-scroll__scroll-wrap">
    <div
      v-for="(item, idx) of items"
      :key="item.product_id"
      class="slide-show-scroll__scroll-item"
    >
      <div v-if="isPopular" :data-a="dataA(item, idx)">
        <CarouselProductCard
          :index-elem="idx"
          :list-title="listTitle"
          :top-title="topTitle"
          :block="block"
          :item="item"
          :is-popular="isPopular"
          :is-guide="isGuide"
          @buyclicked="$emit('buyclicked', $event)"
          @saveclicked="$emit('saveclicked', $event)"
        />
      </div>

      <div
        v-else
        :data-a="dataA(item, idx)"
        @click="onItemClick($event, item, item.title, index)"
      >
        <CarouselProductCard
          :index-elem="idx"
          :list-title="listTitle"
          :top-title="topTitle"
          :block="block"
          :item="item"
          :is-popular="isPopular"
          :is-guide="isGuide"
          @buyclicked="$emit('buyclicked', $event)"
          @saveclicked="$emit('saveclicked', $event)"
        />
      </div>
    </div>
  </div>
</template>
<script>
import CarouselProductCard from '@/components/common/CarouselProductCard'
export default {
    name:'SlideShowScroll',
    components:{
        CarouselProductCard
    },
    props:{
        dataA:{
            type: Function,
            required: true
        },
        onItemClick:{
            type: Function,
            required: true

        },
        items:{
            type: Array,
            required: true
        },
        isPopular:{
            type: Boolean,
            required: true
        },
        isGuide:{
            type: Boolean,
            required: true
        },
        listTitle:{
            type: String ,
            required: true
        },
        topTitle:{
            type: String ,
            required: true
        },
        block:{
            type: Object ,
            required: true
        }

    }
}
</script>
<style lang="scss" scoped>
.slide-show-scroll {
  &__scroll-wrap {
    overflow: scroll;
    width: 100%;
    display: flex;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
  }

  &__scroll-item {
    margin-right: 8px;

    .slide-show-scroll__item {
      margin: 0;
    }

    ::v-deep {
      @media screen and (max-width: $tablet-width) {
        .product-card.guide {
          width: 160px;
        }
      }
    }
  }
}
</style>