<template>
  <div class="cart-item">
    <div class="is-desktop">{{ index }}</div>

    <div class="cart-item__grid" :class="{ active: isChecked }">
      <input-checkbox class="cart-item__checkbox" :checked="isChecked" @change="toggleList(item.cart_id)" />

      <div class="cart-item__image">
        <nuxt-link :to="{ name: 'prod-view', params: { id: item.product_id } }">
          <client-only>
            <Img class="img" :preview="item.image.preview" />
          </client-only>
        </nuxt-link>
      </div>

      <div class="cart-item__desc">
        <div class="cart-item__title">
          <nuxt-link :to="{ name: 'prod-view', params: { id: item.product_id } }">
            {{ item.title_prefix }}<span v-html="item.title" />
          </nuxt-link>
        </div>

        <div v-if="item.shipment_date" class="cart-item__date" v-html="item.shipment_date.date" />
        <div v-if="item.indivisible_set" class="cart-item__set" v-html="item.indivisible_set" />

        <nuxt-link v-if="item.indivisible_set" class="cart-item__limit" :to="item.limitations[0].href" rel="noopener nofollow">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4898 7.43996C20.4841 7.46632 20.4841 7.49359 20.4898 7.51996C20.4898 7.55996 20.4698 7.62996 20.4698 7.62996V12.015C20.4698 12.559 20.0288 13 19.4848 13C18.9408 13 18.4998 12.559 18.4998 12.015V9.41996L12.9998 12.82V19.2L13.4939 18.8928C14.1504 18.4845 15 18.9566 15 19.7298C15 20.0723 14.8221 20.3903 14.5302 20.5696L12.5598 21.78L12.4098 21.84H12.3298C12.1606 21.8936 11.979 21.8936 11.8098 21.84H11.7298L11.5798 21.78L4.07982 17.14C3.93571 17.0499 3.81693 16.9246 3.7347 16.7759C3.65246 16.6271 3.60948 16.4599 3.60982 16.29V7.55996C3.60011 7.49365 3.60011 7.42627 3.60982 7.35996V7.20996L3.66982 7.05996L3.71982 6.99996L3.81982 6.92996L3.90982 6.84996L3.99982 6.77996L11.4698 2.12996C11.5723 2.06952 11.6837 2.02565 11.7998 1.99996H11.8998C11.9892 1.98504 12.0804 1.98504 12.1698 1.99996H12.2498C12.3553 2.03075 12.4538 2.08169 12.5398 2.14996L16.2598 4.44996L20.1998 6.93996H20.2498L20.3398 7.01996C20.3751 7.05196 20.4054 7.08903 20.4298 7.12996L20.4898 7.27996V7.36996C20.485 7.39304 20.485 7.41688 20.4898 7.43996ZM13.7798 5.26996L11.9998 4.16996L6.39982 7.62996L8.18982 8.72996L13.7798 5.26996ZM5.49982 15.81L10.9998 19.17V12.82L5.49982 9.41996V15.81ZM10.0898 9.90996L11.9998 11.06L17.5998 7.62996L15.6798 6.43996L10.0898 9.90996Z" fill="#DE2A35" />
            <path d="M18.21 20.29C18.1128 20.2017 18.0012 20.1306 17.88 20.08C17.6979 20.0034 17.4972 19.9825 17.3032 20.0199C17.1092 20.0572 16.9306 20.1512 16.79 20.29C16.6073 20.4816 16.5037 20.7352 16.5 21C16.4993 21.1316 16.5245 21.2621 16.5742 21.3839C16.624 21.5057 16.6973 21.6166 16.79 21.71C16.8872 21.7983 16.9988 21.8694 17.12 21.92C17.3017 21.9927 17.5008 22.0105 17.6926 21.9712C17.8843 21.9319 18.0603 21.8371 18.1987 21.6987C18.3371 21.5603 18.4319 21.3843 18.4712 21.1926C18.5106 21.0008 18.4928 20.8017 18.42 20.62C18.3724 20.4972 18.3011 20.3851 18.21 20.29ZM17.5 14C17.2348 14 16.9804 14.1054 16.7929 14.2929C16.6054 14.4804 16.5 14.7348 16.5 15V18C16.5 18.2652 16.6054 18.5196 16.7929 18.7071C16.9804 18.8946 17.2348 19 17.5 19C17.7652 19 18.0196 18.8946 18.2071 18.7071C18.3947 18.5196 18.5 18.2652 18.5 18V15C18.5 14.7348 18.3947 14.4804 18.2071 14.2929C18.0196 14.1054 17.7652 14 17.5 14Z" fill="#DE2A35" />
          </svg>
          <span v-for="(l, i) of item.limitations" :key="'x'+l.limit">
            {{ l.limit }}<span v-if="i < item.limitations.length-1">, </span>
          </span>
        </nuxt-link>
      </div>

      <div class="cart-item__quantity">
        <div class="icon icon__delete" @click="cartDelete($event)">
          <IconMiniDelete color="#783CBD" />
        </div>

        <div class="icon" @click="cartSave($event)">
          <IconMiniSave color="#783CBD" />
        </div>

        <CartItemQuantity :quantity="item.quantity" :cost="item.cost" @quantity-changed="qtyChanged" />
      </div>

      <div class="cart-item__price">
        <div class="cart-item__price__sum">{{ allCost | localeString }}&nbsp;<span>₽</span></div>
        <div v-if="allOldCost > allCost" class="cart-item__price__old">{{ allOldCost | localeString }}&nbsp;₽</div>
        <div v-if="profit > 0" class="cart-item__price__profit">Выгода {{ profit | localeString }}&nbsp;₽</div>
      </div>
    </div>
  </div>
</template>

<script>
import CartItemQuantity from './CartItemQuantity'
import InputCheckbox from '@/components/ui/InputCheckbox'
import IconMiniDelete from '@/components/icons/IconMiniDelete'
import IconMiniSave from '@/components/icons/IconMiniSave'

export default {
  name: 'CartItemNew',
  components: {
    InputCheckbox,
    CartItemQuantity,
    IconMiniDelete,
    IconMiniSave
  },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    item: {
      type: [Array, Object],
      default: () => []
    },
    index: {
      type: Number,
      default: 1
    }
  },
  computed: {
    isChecked () {
      return this.value.includes(this.item.cart_id)
    },
    allCost () {
      return this.item.cost * this.item.quantity
    },
    allOldCost () {
      return this.item.old_cost * this.item.quantity
    },
    profit () {
      return this.allOldCost - this.allCost
    }
  },
  methods: {
    qtyChanged (quantity) {
      if (quantity === 0) {
        this.cartDelete(true)
      } else {
        this.$store.dispatch('cartQtyChanged', { curProduct: this.item, type: 'cart', quantity })
      }
    },
    toggleList (item, add = true) {
      const list = this.value
      const index = list.indexOf(item)
      if (index > -1) {
        list.splice(index, 1)
      } else if (add) {
        list.push(item)
      }
      this.$emit('input', list)
    },
    cartDelete (event) {
      this.$emit('cart-delete', { item: this.item, event })
    },
    cartSave (event) {
      this.toggleList(this.item.cart_id, false)
      this.$emit('cart-save', { item: this.item, event })
    }
  }
}
</script>

<style scoped lang="scss">
.cart-item {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto;
  grid-gap: 0 16px;
  margin: 0 0 16px;

  &__grid {
    display: grid;
    grid-template-columns: 20px 80px 1fr 210px 120px;
    grid-template-rows: auto;
    grid-template-areas: 'checkbox image desc quantity price';
    grid-gap: 0 16px;
    padding: 8px;
    background: #ffffff;
    border-radius: 8px;
    margin: 0 -9px;

    &.active {
      background: #FBF9FD;
    }

    @media (max-width: $lg) {
      grid-template-columns: 20px 60px 1fr;
      grid-template-areas: 'checkbox image price' 'checkbox image desc' 'checkbox2 image quantity';
      padding: 16px 0;
      margin: 0;
    }
  }

  @media (max-width: $lg) {
    grid-template-columns: 1fr;
    margin: 0;
    border-bottom: 1px solid #E5E7E9;
  }

  & > div:first-child {
    align-self: center;
  }

  & ::v-deep .checkbox {
    margin: 0;
  }

  &__image {
    grid-area: image;
    width: 80px;
    height: 80px;

    @media (max-width: $lg) {
      width: 60px;
      height: 60px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      object-position: center top;
    }
  }

  &__desc,
  &__quantity,
  &__price,
  &__image {
    align-self: self-start !important;
  }

  &__checkbox {
    grid-area: checkbox;
    align-self: center;
    width: 16px;
    height: 16px;

    @media (max-width: $lg) {
      align-self: self-start;
      margin-top: 20px !important;
    }
  }

  &__desc {
    grid-area: desc;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    word-break: break-word;
    a {
      color: $myshop-black;

      &:hover,
      &:active {
        color: $myshop-violet;
      }
    }
  }

  &__quantity {
    grid-area: quantity;
    display: flex;

    @media (max-width: $lg) {
      margin-top: 12px;
    }
  }

  &__price {
    grid-area: price;
    color: $myshop-black;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    @media (max-width: $lg) {
      display: inline-flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin-bottom: 6px;

      div {
        margin-right: 12px;

        &:last-child {
          margin-top: 4px;
        }
      }
    }

    span {
      font-weight: normal;
      color: $myshop-disable;
    }

    &__sum {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      @media (max-width: $lg) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__old {
      color: $myshop-gray;
      text-decoration: line-through;
      text-decoration-color: $myshop-red;
      margin-top: 4px;

      @media (max-width: $lg) {
        margin-top: 0;
      }
    }

    &__profit {
      color: $myshop-red;
      margin-top: 4px;

      @media (max-width: $lg) {
        margin-top: 0;
      }
    }
  }

  &__date {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-green;
    margin-top: 8px;
  }

  &__set {
    white-space: nowrap;
    margin-top: 8px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &__limit {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-red;
    margin-top: 8px;

    svg {
      margin-right: 4px;
    }
  }
}

.icon {
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $myshop-purple;
  background: inherit;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 12px;

  @media (max-width: $lg) {
    border: none;
    margin-right: 2px;
  }

  &:hover {
    background: $myshop-purple;
  }

  &__delete {
    &:active {
      background: #FFFFFF;
    }

    &:hover {
      background: #FEE1E2;
      border: 1px solid #FEE1E2;
      & ::v-deep path {
        fill: $myshop-red;
      }
    }
  }
}

.is-desktop {
  display: inline-flex;

  @media (max-width: $lg) {
    display: none;
  }
}
</style>
