<template>
  <div>
    <div class="cart-info-pane">
      <CartPromoBlock @reload-cart="$emit('reload-cart')" />

      <div class="cart-info-pane__block">
        <div class="cart-info-pane__line">
          <div>Товаров в корзине</div>
          <div class="cart-info-pane__data">{{ cartData.quantity }}</div>
        </div>
        <div class="cart-info-pane__line">
          <div>Вес товаров</div>
          <div class="cart-info-pane__data">{{ cartData.weight }} кг</div>
        </div>
        <div class="cart-info-pane__line">
          <div>Стоимость товаров</div>
          <div class="cart-info-pane__data">{{ cartData.cost | localeString }} ₽</div>
        </div>
        <div v-if="cartData.discount" class="cart-info-pane__line">
          <div>Скидка</div>
          <div class="cart-info-pane__discount">-{{ cartData.discount | localeString }} ₽</div>
        </div>
        <div v-if="cartData.shipment_date" class="cart-info-pane__line">
          <div>{{ shipmentDateTitle }}</div>
          <div class="cart-info-pane__date">{{ cartData.shipment_date.date }}</div>
        </div>
        <hr>
        <div class="cart-info-pane__itogo">
          <div>{{ cartData.discount ? 'Итого со скидкой:' : 'Итого:' }}</div>
          <div class="cart-info-pane__sum">{{ cartData.cost_discount | localeString }} <span>₽</span></div>
        </div>
        <b-button v-if="cartData.quantity" class="cart-info-pane__btn" type="is-primary" @click="orderClicked">Оформить заказ</b-button>
      </div>

      <b-button type="is-white" class="cart-info-pane__btn" @click="$emit('open-tools')">Дополнительные инструменты</b-button>
    </div>

    <div v-if="visibility" class="cart-info-pane-f">
      <div class="cart-info-pane-f__quantity">
        <div>
          <span>{{ cartData.discount ? 'Итого со скидкой' : 'Итого' }}</span>
          <span class="cart-info-pane__sum">{{ cartData.cost_discount | localeString }} <span>₽</span></span>
        </div>
        <div style="text-align: right">
          <span>{{ cartData.quantity }} {{ plural(cartData.quantity, 'товар', 'товара', 'товаров') }}</span>
          <span v-if="cartData.shipment_date" class="cart-info-pane__date">{{ cartData.shipment_date.date }}</span>
        </div>
      </div>

      <b-button class="cart-info-pane__btn" type="is-primary" @click="orderClicked">
        Оформить заказ
      </b-button>
    </div>
  </div>
</template>

<script>
import CartPromoBlock from './CartPromoBlock'

export default {
  name: 'CartInfoPane',
  components: {
    CartPromoBlock
  },
  props: {
    cartData: {
      type: Object,
      default: () => {}
    },
    shipmentDateTitle: {
      type: String,
      default: ''
    },
    plural: {
      type: Function,
      default: () => {}
    },
    visibility: {
      type: Boolean,
      defaults: false
    }
  },
  methods: {
    orderClicked () {
      this.$gtmTrack.namedEvent('ccob')
      this.$emit('order-clicked')
    }
  }
}
</script>

<style scoped lang="scss">
.cart-info-pane {
  width: 100%;
  margin-bottom: 12px;
  top: 100px;
  position: sticky;

  hr {
    border: none;
    border-bottom: 1px solid #e5e7e9;
    display: block;
    height: 1px;
    width: 100%;
    margin: 12px 0;
  }

  &__block {
    background: #fafafa;
    border-radius: 8px;
    padding: 16px 12px 12px;
    margin-bottom: 12px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
  }

  &__data {
    font-weight: 600;
  }

  &__date {
    white-space: nowrap;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-green;
  }

  &__discount {
    color: #f5333f;
    font-weight: 600;
  }

  &__itogo {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    color: $myshop-black;

    &__v {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;
      margin-top: 4px;
    }
  }

  &__btn {
    width: 100%;
  }

  &__sum {
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: $myshop-black;
    display: block;
    margin-top: 4px;

    span {
      font-weight: normal;
      color: $myshop-disable;
    }
  }

  &-f {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px -5px 5px rgba(42, 61, 72, 0.05);
    border-radius: 8px;
    position: fixed;

    right: 0;
    left: 0;
    z-index: 40;
    padding: 12px 10px;
    bottom: $mobile-tabs-height;

    @media (min-width: $desktop-width) {
      display: none;
    }

    &__quantity {
      margin: 0 0 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $myshop-black;
    }

    .cart-info-pane__date {
      font-size: 14px;
      line-height: 20px;
      margin-top: 4px;
    }

    .cart-info-pane__sum {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
</style>
