<template>
  <div class="promo-code">
    <div class="promo-code__input">
      <input-text v-model="promoCode" label="Промокод или сертификат" name="pcode" maxlength="50" style="width: 100%;" />
      <button type="button" class="promo-code__btn" :disabled="promoCode === ''" @click.prevent="sendPromo">Применить</button>
    </div>
    <div v-if="activeCode" class="promo-code--active">Промокод активирован</div>
    <div v-if="errorCode" class="promo-code--error">Промокод недействителен</div>
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'

export default {
  name: 'ActivatePromoBlock',
  components: {
    InputText
  },
  data () {
    return {
      promoCode: '',
      activeCode: false,
      errorCode: false
    }
  },
  methods: {
    sendPromo () {
      this.activeCode = false
      this.errorCode = false

      if (this.promoCode) {
        this.$api.myUtil.activatePromoCode({ promo_code: this.promoCode })
          .then(({ data }) => {
            if (data.status === 'success') {
              this.activeCode = true
              this.$emit('reload-cart')
            } else {
              this.errorCode = true
            }
          })
          .catch(e => console.error(e))
      }
    }
  }
}
</script>

<style scoped lang="scss">
.promo-code {
  margin: 0 0 12px;

  & ::v-deep .field {
    margin: 0;
  }

  &__input {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & ::v-deep .field {
      margin: 0;

      input {
        margin: 0;
        padding: 10px 40px 10px 15px;
      }

      input + label {
        padding: 0;
        transform: translate(0, 23px) scale(1.2);
      }

      input:not(:placeholder-shown) + label,
      input:focus + label {
        transform: translate(0, 0) scale(1);
        cursor: pointer;
      }
    }
  }

  &__btn {
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 16px;
    background: $myshop-violet;
    border: 1px solid $myshop-purple;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 8px;
    cursor: pointer;

    &:disabled {
      background: #E8EAEB;
      color: $myshop-disable;
      border: 1px solid #E1E4E5;
      cursor: default;
    }
  }

  &--active,
  &--error {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: $myshop-green;
    margin: 2px 10px 0;
  }

  &--error {
    color: $myshop-red;
  }
}
</style>
