<template>
  <div class="cart-sort-pane" :class="{ save: mode === 'save' }">
    <div class="is-desktop" :class="{ 'is-hidden': mode === 'save' }">№</div>
    <div class="cart-sort-pane__control">
      <input-checkbox label="Выбрать всё" :checked="isChecked" white-space :class="{ 'is-hidden': mode === 'save' }" @change="$emit('select-all')" />

      <template v-if="isButton && mode === 'cart'">
        <a href="#" class="is-desktop" @click.prevent="$emit('cart-delete', $event)">Удалить выбранные</a>
        <a href="#" class="is-desktop" @click.prevent="$emit('cart-save', $event)">Перенести в избранное</a>
      </template>

      <template v-if="mode === 'save'">
        <a href="#" class="is-desktop" @click.prevent="$emit('cart-restore')">Перенести все товары в корзину</a>
        <a href="#" class="is-desktop" @click.prevent="$emit('wishlist-delete')">Удалить все товары</a>
      </template>
    </div>
    <div class="cart-sort-pane__tools">
      <template v-if="isButton && mode === 'cart'">
        <div class="icon is-mobile" @click="$emit('cart-delete', $event)">
          <IconMiniDelete color="#783CBD" />
        </div>
        <div class="icon is-mobile" @click="$emit('cart-save', $event)">
          <IconMiniSave color="#783CBD" />
        </div>
      </template>

      <template v-if="mode === 'save'">
        <div class="icon is-mobile" @click="$emit('cart-restore')">
          <IconMiniRestore color="#783CBD" />
        </div>
        <div class="icon is-mobile" @click="$emit('wishlist-delete')">
          <IconMiniDelete color="#783CBD" />
        </div>
      </template>

      <div class="icon icon__sort is-mobile" :class="{ open: showSelect }" @click="$emit('drop-open')">
        <IconMiniSort :color="showSelect ? '#783CBD' : '#7F8B91'" />
      </div>

      <div role="button" class="cart-sort-pane__title" :class="{ open: showSelect }" @click="$emit('drop-open')">По {{ sortName }}</div>
      <transition name="slide-fade">
        <div v-if="showSelect && !isMobile" class="cart-sort-pane__select">
          <div v-for="st of sortOptions" :key="`${st.value}_${st.dir}`" class="cart-sort-pane__select__item" :class="{ active: productsSort.value === st.value && productsSort.dir === st.dir }" @click="selectItem(st)">По {{ st.text }}</div>
        </div>
      </transition>

      <div v-if="showSelect" class="select-overlay" @click.self="$emit('drop-open')" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import InputCheckbox from '@/components/ui/InputCheckbox'
import IconMiniDelete from '@/components/icons/IconMiniDelete'
import IconMiniSave from '@/components/icons/IconMiniSave'
import IconMiniSort from '@/components/icons/IconMiniSort'
import IconMiniRestore from '@/components/icons/IconMiniRestore'

export default {
  name: 'CartSortPane',
  components: {
    InputCheckbox,
    IconMiniDelete,
    IconMiniSave,
    IconMiniSort,
    IconMiniRestore
  },
  props: {
    productsSort: {
      type: Object,
      default: () => {}
    },
    sortName: {
      type: String,
      default: ''
    },
    sortOptions: {
      type: Array,
      default: () => []
    },
    showSelect: {
      type: Boolean,
      default: false
    },
    isChecked: {
      type: Boolean,
      default: false
    },
    isButton: {
      type: Boolean,
      default: false
    },
    mode: {
      type: String,
      default: 'cart'
    }
  },
  computed: {
    ...mapState(['isMobile'])
  },
  methods: {
    selectItem (val) {
      this.$emit('sort', val.value)
      this.$emit('drop-open')
    }
  }
}
</script>

<style scoped lang="scss">
.cart-sort-pane {
  display: grid;
  grid-template-columns: 20px minmax(444px, 1fr) minmax(167px, 224px);
  grid-template-rows: auto;
  grid-gap: 0 16px;
  margin: 0 0 20px;

  @media (max-width: $lg) {
    grid-template-columns: 1fr 150px;
  }

  &.save {
    grid-template-columns: 1fr 224px;
  }

  & > div {
    align-self: center;
    position: relative;
  }

  & ::v-deep .checkbox {
    margin: 0;

    & > span {
      color: $myshop-black;

      &:hover {
        color: $myshop-violet;
      }
    }
  }

  &__control {
    display: flex;
    align-items: center;

    a {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $myshop-violet;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }

    & ::v-deep label {
      margin-right: 16px !important;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__title {
    width: 100%;
    padding: 10px 40px 10px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    background: #FFFFFF;
    border: 1px solid #E5E7E9;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: block;
    z-index: 1;

    @media (max-width: $lg) {
      display: none;
    }

    &:hover {
      border: 1px solid $myshop-violet;
      color: $myshop-violet;
    }

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 7.64174C14.0104 7.48653 13.7992 7.39941 13.5791 7.39941C13.3589 7.39941 13.1477 7.48653 12.9916 7.64174L9.99992 10.5917L7.04992 7.64174C6.89378 7.48653 6.68257 7.39941 6.46242 7.39941C6.24226 7.39941 6.03105 7.48653 5.87492 7.64174C5.79681 7.71921 5.73481 7.81138 5.69251 7.91293C5.6502 8.01448 5.62842 8.1234 5.62842 8.23341C5.62842 8.34342 5.6502 8.45234 5.69251 8.55389C5.73481 8.65544 5.79681 8.74761 5.87492 8.82507L9.40825 12.3584C9.48572 12.4365 9.57789 12.4985 9.67944 12.5408C9.78098 12.5831 9.88991 12.6049 9.99992 12.6049C10.1099 12.6049 10.2188 12.5831 10.3204 12.5408C10.4219 12.4985 10.5141 12.4365 10.5916 12.3584L14.1666 8.82507C14.2447 8.74761 14.3067 8.65544 14.349 8.55389C14.3913 8.45234 14.4131 8.34342 14.4131 8.23341C14.4131 8.1234 14.3913 8.01448 14.349 7.91293C14.3067 7.81138 14.2447 7.71921 14.1666 7.64174Z' fill='%232A3D48'/%3E%3C/svg%3E%0A") no-repeat center;
      transform: rotate(0);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    &.open {
      border: 1px solid $myshop-violet;
      color: $myshop-violet;

      &:after {
        transform: rotate(-180deg);
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 7.64174C14.0104 7.48653 13.7992 7.39941 13.5791 7.39941C13.3589 7.39941 13.1477 7.48653 12.9916 7.64174L9.99992 10.5917L7.04992 7.64174C6.89378 7.48653 6.68257 7.39941 6.46242 7.39941C6.24226 7.39941 6.03105 7.48653 5.87492 7.64174C5.79681 7.71921 5.73481 7.81138 5.69251 7.91293C5.6502 8.01448 5.62842 8.1234 5.62842 8.23341C5.62842 8.34342 5.6502 8.45234 5.69251 8.55389C5.73481 8.65544 5.79681 8.74761 5.87492 8.82507L9.40825 12.3584C9.48572 12.4365 9.57789 12.4985 9.67944 12.5408C9.78098 12.5831 9.88991 12.6049 9.99992 12.6049C10.1099 12.6049 10.2188 12.5831 10.3204 12.5408C10.4219 12.4985 10.5141 12.4365 10.5916 12.3584L14.1666 8.82507C14.2447 8.74761 14.3067 8.65544 14.349 8.55389C14.3913 8.45234 14.4131 8.34342 14.4131 8.23341C14.4131 8.1234 14.3913 8.01448 14.349 7.91293C14.3067 7.81138 14.2447 7.71921 14.1666 7.64174Z' fill='%23783CBD'/%3E%3C/svg%3E%0A") no-repeat center;
      }
    }
  }

  &__select {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 18px 12px rgba(42, 61, 72, 0.04), 0px 24px 18px rgba(42, 61, 72, 0.08);
    border-radius: 8px;
    padding: 12px;
    width: 320px;
    top: 45px;
    right: 0;
    z-index: 1;

    &__item {
      padding: 6px 40px 6px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $myshop-black;
      position: relative;
      cursor: pointer;

      &:hover {
        color: $myshop-violet;
      }

      &.active:after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5917 6.00822C15.5142 5.93011 15.4221 5.86811 15.3205 5.82581C15.219 5.7835 15.11 5.76172 15 5.76172C14.89 5.76172 14.7811 5.7835 14.6796 5.82581C14.578 5.86811 14.4858 5.93011 14.4084 6.00822L8.20004 12.2249L5.59171 9.60822C5.51127 9.53052 5.41632 9.46942 5.31227 9.42842C5.20823 9.38742 5.09713 9.36731 4.98531 9.36924C4.87349 9.37118 4.76315 9.39512 4.66058 9.43969C4.55802 9.48427 4.46524 9.54862 4.38754 9.62905C4.30984 9.70949 4.24875 9.80444 4.20774 9.90848C4.16674 10.0125 4.14663 10.1236 4.14856 10.2354C4.1505 10.3473 4.17444 10.4576 4.21902 10.5602C4.2636 10.6627 4.32794 10.7555 4.40837 10.8332L7.60837 14.0332C7.68584 14.1113 7.77801 14.1733 7.87956 14.2156C7.98111 14.2579 8.09003 14.2797 8.20004 14.2797C8.31005 14.2797 8.41897 14.2579 8.52052 14.2156C8.62207 14.1733 8.71424 14.1113 8.79171 14.0332L15.5917 7.23322C15.6763 7.15518 15.7438 7.06047 15.79 6.95506C15.8361 6.84964 15.86 6.7358 15.86 6.62072C15.86 6.50563 15.8361 6.39179 15.79 6.28638C15.7438 6.18096 15.6763 6.08625 15.5917 6.00822Z' fill='%232A3D48'/%3E%3C/svg%3E%0A") no-repeat center;
      }
    }
  }
}

.icon {
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px;
  z-index: 1;

  &__sort {
    &:active {
      background: #FFFFFF;
    }

    &:hover,
    &.open {
      background: $myshop-purple;
      & ::v-deep path {
        fill: $myshop-violet;
      }
    }
  }
}

.select-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s;
}

.slide-fade-enter {
  transform: translateY(20%);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateY(0);
  opacity: 1;
}

.is-mobile {
  display: none;

  @media (max-width: $lg) {
    display: inline-flex;
  }
}

.is-desktop {
  display: inline-flex;

  @media (max-width: $lg) {
    display: none;
  }
}

.is-hidden {
  display: none !important;
}
</style>
