<template>
  <div class="cart-empty">
    <h3 class="cart-empty__header">{{ mode === 'cart' ? 'Ваша корзина пуста' : 'Избранных товаров нет' }}</h3>
    <div class="cart-empty__text" v-html="mode === 'cart' ? 'Посмотрите товары на главной странице или воспользуйтесь поиском.' : 'В этом списке будут храниться товары, которые Вас заинтересовали. Откладывайте и не теряйте.'" />
    <b-button class="cart-empty__btn" @click="$router.push('/')">На главную</b-button>
    <b-button v-if="mode === 'cart'" type="is-white" class="cart-empty__btn" @click="$emit('open-tools')">Дополнительные инструменты</b-button>
  </div>
</template>

<script>
export default {
  name: 'CartEmpty',
  props: {
    mode: {
      type: String,
      default: 'cart'
    }
  }
}
</script>

<style scoped lang="scss">
.cart-empty {
  margin-top: 32px;
  margin-bottom: 120px;
  &__header {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $myshop-black;
    margin: 0 0 4px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    margin-bottom: 16px;
  }

  &__btn {
    display: inline-block !important;
    margin-right: 12px;

    @media (max-width: $md) {
      display: block;
      width: 100%;
      margin: 0 0 8px;
    }
  }
}
</style>
