<template>
  <div class="cart-tabs">
    <div class="cart-tabs__item" :class="{ active: mode === 'cart'}" data-text="1" @click="$emit('select-tab', 'cart')">Корзина <span>{{ count.cart }}</span></div>
    <div class="cart-tabs__item" :class="{ active: mode === 'save'}" data-text="1" @click="$emit('select-tab', 'save')">Избранное <span>{{ count.save }}</span></div>
  </div>
</template>

<script>
export default {
  name: 'CartTabs',
  props: {
    mode: {
      type: String,
      default: 'cart'
    },
    count: {
      type: Object,
      default: () => ({ cart: 0, save: 0 })
    }
  }
}
</script>

<style scoped lang="scss">
.cart-tabs {
  width: 100%;
  border-top: 1px solid #E5E7E9;
  margin: 16px 0 8px;

  @media (max-width: $md) {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    display: inline-block;
    padding: 10px 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    cursor: pointer;

    @media (max-width: $md) {
      width: 100%;
      padding: 10px 0;
      text-align: center;
    }

    span {
      padding: 4px 8px;
      background: #DFE2E4;
      border-radius: 100px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
    }

    &.active {
      color: $myshop-violet;
      font-weight: 600;
      position: relative;

      span {
        background: $myshop-violet;
        color: #ffffff;
      }

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
        background: $myshop-violet;
      }
    }
  }
}
</style>
