<template>
  <div class="cart-quantity">
    <div class="cart-quantity__btns">
      <button class="cart-quantity__btn" type="button" :disabled="quantity == 0" @click.stop="changeQty(quantity, -1)">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.8333 9.16675H4.16659C3.94557 9.16675 3.73361 9.25455 3.57733 9.41083C3.42105 9.56711 3.33325 9.77907 3.33325 10.0001C3.33325 10.2211 3.42105 10.4331 3.57733 10.5893C3.73361 10.7456 3.94557 10.8334 4.16659 10.8334H15.8333C16.0543 10.8334 16.2662 10.7456 16.4225 10.5893C16.5788 10.4331 16.6666 10.2211 16.6666 10.0001C16.6666 9.77907 16.5788 9.56711 16.4225 9.41083C16.2662 9.25455 16.0543 9.16675 15.8333 9.16675Z" fill="#2A3D48" />
        </svg>
      </button>

      <div v-show="!isNumEdit" class="cart-quantity__num" @click="editNum">{{ quantity }}</div>
      <input v-show="isNumEdit" ref="num" class="cart-quantity__input" :value="quantity" type="text" inputmode="numeric" @keypress="onQtyKeyPress" @change="onQtyChange" @blur="isNumEdit = false">

      <button class="cart-quantity__btn" type="button" @click.stop="changeQty(quantity, 1)">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.8333 9.16658H10.8333V4.16659C10.8333 3.94557 10.7455 3.73361 10.5892 3.57733C10.4329 3.42105 10.2209 3.33325 9.99992 3.33325C9.7789 3.33325 9.56694 3.42105 9.41066 3.57733C9.25438 3.73361 9.16658 3.94557 9.16658 4.16659V9.16658H4.16659C3.94557 9.16658 3.73361 9.25438 3.57733 9.41066C3.42105 9.56694 3.33325 9.7789 3.33325 9.99992C3.33325 10.2209 3.42105 10.4329 3.57733 10.5892C3.73361 10.7455 3.94557 10.8333 4.16659 10.8333H9.16658V15.8333C9.16658 16.0543 9.25438 16.2662 9.41066 16.4225C9.56694 16.5788 9.7789 16.6666 9.99992 16.6666C10.2209 16.6666 10.4329 16.5788 10.5892 16.4225C10.7455 16.2662 10.8333 16.0543 10.8333 15.8333V10.8333H15.8333C16.0543 10.8333 16.2662 10.7455 16.4225 10.5892C16.5788 10.4329 16.6666 10.2209 16.6666 9.99992C16.6666 9.7789 16.5788 9.56694 16.4225 9.41066C16.2662 9.25438 16.0543 9.16658 15.8333 9.16658Z" fill="#2A3D48" />
        </svg>
      </button>
    </div>
    <div v-if="cost !== null && quantity > 1" class="cart-quantity__cost">
      {{ cost | localeString }} ₽
      <span v-show="cost"><span class="slash">/</span>шт.</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartItemQuantity',
  props: {
    quantity: {
      type: [Number, String],
      default: 0
    },
    cost: {
      type: [Number, String],
      default: null
    }
  },
  data () {
    return {
      isNumEdit: false
    }
  },
  methods: {
    changeQty (quantity, n = 0) {
      quantity = Math.round(quantity) + n
      if (isNaN(quantity)) quantity = 0
      if (quantity < 1) quantity = 0
      if (quantity > 50000) quantity = 50000
      // this.cartQtyChanged({ curProduct: this.item, type: 'cart', quantity: quantity })
      this.$emit('quantity-changed', quantity)
    },
    onQtyKeyPress (evt) {
      const charCode = (evt.which) ? evt.which : evt.keyCode
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault()
      }
    },
    onQtyChange (evt) {
      this.changeQty(evt.target.value, 0)
      this.isNumEdit = false
    },
    editNum () {
      this.isNumEdit = true
      setTimeout(() => {
        this.$refs.num.focus()
      }, 100)
    }
  }
}
</script>

<style scoped lang="scss">
.cart-quantity {

  &__num,
  &__input {
    width: 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    text-align: center;

    span {
      color: $myshop-gray;
    }
  }

  &__input {
    outline: none;
    border: none;
  }

  &__btns {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }

  &__btn {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    &:disabled {
      cursor: default;
    }

    &:hover {
      background: $myshop-purple;

      path {
        fill: $myshop-violet;
      }
    }
  }

  &__cost {
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: $myshop-gray;
  }
}
</style>
