<template>
  <popup-modal ref="popup">
    <div class="cart-confirm__message" v-html="message" />

    <div class="cart-confirm__btns">
      <b-button type="is-basic is-light" @click="_cancel">Отмена</b-button>
      <b-button @click="_confirm">Удалить</b-button>
    </div>
  </popup-modal>
</template>

<script>
import PopupModal from '@/components/modal/PopupModal'

export default {
  name: 'CartConfirmPopup',
  components: {
    PopupModal
  },
  data () {
    return {
      message: '',
      resolvePromise: null,
      rejectPromise: null
    }
  },
  methods: {
    show (message) {
      this.message = message
      this.$refs.popup.open('Удаление товаров')
      return new Promise((resolve, reject) => {
        this.resolvePromise = resolve
        this.rejectPromise = reject
      })
    },
    close () {
      this.$refs.popup.close()
    },
    _confirm () {
      this.$refs.popup.close()
      this.resolvePromise(true)
    },
    _cancel () {
      this.$refs.popup.close()
      this.resolvePromise(false)
    }
  }
}
</script>

<style scoped lang="scss">
.cart-confirm {

  &__message {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    margin-top: 12px;
  }

  &__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0 12px;
    margin-top: 16px;
  }
}
</style>
