<template>
  <div class="qty-btns-wrap">
    <div class="qty-btns" :class="{ focus: qtyFocused }">
      <button
        type="button"
        :disabled="localQuantity <= 1 || disabled"
        @click.stop="changeQty(localQuantity, -1)"
      >
        <MinusIcon />
      </button>

      <label for="qty" class="inp-qty">
        <input
          id="qty"
          v-model="localQuantity"
          type="number"
          :disabled="disabled"
          @focus="qtyFocused = true"
          @blur="qtyFocused = false"
          @keypress="onQtyKeyPress"
          @change="onQtyChange"
          @click.stop
        >
      </label>
      <button
        type="button"
        :disabled="disabled"
        @click.stop="changeQty(localQuantity, 1)"
      >
        <PlusIcon />
      </button>
    </div>
    <div
      v-if="cost !== null"
      class="price"
      :style="{ visibility: localQuantity > 1 ? 'visible' : 'hidden' }"
    >
      {{ cost | localeString }} ₽
      <span v-show="cost"><span class="slash">/</span>шт.</span>
    </div>
  </div>
</template>

<script>
import MinusIcon from '@/components/icons/MinusIcon.vue'
import PlusIcon from '@/components/icons/PlusIcon.vue'

export default {
  components: {
    MinusIcon,
    PlusIcon
  },
  props: {
    quantity: {
      type: Number,
      required: true
    },
    cost: {
      type: Number,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      localQuantity: 1,
      qtyFocused: false
    }
  },
  watch: {
    quantity () {
      this.localQuantity = this.quantity
    }
  },
  mounted () {
    this.localQuantity = this.quantity
  },
  methods: {
    changeQty (localQuantity, n = 0) {
      localQuantity = +localQuantity + n
      if (isNaN(localQuantity)) localQuantity = 1
      if (localQuantity < 1) localQuantity = 1
      if (localQuantity > 50000) localQuantity = 50000
      // this.cartQtyChanged({ curProduct: this.item, type: 'cart', localQuantity: localQuantity })
      this.$emit('qtychanged', localQuantity)
    },
    onQtyKeyPress (evt) {
      const charCode = evt.which ? evt.which : evt.keyCode
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault()
      }
    },
    onQtyChange (evt) {
      this.changeQty(evt.target.value, 0)
    }
  }
}
</script>

<style scoped lang="scss">
.slash {
  margin: 0 3px;
}

.qty-btns-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qty-btns {
  display: flex;
  border-radius: 8px;
  border: 1px solid #e5e7e9;
  box-sizing: border-box;
  padding: 1px;
  height: 48px;
  &.focus {
    border: 1px solid #783cbd;
  }
  button {
    border: none;
    color: $myshop-black;
    font-size: 28px;
    line-height: 44px;
    width: 44px;
    cursor: pointer;
    background: #fafafa;
    border-radius: 8px;
    font-weight: 300;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    &[disabled] {
      ::v-deep svg path {
        fill: #d4d8da;
      }
    }
    &:not([disabled]) {
      ::v-deep svg path {
        fill: #2a3d48;
      }
      &:hover {
        background: #ebe2f5;
        ::v-deep svg path {
          fill: #783cbd;
        }
      }
    }

    @media screen and (min-width: $mobile-width) {
      &:disabled {
        color: #c0c5c9;
      }
    }
  }
}

.inp-qty {
  min-width: 20px;
  max-width: 20px;
  color: #7f8b91;
  font-size: 14px;

  line-height: 20px;
  align-items: baseline;
  display: flex;
  margin-top: 14px;
  @media screen and (min-width: $tablet-width) {
    min-width: 52px;
    max-width: 52px;
  }
  input {
    color: $myshop-black;
    font-size: 16px;

    padding: 0;
    width: 100%;
    border: none;
    vertical-align: middle;
    text-align: center;
    &:disabled {
      background-color: transparent;
    }
    @media screen and (min-width: $tablet-width) {
      margin-right: 4px;
    }
  }
}

.price {
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: $myshop-gray;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
  .inp-qty {
    font-size: 13px;
    line-height: 20px;
  }
  button {
    background: white;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
</style>
