<template>
  <div class="items">
    <ProductGridCard
      v-for="(item, index) of products"
      :key="item.product_id"
      :item="item"
      :caption="caption"
      :in-cart="!!cart.cartObj[item.product_id]"
      :in-save="!!cart.saveObj[item.product_id]"
      :data-a="dataA(item, index)"
      :data-o="dataO"
      :data-sh="!!isSearch ? 'search' : null"
      :route-name="$route.name"
      :min-height="minHeight"
      @click.native="itemClicked(topTitle, index)"
      @itemBuyClicked="itemBuyClicked({ curProduct: item, event: $event, list: topTitle })"
      @onClickSave="onClickSave($event, item)"
      @waitlistAdd="waitlistAdd(item.product_id, $router)"
      @goToCart="$router.push({ name: 'cart' })"
      @wldelete="$emit('wldelete', item.waitlist_id)"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ProductGridCard from '@/components/common/ProductGridCard'

export default {
  name: 'ProductsList',
  components: {
    ProductGridCard
  },
  props: {
    caption: {
      type: String,
      default: ''
    },
    products: {
      type: Array,
      default: () => []
    },
    dataO: {
      type: String,
      default: 'listgeneral'
    },
    minHeight: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapState(['cart', 'pageMeta', 'mainData', 'productsOther', 'productsTotal', 'productListPage']),
    isSearch () {
      return (this.pageMeta.categories && this.pageMeta.categories.length) || this.productsOther.length
    },
    topTitle () {
      let result = this.caption

      if (this.productsTotal !== null && this.mainData && this.mainData.article) {
        result = `Гид. ${result}`
      } else if (this.isSearch) {
        result = 'Поиск'
      }

      return result
    }
  },
  methods: {
    ...mapActions(['cartBuyClicked', 'cartSaveClicked', 'cartDeleteClicked', 'waitlistAdd', 'cartRestoreClicked', 'loadRecommends', 'loadCart']),
    async itemBuyClicked (data) {
      await this.cartBuyClicked(data)
      await this.loadCart()
      await this.loadRecommends()
      this.$gtmTrack.namedEvent('recommends_cart_btn')
    },
    async onClickSave ($event, item) {
      const data = {
        curProduct: item,
        event: $event
      }

      if (this.cart.saveObj[item.product_id]) {
        await this.cartDeleteClicked(data)
        await this.loadCart()
        this.loadRecommends()
      } else {
        await this.cartSaveClicked(data)
        await this.loadCart()
        this.loadRecommends()
        this.$gtmTrack.namedEvent('recommends_like_btn')
      }
    },
    dataA (product, index) {
      const is_coupon = product.promos && product.promos.filter(item => item.type === 22).length > 0
      const is_sale = product.promos && product.promos.filter(item => item.type !== 22).length > 0
      const is_not_aval = product.availability && !product.availability.status && !product.estimate_date_to_sal
      return JSON.stringify({
        good: product.product_id,
        pos: index,
        ...(is_coupon && { is_coupon: true }),
        ...(is_sale && { is_sale: true }),
        ...(is_not_aval && { is_not_aval: true }),
        ...(this.isSearch && { page: this.productListPage })
      })
    },
    itemClicked (title, index) {
      if (title) this.$gtmTrack.ecomClick([this.item.ga_item], title, index)
    }
  }
}
</script>

<style lang="scss" scoped>
.items {
  --var-min-items: 145px;

  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(var(--var-min-items), 1fr));

  @include mq($sm) {
    --var-min-items: 212px;
  }
}
</style>
