<template>
  <mini-pop-over :visible="visible" :gray-header="true" @closeclicked="visible = false">
    <template slot="header">
      <span class="title-text">Дополнительные инструменты</span>
    </template>
    <template slot="buttons">
      <div v-if="!showImportForm" class="links">
        <a href="https://price.my-shop.ru/cgi-bin/price.pl?type=cart&id=1" target="_blank" rel="noopener nofollow">Сохранить как прайс-лист товары, находящиеся в корзине</a>
        <a href="https://price.my-shop.ru/cgi-bin/price.pl?type=save&id=1" target="_blank" rel="noopener nofollow">Сохранить как прайс-лист избранное</a>
        <a href="" @click.prevent="openForm('excel2cart')">Добавить в корзину товары из прайса Excel</a>
        <a href="" @click.prevent="openForm('excel2excel')">Подстановка кодов товаров в My-shop.ru по кодам ISBN и EAN-13 в таблице Excel</a>
      </div>
      <form
        v-if="showImportForm"
        :name="form.name"
        class="import-form quirks"
        method="post"
        :action="form.action"
        enctype="multipart/form-data"
      >
        <div class="import-form__hdr" role="button" @click="showImportForm = false">
          <img
            src="/_all/my/arrow_back.svg"
            width="7"
            height="12"
            style="margin: 0 7px -1px 0"
          >
          {{ form.header }}
        </div>
        <div class="import-form__txt">
          <span v-html="form.text" />
          <template v-if="form.description">
            <a href="#" class="hint" @click.prevent="setHelpHintModal({modal: 'helpHint', text: form.description, title: form.header, open: true, html: true, setMode: true})">
              Подробнее
            </a>
          </template>
        </div>
        <div class="import-form__filedesc">Файл Excel (расширение файла — "xls"):</div>
        <div class="import-form__filefld">
          <label class="btn">
            Прикрепить файл
            <img
              src="/_all/my/paperclip.svg"
              width="16"
              height="18"
              style="margin: 0 0 -4px 12px;"
            >
            <input type="file" :name="form.filename" @change="previewFiles">
          </label>
          <span>{{ selectedFile ? selectedFile : 'Файл не выбран' }}</span>
        </div>
        <button class="btn btn-submit" type="submit" :disabled="selectedFile === null">Обработать файл</button>
      </form>
    </template>
  </mini-pop-over>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import MiniPopOver from '@/components/modal/MiniPopOver'

const initialData = () => {
  return {
    visible: false,
    showImportForm: false,
    selectedFile: null,
    formData: {
      excel2cart: {
        name: 'form_excel2cart',
        action: '/cgi-bin/excel2cart.pl',
        header: 'Добавление товаров в корзину из файла Excel',
        text: 'В первой колонке таблицы Excel должны быть указаны коды товаров в My-shop.ru. <br> Во второй — заказываемые количества. Обрабатывается только первый лист таблицы Excel.',
        filename: 'file_excel2cart'
      },
      excel2excel: {
        name: 'form_excel2excel',
        action: '/cgi-bin/excel2excel.pl',
        header: 'Подстановка кодов товаров в My-shop.ru по кодам ISBN и EAN-13 в таблице Excel',
        text: 'Формат обрабатываемой таблицы Excel: одна строка должна соответствовать одному товару. В первой колонке таблицы Excel должен быть указан код ISBN или EAN-13.',
        description: 'Формат обрабатываемой таблицы Excel: одна строка должна соответствовать одному товару. В первой колонке таблицы Excel должен быть указан код ISBN или EAN-13. Допускается перечисление нескольких кодов ISBN и/или EAN-13 для одного товара через запятую, точку с запятой или пробел. В следующих пяти колонках допускаются произвольные характеристики товара, они не будут обрабатываться, но будут включены в итоговый файл. Обрабатывается только первый лист таблицы Excel. Пустые строки, а также строки без кодов ISBN/EAN игнорируются. <br> В итоговый файл будут добавлены 4 новые колонки: Код в My-shop.ru, Наименование, Наличие, Цена. Если не найдено ни одного товара с указанными кодами ISBN/EAN, соответствующие ячейки в этих колонках останутся пустыми, однако это не означает, что этих товаров нет в My-shop.ru — попробуйте найти их по названиям. Если найдено более одного товара с указанными кодами ISBN/EAN, их коды в My-shop.ru перечисляются через запятую, а следующие три поля не заполняются. Если товара нет в наличии, цена не указывается.',
        filename: 'file_excel2excel'
      }
    },
    form: null
  }
}

export default {
  components: {
    MiniPopOver
  },
  data () {
    return initialData()
  },
  computed: {
    ...mapState(['cart', 'modals'])
  },
  mounted () {
    this.$addEventListeners('keyup', this.closeKeyUp)
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    ...mapActions(['setHelpHintModal']),

    showPopover () {
      this.visible = true
    },
    closePopover () {
      this.visible = false
      this.toggleModal({ name: null })
    },
    previewFiles (event) {
      if (event.target.files.length) {
        this.selectedFile = event.target.files[0].name
      }
    },
    closeKeyUp (event) {
      if (event.which === 27 && this.visible) {
        this.visible = false
        this.selectedFile = null
      }
    },
    openForm (name) {
      this.form = this.formData[name]
      this.showImportForm = true
    }
  }
}
</script>

<style scoped lang="scss">
// Common CSS
.btn {
  color: $myshop-black;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  align-items: center;
  border: 1px solid #dfe2e4;
  border-radius: 8px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
// Common CSS

.title-text {
  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 16px;
  }
}

a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: $myshop-violet;
  @media (max-width: $mobile-width) {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  a {
    margin-bottom: 15px;
  }
}

.import-form {
  &__hdr {
    margin: 15px 20px 15px 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $myshop-black;
    cursor: pointer;
  }
  &__txt {
    margin: 0 20px 0 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $myshop-gray;
  }
  &__filedesc {
    margin: 15px 20px 10px 20px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(85, 100, 109, 0.8);
  }
  &__filefld {
    margin: 0 21px 32px 20px;
    display: flex;
    align-items: baseline;
    .btn {
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
      height: 35px;
      border: none;
      background: rgba(120, 60, 189, 0.15);
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $myshop-violet;
      input {
        display: none;
      }
    }
    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $myshop-gray;
      margin-left: 20px;
    }
  }
}

.btn-submit {
  margin: 0 21px 27px 21px;
  padding-left: 44px;
  padding-right: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 50px;
  background: $myshop-violet;
  color: #FFFFFF;
}

::v-deep .drop {
  max-width: 755px;
  border-radius: 8px;
  @media (max-width: $mobile-width) {
    width: $mobile-width;
  }
  @media (min-width: $desktop-width) {
    width: 755px;
  }
}
.hint {
  background-position: 0 1.25em;
}
</style>
