<template>
  <div class="auth-phone">
    <div class="auth-phone__description">{{ description }}</div>

    <input-text
      :maxlength="18"
      :mask="{ mask: '+7 (999) 999-99-99', autoUnmask: true }"
      label="Телефон"
      :value="value"
      :validations="isValidation"
      message="Пожалуйста, заполните это поле"
      required
      @input="$emit('input', $event)"
    />
    <b-button class="auth-phone__btn" :disabled="!validPhone" @click="loginPhone">Получить код</b-button>
    <b-button class="auth-phone__btn" type="is-white-violet" @click="loginPassword">Войти по паролю</b-button>
    <div class="auth-phone__or">или</div>
    <b-button class="auth-phone__btn" type="is-white-violet" @click="registration">Создать аккаунт как юр. лицо или ИП</b-button>
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'
import { logger } from '@/helpers/util'

export default {
  name: 'AuthPhone',
  components: {
    InputText
  },
  props: {
    description: {
      type: String,
      default: 'Введите номер телефона. Мы пришлём на него код для подтверждения.'
    },
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      isValidation: null
    }
  },
  computed: {
    validPhone () {
      return this.value && this.value.length === 10
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Enter') {
        this.loginPhone()
      }
    })
  },
  methods: {
    loginPhone () {
      if (!this.validPhone) {
        this.isValidation = false
        return
      }

      logger('click', 'enter_popap', { event: 'get_code' })
      this.$api.myUtil.confirmPhoneApi(this.value)
        .then(({ data }) => {
          if (data.status === 'success') {
            this.isValidation = true
            this.$emit('toggle-popup', 'phone-confirm')
          } else {
            this.isValidation = false
            setTimeout(() => {
              this.isValidation = null
            }, 5000)
          }
        })
        .catch((error) => console.error('confirmPhoneApi', error))
    },
    loginPassword () {
      this.$emit('toggle-popup', 'login')
    },
    registration () {
      logger('click', 'enter_popap', { event: 'registration' })
      this.$emit('registration', {})
    }
  }
}
</script>

<style scoped lang="scss">
.auth-phone {
  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
  }

  &__btn {
    width: 100%;
    margin: 16px 0 0;
  }

  &__or {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-gray;
    display: inline-block;
    position: relative;
    margin-top: 16px;

    &:before,
    &:after {
      content: '';
      width: 43%;
      height: 1px;
      background: #E5E7E9;
      position: absolute;
      top: 50%;
    }

    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }

  & ::v-deep input {
    color: #55646D;
  }

  & ::v-deep .field {
    margin: 16px 0 0 !important;
  }

  & ::v-deep input:hover {
    outline: 0;
    border: 1px solid $myshop-violet;

    & + label {
      color: $myshop-violet;
    }
  }
}
</style>
