<template>
  <div class="restore">
    <template v-if="status">
      <div class="restore__description">Мы отправили письмо на ваш электронный адрес. Проверьте вашу почту. Перейдите по ссылке из письма и введите новый пароль.</div>
      <b-button class="restore__btn" @click="$emit('toggle-popup', null)">Хорошо</b-button>
    </template>

    <template v-else>
      <div class="restore__description">Введите ваш email. Мы пришлём на него письмо со ссылкой, пройдя по которой, вы сможете изменить свой пароль.</div>
      <input-text
        v-model="dataForm.email"
        :rules="[ rules.email ]"
        :validations="validations.email"
        :message="errorText || 'Пожалуйста, заполните это поле'"
        maxlength="100"
        name="email"
        label="Email"
        required
      />
      <b-button class="restore__btn" :disable="formSend" @click="submitForm">Отправить</b-button>
    </template>
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'
import { validForm, validEmail } from '@/helpers/util'

export default {
  name: 'AuthRestorePassword',
  components: {
    InputText
  },
  data () {
    return {
      errorText: '',
      status: false,
      formSend: false,
      dataForm: {
        email: ''
      },
      validations: {
        email: null
      },
      rules: {
        email: validEmail
      }
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Enter') {
        this.submitForm()
      }
    })
  },
  methods: {
    submitForm () {
      if (validForm(this.dataForm, this.validations)) {
        this.formSend = true
        this.$api.myUtil.changePassword(this.dataForm)
          .then(({ data }) => {
            if (data.status === 'failed') {
              this.errorText = data.message
              this.validations.email = false
            } else {
              this.status = true
              this.$emit('change-title', 'Письмо отправлено')
            }
            this.formSend = false
          })
      }
    }
  }
}
</script>

<style scoped lang="scss">
.restore {
  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
  }

  &__btn {
    width: 100%;
    margin: 16px 0 0;
  }

  & ::v-deep input {
    color: #55646D;
  }

  & ::v-deep .field {
    margin: 16px 0 0 !important;
  }

  & ::v-deep input:hover {
    outline: 0;
    border: 1px solid $myshop-violet;

    & + label {
      color: $myshop-violet;
    }
  }
}
</style>
