<template>
  <div class="auth">
    <div class="auth__description">{{ description }}</div>
    <div v-if="errorText" class="auth__error" v-html="errorText" />

    <input-text v-model="authForm.email" label="E-mail" name="email" maxlength="100" />
    <input-password v-model="authForm.pass" label="Пароль" name="pass" maxlength="30" />
    <b-button class="auth__btn" :disabled="!authFormValidations" @click="submitAuth">Войти</b-button>
    <b-button class="auth__btn" type="is-white hover-violet" @click="submitRegistration">Зарегистрироваться</b-button>
    <div class="auth__divider" />
    <b-button class="auth__btn" type="is-white-violet" @click="$emit('toggle-popup', 'restore')">Восстановить пароль</b-button>

    <auth-helper />
  </div>
</template>

<script>
import AuthHelper from './AuthHelper'
import InputText from '@/components/ui/InputText'
import InputPassword from '@/components/ui/InputPassword'
import { logger } from '@/helpers/util'

export default {
  name: 'AuthLogin',
  components: {
    InputText,
    InputPassword,
    AuthHelper
  },
  props: {
    description: {
      type: String,
      default: 'Введите email и пароль, чтобы войти или зарегистрироваться.'
    },
    attachPhone: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      errorText: '',
      formSend: false,
      authForm: {
        email: '',
        pass: ''
      }
    }
  },
  computed: {
    authFormValidations () {
      return this.formSend || (this.authForm.email && this.authForm.pass)
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Enter') {
        this.submitAuth()
      }
    })
  },
  methods: {
    submitAuth () {
      this.errorText = ''
      if (this.authFormValidations) {
        logger('click', 'enter_popap', { event: 'enter' })
        this.formSend = true
        const data = { ...this.authForm, ...this.attachPhone }
        this.$api.myUtil.loginUser(data)
          .then(({ data }) => {
            if (data.status === 'failed') {
              this.errorText = data.message
            } else {
              this.$gtmTrack.autoEvent()
              this.$store.dispatch('getClientData')
                .then(({ client }) => {
                  logger('client_id_changed', '-', { old_client_id: 0, new_client_id: client.id })
                  this.$gtmTrack.authUser(client.id)
                  this.$emit('init-user')
                })
                .finally(() => {
                  this.$emit('toggle-popup', null)
                })
            }
            this.formSend = false
          })
      }
    },
    submitRegistration () {
      logger('click', 'enter_popap', { event: 'registration' })
      this.$emit('registration', this.authForm)
    }
  }
}
</script>

<style scoped lang="scss">
.auth {

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
  }

  &__error {
    font-size: 14px !important;
    line-height: 20px !important;
    color: $myshop-red !important;
    padding: 6px 12px;
    background: #FEE1E2;
    border: 1px solid #F9858C;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left !important;
    margin: 16px 0 !important;
  }

  &__btn {
    width: 100%;
    height: 44px !important;
    margin: 16px 0 0 !important;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: #E5E7E9;
    border-radius: 1px;
    margin: 16px 0 0;
  }
}

::v-deep .field {
  margin: 16px 0 0 !important;
}

::v-deep input:hover {
  outline: 0;
  border: 1px solid $myshop-violet;

  & + label {
    color: $myshop-violet;
  }
}
</style>
