<template>
  <div ref="authtop" class="registration">
    <div v-if="errorText" class="registration__error" v-html="errorText" />

    <input-text
      v-model.trim="dataForm.client_3"
      :validations="validations.client_3"
      label="Введите ваш e-mail"
      name="client_3"
      message="Пожалуйста, заполните это поле"
      maxlength="100"
      required
    />
    <input-password
      v-model.trim="dataForm.client_4"
      :validations="validations.client_4"
      label="Задайте пароль"
      name="client_4"
      message="Пожалуйста, заполните это поле"
      maxlength="30"
      required
      @input="$refs.password2.validate()"
    />
    <input-password
      ref="password2"
      v-model.trim="dataForm.client_4_"
      :rules="[ rules.password2 ]"
      :validations="validations.client_4_"
      label="Повторите пароль"
      name="client_4_"
      message="Пожалуйста, заполните это поле"
      maxlength="30"
      required
    />
    <input-text
      v-model.trim="dataForm.client_6"
      :validations="validations.client_6"
      label="Ваше имя"
      name="client_6"
      message="Пожалуйста, заполните это поле"
      maxlength="30"
      required
    />
    <input-text
      v-model.trim="dataForm.client_5"
      :validations="validations.client_5"
      label="Фамилия"
      name="client_5"
      message="Пожалуйста, заполните это поле"
      maxlength="30"
      required
    />
    <input-text
      v-model.trim="dataForm.client_7"
      label="Отчество"
      name="client_7"
      maxlength="30"
    />
    <input-checkbox
      :checked="dataForm.subscribe === 1"
      label="Хочу получать эксклюзивные скидки и информацию об акциях"
      white-space
      @change="dataForm.subscribe = dataForm.subscribe === 1 ? 0 : 1"
    />

    <div v-if="!$route.query.disco" class="registration__change-client">
      <span :class="[ Number(dataForm.client_18) === 0 ? 'down' : 'up' ]" @click="changeClient"> {{ Number(dataForm.client_18) === 0 ? 'Я – представитель юр. лица / ИП' : 'Я – частное лицо' }}</span>
    </div>
    <template v-if="Number(dataForm.client_18) !== 0">
      <input-radio
        :checked="dataForm.client_18 === 1"
        label="Я – представитель юридического лица"
        @change="dataForm.client_18 = 1"
      />
      <input-radio
        :checked="dataForm.client_18 === 2"
        label="Я – индивидуальный предприниматель"
        @change="dataForm.client_18 = 2"
      />
    </template>

    <template v-if="Number(dataForm.client_18) !== 0">
      <input-text
        v-model.trim="dataForm.c53_2"
        :label="Number(dataForm.client_18) === 1 ? 'Наименование организации' : 'ФИО индивидуального предпринимателя'"
        :validations="validations.c53_2"
        name="c53_2"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_3"
        :validations="validations.c53_3"
        label="ИНН"
        name="c53_3"
        message="Пожалуйста, заполните это поле"
        maxlength="12"
        required
      />
      <input-text
        v-show="Number(dataForm.client_18) === 1"
        v-model.trim="dataForm.c53_4"
        :validations="validations.c53_4"
        label="КПП"
        name="c53_4"
        message="Пожалуйста, заполните это поле"
        maxlength="9"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_5"
        :validations="validations.c53_5"
        label="Юридический адрес (полный адрес)"
        name="c53_5"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_23"
        :validations="validations.c53_23"
        label="Почтовый адрес (полный адрес)"
        name="c53_23"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_6"
        :validations="validations.c53_6"
        label="Телефон"
        name="c53_6"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_7"
        :validations="validations.c53_7"
        label="Расчётный счёт"
        name="c53_7"
        message="Пожалуйста, заполните это поле"
        maxlength="20"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_8"
        :validations="validations.c53_8"
        label="Наименование банка"
        name="c53_8"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_9"
        :validations="validations.c53_9"
        label="Город банка"
        name="c53_9"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_10"
        :validations="validations.c53_10"
        label="БИК"
        name="c53_10"
        message="Пожалуйста, заполните это поле"
        maxlength="9"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_11"
        label="Корреспондентский счёт"
        name="c53_11"
        maxlength="20"
      />

      <template v-if="dataForm.c53_25 === 1">
        <div class="field">
          <input-text
            v-model.trim="dataForm.c53_28"
            class="input"
            label="Лицевой счёт"
            name="c53_28"
            maxlength="255"
          />
        </div>

        <div class="field">
          <input-text
            v-model.trim="dataForm.c53_29"
            class="input"
            label="Банковский счёт, входящий в состав ЕКС"
            name="c53_29"
            maxlength="20"
          />
        </div>
      </template>

      <template v-if="Number(dataForm.client_18) === 1">
        <input-checkbox
          :checked="dataForm.c53_25 === 1"
          label="Бюджетная организация"
          @change="dataForm.c53_25 = dataForm.c53_25 === 1 ? 0 : 1"
        />
        <input-checkbox
          :checked="client_co"
          label="Организация-грузополучатель отличается от плательщика"
          white-space
          @change="client_co = !client_co"
        />
      </template>
    </template>

    <template v-if="client_co">
      <input-text
        v-model.trim="dataForm.c53_12"
        :validations="validations.c53_12"
        label="Наименование организации"
        name="c53_12"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_13"
        :validations="validations.c53_13"
        label="ИНН"
        name="c53_13"
        message="Пожалуйста, заполните это поле"
        maxlength="12"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_14"
        :validations="validations.c53_14"
        label="КПП"
        name="c53_14"
        message="Пожалуйста, заполните это поле"
        maxlength="9"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_15"
        :validations="validations.c53_15"
        label="Юридический адрес (полный адрес)"
        name="c53_15"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_24"
        :validations="validations.c53_24"
        label="Почтовый адрес (полный адрес)"
        name="c53_24"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_16"
        :validations="validations.c53_16"
        label="Телефон"
        name="c53_16"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_17"
        :validations="validations.c53_17"
        label="Расчётный счёт"
        name="c53_17"
        message="Пожалуйста, заполните это поле"
        maxlength="20"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_18"
        :validations="validations.c53_18"
        label="Наименование банка"
        name="c53_18"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_19"
        :validations="validations.c53_19"
        label="Город банка"
        name="c53_19"
        message="Пожалуйста, заполните это поле"
        maxlength="255"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_20"
        :validations="validations.c53_20"
        label="БИК"
        name="c53_20"
        message="Пожалуйста, заполните это поле"
        maxlength="9"
        required
      />
      <input-text
        v-model.trim="dataForm.c53_21"
        label="Корреспондентский счёт"
        name="c53_21"
        maxlength="20"
      />
    </template>

    <input-button
      :disable="formSend"
      label="Зарегистрироваться"
      @button-click="submitForm"
    />

    <div class="registration__personal-data">
      <div>Нажимая кнопку «Зарегистрироваться», я подтверждаю свою дееспособность, даю согласие на обработку своих персональных данных.</div>
      <a href="/help/35.html" @click.prevent="$emit('helper-personal-data')">Подробнее о защите персональных данных</a>
    </div>
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'
import InputPassword from '@/components/ui/InputPassword'
import InputCheckbox from '@/components/ui/InputCheckbox'
import InputRadio from '@/components/ui/InputRadio'
import InputButton from '@/components/ui/InputButton'
import { logger, validForm } from '@/helpers/util'

const templateClient = {
  client_3: null,
  client_4: null,
  client_4_: null,
  client_5: null,
  client_6: null,
  c53_2: null,
  c53_3: null,
  c53_4: null,
  c53_5: null,
  c53_6: null,
  c53_7: null,
  c53_8: null,
  c53_9: null,
  c53_10: null,
  c53_23: null,
  c53_12: null,
  c53_13: null,
  c53_14: null,
  c53_15: null,
  c53_16: null,
  c53_17: null,
  c53_18: null,
  c53_19: null,
  c53_20: null,
  c53_24: null
}

export default {
  name: 'AuthRegistration',
  components: {
    InputText,
    InputPassword,
    InputCheckbox,
    InputRadio,
    InputButton
  },
  props: {
    email: {
      type: String,
      default: ''
    },
    password: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      errorText: '',
      client_co: false,
      formSend: false,
      dataForm: {
        is_reg: 1,
        is_form_ready: 1,
        subscribe: this.$route.query.disco ? 1 : 0,
        reg_checkbox: 1,
        ...templateClient,
        client_7: '',
        client_18: 0,
        c53_25: 0
      },
      validations: {
        ...templateClient
      },
      rules: {
        counter: value => value.length > 8 || 'Длина пароля должна быть не менее 8 символов',
        password2: value => value === this.dataForm.client_4 || 'Введённые пароли не совпадают'
      }
    }
  },
  computed: {
    dataSend () {
      let data = {}
      Object.keys(this.dataForm).forEach(item => {
        if (this.dataForm[item] !== null && this.dataForm[item] !== '') {
          data = { ...data, [item]: this.dataForm[item] }
        }
      })
      return data
    },
    sortValidations () {
      return Object.keys(this.validations).filter(item => {
        const [name, num] = item.split('_')
        return name !== 'c53' || (this.dataForm.client_18 === 1 && (num < 11 || num === '23')) || (this.dataForm.client_18 === 2 && (num < 11 || num === '23') && num !== '4') || (this.dataForm.client_18 && this.client_co && (num > 11 || num !== '23'))
      })
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Enter') {
        this.submitForm()
      }
    })
    if (this.email) this.dataForm.client_3 = this.email
    if (this.password) {
      this.dataForm.client_4 = this.password
      this.dataForm.client_4_ = this.password
    }
  },
  methods: {
    submitForm () {
      this.errorText = ''
      if (validForm(this.dataForm, this.validations, this.sortValidations)) {
        logger('click', 'registration', {})
        this.formSend = true
        this.$api.myUtil.registrationUser(this.dataSend)
          .then(({ data }) => {
            if (data.status === 'failed') {
              this.errorText = data.message
              this.scroll()
            } else {
              this.$gtmTrack.autoEvent()
              this.$store.dispatch('getClientData')
                .then(({ client }) => {
                  logger('client_id_changed', '-', { old_client_id: 0, new_client_id: client.id })
                  this.$gtmTrack.regEmail({
                    userId: client.id,
                    customerType: client.status,
                    lastName: client.surname,
                    firstName: client.name,
                    midleName: client.patronymic,
                    email: client.email,
                    isSubscribed: this.dataForm.subscribe
                  })
                  this.$emit('registration-complete')
                })
            }
            this.formSend = false
          })
      } else {
        this.scroll()
      }
    },
    changeClient () {
      this.dataForm.client_18 = Number(this.dataForm.client_18) === 0 ? 1 : 0
      this.client_co = false
    },
    scroll () {
      this.$nextTick(() => {
        this.$refs.authtop.scrollIntoView({
          behavior: 'smooth'
        })
      })
    }
  }
}
</script>

<style scoped lang="scss">
.registration {

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
  }

  &__error {
    font-size: 14px !important;
    line-height: 20px !important;
    color: $myshop-red !important;
    padding: 6px 12px;
    background: #FEE1E2;
    border: 1px solid #F9858C;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left !important;
    margin: 16px 0 !important;
  }

  &__personal-data {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $myshop-gray;

    & > a {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: $myshop-violet;
      border-bottom: 1px solid #DFE2E4;
    }
  }

  &__change-client {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;

    & > span {
      border-bottom: 2px dotted $myshop-violet;
      margin: 0 10px 3px;
      padding-right: 25px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.002em;
      color: $myshop-violet;
      cursor: pointer;
    }
    & .down {
      background-position: right center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.41107 6.91009C4.08563 7.23553 4.08563 7.76317 4.41107 8.0886L9.41107 13.0886C9.73651 13.414 10.2641 13.414 10.5896 13.0886L15.5896 8.0886C15.915 7.76317 15.915 7.23553 15.5896 6.91009C15.2641 6.58466 14.7365 6.58466 14.4111 6.91009L10.0003 11.3208L5.58958 6.91009C5.26414 6.58466 4.73651 6.58466 4.41107 6.91009Z' fill='%23783CBD'/%3E%3C/svg%3E%0A");
      background-size: 20px;
    }

    & .up {
      background-position: right center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.41107 13.0899C4.08563 12.7645 4.08563 12.2368 4.41107 11.9114L9.41107 6.9114C9.73651 6.58596 10.2641 6.58596 10.5896 6.9114L15.5896 11.9114C15.915 12.2368 15.915 12.7645 15.5896 13.0899C15.2641 13.4153 14.7365 13.4153 14.4111 13.0899L10.0003 8.67916L5.58958 13.0899C5.26414 13.4153 4.73651 13.4153 4.41107 13.0899Z' fill='%23783CBD'/%3E%3C/svg%3E%0A");
      background-size: 20px;
    }
  }
}
</style>
