<template>
  <div class="phone-confirm">
    <template v-if="isOldClient">
      <div class="phone-confirm__description">Ваш телефон уже использовался в одном из заказов. Если это ваш аккаунт, вы можете в него войти, используя пару email и пароль. Мы привяжем этот телефон к аккаунту, и вы сможете входить по нему.</div>
      <b-button class="phone-confirm__btn" expanded @click="onEnter">Войти</b-button>
      <b-button class="phone-confirm__btn" expanded type="is-basic is-light" @click="onRegistration">Создать новый аккаунт</b-button>
    </template>

    <template v-else>
      <div class="phone-confirm__description">
        Мы отправили вам код подтверждения на номер<br>
        <strong>+7 {{ formatPhone }}</strong> <a href="#" @click.prevent="onChangePhone">Изменить</a>
      </div>
      <input-text
        ref="inputSms"
        v-model="sms"
        :maxlength="4"
        :validations="isValidation"
        :message="errorText"
        name="sms"
        label="Код подтверждения"
        required
      />
      <div v-if="timerPhoneConfirm < 61" class="phone-confirm__description">Отправить повторно через {{ timerPhoneConfirm }} сек.</div>
      <div v-else class="phone-confirm__link" @click="changeSms"><strong>Отправить повторно</strong></div>
      <b-button class="phone-confirm__btn" expanded :disabled="!validSms" @click="onConfirmPhone">Войти</b-button>
    </template>
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'
import { logger } from '@/helpers/util'

export default {
  name: 'AuthPhoneConfirm',
  components: {
    InputText
  },
  props: {
    phone: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      sms: '',
      errorText: '',
      isValidation: null,
      isOldClient: false,
      showConfirmSmsForm: true,
      timerPhoneConfirm: 60
    }
  },
  computed: {
    formatPhone () {
      return this.phone.replace(/(\d{3})(\d{3})(\d{2})(\d{2})/, '($1) $2-$3-$4')
    },
    validSms () {
      return this.sms && this.sms.length === 4
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Enter') {
        this.onConfirmPhone()
      }
    })
    this.startSmsTimer()
    this.$nextTick(() => {
      this.$refs.inputSms.$refs.input.focus()
    })
  },
  methods: {
    startSmsTimer () {
      if (this.timerPhoneConfirm < 1) {
        this.timerPhoneConfirm = 61

        return
      }

      setTimeout(() => {
        this.timerPhoneConfirm--
        this.startSmsTimer()
      }, 1000)
    },
    onConfirmPhone () {
      if (!this.validSms) {
        this.isValidation = false
        return
      }
      logger('click', 'enter_popap', { event: 'enter' })
      this.confirmPhone(this.sms)
    },
    changeSms () {
      if (this.timerPhoneConfirm > 0 && this.timerPhoneConfirm < 60) return // если таймер запущен
      this.confirmPhone()
    },
    onRegistration () {
      this.confirmPhone(this.sms, false)
    },
    onEnter () {
      this.$emit('toggle-popup', 'login')
    },
    onChangePhone () {
      this.sms = ''
      this.$emit('toggle-popup', 'phone')
    },
    confirmPhone (sms = '', check_orders = true) {
      this.$api.myUtil.confirmPhoneApi(this.phone, sms, check_orders)
        .then(({ data }) => {
          const { status, found_in_orders, client } = data
          if (status === 'success') {
            this.isValidation = null
            if (client) this.$store.commit('setClient', client)

            if (found_in_orders) {
              this.isOldClient = true
              this.$emit('code-sms', sms)
              this.$emit('change-title', 'Найден аккаунт')
            } else if (sms) {
                this.$store.dispatch('getClientData')
                  .then(({ client }) => {
                    logger('client_id_changed', '-', { old_client_id: 0, new_client_id: client.id })
                    this.$gtmTrack.regPhone({
                      mobilePhone: '+7' + this.phone,
                      userId: client.id
                    })
                    this.$emit('init-user')
                  })
                  .finally(() => {
                    this.$emit('toggle-popup', null)
                  })
              } else {
                this.sms = null
                this.startSmsTimer()
              }
          } else if (sms) {
              this.isValidation = false
              this.errorText = 'Неверный код. Проверьте правильность ввода'
              setTimeout(() => {
                this.isValidation = null
                this.errorText = ''
              }, 5000)
            }
        })
        .catch((error) => console.error('confirmPhoneApi', error))
    }
  }
}
</script>

<style scoped lang="scss">
.phone-confirm {
  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
  }

  &__btn {
    margin: 16px 0 0;
  }

  &__link {
    margin: 16px 0 0;
    color: $myshop-violet;
    cursor: pointer;
  }

  & ::v-deep input {
    color: #55646D;
  }

  & ::v-deep .field {
    margin: 16px 0 4px !important;
  }

  & ::v-deep input:hover {
    outline: 0;
    border: 1px solid $myshop-violet;

    & + label {
      color: $myshop-violet;
    }
  }
}
</style>
