<template>
  <div @keyup.enter="submitForm">
    <div v-if="errorText" class="auth__error">{{ errorText }}</div>

    <input-text v-model="dataForm.email" label="Введите E-mail или номер заказа" name="email" :validations="validations.email" message="Пожалуйста, заполните это поле" maxlength="100" required style="margin: 30px 0" />
    <input-password v-model="dataForm.pass" label="Ваш пароль" name="pass" :validations="validations.pass" message="Пожалуйста, заполните это поле" maxlength="30" required />
    <input-button label="Войти" :disable="formSend" @button-click="submitForm" />
    <input-button label="Восстановить пароль" text @button-click="$emit('forgot-click')" />
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'
import InputPassword from '@/components/ui/InputPassword'
import InputButton from '@/components/ui/InputButton'
import { logger, validForm } from '@/helpers/util'

export default {
  name: 'LoginBase',
  components: {
    InputText,
    InputPassword,
    InputButton
  },
  props: {
    redirect: {
      type: Boolean,
      default: false
    },
    reload: {
      type: Boolean,
      default: false
    },
    attachPhone: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      errorText: '',
      formSend: false,
      dataForm: {
        email: '',
        pass: ''
      },
      validations: {
        email: null,
        pass: null
      }
    }
  },
  methods: {
    submitForm () {
      this.errorText = ''

      if (validForm(this.dataForm, this.validations)) {
        logger('click', 'enter_popap', { event: 'enter' })
        const { redirect } = this.$route.params

        this.formSend = true
        const data = { ...this.dataForm, ...this.attachPhone }

        this.$api.myUtil.loginUser(data)
          .then(({ data }) => {
            if (data.status === 'failed') {
              this.errorText = data.message
            } else {
              this.$gtmTrack.autoEvent()
              this.$store.dispatch('getClientData')
                .then(({ client }) => {
                  logger('client_id_changed', '-', { old_client_id: 0, new_client_id: client.id })
                  this.$gtmTrack.authUser(client.id)

                  if (this.redirect && redirect) {
                    this.$router.push(redirect, () => {}, () => {})
                  } else if (this.reload) {
                    location.reload()
                  }
                })
                .finally(() => {
                  this.$emit('popup-close')
                })
            }

            this.formSend = false
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.auth {
  &__error {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $myshop-gray;
    margin: 20px 0;
  }

  &__error {
    color: #D32F2F;
  }
}
</style>
