<template>
  <div :class="fieldClasses">
    <auto-complete
      v-if="autocomplete"
      :id="id"
      ref="autocomplete"
      :options="options"
      :option-key="optionKey"
      :label="label"
      :required="required"
      :value="value"
      :maxlength="maxlength"
      :manual="manual"
      :placeholder="placeholder"
      @select="onSelect"
      @input="onInput"
      @focus="onFocus"
      @blur="onBlur"
    >
      <span slot-scope="option">{{ option.value }}</span>
    </auto-complete>

    <template v-else>
      <input
        v-if="type !== 'textarea'"
        :id="id"
        ref="input"
        v-mask="mask"
        :name="name"
        :placeholder="placeholder"
        :value="value"
        :readonly="readonly"
        :maxlength="maxlength"
        type="text"
        class="input field__input"
        @input="onInput"
        @focus="onFocus"
        @blur="onBlur"
      >

      <b-input
        v-else
        :id="id"
        ref="textarea"
        :value="value"
        :maxlength="maxlength"
        :min-h="minH"
        type="textarea"
        @input="onInput"
        @blur="onBlur"
      />

      <label
        v-if="label"
        :for="id"
        :class="{ required }"
      >{{ label }}</label>
    </template>

    <div v-if="info" class="input-info">{{ info }}</div>
    <div v-if="message && validations === false" class="error__message">{{ message }}</div>

    <svg v-if="state" class="icon">
      <use :xlink:href="`#${state}`" />
    </svg>
  </div>
</template>

<script>
import AutoComplete from '@/components/ui/AutoCompleteNewOrder'
import BInput from '@/components/ui/Input'

export default {
  components: {
    AutoComplete,
    BInput
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    state: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ' '
    },
    required: {
      type: Boolean,
      default: false
    },
    validations: {
      type: Boolean,
      default: null
    },
    readonly: {
      type: [String, Boolean],
      default: false
    },
    message: {
      type: String,
      default: ''
    },
    info: {
      type: String,
      default: ''
    },
    maxlength: {
      type: [Number, Boolean],
      default: false
    },
    // v-mask
    mask: {
      type: Object,
      required: false,
      default: () => {}
    },
    // autocomplete options
    autocomplete: { type: Boolean, required: false, default: false },
    options: { type: Array, required: false, default: () => [] },
    optionKey: { type: String, required: false, default: 'key' },
    inputStyle: {
      type: [String, Object, Array],
      default: ''
    },
    inputClass: {
      type: [String, Object, Array],
      default: ''
    },
    field: {
      type: Boolean,
      default: true
    },
    minH: {
      type: Boolean,
      default: false
    },
    manual: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    id () {
      return this.name ? this.name : 'inputText' + parseInt(Math.random() * 10000)
    },
    fieldClasses () {
      return [
        this.state,
        {
          success: this.validations,
          error: this.validations === false,
          field: this.field
        }
      ]
    }
  },
  methods: {
    onInput (value, extra = '') {
      if (typeof value === 'string') {
        this.$emit('input', value, extra)
      } else {
        this.$emit('input', value.target.value)
      }
    },
    onFocus ($event) {
      this.$emit('focus', $event)
    },
    onBlur ($event) {
      this.$emit('blur', $event)
    },
    onSelect ($event, arg) {
      this.$emit('select', $event, arg)
    }
  }
}
</script>

<style scoped lang="scss">
::v-deep label,
::v-deep input,
::v-deep .textarea {
  transition: all 0.2s;
  touch-action: manipulation;
}

::v-deep input {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid $gray-border-color;
  border-radius: $border-radius;
  padding-right: 38px;
  padding-left: 12px;
  cursor: text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: $myshop-black;
  position: relative;
  outline: none;

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  }

  &:focus {
    outline: 0;
    border: 1px solid $myshop-violet;

    & + label {
      color: $myshop-violet;
    }
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::v-deep label {
  font-size: 12px;
  line-height: 21px;
  color: $myshop-gray;
  position: absolute;
  top: -16px;
  left: 12px;
  padding: 2px 4px;
  background: #fff;
  border-radius: $border-radius;
}

::v-deep .textarea + label,
::v-deep input + label {
  cursor: text;
  max-width: 66.66%;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 27px) scale(1.2);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

::v-deep input:focus::-webkit-input-placeholder {
  opacity: 1;
}

::v-deep .textarea:not(:placeholder-shown) + label,
::v-deep .textarea:focus + label,
::v-deep input:not(:placeholder-shown) + label,
::v-deep input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.is-warning,
.error {
  &:after {
    content: ' ';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 10px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.icon {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 18px;
  height: 18px;
}

.is-warning {
  ::v-deep .textarea,
  ::v-deep input {
    border: 1px solid $warning;
  }
  > .icon {
    transform: rotate(180deg);
    color: $warning;
  }
}

.error {
  ::v-deep .textarea,
  ::v-deep input {
    border: 1px solid $danger;
  }

  ::v-deep label {
    color: $danger !important;
  }

  &:after {
    background-image: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Crect width=\'20\' height=\'20\' rx=\'10\' fill=\'%23D32F2F\'/%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M15.0791 5.74581C15.307 5.51801 15.307 5.14866 15.0791 4.92085C14.8513 4.69305 14.482 4.69305 14.2542 4.92085L10 9.17504L5.74581 4.92085C5.51801 4.69305 5.14866 4.69305 4.92086 4.92085C4.69305 5.14866 4.69305 5.51801 4.92086 5.74581L9.17504 10L4.92085 14.2542C4.69305 14.482 4.69305 14.8513 4.92085 15.0791C5.14866 15.307 5.51801 15.307 5.74581 15.0791L10 10.825L14.2542 15.0791C14.482 15.307 14.8513 15.307 15.0791 15.0791C15.307 14.8513 15.307 14.482 15.0791 14.2542L10.825 10L15.0791 5.74581Z\' fill=\'white\'/%3E%3C/svg%3E%0A');
  }

  &__message {
    color: $danger;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
  }
}

.success {
  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 10px;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%233CBD60'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1328 6.18971C15.3962 6.44695 15.4012 6.86903 15.144 7.13245L8.63355 13.7991C8.50236 13.9334 8.32062 14.0062 8.13297 13.9996C7.94533 13.9929 7.76919 13.9075 7.64785 13.7642L4.82493 10.4308C4.58698 10.1499 4.62186 9.7292 4.90283 9.49126C5.1838 9.25331 5.60447 9.28819 5.84242 9.56916L8.19169 12.3432L14.19 6.20088C14.4473 5.93747 14.8694 5.93246 15.1328 6.18971Z' fill='white'/%3E%3C/svg%3E%0A") center;
  }
}

.input-info {
  margin: 5px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: $myshop-gray;
}
</style>
