<template>
  <div class="autocomplete-input">
    <div class="control">
      <b-input
        :id="id"
        ref="input"
        :value="value"
        :maxlength="maxlength"
        type="textarea"
        :placeholder="placeholder"
        @input="onInput"
        @blur="onBlur"
        @focus="onFocus"
        @keyup.native.esc.prevent="isOpen = false"
        @keydown.native.up.prevent="moveUp"
        @keydown.native.down.prevent="moveDown"
        @keydown.native.enter.prevent="onSelect"
      />
      <label
        v-if="label"
        class="label"
        :for="id"
        :class="{ required }"
      >{{ label }}</label>
    </div>

    <div
      v-show="isOpen"
      v-if="options.length"
      data-cy="suggest"
      class="list-wrap"
    >
      <ul class="option-list">
        <li
          v-for="(option, index) in fOptions"
          :key="option[optionKey]"
          :class="{
            'highlighted': index === highlightedPosition
          }"
          class="li"
          @mouseenter="highlightedPosition = index"
          @mousedown="onSelect"
        >
          <slot :value="option.value" />
        </li>
      </ul>

      <div v-if="manual" class="option-footer">Нет правильного варианта? <span class="link option-link" @click="onSetManual">Указать вручную</span></div>
    </div>
  </div>
</template>

<script>
import BInput from '@/components/ui/Input'

export default {
  name: 'AutoComplete',
  components: {
    BInput
  },
  props: {
    options: {
      type: Array,
      required: true
    },
    optionKey: {
      type: String,
      required: true
    },
    inputStyle: {
      type: [String, Object, Array],
      default: ''
    },
    inputClass: {
      type: [String, Object, Array],
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    maxlength: {
      type: [Number, Boolean],
      default: false
    },
    id: {
      type: String,
      required: true
    },
    manual: {
      type: Boolean,
      default: true
    },
    placeholder: {
      type: String,
      default: ' '
    }
  },
  data () {
    return {
      isOpen: false,
      highlightedPosition: 0
    }
  },
  computed: {
    fOptions () {
      return this.options
    }
  },
  methods: {
    onSetManual () {
      this.isOpen = false
    },

    onFocus () {
      this.$emit('focus')
    },

    onBlur () {
      this.isOpen = false
      this.$emit('blur')
    },

    onInput (value) {
      this.highlightedPosition = 0
      this.isOpen = true // !!value - в этом случае не будет нулевого саджеста если что-то ввести в поле, а потом стереть

      this.$emit('input', value, 'input')
    },

    moveDown () {
      if (!this.isOpen) {
        return
      }

      this.highlightedPosition =
        (this.highlightedPosition + 1) % this.fOptions.length
    },

    moveUp () {
      if (!this.isOpen) return

      this.highlightedPosition = this.highlightedPosition - 1 < 0 ? this.fOptions.length - 1 : this.highlightedPosition - 1
    },

    onSelect () {
      const selectedOption = this.fOptions[this.highlightedPosition]
      if (selectedOption === undefined) return

      this.$refs.input.$el.value = selectedOption.value
      this.$refs.input.$el.blur()

      this.$emit('select', selectedOption)
      this.isOpen = false
      this.$emit('input', selectedOption.value, 'select')
    }
  }
}
</script>

<style scoped lang="scss">
.autocomplete-input {
  position: relative;
  flex-basis: 100%;
}

.list-wrap {
  background: #fff;
  margin-top: 2px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 1022;
  box-shadow: 0px 5px 3px rgba($myshop-black, 0.04), 0px 8px 5px rgba($myshop-black, 0.08);
  border-radius: $border-radius;
}

ul.option-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;

  > .li {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    cursor: pointer;
    line-height: 18px;
    padding: 8px 12px;
    transition: background-color .3s;

    &.highlighted {
      background-color: $myshop-lighterblue;
    }
  }
}

.option-footer {
  border-top: 1px solid $gray-border-color;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.option-link {
  cursor: pointer;
}
</style>
