<template>
  <div class="autocomplete">
    <div class="autocomplete__input">
      <textarea
        v-if="isMultilineInput"
        :ref="tagRef"
        type="text"
        :placeholder="isLabel && placeholder ? ' ' : placeholder"
        :value="value"
        maxlength="255"
        @input="onInput($event.target.value);autoHeight(tagRef)"
        @focus="inputFocus(true)"
        @blur="inputFocus(false)"
        @keyup.esc="resetResults"
        @keydown.down.prevent="moveDown"
        @keydown.up.prevent="moveUp"
        @keydown.enter="enterSearch"
      />
      <input
        v-else
        :ref="tagRef"
        type="text"
        :placeholder="isLabel && placeholder ? ' ' : placeholder"
        :value="value"
        maxlength="255"
        @input="onInput($event.target.value)"
        @focus="inputFocus(true)"
        @blur="inputFocus(false)"
        @keyup.esc="resetResults"
        @keydown.down.prevent="moveDown"
        @keydown.up.prevent="moveUp"
        @keydown.enter="enterSearch"
      >
      <label
        v-if="isLabel && placeholder"
        class="autocomplete__label"
      >{{ placeholder }}</label>
      <div v-if="value" class="clear__search" @click="clearInput">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.2559 1.92259C15.5814 1.59715 15.5814 1.06951 15.2559 0.744078C14.9305 0.418641 14.4028 0.418641 14.0774 0.744078L8 6.82149L1.92259 0.744078C1.59715 0.418641 1.06952 0.418641 0.744079 0.744078C0.418642 1.06951 0.418642 1.59715 0.744079 1.92259L6.82149 8L0.744078 14.0774C0.418641 14.4028 0.418641 14.9305 0.744078 15.2559C1.06951 15.5814 1.59715 15.5814 1.92259 15.2559L8 9.17851L14.0774 15.2559C14.4028 15.5814 14.9305 15.5814 15.2559 15.2559C15.5814 14.9305 15.5814 14.4028 15.2559 14.0774L9.17851 8L15.2559 1.92259Z"
            fill="#2A3D48"
          />
        </svg>
      </div>
      <button v-if="!hideIcon" @click="search">
        <slot v-if="$slots.icon" name="icon" />
        <icon-search width="20" height="20" dark class="no-desktop" /> <span>Искать</span>
      </button>
    </div>

    <transition name="fade">
      <div v-if="isFocus" class="autocomplete-list__wrap" :style="cssStyles ? {left: `-${cssStyles.offsetXAutocompleteList.left}px`} : null">
        <slot />
        <div v-if="isIncludesTypes && !isMobile" class="autocomplete-list">
          <div class="autocomplete-list__category-list">
            <ul v-for="(category, key) in searchOptionsFilteredByType" :key="key" class="autocomplete-list__category" :class="{'autocomplete-list__category--first': key === 'other_suggst'}">
              <span class="autocomplete-list__category-title">{{ key === 'other_suggst' ? 'Часто ищут' : catType[key].text }}</span>
              <div class="autocomplete-list__category-list-wrap">
                <template v-for="(option) in category">
                  <li
                    :key="option.uuid"
                    class="autocomplete-list__item"
                    :class="{
                      highlighted: option.uuid === highlightedPosition,
                      checked: checked,
                    }"
                    @mouseleave="highlightedPosition = null"
                    @mouseenter="highlightedPosition = option.uuid"
                    @mousedown="search"
                    v-html="highlight(option.value)"
                  />
                </template>
              </div>
            </ul>
          </div>
        </div>
        <template v-else>
          <ul v-show="searchOptions.length > 0" class="autocomplete__list">
            <template v-for="(option, index) in searchOptions">
              <li
                v-if="option.type && option.id"
                :key="index"
                class="list__category"
                :class="{
                  highlighted: option.uuid === highlightedPosition,
                  checked: checked,
                }"
                @mouseleave="highlightedPosition = null"
                @mouseenter="highlightedPosition = option.uuid"
                @mousedown="search"
              >
                {{ option.value }} &mdash;
                <span>{{ catType[option.type].text }}</span>
              </li>
              <li
                v-else
                :key="index"
                :class="{
                  highlighted: option.uuid === highlightedPosition,
                  checked: checked,
                  delivery: tagRef === 'delivery',
                }"
                data-cy="delivery"
                @mouseleave="highlightedPosition = null"
                @mouseenter="highlightedPosition = option.uuid"
                @mousedown="search"
                v-html="highlight(option.value)"
              />
            </template>
          </ul>
        </template>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import IconSearch from '@/components/icons/IconSearch'

export default {
  components: {
    IconSearch
  },
  props: {
    defaultOptions: {
      type: Array,
      default: () => []
    },
    api: {
      type: String,
      default: ''
    },
    query: {
      type: Object,
      default: () => {}
    },
    placeholder: {
      type: String,
      default: ''
    },
    autoselect: {
      type: Boolean,
      default: false
    },
    autofocus: {
      type: Boolean,
      default: false
    },
    blurfocus: {
      type: Boolean,
      default: false
    },
    autoclear: {
      type: Boolean,
      default: false
    },
    checked: {
      type: Boolean,
      default: false
    },
    tagRef: {
      type: String,
      default: 'search'
    },
    searchValue: {
      type: String,
      default: ''
    },
    hideIcon: {
      type: Boolean,
      default: false
    },
    isLabel: {
      type: Boolean,
      default: false
    },
    isMultilineInput: {
      type: Boolean,
      default: false
    },
    cssStyles: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      value: '',
      highlightedPosition: null,
      highlightText: '',
      searchResults: [],
      focus: false,
      catType: {
        6: {
          text: 'Каталог',
          type: 'catalogue'
        },
        13: {
          text: 'Производитель',
          type: 'producer'
        }
      }
    }
  },
  computed: {
    ...mapState(['isMobile']),
    searchOptions () {
      let results = this.defaultOptions
      if (this.value !== '') {
        if (this.searchResults.length > 0) {
          results = this.searchResults
        }
      }
      /**
       * добавим адишки для уникальности
       */
      const resultWithId = results.map((v, index) => {
        return {
          ...v,
          uuid: `${v.value.replace(/\s/gi, '-')}-${index}`
        }
      })
      /** используем структуру данных двусвязного списка */
      const doubleSinglyListRes = []
      for (let index = 0; index < resultWithId.length; index++) {
        const firstElem = index === 0
        const lastElem = index === resultWithId.length - 1
        const element = resultWithId[index]
        let newElem = {}
        if (firstElem) {
          if (resultWithId.length > 1) {
            newElem = { ...element, nextId: resultWithId[index + 1].uuid, prevId: null }
          } else {
            newElem = { ...element, nextId: null, prevId: null }
          }
        } else if (lastElem) {
          newElem = { ...element, nextId: null, prevId: resultWithId[index - 1].uuid }
        } else {
          newElem = { ...element, nextId: resultWithId[index + 1].uuid, prevId: resultWithId[index - 1].uuid }
        }
        doubleSinglyListRes.push(newElem)
      }
      return doubleSinglyListRes
    },
    searchQuery () {
      return (
        this.api +
        '?' +
        new URLSearchParams({
          ...this.query,
          term: this.value.trimLeft().trimRight()
        }).toString()
      )
    },
    isFocus () {
      return this.autofocus || this.focus
    },
    searchOptionsFilteredByType () {
      return this.searchOptions.reduce((acc, curr) => {
        const hasType = curr.type
        const isIncludeType = Object.keys(acc).includes(curr.type)
        if (isIncludeType) {
          acc[curr.type].push(curr)
        } else if (hasType) {
          acc[curr.type] = [curr]
        } else {
          acc.other_suggst
            ? acc.other_suggst.push(curr)
            : acc.other_suggst = [curr]
        }
        return acc
      }, {})
    },
    isIncludesTypes () {
      return this.searchOptions.some(v => v.type)
    }
  },
  watch: {
    $route () {
      if (this.$route.name !== 'prod-list-search') {
        this.clearInput(false)
      }
    },
    searchValue (val) {
      if (val) {
        this.value = val
      }
    }
  },
  mounted () {
    this.$addEventListeners('keydown', (e) => {
      if (e.key === 'Escape' && this.isFocus) {
        this.$emit('search-close', true)
        this.$refs[this.tagRef].blur()
      }
    })

    if (this.autofocus) {
      setTimeout(() => {
        if (this.$refs[this.tagRef]) this.$refs[this.tagRef].focus()
        if (this.blurfocus) this.$refs[this.tagRef].blur()
      }, 500)
    }
  },
  methods: {
    onInput (value) {
      this.$emit('search-text', value)
      this.value = this.highlightText = value
      value.trimLeft().trimRight().length > 0
        ? this.getData()
        : this.resetResults()
    },
    moveDown () {
      if (this.highlightedPosition === null) {
        this.highlightedPosition = this.searchOptions[0].uuid
      } else {
        const current = this.searchOptions.find(v => v.uuid === this.highlightedPosition)
        const { nextId } = current
        if (nextId) {
          const candidate = this.searchOptions.find(v => v.uuid === nextId)
          this.highlightedPosition = candidate.uuid
          this.completeSelect(candidate.value)
        } else {
          this.highlightedPosition = this.searchOptions[0].uuid
          this.completeSelect(this.searchOptions[0].value)
        }
      }
    },
    moveUp () {
      const current = this.searchOptions.find(v => v.uuid === this.highlightedPosition)
      const { prevId } = current
      if (prevId) {
        const candidatePrev = this.searchOptions.find(v => v.uuid === prevId)
        this.highlightedPosition = candidatePrev.uuid
        this.completeSelect(candidatePrev.value)
      } else {
        const last = this.searchOptions[this.searchOptions.length - 1]
        this.highlightedPosition = last.uuid
        this.completeSelect(last.value)
      }
    },
    search () {
      const highlighted = this.searchOptions.filter(v => v.uuid === this.highlightedPosition)
      const selected = highlighted.length ? highlighted[0] : null

      let select = this.searchOptions[this.highlightedPosition] || selected || null
      const search = (this.highlightText =
        this.value.trimLeft().trimRight() || '')

      if ( select && 'type' in select && 'id' in select) {
        const { type, id } = select
        const cType = this.catType[type].type
        this.$router.push(
          `/shop/${cType}/${id}/sort/a/page/1.html`,
          () => {
            this.$emit('submit-search')
            select = null
            this.value = ''
          },
          () => {
            this.$emit('submit-search')
            select = null
            this.value = ''
          }
        )
      } else {
        this.$emit('search-input', { select, search })
      }

      if (select) {
        this.value = select.value
        this.$emit('search-text', select.value)
      }
      if (this.autoclear) {
        this.value = ''
        this.resetResults()
      }
    },
    clearInput (isFocus = true) {
      this.value = ''
      this.$emit('search-text', '')
      this.searchResults = []
      this.highlightedPosition = null
      this.highlightText = ''
      if (isFocus) this.$refs[this.tagRef].focus()

      if (this.isMultilineInput) {
        this.setInitialHeight(this.tagRef)
      }
    },
    resetResults () {
      if (this.value === '') this.searchResults = []
      this.highlightedPosition = null
    },
    completeSelect (value) {
      if (this.autoselect && this.searchOptions.length > 0) {
        this.value = value
        this.$emit('search-text', value)
      }
    },
    getData () {
      this.$api.searchAutocomplete(this.searchQuery)
        .then(({ data }) => {
          this.searchResults = data.suggest || []
          this.highlightedPosition = null

          this.focus = false
        })
    },
    inputFocus (value) {
      this.focus = value

      if (value) {
        this.$emit('input-focus')
        this.getData()
        this.highlightText = this.value
      } else {
        this.resetResults()
      }
    },
    enterSearch () {
      this.search()
      if (this.tagRef !== 'delivery') this.$refs[this.tagRef].blur()
    },
    highlight (query) {
      if (!this.highlightText) return query
      const text = this.highlightText.replace(/[-[\]{}()*+?.,\\^$|#]/g, '\\$&').toLowerCase().trimLeft().trimRight()
      const textUpper = text.charAt(0).toUpperCase() + text.slice(1)
      const reg = new RegExp(text + '|' + textUpper)
      return query.replace(
        reg,
        (match) => '<span class="highlight">' + match + '</span>'
      )
    },
    autoHeight (ref) {
      const INITIAL_HEIGHT = 20
      this.$refs[ref].style.height = `${INITIAL_HEIGHT}px`
      this.$refs[ref].style.height = (this.$refs[ref].scrollHeight) + 'px'
    },
    setInitialHeight (ref) {
      this.$refs[ref].style.height = '40px'
    }
  }
}
</script>

<style scoped lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.autocomplete {
  display: inline-block;
  width: 100%;
  box-shadow: none;
  border-radius: 8px;
  position: relative;
  background: #fff;
  z-index: 1000;

  & input {
    width: calc(100% - 87px);
    height: 40px;
    padding: 10px 35px 10px 15px;
    border: 2px solid #783cbd;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    float: left;
    color: #2a3d48;
    -webkit-appearance: none;
    font-size: 14px;
    transition: all 0.3s;

    &::placeholder {
      color: rgba(42, 61, 72, 0.5);
    }

    &:active,
    &:focus {
      outline: none;
      border: 2px solid #783cbd;
    }
    &:focus + label,
    &:not(:placeholder-shown) + label {
      transform: translate(0) scale(1);
      cursor: pointer;
      color: #783cbd;
    }
  }

  & textarea {
    font-size: 14px;
    line-height: 20px;

    &:active,
    &:focus {
      outline: none;
      border: 2px solid #783cbd;
    }
  }

  & button {
    width: 87px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    border: none;
    background: #783cbd;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    padding: 10px 16px;
    transition: all 0.3s;

    & span {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      background: #8650c4;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__list {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;

    & li {
      padding: 6px 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #2a3d48;

      &:hover,
      &:active {
        color: #2a3d48;
      }

      & ::v-deep .highlight {
        font-weight: normal;
      }

      &.list__category {
        font-weight: 500;
        text-overflow: initial;
        white-space: normal;
        overflow: visible;

        & > span {
          color: #783cbd;
        }
      }
    }
  }

  &__input {
    height: 40px;
    position: relative;
    padding: 2px;
    border-radius: 8px;
    transition: all 0.3s;

    &:hover {
      background: #ebe2f5;
    }

    &:hover button {
      background: #8650c4;
    }

    &:hover input {
      border: 2px solid #8650c4 !important;
    }
  }

  &__label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #55646d;
    position: absolute;
    top: -10px;
    left: 15px;
    background: #fff;
    padding: 0 5px;
    cursor: text;
    max-width: 66.66%;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translateY(24px) scale(1.2);
    transition: all 0.2s;
    pointer-events: none;
  }
}

.highlighted {
  background: rgba(120, 60, 189, 0.15);
  border-radius: 5px;
  cursor: pointer;
  color: #783cbd !important;
}
.highlighted.checked {
  background: rgba(120, 60, 189, 0.15)
    url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3117 0.92785C10.5586 1.16902 10.5633 1.56472 10.3222 1.81167L4.21865 8.06167C4.09566 8.18761 3.92527 8.25584 3.74936 8.24961C3.57344 8.24337 3.40831 8.16324 3.29455 8.02891L0.648066 4.90391C0.424991 4.6405 0.457688 4.24613 0.721099 4.02305C0.984509 3.79998 1.37888 3.83268 1.60196 4.09609L3.8044 6.69675L9.42786 0.93833C9.66903 0.691375 10.0647 0.686683 10.3117 0.92785Z' fill='%23783CBD'/%3E%3C/svg%3E%0A")
    no-repeat 98%;
}
.clear__search {
  width: 16px;
  height: 16px;
  top: 50%;
  right: 100px;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  transform: translateY(-50%);

  & svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 1;
  }
}

.no-desktop {
  display: none;
}
@media screen and (max-width: 1023px) {
  .no-desktop {
    display: flex;
  }
  .autocomplete {
    & input {
      width: calc(100% - 50px);
    }

    & button {
      width: 50px;
      height: 40px;

      & span {
        display: none;
      }
    }
  }
  .clear__search {
    right: 60px;
  }
}
.autocomplete-list {
  &--layout {
    max-width: 650px;
  }

  &__list {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
  }

  &__item {
    padding: 6px 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #2a3d48;

    &:hover,
    &:active {
      color: #2a3d48;
    }

    & ::v-deep .highlight {
      font-weight: normal;
    }

    &.list__category {
      font-weight: 500;
      text-overflow: initial;
      white-space: normal;
      overflow: visible;

      & > span {
        color: #783cbd;
      }
    }
  }
  &__category-title {
    color: #7f8b91;
    padding: 6px 0;
    text-align: right;
    position: initial;
    width: 120px;
    min-width: 120px;
    @include mq($tablet-width) {
      min-width: initial;
      position: absolute;
      left: -120px;
    }
  }
  &__category-list {
    display: flex;
    //max-width: 533px;
    max-width: calc(var(--searchdrop-width-container));
    flex-direction: column;
    margin: 0 auto;
  }
  &__category-list-wrap {
    max-width: var(--searchdrop-width-container);
  }
  &__category {
    position: relative;
    width: 100%;
    margin: 10px 0;
    order: 2;
    display: flex;
    list-style: none;

    @include mq($tablet-width) {
      display: initial;
    }
    padding: 0;

    &--first {
      order: 1;
    }
  }
}
</style>
