<template>
  <div class="breadcrumbs" data-o="breadcrumbs">
    <div v-for="(subitems, k) in items" :key="k" class="bread-line">
      <span v-if="frontEllip">... / </span>

      <span v-for="(b, i) in subitems" :key="b.href">
        <nuxt-link :to="b.href" class="item" v-html="b.caption" />
        <span v-if="i < subitems.length - 1"> / </span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumbs',
  props: {
    items: {
      type: Array,
      required: true
    },
    frontEllip: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped lang="scss">
.breadcrumbs {
  color: $myshop-gray;
  font-size: 12px;
  line-height: 16px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.bread-line {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.item {
  color: $myshop-gray;
  text-decoration: none;

  &.hilight {
    color: $myshop-black;
    font-weight: 500;
  }

  &:last-child {
    color: $myshop-black;
    margin-bottom: 0;
  }

  &:visited {
    color: $myshop-gray;
  }

  &:hover,
  &:active {
    color: $myshop-violet;
  }
}
</style>
