<template>
  <component
    :is="tag"
    v-bind="$attrs"
    :class="rootClasses"
    :type="nativeType"
    class="button"
    v-on="$listeners"
  >
    <i
      v-if="icon"
      class="icon"
      :class="icon"
    />

    <slot />
  </component>
</template>

<script>
export default {
  name: 'BButtonArrow',
  inheritAttrs: false,
  props: {
    nativeType: {
      type: String,
      default: 'button',
      validator: (value) => ['button', 'submit', 'reset'].includes(value)
    },
    tag: {
      type: String,
      default: 'button'
    },
    icon: {
      type: String,
      default: ''
    }
  },
  computed: {
    rootClasses () {
      return [
        {
          'is-icon': this.icon
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all .3s;
  line-height: 1;
  background-color: #fff; // design: #EBE2F5
  color: $myshop-black;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  padding: 0;

  &:hover,
  &:focus {
    background-color: #fff; // design: #EBE2F5
    color: $myshop-violet;

    > .icon {
      border-color: $myshop-violet;
    }
  }

  > .icon {
    border: solid $myshop-black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transition: border-color .3s;

    &.arrow-up {
      transform: rotate(-135deg);
    }

    &.arrow-right {
      transform: rotate(-45deg);
    }

    &.arrow-down {
      transform: rotate(45deg);
    }

    &.arrow-left {
      transform: rotate(135deg);
    }
  }
}
</style>
