<template>
  <div v-show="scrolled" class="v-btn" @click="$pageScrollUp" />
</template>

<script>
export default {
  data () {
    return {
      scrolled: false
    }
  },
  mounted () {
    this.$addEventListeners('scroll', () => {
      this.scrolled = window.scrollY > (window.innerHeight / 2)
    })
  }
}
</script>

<style scoped lang="scss">
.v-btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 25px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba($myshop-black, 0.04), 0px 4px 32px rgba($myshop-black, 0.32);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s, border-color .3s;
  z-index: 10;

  &:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid $myshop-black;
    border-right: 2px solid $myshop-black;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: $myshop-violet;

    &:after {
      border-top-color: #fff;
      border-right-color: #fff;
    }
  }

  @media (max-width: 767px) {
    width: 48px;
    height: 48px;
    bottom: 140px;
    right: 10px;
  }
}
</style>
