<template functional>
  <button
    class="close"
    type="button"
    aria-label="Close modal"
    :class="[data.class, data.staticClass]"
    v-on="listeners"
  />
</template>

<script>
export default {
  name: 'ButtonClose'
}
</script>

<style lang="scss" scoped>
.close {
  background-color: var(--close-bg-color, #fff);
  border: 0 none;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  z-index: 2;

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    position: absolute;
    left: 9px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--close-color, $myshop-black);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
</style>
