<template>
  <component
    :is="tag"
    v-bind="$attrs"
    :class="rootClasses"
    :type="nativeType"
    class="button"
    v-on="$listeners"
  >
    <i
      v-if="icon"
      class="icon"
      :class="icon"
    >
      <svg width="18" height="18">
        <use :xlink:href="`#${icon}`" />
      </svg>
    </i>

    <span v-if="$slots.default" class="label">
      <slot />
    </span>
  </component>
</template>

<script>
export default {
  name: 'BButton',
  inheritAttrs: false,
  props: {
    size: {
      type: String,
      default: 'is-medium',
      validator: (value) => ['is-medium', 'is-small', 'is-large'].includes(value)
    },
    type: {
      type: String,
      default: 'is-basic'
    },
    expanded: {
      type: Boolean,
      default: false
    },
    nativeType: {
      type: String,
      default: 'button',
      validator: (value) => ['button', 'submit', 'reset'].includes(value)
    },
    tag: {
      type: String,
      default: 'button'
    },
    icon: {
      type: String,
      default: ''
    }
  },
  computed: {
    rootClasses () {
      return [
        this.size,
        this.type,
        {
          'is-expanded': this.expanded,
          'is-icon': this.icon
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: 600;
  border: none;
  outline: none;
  transition: background-color .3s, color .3s, border-color .3s;
  line-height: 1;
  padding: 0;
  user-select: none;

  > .label {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  > .icon {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.is-small {
    height: 36px;

    > .icon {
      margin-right: 9px;
      margin-left: 9px;
    }

    > .label {
      margin-right: 4px;
      margin-left: 4px;
    }
  }

  &.is-medium {
    height: 40px;

    > .icon {
      margin-right: 16px;
      margin-left: 16px;
    }

    > .label {
      margin-right: 16px;
      margin-left: 16px;
    }
  }

  &.is-large {
    height: 46px;

    > .icon {
      margin-right: 20px;
      margin-left: 20px;
    }

    > .label {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  &.is-text {
    background-color: transparent;
  }

  &.is-outline {
    background-color: #fff;
    color: $myshop-violet;
    border: 1px solid $myshop-purple;

    @media (hover) {
      &:hover {
        background-color: $myshop-purple;
      }
    }
  }

  &.is-gray {
    background-color: #48535B;
  }

  &.is-basic {
    background-color: $myshop-violet;

    &.is-light {
      background-color: lighten($myshop-violet, 41%); // design: #EBE2F5
      color: $myshop-violet;

      > .icon {
        &:hover,
        &:focus {
          color: #fff;
        }
      }

      &:hover,
      &:focus {
        color: #fff;
      }
    }

    &.is-std {
      color: #fff;
    }

    &:hover {
      background-color: lighten($myshop-violet, 7%);
    }

    &:focus {
      background-color: lighten($myshop-violet, 10%);
    }
  }

  &.is-expanded {
    width: 100%;
  }

  > .icon + .label {
    margin-left: 0;
  }

  &.is-destructive {
    background-color: $myshop-red;

    &:hover {
      background-color: lighten($myshop-red, 7%);
    }
    &:focus {
      background-color: lighten($myshop-red, 10%);
    }
  }

  &.is-white {
    background-color: #ffffff;
    color: $myshop-black;
    border: 1px solid #E5E7E9;

    &:hover {
      border-color: lighten($myshop-violet, 7%);
      color: $myshop-violet;
    }
    &:focus {
      border-color: lighten($myshop-violet, 10%);
      color: $myshop-violet;
    }
  }

  &.hover-violet {
    &:hover {
      background-color: $myshop-purple;
      color: $myshop-violet;
      border-color: $myshop-purple;
    }
    &:focus {
      background-color: $myshop-purple;
      color: $myshop-violet;
      border-color: $myshop-purple;
    }
    &:disabled,
    &[disabled] {
      background-color: #ffffff !important;
      color: $myshop-black;
      border: 1px solid #E5E7E9;
    }
  }

  &.is-white-violet {
    background-color: #ffffff;
    color: $myshop-violet;

    &:hover {
      background-color: $myshop-purple;
      color: $myshop-violet;
    }
    &:focus {
      background-color: $myshop-purple;
      color: $myshop-violet;
    }
  }

  &.white-violet {
    background-color: #ffffff;
    color: $myshop-violet;
    border: 1px solid $myshop-violet;

    &:hover {
      background-color: #ffffff;
      color: $myshop-violet;
    }
    &:focus {
      background-color: #ffffff;
      color: $myshop-violet;
    }
  }

  &.is-primary {
    background-color: $myshop-orange;

    &.is-outline {
      background-color: #fff;
      color: $myshop-orange;
      border: 1px solid $myshop-orange;

      &:hover,
      &:focus {
        background-color: #fff;
        color: lighten($myshop-orange, 5%);
        border-color: lighten($myshop-orange, 5%);
      }
    }

    &:hover {
      background-color: lighten($myshop-orange, 5%);
    }

    &:focus {
      background-color: lighten($myshop-orange, 10%);
    }
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    background-color: #E8EAEB !important;
    color: $myshop-disable !important;

    &:hover {
      background-color: #E8EAEB;
    }
  }
}
</style>
