<template>
  <div
    class="check"
    :class="{ disabled: disabled }"
    role="button"
    tabindex="0"
    @click="clicked"
  >
    <div class="checkbox" :class="{ 'checked': isChecked }">
      <svg class="icon" width="12" height="12">
        <use xlink:href="#is-checked" />
      </svg>
    </div>

    <div v-if="$slots.default" class="text">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Checkbox',
  props: {
    isChecked: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    clicked () {
      if (!this.disabled) {
        this.$emit('input', true)
        this.$emit('change', { target: { checked: !this.isChecked } })
      }
    }
  }
}
</script>

<style scoped lang="scss">
.check {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: #fff;
  outline: none;
  cursor: pointer;

  &:hover {
    .text {
      color: $myshop-violet;
    }

    .checkbox {
      box-shadow: 0px 0px 1px 4px #e3e6e7;
    }
  }

  &.disabled {
    opacity: .5;
  }

  .text {
    color: $myshop-black;
    white-space: normal;
    padding-left: 8px;
    margin-top: 1px;
    display: inline-flex;
    align-items: center;
    transition: color .3s;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border: 1px solid #C1C7D0;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  transition: box-shadow .3s;

  &.checked {
    border: none;
    background-color: $myshop-violet;
  }
}

.icon {
  color: #fff;
}
</style>
