<template>
  <vue-select
    :value="value"
    class="dropdown"
    :reduce="reduce"
    :components="{OpenIndicator}"
    :options="options"
    :clearable="clearable"
    :searchable="searchable"
    :placeholder="placeholder"
    @input="$emit('input', $event)"
  >
    <template v-if="mask" #search="{attributes, events}">
      <input
        v-mask="mask"
        class="vs__search"
        v-bind="attributes"
        v-on="events"
      >
    </template>
    <template slot="no-options">-</template>
  </vue-select>
</template>

<script>
import VueSelect from 'vue-select'
import IconArrowAngleDown from '@/components/icons/ArrowAngleDown.vue'

export default {
  components: {
    VueSelect,
    // eslint-disable-next-line vue/no-unused-components
    IconArrowAngleDown
  },
  props: {
    value: {
      type: [String, Number],
      default: null
    },
    options: {
      type: Array,
      required: true
    },
    placeholder: {
      type: String,
      default: null
    },
    clearable: {
      type: Boolean,
      default: false
    },
    searchable: {
      type: Boolean,
      required: false,
      default: true
    },
    reduce: {
      type: Function,
      default: o => o.value
    },
    mask: {
      type: [String, Array, Object],
      default: ''
    }
  },
  data: () => ({
    OpenIndicator: {
      render: () => (IconArrowAngleDown)
    }
  })
}
</script>

<style lang="scss">
$vs-colors: (
  lightest: rgba(60, 60, 60, 0.26),
  light: rgba(60, 60, 60, 0.5),
  dark: #333,
  darkest: rgba(0, 0, 0, 0.15),
) !default;

//  Global Component Variables
$vs-component-bg: none !default;
$vs-component-line-height: 1.4 !default;
$vs-component-placeholder-color: inherit !default;

//  Active State
$vs-state-active-bg: $myshop-lighgray;
$vs-state-active-color: $myshop-violet;

//  Deselect State
$vs-state-deselect-bg: #fb5858 !default;
$vs-state-deselect-color: #fff !default;

//  Disabled State
$vs-state-disabled-bg: rgb(248, 248, 248) !default;
$vs-state-disabled-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-controls-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-cursor: not-allowed !default;

//  Borders
$vs-border-width: 1px !default;
$vs-border-style: solid !default;
$vs-border-radius: 8px;
// $vs-border-color: map_get($vs-colors, 'lightest') !default;
$vs-border-color: #E5E7E9;

//  Component Controls: Clear, Open Indicator
$vs-controls-color: map_get($vs-colors, 'light') !default;
$vs-controls-size: 1 !default;
$vs-controls-deselect-text-shadow: 0 1px 0 #fff !default;

//  Selected
$vs-selected-bg: #f0f0f0 !default;
$vs-selected-border-color: $vs-border-color !default;
$vs-selected-border-style: $vs-border-style !default;
$vs-selected-border-width: $vs-border-width !default;

//  Dropdown
$vs-dropdown-z-index: 1000 !default;
$vs-dropdown-min-width: 160px !default;
$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 0px 3px 6px 0px map_get($vs-colors, 'darkest') !default;
$vs-dropdown-bg: #fff !default;

@import "../../node_modules/vue-select/src/scss/vue-select";

.vs__actions {
  padding: 0;
}

.v-select:hover {
  .vs__dropdown-toggle {
    border-color: #8650C4;
  }

  .vs__open-indicator {
    color: #8650C4;
  }

  .vs__search {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #8650C4;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #8650C4;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #8650C4;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #8650C4;
    }
  }
}

.vs__open-indicator {
  color: #2A3D48;
}

.vs__dropdown-toggle {
  padding: 0 12px;
  min-height: 44px;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: $gray-border-color;
  border-radius: 8px;
}

.vs--single.vs--open .vs__dropdown-toggle {
  padding: 0 12px;
  border-color: #8650C4;
}

.vs--single.vs--open .vs__selected, .vs--single.vs--loading .vs__selected {
  color: #8650C4;
  opacity: 1;
}

.vs__dropdown-menu {
  top: calc(100% + 2px);
  box-shadow: 0 8px 5px rgba(42, 61, 72, 0.04), 0 15px 12px rgba(42, 61, 72, 0.08);
  border-radius: 10px;
}

.vs__search, .vs__search:focus {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  border: none;
}

.vs__selected {
  margin: 0;
  padding: 0;
  min-height: 42px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  border: none;
}

.v-select:hover .vs__selected {
  color: #8650C4;
}

.vs__selected-options {
  padding: 0;
}

.vs__dropdown-option {
  padding: 6px 12px;
  line-height: 20px;
}
</style>
