<template>
  <div>
    <template v-for="(file, idx) in files">
      <div :key="`${file.size}+${idx}`">
        <div v-if="file" class="attach">
          <IconDocument class="icon" />
          <span class="file-name">{{ file.name }}</span>
          <IconDelete class="close" @click.native="deleteFile($event, idx)" />
        </div>
        <div v-if="maxFileSize && file.size > maxFileSize" class="alert">
          <IconError class="icon" />
          <p class="text">
            Загрузите файл до 15 МБ.
          </p>
        </div>
        <div v-if="disallowedExt.includes(getFileExt(file))" class="alert">
          <IconError class="icon" />
          <p class="text">
            Расширение файла .{{ getFileExt(file) }} недоступно для загрузки. Загрузите другой файл
          </p>
        </div>
      </div>
    </template>
    <template v-for="(num, idx) in max">
      <input
        :id="`file${_uid}_${idx}`"
        :key="idx"
        :ref="`file${_uid}_${idx}`"
        class="input"
        type="file"
        @input="onFileInputInput($event,idx)"
      >
    </template>
    <label v-if="files.length < max" :for="currentFileIdx" class="upload-btn">
      <IconCirclePlus />
      <span>Добавить</span>
    </label>
  </div>
</template>

<script>
import IconDocument from '@/components/icons/Document'
import IconCirclePlus from '@/components/icons/CirclePlus'
import IconDelete from '@/components/icons/Delete'
import IconError from '@/components/icons/Error'

export default {
  components: { IconError, IconDelete, IconCirclePlus, IconDocument },
  props: {
    max: {
      type: Number,
      required: false,
      default: 1
    },
    maxFileSize: {
      type: Number,
      required: false,
      default: null
    },
    disallowedExt: {
      type: Array,
      required: false,
      default: () => ['exe', 'bat', 'asp', 'aspx', 'jsp', 'scr', 'vbs', 'cmd', 'php', 'pif', 'com']
    }
  },
  data () {
    return {
      files: []
    }
  },
  computed: {
    currentFileIdx () {
      return `file${this._uid}_${this.files.length}`
    },
    hasDisallowedExt () {
      return this.files.some(file => this.disallowedExt.includes(this.getFileExt(file)))
    },
    hasTooLargeFiles () {
      return this.files.some(file => file.size > this.maxFileSize)
    }
  },
  methods: {
    emitInput () {
      this.$emit('input', { files: this.files, hasDisallowedExt: this.hasDisallowedExt, hasTooLargeFiles: this.hasTooLargeFiles })
    },
    getFileExt (file) {
      const lastDot = file.name.lastIndexOf('.')
      return file.name.substring(lastDot + 1)
    },
    deleteFile ($event, idx) {
      this.files = this.files.filter((el, i) => i !== idx)
      this.emitInput()
    },
    onFileInputInput ($event, idx) {
      const file = this.$refs[`file${this._uid}_${idx}`][0].files[0]
      this.files.push(file)
      this.emitInput()
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 64px;
  margin: 6px 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: $myshop-violet;
  background: rgba(235, 226, 245, 0.5);
  border-radius: 8px;
  transition: background-color 0.15s linear, color 0.10s linear;

  &:hover, &:focus {
    color: white;
    background-color: $myshop-violet;
  }

  span {
    margin-top: 4px;
  }
}

.attach {
  margin: 6px 0;
  padding: 0 12px;
  width: 100%;
  min-height:  48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F5F5F5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  .file-name {
    flex-grow: 1;
    margin-left: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.close {
  cursor: pointer;
  transition: color 0.2s linear;
  --circle-color: white;
  --cross-color: #2A3D48;

  &:hover, &:focus {
    --circle-color: #DE2A35;
    --cross-color: white;
  }
}

.input {
  display: none;
}

.alert {
  margin: 6px 0;
  padding: 8px;
  display: flex;
  color: $myshop-red;
  background-color: #FEE1E2;
  border-radius: 8px;

  .text {
    margin: 0;
    padding-left: 8px;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.icon {
  flex-shrink: 0;
}
</style>
