<template functional>
  <img
    :key="data.key"
    loading="lazy"
    :class="[$style.image, data.class, data.staticClass]"
    :src="props.preview.href[0]"
    :srcset="props.preview.href[1] && `${props.preview.href[1]} 2x`"
    :alt="props.preview.alt"
    :width="props.width"
    :height="props.height"
  >
</template>

<script>
export default {
  name: 'Img',
  props: {
    preview: {
      type: Object,
      default: () => ({
        alt: '',
        href: []
      })
    },
    width: {
      type: String,
      default: ''
    },
    height: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" module>
.image {
  display: block;
  object-fit: contain;
  max-width: 100%;
  height: auto;
  object-position: center;

  &:global(.lazy) {
    &:not([src]) {
      visibility: hidden;
    }
  }
}
</style>
