<template functional>
  <label :ref="data.ref" :class="[$style[props.size], $style.radio, data.class, data.staticClass]">
    <input
      :class="$style.input"
      type="radio"
      :checked="props.checked"
      @change="listeners['change']"
    >

    <span :class="$style.span">
      <span v-html="props.label" />
    </span>
  </label>
</template>

<script>
export default {
  name: 'BRadio',
  props: {
    checked: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: 'is-medium',
      validator: (value) => ['is-medium', 'is-small'].includes(value)
    }
  }
}
</script>

<style lang="scss" module>
.radio {
  display: flex;
  cursor: pointer;

  &.is-small {
    & > .span:before {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  &.is-medium {
    margin-bottom: var(--is-medium-margin-bottom, 15px); // TODO: этого тут не должно быть, надо перенести к родителю

    & > .span:before {
      width: 19px;
      height: 19px;
      margin-right: 11px;
    }
  }

  & > .input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  & > .span {
    display: inline-flex;
    align-items: center;
    // flex-wrap: wrap;
    user-select: none;
    transition: color .3s;

    &:before {
      content: '';
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #D4D8DA;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40% 40%;
      transition: box-shadow .3s;
    }
  }

  & > .input:not(:disabled):not(:checked)+.span:hover {
    color: $myshop-violet;

    &::before {
      box-shadow: 0px 0px 1px 4px #e3e6e7;
    }
  }

  & > .input:not(:disabled):active+.span::before {
    background-color: $myshop-violet;
    border-color: $myshop-violet;
  }

  & > .input:focus:not(:checked)+.span::before {
    border-color: $myshop-violet;
  }

  & > .input:checked+.span::before {
    border-color: $myshop-violet;
    background-color: $myshop-violet;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EOval%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Oval' fill='%23FFFFFF' cx='10' cy='10' r='10'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  }

  & > .input:disabled+.span::before {
    background-color: #e9ecef;
  }
}
</style>
