<template>
  <div class="field" :class="{ success: valid, error: valid === false }">
    <textarea id="inputTextarea" ref="inputTextarea" :style="computedStyles" :placeholder="placeholder" :name="name" :value="value" @input="$emit('input', $event.target.value)" @focus="resize" />
    <label v-if="label" for="inputTextarea" :class="{ required }">{{ label }}</label>
    <div v-if="errorMessage && valid === false" class="error__message">{{ errorMessage }}</div>
  </div>
</template>

<script>
import Input from '@/mixins/Input'

export default {
  mixins: [Input],
  props: {
    autosize: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      val: null,
      maxHeightScroll: false,
      height: 'auto',
      minHeight: 70
    }
  },
  computed: {
    computedStyles () {
      if (!this.autosize) return {}
      return {
        height: this.height
      }
    }
  },
  watch: {
    value () {
      this.$nextTick(this.resize)
    },
    autosize (val) {
      if (val) this.resize()
    }
  },
  mounted () {
    this.resize()
  },
  methods: {
    resize () {
      this.height = 'auto'
      this.$nextTick(() => {
        let contentHeight = this.$refs.inputTextarea.scrollHeight + 1
        if (this.minHeight) {
          contentHeight = contentHeight < this.minHeight ? this.minHeight : contentHeight
        }
        this.height = contentHeight + 'px'
      })
      return this
    }
  }
}
</script>

<style scoped lang="scss">
.field {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 25px 0;
}

label, textarea {
  transition: all 0.2s;
  touch-action: manipulation;
}

textarea {
  background: #FFFFFF;
  border: 1px solid #DFE2E4;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  cursor: text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-black;
  height: 150px;
  resize: none;

  &:focus {
    outline: 0;
    border: 1px solid $myshop-violet;

    & + label {
      color: $myshop-violet;
    }
  }
}

label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: $myshop-gray;
  position: absolute;
  top: -10px;
  left: 15px;
  background: #ffffff;
  padding: 0 5px;
}

textarea + label {
  cursor: text;
  max-width: 66.66%;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 27px) scale(1.2);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

textarea:not(:placeholder-shown) + label,
textarea:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.required:after {
  content: '*';
  color: #ff0000;
  margin-left: 1px;
}

.error {
  textarea {
    border: 1px solid #D32F2F;
  }

  label {
    color: #D32F2F !important;
  }

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 16px;
    background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Crect width=\'20\' height=\'20\' rx=\'10\' fill=\'%23D32F2F\'/%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M15.0791 5.74581C15.307 5.51801 15.307 5.14866 15.0791 4.92085C14.8513 4.69305 14.482 4.69305 14.2542 4.92085L10 9.17504L5.74581 4.92085C5.51801 4.69305 5.14866 4.69305 4.92086 4.92085C4.69305 5.14866 4.69305 5.51801 4.92086 5.74581L9.17504 10L4.92085 14.2542C4.69305 14.482 4.69305 14.8513 4.92085 15.0791C5.14866 15.307 5.51801 15.307 5.74581 15.0791L10 10.825L14.2542 15.0791C14.482 15.307 14.8513 15.307 15.0791 15.0791C15.307 14.8513 15.307 14.482 15.0791 14.2542L10.825 10L15.0791 5.74581Z\' fill=\'white\'/%3E%3C/svg%3E%0A') center;
  }

  &__message {
    color: #D32F2F;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
  }
}

.success {
  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 16px;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%233CBD60'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1328 6.18971C15.3962 6.44695 15.4012 6.86903 15.144 7.13245L8.63355 13.7991C8.50236 13.9334 8.32062 14.0062 8.13297 13.9996C7.94533 13.9929 7.76919 13.9075 7.64785 13.7642L4.82493 10.4308C4.58698 10.1499 4.62186 9.7292 4.90283 9.49126C5.1838 9.25331 5.60447 9.28819 5.84242 9.56916L8.19169 12.3432L14.19 6.20088C14.4473 5.93747 14.8694 5.93246 15.1328 6.18971Z' fill='white'/%3E%3C/svg%3E%0A") center;
  }
}
</style>
