<template>
  <div class="captcha">
    <div v-if="showLabel">
      Введите число, которое вы видите на картинке <span style="color: #ff0000">*</span>
    </div>
    <div class="captcha__image">
      <img :src="captcha.img">
    </div>
    <input-text
      label="Число на картинке"
      type="number"
      name="key"
      :value="value"
      class="captcha__input"
      :validations="validations"
      message="Пожалуйста, заполните это поле"
      :required="required"
      @input="$emit('input', $event)"
    />
    <input
      type="hidden"
      name="hash"
      :value="captcha.hash"
    >
  </div>
</template>

<script>
import InputText from './InputText'

export default {
  components: {
    InputText
  },
  props: {
    value: {
      type: [Number, String],
      default: ''
    },
    validations: {
      type: Boolean,
      default: null
    },
    showLabel: {
      type: Boolean,
      default: true
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      captcha: {
        img: null,
        hash: null
      }
    }
  },
  created () {
    this.$api.myShop.getCaptcha()
      .then(({ data }) => {
        this.captcha = data.meta.captcha
      })
  }
}
</script>

<style scoped lang="scss">
.captcha {
  width: auto;
  background: #FFFFFF;
  border: 5px solid #F6F6F6;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px;
  margin: 25px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-black;

  &__image {
    width: 100%;
    height: 100px;
    background: #F2F2F2;
    border-radius: 8px;
    margin: 15px 0;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }
  }

  &__input {
    margin: 0;
  }
}
</style>
