<template>
  <textarea
    v-if="type === 'textarea'"
    :id="id"
    ref="textarea"
    :maxlength="maxlength"
    :value="computedValue"
    v-bind="$attrs"
    rows="1"
    class="textarea"
    :class="{ 'min-h': minH }"
    :placeholder="placeholder"
    @input="onInput"
    @change="onChange"
    @blur="onBlur"
    @focus="onFocus"
  />
</template>

<script>
export default {
  name: 'BInput',
  inheritAttrs: false,
  props: {
    value: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'textarea'
    },
    validations: {
      type: Boolean,
      default: null
    },
    maxlength: {
      type: [Number, Boolean],
      default: false
    },
    id: {
      type: String,
      required: true
    },
    minH: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: ' '
    }
  },
  computed: {
    computedValue: {
      get () {
        return this.value
      },
      set (value) {
        this.type === 'textarea' && this.textareaResize()
        this.$emit('input', value)
      }
    }
  },
  mounted () {
    this.$addEventListeners('resize', this.onResize)
    this.$nextTick(() => {
      if (this.type === 'textarea') {
        this.$refs.textarea.setAttribute('style', `height: ${this.$refs.textarea.scrollHeight + 2}px`)
      }
    })
  },
  methods: {
    // метод используется так же во вне компонента
    textareaResize () {
      if (this.type === 'textarea') {
        this.$refs.textarea.style.height = 'auto'
        this.$refs.textarea.style.height = `${this.$refs.textarea.scrollHeight + 2}px`
      }
    },

    onBlur ($event) {
      this.$emit('blur', $event)
    },

    onFocus ($event) {
      this.$emit('focus', $event)
    },

    onInput ($event) {
      const value = $event.target.value
      this.updateValue(value)
    },

    onChange ($event) {
      const value = $event.target.value
      this.updateValue(value)
    },

    updateValue (value) {
      this.computedValue = value
    },

    onResize () {
      this.textareaResize()
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  overflow: hidden;
  resize: none;
  margin: 0;
  min-height: 40px;
  max-height: 292px;
  appearance: none;

  display: block;
  max-width: 100%;
  min-width: 100%;

  background: #fff;
  border: 1px solid $gray-border-color;
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: 8px 38px 8px 12px;
  line-height: 20px;
  font-size: 14px;
  color: $myshop-black;

  &:focus {
    outline: 0;
    border: 1px solid $myshop-violet;

    & + label {
      color: $myshop-violet;
    }
  }

  &.min-h {
    min-height: 40px;

    @include mq($md) {
      min-height: 96px;
    }
  }
}
</style>
