<template>
  <button type="button" :class="{ text }" :disabled="disable" @click="$emit('button-click')">
    <div v-if="disable" class="loader" />
    <div v-else>{{ label }}</div>
  </button>
</template>

<script>
export default {
  props: {
    disable: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    text: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
button {
  width: 100%;
  height: 50px;
  border: none;
  background: rgba(120, 60, 189, 0.9);
  box-shadow: 0 4px 15px rgba(120, 60, 189, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.002em;
  color: #FFFFFF;
  cursor: pointer;
  margin: 25px 0;
  outline: none;

  &:disabled {
    background: rgba(120, 60, 189, 0.35);
    cursor: default;
  }

  &.text {
    height: auto;
    background: none;
    box-shadow: none;
    color: #783CBD;
  }
}

.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: loader 0.9s 0.35s ease alternate infinite;
  animation: loader 0.9s 0.35s ease alternate infinite;
  margin: -30px auto 0;
}

.loader:after,
.loader:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: loader 0.9s ease alternate infinite;
  -webkit-animation: loader 0.9s ease alternate infinite;
}

.loader:before {
  left: -20px;
  animation-delay: 0.2s;
}

.loader:after {
  right: -20px;
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    box-shadow: 0 15px 0 -15px #ffffff;
  }
  100% {
    box-shadow: 0 15px 0 #ffffff;
  }
}

@-webkit-keyframes loader {
  0% {
    box-shadow: 0 15px 0 -15px #ffffff;
  }
  100% {
    box-shadow: 0 15px 0 #ffffff;
  }
}
</style>
