<template>
  <div class="file">
    <input :id="name" ref="fileinput" type="file" :name="name" :value="value" class="file__input" @change="uploadFile">
    <label :for="name">
      <slot>
        <div class="file__button">Прикрепить файл</div>
        <div class="file__name">{{ fileName }}</div>
      </slot>
    </label>
    <slot name="info">
      <div :class="{ required }">Файл с расширением {{ ext }} (не более 5 Mb)</div>
    </slot>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'file'
    },
    ext: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      fileName: 'Файл не выбран'
    }
  },
  methods: {
    uploadFile (event) {
      this.fileName = event.target.files.length > 0 ? event.target.files[0].name : 'Файл не выбран'
      const fileSize = event.target.files.length > 0 ? event.target.files[0].size : 0
      this.$emit('input', event.target.value)
      this.$emit('file-size', fileSize)
    }
  }
}
</script>

<style scoped lang="scss">
.file {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-gray;
  margin: 25px 0;
  position: relative;

  label {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
    align-items: center;
    margin: 15px 0;

    @media (max-width: $tablet-width) {
      grid-template-columns: 160px 1fr;
    }
  }

  &__input {
    display: none;
  }

  &__button {
    background: #FFFFFF;
    border: 1px solid #DFE2E4;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
  }

  &__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
}

.required:after {
  content: '*';
  color: #ff0000;
  margin-left: 1px;
}
</style>
