<template>
  <label class="checkbox">
    <input :id="id" ref="input" type="checkbox" :checked="checkedC" :value="inputValue" @change="onChange">
    <span :class="{ label: whiteSpace }">{{ label }}</span>
  </label>
</template>

<script>

import { equals } from 'ramda'

export default {
  props: {
    checked: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: ''
    },
    inputValue: {
      type: [Object, Array, String, Number],
      default: ''
    },
    value: {
      type: [Array],
      default: () => []
    },
    whiteSpace: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    checkedC () {
      return this.checked || this.value.filter(it => equals(it, this.inputValue)).length > 0
    }
  },
  methods: {
    onChange (event) {
      const inputValue = this.inputValue // event.target.value
      this.$emit('change', event)
      if (this.value instanceof Array) {
        let currentValue = [...this.value]
        currentValue = currentValue.filter(it => !equals(it, inputValue))
        if (event.target.checked) {
          currentValue.push(inputValue)
        }
        this.$emit('input', currentValue)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.checkbox {
  display: flex;
  margin-bottom: 15px;

  & > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  & > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(42, 61, 72, 0.8);
    cursor: pointer;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  & > span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #DFE2E4;
    border-radius: 3px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
  }

  /* стили при наведении курсора на checkbox */
  & > input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #783CBD;
  }

  /* стили для активного чекбокса (при нажатии на него) */
  & > input:not(:disabled):active+span::before {
    background-color: #783CBD;
    border-color: #783CBD;
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  & > input:focus:not(:checked)+span::before {
    border-color: #783CBD;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  & > input:checked+span::before {
    border-color: #783CBD;
    background-color: #783CBD;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.81936 2.10434L8.94195 1.18853C8.82165 1.06286 8.67533 1 8.50334 1C8.3312 1 8.18488 1.06286 8.06457 1.18853L3.83226 5.6128L1.93547 3.62623C1.81503 3.50052 1.6688 3.43773 1.49681 3.43773C1.32471 3.43773 1.17849 3.50052 1.05805 3.62623L0.180642 4.54207C0.0601989 4.66776 0 4.82044 0 5.00005C0 5.17952 0.0601989 5.33233 0.180642 5.458L2.51608 7.89564L3.39355 8.81145C3.51393 8.93721 3.6602 9 3.83226 9C4.00424 9 4.15052 8.93705 4.27096 8.81145L5.14841 7.89564L9.81936 3.02023C9.93969 2.89451 10 2.74186 10 2.56225C10.0001 2.38273 9.93969 2.23006 9.81936 2.10434Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  & > input:disabled+span::before {
    background-color: #e9ecef;
  }

  .label {
    white-space: normal;
    align-items: flex-start;
  }
}
</style>
