<template>
  <div class="loader" data-cy="loader">
    <div class="loader-dots">
      <div class="loader-dot" />
      <div class="loader-dot" />
      <div class="loader-dot" />
    </div>
  </div>
</template>

<style scoped lang="scss">
.loader {
  position: fixed ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 99999999;

  &-dots {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-dot {
    margin: 6px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #783CBD;
    transform: scale(0.5);
    animation: scale-dot 1.2s ease-out infinite;
    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.3s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.4s;
    }
    &:nth-of-type(5) {
      animation-delay: 0.5s;
    }
  }
}

@keyframes scale-dot {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.5);
  }
}
</style>
