<template>
  <div v-if="totalProductListPages > 1" ref="paginator" class="pager">
    <div
      class="page-btn-page"
      :class="{ disable: +productListPage === 1 }"
      @click="prevPage"
    >
      <span>Назад</span>
    </div>

    <span class="page-btn" :class="{ active: +productListPage === 1 }" @click="toPage(1)">1</span>
    <span v-if="minVisiblePage - 1 > 1" class="page-btn points">...</span>
    <span v-for="p of visiblePages" :key="p" class="page-btn" :class="{ active: p === +productListPage }" @click="toPage(p)">{{ p }}</span>
    <span v-if="totalProductListPages - maxVisiblePage > 1" class="page-btn points">...</span>
    <span class="page-btn border" :class="{ active: +productListPage === totalProductListPages }" @click="toPage(totalProductListPages)">{{ totalProductListPages }}</span>
    <div
      class="page-btn-page"
      :class="{ disable: +productListPage === totalProductListPages }"
      @click="nextPage"
    >
      <span>Дальше</span>
    </div>
  </div>
</template>

<script>
import { getWindowWidth } from '@/helpers/util'

export default {
  name: 'Paginator',
  props: {
    options: {
      type: Object,
      default: () => ({
        totalPage: 1,
        currentPage: 1
      })
    },
    rows: {
      type: Number,
      default: 30
    }
  },
  data () {
    return {
      windowWidth: getWindowWidth(),
      padding: 120,
      nItems: 3,
      itemWidth: 40
    }
  },
  computed: {
    productsTotal () {
      return this.options.totalPage
    },
    productListPage () {
      return this.options.currentPage
    },
    totalProductListPages () {
      return Math.ceil(this.productsTotal / this.rows)
    },
    visiblePages () {
      // список видимых кнопок с номерами страниц, но не должен содержать первую или последнюю
      let vps = []
      const shft = Math.floor(this.nItems / 2)

      if (+this.productListPage - shft <= 1) {
        const start = 2
        vps = Array(this.nItems).fill().map((_x, i) => start + i)
      } else if (+this.productListPage + shft >= this.totalProductListPages) {
        const start = this.totalProductListPages - this.nItems
        vps = Array(this.nItems).fill().map((_x, i) => start + i)
      } else {
        vps = Array(this.nItems).fill().map((_x, i) => +this.productListPage - shft + i)
      }

      return vps.filter((x) => x > 1 && x < this.totalProductListPages)
    },
    minVisiblePage () {
      return this.visiblePages.length ? this.visiblePages[0] : this.productListPage
    },
    maxVisiblePage () {
      return this.visiblePages.length ? this.visiblePages[this.visiblePages.length - 1] : this.productListPage
    }
  },
  watch: {
    totalProductListPages () {
      this.onResize()
    }
  },
  mounted () {
    this.$addEventListeners('resize', this.onResize)
    this.$nextTick(() => {
      this.onResize()
    })
  },
  methods: {
    nextPage () {
      this.toPage(+(this.productListPage || 1) + 1)
    },
    prevPage () {
      this.toPage(+(this.productListPage || 1) - 1)
    },
    toPage (page) {
      if (page < 1 || page > this.totalProductListPages || isNaN(page)) return
      this.$emit('update:options', { ...this.options, currentPage: page })
    },
    onResize () {
      setTimeout(() => {
        if (this.$refs.paginator) {
          this.windowWidth = this.$refs.paginator.offsetWidth
          this.nItems = this.findNItems(this.windowWidth)
        }
      }, 300)
    },
    findNItems (windowW) {
      const countStaticButtons = 3
      windowW = windowW - this.itemWidth * countStaticButtons - 54 - 49
      let nItems = Math.floor(windowW / this.itemWidth)
      if (nItems % 2 === 0) nItems -= 1
      if (nItems < 1) nItems = 1
      return nItems
    }
  }
}
</script>

<style scoped lang="scss">
.pager {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  align-items: baseline;
  margin-top: 32px;
  max-width: 1140px;
  width: 100%;

  > * {
    width: 40px;
    cursor: pointer;
  }
}
.page-btn-page {
  font-weight: 600;
  &.disable {
    color: #7f8b91;
    cursor: default;
  }
  &:not(.disable):hover {
    color: #8650c4;
  }
  &:first-child{
    margin-right: 9px;
  }
  &:last-child{
    margin-left: 8px;
  }
}
.points{
  cursor: default;
  pointer-events: none;
  @media (max-width: $tablet-width) {
    width: 20px;
  }
}
.page-btn {
  height: 40px;
  padding: 10px 2px;
  text-align: center;
  font-weight: 500;
  &.active {
    background: #783cbd;
    border-radius: 5px;
    color: #ffffff;
    pointer-events: none;
    cursor: default;
  }
  &:not(.active):hover {
    color: #783cbd;
    background: #ebe2f5;
    border-radius: 8px;
    transition: background-color .3s ease-in-out;
  }
}
</style>
