<template>
  <span class="control">
    <select
      v-model="computedValue"
      class="select"
      :class="{ 'active': computedValue !== '00' && computedValue !== '', 'has-label': label }"
      v-bind="$attrs"
      @blur="$emit('blur', $event)"
      @focus="$emit('focus', $event)"
    >
      <template v-if="placeholder">
        <option
          v-if="computedValue === '00' || computedValue === ''"
          :value="null"
          disabled
          hidden
        >{{ placeholder }}</option>
      </template>

      <slot />
    </select>

    <span class="label">{{ placeholder }}</span>
  </span>
</template>

<script>
export default {
  name: 'BSelect',
  inheritAttrs: false,
  props: {
    value: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    label: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      selected: this.value
    }
  },
  computed: {
    computedValue: {
      get () {
        return this.selected
      },
      set (value) {
        this.selected = value
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.control {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 100%;
  width: 100%;

  &:after {
    content: ' ';
    position: absolute;
    border-bottom: 3px solid $myshop-black;
    border-left: 3px solid $myshop-black;
    border-radius: 2px;
    display: block;
    height: 9px;
    margin-top: -6px;
    pointer-events: none;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 9px;
    right: 18px;
    z-index: 2;
  }
}

.select {
  appearance: none;
  background-color: transparent;
  border: 1px solid #DFE2E4;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 30px 15px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2A3D48;
  position: relative;
  outline: none;
  cursor: pointer;
  display: block;
  max-width: 100%;
  width: 100%;
  z-index: 1;

  &:focus {
    background-color: #fff;
  }

  &.has-label.active + .label,
  &.has-label:focus + .label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
    display: block;
    z-index: 1;
  }

  &.active + .label {
    display: none;
  }
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #55646D;
  position: absolute;
  top: -10px;
  left: 15px;
  background: #ffffff;
  padding: 0 5px;
  cursor: pointer;
  max-width: 66.66%;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 27px) scale(1.2);
  transition: all 0.2s;
  touch-action: manipulation;
  z-index: 0;
}
</style>
