<template>
  <div
    class="custom-select"
    :tabindex="tabindex"
    @blur="open = false"
  >
    <div
      class="selected"
      :class="{ open: open }"
      @click="open = !open"
    >
      {{ optText ? selected[optText] : selected }}
    </div>

    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of options"
        :key="i"
        class="item"
        @click="
          selected = option;
          open = false;
          $emit('input', optValue ? option[optValue] : option);
          $emit('change', option);
        "
      >
        {{ optText ? option[optText] : option }}
        <img
          class="img-checkmark"
          src="/_all/my/checkmark.svg"
          width="12"
          height="12"
          :style="{ visibility: (optText ? selected[optText] : selected) === (optText ? option[optText] : option) ? 'visible' : 'hidden' }"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      required: true
    },
    default: {
      type: String,
      default: null
    },
    tabindex: {
      type: Number,
      default: 0
    },
    optText: {
      type: String,
      default: 'text'
    },
    optValue: {
      type: String,
      default: 'value'
    },
    value: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      selected: this.default
        ? this.default
        : this.options.length > 0
          ? this.options[0]
          : null,
      open: false
    }
  },
  watch: {
    value (newV) {
      const selectedDate = this.options.find((v) => {
        if (v.date === newV) { return v }
        return undefined
      })
      if (selectedDate) {
        this.selected = selectedDate
      }
    }
  },
  mounted () {
    this.$emit('input', this.optValue ? this.selected[this.optValue] : this.selected)
  }
}
</script>

<style scoped lang="scss">
$sel-border-color: #E5E7E9;
$sel-height: 40px;

.custom-select {
  position: relative;
  text-align: left;
  outline: none;
  height: $sel-height;
  line-height: $sel-height;
  font-size: 14px;
}

.custom-select .selected {
  background-color: #ffffff;
  height: $sel-height;
  border-radius: 8px;
  border: 1px solid $sel-border-color;
  color: $myshop-black;
  padding-left: 12px;
  cursor: pointer;
  user-select: none;
  transition: border-color .3s;
}

.custom-select .selected.open {
  border: 1px solid $myshop-violet;
  border-radius: 6px 6px 0px 0px;
}

.custom-select .selected:hover {
  border: 1px solid $myshop-violet;
}

.custom-select .selected:after {
  position: absolute;
  content: "";
  top: calc(#{$sel-height} / 2 - 3px);
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: $myshop-black transparent transparent transparent;
}

.custom-select .selected:hover:after {
  border-color: $myshop-violet transparent transparent transparent;
}

.custom-select .items {
  color: $myshop-black;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 3px rgba(42, 61, 72, 0.04), 0px 8px 5px rgba(42, 61, 72, 0.08);
  top: 51px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 12px 0;
}

.custom-select .items div {
  color: $myshop-black;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.custom-select .items img {
  position: absolute;
  right: 1.5em;
  top: 40%;
}

.custom-select .items div:hover {
  background-color: #F4F5F6;
}

.selectHide {
  display: none;
}
</style>
