<template>
  <v-popover :auto-hide="true" v-bind="{ ...$attrs }" :disabled="isMobile">
    <div @click="sharePopupOpen">
      <slot>
        <div class="share-btn">
          <span>Поделиться</span>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9999 11.6668C14.5075 11.6701 14.022 11.7824 13.5782 11.9956C13.1344 12.2088 12.7434 12.5178 12.4332 12.9001L8.18321 10.9418C8.38304 10.3299 8.38304 9.67035 8.18321 9.05847L12.4332 7.10014C12.9346 7.70511 13.6335 8.11354 14.4067 8.25334C15.1798 8.39314 15.9776 8.25533 16.659 7.86423C17.3405 7.47312 17.8619 6.85387 18.1312 6.11576C18.4005 5.37765 18.4004 4.56812 18.131 3.83006C17.8615 3.092 17.34 2.47284 16.6585 2.08186C15.977 1.69088 15.1792 1.55322 14.4061 1.69316C13.6329 1.8331 12.9341 2.24165 12.4328 2.84672C11.9316 3.45178 11.6602 4.21445 11.6665 5.00014C11.6691 5.19867 11.6886 5.39661 11.7249 5.59181L7.32488 7.61681C6.85578 7.15812 6.26175 6.84807 5.61722 6.7255C4.97269 6.60292 4.30631 6.67328 3.70159 6.92775C3.09687 7.18222 2.58068 7.60949 2.21771 8.15602C1.85475 8.70256 1.66113 9.34406 1.66113 10.0001C1.66113 10.6562 1.85475 11.2977 2.21771 11.8443C2.58068 12.3908 3.09687 12.8181 3.70159 13.0725C4.30631 13.327 4.97269 13.3974 5.61722 13.2748C6.26175 13.1522 6.85578 12.8422 7.32488 12.3835L11.7249 14.4085C11.6886 14.6037 11.6691 14.8016 11.6665 15.0001C11.6665 15.6594 11.862 16.3039 12.2283 16.852C12.5946 17.4002 13.1152 17.8274 13.7243 18.0797C14.3334 18.332 15.0036 18.398 15.6502 18.2694C16.2968 18.1408 16.8907 17.8233 17.3569 17.3572C17.8231 16.891 18.1405 16.297 18.2692 15.6504C18.3978 15.0038 18.3318 14.3336 18.0795 13.7245C17.8272 13.1154 17.3999 12.5948 16.8518 12.2286C16.3036 11.8623 15.6592 11.6668 14.9999 11.6668ZM14.9999 3.33347C15.3295 3.33347 15.6518 3.43122 15.9258 3.61436C16.1999 3.79749 16.4135 4.05779 16.5397 4.36233C16.6658 4.66688 16.6988 5.00199 16.6345 5.32529C16.5702 5.64859 16.4115 5.94556 16.1784 6.17865C15.9453 6.41174 15.6483 6.57047 15.325 6.63478C15.0017 6.69909 14.6666 6.66608 14.3621 6.53994C14.0575 6.41379 13.7972 6.20017 13.6141 5.92609C13.431 5.65201 13.3332 5.32977 13.3332 5.00014C13.3332 4.55811 13.5088 4.13419 13.8214 3.82163C14.1339 3.50907 14.5579 3.33347 14.9999 3.33347ZM4.99988 11.6668C4.67025 11.6668 4.34801 11.5691 4.07393 11.3859C3.79985 11.2028 3.58623 10.9425 3.46008 10.6379C3.33394 10.3334 3.30093 9.99829 3.36524 9.67499C3.42955 9.35169 3.58828 9.05472 3.82137 8.82163C4.05446 8.58854 4.35143 8.42981 4.67473 8.3655C4.99803 8.30119 5.33314 8.33419 5.63769 8.46034C5.94223 8.58649 6.20253 8.80011 6.38566 9.07419C6.5688 9.34827 6.66655 9.6705 6.66655 10.0001C6.66655 10.4422 6.49095 10.8661 6.17839 11.1787C5.86583 11.4912 5.44191 11.6668 4.99988 11.6668ZM14.9999 16.6668C14.6702 16.6668 14.348 16.5691 14.0739 16.3859C13.7998 16.2028 13.5862 15.9425 13.4601 15.6379C13.3339 15.3334 13.3009 14.9983 13.3652 14.675C13.4295 14.3517 13.5883 14.0547 13.8214 13.8216C14.0545 13.5885 14.3514 13.4298 14.6747 13.3655C14.998 13.3012 15.3331 13.3342 15.6377 13.4603C15.9422 13.5865 16.2025 13.8001 16.3857 14.0742C16.5688 14.3483 16.6665 14.6705 16.6665 15.0001C16.6665 15.4422 16.491 15.8661 16.1784 16.1787C15.8658 16.4912 15.4419 16.6668 14.9999 16.6668Z" fill="#783CBD" />
          </svg>
        </div>
      </slot>
    </div>
    <div slot="popover" class="share">
      <div class="share-header">
        <div class="share-label">Поделиться</div>
        <a v-close-popover="true" class="share-close">
          <CancelIcon />
        </a>
      </div>
      <div class="share-btns">
        <a v-for="(socialName, i) in shareSocial" :key="i" :href="getShareLink(socialName)" @click.prevent="socialLinkClicked">
          <img :src="'/_all/my/' + socialName + '.svg'" class="share-img">
        </a>
      </div>
      <div class="share-link">
        <label>Ссылка на товар:</label>
        <input id="shareLink" :value="windowLocationHref">
        <button @click="copyToClipboard">Скопировать ссылку</button>
      </div>
    </div>
  </v-popover>
</template>

<script>
import { mapState } from 'vuex'
import { VPopover, VClosePopover } from 'v-tooltip'
import CancelIcon from '@/components/icons/CancelIcon'

export default {
  name: 'ShareButton',
  components: {
    CancelIcon,
    VPopover
  },
  directives: {
    'close-popover': VClosePopover
  },
  props: {
    title: {
      type: String,
      required: true
    },
    text: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      shareSocial: ['facebook', 'vk', 'twitter', 'ok']
    }
  },
  computed: {
    ...mapState(['isMobile']),
    windowLocationHref () {
      return process.client ? document.location.href : ''
    },
    description () {
      return this.text || this.title
    }
  },
  methods: {
    sharePopupOpen () {
      if (navigator.share && window.innerWidth < 1024) {
        navigator.share({
          title: this.title,
          text: this.description,
          url: this.windowLocationHref
        })
        return false
      }
    },
    getShareLink (name) {
      if (name === 'facebook') {
        return `https://www.facebook.com/sharer.php?s=100&p[title]=${this.title}&p[summary]=${this.description}&p[url]=${this.windowLocationHref}`
      }
      if (name === 'vk') {
        return `https://vkontakte.ru/share.php?url=${this.windowLocationHref}&title=${this.title}&description=${this.description}&noparse=true`
      }
      if (name === 'twitter') {
        return `https://twitter.com/intent/tweet?text=${this.title}&url=${this.windowLocationHref}`
      }
      if (name === 'ok') {
        return `https://connect.ok.ru/offer?url=${this.windowLocationHref}&title=${this.title}&imageUrl=${this.image}`
      }
    },
    socialLinkClicked (e) {
      const url = e.currentTarget.href
      window.open(url, url, 'width=626,height=436')
    },
    copyToClipboard () {
      document.getElementById('shareLink').select()
      document.execCommand('copy')
      document.getElementById('shareLink').select()
      window.getSelection().removeAllRanges()
    }
  }
}
</script>

<style scoped lang="scss">
.share {
  margin-top: 15px;
  padding: 16px;
  box-shadow: 0px 8px 5px 0px #2a3d4814, 0px 5px 3px 0px #2a3d480a;
  max-width: 380px;
  background: #ffffff;
  border-radius: 8px;
  z-index: 1000;
  &-header {
    display: flex;
    justify-content: space-between;
  }
  &-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &-img {
    width: 40px;
    height: 40px;
  }
  &-btn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  &-btns {
    margin-bottom: 16px;
    a {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  &-link {
    input {
      background: #ffffff;
      border: 1px solid #e5e7e9;
      box-sizing: border-box;
      border-radius: 8px;
      width: 100%;
      color: #2a3d48;
      padding: 10px 15px;
      max-width: 350px;
      margin-top: 8px;
      margin-bottom: 16px;
    }
    button {
      background: #783cbd;
      color: #ffffff;
      padding: 10px 16px;
      border: 1px solid #ebe2f5;
      box-sizing: border-box;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

.v-popover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8650C4;
  display: inline-flex;

  & span {
    margin-right: 8px;
  }
}
</style>
