<template>
  <div class="switch">
    <div class="switch__block">
      <input :id="label" type="checkbox" class="checkbox" :checked="checked" @change="$emit('change', $event.target.checked)">
      <div class="knobs" />
      <div class="layer" />
    </div>
    <label :for="label" class="switch__label">{{ label }}</label>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    label: {
      type: String,
      default: ''
    },
    checked: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
  .switch {
    width: auto;
    display: inline-flex;
    margin: 15px 0 0;
    flex-direction: row;
    align-items: center;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;

    &__block {
      position: relative;
      width: 45px;
      height: 20px;
      margin: 0 10px 0 0;
      overflow: hidden;
      border-radius: 100px;
    }

    &__label {
      color: #2A3D48;
      cursor: pointer;
    }
  }

  .checkbox
  {
    position: relative;
    width: 100%;
    height: 16px;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  .knobs, .layer
  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .knobs
  {
    z-index: 2;
  }

  .layer
  {
    width: 100%;
    background-color: #F2F4F4;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 100px;
  }

  .switch__block .knobs:before
  {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 17.5px;
    height: 17.5px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }

  .switch__block .checkbox:active + .knobs:before
  {
    width: 26px;
    border-radius: 100px;
  }

  .switch__block .checkbox:checked:active + .knobs:before
  {
    margin-left: -13px;
  }

  .switch__block .checkbox:checked + .knobs:before
  {
    content: '';
    left: 26px;
  }

  .switch__block .checkbox:checked ~ .layer
  {
    background-color: #783CBD;
  }
</style>
