<template>
  <textarea ref="textarea" class="textarea" :value="value" :maxlength="maxLength" @input="handleInput" />
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    maxLength: {
      type: [String, Number],
      default: ''
    }
  },
  mounted () {
    // Part of autosize logic
    this.$refs.textarea.setAttribute('style', 'height:' + (this.$refs.textarea.scrollHeight) + 'px;overflow-y:hidden;')
  },
  methods: {
    handleInput ($event) {
      // Input autosize
      const textareaRef = this.$refs.textarea
      textareaRef.style.height = 'auto'
      textareaRef.style.height = (textareaRef.scrollHeight) + 'px'

      this.$emit('input', $event.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  width: 100%;
  height: auto;
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid $gray-border-color;
  border-radius: 8px;
  outline: none;
  resize: none;

  &:hover, &:focus {
    border-color: #8650C4;
  }
}
</style>
