<template>
  <label class="form-fld1" :class="classes">
    <div class="form-label1">{{ label }} <span v-if="required" class="color-red">*</span></div>
    <auto-complete
      v-if="autocomplete"
      ref="ac2"
      :options="options"
      :option-key="optionKey"
      :auto-open="autoOpen"
      input-style="inputStyle"
      :value="value"
      :placeholder="label + (required ? ' *' : '')"
      @select="onAcSelect"
      @input="updateValue"
      @focus="onFocus"
      @blur="onBlur"
    >
      <span slot-scope="option">{{ option.value }}</span>
    </auto-complete>
    <input
      v-else
      v-mask="mask"
      type="text"
      :value="value"
      :placeholder="label + (required ? ' *' : '')"
      :required="required"
      :maxlength="maxlength"
      @input="updateValue"
    >
    <img
      v-if="message"
      src="/_all/my/form-fld-error.svg"
      alt="error"
      class="img-error"
    >
    <img
      v-else-if="validations"
      src="/_all/my/form-fld-ok.svg"
      alt="ok"
      class="img-ok"
    >
    <div v-if="message && message !== true" class="error-text">{{ message }}</div>
  </label>
</template>

<script scoped>

import AutoComplete from '@/components/ui/AutoCompleteNewOrder'

// From Keen-UI

export default {
  components: {
    AutoComplete
  },
  props: {
    label: String,
    mask: Object,
    validations: Boolean,
    message: [String, Boolean],
    maxlength: { type: [String, Number], default: '255' },
    value: { type: [String, Number], default: '' },
    disabled: { type: Boolean, default: false },
    required: { type: Boolean, default: false },
    // autocomplete options
    autocomplete: { type: Boolean, required: false, default: false },
    options: { type: Array, required: false, default: () => [] },
    optionKey: { type: String, required: false, default: 'key' },
    inputStyle: [String, Object, Array],
    inputClass: [String, Object, Array],
    autoOpen: [Boolean]
  },
  data () {
    return {
      isActive: false
    }
  },

  computed: {
    ac2Ref () {
      return this.$refs.ac2 ? this.$refs.ac2 : null
    },
    isEmpty () {
      return this.value === ''
    },
    classes () {
      return [
        { 'is-active': this.isActive }, { 'is-filled': !this.isEmpty }, { 'is-error': this.message }, { 'is-ok': this.validations }
      ]
    }
  },

  created () {
  },

  methods: {
    updateValue (value, extra) {
      if (typeof value === 'string') {
        this.$emit('input', value, extra)
      } else {
        this.$emit('input', value.target.value)
      }
    },
    focus () {
      this.$refs.input.focus()
    },
    onFocus (e) {
      this.isActive = true
      this.$emit('focus', e)
    },
    onBlur (e) {
      this.isActive = false
      this.$emit('blur', e)
    },
    onAcSelect (e, arg) {
      this.$emit('select', e, arg)
    }
  }
}
</script>

<style lang="scss">
.form-fld1 {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid $gray-border-color;
  border-radius: 8px;
  display: inline-flex;
  justify-content: stretch;
  width: 100%;
  min-width: 0;
  padding: 10px;
  &__req {
    border: 1px solid red;
  }
  .error-text {
    position: absolute;
    top: 44px;
    left: 1px;
    color: #DE2A35;
    font-size: 13px;
    line-height: 18px;
  }
  .form-label1 {
    position: absolute;
    background-color: #FFFFFF;
    color: $myshop-gray;
    top: -10px;
    left: -99999px;
    padding: 0 8px;
    z-index: 2;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
  input {
    border: none; /* 1px solid gray */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    width: 100%;
    min-width: 0;
    color: $myshop-black;
    outline: none;
  }
  input::placeholder {
    color: $myshop-gray;
  }
  input:focus::placeholder {
    color: #FFFFFF;
  }
}

.form-fld1:hover {
  border: 1px solid #9363CA;
}

.form-fld1:focus-within {
  border: 1px solid #783CBD;
  filter: drop-shadow(0px 3px 2px rgba(23, 43, 77, 0.04)), drop-shadow(0px 5px 3px rgba(23, 43, 77, 0.08));
  .form-label1 {
    left: 10px;
  }
}

.form-fld1.is-filled {
  .form-label1 {
    left: 10px;
  }
}

.form-fld1.is-error {
  border: 1px solid #DE2A35;
  margin-bottom: 33px;
  .form-label1 {
    color: #DE2A35;
  }
  input {
    color: #DE2A35;
  }
}

.img-ok, .img-error {
  margin-left: 4px;
}

</style>
