<template>
  <label :class="{ 'form-fld1': 1, 'form-fld1__req': !validations }">
    <div class="form-label1">{{ label }}</div>
    <button class="btn btn-prevnext" @click="timeClicked(timeFld, +value - 1)"><ArrowPrevIcon /></button>
    <input
      :key="key"
      v-mask="{ mask: '[9]9', autoUnmask: true }"
      type="text"
      maxlength="2"
      :value="value"
      :placeholder="label"
      @change="timeChanged"
      @blur="timeChanged"
    >
    <button class="btn btn-prevnext" @click="timeClicked(timeFld, +value + 1)"><ArrowNextIcon /></button>
  </label>
</template>

<script>
import ArrowPrevIcon from '@/components/icons/ArrowPrev'
import ArrowNextIcon from '@/components/icons/ArrowNext'

export default {
  components: {
    ArrowNextIcon,
    ArrowPrevIcon
  },
  props: {
    label: {
      type: String,
      default: ''
    },
    timeFld: {
      type: String,
      required: true
    },
    mask: {
      type: Object,
      default: () => {}
    },
    validations: {
      type: Boolean,
      default: false
    },
    isError: {
      type: [String, Boolean],
      default: false
    },
    maxlength: {
      type: [String, Number],
      default: '255'
    },
    value: {
      type: [String, Number],
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    minVal: {
      type: [String, Number],
      default: null
    },
    maxVal: {
      type: [String, Number],
      default: null
    },
    req: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isActive: false,
      key: 1
    }
  },

  computed: {
    isEmpty () {
      return this.value === ''
    },
    classes () {
      return [
        { 'is-active': this.isActive }, { 'is-filled': !this.isEmpty }, { 'is-error': this.isError }, { 'is-ok': this.validations }
      ]
    }
  },

  created () {
  },

  methods: {
    focus () {
      this.$refs.input.focus()
    },
    onFocus (e) {
      this.isActive = true
      this.$emit('focus', e)
    },
    onBlur (e) {
      this.isActive = false
      this.$emit('blur', e)
    },
    timeChanged (e) {
      const [newv] = this.checkMinMax(e.target.value)
      this.$emit('input', newv)
      this.key += 1
      this.$emit('timeclicked', this.timeFld, newv, e)
    },
    timeClicked (f, v) {
      const [newv] = this.checkMinMax(v)
      this.$emit('input', newv)
      this.key += 1
      this.$emit('timeclicked', f, newv, null)
    },
    checkMinMax (v) {
      if (this.minVal !== null && +v < this.minVal) return [this.minVal, false]
      if (this.maxVal !== null && +v > this.maxVal) return [this.maxVal, false]
      return [v, true]
    }
  }
}
</script>

<style lang="scss" scoped>
.form-fld1 {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid $gray-border-color;
  border-radius: 8px;
  display: inline-flex;
  justify-content: stretch;
  width: 100%;
  min-width: 0;
  padding: 10px;
  transition: border-color .3s;

  &__req {
    border: 1px solid red;
  }

  .form-label1 {
    font-size: 12px;
    line-height: 21px;
    color: $myshop-gray;
    position: absolute;
    top: -16px;
    left: 12px;
    padding: 2px 4px;
    background: #fff;
    border-radius: $border-radius;
  }

  input {
    border: none; /* 1px solid gray */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    width: 100%;
    min-width: 0;
    color: $myshop-black;
    outline: none;
    text-align: center;

    &::placeholder {
      color: $myshop-gray;
    }

    &:focus::placeholder {
      color: #FFFFFF;
    }
  }

  &:hover {
    border: 1px solid $myshop-violet;
  }

  &:focus-within {
    border: 1px solid $myshop-violet;
  }

  &.is-error {
    border: 1px solid $myshop-red;
    margin-bottom: 28px;

    .form-label1 {
      color: $myshop-red;
    }

    input {
      color: $myshop-red;
    }
  }
}

.btn-prevnext {
  border: none;

  svg {
    fill: #959EA4;

    &:hover {
      fill: $myshop-violet;
    }
  }

  &:active {
    svg {
      fill: $myshop-violet;
    }
  }
}

.img-ok, .img-error {
  margin-left: 4px;
}
</style>
