<template>
  <input v-mask="mask" class="input" type="text" :value="value" :maxlength="maxLength" @input="$emit('input', $event.target.value)">
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    maxLength: {
      type: [String, Number],
      default: ''
    },
    mask: {
      type: [String, Object, Array],
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  padding: 11px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid $gray-border-color;
  border-radius: 8px;

  &:hover, &:focus {
    border-color: #8650C4;
  }
}
</style>
