<template>
  <form class="activate-cert" @submit.prevent="submitForm">
    <div class="activate-cert__title">Активировать сертификат</div>
    <input-text
      ref="input"
      v-model.trim="code"
      :validations="validations.code"
      :rules="[rules.code]"
      class="activate-cert__input"
      label="Код сертификата"
      name="code"
      :message="messageCustom"
      maxlength="30"
      :required="required"
    />
    <InputButton
      class="activate-cert__button"
      :disable="isPendingReq"
      label="Активировать сертификат"
      @button-click="submitForm"
    />
  </form>
</template>
<script>
import InputText from '@/components/ui/InputText'
import InputButton from '@/components/ui/InputButton.vue'

export default {
  name: 'ActivateCert',
  components: {
    InputText,
    InputButton
  },
  data () {
    return {
      code: '',
      validations: {
        code: null
      },
      rules: {
        code: (value) =>
          value.length > 0 && value.split('').every((v) => Number(v))
      },
      messageCustom: '',
      isPendingReq: false,
      required: false
    }
  },
  methods: {
    async submitForm () {
      this.required = false// сбросим при субмите чтобы обнулить все прошлые состояния
      if (!this.code.length) {
        this.required = true
        this.messageCustom = 'Пожалуйста, заполните поле'
        this.$refs.input.validate()
        return
      }
      this.isPendingReq = true
      const { status, message } = await this.$api.myUtil.setMyCert(this.code).then(({ data }) => data)
      this.isPendingReq = false
      if (status === 'success') {
        this.code = ''
        this.messageCustom = ''
        this.$emit('activate-cert')
      } else {
        this.code = ''
        this.required = true
        this.messageCustom = message || 'Неверный код'
        this.$refs.input.validate()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.activate-cert {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 24px 0;
  }
  &__input {
    margin: 0 0 16px 0;

    @include mq($sm) {
      max-width: 372px;
    }

    ::v-deep .required:after {
      display: none;
    }
  }
  &__button {
    height: 46px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 0;

    &:active{
      transform:scale(0.97);
    }

    @include mq($sm) {
       max-width: 212px;
    }
  }
}

</style>
