<template>
  <nuxt-link v-bind="linkProps">
    <ArrowBack24 class="icon" />
    <span class="text">{{ text }}</span>
  </nuxt-link>
</template>

<script>
import ArrowBack24 from '@/components/icons/ArrowBack24'

export default {
  name: 'Backlink',
  components: {
    ArrowBack24
  },
  props: {
    linkProps: {
      type: Object,
      required: true
    },
    text: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.nuxt-link-active {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 28px;
  color: $myshop-black;

  &:visited {
    color: $myshop-black;
  }
}

.icon {
  fill: #AAB1B6;
  margin-left: -2px;
}

.nuxt-link-active:hover .icon,
.nuxt-link-active:focus .icon {
  fill: $myshop-black;
}

.text {
  margin-left: 10px;
}
</style>
