<template>
  <mini-pop-over :visible="active" :rounded-style="true" @closeclicked="closePopover">
    <template slot="header">
      <img :src="`/_all/my/alert_circle_red.svg`" width="20" height="20" class="img-alert">
      <span class="title">{{ title }}</span>
      <img src="/_all/my/close1.svg" width="15" height="15" class="img-close" role="button" @click="closePopover">
    </template>
    <template slot="buttons">
      <button class="btn btn-cancel" @click="closePopover">Отмена</button>
      <button class="btn btn-confirm" @click="doConfirm">Аннулировать</button>
    </template>
    <template slot="body">
      <slot />
    </template>
  </mini-pop-over>
</template>
<script>

import MiniPopOver from '@/components/modal/MiniPopOver'

const initialData = () => {
  return {
  }
}

export default {
  components: {
    MiniPopOver
  },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    error: {
      type: [Array, String],
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    confirmText: {
      type: String,
      default: ''
    }
  },
  data () {
    return initialData()
  },
  computed: {
  },
  methods: {
    closePopover () {
      this.$emit('close')
    },
    doConfirm () {
      this.$emit('confirm')
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="scss">
.img-alert {
  margin-right: 10px;
}

.img-close {
  position: absolute;
  cursor: pointer;
  right: 0;
}

.pcontainer {
  background-color: rgba(22,22,22, 0.5) !important;
}

::v-deep .header {
  padding: 0 !important;
  height: 24px !important;
  position: relative;
  margin-bottom: 20px;

  &__text {
    width: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #2A3D48;
  }
}

.title {
  margin-right: 40px;
}

::v-deep .body__text {
  font-size: 14px;
  line-height: 20px;
  color: #40515B;
  margin: 0 0 20px !important;
}

::v-deep .btns {
  flex-direction: row !important;
  justify-content: flex-end !important;
  height: auto;
  width: 100%;
  margin: 0 !important;
}

.btns-inner {
  display: flex;
  position: absolute;
  right: 20px;
  margin-top: 10px;
}

.btn-cancel {
  color: $myshop-black;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  flex-grow: 0;
  background: #FFFFFF;
  padding: 9px 12px;
  border: 1px solid $myshop-black;
  border-radius: 8px !important;
}

.btn-confirm {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  flex-grow: 0;
  background: #DE2A35;
  padding: 9px 12px;
  border: 1px solid #DE2A35;
  margin-left: 12px;
  border-radius: 8px !important;
}

::v-deep .drop__inner {
  padding: 20px;
  border-radius: 8px !important;
}

::v-deep .drop {
  border-radius: 20px;
  box-shadow: 0px 8px 5px rgba(23, 43, 77, 0.04), 0px 15px 12px rgba(23, 43, 77, 0.08);
}

</style>
