<template>
  <div class="chat-list">
    <div v-if="!activeCategoryMsg">
      <div
        v-for="(msg, key) in messagesCollection"
        :key="key"
        class="chat-list__item"
        @click.prevent="$emit('input', key)"
      >
        <div class="chat-list__item-content" :data-msg="key">
          <div
            class="chat-list__item-title"
            v-html="key === 'isSystemMessages' ? 'Робот' : 'Служба поддержки'"
          />
          <div
            class="chat-list__item-message"
            v-html="
              key === 'isSystemMessages'
                ? 'Системные сообщения о заказе'
                : 'Задавайте вопросы по заказу'
            "
          />
        </div>
        <ArrowNext />
      </div>
    </div>
    <transition name="fade">
      <div v-if="activeCategoryMsg" class="chat-list__adressant">
        <ArrowBack24 class="chat-list__adressant-backward" @click.prevent.native="$emit('input', '')" />
        <transition name="fade">
          <div v-if="adressantInfo" class="chat-list__adressant-wrap">
            <div class="chat-list__adressant-title">{{ adressantInfo.title }}</div>
            <div class="chat-list__adressant-description">
              {{ adressantInfo.description }}
            </div>
          </div>
        </transition>
      </div>
    </transition>
  </div>
</template>
<script>
import ArrowNext from '@/components/icons/ArrowNext'
import ArrowBack24 from '@/components/icons/ArrowBack24'

export default {
  name: 'ChatList',
  components: {
    ArrowNext,
    ArrowBack24
  },
  props: {
    messagesCollection: {
      type: Object,
      required: true
    },
    activeCategoryMsg: {
      type: String,
      default: ''
    }
  },
  computed: {
    adressantInfo () {
      let title = 'Служба поддержки'
      let description = 'Задавайте вопросы по заказу'
      if (this.activeCategoryMsg === 'isSystemMessages') {
        title = 'Робот'
        description = 'Системные сообщения о заказе'
      }
      return {
        title,
        description
      }
    }
  }
}
</script>
<style lang="scss" scoped>
/* css class for the transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.chat-list {
  list-style-type: none;
  background: #fff;
  width: 100%;

  &__item {
    padding: 18px 0 10px 0;
    border-bottom: 1px solid #e5e7e9;
    cursor: pointer;
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      * {
        color: #8650c4;
      }
      svg {
        fill: #8650c4;
      }
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2a3d48;
  }
  &__item-message {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #55646d;
  }
  &__adressant {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 8px;
    background: #fafafa;
    border-radius: 8px;
  }
  &__adressant-backward {
    cursor: pointer;
    margin-right: 18px;
  }
  &__adressant-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #2a3d48;
  }
  &__adressant-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #55646d;
  }
}
</style>
