<template>
  <form>
    <div class="section">
      <div class="section-header">
        <div class="section-header__title section-title">
          <span class="section-title__text">
            Укажите причину
          </span>
        </div>
      </div>
      <Dropdown v-model="claim.type" :options="claimTypeOptions" :searchable="false" placeholder="Не указана" />
    </div>
    <div class="section">
      <div class="section-header">
        <div class="section-header__title section-title">
          <span class="section-title__text">
            Количество
          </span>
        </div>
      </div>
      <template v-if="claim.type === 1">
        <TextInput :value="claim.quantity" :mask="{mask: '9999 шт.', greedy: false, placeholder: ''}" @input="($event) => claim.quantity = +$event.replace(' шт.', '')" />
      </template>
      <template v-else>
        <Dropdown v-model="claim.quantity" :options="quantityOptions" />
      </template>
    </div>
    <div v-if="claim.type === 2" class="section">
      <div class="section-header">
        <div class="section-header__title section-title">
          <span class="section-title__text">
            Код, артикул или ISBN полученного товара
          </span>
        </div>
      </div>
      <TextInput v-model="claim.product_code" :max-length="20" />
    </div>
    <div class="section">
      <div class="section-header">
        <div class="section-header__title section-title">
          <span v-if="claim.type === 9" class="section-title__text">
            Опишите проблему
          </span>
          <span v-else class="section-title__text">
            Комментарий
          </span>
        </div>
      </div>
      <Textarea v-model="claim.comment" :max-length="2000" />
    </div>

    <div v-if="!isClientIndividualPerson" class="section">
      <div class="section-header">
        <div class="section-header__title section-title">
          <span class="section-title__text">
            Фото акта ТОРГ-2 или претензии на фирменнном бланке
          </span>
          <span class="section-title__files-counter">{{ docFilesCounter }}/1</span>
        </div>
      </div>

      <div class="alert">
        <IconAlert class="icon" />
        <p class="text">
          Прикрепите фото акта ТОРГ-2 или претензии на фирменном бланке.
        </p>
      </div>
      <FileInput :max-file-size="15728640" @input="onDocInput" />
    </div>

    <div v-if="claim.type === 2 || claim.type === 3 || claim.type === 4 || claim.type === 9" class="section">
      <div class="section-header">
        <div class="section-header__title section-title">
          <span class="section-title__text">
            Фотографии, видео или файлы
          </span>
          <span class="section-title__files-counter">{{ photoFilesCounter }}/3</span>
        </div>
        <span class="section-header__subtitle">Добавьте фотографию, файл или видео, которые наиболее точно иллюстрируют вашу проблему.</span>
      </div>

      <FileInput :max="3" :max-file-size="15728640" @input="onFilesInput" />
    </div>

    <BButton :disabled="!isFormValid" style="width: 100%;" @click.prevent="$emit('claim-submit', claim)">Отправить</BButton>
  </form>
</template>

<script>
import Dropdown from '@/components/ui/Dropdown'
import FileInput from '@/components/ui/FileInput.vue'
import TextInput from '@/components/ui/TextInput'
import Textarea from '@/components/ui/Textarea'
import IconAlert from '@/components/icons/Alert'

export default {
  components: {
    IconAlert,
    Dropdown,
    FileInput,
    TextInput,
    Textarea
  },
  props: {
    orderId: {
      type: Number,
      required: true
    },
    product: {
      type: Object,
      required: true
    },
    claims: {
      type: Array,
      required: true
    },
    client: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      photoFilesCounter: 0,
      docFilesCounter: 0,
      claim: {
        order_id: this.orderId,
        product_id: this.product.product_id,
        quantity: 1,
        type: null,
        comment: '',
        product_code: '',
        doc: '',
        'photo-1': null,
        'photo-2': null,
        'photo-3': null
      },
      claimTypeOptions: [
        {
          label: 'Недостача',
          value: 0
        },
        {
          label: 'Получен не тот товар',
          value: 2
        },
        {
          label: 'Излишки',
          value: 1
        },
        {
          label: 'Брак (нетоварный вид)',
          value: 3
        },
        {
          label: 'Брак (скрытый)',
          value: 4
        },
        {
          label: 'Возврат товара надлежащего качества',
          value: 100
        },
        {
          label: 'Прочее',
          value: 9
        }
      ]
    }
  },
  computed: {
    // Клиент - физ. лицо
    isClientIndividualPerson () {
      return this.client.status === 0
    },
    isFormValid () {
      // Если не указан тип претензии
      if (this.claim.type === null) return false
      // Если не указано количество позиций
      if (!this.claim.quantity) return false

      if (this.claim.type === 2) {
        // Нет кода ошибочно присланного товара
        if (!this.claim.product_code) return false
        // Нет хотя бы одной фотографии
        if (!this.claim['photo-1']) return false
      }

      if (this.claim.type === 3 || this.claim.type === 4) {
        // Нет хотя бы одной фотографии
        if (!this.claim['photo-1']) return false
      }

      if (this.claim.type === 9) {
        // Нет комментария
        if (this.claim.comment.length < 1) return false
      }

      // Условия, если клиент не физ. лицо
      if (!this.isClientIndividualPerson) {
        // Нет ТОРГ-2
        if (this.claim.doc === null) return false
      }

      return true
    },
    quantityOptions () {
      return Array.from({ length: this.quantity }, (_, i) => {
        const value = i + 1
        return {
          label: `${value} шт.`,
          value
        }
      })
    },
    /**
     * Считаем возможное количество позиций товара, которое можно добавить в претензии.
     *
     * Ищем претензии с этим товаром и считаем количество позиций использованных в претензиях,
     * затем из числа позиций этого товара в заказе вычитаем полученное число.
     */
    quantity () {
      let num = 0
      num += this.product.quantity
      this.claims.forEach(claim => {
        if (claim.product_id === this.product.product_id) {
          num -= claim.quantity
        }
      })
      return num
    },
    counter () {
      return [this.claim['photo-1'], this.claim['photo-2'], this.claim['photo-3']].reduce((a, b) => b ? 1 + a : a, 0)
    }
  },
  watch: {
    // Обнуляем количество позиций при смене типа претензии
    'claim.type' (newValue, oldValue) {
      if (newValue !== oldValue) {
        this.claim.quantity = 1
      }
    }
  },
  beforeMount () {
    /**
     * Убираем возврат товара из возможных типов жалоб,
     * если клиент не физическое лицо
     */
    if (!this.isClientIndividualPerson) {
      this.claimTypeOptions = this.claimTypeOptions.filter(type => type.value !== 100)
    }
  },
  methods: {
    onDocInput (payload) {
      this.claim.doc = null

      this.docFilesCounter = payload.files.length

      if (!payload.hasDisallowedExt && !payload.hasTooLargeFiles) {
        this.claim.doc = payload.files[0]
      }
    },
    onFilesInput (payload) {
      this.claim['photo-1'] = null
      this.claim['photo-2'] = null
      this.claim['photo-3'] = null

      this.photoFilesCounter = payload.files.length

      if (!payload.hasDisallowedExt && !payload.hasTooLargeFiles) {
        payload.files.forEach((file, idx) => {
          this.claim[`photo-${idx + 1}`] = file
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
  margin-bottom: 16px;
}

.section-header {
  &__title {
    margin-bottom: 6px;
  }
  &__subtitle {
    color: $myshop-disable;
  }
}

.section-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__text {
    display: block;
    color: $myshop-black;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  &__files-counter {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $myshop-disable;
  }
}

.alert {
  margin: 6px 0;
  padding: 8px;
  display: flex;
  color: $myshop-red;
  background-color: #FEE1E2;
  border-radius: 8px;

  .text {
    margin: 0;
    padding-left: 8px;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.icon {
  flex-shrink: 0;
}
</style>
