<template>
  <div>
    <Backlink class="backlink" :link-props="backlinkLinkProps" :text="backlinkText" />
    <slot name="notification" />
    <h1 class="title">{{ title }}</h1>
    <div class="subtitle">{{ subtitle }}</div>
  </div>
</template>

<script>
import Backlink from './Backlink.vue'

export default {
  name: 'PersonalSectionOrderHeader',
  components: { Backlink },
  props: {
    backlinkLinkProps: {
      type: Object,
      required: true
    },
    backlinkText: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.backlink.nuxt-link-active {
  max-width: 926px;
  margin: 0 0 16px;
  display: flex;

  @media (max-width: $tablet-width) {
    margin: 0 0 8px;
  }
}

.title {
  margin: 16px 0 0;
  flex-basis: 100%;
  color: $myshop-black;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;

  @media (max-width: $tablet-width) {
    margin: 8px 0 0;
  }
}

.subtitle {
  margin-top: 4px;
  color: $myshop-grey;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
</style>
