<template>
  <div>
    <header
      v-if="showBtnBack"
      v-show="paymentActive !== null"
      class="header"
    >
      <button class="button" @click="clickBack"><i class="icon arrow-left" /></button>

      <div class="title" v-html="paymentCodes[paymentActive]" />
    </header>

    <div
      v-show="paymentActive !== null"
      id="payment-form"
      ref="paymenthtml"
      class="payment-html"
      style="overflow-y: auto"
    />

    <span v-show="paymentActive === null">
      <header class="header">
        <div class="title">Выберите любой из доступных способов</div>
      </header>

      <div class="payment-pane__paycodes">
        <label
          v-for="frm of computedPaymentIds"
          :key="frm"
          class="label"
          role="button"
          @click.prevent="loadPaymentMethod(frm)"
        >
          <span class="" style="display:flex;align-items:center"><img :src="`/_all/my/payment_${frm}.svg`" style="margin-right: 10px"><span v-html="paymentCodes[frm]" /></span>
        </label>
      </div>
    </span>
  </div>
</template>

<script>
import { paymentCodes } from '@/globals'

export default {
  name: 'OnlinePayment',
  props: {
    paymentIds: {
      type: Array,
      required: true
    },
    orderId: {
      type: Number,
      required: true
    },
    showBtnBack: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      paymentCodes,
      paymentActive: null
    }
  },
  computed: {
    // если в способах оплаты есть "2: 'Банковская карта онлайн'", то в зависимости от ос добавляем google/apple pay
    computedPaymentIds () {
      const ps = this.paymentIds.map(id => '' + id)

      // в случае яндекс-кассы еще покажем Apple/google pay
      const ykassa = '2'
      if (ps.includes(ykassa)) {
        if (this.$device.isIos && !ps.includes('201')) ps.splice(ps.findIndex(item => item === ykassa) + 1, 0, '201')
        if (!this.$device.isIos && !ps.includes('202')) ps.splice(ps.findIndex(item => item === ykassa) + 1, 0, '202')
      }

      return ps
    }
  },
  mounted () {
    const yookassa = document.createElement('script')
    yookassa.setAttribute('src', 'https://yookassa.ru/checkout-widget/v1/checkout-widget.js')
    document.head.appendChild(yookassa)
  },
  methods: {
    clickBack () {
      this.paymentActive = null

      this.$refs.paymenthtml.innerHTML = ''
    },

    initializePaymentDoneObserver () {
      const checkPaymentdone = () => {
        const checkr = fetch('/cgi-bin/api/raiffeisen.pl/get_status_qr', {
          method: 'POST',
          cache: 'no-cache',
          headers: { 'Content-Type': 'application/json;charset=utf-8' },
          body: JSON.stringify({ order: this.orderId })
        })

        return checkr.then(async (r) => {
          if (r.status !== 200) return

          const response = await r.json()

          if (response.status) { // payemnt OK! close popup and reload order
            clearInterval(this.timerId)
            this.timerId = null
            setTimeout(() => { this.$emit('close', true) }, 500)
          } else if (!this.timerId) {
            this.timerId = setInterval(() => { checkPaymentdone() }, 5000)
          }
        })
      }
      this.mobserver = new MutationObserver(() => {
        checkPaymentdone()
      })

      this.mobserver.observe(this.$refs.paymenthtml, { childList: true })
    },

    loadPaymentMethod (paymentId) {
      this.paymentActive = paymentId

      if ('' + paymentId === '7') {
        document.location.href = `/be/order_${this.orderId}/action_1-7`
      } else if (paymentId === '9') {
        /**
         * 'QR-код онлайн'
         * прилетает с бека iframe
         * проверка статуса запускается в iframe с бека, метод: /cgi-bin/api/raiffeisen.pl/get_status_qr
         */

        this.initializePaymentDoneObserver()

        this.$api.myOrder.getPaymentForm({ id: this.orderId, payment_id: paymentId })
          .then(({ data }) => {
            const html = data.html || 'Ошибка при загрузке формы оплаты'
            this.$postscribe(this.$refs.paymenthtml, html)
          })
      } else {
        /**
         * Виджет юкассы
         * @response {number} confirmation_token - токен, который вы получили после создания платежа
         * @response {string} error
         * @response {string} return_url - ссылка на страницу завершения оплаты
         */

        this.$api.myOrder.getPaymentForm({ id: this.orderId, payment_id: paymentId })
          .then(({ data }) => data)
          .then(({ confirmation_token, return_url }) => {
            const checkout = new window.YooMoneyCheckoutWidget({
              confirmation_token,
              return_url,
              customization: {
                colors: {
                  controlPrimary: '#CCCCFF' // Значение цвета в HEX
                }
              },
              error_callback () {}
            })

            checkout.render('payment-form')
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.button {
  margin-right: 8px;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: 28px;
  height: 28px;
  background-color: $myshop-lighgray;

  > .icon {
    border: solid $myshop-black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    &.arraw-right {
      transform: rotate(-45deg);
    }

    &.arrow-left {
      transform: rotate(135deg);
    }
  }
}

.payment-pane__paycodes {
  display: flex;
  flex-direction: column;
}

.label {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-radius: $border-radius;
  border: 1px solid #DFE2E4;

  &:hover {
    border: 1px solid #9363CA;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
</style>
