<template>
  <mini-pop-over :visible="active" :rounded-style="true" @closeclicked="closePopover">
    <template slot="header">
      {{ title }}
      <img src="/_all/my/close1.svg" width="15" height="15" class="img-close" role="button" @click="closePopover">
    </template>
    <template slot="body">
      <h2 class="content__title">Сортировка таблицы</h2>
      <div class="content__text">Чтобы сортировать таблицу, нажмите на название нужного столбца.</div>
      <img class="content__image" src="/_all/helper_image_1.png">
      <h2 class="content__title">Изменение числа заказанных товаров</h2>
      <div class="content__text">Чтобы изменить количество заказанных товаров, введите число в поле для нужного товара в столбце «Заказано».</div>
      <img class="content__image" src="/_all/helper_image_2.png">
      <div class="content__text">Либо используйте меню действий. Оно находится справа от названия столбца.</div>
      <img class="content__image" src="/_all/helper_image_3.png">
      <div class="content__text">Чтобы подтвердить изменения, нажмите на кнопку «Изменить заказ» в левом нижнем углу таблицы.</div>
      <img class="content__image" src="/_all/helper_image_4.png">
      <h2 class="content__title">Копирование товаров в корзину</h2>
      <div class="content__text">Чтобы скопировать заказанные товары, введите необходимое число товаров в столбце «Скопировать в корзину».</div>
      <img class="content__image" src="/_all/helper_image_5.png">
      <div class="content__text">Либо используйте меню действий. Оно находится справа от названия столбца.</div>
      <img class="content__image" src="/_all/helper_image_6.png">
      <div class="content__text">Чтобы подтвердить изменения, нажмите на кнопку «Cкопировать в корзину» в левом нижнем углу таблицы.</div>
      <img class="content__image" src="/_all/helper_image_7.png">
    </template>
  </mini-pop-over>
</template>
<script>

import MiniPopOver from '@/components/modal/MiniPopOver'

const initialData = () => {
  return {
  }
}

export default {
  components: {
    MiniPopOver
  },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    confirmText: {
      type: String,
      default: ''
    }
  },
  data () {
    return initialData()
  },
  computed: {
  },
  watch: {
    active (newv, oldv) {
      if (newv && oldv !== newv) {
        document.documentElement.style.overflow = 'hidden'
        return
      }
      document.documentElement.style.overflow = 'auto'
    }

  },
  methods: {
    closePopover () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="scss">
.content {
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $myshop-black;
    margin: 20px 0 8px;
  }
  &__text {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    margin: 12px 0 20px;
  }
}

.img-close {
  // position: absolute;
  cursor: pointer;
  // right: 20px;
}

.pcontainer {
  background-color: rgba(22,22,22, 0.5) !important;
}

::v-deep .header {
  padding: 0 !important;
  height: auto !important;
  margin-bottom: 16px;

  &__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $myshop-black;
    white-space: initial !important;
  }
}

::v-deep .body__text {
  font-size: 14px;
  line-height: 20px;
  color: #40515B;
  margin: 0 !important;
  overflow-y: scroll;
}

::v-deep .drop__inner {
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 16px 10px;
  @media (min-width: 601px) {
    padding: 16px;
  }
}

::v-deep .drop {
  border-radius: 0 !important;
  max-width: 100vw !important;
  width: 100vw !important;
  @media (min-width: 601px) {
    width: 490px !important;
  }
  transform: none !important;
  bottom: 0 !important;
  top: 0 !important;
  right: 0 !important;
  left: unset !important;
}

</style>
