<template>
  <mini-pop-over
    :visible="active"
    :rounded-style="true"
    not-buttons
    @closeclicked="closePopover"
  >
    <template slot="header">
      {{ title }}
      <img
        src="/_all/my/close1.svg"
        width="15"
        height="15"
        class="img-close"
        role="button"
        @click="closePopover"
      >
    </template>

    <template slot="body">
      <OnlinePayment :payment-ids="paymentIds" :order-id="orderId" />
    </template>
  </mini-pop-over>
</template>

<script>
import { mapActions } from 'vuex'
import MiniPopOver from '@/components/modal/MiniPopOver'
import OnlinePayment from '@/components/layout/PersonalSection/Order/OnlinePayment'

export default {
  name: 'PaymentPopover',
  components: {
    MiniPopOver,
    OnlinePayment
  },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    orderId: {
      type: Number,
      required: true
    },
    paymentIds: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      paymentActive: null
    }
  },
  watch: {
    active () {
      this.toggleModal({ name: this.active })
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    closePopover () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="scss">
.img-close {
  cursor: pointer;
}

.pcontainer {
  background-color: rgba(22,22,22, 0.5) !important;
}

::v-deep .header {
  padding: 0 !important;
  height: auto !important;
  margin-bottom: 16px;
}

::v-deep .header__text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $myshop-black;
  white-space: initial !important;
}

::v-deep .body__text {
  font-size: 14px;
  line-height: 20px;
  color: #40515B;
  margin: 0 !important;
  overflow-y: auto;
}

::v-deep .btns {
  flex-direction: row;
  justify-content: flex-start;
  min-height: auto;
  margin: 12px 0 16px;
  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.btn-cancel {
  color: $myshop-black;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  flex-grow: 0;
  background: #FFFFFF;
  padding: 9px 21px;
  border: 1px solid $myshop-black;
}

.btn-confirm {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  flex-grow: 0;
  background: #DE2A35;
  padding: 9px 21px;
  border: 1px solid #DE2A35;
  margin-left: 12px;
}

::v-deep .drop__inner {
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 16px 10px;
  @media (min-width: 601px) {
    padding: 16px;
  }
}

::v-deep .drop {
  border-radius: 0 !important;
  max-width: 100vw !important;
  width: 100vw !important;
  transform: none !important;
  bottom: 0 !important;
  top: 0 !important;
  right: 0 !important;
  left: unset !important;

  @media (min-width: 601px) {
    width: 490px !important;
  }
}
</style>
