<template>
  <div class="box">
    <template v-if="status.details[product.product_id]">
      <template v-for="(quantity, date, idx) in status.details[product.product_id].date">
        <!-- Если товара нет в наличии (приходит дата 9999-99-99) -->
        <Status v-if="date === '9999-99-99'" :key="idx" color="red" class="status">
          <div v-if="(product.quantity - quantity) !== 0">{{ quantity }} шт — </div>
          <div>Нет в наличии</div>
        </Status>
        <!-- Если товар в наличии -->
        <Status v-else :key="idx" :color="isOnTime(date) ? 'green' : 'orange'" class="status">
          <div class="status-content">
            <div v-if="(product.quantity - quantity) !== 0">{{ quantity }} шт</div>
            <div class="date" v-html="formatDateString(date)" />
          </div>
        </Status>
      </template>
    </template>
    <!-- Если ничего не пришло -->
    <Status v-if="!status.details[product.product_id] && product.quantity > 0" color="gray" class="status">Уточним в теч. часа</Status>
  </div>
</template>

<script>
import Status from '@/components/layout/PersonalSection/Order/Status.vue'

export default {
  components: { Status },
  props: {
    status: {
      type: Object,
      required: true
    },
    product: {
      type: Object,
      required: true
    }
  },
  methods: {
    isOnTime (date) {
      const d1 = new Date(this.status.date_2_normal).getTime()
      const d2 = new Date(date).getTime()
      return d2 <= d1
    },
    formatDateString (v) {
      const date = new Date(v)
      const dayMonth = new Intl.DateTimeFormat('ru-RU', { day: 'numeric', month: 'long' }).format(date)
      const dayOfWeek = new Intl.DateTimeFormat('ru-RU', { weekday: 'short' }).format(date)
      return `${dayMonth},&nbsp;${dayOfWeek.charAt(0).toUpperCase() + dayOfWeek.slice(1)}`
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  display: flex;
  flex-wrap: wrap;
}

.status {
  margin-right: 4px;
  margin-top: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.status-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
</style>
