<template>
  <div class="box">
    <div class="img-box">
      <img
        class="img"
        :src="product.image.preview.href[0]"
        :srcset="product.image.preview.href[1] && `${product.image.preview.href[1]} 2x`"
        :alt="product.image.alt"
      >
    </div>
    <span class="name">{{ product.title }}</span>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: false
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  display: flex;
  align-items: flex-start;
  color: $myshop-black;
}

.img-box {
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img {
  max-width: 48px;
  max-height: 48px;
  object-fit: contain;
}

.name {
  margin: 0 0 0 8px;
  color: $myshop-black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
</style>
