<template>
  <div>
    <div v-if="!selectedClaimId">
      <div v-for="claim in order.list_claims" :key="claim.claim_id" class="claim">
        <div class="claim__link" :class="{'claim__link--active': isOperatorCommentExist(claim.claim_id) }" @click.prevent="clickOnClaim(claim.claim_id)">
          <SectionClaimsProduct class="a" :claim="claim" :product="productById(claim.product_id)" @claim-select="(id) => selectedClaimId = id">
            <IconArrowAngleRight v-if="isOperatorCommentExist(claim.claim_id)" style="min-width: 24px; color: #7F8B91;" />
          </SectionClaimsProduct>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="wrapper">
        <a href="#" @click.prevent="selectedClaimId = null">
          <IconArrowAngleLeft />
        </a>
        <SectionClaimsProduct :claim="claimById(selectedClaimId)" :product="productById(claimById(selectedClaimId).product_id)" @claim-select="() => selectedClaimId = null" />
      </div>
      <div class="comment">
        <p class="comment__headline">Комментарий оператора</p>
        <pre class="comment__content">{{ claimById(selectedClaimId).operator_comment }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
import SectionClaimsProduct from './SectionClaimsProduct.vue'
import IconArrowAngleRight from '@/components/icons/ArrowAngleRight'
import IconArrowAngleLeft from '@/components/icons/ArrowAngleLeft'

export default {
  components: { IconArrowAngleLeft, IconArrowAngleRight, SectionClaimsProduct },
  props: {
    order: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    selectedClaimId: null
  }),
  methods: {
    productById (id) {
      return this.order.components.filter(component => component.product_id === id)[0]
    },
    claimById (id) {
      return this.order.list_claims.filter(claim => claim.claim_id === id)[0]
    },
    isOperatorCommentExist (claimId) {
      return !!this.order.list_claims.filter(claim => claim.claim_id === claimId)[0].operator_comment
    },
    clickOnClaim (claimId) {
      if (this.isOperatorCommentExist(claimId)) {
        this.selectedClaimId = claimId
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.comment {
  margin-top: 16px;
  color: $myshop-black;

  &__headline {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__content {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.claim {
  border-bottom: 1px solid #E5E7E9;

  &:last-child {
    border: none;
  }

  &__link {
    color: $myshop-black;

    &--active {
      cursor: pointer;

      &:hover::v-deep .product__title,
      &:hover::v-deep .product__claim-info-section,
      &:hover::v-deep .product__claim-info-section span,
      &:hover::v-deep .product__claim-status,
      &:hover::v-deep svg {
        color: #8650C4 !important;
      }
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  background: #FAFAFA;
  border-radius: 10px;

  svg {
    margin: 0 12px;
  }
}
</style>
