<template>
  <div class="product">
    <div class="product__inner">
      <div class="product__img">
        <img
          :src="product.image.preview.href[0]"
          :srcset="product.image.preview.href[1] && `${product.image.preview.href[1]} 2x`"
          :alt="product.image.alt"
        >
      </div>
      <div class="product__content">
        <div class="product__title">{{ product.title }}</div>
        <div class="product__claim-info">
          <div class="product__claim-info-section">Причина: <span>{{ claim.type | claimType }}</span></div>
          <div class="product__claim-info-section">Кол-во: <span>{{ claim.quantity }}</span> шт.</div>
        </div>
        <div v-if="solution()" class="product__claim-status" :style="`color: ${solution().color}`">{{ solution().name }}</div>
      </div>
    </div>
    <slot />
  </div>
</template>

<script>
import { ClaimType } from '@/globals'

export default {
  filters: {
    claimType (v) {
      return ClaimType[v].name
    }
  },
  props: {
    claim: {
      type: Object,
      required: true
    },
    product: {
      type: Object,
      required: true
    }
  },
  methods: {
    solution () {
      // https://gitlab.dev.my-shop.ru/my-shop/my-shop/-/wikis/curserv/claim
      if (this.claim.status < 20) {
        return { name: 'Ожидает ответа оператора', color: '#009ADE' }
      }
      if (this.claim.status === 20) {
        return { name: 'Ожидает вашего ответа', color: '#009ADE' }
      }
      if (this.claim.status === 30) {
        return { name: 'Ожидание возврата товара', color: '#009ADE' }
      }
      if (this.claim.solution === 10 || this.claim.solution === 11 || this.claim.solution === 20) {
        return { name: 'Оформлен возврат средств', color: '#61A60E' }
      }
      if (this.claim.solution === 99) {
        return { name: 'Отказано', color: '#FF0000' }
      }
      return { name: '', color: '#009ADE' }
    }
  }
}
</script>

<style lang="scss" scoped>
.product {
  padding: 10px 0;
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    flex-grow: 1;
  }

  &__img {
    display: block;
    height: 48px;
    width: 48px;
    min-width: 48px;
    min-height: 48px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__content {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $myshop-black;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__claim-info {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 20px;
  }

  &__claim-info-section {
    color: $myshop-disable;
    margin-right: 20px;

    span {
      color: $myshop-black;
    }
  }

  &__claim-status {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
}
</style>
