<template>
  <div class="section" :style="sectionStyles">
    <div v-if="title" class="header">
      <h2 class="title">{{ title }}</h2>
    </div>
    <slot />
  </div>
</template>

<script>
import { myOrderColors } from '@/globals'

export default {
  name: 'Section',
  props: {
    title: {
      type: String,
      required: false
    },
    appearanceCode: {
      type: Number,
      required: false,
      validate: (value) => {
        return value <= myOrderColors.length
      }
    }
  },
  computed: {
    sectionStyles () {
      return {
        backgroundColor: myOrderColors[this.appearanceCode]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
  width: 100%;
  height: auto;
  padding: 16px;
  background: white;
  border-radius: $border-radius;
}

.header {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  color: #2A3D48;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
</style>
