<template>
  <span class="status" :class="color"><slot /></span>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.status {
  padding: 4px 6px;
  color: white;
  font-weight: 600;
  line-height: 16px;
  border-radius: 8px;
}

.red {
  background-color: $myshop-red;
}

.orange {
  background-color: $yellow;
}

.green {
  background-color: $myshop-green;
}

.gray {
  color: $myshop-black;
  background-color: #DADADA;
}
</style>
