<template>
  <header class="header">
    <slot />

    <div
      class="arrow"
      :class="{ 'up': selected === id, 'down': selected !== id}"
      @click="click"
    />
  </header>
</template>

<script>
export default {
  name: 'AccountDropdown',
  props: {
    id: {
      type: [Number, String],
      required: true
    },
    selected: {
      type: [Number, String],
      required: true
    }
  },
  methods: {
    click () {
      this.$emit('click', this.selected === this.id ? '' : this.id)
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr 26px;
  column-gap: 16px;
  grid-template-areas: '. . arrow';
}

.arrow {
  grid-area: arrow;
  position: relative;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: ' ';
    position: relative;
    display: inline-block;
    border: solid $myshop-black;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transition: transform .2s;
  }

  &.up {
    &:after {
      transform: rotate(225deg);
    }
  }

  &.down {
    &:after {
      transform: rotate(45deg);
    }
  }
}
</style>
