<template>
  <section class="section">
    <h3 class="h3">История операций со счётом</h3>

    <template v-if="transactions.length > 0">
      <article
        v-for="item in transactions"
        :key="item.transaction_id"
        class="block"
      >
        <account-dropdown
          :id="item.transaction_id"
          :selected="selectItem"
          @click="selectItem = $event"
        >
          <div>
            <p class="date" v-html="item.transaction_date" />
            <p :class="{ 'color-red': item.status > 0, 'color-green': item.status === 0 }" v-html="status[item.status]" />
          </div>

          <div class="sum" :class="{ 'color-red': item.sum < 0, 'color-green': item.sum > 0 }">{{ formatSum(item.sum) }}&nbsp;&#8381;</div>
        </account-dropdown>

        <div v-show="selectItem === item.transaction_id">
          <div class="line">
            <div class="line__title">Тип операции</div>
            <div v-html="item.type_name" />

            <div v-if="invoice(item.status, item.type, item.transaction_date)">
              <a :href="'/cgi-bin/my_util2.pl?q=my_invoice&id=' + item.transaction_id" target="_blank">счёт-фактура на аванс</a>
            </div>
          </div>

          <div class="line">
            <div class="line__title">Статус</div>
            <div :class="{ 'color-red': item.status > 0, 'color-green': item.status === 0 }" v-html="status[item.status]" />

            <div v-if="item.status === 1">(заявка на возврат денежных средств обрабатывается)</div>
          </div>

          <div class="line">
            <div class="line__title">Номер заказа</div>
            <nuxt-link v-if="item.order_id !== 0" :to="'/my/orders/order_' + item.order_id">{{ item.order_id }}</nuxt-link>
            <span v-else>нет</span>
          </div>

          <div v-if="item.comment" class="line">
            <div class="line__title">Комментарий</div>
            <span v-html="item.comment" />
          </div>
        </div>
      </article>

      <Paginator :options.sync="options" :rows="rows" v-on="$listeners" />
    </template>

    <p v-else>Нет операций со счётом</p>
  </section>
</template>

<script>
import AccountDropdown from './AccountDropdown'
import Paginator from '@/components/ui/Paginator'

export default {
  name: 'BlockTransactions',
  components: {
    AccountDropdown,
    Paginator
  },
  props: {
    transactions: {
      type: Array,
      default: () => []
    },
    clientStatus: {
      type: Number,
      default: 0
    },
    totalPage: {
      type: Number,
      default: 1
    },
    rows: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      selectItem: '',
      status: {
        0: 'Выполнено',
        1: 'Условно&nbsp;выполнено',
        2: 'Отменено'
      },
      options: {
        totalPage: 1,
        currentPage: 1
      }
    }
  },
  watch: {
    totalPage (val) {
      this.options.totalPage = val
    },
    options: {
      handler (val, oldVal) {
        if (val.currentPage !== oldVal.currentPage) {
          this.$emit('changePage', val.currentPage)
        }
      },
      deep: true
    }
  },
  methods: {
    invoice (status, type, date) {
      return this.clientStatus && status === 0 && type === 1 && date >= '2010-04-01'
    },
    formatSum (sum) {
      return sum > 0 ? '+' + sum : sum
    }
  }
}
</script>

<style lang="scss" scoped>
.date {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sum {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
}

.line {
  margin-top: 16px;
}

.line__title {
  font-size: 13px;
  line-height: 18px;
  color: $myshop-gray;
}
</style>
