<template>
  <section v-if="items.length > 0" class="section">
    <h3 class="h3">Заявка на возврат</h3>

    <div
      v-for="item in activeItems"
      :key="item.id"
      class="block"
    >
      <account-dropdown
        :id="item.id"
        :selected="payment_method"
        @click="payment_method = $event"
      >
        <div class="title">{{ paymentTitle[item.id] }}</div>
        <div v-if="item.refundable_sum > 0" class="sum">{{ item.refundable_sum }}&nbsp;&#8381;</div>
      </account-dropdown>

      <div v-if="payment_method === item.id" class="body">
        <!-- ЮKassa -->
        <template v-if="item.id === '2'">
          <div class="my-16">Пожалуйста, выберите платёж, по которому нужно осуществить возврат. Деньги будут возвращены Вам через ЮKassa на те же реквизиты.</div>

          <b-select
            v-model="tr_id"
            placeholder="Выберите платёж"
            :label="false"
          >
            <option
              v-for="transaction in item.transactions"
              :key="transaction.tr_id"
              :value="transaction.tr_id"
            >
              платёж {{ transaction['date'] }} на сумму {{ transaction['34_6'] }} руб., заказ {{ transaction['10_1'] }} - вернуть {{ transaction['sum'] }} руб.
            </option>
          </b-select>
        </template>

        <!-- QR код -->
        <template v-if="item.id === '9'">
          <div class="my-16">Пожалуйста, выберите платёж, по которому нужно осуществить возврат. Деньги будут возвращены Вам на те же реквизиты.</div>

          <b-select
            v-model="tr_id"
            placeholder="Выберите платёж"
            :label="false"
          >
            <option
              v-for="transaction in item.transactions"
              :key="transaction.tr_id"
              :value="transaction.tr_id"
            >
              платёж {{ transaction['date'] }} на сумму {{ transaction['34_6'] }} руб., заказ {{ transaction['10_1'] }} - вернуть {{ transaction['sum'] }} руб.
            </option>
          </b-select>
        </template>

        <!-- Банковский перевод -->
        <template v-if="item.id === '1'">
          <div v-if="client" class="my-16">Деньги будут перечислены по реквизитам, указанным в Ваших <nuxt-link to="/my/options">регистрационных данных</nuxt-link>.</div>
          <template v-else>
            <div class="my-16">Пожалуйста, укажите реквизиты вашего счёта. Все поля обязательны для заполнения.</div>

            <div class="form-control">
              <div class="field">
                <input-text
                  ref="fio"
                  v-model.trim="bank.fio"
                  :validations="validations.fio"
                  class="input"
                  label="ФИО владельца счёта"
                  name="bank_fio"
                  message="Пожалуйста, заполните это поле"
                  maxlength="255"
                  required
                  placeholder="укажите ФИО точно как записано в Вашем банке"
                />
              </div>

              <div class="field">
                <input-text
                  ref="account"
                  v-model.trim="bank.account"
                  :validations="validations.account"
                  class="input"
                  label="Расчётный счёт"
                  name="bank_account"
                  message="Пожалуйста, заполните это поле"
                  maxlength="20"
                  required
                />
              </div>

              <div class="field">
                <input-text
                  ref="bik"
                  v-model.trim="bank.bik"
                  :validations="validations.bik"
                  class="input"
                  label="БИК"
                  name="bank_bik"
                  message="Пожалуйста, заполните это поле"
                  maxlength="9"
                  required
                />
              </div>

              <div class="field">
                <input-text
                  ref="name"
                  v-model.trim="bank.name"
                  :validations="validations.name"
                  class="input"
                  label="Наименование банка"
                  name="bank_name"
                  message="Пожалуйста, заполните это поле"
                  maxlength="255"
                  required
                  :disabled="isInputDisabled"
                />
              </div>

              <div class="field">
                <input-text
                  ref="city"
                  v-model.trim="bank.city"
                  :validations="validations.city"
                  class="input"
                  label="Город банка"
                  name="bank_city"
                  message="Пожалуйста, заполните это поле"
                  maxlength="255"
                  required
                  :disabled="isInputDisabled"
                />
              </div>

              <div class="field">
                <input-text
                  ref="corr_account"
                  v-model.trim="bank.corr_account"
                  :validations="validations.corr_account"
                  label="Корреспондентский счёт"
                  name="bank_corr_account"
                  message="Пожалуйста, заполните это поле"
                  maxlength="20"
                  required
                  :disabled="isInputDisabled"
                />
              </div>
            </div>
          </template>
        </template>

        <div class="my-16">Возврат денежных средств осуществляется в течение 10 (десяти) рабочих дней со дня создания заявки на возврат. В действительности мы стараемся выполнять все заявки на возврат в течение календарной недели.</div>

        <div class="form-control">
          <b-button size="is-large" @click="send">Сделать заявку на возврат</b-button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AccountDropdown from './AccountDropdown'
import { validForm } from '@/helpers/util'
import InputText from '@/components/ui/InputText'
import BSelect from '@/components/ui/Select'

export default {
  name: 'PaymentDistributions',
  components: {
    AccountDropdown,
    InputText,
    BSelect
  },
  props: {
    payments: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      isInputDisabled: true,
      payment_method: '',
      tr_id: '',
      bank: {
        fio: '',
        account: '',
        name: '',
        city: '',
        bik: '',
        corr_account: ''
      },
      paymentTitle: {
        1: 'Банковский перевод',
        2: 'ЮKassa',
        9: 'QR-код'
      },
      validations: {
        fio: null,
        account: null,
        bik: null,
        name: null,
        city: null,
        corr_account: null
      }
    }
  },
  computed: {
    activeItems () { // TODO: исключаю PlatBox, убрать, когда его выпилят с бека
      return this.items.filter(item => +item.id !== 6)
    },
    client () {
      return Number(this.payments.status) !== 0
    },
    items () {
      return this.payments.payment
    },
    query () {
      let result = {}
      switch (this.payment_method) {
        case '1':
          result = { payment_method: 1, ...this.bank }
          break
        case '2':
          result = { payment_method: 2, tr_id: this.tr_id }
          break
        case '9':
          result = { payment_method: 9, tr_id: this.tr_id }
          break
      }
      return result
    }
  },
  watch: {
    payments () {
      this.tr_id = ''
      this.payment_method = ''
    },
    'bank.bik' () {
      if (this.bank.bik.length === 9) {
        this.getBankInfo(this.bank.bik)
        this.isInputDisabled = false
      }
    }
  },
  methods: {
    send () {
      if (this.checkFields()) {
        this.$emit('sendForm', this.query)
      }
    },
    checkFields () {
      if (this.payment_method === '2' && this.tr_id === '') {
        return false
      } else if (this.payment_method === '9' && this.tr_id === '') {
        return false
      } else if (this.payment_method === '1' && this.client) {
        return true
      } else if (this.payment_method === '1') {
        return validForm(this.query, this.validations)
      } else {
        return true
      }
    },
    // метод подтягивает информацию о банке по введенному БИК из dadata
    getBankInfo (bik) {
      const url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/bank'
      const token = 'f373e937fb0bda15ab5ef5710515ba62825d79b7'

      const options = {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          Authorization: 'Token ' + token
        },
        body: JSON.stringify({ query: bik })
      }
      fetch(url, options)
        .then(response => response.text())
        .then(
          (result) => {
            const obj = JSON.parse(result)
            if (obj.suggestions.length) {
              const item = obj.suggestions[0]
              if (item.value) this.bank.name = item.value
              if (item.data.correspondent_account) this.bank.corr_account = item.data.correspondent_account
              if (item.data.payment_city) this.bank.city = item.data.payment_city
              this.isInputDisabled = true
            }
          }
        )
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.btn {
  font-size: 14px;
}

.error__text {
  color: red
}

.sum {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}
.body {
  margin-top: $gap-block;
}

// .form__select {
//   width: 100%;
//   padding: 5px;
//   margin: 5px 0;
//   background: #FFFFFF;
//   border: 1px solid #9363CA;
//   box-sizing: border-box;
//   border-radius: 3px;
// }

// .text__select_placeholder {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 20px;
//   font-feature-settings: 'pnum' on, 'lnum' on;
//   color: #959EA4;
// }

// .text__select_body {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 20px;
//   font-feature-settings: 'pnum' on, 'lnum' on;
//   color: #2A3D48;
// }
</style>
