<template>
  <div id="app" data-o="root">
    <div>
      <div class="shop-mobile">
        <AppHeader
          :page-path="pageMeta.path"
          :products-count="productsCount"
          :catalog-menu="catalogMenu"
          @on-region-changed="onRegionChanged"
        />

        <template v-if="isOperatorMode">
          <notification-operator-mode />
        </template>

        <Nuxt
          :key="$route.path"
          @productsCount="productsCount = $event"
          @on-region-changed="onRegionChanged"
        />

        <div v-if="is_app_mobile" style="height: 110px; width: 100%" />
        <AppFooter v-else @delivery-open="toggleModal({ name: 'delivery' })" />

        <HelpPopup />

        <ModalDelivery @region-changed="onRegionChanged" />
        <modal-authorization />
        <mobile-app-banner />
      </div>

      <span
        v-if="gaTracker"
        style="width: 0; height: 0; opacity: 0;"
        v-html="gaTracker"
      />
    </div>

    <component :is="isIcons" />
    <component :is="isButtonUp" v-if="($route.name !== 'cart' && $route.name !== 'mobile-home') || !isMobile" />
    <component :is="isCookieBanner" />
    <Loader v-show="isLoading" />
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import MobileAppBanner from '@/components/common/MobileAppBanner'
import HelpPopup from '@/components/modal/HelpPopup'
import ModalDelivery from '@/components/modal/ModalDelivery'
import AppHeader from '@/components/common/AppHeader'
import AppFooter from '@/components/common/AppFooter'
import ModalAuthorization from '@/components/modal/ModalAuthorization'
import Loader from '@/components/ui/Loader'
import { decodeHtmlEntities } from '@/helpers/util'
import common from '~/mixins/common'

export default {
  name: 'DefaultLayout',
  components: {
    NotificationOperatorMode: () => import(/* webpackChunkName: 'NotificationOperatorMode' */ '@/components/common/NotificationOperatorMode'),
    HelpPopup,
    ModalDelivery,
    AppHeader,
    AppFooter,
    ModalAuthorization,
    Loader,
    MobileAppBanner
  },
  mixins: [common],
  data () {
    return {
      isButtonUp: null,
      isIcons: null,
      isCookieBanner: null,
      productsCount: 0,
      catalogMenu: {}
    }
  },
  async fetch () {
    const { data } = await this.$api.getMenu({
      id: 0,
      menuHashes: this.$store.state.application.initialData?.menu_hashes[0] || ''
    })
    this.catalogMenu = data
  },
  head () {
    return {
      title: decodeHtmlEntities(this.pageMeta.title),
      meta: [
        { hid: 'description', name: 'description', content: this.pageMeta.description },
        { hid: 'keywords', name: 'keywords', content: this.pageMeta.keywords },
        { hid: 'robots', name: 'robots', content: this.pageMeta.robots },
        { hid: 'og:title', name: 'og:title', property: decodeHtmlEntities(this.pageMeta.ogtitle || this.pageMeta.title) },
        { hid: 'og:description', name: 'og:description', property: this.pageMeta.ogdescription || this.pageMeta.description },
        { hid: 'og:url', name: 'og:url', property: this.pageMeta.canonical },
        { hid: 'og:image', name: 'og:image', property: this.pageMeta.ogimage || '' },
        { hid: 'twitter:card', name: 'twitter:card', content: 'summary' },
        { hid: 'twitter:title', name: 'twitter:title', content: decodeHtmlEntities(this.pageMeta.ogtitle || this.pageMeta.title) },
        { hid: 'twitter:description', name: 'twitter:description', content: this.pageMeta.ogdescription || this.pageMeta.description },
        { hid: 'twitter:image', name: 'twitter:image', content: this.pageMeta.ogimage || '' }
      ],
      link: [
        { rel: 'canonical', href: this.pageMeta.canonical }
      ]
    }
  },
  computed: {
    ...mapState(['pageMeta', 'gaTracker', 'cart', 'errors', 'isMobile', 'is_app_mobile']),
    ...mapGetters(['isLogin']),
    ...mapGetters('application', ['isOperatorMode']),
    ...mapState('application', ['isLoading', 'initialData']),
  },
  watch: {
    $route () {
      this.toggleModal({ name: null })
    }
  },
  mounted () {
    this.isIcons = () => import('@/components/icons/Icons' /* webpackChunkName: 'isIcons' */)
    this.isButtonUp = () => import('@/components/ui/ButtonUp' /* webpackChunkName: 'isButtonUp-isCookieBanner' */)
    this.isCookieBanner = () => import('@/components/common/CookieBanner' /* webpackChunkName: 'isButtonUp-isCookieBanner' */)

    // для листа ожидания
    if (this.$route.query.add_to_waitlist) {
      this.waitlistAdd(this.$route.query.add_to_waitlist, this.$router)
    }

    if (this.$route.query) {
      const product_id = this.$route.name === 'prod-view' ? this.$route.params.id : 0
      this.$store.dispatch('getPartners', { ...this.$route.query, product_id })
    }

    this.checkGALoaded()
  },
  methods: {
    ...mapMutations(['updateErrors']),
    ...mapActions(['loadProducts', 'loadProduct', 'loadCart', 'waitlistAdd', 'loadRecommends']),
    ...mapActions('modals', { toggleModal: 'toggle' }),

    async onRegionChanged () {
      if (this.$route.name.startsWith('prod-list')) {
        this.loadProducts({
          ...this.$route.params,
          skipCache: true,
          page: 1,
          nextPage: false,
          route: this.$route.name,
          query: this.$route.query })
      } else if (this.$route.name === 'prod-view') {
        await this.loadProduct({ id: this.$route.params.id })
        await this.loadRecommends(this.$route.params.id)
      } else if (this.$route.name === 'cart') {
        this.loadCart()
      }
    },

    decodeHtmlEntities,
    /**
     * @description проверка google аналитики
     */
    checkGALoaded () {
      if (this.$gtmTrack) {
        // ga downloaded
        this.$gtmTrack.addTypePage(this.$route.name, this.$store.getters.productBreadcrumbs, this.$store.getters.client.id || '', document.location.href)
      } else {
        // попробуем подождать и загрузить
        setTimeout(this.checkGALoaded, 500)
      }
    }
  }
}
</script>
