<template>
  <div class="wrap">
    <div :class="$style['error-page']">
      <div>
        <h1 :class="$style.title">{{ error.title || 'Ошибка!' }}<span :class="$style.status">{{ error.statusCode }}</span></h1>
        <div :class="$style.text">{{ error.message }}</div>

        <ul :class="$style.ul">
          <li :class="$style.li"><nuxt-link :class="$style.link" to="/">Главная</nuxt-link></li>
          <li :class="$style.li"><nuxt-link :class="$style.link" to="/my/cart">Корзина</nuxt-link></li>
          <li :class="$style.li"><nuxt-link :class="$style.link" to="/help/1.html">Помощь</nuxt-link></li>
        </ul>
      </div>

      <div :class="$style['img-wrap']">
        <img :class="$style.img" src="@/assets/images/404.svg">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      required: true,
    }
  },
}
</script>

<style lang="scss" module>
.error-page {
  font-size: 16px;
  line-height: 24px;
  color: $myshop-black;

  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;

  @include mq($lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.status {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-gray;
  margin-left: 16px;
}

.title {
  font-size: 36px;
  line-height: 48px;
  margin: 40px 0 16px;

  @include mq($lg) {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 16px;
  }
}

.text {
  margin: 16px 0;
}

.ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.li {
  margin-right: 24px;
}

.link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: $myshop-violet;
}

.img-wrap {
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  height: 100%;
  max-width: 517px;
}
</style>