<template>
  <div class="user-block" @click="setName('delivery')">
    <div class="user-avatar">
      <icon-geo />
    </div>
    <div class="user-desc">
      <div class="user-desc__status">Доставка:</div>
      <div class="user-desc__name">{{ addressPointName }}</div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import IconGeo from '@/components/icons/IconGeo'

export default {
  name: 'DeliveryBlock',
  components: {
    IconGeo
  },
  computed: {
    addressPointName () {
      return this.$store.getters["application/addressPoint"]?.longname || ''
    }
  },
  methods: {
    ...mapMutations('modals', ['setName'])
  }
}
</script>

<style scoped lang="scss">
.user {
  &-block {
    width: 100%;
    padding: 8px;
    background: rgba(42, 61, 72, 0.05);
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &-avatar {
    width: 40px;
    height: 40px;
    background: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-right: 0.8rem;

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 25px;
      height: 25px;
    }
  }

  &-desc {
    &__name {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__status {
      font-size: 12px;
      line-height: 16px;
      color: rgba(42, 61, 72, 0.5);
    }
  }
}
</style>
