<template>
  <modal-popup modal-id="catalog" modal-title="Каталог" @modal-closed="closedMenu">
    <template #header>
      <div class="header-block">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" @click="toggleModal({ name: null })">
          <path d="M11.29 6.29006L6.29 11.2901C6.19896 11.3852 6.1276 11.4973 6.08 11.6201C5.97998 11.8635 5.97998 12.1366 6.08 12.3801C6.1276 12.5028 6.19896 12.615 6.29 12.7101L11.29 17.7101C11.3832 17.8033 11.4939 17.8773 11.6158 17.9277C11.7376 17.9782 11.8681 18.0042 12 18.0042C12.2663 18.0042 12.5217 17.8984 12.71 17.7101C12.8983 17.5218 13.0041 17.2664 13.0041 17.0001C13.0041 16.7338 12.8983 16.4784 12.71 16.2901L9.41 13.0001L17 13.0001C17.2652 13.0001 17.5196 12.8947 17.7071 12.7072C17.8946 12.5196 18 12.2653 18 12.0001C18 11.7348 17.8946 11.4805 17.7071 11.293C17.5196 11.1054 17.2652 11.0001 17 11.0001L9.41 11.0001L12.71 7.71006C12.8037 7.61709 12.8781 7.5065 12.9289 7.38464C12.9797 7.26278 13.0058 7.13207 13.0058 7.00006C13.0058 6.86805 12.9797 6.73734 12.9289 6.61548C12.8781 6.49362 12.8037 6.38302 12.71 6.29006C12.617 6.19633 12.5064 6.12194 12.3846 6.07117C12.2627 6.0204 12.132 5.99426 12 5.99426C11.868 5.99426 11.7373 6.0204 11.6154 6.07117C11.4936 6.12194 11.383 6.19633 11.29 6.29006Z" fill="#2A3D48" />
        </svg>
        <div class="header-block__search" @click="openModal('search')">
          <div>Начните поиск...</div>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.0917 16.9083L15 13.8416C16.2001 12.3453 16.7812 10.446 16.624 8.53434C16.4668 6.62267 15.5831 4.84391 14.1546 3.56379C12.7261 2.28368 10.8615 1.59951 8.9441 1.65198C7.0267 1.70445 5.20226 2.48956 3.84595 3.84587C2.48963 5.20219 1.70452 7.02662 1.65206 8.94402C1.59959 10.8614 2.28375 12.7261 3.56387 14.1545C4.84398 15.583 6.62275 16.4667 8.53441 16.6239C10.4461 16.7812 12.3453 16.2 13.8417 14.9999L16.9083 18.0666C16.9858 18.1447 17.078 18.2067 17.1795 18.249C17.2811 18.2913 17.39 18.3131 17.5 18.3131C17.61 18.3131 17.7189 18.2913 17.8205 18.249C17.922 18.2067 18.0142 18.1447 18.0917 18.0666C18.2419 17.9112 18.3258 17.7035 18.3258 17.4874C18.3258 17.2713 18.2419 17.0636 18.0917 16.9083ZM9.16666 14.9999C8.01294 14.9999 6.88512 14.6578 5.92584 14.0168C4.96655 13.3759 4.21888 12.4648 3.77737 11.3989C3.33585 10.333 3.22034 9.16012 3.44542 8.02856C3.6705 6.89701 4.22607 5.8576 5.04187 5.0418C5.85768 4.22599 6.89708 3.67042 8.02864 3.44534C9.16019 3.22026 10.3331 3.33578 11.399 3.77729C12.4649 4.2188 13.3759 4.96647 14.0169 5.92576C14.6579 6.88505 15 8.01286 15 9.16659C15 10.7137 14.3854 12.1974 13.2915 13.2914C12.1975 14.3853 10.7138 14.9999 9.16666 14.9999Z" fill="#2A3D48" />
          </svg>
        </div>
      </div>
    </template>
    <div ref="blockMenu" :style="[ style_wrapperStyle, style_wrapperActiveStyle ]">
      <!-- предыдущий -->
      <menu-catalog
        :list="content_prevItem"
        :functionality-style="style_panelStyle"
        :position-style="panel_prevPositionStyle"
        :is-translating="isTranslating"
        :transition-style="style_transitionStyle"
      />

      <!-- текущий -->
      <menu-catalog
        :list="content_currentItem"
        :functionality-style="style_panelStyle"
        :position-style="panel_stagingPositionStyle"
        :is-translating="isTranslating"
        :transition-style="style_transitionStyle"

        @slide-prev="clickPrevItem"
        @slide-next="clickNextItem"
        @slide-special="clickSpecialItem"

        @click-menu="handleMenuClicked"
      />

      <!-- следующий -->
      <menu-catalog
        :list="content_nextItem"
        :functionality-style="style_panelStyle"
        :position-style="panel_nextPositionStyle"
        :is-translating="isTranslating"
        :transition-style="style_transitionStyle"
      />
    </div>
  </modal-popup>
</template>

<script>
import { mapActions } from 'vuex'
import functionalityStyle from './mixins/functionalityStyle.mixin'
import panelControl from './mixins/panelControl.mixin'
import contentControl from './mixins/contentControl.mixin'
import MenuCatalog from './MenuCatalog'
import ModalPopup from '@/components/modal/ModalPopup'

export default {
  components: {
    ModalPopup,
    MenuCatalog
  },
  mixins: [functionalityStyle, panelControl, contentControl],
  props: {
    pagePath: {
      type: Array,
      default: () => []
    },
    value: {
      type: Object,
      default: () => {}
    },
    openModal: {
      type: Function,
      default: () => {}
    }
  },
  data () {
    return {
      menuOpenSpeed: 350,
      menuSwitchSpeed: 300,
      isTranslating: false,
      menu: []
    }
  },
  computed: {
    currentItemHasParent () {
      return this.content_parentStack.length >= 1
    },
    prevItemHasParent () {
      return this.content_parentStack.length >= 2
    },
    currentPath () {
      return this.pagePath[0] || []
    },
    specialMenu () {
      return this.menu.map(item => {
        return {
          group: item,
          childs: []
        }
      })
    },
    menuHashes () {
      return this.$store.state.application.initialData.menu_hashes || {}
    }
  },
  watch: {
    value () {
      this.setCatalog(this.value)
    }
  },
  mounted () {
    if (this.value.catalog) {
      this.setCatalog(this.value)
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    getMenuJson (id, dispatch) {
      return this.$api.getMenu({ id, menuHashes: this.menuHashes[id] })
        .then(({ data }) => dispatch(data))
    },
    currentMenu () {
      if (this.currentPath.length === 0 || this.$route.name === 'root') return
      const selectMenu = this.content_currentItem.childs.find(item => item.group.id === Number(this.currentPath[0]))
      if (selectMenu.load) {
        this.setCurrentMenu(selectMenu)
      } else {
        this.getMenuJson(selectMenu.group.id, response => {
          selectMenu.childs = response.childs
          selectMenu.load = true

          this.setCurrentMenu(selectMenu)
        })
      }
    },
    setCurrentMenu (data) {
      this.currentPath.forEach((id, index) => {
        if (index === 0) {
          data = this.contentSetNext(data)
        } else {
          data.forEach(item => {
            if (Number(item.group.id) === Number(id) && item.childs.length > 0) {
              data = this.contentSetNext(item)
            }
          })
        }
      })
    },
    contentSetNext (item) {
      this.content_setNextItem(item)
      this.content_pushCurrentToParentStack()
      this.content_homingItemAfterNext()
      return item.childs
    },
    setCatalog (data) {
      this.content_currentItem = {
        childs: [...data.catalog],
        load: true
      }
      this.menu = data.menu
      this.currentMenu()
    },
    handleMenuClicked (rout) {
      this.$router.push(rout, this.closed, this.closed)
    },
    clickNextItem (targetItem) {
      if (this.isTranslating || targetItem.length <= 0) return

      if (this.content_parentStack.length === 0 && !targetItem.load) {
        this.getMenuJson(targetItem.group.id, response => {
          targetItem.childs = response.childs
          targetItem.load = true
          this.slideToNext(targetItem)
        })
      } else {
        this.slideToNext(targetItem)
      }
    },
    clickPrevItem () {
      if (this.isTranslating || !this.currentItemHasParent) {
        return
      }
      this.slideToPrev()
    },
    clickSpecialItem () {
      this.slideToNext({
        load: true,
        group: {
          id: false,
          text: 'Специальные предложения',
          color: 'ff8200'
        },
        childs: this.specialMenu
      })
    },
    slideToNext (targetItem) {
      this.content_setNextItem(targetItem)
      this.setTranslating(true)
      this.$nextTick(() => {
        this.panel_slideNext()
      })

      this.homingAfterTranslatingNext()
      this.$refs.blockMenu.scrollTop = 0
    },
    slideToPrev () {
      this.content_setPrevItem()
      this.setTranslating(true)
      this.$nextTick(() => {
        this.panel_slideBack()
      })

      this.homingAfterTranslatingBack()
    },
    homingAfterTranslatingNext () {
      setTimeout(() => {
        this.setTranslating(false)
        this.content_pushCurrentToParentStack()

        this.panel_homingPosition()
        this.content_homingItemAfterNext()
      }, this.menuSwitchSpeed)
    },
    homingAfterTranslatingBack () {
      setTimeout(() => {
        this.setTranslating(false)

        this.panel_homingPosition()
        this.content_homingItemAfterBack()
      }, this.menuSwitchSpeed)
    },
    setTranslating (status) {
      this.isTranslating = status
    },
    closedMenu () {
      this.content_clear()
      this.currentMenu()
    },
    closed () {
      this.toggleModal({ name: null })
    }
  }
}
</script>

<style scoped lang="scss">
.header-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > svg {
    margin-right: 8px;
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #F4F5F6;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7F8B91;
  }
}

::v-deep .md-header__visible {
  display: flex;
}
</style>
