<template>
  <div v-show="active" class="pcontainer" @click="closedPopup()">
    <div class="popup-box-flex popup-box-quick popup-help" @click.stop>
      <h1 v-if="helpHint" class="popup-help__title">
        <span>{{ helpHint.title }}</span>
        <div class="close-btn-wrapper" role="button" @click="closedPopup()">
          <img src="/_all/my/close1.svg" width="12px" height="12px" class="btn-close">
        </div>
      </h1>
      <div v-if="helpHint" class="text">
        <section v-if="helpHint.html" v-html="helpHint.text" />
        <section v-else>
          {{ helpHint.text }}
        </section>
        <section v-if="helpHint.href">
          <a v-if="helpHint.open" :href="helpHint.href" target="_blank" rel="noopener nofollow">Подробнее...</a>
          <nuxt-link v-else :to="helpHint.href">Подробнее...</nuxt-link>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
    }
  },
  computed: {
    ...mapState(['helpHint']),
    ...mapState('modals', { modalStatus: 'status' }),
    active () {
      return this.modalStatus && this.helpHint
    }
  },
  methods: {
    ...mapActions(['setHelpHintModal']),
    closedPopup () {
      this.setHelpHintModal(null)
    }
  }
}
</script>

<style scoped lang="scss">
.popup-help {
  max-width: 395px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(42, 61, 72, 0.1);
  padding: 0;
  @media screen and (max-device-width: $tablet-width) {
    width: calc(100% - 20px);
  }
  @media screen and (max-device-width: $mobile-width) {
    width: calc(100vw - 20px);
  }
}

.popup-help__title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 32px 0 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2a3d48;
  position: relative;
  padding: 0 52px 0 0;
}

.popup-help__title > span:first-letter {
  text-transform: capitalize;
}

.close-btn-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2A3D48;
  padding: 16px 20px 32px;
}
</style>
