<template>
  <div v-if="justWaitlisted" class="modal">
    <header class="header">
      <div class="icon__w">
        <svg class="icon" width="12" height="12">
          <use xlink:href="#is-checked" />
        </svg>
      </div>

      <span class="title">Товар добавлен в&nbsp;лист ожидания</span>
      <b-close @click="onClose" />
    </header>

    <div class="field-body">
      <div class="field">
        <b-button type="is-gray" @click="onGo">Перейти</b-button>
      </div>

      <div class="field">
        <b-button type="is-text" @click="onClose">Закрыть</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'InfoPopover',
  data () {
    return {
      justWaitlisted: false,
      timerId: null
    }
  },
  computed: {
    ...mapState(['waitlistAddedN'])
  },
  watch: {
    waitlistAddedN () {
      this.onClose()
      this.justWaitlisted = true

      this.timerId = setTimeout(() => {
        this.onClose()
      }, 3000)
    }
  },
  methods: {
    ...mapActions(['orderClicked']),
    onClose () {
      this.timerId !== null && clearTimeout(this.timerId)
      this.justWaitlisted = false
    },
    onGo () {
      this.onClose()
      this.$router.push({ name: 'waitlist' })
    }
  }
}
</script>

<style scoped lang="scss">
.modal {
  width: 320px;
  position: fixed;
  right: 10px;
  bottom: 25px;
  background-color: #303940;
  color: #fff;
  border-radius: $border-radius;
  padding: 16px;
  font-weight: 600;
  z-index: $z-index-modal;

  @include mq($sm) {
    right: 40px;
    bottom: 40px;
  }
}

.header {
  --close-bg-color: transparent;
  --close-color: #5B6871;
  display: flex;
  margin-bottom: 16px;

  span {
    margin: 0 18px;
  }
}

.icon__w {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #47D16C;

  .icon {
    color: #303940;
  }
}

.field-body {
  display: flex;
  gap: 4px;
}
</style>
