<template>
  <div
    v-if="visible"
    class="drop slide1"
    :style="{ 'border-radius': roundedStyle ? '10px' : '0px' }"
  >
    <div class="drop__inner" :style="{ 'border-radius': roundedStyle ? '10px' : '0px' }">
      <div class="body__text">
        <img
          class="body__img"
          :src="`/_all/my/${isError ? 'alert_circle_red' : 'check_circle'}.svg`"
          width="14px"
          height="14px"
        >
        <span v-html="text" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MessageTooltip',
  props: {
    roundedStyle: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      messages: [],
      visible: false,
      isError: false,
      text: ''
    }
  },
  methods: {
    showMulti (texts, isError = false) {
      if (texts && texts.length) {
        for (let i = 0; i < texts.length; i++) {
          this.messages.push(typeof texts[i] === 'object' ? texts[i] : { text: texts[i], isError })
        }
        this.showNext()
      }
    },
    showNext () {
      if (this.messages.length > 0) {
        const msg = this.messages.shift()
        this.show(msg.text, msg.isError)
      }
    },
    show (text, isError = false) {
      this.visible = true
      this.isError = isError
      this.text = text
      setTimeout(() => {
        this.visible = false
        this.text = ''
        this.showNext()
      }, 5000)
    }
  }
}
</script>

<style scoped lang="scss">
.drop {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 10%;
  left: 0;
  right: 0;
  z-index: 6000;
  width: 100%;
}
.drop__inner {
  z-index: 6001;
  box-sizing: border-box;
  box-shadow: 0px 24px 18px rgba(42, 61, 72, 0.04), 0px 35px 24px rgba(42, 61, 72, 0.08);
  background-color: #ffffff;
  width: max-content;
  max-width: 680px;
  margin-right: 10px;
  margin-left: 10px;
}
.slide1 {
  animation: slide 0.2s;
}
.body__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-black;
  padding: 10px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__img {
  top: -1px;
  position: relative;
  margin-right: 8px;
}

@keyframes slide {
  from {
    top: -5%;
  }
  to {
    top: 10%;
  }
}
</style>
