<template>
  <div
    v-if="visible"
    class="drop"
  >
    <div class="inner">
      <div class="text">
        <img
          class="img"
          :src="`/_all/my/${error ? 'alert_circle_red' : 'check_circle'}.svg`"
          width="14px"
          height="14px"
        >
        <span v-html="message" />
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'MessageTooltip',
  props: {
    tooltip: {
      type: Object,
      default: () => ({
        message: '',
        error: false
      }),
      required: true
    }
  },
  data () {
    return {
      visible: false,
      error: this.tooltip.error,
      message: this.tooltip.message
    }
  },
  watch: {
    tooltip () {
      this.visible = true
      this.error = this.tooltip.error // перезапишем новые данные чтобы показывалась каждый раз
      this.message = this.tooltip.message

      // сбросим к дефолтным настройкам чтобы состояние ошибок не сохранялось
      setTimeout(() => {
        this.visible = false
        this.error = false
        this.message = ''
      }, 5000)
    }
  }
}
</script>

<style scoped lang="scss">
.drop {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 10%;
  left: 0;
  right: 0;
  z-index: 6000;
  width: 100%;
  border-radius: $border-radius;
  animation: slide 0.2s;
}

.inner {
  z-index: 6001;
  box-sizing: border-box;
  box-shadow: 0px 24px 18px rgba(42, 61, 72, 0.04), 0px 35px 24px rgba(42, 61, 72, 0.08);
  background-color: #ffffff;
  width: max-content;
  max-width: 680px;
  margin-right: 10px;
  margin-left: 10px;
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $myshop-black;
  padding: 10px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  top: -1px;
  position: relative;
  margin-right: 8px;
}

@keyframes slide {
  from {
    top: -5%;
  }
  to {
    top: 10%;
  }
}
</style>
