<template>
  <div v-if="visible" class="pcontainer" @click.stop="backgroundClicked">
    <div class="drop">
      <div class="drop__inner" :style="{ 'border-radius': roundedStyle ? '20px' : '10px' }">
        <div class="header" :style="{ 'justify-content': roundedStyle ? 'center' : null, 'border-bottom': roundedStyle ? 'none' : null, 'background-color': grayHeader ? '#F6F6F6' : '#FFFFFF' }">
          <div class="header__text">
            <slot name="header" />
          </div>
          <div v-if="!roundedStyle" class="close-btn-wrapper" role="button" @click="closeBtnClicked">
            <img src="/_all/my/close1.svg" width="15px" height="15px" class="btn-close">
          </div>
        </div>
        <div v-if="isSlotBody" class="body__text">
          <slot name="body" />
        </div>
        <div v-if="!notButtons" class="btns">
          <slot name="buttons" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    grayHeader: {
      type: Boolean,
      default: false
    },
    roundedStyle: {
      type: Boolean,
      default: false
    },
    notButtons: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isSlotBody () {
      return this.$slots.body && this.$slots.body[0].text !== ''
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    closeBtnClicked () {
      this.toggleModal({ name: null })
      this.$emit('closeclicked')
    },
    backgroundClicked (e) {
      if (e.target.classList.contains('pcontainer')) {
        this.$emit('closeclicked')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.header {
  padding: 0 25px;
  height: 60px;
  border-bottom: 1px solid #DFE2E4;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    overflow-x: visible;
    white-space: nowrap;
  }
}

.body__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $myshop-black;
  margin: 10px 15px;
}

.close-btn-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  min-width: 0;
  margin-right: -15px;
  cursor: pointer;
}

.btns {
  margin: 10px 20px 15px 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  @media screen and (max-device-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
  }
}

.pcontainer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  position: fixed;
  background-color: rgba(22,22,22,0);
}

.drop {
  background-color: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6000;
  max-width: calc(100vw - 20px);
}
.drop__inner {
  z-index: 6001;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(42, 61, 72, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  > * {
    min-height: 0;
  }
  max-height: 100%;
}

</style>
