<template functional>
  <div class="drop">
    <div class="drop__inner arrow-popover-top">
      <div class="header">
        <slot name="header" />
      </div>

      <div class="controls">
        <slot />
      </div>

      <div class="arrow-wrapper">
        <div class="arrow" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MiniPopover'
}
</script>

<style scoped lang="scss">
.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 16px;
  color: $myshop-black;
}

.drop {
  display: inline;
  width: 0px;
  height: 0px;

  @include mq($md) {
    position: relative;
  }
}

.drop__inner {
  width: 90vw;
  max-width: 355px;
  bottom: 20px;
  left: 0;
  position: absolute;
  z-index: 1020;
  box-shadow: 0 5px 9px rgba(0,0,0,0.48);
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  @include mq($md) {
    width: 355px;
    max-width: calc(100vw - 60px);
    transform: translate(-49%);
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 16px;
  padding-top: 0;
  color: #40515B;
}

$popover-arrow-height: 10px;
$popover-border-width: 4px;
$popover-arrow-width: 20px;
$popover-arrow-outer-color: #FFFFFF;
$popover-arrow-color: #FFFFFF;

.arrow-wrapper {
  margin: 0 auto;
  position: relative;
  .arrow {
    position: absolute;
    display: block;
    width: $popover-arrow-width;
    height: $popover-arrow-height;
    margin: 0 10px;
    left: calc(#{$popover-arrow-width} * -1);

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

.arrow-popover-top {
  margin-bottom: $popover-arrow-height;

  .arrow {
    bottom: calc((#{$popover-arrow-height} + #{$popover-border-width} - 6px) * -1);
  }

  .arrow::before,
  .arrow::after {
    border-width: $popover-arrow-height math.div($popover-arrow-width, 2) 0;
  }

  .arrow::before {
    bottom: 0;
    border-top-color: $popover-arrow-outer-color;
  }

  .arrow::after {
    bottom: $popover-border-width;
    border-top-color: $popover-arrow-color;
  }
}

</style>
