<template>
  <modal-popup
    ref="modal"
    modal-id="cabinet"
    modal-title="Мой кабинет"
    :css-style="cssStyle"
    header
    class="cabinet"
  >
    <UserMenu />
  </modal-popup>
</template>

<script>
import { mapActions } from 'vuex'
import ModalPopup from './ModalPopup'
import UserMenu from '@/components/layout/PersonalSection/UserMenu'
import { throttle } from '@/helpers/util'

export default {
  components: {
    ModalPopup,
    UserMenu
  },
  data () {
    return {
      cssStyle: {
        position: 'fixed',
        width: '375px',
        top: '0',
        right: '0',
        left: 'auto',
        transform: 'translateX(0) translateY(0)'
      }
    }
  },
  mounted () {
    this.$addEventListeners('scroll', this.recalcCSS)
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    recalcCSS () {
      const trottledFn = throttle(() => {
        if (document.querySelector('.header__body')) {
          const HEADER_HEIGHT = document.querySelector('.header__body').getBoundingClientRect().height
          if (window.pageYOffset > 0) {
            this.cssStyle.top = `${HEADER_HEIGHT}px`
          } else {
            this.cssStyle.top = '0'
          }
        }
      }, 300)
      trottledFn()
    }
  }
}
</script>

<style lang="scss" scoped>
.cabinet ::v-deep {
  .md-header{
    border-bottom:0;
    padding: 32px 20px 16px;
    height: auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
  .md-close  {
    width: 36.8px;
    height: 36.8px;
    top: 32px;
    right: 8px;

    svg {
      padding:12px;
    }

    &:hover svg {
      fill:red;
    }
  }

  .md-body {
    padding: 0 20px 20px 20px;
    max-height: unset;
    overflow: auto;
    height:calc(100vh - 80px);
  }
  .md-content {
    border-radius: 0;
    height: 100vh;
  }
}
</style>
