<template>
  <popup-modal v-if="modalName" ref="PopAp" @popup-closed="toggle(null)">
    <AuthPhone
      v-if="modalName === 'phone'"
      v-model="phone"
      @toggle-popup="toggle"
      @registration="clickRegistration"
    />

    <AuthPhoneConfirm
      v-else-if="modalName === 'phone-confirm'"
      :phone="phone"
      @toggle-popup="toggle"
      @init-user="$store.dispatch('vuePageView', $route)"
      @code-sms="code = $event"
      @change-title="changeTitlePopAp"
    />

    <AuthLogin
      v-else-if="modalName === 'login'"
      :attach-phone="attachPhone"
      @toggle-popup="toggle"
      @init-user="$store.dispatch('vuePageView', $route)"
      @registration="clickRegistration"
    />

    <AuthRestorePassword
      v-else-if="modalName === 'restore'"
      @toggle-popup="toggle"
      @change-title="changeTitlePopAp"
    />
  </popup-modal>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import PopupModal from './PopupModal'
import AuthPhone from '@/components/common/Authorization/AuthPhone'
import AuthLogin from '@/components/common/Authorization/AuthLogin'
import AuthRestorePassword from '@/components/common/Authorization/AuthRestorePassword'
import AuthPhoneConfirm from '@/components/common/Authorization/AuthPhoneConfirm'
import { logger } from '@/helpers/util'

export default {
  name: 'ModalAuthorization',
  components: {
    PopupModal,
    AuthPhone,
    AuthLogin,
    AuthRestorePassword,
    AuthPhoneConfirm
  },
  data () {
    return {
      phone: '',
      code: ''
    }
  },
  computed: {
    ...mapState('modals', { modalName: 'name', modalStatus: 'status' }),
    attachPhone () {
      return this.phone && this.code ? { phone: this.phone, code: this.code, attach_phone: 1 } : {}
    }
  },
  watch: {
    modalName (val) {
      let title = ''
      switch (val) {
        case 'phone':
          this.phone = ''
          title = 'Вход'
          break
        case 'phone-confirm':
          title = 'Вход'
          break
        case 'login':
          title = 'Вход и регистрация'
          break
        case 'restore':
          title = 'Восстановление пароля'
          break
      }
      if (title) {
        this.$nextTick(() => {
          this.$refs.PopAp.open(title)
        })
      }
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    toggle (name) {
      if (name === null) logger('close', 'enter_popap', {})
      this.toggleModal({ name })
    },
    changeTitlePopAp (title) {
      this.$refs.PopAp.title = title
    },
    clickRegistration (params = {}) {
      this.$router.push({ name: 'registration', params }, () => {}, () => {})
    }
  }
}
</script>
