<template>
  <div class="modal-backdrop">
    <div class="modal" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
      <header id="modalTitle" class="modal-header">
        <slot name="header">
          <div>
            <h1 v-if="title" class="title">{{ title }}</h1>
            <h2 v-if="subtitle" class="subtitle">{{ subtitle }}</h2>
          </div>
        </slot>
        <button type="button" class="btn-close" aria-label="Close modal" @click="close">
          <IconCross />
        </button>
      </header>
      <section id="modalDescription" class="modal-body">
        <slot name="body" />
      </section>
      <footer class="modal-footer">
        <slot name="footer" />
      </footer>
    </div>
  </div>
</template>

<script>
import IconCross from '@/components/icons/Cross'

export default {
  name: 'Modal',
  components: { IconCross },
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    }
  },
  mounted () {
    document.body.style.overflow = 'hidden'
  },
  destroyed () {
    document.body.style.overflow = null
  },
  methods: {
    close () {
      document.body.style.overflow = null
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-index-modal;
}

.modal {
  max-width: 395px;
  max-height: 95vh;
  background: white;
  box-shadow: 0 24px 18px rgba(42, 61, 72, 0.04), 0px 35px 24px rgba(42, 61, 72, 0.08);
  border-radius: 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-header,
.modal-footer {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.modal-header {
  position: relative;
  margin-top: 32px;
  justify-content: space-between;

  .title {
    margin: 0;
    color: $myshop-black;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }

  .subtitle {
    margin: 16px 0 0 0;
    color: $myshop-gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.modal-footer {
  margin-bottom: 32px;
  flex-direction: column;
}

.modal-body {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}
</style>
