<template>
  <div>
    <div class="md-modal md-effect" :class="{ 'md-show': active }" :style="cssStyle">
      <div class="md-content">
        <div class="md-header" :class="{ 'md-header__visible': !header }">
          <slot name="header">
            <div class="icon__block">
              <slot name="icon" />
              <span>{{ modalTitle }}</span>
            </div>

            <div class="md-close" @click="closeModal">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.2559 1.92259C15.5814 1.59715 15.5814 1.06951 15.2559 0.744078C14.9305 0.418641 14.4028 0.418641 14.0774 0.744078L8 6.82149L1.92259 0.744078C1.59715 0.418641 1.06952 0.418641 0.744079 0.744078C0.418642 1.06951 0.418642 1.59715 0.744079 1.92259L6.82149 8L0.744078 14.0774C0.418641 14.4028 0.418641 14.9305 0.744078 15.2559C1.06951 15.5814 1.59715 15.5814 1.92259 15.2559L8 9.17851L14.0774 15.2559C14.4028 15.5814 14.9305 15.5814 15.2559 15.2559C15.5814 14.9305 15.5814 14.4028 15.2559 14.0774L9.17851 8L15.2559 1.92259Z"
                  fill="#2A3D48"
                />
              </svg>
            </div>
          </slot>
        </div>

        <div class="md-body" :class="{ 'md-body__mobile': isMobile }">
          <slot />
        </div>
      </div>
    </div>

    <div class="md-overlay" @click="closeModal" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ModalPopup',
  props: {
    modalTitle: {
      type: String,
      default: 'Заголовок'
    },
    modalId: {
      type: String,
      default: ''
    },
    cssStyle: {
      type: Object,
      default: () => {}
    },
    header: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState(['isMobile']),
    ...mapState('modals', { modalName: 'name' }),
    active () {
      return this.modalName === this.modalId
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    closeModal () {
      this.toggleModal({ name: null })
      this.$emit('modal-closed')
    }
  }
}
</script>

<style scoped lang="scss">
.md-modal {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 450px;
  height: auto;
  z-index: -9;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  touch-action: none;
}

.md-show {
  overflow: visible;
  visibility: visible;
  z-index: 1060;
}

.md-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: -9;
  opacity: 0;
  transition: opacity 0.3s;
  transform: scaleY(1.5);
}

.md-show ~ .md-overlay {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1050;
  background: rgba(42, 61, 72, .35);
}

.md-content {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(42, 61, 72, 0.15);
  border: 1px solid rgba(42, 61, 72, 0.15);
  background: #fff;
}

.md-header {
  font-weight: bold;
  font-size: 18px;
  color: #2A3D48;
  padding: 1rem;
  border-bottom: 1px solid rgba(42, 61, 72, 0.15);
  position: relative;
  height: 60px;
}

.md-header__visible {
  display: none;
}

.md-close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.md-close svg {
  width: 100%;
  height: 100%;
  display: block;
  padding: 1.3rem;
}

.md-close:hover {
  transform: rotate(360deg);
}

.md-body {
  padding: 1rem;
  overflow-y: auto;
  position: initial;
  height: calc(100vh - 190px);
  max-height: 610px;
}

.md-body__mobile {
  height: 100%;
}

.md-effect.md-modal {
  perspective: 1300px;
}

.md-effect .md-content {
  transform-style: preserve-3d;
  transform: rotateX(-70deg);
  transition: all 0.3s;
  opacity: 0;
}

.md-show.md-effect .md-content {
  transform: rotateX(0deg);
  opacity: 1;
}

.icon__block {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  & svg {
    margin-right: .5rem;
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 767px) {
  .md-modal {
    position: fixed !important;
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    transform: translateX(0) translateY(0) !important;
  }

  .md-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .md-header__visible {
    display: block;
  }

  .md-body {
    height: 100%;
    max-height: 100%;
  }
}
</style>
