<template>
  <div class="sb">
    <div class="search__block" :class="{ 'sb-show': checked }">
      <search-panel
        placeholder="Поиск на Myshop"
        :autofocus="checked"
        @submit-search="checked = false"
        @input-focus="checked = true"
        @search-close="searchcloseHandlr($event)"
      />
    </div>

    <div class="sb-overlay" @click.self="checked = false" />
    <div
      class="sb-overlay sb-overlay--bottom-layer"
      :style="{'top': `${headCss.height}px`, height: (windowHeight - headCss.height) + 'px' }"
      @click.self="checked = false"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import SearchPanel from '@/components/common/SearchPanel'

export default {
  components: {
    SearchPanel
  },
  props: {
    headCss: {
      type: Object,
      default: () => {},
      required: true
    }
  },
  data () {
    return {
      checked: false
    }
  },
  computed: {
    ...mapState(['windowHeight'])
  },
  watch: {
    $route () {
      this.checked = false
    },
    checked (val) {
      document.body.style.overflow = val ? 'hidden' : ''
    }
  },
  methods: {
    searchcloseHandlr (evt) {
      this.checked = !evt
    }
  }
}
</script>

<style scoped lang="scss">
.sb {
  width: 100%;
  display: flex;
  align-items: center;
}
.search__block {
  width: 100%;
  position: relative;
  top: 0;
  border-radius: 8px;
  transition: all 0.3s;
  z-index: 101;
  background: #fff;
  &.sb-show {
    @include mq($tablet-width) {
      position: absolute;
      top: 0;
    }
  }
}

.sb-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: -9;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;

  &--bottom-layer {
    background: rgba(42, 61, 72, 0.35);
    z-index: -10;
  }
}

.sb-show ~ .sb-overlay {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 100;
  &.sb-overlay--bottom-layer {
    z-index: 99;
  }
}

.sb-show ::v-deep .autocomplete {
  @include mq($tablet-width) {
    padding: 8px 0 0 0;
  }
}
</style>
