<template>
  <div v-show="active && catalog[select]">
    <div class="md-modal md-effect" :class="{ 'md-show': active }" :style="{ top: heightModal }">
      <div class="md-content wrap">
        <div class="md-left">
          <a v-for="(item, index) in category" :ref="index" :key="index" :href="`/shop/catalogue/${item.group.id}/sort/a/page/1.html`" class="menu__category" :class="{ category__active: itemActive(index) }" @mouseenter="handleCategoryClicked(index)" @click.prevent="handleMenuClicked({ path: `/shop/catalogue/${item.group.id}/sort/a/page/1.html` })">{{ item.group.caption_short }}</a>
        </div>

        <div class="md-right">
          <div class="md-header">
            <nuxt-link v-if="catalog[select]" class="md-title" :to="`/shop/catalogue/${catalog[select].group.id}/sort/a/page/1.html`">
              <span> {{ catalog[select].group.caption_short }} </span>
              <span class="link-circle">
                <arrow-link-next />
              </span>
            </nuxt-link>
            <div class="md-sublinks">
              <a v-if="promo" :href="`/shop/promo/?cat=${idCategory}`" class="md-sublink red" @click.prevent="handleMenuClicked({ path: `/shop/promo/?cat=${idCategory}` })"><span>Акции в разделе</span></a>
              <a v-if="guide_id" :href="`/shop/guide/${guide_id}/page/1.html`" class="md-sublink green" @click.prevent="handleMenuClicked({ path: `/shop/guide/${guide_id}/page/1.html` })"><span>Гид по разделу</span></a>
              <a v-if="brand" :href="`/shop/catalogue/${idCategory}/producers.html`" class="md-sublink" @click.prevent="handleMenuClicked({ path: `/shop/catalogue/${idCategory}/producers.html` })"><span>Популярные {{ brand }}</span></a>
            </div>
          </div>
          <div ref="menu__sections" class="md-body" style="height: calc(100% - 60px);">
            <div class="menu__sections">
              <div v-for="(child, index) in sortMenu(childs)" :key="index" class="menu__list">
                <a :href="`/shop/catalogue/${child.group.id}/sort/a/page/1.html`" :class="{ menu__list__link: true, title: true, more: Boolean(child.group.css_class) }" @click.prevent="handleMenuClicked({ path: `/shop/catalogue/${child.group.id}/sort/a/page/1.html` })"><span>{{ child.group.text }}</span><arrow-link-next v-if="child.group.css_class === 'more'" /> </a>

                <a v-for="(item, i) in sortMenu(child.childs)" :key="i" :href="`/shop/catalogue/${item.group.id}/sort/a/page/1.html`" :class="{ menu__list__link: true, more: Boolean(item.group.css_class) }" @click.prevent="handleMenuClicked({ path: `/shop/catalogue/${item.group.id}/sort/a/page/1.html` })"><span>{{ item.group.text }}</span><arrow-link-next v-if="item.group.css_class === 'more'" /> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ArrowLinkNext from '@/components/icons/ArrowLinkNext'
import { plural } from '@/helpers/util'

export default {
  components: {
    ArrowLinkNext
  },
  props: {
    value: {
      type: Object,
      default: () => { }
    },
    scrolled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      catalog: [],
      select: 0,
      childs: []
    }
  },
  computed: {
    ...mapState('modals', { modalName: 'name' }),
    active () {
      return this.modalName === 'catalog'
    },
    category () {
      return this.catalog.length > 0 ? this.catalog : []
    },
    idCategory () {
      return this.catalog.length > 0 ? this.catalog[this.select].group.id : 0
    },
    guide_id () {
      return this.catalog.length > 0 ? this.catalog[this.select].guide_id : null
    },
    promo () {
      return this.catalog.length > 0 ? this.catalog[this.select].promo : null
    },
    brand () {
      return this.catalog.length > 0 ? this.catalog[this.select].group.brand : null
    },
    menuHashes () {
      return this.$store.state.application.initialData.menu_hashes || {}
    },
    heightModal () {
      return this.scrolled ? '63px' : '148px'
    }
  },
  mounted () {
    if (this.value.catalog) {
      this.setCatalog(this.value.catalog)
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    itemActive (index) {
      return this.select === index
    },
    getMenuJson (id, dispatch) {
      return this.$api.getMenu({ id, menuHashes: this.menuHashes[id] })
        .then(({ data }) => dispatch(data))
    },
    toggle () {
      this.toggleModal({ name: null })
    },
    handleCategoryClicked (index) {
      const item = this.catalog[index]
      this.select = index
      if (item.load === undefined) {
        const id = item.group.id

        this.getMenuJson(id, response => {
          this.catalog[index].childs = this.childs = response.childs
          this.catalog[index].load = true
        })
      } else {
        this.childs = this.catalog[index].childs
      }
      if (this.$refs.menu__sections) {
        this.$refs.menu__sections.scrollTop = 0
      }
    },
    handleMenuClicked (rout) {
      this.$router.push(rout, this.toggle, this.toggle)
    },
    sortMenu (data) {
      return data
        .filter(item => item.group.in_main_menu === '1')
        .map(item => {
          if (item.group.css_class === 'more') {
            item.group.text = `Показать все ${data.length} ${plural(data.length, 'категорий', 'категории', 'категорий')}`
          }
          return item
        })
    },
    setCatalog (data) {
      this.catalog = data
      this.handleCategoryClicked(0)
    }
  }
}
</script>

<style scoped lang="scss">
.md-modal {
  position: fixed;
  top: 148px;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  touch-action: none;
  box-shadow: 0px 0px 2px rgba(42, 61, 72, 0.04),
    0px -3px 2px rgba(42, 61, 72, 0.08);
  ::-webkit-scrollbar {
    width: 0;
  }
}

.md-show {
  visibility: visible;
  z-index: 2000;
}

.md-show {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  background: white;
}

.md-content {
  position: relative;
  border-radius: 8px;
  background: #fff;
  display: flex;
  height: 100%;
}
.md-body {
  overflow-y: scroll;
}
.md-left {
  width: 300px;
  border-right: 1px solid rgba(42, 61, 72, 0.15);
  padding-top: 26px;
  overflow-y: scroll;
  @media (max-width: 1140px) {
    width: 255px;
  }
  @media (min-width: 1300px) {
    width:  245px;
  }
}

.md-right {
  margin: 16px 0 32px 32px;

  width: calc(100% - 300px);

  @media (max-width: 1140px) {
    width: calc(100% - 255px);
  }
  @media (min-width: 1300px) {
    width: calc(100% - 245px);
  }
}

.md-header {
  font-weight: bold;
  font-size: 18px;
  color: #2a3d48;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 18px;

  .md-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    cursor: pointer;
    color: $myshop-black;
    margin-bottom: 12px;
    &:hover {
      color: $myshop-violet;
      ::v-deep path {
        fill: $myshop-violet;
      }
      .link-circle {
        background: $myshop-purple;
      }
    }
    .link-circle {
      transition: 10ms background;
      background: #fafafa;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
    }
  }
  .md-sublink {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $myshop-black;
    margin-left: 24px;
    &.red {
      color: #f5333f;
    }
    &.green {
      color: $myshop-green;
    }

    &:not(.green):not(.red):hover {
      color: $myshop-violet;
    }
  }
}

.md-effect.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.md-effect .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect .md-content {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-name: show;
  animation-fill-mode: forwards;
  animation-direction: inherit;
}

@keyframes show {
  from {
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.menu {
  &__category {
    color: $myshop-black;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    &:hover,
    &.active {
      color: $myshop-violet;
    }
  }

  &__sections {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 32px;
    column-gap: 32px;
    height: auto;
    @media (min-width: 1024px) {
      -moz-column-count: 3;
      column-count: 3;
    }
    @media (min-width: 1300px) {
      -moz-column-count: 4;
      column-count: 4;
    }
  }

  &__list {
    display: block;
    width: 100%;
    height: auto;
    line-height: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;

    &__link {
      color: $myshop-black;
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      &:hover {
        color: #783cbd;
      }
    }
  }
}

.title {
  color: #2a3d48;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.category__active {
  background: $myshop-purple;
  color: $myshop-violet;
}

.separator {
  height: 1px;
  background: rgba(42, 61, 72, 0.15);
  margin: 15px 0;
}

@media screen and (max-width: 767px) {
  .md-modal {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    transform: translateX(0) translateY(0) !important;
  }
  .md-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .md-header__visible {
    display: block;
  }
}

.more {
  font-size: 14px;
  line-height: 20px;
  color: $myshop-disable;
  display: flex;
  vertical-align: center;
  svg {
    margin-left: 8px;
  }
  ::v-deep path {
    fill: $myshop-disable;
  }
  &:hover {
    color: $myshop-violet;
    ::v-deep path {
      fill: $myshop-violet;
    }
  }
}
</style>
