<template>
  <div>
    <div class="wrap">
      <div class="filters" @click="toggleModal({ name: 'filters' })">
        <div>Фильтры</div>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.28178 5.66667C4.67938 4.67199 5.63869 3.99899 6.7282 4L6.72635 6C6.46381 5.99976 6.21466 6.17182 6.12352 6.45149L6.11498 6.47771L6.105 6.50341C5.82367 7.22846 5.11237 7.70447 4.32583 7.66667H2C1.44772 7.66667 1 7.21895 1 6.66667C1 6.11438 1.44771 5.66667 2 5.66667H4.28178ZM9.08785 5.66666H18C18.5523 5.66666 19 6.11438 19 6.66666C19 7.21895 18.5523 7.66666 18 7.66666H9.13189C8.73429 8.66134 7.77499 9.33434 6.68548 9.33333L6.68733 7.33333C6.94987 7.33357 7.19902 7.16151 7.29015 6.88183L7.2987 6.85562L7.30867 6.82992C7.59001 6.10487 8.30131 5.62886 9.08785 5.66666ZM13.8356 13.1182C13.7444 12.8385 13.4953 12.6664 13.2327 12.6667L13.2309 10.6667C14.3204 10.6657 15.2797 11.3387 15.6773 12.3333H18C18.5523 12.3333 19 12.7811 19 13.3333C19 13.8856 18.5523 14.3334 18 14.3334H15.6332C14.8467 14.3712 14.1354 13.8951 13.8541 13.1701L13.8441 13.1444L13.8356 13.1182ZM10.8713 12.3333C11.6578 12.2955 12.3691 12.7716 12.6505 13.4966L12.6604 13.5223L12.669 13.5485C12.7601 13.8282 13.0093 14.0003 13.2718 14L13.2737 16C12.1841 16.001 11.2248 15.328 10.8272 14.3333H2C1.44772 14.3333 1 13.8856 1 13.3333C1 12.7811 1.44772 12.3333 2 12.3333H10.8713Z" fill="#2A3D48" fill-opacity="0.5" />
        </svg>
      </div>
    </div>

    <modal-popup modal-id="filters" modal-title="Фильтры" header @modal-closed="cancel">
      <div class="wrap__filters">
        <div class="filter__wrap">
          <div class="filter__select">
            <div class="filter__btn" :class="{ 'open': isOpen(1) }" @click="toggleList(1)">Разделы каталога</div>
            <div v-if="isOpen(1)" class="filter__list">
              <input-radio label="Все разделы" :checked="isChecked(['all'], 'categories')" @change="checkedList('all','categories')" />
              <input-checkbox v-for="item in categories" :key="item.id" :label="item.title" :checked="isChecked([item.id], 'categories')" @change="checkedList(item.id, 'categories')" />
            </div>
          </div>

          <div class="filter__select">
            <div class="filter__btn" :class="{ 'open': isOpen(2) }" @click="toggleList(2)">Типы акций</div>
            <div v-if="isOpen(2)" class="filter__list">
              <input-radio label="Все типы акций" :checked="isChecked(['all'], 'types')" @change="checkedList('all','types')" />
              <input-checkbox label="Скидки" :checked="isChecked(['10', '20', '50', '55'], 'types')" @change="checkedSale" />
              <input-checkbox label="Подарки" :checked="isChecked(['30'], 'types')" @change="checkedList('30', 'types')" />
              <input-checkbox label="Рекомендации" :checked="isChecked(['90'], 'types')" @change="checkedList('90', 'types')" />
            </div>
          </div>

          <div class="filter__select">
            <div class="filter__btn" :class="{ 'open': isOpen(3) }" @click="toggleList(3)">Сроки акций</div>
            <div v-if="isOpen(3)" class="filter__list">
              <input-radio label="Все" :checked="isChecked(['all'], 'interval')" @change="checkedList('all','interval')" />
              <input-radio label="Новые" :checked="isChecked(['new'], 'interval')" @change="checkedList('new', 'interval')" />
              <input-radio label="Скоро закончатся" :checked="isChecked(['ending'], 'interval')" @change="checkedList('ending', 'interval')" />
            </div>
          </div>
        </div>

        <div class="filter__action">
          <div class="filter__save" @click="saveFilters">Показать результаты</div>
          <div class="filter__cancel" @click="cancelFilters">Сбросить фильтры</div>
        </div>
      </div>
    </modal-popup>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ModalPopup from './ModalPopup'
import InputCheckbox from '@/components/ui/InputCheckbox'
import InputRadio from '@/components/ui/InputRadio'

const filterDefault = () => {
  return {
    categories: ['all'],
    types: ['all'],
    interval: 'all'
  }
}

export default {
  components: {
    ModalPopup,
    InputCheckbox,
    InputRadio
  },
  props: {
    value: {
      type: Object,
      default: () => filterDefault()
    },
    categories: {
      type: Array,
      default: () => []
    },
    windowWidth: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      openList: [],
      filter: filterDefault()
    }
  },
  computed: {
    ...mapState('modals', { modalName: 'name' })
  },
  watch: {
    modalName (val) {
      this.filter = val === 'filters' ? { ...this.value } : filterDefault()
    }
  },
  destroyed () {
    this.toggleModal({ name: null })
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    toggleList (item) {
      const index = this.openList.indexOf(item)
      if (index > -1) {
        this.openList.splice(index, 1)
      } else {
        this.openList.push(item)
      }
    },
    checkedList (item, type) {
      if (item === 'all') {
        this.filter[type] = type === 'interval' ? 'all' : ['all']
      } else if (type === 'interval') {
        this.filter.interval = item
      } else {
        let arr = [...this.filter[type]]
        const all = arr.indexOf('all')
        if (all > -1) arr.splice(all, 1)
        const index = arr.indexOf(item)
        if (index > -1) {
          arr.splice(index, 1)
          arr = arr.length > 0 ? arr : ['all']
        } else {
          arr.push(item)
        }
        this.filter[type] = [...arr]
      }
    },
    checkedSale () {
      this.checkedList('10', 'types')
      this.checkedList('20', 'types')
      this.checkedList('50', 'types')
      this.checkedList('55', 'types')
    },
    isOpen (item) {
      return this.openList.includes(item)
    },
    isChecked (items, type) {
      return items.some(item => this.filter[type].includes(item))
    },
    saveFilters () {
      this.$emit('input', this.filter)
      this.toggleModal({ name: null })
    },
    cancelFilters () {
      this.filter = filterDefault()
    },
    cancel () {
      this.filter = { ...this.value }
      this.toggleModal({ name: null })
    }
  }
}
</script>

<style scoped lang="scss">
.wrap {
  width: $desktop-width;
  padding: 0;
  margin: 0 auto;
  position: relative;

  @media (max-width: $desktop-width) {
    width: 100%;
    padding: 0 10px;
  }
}

::v-deep .md-body {
  background: #F6F6F6;
  padding: 0;
  overflow: hidden;
}

.filters {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & > div {
    padding: 0 10px;
  }
}

.filter {

  &__select {
    background: #FFFFFF;
    border-radius: 8px;
    width: auto;
    margin: 10px;
  }

  &__btn {
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    padding: 20px 40px 20px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    cursor: pointer;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 20px;
      background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M4.41058 6.91058C4.08514 7.23602 4.08514 7.76366 4.41058 8.08909L9.41058 13.0891C9.73602 13.4145 10.2637 13.4145 10.5891 13.0891L15.5891 8.08909C15.9145 7.76366 15.9145 7.23602 15.5891 6.91058C15.2637 6.58515 14.736 6.58515 14.4106 6.91058L9.99984 11.3213L5.58909 6.91058C5.26366 6.58514 4.73602 6.58514 4.41058 6.91058Z\' fill=\'%23959EA4\'/%3E%3C/svg%3E%0A') no-repeat center;
    }

    &.open {

      &:after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 20px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.4107 13.0894C4.08527 12.764 4.08527 12.2363 4.4107 11.9109L9.4107 6.91091C9.73614 6.58547 10.2638 6.58547 10.5892 6.91091L15.5892 11.9109C15.9147 12.2363 15.9147 12.764 15.5892 13.0894C15.2638 13.4149 14.7361 13.4149 14.4107 13.0894L9.99996 8.67867L5.58922 13.0894C5.26378 13.4149 4.73614 13.4149 4.4107 13.0894Z' fill='%232A3D48' fill-opacity='0.5'/%3E%3C/svg%3E%0A") no-repeat center;
      }
    }
  }

  &__list {
    border-top: 1px solid rgba(42, 61, 72, 0.15);
    padding: 20px 10px 5px;
  }

  &__action {
    position: sticky;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px 8px 0 0;
    padding: 10px;
    z-index: 100;
  }

  &__cancel,
  &__save {
    background: #FFFFFF;
    border: 1px solid rgba(28, 41, 77, 0.15);
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1C294D;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__save {
    background: #783CBD;
    border: 1px solid #783CBD;
    color: #FFFFFF;
  }

  &__wrap {
    height: calc(100% - 160px);
    overflow-y: auto;
  }
}

.wrap__filters {
  height: calc(100% - 120px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}
</style>
