<template>
  <div v-show="active" class="pcontainer" @click.stop="popupBackClicked" @click="$emit('popupclosed')">
    <div class="popup-box-flex popup-plain" @click.stop>
      <div class="popup-plain__title">
        <span><slot name="title" /></span>
        <div class="close-btn-wrapper" role="button" @click="$emit('popupclosed')">
          <img src="/_all/my/close1.svg" width="15px" height="15px">
        </div>
      </div>
      <div>
        <slot name="header" />
      </div>
      <div class="content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    this.$addEventListeners('keydown', this.onKeyDown)
  },
  methods: {
    onKeyDown (event) {
      if (event.key === 'Escape') {
        this.$emit('popupclosed')
      }
    },
    popupBackClicked (e) {
      if (e.target.classList.contains('pcontainer')) {
        this.$emit('popupbackclicked')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.pcontainer {
  z-index: 6000;
}

.popup-plain {
  border-radius: 1px;
  box-shadow: 1px 0px 3px rgba(122, 122, 122, 0.5),
    3px 3px 2px rgba(122, 122, 122, 0.5), 0px 3px 2px rgba(122, 122, 122, 0.5),
    -3px 3px 2px rgba(122, 122, 122, 0.5);
  z-index: 6001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-height: none;
  background-color: #f6f6f6;
  overflow-y: hidden;
  @media (min-width: $lg) {
    width: auto;
    height: auto;
  }
}

.popup-plain__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 111%;
  padding: 0 0 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ffffff;
  min-height: 54px;
  overflow: hidden;
}

.content {
  min-height: 0;
  display: flex;
  flex-direction: column;
}
</style>
