<template>
  <transition name="fade">
    <div v-if="isVisible" class="popup-modal" data-o="popup-modal" @click.self="clickAreaHandl">
      <div class="popup-modal__window">
        <div class="popup-modal__window__header">
          <h2>{{ title }}</h2>
          <div class="popup-modal__close" @click="close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.4099 11.9999L17.7099 7.70994C17.8982 7.52164 18.004 7.26624 18.004 6.99994C18.004 6.73364 17.8982 6.47825 17.7099 6.28994C17.5216 6.10164 17.2662 5.99585 16.9999 5.99585C16.7336 5.99585 16.4782 6.10164 16.2899 6.28994L11.9999 10.5899L7.70994 6.28994C7.52164 6.10164 7.26624 5.99585 6.99994 5.99585C6.73364 5.99585 6.47824 6.10164 6.28994 6.28994C6.10164 6.47825 5.99585 6.73364 5.99585 6.99994C5.99585 7.26624 6.10164 7.52164 6.28994 7.70994L10.5899 11.9999L6.28994 16.2899C6.19621 16.3829 6.12182 16.4935 6.07105 16.6154C6.02028 16.7372 5.99414 16.8679 5.99414 16.9999C5.99414 17.132 6.02028 17.2627 6.07105 17.3845C6.12182 17.5064 6.19621 17.617 6.28994 17.7099C6.3829 17.8037 6.4935 17.8781 6.61536 17.9288C6.73722 17.9796 6.86793 18.0057 6.99994 18.0057C7.13195 18.0057 7.26266 17.9796 7.38452 17.9288C7.50638 17.8781 7.61698 17.8037 7.70994 17.7099L11.9999 13.4099L16.2899 17.7099C16.3829 17.8037 16.4935 17.8781 16.6154 17.9288C16.7372 17.9796 16.8679 18.0057 16.9999 18.0057C17.132 18.0057 17.2627 17.9796 17.3845 17.9288C17.5064 17.8781 17.617 17.8037 17.7099 17.7099C17.8037 17.617 17.8781 17.5064 17.9288 17.3845C17.9796 17.2627 18.0057 17.132 18.0057 16.9999C18.0057 16.8679 17.9796 16.7372 17.9288 16.6154C17.8781 16.4935 17.8037 16.3829 17.7099 16.2899L13.4099 11.9999Z" fill="#2A3D48" />
            </svg>
          </div>
        </div>

        <slot />
      </div>
    </div>
  </transition>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'PopupModal',
  props: {
    isClickArea: {
      type: Boolean,
      default: true
    },
    isEscHandler: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      isVisible: false,
      title: ''
    }
  },
  mounted () {
    if (this.isEscHandler) {
      this.$addEventListeners('keydown', (e) => {
        if (e.key === 'Escape' && this.isVisible) {
          this.close()
        }
      })
    }
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    open (title) {
      this.title = title
      this.isVisible = true
    },
    close () {
      this.title = ''
      this.isVisible = false
      this.toggleModal({ name: null })
      this.$emit('popup-closed')
    },
    clickAreaHandl () {
      if (this.isClickArea) {
        this.close()
      }
    }
  }
}
</script>

<style scoped lang="scss">
/* css class for the transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.popup-modal {
  background-color: rgba(42, 61, 72, .6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 6002;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__window {
    width: 395px;
    margin-top: 10vh;
    background: #FFFFFF;
    box-shadow: 0 24px 18px rgba(42, 61, 72, .04), 0 35px 24px rgba(42, 61, 72, .08);
    border-radius: $border-radius;
    padding: 32px 20px;

    @media (max-width: $md) {
      width: calc(100% - 20px);
    }

    &__header {
      height: 28px;
      margin-bottom: 16px;
      position: relative;

      & h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: $myshop-black;
        margin: 0;
      }
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      transform: rotate(360deg);
    }
  }
}
</style>
