<template>
  <div data-o="body">
    <div class="top-container top-container_main">
      <div class="wrap">
        <template v-for="(item, index) of blocks">
          <BannerSlider v-if="index === 0 && bannersOne" id="banner" :key="index" :items="bannersOne" :height=" $vssWidth > 768 ? 200 : 150" ga-event="banner" />
          <HorizontalCarouselSlider :key="item.id" top-title="Главная" :list-title="item.title" :block="item" :index="index" />
          <BannerSlider v-if="index === 3 && bannersTwo" id="banner_2" :key="index" :items="bannersTwo" :height=" $vssWidth > 768 ? 200 : 150" ga-event="banner_2" />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import NuxtSSRScreenSize from '@/helpers/nuxt-ssr-screen-size'
import Lggr from '@/mixins/Lggr'
import BannerSlider from '@/components/common/BannerSlider'
import HorizontalCarouselSlider from '@/components/common/HorizontalCarouselSlider'

export default {
  components: {
    BannerSlider,
    HorizontalCarouselSlider
  },
  mixins: [Lggr, NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
  asyncData({ store, redirect }) {
    // Redirect to mobile homepage in mobile apps
    if (store.state.is_app_mobile) {
      redirect({ path: '/my/mobilehome' })
    }
  },
  async fetch ({ $api, store, error, redirect }) {
    await $api.myShop.getMain()
      .then(({ data }) => {
        if (data.meta) store.commit('updatePageMeta', data.meta)
        if (data.cart) store.commit('updateCartPartial', data.cart)
        store.commit('updateMainData', data)
      })
      .catch(err => {
        switch (err.response.status) {
          case 301:
            redirect(err.response.data.redirect)
            break
          case 302:
            redirect(err.response.data.redirect)
            break
          case 400:
            error({
              statusCode: 400,
              title: 'Ошибка',
              message: err.response.data.message || 'Некорректный запрос'
            })
            break
          case 404:
            error({
              statusCode: 404,
              title: 'Страница не найдена',
              message: err.response.data.message || 'В адресе есть ошибка или страница удалена'
            })
            break
          case 500:
            document.location = '/pause.html'
            break
        }
      })
  },
  computed: {
    ...mapState(['mainData']),
    blocks () {
      return this.mainData.blocks || []
    },
    banners () {
      return this.mainData.banners || []
    },
    bannersOne () {
      let banners = {}
      if (this.mainData.banners) {
        const newObj = { ...this.mainData.banners }
        const leg = Math.ceil(newObj.value.length / 2)
        newObj.value = newObj.value.slice(0, leg)
        banners = newObj
      }
      return Object.keys(banners).length ? banners : null
    },
    bannersTwo () {
      let banners = {}
      if (this.mainData.banners) {
        const newObj = { ...this.mainData.banners }
        const leg = Math.ceil(newObj.value.length / 2)
        newObj.value = newObj.value.slice(leg)
        banners = newObj
      }
      return Object.keys(banners).length ? banners : null
    }
  }
}
</script>
