<template>
  <div class="with-img">
    <img
      v-if="image"
      class="img"
      :src="image.href"
      :alt="image.alt"
      :width="isMobile ? '80px' : '120px'"
      :height="isMobile ? '80px' : '120px'"
    >

    <div>
      <div v-if="fio" class="caption" v-html="fio" />
      <div
        v-if="description"
        ref="desc"
        class="description"
        :class="{ 'short': !showMetaInfo }"
      >
        <div v-html="description" />
        <div v-if="birthday && birthday !== '0000-00-00'">Дата рождения: {{ birthday | formatDate3 }}</div>
      </div>

      <div v-if="!showMetaInfo && showBtnMore" class="show-more" @click="showMetaInfo = !showMetaInfo">{{ showMetaInfo ? 'Скрыть' : 'Раскрыть описание' }}</div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'ProductListAbout',
  props: {
    image: {
      type: Object,
      default: () => {}
    },
    description: {
      type: String,
      default: ''
    },
    fio: {
      type: String,
      default: ''
    },
    birthday: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      showMetaInfo: true,
      showBtnMore: false
    }
  },
  computed: {
    ...mapState(['isMobile'])
  },
  mounted () {
    if (this.$refs.desc) {
      if (this.$refs.desc.offsetHeight > 100) {
        this.showMetaInfo = false
        this.showBtnMore = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.with-img {
  display: flex;
  margin-bottom: 16px;

  .img{
    object-fit: scale-down;
  }

  @include mq($md) {
    margin-bottom: 24px;
  }

  .meta-info__img-holder {
    background-color: #fff;
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 10px;

    @include mq($md) {
      width: 120px;
      height: 120px;
      margin-right: 16px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: scale-down;
    }
  }
}

.caption {
  font-weight: bold;
}

.img {
  margin-right: 16px;
}

.description {
  margin-bottom: 7px;
  max-height: fit-content;

  ::v-deep b {
    font-weight: bold;
  }

  ::v-deep p:first-child {
    margin-top: 0;
  }

  ::v-deep p:last-child {
    margin-bottom: 0;
  }

  &.short {
    max-height: 100px;
    overflow: hidden;
  }
}

.show-more {
  color: $myshop-violet;
  cursor: pointer;
  font-weight: 600;
}
</style>
