<template>
  <span>
    <PopupModal
      ref="recommendsPopup"
      class="list-recommends"
      @popup-closed="onCloseModal"
    >
      <div v-if="loaded && products.length === 0" class="not-found">
        похожие не найдены
      </div>
      <div class="items">
        <ProductsListItem
          v-for="(item, index) of products"
          :key="item.product_id"
          :item="item"
          caption="caption"
          :in-cart="!!cart.cartObj[item.product_id]"
          :in-save="!!cart.saveObj[item.product_id]"
          :in-wait="waitListProducts.indexOf(Number(item.product_id)) > -1"
          :data-a="dataA(item, index)"
          data-o="show_similar_goods"
          :data-sh="null"
          :route-name="$route.name"
          :min-height="false"
          @click.native="itemClicked(item, topTitle, index)"
          @itemBuyClicked="itemBuyClicked({ curProduct: item, event: $event, list: topTitle })"
          @onClickSave="onClickSave($event, item)"
          @waitlistAdd="$emit('wladd', item.product_id)"
          @goToCart="$router.push({ name: 'cart' })"
          @goToWait="$router.push({ name: 'waitlist' })"
          @wldelete="$emit('wldelete', { id: item.waitlist_id, product_id: item.product_id, is_not_aval: !item.availability.status && !item.estimate_date_to_sale })"
        />
      </div>
    </PopupModal>
  </span>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import PopupModal from '@/components/modal/PopupModal.vue'
import ProductsListItem from '@/components/common/ProductGridCard'
import { logger } from '@/helpers/util'

export default {
  components: {
    PopupModal,
    ProductsListItem
  },
  data () {
    return {
      products: [],
      loaded: false
    }
  },
  computed: {
    ...mapState('modals', { modalName: 'name' }),
    ...mapState(['cart', 'waitListProducts']),
    topTitle () {
      return 'Похожие'
    }
  },
  watch: {
    modalName (newV) {
      const rer = /^list-recommends-(\d+)$/.exec(newV)
      if (rer !== null) {
        const prodId = rer[1]
        this.$refs.recommendsPopup.title = 'Похожие товары'
        this.$refs.recommendsPopup.isVisible = true
        logger('show', 'show_similar_goods', { good: prodId })
        this.$gtmTrack.namedEvent('show_similar_goods')
        this.$api.myShop.getRecommends(prodId)
          .then(({ data }) => {
            this.loaded = true
            if (data.recs && data.recs.products) this.products = data.recs.products
          })
      }
    }
  },
  mounted () {
  },
  methods: {
    ...mapActions('modals', { toggleModal: 'toggle' }),
    ...mapActions(['cartBuyClicked', 'cartSaveClicked', 'cartDeleteClicked', 'cartRestoreClicked']),
    dataA (product, index) {
      const is_coupon = product.promos && product.promos.filter(item => item.type === 22).length > 0
      const is_sale = product.promos && product.promos.filter(item => item.type !== 22).length > 0
      const is_not_aval = product.availability && !product.availability.status && !product.estimate_date_to_sal
      return JSON.stringify({
        good: product.product_id,
        pos: index,
        ...(is_coupon && { is_coupon: true }),
        ...(is_sale && { is_sale: true }),
        ...(is_not_aval && { is_not_aval: true })
      })
    },
    itemClicked (item, title, index) {
      if (title) {
        this.$gtmTrack.ecomClick([this.item.ga_item], title, index)
      }
    },
    itemBuyClicked (item) {
      this.cartBuyClicked(item)
    },
    onClickSave ($event, item) {
      const data = {
        curProduct: item,
        event: $event
      }

      const inSave = !!this.cart.saveObj[item.product_id]
      if (inSave) {
        this.cartDeleteClicked(data)
      } else {
        this.cartSaveClicked(data)
      }
    },
    onCloseModal () {
      logger('click', 'popap_close', { page: 1 })
      this.$gtmTrack.namedEvent('my_orders_new_popap_close')
      this.toggleModal({ name: null })
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .popup-modal {
  padding-right: 0;
  padding-left: 0;
}

.list-recommends {
  ::v-deep .popup-modal__window {
    height: 90%;
    padding: 24px;
    width: 100%;
    max-width: 635px;
    // min-height: 400px;
    background: #ffffff;
    box-shadow: 0px 24px 18px rgba(42, 61, 72, 0.04),
      0px 35px 24px rgba(42, 61, 72, 0.08);
    border-radius: 8px;

    @include mq($sm) {
      width: calc(100% - 20px);
      min-height: min-content;
    }
  }

  ::v-deep .popup-modal__window__header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #2a3d48;
    margin-bottom: 24px;
  }

  .items {
    height: 90%;
    overflow-y: auto;
    --var-min-items: 145px;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(var(--var-min-items), 1fr));

    @include mq($sm) {
      --var-min-items: 212px;
    }
  }
}
</style>
