<template>
  <div v-if="items.length > 0" id="sliderWrap">
    <div class="wrap__series" :class="{ desktop: !isMobile }">
      <template v-if="type === 20">
        <hooper
          v-if="itemsToShow && itemsToSlide"
          ref="slider"
          :class="{ series: type === 20, blocks: type !== 20 }"
          :items-to-show="itemsToShow"
          :items-to-slide="itemsToSlide"
          :wheel-control="false"
          :trim-white-space="true"
          :transition="500"
          :short-drag="false"
          class="slider"
          @slide="BtnsHandler"
        >
          <slide v-for="(series, index) in seriesItems" :key="`slide-${index}`" ref="slide">
            <nuxt-link
              v-if="type === 20"
              :key="index"
              :to="series.url"
              class="series__block slider"
              :class="{ hov: series.addtext }"
            >
              <img :src="series.image.href">

              <div v-if="series.name" class="series__block__title" v-html="series.name" />
              <div v-if="series.addtext" class="series__block__description" v-html="series.addtext" />
            </nuxt-link>
          </slide>
        </hooper>

        <div v-show="itemsToSlide < seriesItems.length" class="hooper-navigation">
          <div v-show="!isHiddenBtnSliderPrev" class="hooper-prev" @click="$refs.slider.slidePrev()">
            <b-button-arrow icon="arrow arrow-left" />
          </div>

          <div v-show="!isHiddenBtnSliderNext" class="hooper-next" @click="$refs.slider.slideNext()">
            <b-button-arrow icon="arrow arrow-right" />
          </div>
        </div>
      </template>

      <div v-else ref="series" :class="{ series: type === 20, blocks: type !== 20 }">
        <template v-for="(series, index) in seriesItems">
          <div v-if="type === 10" :key="index" class="series__block group">
            <div class="series__block__group" :class="{ open: openList === index }" @click="toggleList(index, series)">
              <span v-html="series.name" />

              <b-button-arrow v-if="openList === index" icon="arrow arrow-up" />
              <b-button-arrow v-else icon="arrow arrow-down" />
            </div>

            <template v-if="!isMobile && openList === index">
              <div class="series__block__list">
                <nuxt-link
                  v-for="item in series.group"
                  :key="item.url"
                  :to="item.url"
                  v-html="item.name"
                />
              </div>

              <div class="series__block__overlay" @click.self="toggleList(index)" />
            </template>
          </div>

          <nuxt-link
            v-else
            :key="index"
            :to="series.url"
            class="series__block"
            v-html="series.name"
          />
        </template>

        <b-button
          v-if="!viewAll && type !== 20"
          size="is-small"
          icon="is-ellipsis"
          type="is-basic is-light"
          @click="viewButton = true"
        />
      </div>
    </div>

    <template v-if="isMobile && openList !== null">
      <div class="series__block__list" :class="{ open: openList !== null }">
        <header v-if="isMobile" class="header">
          <div v-html="groupList.name" />
          <b-close @click="toggleList(openList)" />
        </header>

        <div class="scroll-list">
          <nuxt-link
            v-for="item in groupList.group"
            :key="item.url"
            :to="item.url"
            v-html="item.name"
          />
        </div>
      </div>

      <div class="series__block__overlay shadow" @click.self="toggleList(openList)" />
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { Hooper, Slide } from 'hooper'
import BButtonArrow from '@/components/ui/ButtonArrow'
import 'hooper/dist/hooper.css'

export default {
  name: 'SeriesBlocks',
  components: {
    Hooper,
    Slide,
    BButtonArrow
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    type: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      viewButton: false,
      openList: null,
      groupList: {},
      isHiddenBtnSliderPrev: false,
      isHiddenBtnSliderNext: false,
      itemsToShow: null,
      itemsToSlide: null
    }
  },
  computed: {
    ...mapState(['isMobile']),
    seriesItems () {
      return this.viewAll || this.type === 20 ? this.items : this.items.slice(0, 9)
    },
    viewAll () {
      return this.items.length > 9 ? this.viewButton : true
    }
  },
  mounted () {
    if (this.type === 20) {
      this.initSlider()
      this.$addEventListeners('resize', this.calcItems)
    }
  },
  methods: {
    toggleList (item, series = {}) {
      document.body.style.overflow = this.isMobile && this.openList !== item ? 'hidden' : ''

      this.groupList = series
      this.openList = this.openList !== item ? item : null
    },
    calcItems () {
      const wrapper = document.getElementById('sliderWrap')
      const slider = wrapper.querySelector('.wrap__series').getBoundingClientRect()
      const SLIDE = 156 // 140 ширина карточки + 16 пикселей отступ так же захрадкодил в css чтобы багов верстки не было

      const itemsToShow = slider.width / (SLIDE)
      const itemsToSlide = Math.floor(itemsToShow)

      this.itemsToShow = itemsToShow
      this.itemsToSlide = itemsToSlide

      try {
        this.$refs.slider.initDefaults()
      } catch (error) {
        console.error('this.$refs.slider.initDefaults() await load')
      }
    },
    BtnsHandler () {
      if (this.$refs.slider.currentSlide === 0) {
        this.isHiddenBtnSliderPrev = true
      } else {
        this.isHiddenBtnSliderPrev = false
      }
      if (
        this.$refs.slider.slidesCount ===
        this.$refs.slider.currentSlide + this.$refs.slider.trimEnd
      ) {
        // кол-во вырезаного места + кол-во прокрученных слайдов скроем кнопку
        this.isHiddenBtnSliderNext = true
      } else {
        this.isHiddenBtnSliderNext = false
      }
    },
    initSlider () {
      this.$nextTick().then(() => {
        this.calcItems()
      })
    }
  }
}
</script>

<style scoped lang="scss">
.wrap__series {
  position: relative;
  margin-top: 16px;
  width: 100%;
}

.blocks {
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  display: flex;
  gap: 8px;
  padding-bottom: 8px;

  @include mq($md) {
    flex-wrap: wrap;
    overflow-x: unset;
    padding-bottom: 0;
  }

  & a {
    transition: color .3s;
    color: $myshop-black;

    &:hover {
      color: $myshop-violet;
    }
  }
}

.header {
  display: flex;
  position: relative;
  margin-right: 10px;
  margin-bottom: 8px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  justify-content: space-between;
}

.series {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: row;

  & a {
    color: $myshop-black;
    transition: color .3s;

    &:hover {
      color: $myshop-violet;
    }
  }

  ::v-deep .hooper-track {
    align-items: stretch;
  }
  ::v-deep .hooper-slide {
    display: flex;
    justify-content: center;

    .slider {
      background-color: transparent;
    }
  }
}

.series__block {
  background-color: $myshop-lighgray;
  border-radius: $border-radius;
  white-space: nowrap;
  position: relative;
  color: $myshop-black;
  cursor: pointer;
  transition: color .3s, background-color .3s;

  &:not(.group) {
    padding: 8px 12px;
  }

  &:hover {
    color: $myshop-violet;
    background-color: lighten($myshop-violet, 41%);

    .button {
      background-color: lighten($myshop-violet, 41%);

      ::v-deep .icon {
        border-color: $myshop-violet;
      }
    }
  }

  &.slider {
    height: 100%;
    min-height: 80px;
    width: 140px;
    white-space: normal;
    display: inline-block;
    text-align: center;

    &:last-child {
      margin: 0;
    }

    & img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin-bottom: 10px;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 12px;

    &.open {
      color: $myshop-violet;
    }

    > .button {
      margin-left: 10px;
      background-color: $myshop-lighgray;
    }
  }

  &__list {
    position: absolute;
    bottom: auto;
    top: 40px;
    left: 0;
    right: auto;
    width: auto;
    height: auto;
    background: #fff;
    box-shadow: 0px 5px 3px rgba($myshop-black, 0.04), 0px 8px 5px rgba($myshop-black, 0.08);
    border-radius: $border-radius;
    padding: 16px 0;
    color: $myshop-black;
    z-index: $z-index-content;
    transition: background-color 0.3s;

    & a {
      display: block;
      padding: 6px 13px;

      &:hover {
        background-color: $myshop-lighgray;
      }
    }

    &.open {
      z-index: $z-index-series-mobile-modal;
      position: fixed;
      top: auto;
      bottom: -250px;
      left: 0;
      right: 0;
      width: 100%;
      max-height: 250px;
      border-radius: $border-radius $border-radius 0 0;
      animation-duration: 0.3s;
      animation-delay: 0.1s;
      animation-name: show;
      animation-fill-mode: forwards;
      animation-direction: inherit;
      overflow: hidden;
    }
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;

    &.shadow {
      background: #7f8b91;
      opacity: 0.5;
    }
  }

  &__title {
    font-weight: 600;
    text-align: center;
  }

  &__description {
    display: none;
    font-size: 14px;
    color: $myshop-black;
  }
}

.hov:hover {
  .series__block__title {
    display: none;
  }

  .series__block__description {
    display: inline-block;
  }
}

@keyframes show {
  from {
    bottom: -250px;
  }
  to {
    bottom: 0;
  }
}

.scroll-list {
  max-height: 250px;
  overflow-y: auto;

  &:after { // TODO: вот это надо выпилить и нормально сделать
    content: "";
    display: block;
    height: 60px;
  }
}

.hooper ::v-deep * {
  outline: none;
}

::v-deep .hooper-prev,
::v-deep .hooper-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 5px 3px rgba($myshop-black, 0.04), 0px 8px 5px rgba($myshop-black, 0.08);
  width: 46px;
  height: 100%;
  z-index: 10;

  &:hover {
    .icon {
      border-color: $myshop-violet;
    }
  }
}

::v-deep .hooper-next {
  right: 0;
}

::v-deep .hooper-prev {
  left: 0;
}
</style>
