<template functional>
  <div style="position: relative">
    <div class="overlay pcontainer" @click="listeners['close']" />
    <div class="similar-extra">
      <div class="close" @click="listeners['close']">
        <svg viewBox="0 0 28 28">
          <use xlink:href="#close-c" />
        </svg>
      </div>

      <div class="inn">
        <div class="inn__item" @click="props.inWait ? listeners['goToWait']() : (listeners['waitlistAdd'](), listeners['close']())">
          <svg class="icon" viewBox="0 0 24 24">
            <use xlink:href="#is-waitlist" />
          </svg>
          {{ props.inWait ? 'Перейти в лист ожидания' : 'Добавить в лист ожидания' }}
        </div>
        <div class="inn__item" @click="listeners['close'](); listeners['onClickSave']($event)">
          <svg class="icon">
            <use xlink:href="#is-heart" />
          </svg>
          {{ props.inSave ? 'Удалить из избранного' : 'Добавить в избранное' }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SimilarExtraButtonsPopup',
  props: {
    inSave: {
      type: Boolean,
      default: true
    },
    inWait: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
.overlay {
  z-index: 1;
  cursor: pointer;

  @include mq($md) {
    background-color: transparent;
  }
}

.similar-extra {
  width: 100%;
  z-index: $z-index-modal;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 20px 0 20px 0;
  box-shadow: 0px 18px 12px rgba(42, 61, 72, 0.04), 0px 24px 18px rgba(42, 61, 72, 0.08);

  .close {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 12px;
    right: 18px;
    cursor: pointer;
    svg {
      width: 28px;
      height: 28px;
    }
  }

  @include mq($md) {
    padding: 1px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    position: absolute;
    top: 22px;
    right: 0;
    bottom: auto;
    left: auto;
    width: 355px;
    .close {
      display: none;
    }
  }

  &:before {
    @include mq($md) {
      content: ' ';
      position: absolute;
      background: #fff;
      left: 50%;
      top: -6px;
      margin-left: -6px;
      width: 12px;
      height: 12px;
      z-index: -1;
      transform: rotate(45deg);
    }
  }

  .inn {
    display: flex;
    flex-direction: column;

    .icon {
      width: 18px;
      height: 18px;
      color: $myshop-black;
      margin-right: 14px;
    }

    &__item {
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      padding: 8px 16px 8px 18px;
      border-radius: 8px;
      cursor: pointer;
    }

    &__item:hover {
      background-color: $myshop-lightviolet;
      color: $myshop-violet;
      .icon {
        color: $myshop-violet;
      }
    }
  }

}
</style>
