<template>
  <div class="auth-container">
    <login v-if="selectedTab === 'login'" :email="email" @toggle-block="toggleTab" />
    <registration v-else-if="selectedTab === 'registration'" :email="email" @toggle-block="toggleTab" />
    <change-password v-else-if="selectedTab === 'password'" :email="email" @toggle-block="toggleTab" />
  </div>
</template>

<script>
import Login from '@/components/layout/Authorization/Login'
import Registration from '@/components/layout/Authorization/Registration'
import ChangePassword from '@/components/layout/Authorization/ChangePassword'

export default {
  components: {
    Login,
    Registration,
    ChangePassword
  },
  data () {
    return {
      selectedTab: '',
      email: ''
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters.isLogin
    }
  },
  watch: {
    $route (val) {
      this.toggleTab(val)
    },
    isLogin (val) {
      if (val) {
        this.redirectAuth()
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.redirectAuth()
    })
  },
  methods: {
    redirectAuth () {
      const routeName = this.$route.name
      if (this.isLogin) {
        if (routeName === 'login' || routeName === 'registration' || routeName === 'password' || routeName === 'my-default') {
          this.$router.push('/my/orders')
        } else if (routeName === 'exit') {
          this.$api.myUtil.logoutUser()
            .then(({ data }) => {
              if (data.message === 'ok') {
                const { redirect } = this.$route.params
                if (redirect) {
                  this.$router.push(redirect)
                } else {
                  this.$router.push('/')
                }
              }
            })
        }
      } else {
        this.toggleTab(routeName)
        // this.orderWR ? this.selectedTab = '' : this.toggleTab(routeName)
      }
    },
    toggleTab (val) {
      this.selectedTab = val !== 'exit' && (val === 'registration' || val === 'password') ? val : 'login'
    }
  }
}
</script>

<style scoped>
.auth-container {
  background: #F6F6F6;
  padding: 1px 0;
}
</style>
