<template>
  <div data-o="body" class="top-container-wrap">
    <loader v-if="showLoader" />
    <div
      v-else
      class="wrap"
      :data-o="mode === 'cart' ? 'cart_table' : 'save_table'"
    >
      <CartTabs
        v-if="!isMobile"
        :mode="mode"
        :count="{ cart: cartItemsSorted.length, save: cartSaveSorted.length }"
        @select-tab="modeChanged"
      />

      <div class="title">
        <h1>{{ mode === "cart" ? "Корзина" : "Избранное" }}</h1>
        <div v-if="mode === 'cart'" class="title__summary">
          <span>{{ cart.total.quantity }} {{ plural(cart.total.quantity, "товар", "товара", "товаров") }}</span>
          <span v-if="cart.total.quantity > 0">, {{ cart.cart.length }}
            {{ plural(cart.cart.length,"наименование","наименования","наименований") }}
          </span>
        </div>
      </div>

      <CartEmpty
        v-if="cartIsEmpty"
        :mode="mode"
        @open-tools="openToolsPopover"
      />

      <div v-else class="cart-with-goods" :class="{ save: mode === 'save' }">
        <div>
          <CartSortPane
            class="cart-sort-pane--cart-page"
            :products-sort="productsSort"
            :sort-name="productsSortName"
            :show-select="showDropDown === 'sort'"
            :sort-options="sortOptions"
            :is-checked="isAllChecked"
            :is-button="productsSelect.length > 0"
            :mode="mode"
            @drop-open="openSortPanel"
            @cart-delete="cartDeleteSelectedConfirmed"
            @cart-save="saveSelected"
            @cart-restore="cartRestoreAll"
            @wishlist-delete="wishlistDeleteAllConfirmed"
            @select-all="selectAll"
            @sort="sortClicked"
          />

          <div v-if="mode === 'cart'" class="cart-items-container">
            <CartItem
              v-for="(item, idx) of cartItemsSorted"
              :key="item.product_id"
              v-model="productsSelect"
              :item="item"
              :index="++idx"
              @cart-delete="cartDeleteConfirmed"
              @cart-save="saveItem"
            />
          </div>

          <ProductGrid
            v-if="mode === 'save'"
            :products="cartSaveSorted"
            @wladd="clickAddWaitList"
          />
        </div>

        <CartInfoPane
          v-if="mode === 'cart'"
          ref="cartInfo"
          v-observe-visibility="{
            callback: (e) => (buyPaneOut = !e),
            intersection: {
              threshold: [0.35, 0.65],
            },
          }"
          :cart-data="cart.total"
          :shipment-date-title="shipmentDateTitle"
          :plural="plural"
          :visibility="isMobile && buyPaneOut && mode === 'cart'"
          @reload-cart="reloadCart"
          @order-clicked="orderClicked"
          @open-tools="openToolsPopover"
        />
      </div>

      <div
        v-if="mode === 'cart' && cart.total.quantity"
        v-observe-visibility="handleRecommendationsVisibility"
      >
        <h2 class="title--recommend">Вас может заинтересовать</h2>
        <RecommendList
          v-if='curBlocks.length > 0'
          class="recommend"
          :products="curBlocks[0].products"
          data-o="show_case_buy_also"
          :min-height="false"
        />
      </div>
    </div>

    <MessageTooltip :tooltip="tooltip" />
    <CartConfirmPopup ref="confirmDelete" />
    <ToolsPopover ref="toolspopover" />
    <InfoPopover />
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { shipmentDateTitles } from '@/globals'
import { plural, logger } from '@/helpers/util'
import ProductGrid from '@/components/common/ProductGrid'
import CartEmpty from '@/components/layout/Cart/CartEmpty'
import CartTabs from '@/components/layout/Cart/CartTabs'
import CartItem from '@/components/layout/Cart/CartItem'
import CartInfoPane from '@/components/layout/Cart/CartInfoPane'
import CartSortPane from '@/components/layout/Cart/CartSortPane'
import CartConfirmPopup from '@/components/layout/Cart/CartConfirmPopup'
import ToolsPopover from '@/components/layout/Cart/ToolsPopover'
import Loader from '@/components/ui/Loader'
import Lggr from '@/mixins/Lggr'
import MessageTooltip from '@/components/modal/MessageTooltip'
import InfoPopover from '@/components/modal/InfoPopover'
import RecommendList from '@/components/layout/Cart/RecommendList'

function uniSort (sopt) {
  return function (a, b) {
    let equality = 0
    if (/^price/.test(sopt.value)) {
      a = a.cost
      b = b.cost
    }
    if (/^sum/.test(sopt.value)) {
      a = a.cost * a.quantity
      b = b.cost * b.quantity
    }
    if (/^qty/.test(sopt.value)) {
      a = a.quantity
      b = b.quantity
    }
    if (/^title/.test(sopt.value)) {
      const aa = a.title
      const bb = b.title
      equality = (aa || 'zz').localeCompare(bb || 'zz')
    } else if (/^date/.test(sopt.value)) {
      const aa = a.shipment_date ? a.shipment_date.sort : ''
      const bb = b.shipment_date ? b.shipment_date.sort : ''
      equality = (aa || 'zz').localeCompare(bb || 'zz')
    } else {
      const [aa, bb] = [parseFloat(a), parseFloat(b)].map((v) =>
        isNaN(v) ? 0 : v
      )
      equality = aa - bb
    }
    equality = equality || (a ? +a.product_id : 0) - (b ? +b.product_id : 0)
    if (sopt.dir < 0) equality = -equality
    return equality
  }
}

// const anim = debounce_(true, 500, (ipane, diff) => { ipane.css('margin-top', diff + 'px') })()
const sortOptions = [
  { value: 'title', dir: 1, text: 'названию (А-я)' },
  { value: 'title-', dir: -1, reflectArrow: true, text: 'названию (я-А)' },
  { value: 'price', dir: 1, text: 'цене (дешёвые сверху)' },
  { value: 'price-', dir: -1, reflectArrow: true, text: 'цене (дорогие сверху)' },
  { value: 'qty', dir: 1, text: 'количеству (по возрастанию)' },
  { value: 'qty-', dir: -1, reflectArrow: true, text: 'количеству (по убыванию)' },
  { value: 'sum', dir: 1, text: 'сумме (по возрастанию)' },
  { value: 'sum-', dir: -1, reflectArrow: true, text: 'сумме (по убыванию)' },
  { value: 'date', dir: 1, text: 'дате доставки (по возрастанию)' },
  { value: 'date-', dir: -1, reflectArrow: true, text: 'дате доставки (по убыванию)' }
]

export default {
  components: {
    ProductGrid,
    CartConfirmPopup,
    CartEmpty,
    CartTabs,
    CartItem,
    CartInfoPane,
    CartSortPane,
    ToolsPopover,
    Loader,
    MessageTooltip,
    InfoPopover,
    RecommendList
  },
  mixins: [Lggr],
  data () {
    return {
      showDropDown: '',
      buyPaneOut: false,
      showRecommends: false,
      productsSort: sortOptions[0],
      productsSelect: [],
      tooltip: { message: '', error: false },
      checkClickOrderButton: false,
      addProductWaitList: ''
    }
  },
  async fetch ({ $gtmTrack, store, error, redirect, query }) {
    try {
      await store.dispatch('loadCart')
      if (query.to !== 'save') {
        logger('show', 'cart', { count: store.state.cart.total.quantity })
        $gtmTrack.googleTagParams(
          store.state.cart.cart.map((item) => item.product_id),
          'cart',
          store.state.cart.total.cost_discount || store.state.cart.total.cost
        )
      }
    } catch (err) {
      console.log(err)
      switch (err.response.status) {
        case 301:
          redirect(err.response.data.redirect)
          break
        case 302:
          redirect(err.response.data.redirect)
          break
        case 400:
          error({
            statusCode: 400,
            title: 'Ошибка',
            message: err.response.data.message || 'Некорректный запрос'
          })
          break
        case 404:
          error({
            statusCode: 404,
            title: 'Страница не найдена',
            message: err.response.data.message || 'В адресе есть ошибка или страница удалена'
          })
          break
        case 500:
          document.location = '/pause.html'
          break
      }
    }
  },
  computed: {
    ...mapState([
      'showLoader',
      'cart',
      'cartSort',
      'pageMeta',
      'curProduct',
      'isMobile'
    ]),
    shipmentDateTitle () {
      const s = this.cart.total.shipment_date
        ? shipmentDateTitles[this.cart.total.shipment_date.type]
        : ''
      return s.length > 0 ? s.charAt(0).toUpperCase() + s.slice(1) : ''
    },
    curBlocks () {
      return this.curProduct.blocks
        ? this.curProduct.blocks.filter(
          (b) => b.products && b.products.length > 0
        )
        : []
    },
    cartIsEmpty () {
      return (
        (this.cart.cart.length === 0 && this.mode === 'cart') ||
        (this.cart.save.length === 0 && this.mode === 'save')
      )
    },
    cartItemsSorted () {
      return this.cart.cart.slice().sort(uniSort(this.productsSort))
    },
    cartSaveSorted () {
      return this.cart.save.slice()
        .sort(uniSort(this.productsSort))
        .map(v => ({ ...v, promos: v.promo }))// переназвем для дочернего компонента поле promo в promos для корректного отображения скидки
    },
    productsSortName () {
      const [f] = sortOptions.filter(
        (f) =>
          f.value === this.productsSort.value && f.dir === this.productsSort.dir
      )
      return f ? f.text : null
    },
    sortOptions () {
      return sortOptions.filter((o) =>
        this.mode === 'save' ? /^price/.test(o.value) || /^title/.test(o.value) : true
      )
    },
    mode () {
      return this.$route.query && this.$route.query.to === 'save'
        ? 'save'
        : 'cart'
    },
    productsAllSelect () {
      return this.cartItemsSorted.map((item) => item.cart_id)
    },
    isAllChecked () {
      return this.productsAllSelect.length === this.productsSelect.length
    },
    isLogin () {
      return this.$store.getters.isLogin
    }
  },
  watch: {
    $route () {
      // this.loadCart()
      this.updatePageMeta({ ...this.pageMeta, title: 'Корзина' })
    },
    cart (novel, old) {
      if (novel.cart && novel.cart.length) {
        if (novel.cart.length !== old.cart.length) {
          this.showRecommends = false // а иначе слайдер разваливается
          if (novel.cart.length) {
            this.loadRecommends().then(() => {
              this.showRecommends = true
            })
          }
        } else {
          this.showRecommends = true
        }
      }
    },
    // при авторизации запрашиваем данные снова, и делаем reset для всех значений data
    isLogin (v, o) {
      if (v !== o) {
        if (this.checkClickOrderButton) {
          this.$store.dispatch('orderClicked', { event: 'cart_order_button' })
        } else {
          this.reloadCart()
        }
      }
    },
    isMobile (newValue) {
      newValue ? this.setFloatBtn(140) : this.setFloatBtn(24)
    }

  },
  mounted () {
    this.updatePageMeta({ ...this.pageMeta, title: 'Корзина' })
    this.isMobile && this.setFloatBtn(140)
  },
  methods: {
    ...mapMutations(['updatePageMeta', 'setFloatBtn']),
    ...mapActions('modals', { toggleModal: 'toggle' }),
    ...mapActions([
      'loadCart',
      'cartDeleteClicked',
      'cartDeleteSelected',
      'cartSaveSelected',
      'cartSaveClicked',
      'cartRestoreAll',
      'wishlistDeleteAll',
      'waitlistAdd',
      'loadRecommends'
    ]),
    async handleRecommendationsVisibility(isVisible) {
      if (isVisible && this.curBlocks.length === 0) {
        await this.loadRecommends()
      }
    },
    sortClicked (sortVal) {
      const opt = this.sortOptions.find(item => item.value === sortVal)
      this.productsSort = opt
      // const name = this.$route.name === 'prod-list-article' ? 'prod-list-bytype' : this.$route.name
      // this.$router.push({ name, params: { ...this.$route.params, page: 1, sort: sortVal }, query: this.$route.query })
    },
    modeChanged (m) {
      this.$router.push(
        m === 'cart'
          ? { path: '/my/cart' }
          : { path: '/my/cart', query: { to: 'save' } },
        () => {},
        () => {}
      )
      this.productsSort = sortOptions[0]
    },
    openSortPanel () {
      if (this.isMobile && !this.showDropDown) {
        this.$refs.sort.openModal()
      }
      this.showDropDown = this.showDropDown === '' ? 'sort' : ''
    },
    openToolsPopover () {
      this.toggleModal({ name: 'ToolsPopover' })
      this.$refs.toolspopover.showPopover(this.mode)
    },
    cartDeleteConfirmed ({ item, event }) {
      this.toggleModal({ name: 'CartDelete' })
      this.$refs.confirmDelete
        .show(
          'Вы точно хотите удалить товар?<br />Отменить действие будет невозможно.'
        )
        .then((confirm) => {
          if (confirm) {
            const index = this.productsSelect.indexOf(item.cart_id)
            if (index > -1) this.productsSelect.splice(index, 1)
            this.cartDeleteClicked({
              curProduct: item,
              quantity: item.quantity,
              event,
              type: 'cart'
            })
          }
        })
    },
    cartDeleteSelectedConfirmed (event) {
      this.toggleModal({ name: 'CartDeleteSelected' })
      this.$refs.confirmDelete
        .show(
          'Вы точно хотите удалить выбранные товары?<br />Отменить действие будет невозможно.'
        )
        .then((confirm) => {
          if (confirm) this.deleteSelected(event)
        })
    },
    wishlistDeleteAllConfirmed () {
      this.toggleModal({ name: 'CartDeleteAll' })
      this.$refs.confirmDelete
        .show(
          'Вы уверены, что нужно удалить все товары?<br />Отменить действие будет невозможно.'
        )
        .then((confirm) => {
          if (confirm) this.wishlistDeleteAll()
        })
    },
    async reloadCart () {
      await this.loadCart()
      if (this.cart.cart.length) {
        this.showRecommends = false // а иначе слайдер разваливается
        await this.loadRecommends().then(() => {
          this.showRecommends = true
          return true
        })
      }
      if (this.addProductWaitList) {
        await this.waitlistAdd(this.addProductWaitList)
        this.addProductWaitList = ''
      }
    },
    selectAll () {
      if (this.productsSelect.length !== this.productsAllSelect.length) {
        this.productsSelect = [...this.productsAllSelect]
      } else {
        this.productsSelect = []
      }
    },
    saveSelected (event) {
      this.cartSaveSelected({ goods: this.productsSelect, event })
      this.tooltip = { message: 'Товары перенесены в избранное', error: false }
      this.productsSelect = []
    },
    deleteSelected (event) {
      this.cartDeleteSelected({ goods: this.productsSelect, event })
      this.productsSelect = []
    },
    saveItem ({ item, event }) {
      this.cartSaveClicked({ curProduct: item, event })
      this.tooltip = { message: 'Товар перенесен в избранное', error: false }
    },
    orderClicked () {
      if (this.isLogin) {
        this.$store.dispatch('orderClicked', { event: 'cart_order_button' })
      } else {
        this.checkClickOrderButton = true
        this.toggleModal({ name: 'phone' })
      }
    },
    clickAddWaitList (id) {
      if (this.isLogin) {
        this.waitlistAdd(id)
      } else {
        this.addProductWaitList = id
        this.$nextTick(() => {
          this.toggleModal({ name: 'phone' })
        })
      }
    },
    plural
  }
}
</script>

<style scoped lang="scss">
a,
a:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $myshop-violet;
}

.top-container-wrap {
  background: #ffffff;
}

.title {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;

  h1 {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin: 0;
    color: $myshop-black;

    @media (max-width: $lg) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (max-width: $md) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &--recommend {
    font-size: 24px;
    line-height: 32px;
    margin: 45px 0px 16px;

    @media (max-width: $md) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__summary {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    margin-left: 17px;
  }
}
.wrap {
  @media (max-width: $md) {
    .cart-with-goods {
      margin: 10px 0 8px 0;
    }
    ::v-deep .cart-sort-pane {
      margin: 0;
    }
  }
}
.cart-with-goods {
  display: grid;
  grid-template-columns: 1fr 339px;
  grid-template-rows: auto;
  grid-gap: 0 24px;
  margin: 20px 0;

  @media (max-width: $xl) {
    grid-template-columns: 1fr 306px;
  }

  @media (max-width: $md) {
    grid-template-columns: 1fr;
    grid-gap: 16px 0;
  }

  &.save {
    grid-template-columns: 1fr;
    grid-gap: 16px 0;
  }
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
}

.save-items-container {
  margin: 5px 10px;
  @media (min-width: $desktop-width) {
    margin: 5px 0;
  }
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommend {
  margin-bottom: 20px;
}
</style>
