<template>
  <div data-o="body" class="top-container-wrap">
    <div
      v-show="curProduct && curProduct.product_id"
      class="top-container"
      itemscope
      itemtype="http://schema.org/Product"
      data-o="good-container"
    >
      <breadcrumbs :items="breadcrumbs" :front-ellip="breadcrumbsFrontEllip" />

      <h1 class="title">
        {{ curProduct.title_prefix }}
        <span itemprop="name" v-html="curProduct.title" />
      </h1>
      <div class="product-code">
        <span class="product-code__code">
          Код товара: <span class="value">{{ curProduct.product_id }}</span>
        </span>
        <span
          v-if="(saleSystemCode && saleSystemCode.value > 0) "
          class="product-code__sale"
        >
          <a
            href="javascript:void(0)"
            class="value"
            :to="saleSystemCode.href"
            @click.prevent="
              setHelpHintModal({
                modal: 'ProductView',
                text: 'На товары с меткой «В программе лояльности» применяется накопительная скидка, промокоды, купоны и персональные сертификаты.',
                title: 'Программа лояльности',
                href: '',
                open: true,
              })
            "
          >В программе лояльности</a>
        </span>
      </div>
      <div class="product-content">
        <link itemprop="url" :href="OGurl" />
        <link
          itemprop="image"
          :href="`https:${prodImagesOrStub[0].original.href}`"
        />
        <meta itemprop="description" :content="curProduct.description" />
        <div class="product-content__column" style="min-height: 328px">
          <component
              :is="ImGalleryImport"
              v-if="ImGalleryImport && isClientSide"
              :images="prodImagesOrStub"
              :promo="curProduct.promos || []"
              :has-thumbnails="!isMobile"
            />
            <img
              v-show="!isClientSide"
              :src="`https://${prodImagesOrStub[0].original.href}`"
              :alt="prodImagesOrStub[0].original.alt"
              style="height: auto; width: 100%"
            />
        </div>

        <div class="product-content__column" data-o="good">
          <div
            class="price"
            itemprop="offers"
            itemscope
            itemtype="http://schema.org/Offer"
          >
            <meta
              itemprop="availability"
              :content="
                available
                  ? 'http://schema.org/InStock'
                  : 'http://schema.org/OutOfStock'
              "
            />
            <meta itemprop="price" :content="curProduct.cost" />
            <meta itemprop="priceCurrency" content="RUB" />
            <meta itemprop="priceValidUntil" :content="priceValidUntil" />
            <!-- ISBN -->
            <meta
              v-if="curProduct.isbn"
              itemprop="isbn"
              :content="curProduct.isbn"
            />
            <!-- ISBN -->
            <!-- код производителя товара -->
            <meta
              v-if="curProduct.mpn"
              itemprop="mpn"
              :content="curProduct.mpn"
            />
            <!-- код производителя товара -->
            <!-- SKU -->
            <meta
              v-if="curProduct.cart_id"
              itemprop="sku"
              :content="curProduct.cart_id"
            />
            <!-- SKU -->
            <div>
              <div
                v-if="
                  (available || curProduct.estimate_date_to_sale) &&
                  curProduct.cost
                "
                class="price__base"
                :class="[
                  curProduct.old_cost ||
                  (curProduct.sell_out &&
                    curProduct.sell_out.before_sell_out_cost)
                    ? 'price-red'
                    : 'price-black',
                ]"
              >
                {{ (curProduct.cost || '') | localeString }}
                <span class="currency">₽</span>
              </div>

              <div v-else-if="curProduct.cost" class="price__outofstock">
                <span class="price__outofstock-big">Нет в наличии</span>
                <span v-if="curProduct.cost" class="price__outofstock-smol"
                  >Последняя цена:
                  <b class=""
                    >{{ (curProduct.cost || '') | localeString
                    }}<span class="currency">₽</span></b
                  >
                </span>
              </div>

              <div
                v-if="available && curProduct.old_cost"
                class="price__old color-gray"
              >
                {{ (curProduct.old_cost || '') | localeString }}
                <span class="currency">₽</span>
              </div>
              <div
                v-if="
                  available &&
                  curProduct.sell_out &&
                  curProduct.sell_out.before_sell_out_cost
                "
              >
                <div class="price__sellout1">
                  До распродажи:
                  <strike
                    >{{
                      (curProduct.sell_out.before_sell_out_cost || '')
                        | localeString
                    }}
                    ₽</strike
                  >
                </div>

                <div
                  v-if="curProduct.sell_out.discount"
                  class="price__discount color-gray"
                >
                  Скидка&nbsp;<span class="blue-badge"
                    >{{ curProduct.sell_out.discount }}%</span
                  >
                  на&nbsp;{{ curProduct.sell_out.balance }}&nbsp;шт.
                </div>
              </div>

              <div
                v-if="curProduct.estimate_date_to_sale"
                class="price__old color-green on-sale-soon"
              >
                Скоро в продаже!
              </div>
            </div>
            <div v-if="availableCount" class="price__avail">
              <span>В наличии {{ availableCount }} шт.</span>
            </div>
          </div>
          <div v-if="isBuyCheaper" class="cheaper-line">
            <a class="purple" @click.prevent="buyCheaperClicked">Купить дешевле</a>
          </div>
          <div class="buttons">
            <buy-pane @addWaitList="clickAddWaitList" />
          </div>
          <div
            v-if="!curProduct.estimate_date_to_sale"
            class="brief-info-line delivery"
          >
            <div>
              <span class="brief-info-line__title">Доставим в </span>
              <a class="purple" @click.prevent="toggleDeliveryPanel">{{
                deliveryPoint
              }}</a>
              <span class="brief-info-line__title separator">
                {{ curProduct.shipment_date ? ', ' : '' }}
              </span>
            </div>
            <div v-if="curProduct.shipment_date">
              <span class="brief-info-line__title">{{ deliveryLabel }}</span>
              <div class="green">
                {{ curProduct.shipment_date.date }}
              </div>
            </div>
          </div>
          <div v-else class="brief-info-line">
            <span class="note__soon"
              >Ожидается
              {{ curProduct.estimate_date_to_sale | formatDate }}</span
            >
          </div>

          <div
            v-if="curProduct.limitations && curProduct.limitations.length > 0"
            class="brief-info-line"
          >
            <span class="brief-info-line__title-limit"
              >Ограничения по доставке:</span
            >
            <nuxt-link
              v-for="(l, i) of curProduct.limitations"
              :key="l.limit"
              :to="l.href"
            >
              {{ l.limit }}
              <span v-if="i < curProduct.limitations.length - 1">, </span>
            </nuxt-link>
          </div>

          <div v-if="curProduct.indivisible_set" class="brief-info-line">
            <div class="brief-info-line__adjust">
              <img src="/_all/my/adjust_half.svg" width="24" height="24" />
              <div class="content">
                <label>Часть комплекта</label>
                {{ curProduct.indivisible_set }}
              </div>
            </div>
          </div>

          <div class="tabs1">
            <template v-if="curProduct.attrs">
              <!-- brand -->
              <div
                itemprop="brand"
                itemtype="https://schema.org/Brand"
                itemscope
              >
                <meta itemprop="name" :content="curProduct.attrs[0].value" />
              </div>
              <!-- brand -->
              <about-table :attrs="curProduct.attrs" />
            </template>
          </div>
        </div>
      </div>

      <a ref="extendedinfo" name="extendedinfo" />

      <div ref="pane" class="rounded-pane">
        <div class="tabs2">
          <div
            :class="{ tabs2__tab: 1, tabs2__active: selectedTab2 === 'descr' }"
            role="button"
            @click="switchToTab2('descr')"
          >
            <div class="tabs2__tube" />
            <div class="tabs2__label">Описание</div>
          </div>
          <div
            :class="{ tabs2__tab: 1, tabs2__active: selectedTab2 === 'attrs' }"
            role="button"
            @click="switchToTab2('attrs')"
          >
            <div class="tabs2__tube" />
            <div class="tabs2__label">Характеристики</div>
          </div>
          <div
            :class="{
              tabs2__tab: 1,
              tabs2__active: selectedTab2 === 'reviews',
            }"
            role="button"
            @click="switchToTab2('reviews')"
          >
            <div class="tabs2__tube" />
            <div class="tabs2__label">
              Отзывы <span class="review-count">{{ reviewCount }}</span>
            </div>
          </div>
          <div
            v-if="curProduct.content"
            :class="{
              tabs2__tab: 1,
              tabs2__active: selectedTab2 === 'contents',
            }"
            role="button"
            @click="switchToTab2('contents')"
          >
            <div class="tabs2__tube" />
            <div class="tabs2__label">Содержание</div>
          </div>
          <div
            v-if="curProduct.files && curProduct.files.length"
            :class="{ tabs2__tab: 1, tabs2__active: selectedTab2 === 'files' }"
            role="button"
            @click="switchToTab2('files')"
          >
            <div class="tabs2__tube" />
            <div class="tabs2__label">Инструкции и файлы</div>
          </div>
        </div>
        <div v-show="selectedTab2 === 'descr'" class="tab-content2">
          <h2>Описание</h2>
          <div
            itemprop="description"
            class="tab-description"
            :class="{ full: showFullDescr }"
          >
            <div ref="description">
              <span
                v-click-prevent-default
                v-html="decodeHtmlEntities(curProduct.description)"
              />
            </div>
          </div>
          <div
            v-if="!showFullDescr && showBtnMore"
            class="showall"
            @click="showFullDescr = true"
          >
            Развернуть описание
          </div>
        </div>
        <div v-show="selectedTab2 === 'attrs'" class="tab-content2">
          <h2>Характеристики</h2>
          <attrs-table :attrs="curProduct.attrs12" :has-split="true" />
        </div>
        <div v-show="selectedTab2 === 'reviews'" class="tab-content2">
          <template v-if="success_message">
            <h2>Спасибо!</h2>
            <div>Ваш отзыв отправлен.</div>
          </template>
          <h2
            itemprop="aggregateRating"
            itemtype="https://schema.org/AggregateRating"
            itemscope
          >
            Отзывы
          </h2>
          <!-- TODO: заполнить когда будут оценки.отзывы -->
          <meta itemprop="reviewCount" content="" />
          <meta itemprop="ratingValue" content="" />
          <!-- TODO: заполнить когда будут оценки.отзывы -->

          <add-review
            v-if="isLogin && addReview && curProduct"
            :id="reviewID"
            :item="{
              preview: prodImagesOrStub[0].preview,
              title: curProduct.title,
              brand: curProduct.about[0],
            }"
            @cancel-review="viewReviews"
            @response-review="updateReview"
          />
          <reviews
            v-else
            :id="reviewID"
            :count="reviewCount"
            :items="reviewList"
            @new-review="clickAddReview"
            @all-review="getReviews"
          />
        </div>
        <div v-show="selectedTab2 === 'contents'" class="tab-content2">
          <h2>Содержание</h2>
          <div
            v-click-prevent-default
            class="contents-pane"
            v-html="curProduct.content"
          />
        </div>
        <div v-show="selectedTab2 === 'files'" class="tab-content2">
          <h2>Инструкции и файлы</h2>
          <a
            v-for="f in curProduct.files"
            :key="f.filesrc"
            class="file-item"
            :href="f.filesrc"
            target="_blank"
            rel="noopener nofollow"
          >
            <img
              src="/_all/my/fileIcon.svg"
              width="48"
              height="48"
              style="margin: 0 8.5px 0 0"
            />
            <div class="file-item__text">
              <div>{{ f.filename }}</div>
              <span
                >{{ f.ext }},
                {{ (f.bytes / (1024 * 1024)).toFixed(2) }} Mb</span
              >
            </div>
          </a>
        </div>
      </div>

      <section v-observe-visibility="handleRecommendationsVisibility">
        <div
          v-for="item of curBlocks"
          :key="item.id"
          class="product-grid-list"
          data-o="show_case_buy_also"
        >
          <template v-if="item.href && item.title">
            <h2 class="product-grid-list__title">
              <nuxt-link :to="item.href">{{ item.title }}</nuxt-link>
            </h2>
          </template>

          <h2 v-else-if="item.title" class="product-grid-list__title">
            {{ item.title }}
          </h2>

          <ProductsList
            v-if="item.products && item.products.length"
            :products="item.products"
            data-o=""
            :min-height="false"
          />
        </div>
      </section>
    </div>

    <InfoPopover />
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import { adjust } from 'ramda'
import { getWindowWidth, plural, decodeHtmlEntities, logger } from '@/helpers/util'
import Breadcrumbs from '@/components/ui/Breadcrumbs'
import BuyPane from '@/components/layout/ProductView/BuyPane'
import AttrsTable from '@/components/layout/ProductView/AttrsTbl'
import AboutTable from '@/components/layout/ProductView/AboutTbl'
import Lggr from '@/mixins/Lggr'
import Reviews from '@/components/layout/ProductView/Reviews'
import AddReview from '@/components/layout/ProductView/AddReview'
import ProductsList from '@/components/common/ProductGrid'
import InfoPopover from '@/components/modal/InfoPopover'

const initialData = () => {
  return {
    showFullDescr: false,
    showAttrs: true,
    showContents: false,
    showBtnMore: false,
    curProdImageI: 0,
    selectedTab2: 'descr',
    addReview: false,
    success_message: false,
    productReview: {
      count: null,
      comments: null
    },
    addProductWaitList: ''
  }
}

export default {
  name: 'ProductView',
  components: {
    breadcrumbs: Breadcrumbs,
    'attrs-table': AttrsTable,
    'about-table': AboutTable,
    Reviews,
    BuyPane,
    AddReview,
    ProductsList,
    InfoPopover
  },
  mixins: [Lggr],
  data () {
    return {...initialData(), isClientSide: false }
  },
  async fetch ({ params, query, store, error, redirect }) {
    await store.dispatch('loadProduct', {
      id: params.id,
      b45: query.b45
    })
      .catch(err => {
        switch (err.response.status) {
          case 301:
            redirect(err.response.data.redirect)
            break
          case 302:
            redirect(err.response.data.redirect)
            break
          case 400:
            error({
              statusCode: 400,
              title: 'Ошибка',
              message: err.response.data.message || 'Некорректный запрос'
            })
            break
          case 404:
            error({
              statusCode: 404,
              title: 'Страница не найдена',
              message: err.response.data.message || 'В адресе есть ошибка или страница удалена'
            })
            break
          case 500:
            document.location = '/pause.html'
            break
        }
      })
  },
  computed: {
    ...mapState(['showLoader', 'products', 'curProduct', 'cart', 'windowWidth', 'isMobile']),
    ...mapGetters(['isLogin']),
    curBlocks () {
      return this.curProduct.blocks
        ? this.curProduct.blocks.filter(
          (b) => b.products && b.products.length > 0
        )
        : []
    },
    prodImages () {
      const imgs = this.curProduct.images
        ? this.curProduct.images.filter(i => i.original.href[0] !== '/_all/my/noimage.svg').map((i) => {
          return { ...i, type: 'image' }
        })
        : []
      const media = this.curProduct.media
        ? this.curProduct.media
          .filter((m) => m.filesrc)
          .map((m) => {
            return {
              original: { href: m.filesrc },
              preview: { href: m.filesrc },
              type: m.ext === 'mp3' ? 'audio' : 'video'
            }
          })
        : []
      const pdf = this.curProduct.pdf
        ? [this.curProduct.pdf].map((p) => {
          return {
            original: { href: p.filesrc },
            preview: { href: p.filesrc },
            type: 'pdf'
          }
        })
        : []
      return imgs.concat(media).concat(pdf)
    },
    prodImagesOrStub () {
      return this.prodImages && this.prodImages.length > 0
        ? this.prodImages
        : [
            {
              type: 'image',
              original: { href: '/_all/my/noimage.svg' },
              preview: { href: '/_all/my/noimage.svg' },
              isNoImage: true
            }
          ]
    },
    reviewID () {
      return this.curProduct.review
        ? Number(this.curProduct.review.id)
        : this.$route.params.id
    },
    reviewCount () {
      return this.productReview.count
        ? this.productReview.count
        : this.curProduct.review
          ? this.curProduct.review.count
          : 0
    },
    reviewList () {
      return this.productReview.comments
        ? this.productReview.comments
        : this.curProduct.review
          ? this.curProduct.review.comments
          : []
    },
    available () {
      return this.curProduct.availability
        ? this.curProduct.availability.status
        : false
    },
    availableCount () {
      return this.curProduct.availability && this.curProduct.availability.count
        ? this.curProduct.availability.count
        : 0
    },
    deliveryPoint () {
      return this.$store.getters["application/addressPoint"]?.longname || ''
    },
    deliveryLabel () {
      return this.curProduct.shipment_date.type === '0' ? 'ориентировочная дата отгрузки – ' : 'планируемая дата – '
    },
    breadcrumbs () {
      const bc = this.curProduct.breadcrumbs
      // [{a},{b},{c},{d}] => [{c},{d}]
      return bc ? adjust(0, (arr) => (arr ? arr.slice(!this.isMobile ? 0 : -2) : []), bc) : [[]]
    },
    breadcrumbsFrontEllip () {
      return (
        this.curProduct.breadcrumbs &&
        this.curProduct.breadcrumbs[0] &&
        this.curProduct.breadcrumbs[0].length > 2 &&
        this.isMobile
      )
    },
    saleSystemCode () {
      const attr =
        this.curProduct.attrs12 &&
        this.curProduct.attrs12.find(
          (attr) => attr.name === 'код системы скидок'
        )
      return attr
    },
    OGurl () {
      return `https://my-shop.ru${this.$route.fullPath}`
    },
    priceValidUntil () {
      const today = new Date()
      const date = new Date(new Date().setDate(today.getDate() + 30))
      return date.toLocaleDateString('en-GB').split('/').reverse().join('-') // приведем к формату = '2021-11-24'
    },
    ImGalleryImport(){
      if (process.client) {
        return () => import( `@/components/layout/ProductView/ImGallery`);
      } else {
        return null
      }
    },
    isBuyCheaper () {
      const check = !this.isLogin && this.saleSystemCode && this.saleSystemCode.value === '25'
      if (check) logger('show', 'buy_cheaper', {})
      return check
    }
  },
  watch: {
    isMobile (newValue) {
      newValue ? this.setFloatBtn(100) : this.setFloatBtn(24)
    },
    // при изменениях маршрута запрашиваем данные снова, и делаем reset для всех значений data
    $route () {
      Object.assign(this.$data, initialData())
      this.fetchProduct()
    },
    // при авторизации запрашиваем данные снова, и делаем reset для всех значений data
    isLogin (v, o) {
      if (v !== o) {
        Object.assign(this.$data, initialData())
        this.fetchProduct()
        if (this.addProductWaitList) {
          this.waitlistAdd(this.addProductWaitList)
          this.addProductWaitList = ''
        }
        const reviewWasOpened = sessionStorage.getItem('reviewWasOpened')

        if (reviewWasOpened) {
          sessionStorage.removeItem('reviewWasOpened')
          /**
           *  авторизация вызывает ремаунт, запустим checkExistRef() чтобы убедиться что элемент отрисован
          */
          const checkExistRef = () => {
            setTimeout(() => {
              if(this.$refs.pane && this.curProduct?.about){
                this.$nextTick(()=>{
                  this.newReview()
                })
              } else {
                checkExistRef()
              }
            }, 300)
          }
          checkExistRef()
        }
      }
    },
    curProduct () {
      document.body.scrollTop = document.documentElement.scrollTop = 0
      this.setWindowWidth(getWindowWidth())
      this.$nextTick(() => {
        if (this.$refs.description) {
          this.$refs.description.removeEventListener('click', this.onShowMore)
          this.$refs.description.addEventListener('click', this.onShowMore)
          if (this.$refs.description.offsetHeight > 200) {
            this.showBtnMore = true
          }
        }
      })
    }
  },
  mounted () {
    this.isMobile && this.setFloatBtn(100)
    this.$store.dispatch('loadRecommends', this.$route.params.id)

    this.$nextTick(() => {
      const descriptionElem = this.$refs.description
      if (descriptionElem && descriptionElem.offsetHeight > 200) {
        this.showBtnMore = true
      }
    })
    if (this.$isClient) {
      this.isClientSide = true
    }
  },
  methods: {
    ...mapActions(['loadProduct', 'loadRecommends', 'cartBuyClicked', 'cartSaveClicked', 'orderClicked', 'cartDeleteClicked', 'waitlistAdd', 'setHelpHintModal']),
    ...mapMutations(['setWindowWidth', 'updateCurProduct', 'updatePageMeta', 'updateCartPartial', 'hideLoader', 'updateErrors', 'setHelpHint', 'setFloatBtn']),
    ...mapActions('modals', { toggleModal: 'toggle' }),
    async handleRecommendationsVisibility(isVisible) {
      if (isVisible && this.curBlocks.length === 0) {
        await this.loadRecommends(this.$route.params.id)
      }
    },
    async fetchProduct () {
      await this.loadProduct({
        id: this.$route.params.id,
        b45: this.$route.query.b45
      })
      await this.loadRecommends(this.$route.params.id)
    },
    toggleDescr () {
      this.showFullDescr = !this.showFullDescr
    },
    onShowMore (e) {
      if (e.target.nodeName === 'SPAN') {
        this.toggleDescr()
      }
    },
    newReview () {
      this.addReview = true
      this.selectedTab2 = 'reviews'
      this.$refs.extendedinfo.scrollIntoView({
        behavior: 'smooth'
      })
    },
    viewReviews () {
      this.addReview = false
      this.selectedTab2 = 'reviews'
      this.$refs.extendedinfo.scrollIntoView({
        behavior: 'smooth'
      })
    },
    viewAttrs () {
      this.selectedTab2 = 'attrs'
      this.$refs.extendedinfo.scrollIntoView({
        behavior: 'smooth'
      })
    },
    // viewDescr () {
    //   this.selectedTab2 = 'descr'
    //   this.$refs.extendedinfo.scrollIntoView({
    //     behavior: 'smooth'
    //   })
    //   this.showFullDescr = true
    // },
    switchToTab2 (n) {
      this.addReview = false
      this.selectedTab2 = n
      event.currentTarget.scrollIntoView({
        behavior: 'smooth',
        block: 'nearest'
      })
    },
    updateReview (d) {
      this.productReview = d.reviews
      this.success_message = true
      this.viewReviews()
      setTimeout(() => {
        this.success_message = false
      }, 4000)
    },
    getReviews () {
      this.$api.myShop.getReviews(this.$route.params.id)
        .then(({ data }) => {
          this.productReview = data.reviews
        })
    },
    clickAddWaitList (id) {
      if (this.isLogin) {
        this.waitlistAdd(id)
      } else {
        this.addProductWaitList = id
        this.toggleModal({ name: 'phone' })
      }
    },
    clickAddReview () {
      if (this.isLogin) {
        this.newReview()
      } else {
        sessionStorage.setItem('reviewWasOpened', true)
        this.toggleModal({ name: 'phone' })
      }
    },
    toggleDeliveryPanel () {
      this.toggleModal({ name: 'delivery' })
    },
    buyCheaperClicked () {
      logger('click', 'buy_cheaper', {})
      this.$router.push({ name: 'registration', params: { redirect: document.location.pathname }, query: { disco: '1' } })
    },
    // changeHistoryHandler (event) {
    //   const { helpHint, productPage: { isGaleryModal } } = this.$store.state
    //   const isModalsOpened = [isGaleryModal, helpHint && helpHint.open ? helpHint.open : false].some(v => v === true)

    //   if (isModalsOpened) {
    //     this.$root.$renderedComponents.imGallery.closePopup()
    //     this.setHelpHint(null)
    //   }
    // },
    plural,
    decodeHtmlEntities
  }
}
</script>

<style scoped lang="scss">
.top-container-wrap {
  background: #ffffff;
}

.link1 {
  margin-top: 5px;
  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
  display: block;
}

.top-container {
  background: white;
  position: relative;
  max-width: 1600px;
  margin: 0 115px;
  padding: 0;

  @media (min-width: 1800px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $desktop-width - 1px) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  @media (max-width: 1300px) {
    max-width: $desktop-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.top-container404 {
  display: flex;
}
.product-content {
  @media (min-width: $tablet-width) {
    display: flex;
    & > *:not(.popup) {
      flex: 1 1 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }
  @media (max-width: $desktop-width - 1px) {
    &__column:first-child {
      margin-right: 20px;
    }
  }
  @media (min-width: $desktop-width) {
    & > *:not(.popup) {
      flex: 1 1 calc(50% - 32px);
      max-width: calc(50% - 32px);
    }
    &__column:first-child {
      margin-right: 64px;
    }
  }
}

.rounded-pane {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.rounded-pane404 {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $mobile-width) {
    height: 420px;
  }
  @media (min-width: $desktop-width) {
    max-width: 1210px;
  }
  @media (max-width: $mobile-width) {
    margin: 60px auto 30px auto;
    height: 182px;
  }
  max-width: calc(100vw - 20px);
  p {
    margin: 5px auto;
    text-align: center;
  }
}

.reviews-text,
.reviews-text:visited,
.reviews-text:focus {
  border-bottom: 1px dashed $myshop-gray08;
  color: $myshop-gray08;
  font-size: 14px;
  line-height: 20px;
  padding: 3px 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.reviews-text:hover,
.reviews-text:active {
  color: $myshop-violet;
  border-bottom: 1px dashed $myshop-violet;
}

.price {
  margin-bottom: 16px;
  font-weight: bold;
  justify-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__base {
    display: inline-block;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin-right: 8px;
    color: #2a3d48;
    svg {
      height: 17px;
      width: 14px;
    }
  }
  &__outofstock {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    &-big {
      margin-right: 10px;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      color: #2a3d48;
    }
    &-smol {
      white-space: nowrap;
      font-size: 16px;
      line-height: 18px;
      font-weight: normal;
      color: $myshop-gray;
      color: #7f8b91;
      b {
        font-weight: 400;
      }
    }
  }
  &__old {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #7f8b91;
    font-size: 24px;
    line-height: 24px;

    &.color-gray {
      text-decoration: line-through;
      text-decoration-color: #f64853;
    }
    &.on-sale-soon {
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      color: $myshop-black;
    }
  }
  &__sellout1 {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-gray08;
    margin: 5px 0 3px 0;
  }
  &__discount {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-black;
    margin: 5px 0 0 0;
  }
  &__avail {
    color: #de2a35;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    background: #fee1e2;
    border-radius: 8px;
    padding: 2px 8px;
  }
  .currency {
    color: #7f8b91;
    font-weight: normal;
  }
}

.ebook {
  display: flex;
}

.btn-ebook {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: $myshop-violet;
  background: #ffffff;
  border: 1px solid #ebe2f5;
  box-sizing: border-box;
  border-radius: 8px;
  color: #783cbd;
  padding: 0;
  line-height: 46px;
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-device-width: $tablet-width) {
    max-width: 382px;
  }
  &:hover {
    background: #ebe2f5;
  }
}

.cheaper-line {
  margin-top: -16px;
  margin-bottom: 16px;
  > a {
    cursor: pointer;
    font-weight: 500;
  }
}

.brief-info-line {
  position: relative;

  &__title {
    display: inline;
    font-size: 14px;
    line-height: 20px;
    color: #2a3d48;
    font-weight: normal;
    &.separator {
      margin-left: -4px;
    }
  }
  &__title-limit {
    font-size: 14px;
    line-height: 20px;
    color: #d32f2f;
  }

  &.delivery {
    & > div {
      display: inline;
      line-height: 20px;
      min-width: fit-content;
      a {
        display: inline;
        cursor: pointer;
        font-weight: 500;
      }
    }
    @media screen and (max-device-width: 767px) {
      display: flex;
      flex-direction: column;
      & > * {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 8px;
        }
      }
      & > div {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  .green {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: #1faf5f;
  }
  &__adjust {
    background: #fff4d9;
    border: 1px solid #ffd366;
    box-sizing: border-box;
    border-radius: 5px;
    color: #2a3d48;
    display: flex;
    flex-wrap: nowrap;
    padding: 12px 16px;
    margin-top: 16px;
    img {
      margin-right: 12px;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
    label {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #2a3d48;
    }
  }
  .note__soon {
    display: inline-block;
    font-size: 16px;
    padding: 0;
    border-radius: 8px;
    color: $myshop-black;
    line-height: 24px;
    font-weight: 500;
  }
}

.tabs1 {
  display: flex;
  font-size: 14px;
  overflow-x: auto;
  padding-top: 16px;
  margin-top: 15px;
  border-top: 1px solid #e5e7e9;
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.file-item {
  display: flex;
  font-weight: normal;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  margin-right: 4px;
  &:last-child {
    margin-right: 0;
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
    &:hover > * {
      color: #783cbd;
    }
    div {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $myshop-black;
    }
    span {
      font-size: 13px;
      line-height: 18px;
      color: #7f8b91;
      text-transform: uppercase;
    }
  }
}

.tabs2 {
  display: flex;
  font-size: 14px;
  overflow-x: auto;
  border-top: 1px solid #e5e7e9;
  margin-top: 32px;
  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }
  &__tab:last-child {
    margin-right: 0;
  }
  &__tab {
    margin-right: 16px;
    color: $myshop-gray;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &__label {
      padding: 0 8px;
    }
  }
  &__tube {
    visibility: hidden;
    background-color: $myshop-violet;
    padding: 1px 0;
    flex-basis: 100%;
    border-radius: 5px;
  }
  &__label {
    padding: 10px 8px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
  }
  .review-count {
    border-radius: 50%;
    background-color: #dfe2e4;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__active {
    color: $myshop-violet;
    .tabs2__tube {
      visibility: visible;
    }
    .tabs2__label {
      font-weight: 600;
      .review-count {
        color: white;
        background-color: $myshop-violet;
      }
    }
  }
}

.tabs2-border {
  border-bottom: 1px solid rgba(42, 61, 72, 0.2);
  margin: 0 -10px 0 -10px;
  display: block;
}

.tab-description {
  max-height: 200px;
  overflow: hidden;
  ::v-deep {
    li span {
      font-size: 14px !important;
    }
    li {
      margin-bottom: 8px;
    }
  }
  &.full {
    max-height: fit-content;
  }
}
.tab-content2 {
  color: $myshop-gray;
  max-width: 555px;
  max-width: 800px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2a3d48;
  margin-bottom: 40px;
  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $myshop-black;
    margin: 16px 0 12px 0;
  }
}

.showall {
  color: $myshop-violet;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  cursor: pointer;
}

.block-brief {
  margin: 0.6em 16px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  .block-brief__pictures {
    display: inline-flex;
    flex-direction: column;
    min-width: 340px;
    max-width: 540px;
    .block-brief__cur-picture {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    .block-brief__gallery-wrapper {
      max-height: 131px;
      @media screen and (max-device-width: $desktop-width) {
        display: none;
      }
    }
  }
}

.title {
  margin: 0;
  width: 100%;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: $myshop-black;
  word-break: break-word;
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  @media (max-width: 767px) {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}

.contents-pane {
  line-height: 24px;
  h2 {
    margin-right: 20px;
  }
  ::v-deep table tbody tr {
    display: flex;
    & > * {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    justify-content: space-between;
    flex-shrink: 0;
    align-items: baseline;
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

.blue-badge {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 3px;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='25' viewBox='0 0 60 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='59' height='25'%3E%3Cpath d='M0 2.5C0 1.11929 1.11929 0 2.5 0H56.8791C58.1368 0 58.8361 1.4549 58.0504 2.43704L50 12.5L58.7002 23.3753C59.2241 24.0301 58.7579 25 57.9194 25H2.5C1.11929 25 0 23.8807 0 22.5V2.5Z' fill='%23783CBD'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Cpath d='M0 2.5C0 1.11929 1.11929 0 2.5 0H57.9194C58.7579 0 59.2241 0.969932 58.7002 1.6247L50 12.5L58.7002 23.3753C59.2241 24.0301 58.7579 25 57.9194 25H2.5C1.11929 25 0 23.8807 0 22.5V2.5Z' fill='%23783CBD'/%3E%3Cpath opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M26.5696 19.1574C26.5696 20.0678 26.3948 20.9256 26.0452 21.731C25.6955 22.5364 25.2235 23.2367 24.6291 23.8319C24.0347 24.4272 23.3296 24.8999 22.5137 25.25C21.6979 25.6002 20.8354 25.7753 19.9263 25.7753C19.0172 25.7753 18.1548 25.6002 17.3389 25.25C16.5231 24.8999 15.818 24.4272 15.2236 23.8319C14.6292 23.2367 14.1571 22.5364 13.8075 21.731C13.4578 20.9256 13.283 20.0678 13.283 19.1574C13.283 18.247 13.4578 17.3891 13.8075 16.5837C14.1571 15.7784 14.6292 15.0781 15.2236 14.4828C15.818 13.8875 16.5231 13.4148 17.3389 13.0647C18.1548 12.7145 19.0172 12.5394 19.9263 12.5394C20.8354 12.5394 21.6979 12.7145 22.5137 13.0647C23.3296 13.4148 24.0347 13.8875 24.6291 14.4828C25.2235 15.0781 25.6955 15.7784 26.0452 16.5837C26.3948 17.3891 26.5696 18.247 26.5696 19.1574ZM22.6536 19.1572C22.6536 18.7837 22.5779 18.4277 22.4264 18.0892C22.2748 17.7507 22.0767 17.4589 21.832 17.2138C21.5872 16.9687 21.3017 16.7761 20.9753 16.6361C20.649 16.496 20.2993 16.426 19.9264 16.426C19.1805 16.426 18.5394 16.6944 18.0033 17.2313C17.4672 17.7682 17.1991 18.4102 17.1991 19.1572C17.1991 19.9042 17.4672 20.5403 18.0033 21.0655C18.5394 21.5908 19.1805 21.8534 19.9264 21.8534C20.2993 21.8534 20.649 21.7833 20.9753 21.6433C21.3017 21.5032 21.5872 21.3106 21.832 21.0655C22.0767 20.8204 22.2748 20.5345 22.4264 20.2076C22.5779 19.8808 22.6536 19.5307 22.6536 19.1572ZM9.7866 6.76206C9.7866 7.67246 9.61178 8.53033 9.26213 9.33569C8.91248 10.1411 8.44046 10.8414 7.84606 11.4366C7.25165 12.0319 6.54653 12.5046 5.73069 12.8547C4.91484 13.2049 4.05238 13.38 3.14329 13.38C2.2342 13.38 1.37175 13.2049 0.555899 12.8547C-0.25995 12.5046 -0.965066 12.0319 -1.55947 11.4366C-2.15387 10.8414 -2.62589 10.1411 -2.97554 9.33569C-3.32519 8.53033 -3.50002 7.67246 -3.50002 6.76206C-3.50002 5.82831 -3.32519 4.95877 -2.97554 4.15341C-2.62589 3.34805 -2.15387 2.64775 -1.55947 2.05249C-0.965066 1.45722 -0.25995 0.990353 0.555899 0.651869C1.37175 0.313385 2.2342 0.144145 3.14329 0.144145C4.05238 0.144145 4.91484 0.313385 5.73069 0.651869C6.54653 0.990353 7.25165 1.45722 7.84606 2.05249C8.44046 2.64775 8.91248 3.34805 9.26213 4.15341C9.61178 4.95877 9.7866 5.82831 9.7866 6.76206ZM5.87037 6.76235C5.87037 6.01535 5.6023 5.37341 5.06618 4.8365C4.53005 4.29959 3.88903 4.03115 3.14311 4.03115C2.39719 4.03115 1.75618 4.29959 1.22005 4.8365C0.68392 5.37341 0.415859 6.01535 0.415859 6.76235C0.415859 7.50935 0.68392 8.14545 1.22005 8.67069C1.75618 9.19592 2.39719 9.45854 3.14311 9.45854C3.88903 9.45854 4.53005 9.19592 5.06618 8.67069C5.6023 8.14545 5.87037 7.50935 5.87037 6.76235ZM6.64748 25.1242C6.19136 25.9227 5.192 26.2275 4.36785 25.8195C3.47455 25.3772 3.1357 24.2757 3.62599 23.4078L16.3333 0.914386C16.8003 0.0878198 17.8292 -0.233485 18.6836 0.180499C19.6206 0.634553 19.9774 1.78696 19.461 2.69111L6.64748 25.1242Z' fill='%23582B8B'/%3E%3C/g%3E%3C/svg%3E");
  padding: 2px 6px;
}
.wrap {
  width: 100%;
  margin: 0;
  position: relative;
  padding: 0;
}
.product-code {
  margin-bottom: 24px;
  font-size: 14px;
  @media (max-width: $desktop-width - 1px) and (min-width: $mobile-width) {
    margin-bottom: 24px;
  }
  @media (max-width: 767px) {
    margin-bottom: 8px;
  }
  span {
    margin-right: 16px;
    color: #55646d;
    &:last-child {
      margin-right: 0;
    }
  }
  &__sale {
    .value {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      padding: 2px 8px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#3ca6bd),
        color-stop(74.11%, #9651e6)
      );
      background: linear-gradient(90deg, #3ca6bd, #9651e6 74.11%);
      border-radius: 8px;
    }
  }
  &__code {
    .value {
      color: $myshop-black;
      font-weight: 500;
    }
  }
}

.buttons {
  display: flex;
  position: fixed;
  bottom: 0;

  // тут именно минус  пиксель от "точки адаптивности" чтобы кнопка не залезала на цену
  @media screen and (max-width: 767px) {
    bottom: $mobile-tabs-height;
  }
  right: 0;
  left: 0;
  z-index: 15;
  flex-wrap: wrap;
  @media screen and (min-device-width: 1024px) {
    flex-wrap: nowrap;
  }
  @media screen and (min-device-width: $tablet-width) {
    margin-bottom: 16px;
    position: relative;
  }
}

.product-grid-list {
  background: #fff;
  padding: 32px 0 40px;
  &:first-child {
    padding-top: 0;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #2a3d48;
    margin: 0 0 16px 0;
  }
}
</style>
