<template>
  <div class="section__mobile">
    <div v-for="(section, index) in sections" :key="index" class="section" :class="{ open: section.open && section.children }">
      <div class="section__title" :class="{ group: section.children }" @click="handleCategoryClicked($event.target, section.href)">
        <nuxt-link :to="section.href" :class="{ active: active(section.href) }">{{ section.title }}</nuxt-link>
      </div>
      <div v-if="section.children" class="show" style="padding-bottom: 10px;">
        <div v-for="(items, idx) in sortSections(section.children)" :key="idx" class="section__list" :class="{ open: items.open && items.children }">
          <div class="section__title" :class="{ group: items.children }" @click="handleCategoryClicked($event.target, items.href)">
            <nuxt-link :to="items.href" :class="{ active: active(items.href) }">{{ items.title }}</nuxt-link>
          </div>
          <div v-if="items.children" class="section__children show">
            <nuxt-link v-for="(item, i) in items.children" :key="i" :to="item.href" :class="{ active: active(item.href) }">{{ item.title }}</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    sections () {
      return this.categories.map(section => {
        return {
          title: section.title,
          href: section.href,
          children: section.children || null,
          open: this.value.includes(section.href)
        }
      })
    }
  },
  methods: {
    handleCategoryClicked (e, item) {
      const arr = this.value
      const index = arr.indexOf(item)
      if (index > -1) {
        arr.splice(index, 1)
      } else {
        arr.push(item)
        // e.scrollIntoView({ behavior: 'smooth' })
      }
      this.$emit('input', arr)
    },
    sortSections (item) {
      return item.map(section => {
        return {
          title: section.title,
          href: section.href,
          children: section.children || null,
          open: this.value.includes(section.href)
        }
      })
    },
    active (href) {
      return this.$route.path === href
    }
  }
}
</script>

<style scoped lang="scss">
.section {
  margin: 0;
  background: #ffffff;
  border-top: 1px solid #DFE2E4;

  &:first-child {
    border: none;
  }

  &.open {
    background: #F8F9FF;
  }

  & .section__title {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &.group {
      padding: 20px 40px 20px 20px;
    }

    & > a {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: $myshop-black;

      &:hover,
      &:active {
        color: $myshop-violet;
      }
    }

    &:hover {
      background: #F8F9FF;
    }
  }

  &__list {
    margin: 0 10px 0 20px;
    padding: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    & .section__title {
      padding: 7px 10px;

      &.group {
        padding: 7px 40px 7px 10px;
      }

      & > a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $myshop-gray;

        &:hover,
        &:active {
          color: $myshop-violet;
        }
      }

      &:hover {
        background: #EDF0FF;
      }
    }

    &.open {
      background: #EDF0FF;
    }

    & .group {
      padding: 7px 40px 7px 10px;

      &:after {
        top: 10px;
      }
    }
  }

  &__children {
    padding: 0 10px 1px 15px;

    & a {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: $myshop-gray;
      margin-bottom: 5px;
      padding: 5px;

      &:hover,
      &:active {
        color: $myshop-violet;
        background: #DFE2F0;
      }
    }
  }

  @media (max-width: $tablet-width) {
    &__mobile {
      border-bottom: 1px solid #DFE2E4;
      margin-bottom: 120px;
    }
  }
}

.group {
  position: relative;

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 20px;
    background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M4.41058 6.91058C4.08514 7.23602 4.08514 7.76366 4.41058 8.08909L9.41058 13.0891C9.73602 13.4145 10.2637 13.4145 10.5891 13.0891L15.5891 8.08909C15.9145 7.76366 15.9145 7.23602 15.5891 6.91058C15.2637 6.58515 14.736 6.58515 14.4106 6.91058L9.99984 11.3213L5.58909 6.91058C5.26366 6.58514 4.73602 6.58514 4.41058 6.91058Z\' fill=\'%23959EA4\'/%3E%3C/svg%3E%0A') no-repeat center;
    cursor: pointer;
    transform: rotate(0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .open > &:after {
    transform: rotate(-180deg);
  }
}

.show {
  display: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  .open > & {
    display: block;
    max-height: 430px;
    overflow-y: auto;
  }
}

.active {
  font-weight: 500 !important;
}
</style>
