<template>
  <div ref="form" class="helper__form">
    <div v-if="!success_message && value.error" class="helper__form__error" v-html="value.error" />
    <div v-if="success_message" class="helper__form__success">Ваше сообщение отправлено. Спасибо!</div>
    <template v-else>
      <form ref="helperform" name="sendmail" method="post" enctype="multipart/form-data" @submit.prevent="formSumbit">
        <input-text v-model="value.from_name" label="Ваше имя" name="from_name" :readonly="sendMode" :validations="validations.from_name" message="Пожалуйста, заполните это поле" required />
        <input-text v-model="value.from_email" :rules="[ rules.email ]" label="Ваш e-mail" name="from_email" :readonly="sendMode" :validations="validations.from_email" message="Пожалуйста, заполните это поле" required />
        <input-text v-model="value.subject" label="Тема письма" name="subject" :readonly="sendMode || value.subject" :validations="validations.subject" message="Пожалуйста, заполните это поле" required />
        <input-textarea v-if="messageMode" v-model="value.text" label="Ваше сообщение" name="text" :validations="validations.text" message="Пожалуйста, заполните это поле" required />
        <input-file v-if="value.ext" v-model="value.file" :ext="value.ext" :required="fileMode" :validations="validations.file" />
        <input-captcha v-model="value.key" :image="value.fp_image" :hash="value.hash" :validations="validations.key" />
        <input type="hidden" name="helper_id" :value="helperID">
        <div class="helper__confirm">Нажимая кнопку «Отправить», Вы подтверждаете, что ознакомлены с <a href="/help/privacy.doc">Политикой конфиденциальности</a> и выражаете согласие с её условиями.</div>
        <button class="helper__button" type="submit">Отправить</button>
      </form>
    </template>
  </div>
</template>

<script>
import InputText from '@/components/ui/InputText'
import InputTextarea from '@/components/ui/InputTextarea'
import InputFile from '@/components/ui/InputFile'
import InputCaptcha from '@/components/ui/InputCaptcha'
import { validEmail, validForm } from '@/helpers/util'

export default {
  components: {
    InputText,
    InputTextarea,
    InputFile,
    InputCaptcha
  },
  props: {
    value: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      validations: {
        from_name: null,
        from_email: null,
        subject: null,
        text: null,
        key: null,
        file: null
      },
      success_message: false,
      rules: {
        email: validEmail
      }
    }
  },
  computed: {
    helperID () {
      return this.$route.params.id || 1
    },
    sendMode () {
      return this.value.sendmail_mode !== 0
    },
    fileMode () {
      return this.value.fields_settings !== 0
    },
    messageMode () {
      return this.value.fields_settings !== 1
    },
    sortValidations () {
      return Object.keys(this.validations).filter(item => {
        return (item !== 'file' && item !== 'text') || (item === 'file' && this.fileMode) || (item === 'text' && this.messageMode)
      })
    }
  },
  methods: {
    formSumbit () {
      if (validForm(this.value, this.validations, this.sortValidations)) {
        const formData = new FormData(this.$refs.helperform)
        this.$api.myHelperPost('add_message', formData)
          .then(({ data }) => {
            if (data.redirect_url) {
              this.$emit('form-sumbit')
              this.success_message = true
              this.$pageScrollUp(300)
            } else {
              this.$emit('input', { ...this.value, ...data })
              this.$pageScrollUp(300)
            }
          })
      } else {
        this.$emit('input', { ...this.value, error: 'Заполнены не все обязательные поля. Пожалуйста, заполните все поля, отмеченные звездочкой.' })
        this.scrollTop()
      }
    }
  }
}
</script>

<style scoped lang="scss">
.helper__form {
  max-width: 420px;
  margin-top: 30px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }

  &__error {
    color: #FF0000;
    margin: 25px 0;
  }

  &__success {
    color: #0000FF;
  }
}

.helper__button {
  background: $myshop-violet;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.helper__confirm {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #55646D;
  margin: 25px 0;
}
</style>
