<template>
  <div class="main-helper">
    <template v-for="item in sectionBlock">
      <div v-if="item.href !== '/help/8.html'" :key="item.href" class="main-helper__block">
        <div class="main-helper__item">
          <div v-if="item.href === '/help/1.html'" class="main-helper__header">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5647 6.18057L31.646 16.4181C31.898 16.9347 32.3876 17.2931 32.9564 17.3785L44.3272 19.0264C44.7876 19.0868 45.2043 19.3306 45.4855 19.7014C46.0147 20.391 45.9355 21.3743 45.3001 21.9702L37.0626 29.9702C36.646 30.3597 36.4585 30.9389 36.5668 31.4972L38.5522 42.7743C38.6897 43.7118 38.0543 44.5827 37.123 44.7368C36.7355 44.7972 36.3397 44.7347 35.9918 44.5597L25.8501 39.2452C25.3418 38.9681 24.7293 38.9681 24.223 39.2452L14.0147 44.5972C13.1626 45.0264 12.1293 44.7035 11.6668 43.8743C11.4897 43.5389 11.4251 43.1514 11.4876 42.7743L13.473 31.4972C13.5689 30.9389 13.3835 30.366 12.9772 29.9702L4.67513 21.9681C3.99805 21.2931 3.99597 20.1972 4.67097 19.5181C4.67305 19.5181 4.67305 19.516 4.67513 19.5139C4.95222 19.2618 5.29597 19.091 5.6668 19.0264L17.0376 17.3785C17.6022 17.2868 18.0918 16.9285 18.348 16.4181L23.4293 6.18057C23.6314 5.7639 23.9939 5.44515 24.4335 5.29932C24.873 5.1514 25.3543 5.18473 25.771 5.39515C26.1126 5.56598 26.3897 5.84098 26.5647 6.18057Z" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div>
              <div class="main-helper__title">{{ item.title }}</div>
              <span v-if="isTitle(item.href)" class="main-helper__info">{{ headerInfo[item.href] }}</span>
            </div>
          </div>
          <nuxt-link v-else :to="item.href" class="main-helper__header">
            <svg v-if="item.href === '/help/37.html'" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 15V37.5" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M21 15H28C29.8333 15 33.5 16 33.5 20C33.5 24 29.8333 25 28 25H17" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M17 32H28" stroke-width="5" stroke-linecap="round" />
              <circle cx="25" cy="25" r="22.5" stroke-width="5" />
            </svg>
            <svg v-else-if="item.href === '/help/2.html'" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1177 4.16716C17.8053 4.13761 11.0109 7.93166 7.20872 14.1677C3.4065 20.4038 3.15126 28.1719 6.53595 34.6433L6.95329 35.4568C7.29537 36.0969 7.36693 36.847 7.15203 37.5401C6.55647 39.1219 6.0587 40.7387 5.66151 42.3814C5.66151 43.2147 5.89999 43.6909 6.7943 43.6711C8.37831 43.3213 9.93826 42.8706 11.4646 42.3219C12.122 42.1408 12.821 42.1827 13.4519 42.4409C14.0283 42.7187 15.2008 43.433 15.2406 43.433C22.8984 47.4596 32.251 46.3487 38.7488 40.6408C45.2467 34.9328 47.5408 25.8128 44.5152 17.7171C41.4896 9.62135 33.7725 4.2306 25.1177 4.16716V4.16716Z" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <ellipse opacity="0.4" cx="15.1812" cy="25.0004" rx="0.993679" ry="0.992063" fill="#009ADE" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <ellipse opacity="0.4" cx="25.1187" cy="25.0004" rx="0.993677" ry="0.992063" fill="#009ADE" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <ellipse opacity="0.4" cx="35.0542" cy="25.0004" rx="0.993679" ry="0.992063" fill="#009ADE" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg v-else-if="item.href === '/help/3.html'" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M34.4032 44.7914H17.0119C10.6236 44.7914 5.7228 42.484 7.11486 33.1972L8.73576 20.6114C9.59389 15.9776 12.5496 14.2041 15.1431 14.2041H36.3483C38.9799 14.2041 41.764 16.111 42.7556 20.6114L44.3765 33.1972C45.5588 41.4352 40.7914 44.7914 34.4032 44.7914Z" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path opacity="0.4" d="M34.6901 13.7464C34.6901 8.77546 30.6603 4.74569 25.6893 4.74569V4.74569C23.2955 4.73554 20.9964 5.67936 19.3001 7.36843C17.6039 9.0575 16.6504 11.3527 16.6504 13.7464V13.7464" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M31.8664 23.1288H31.771" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M19.7199 23.1288H19.6245" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg v-else-if="item.href === '/help/10.html'" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.4" d="M32.7428 33.7985H17.7012" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path opacity="0.4" d="M32.7428 25.0768H17.7012" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path opacity="0.4" d="M23.4408 16.3752H17.7012" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M33.1436 5.72852C33.1436 5.72852 17.1499 5.73685 17.1249 5.73685C11.3749 5.77227 7.81445 9.5556 7.81445 15.3264V34.4848C7.81445 40.2848 11.402 44.0827 17.202 44.0827C17.202 44.0827 33.1936 44.0764 33.2207 44.0764C38.9707 44.041 42.5332 40.2556 42.5332 34.4848V15.3264C42.5332 9.52643 38.9436 5.72852 33.1436 5.72852Z" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg v-else-if="item.href === '/help/15.html'" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.4752 43.4453C19.7151 40.6623 15.2869 37.3868 11.2697 33.6774C8.44548 31.0061 6.29541 27.7495 4.98421 24.1571C2.62466 17.1881 5.38077 9.21006 13.0939 6.849C17.1476 5.60924 21.5749 6.31782 24.9908 8.75308C28.408 6.32078 32.8337 5.61245 36.8877 6.849C44.6008 9.21006 47.3767 17.1881 45.0172 24.1571C43.706 27.7495 41.5559 31.0061 38.7317 33.6774C34.7145 37.3868 30.2863 40.6623 25.5261 43.4453L25.0106 43.75L24.4752 43.4453Z" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path opacity="0.4" d="M33.1992 14.6938C35.5354 15.4028 37.1953 17.3953 37.4028 19.7396" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg v-else-if="item.href === '/help/74.html'" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5784 31.6797C12.5701 31.6797 5.73047 32.8901 5.73047 37.7401C5.73047 42.588 12.5263 43.8443 20.5784 43.8443C28.5867 43.8443 35.4263 42.6318 35.4263 37.7839C35.4263 32.9359 28.6305 31.6797 20.5784 31.6797Z" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M20.5792 24.7618C25.8625 24.7618 30.0958 20.5264 30.0958 15.2452C30.0958 9.96185 25.8625 5.72852 20.5792 5.72852C15.2979 5.72852 11.0625 9.96185 11.0625 15.2452C11.0625 20.5264 15.2979 24.7618 20.5792 24.7618Z" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M40.0085 18.0605V26.4147" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M44.2708 22.237H35.75" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <div>
              <div class="main-helper__title">{{ item.title }}</div>
              <span v-if="isTitle(item.href)" class="main-helper__info">{{ headerInfo[item.href] }}</span>
            </div>
          </nuxt-link>
          <div v-if="item.children" class="main-helper__list">
            <template v-for="link in item.children" class="main-helper__list">
              <nuxt-link :key="link.href" :to="link.href" class="main-helper__link">{{ link.title }}</nuxt-link>
            </template>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
const mainSection = {
  href: '/help/1.html',
  title: 'Популярные вопросы',
  children: [
    { href: '/help/9.html', title: 'Как купить' },
    { href: '/help/10.html', title: 'Как изменить заказ' },
    { href: '/my/helper_25', title: 'Доставка' },
    { href: '/help/26.html', title: 'Оплата' },
    { href: '/help/24.html', title: 'Скидки' },
    { href: '/help/20.html', title: 'Как с нами связаться' },
    { href: '/help/21.html', title: 'Адрес, схема проезда' },
    { href: '/help/22.html', title: 'График работы' },
    { href: '/help/27.html', title: 'Заказы юр. лиц и ИП' }
  ]
}

export default {
  props: {
    sections: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      headerInfo: {
        '/help/1.html': 'Оплата, доставка, скидки и прочие вопросы.',
        '/help/2.html': 'Адрес, график, связь и другие вопросы.',
        '/help/3.html': 'Вопросы, связанные с оформлением заказа.',
        '/help/15.html': 'Надеемся, что вам есть за что!',
        '/help/37.html': 'Партнёрская программа, закупки оптом и т. д.'
      }
    }
  },
  computed: {
    sectionBlock () {
      return [mainSection, ...this.sections]
    }
  },
  methods: {
    isTitle (item) {
      return this.headerInfo[item] || false
    }
  }
}
</script>

<style scoped lang="scss">
.main-helper {
  column-width: auto;
  -moz-column-width: auto;
  -webkit-column-width: auto;
  column-gap: 15px;
  -moz-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  box-sizing:  border-box;

  @media (max-width: 748px) {
    column-gap: 0;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }

  &__block {
    display: inline-block;
    width:  100%;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;

    &:hover {
      box-shadow: 0px 2px 4px rgba(42, 61, 72, 0.04), 0px 4px 12px rgba(42, 61, 72, 0.08);
    }
  }

  &__item {
    position:relative;
    display: block;
    align-items: center;
    box-sizing:  border-box;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    color: $myshop-black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    svg {
      margin-right: 15px;
      stroke: #C2A6E1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $myshop-gray;
  }

  &__link {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $myshop-black;
    margin: 10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:hover,
    &:active {
      color: $myshop-violet;
    }
  }

  &__list {
    margin-top: 20px;
  }
}

a.main-helper__header:hover,
a.main-helper__header:active {
  color: $myshop-violet;

  & svg {
    stroke: #783CBD;
  }

  .main-helper__info {
    color: $myshop-violet;
  }
}
</style>
