<template>
  <li>
    <nuxt-link v-if="item.href" :to="item.href">{{ item.title }}</nuxt-link>
    <b v-else>{{ item.title }}</b>

    <ul v-if="item.children">
      <tree-item
        v-for="child in item.children"
        :key="child.id"
        class="item"
        :item="child"
        child-tag="li"
      />
    </ul>
  </li>
</template>

<script>
// TODO: Переписать компонент в рендер-функцию
export default {
  name: 'TreeItem',
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    childTag: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">

.title {
  margin: 0;
  text-align: center;
  padding: 12px 4px;
}

.helper {
  margin: 0 0.8em 1em 0.8em;
}

ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}

</style>
